/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-icon-core-fa-check: fa-chevron-down;
  --sl-icon-core-fa-chevron-down: fa-chevron-down;
  --sl-icon-core-fa-fav: fa-star;
  --sl-icon-core-fa-menu: fa-bars;
  --sl-icon-core-fa-face-smile: fa-face-smile;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 0 0 0;
  --sl-color-palette-danger-base: 220 53 69;
  --sl-color-palette-danger-900: 79 36 36;
  --sl-color-palette-danger-800: 122 47 49;
  --sl-color-palette-danger-700: 153 52 57;
  --sl-color-palette-danger-600: 190 55 64;
  --sl-color-palette-danger-500: 222 67 78;
  --sl-color-palette-danger-400: 229 108 110;
  --sl-color-palette-danger-300: 234 145 144;
  --sl-color-palette-danger-200: 238 180 179;
  --sl-color-palette-danger-150: 242 210 210;
  --sl-color-palette-danger-100: 246 234 233;
  --sl-color-palette-danger-50: 254 254 254;
  --sl-color-palette-warning-base: 255 193 7;
  --sl-color-palette-warning-900: 70 59 32;
  --sl-color-palette-warning-800: 96 79 39;
  --sl-color-palette-warning-700: 116 94 42;
  --sl-color-palette-warning-600: 138 111 44;
  --sl-color-palette-warning-500: 163 129 44;
  --sl-color-palette-warning-400: 190 149 41;
  --sl-color-palette-warning-300: 221 169 32;
  --sl-color-palette-warning-200: 252 191 11;
  --sl-color-palette-warning-150: 250 220 144;
  --sl-color-palette-warning-100: 249 238 206;
  --sl-color-palette-warning-50: 254 254 253;
  --sl-color-palette-success-base: 32 201 151;
  --sl-color-palette-success-900: 41 66 55;
  --sl-color-palette-success-800: 50 90 74;
  --sl-color-palette-success-700: 55 107 86;
  --sl-color-palette-success-600: 58 128 101;
  --sl-color-palette-success-500: 57 150 116;
  --sl-color-palette-success-400: 51 174 133;
  --sl-color-palette-success-300: 38 201 151;
  --sl-color-palette-success-200: 145 215 186;
  --sl-color-palette-success-150: 196 230 215;
  --sl-color-palette-success-100: 228 242 235;
  --sl-color-palette-success-50: 254 254 254;
  --sl-color-palette-info-base: 13 202 240;
  --sl-color-palette-info-900: 36 51 57;
  --sl-color-palette-info-800: 47 75 84;
  --sl-color-palette-info-700: 54 92 104;
  --sl-color-palette-info-600: 58 112 127;
  --sl-color-palette-info-500: 60 133 153;
  --sl-color-palette-info-400: 57 157 183;
  --sl-color-palette-info-300: 43 184 217;
  --sl-color-palette-info-200: 102 207 237;
  --sl-color-palette-info-150: 182 225 238;
  --sl-color-palette-info-100: 224 240 245;
  --sl-color-palette-info-50: 253 254 254;
  --sl-color-palette-neutral-base: 0 0 0;
  --sl-color-palette-neutral-900: 38 38 40;
  --sl-color-palette-neutral-800: 60 62 64;
  --sl-color-palette-neutral-700: 76 78 81;
  --sl-color-palette-neutral-600: 93 96 100;
  --sl-color-palette-neutral-500: 111 116 120;
  --sl-color-palette-neutral-400: 132 138 143;
  --sl-color-palette-neutral-300: 156 162 169;
  --sl-color-palette-neutral-200: 182 189 196;
  --sl-color-palette-neutral-150: 209 213 218;
  --sl-color-palette-neutral-100: 234 236 237;
  --sl-color-palette-neutral-50: 254 254 254;
  --sl-color-palette-accent-base: 0 0 0;
  --sl-color-palette-accent-900: 38 38 40;
  --sl-color-palette-accent-800: 60 62 64;
  --sl-color-palette-accent-700: 76 78 81;
  --sl-color-palette-accent-600: 93 96 100;
  --sl-color-palette-accent-500: 111 116 120;
  --sl-color-palette-accent-400: 132 138 143;
  --sl-color-palette-accent-300: 156 162 169;
  --sl-color-palette-accent-200: 182 189 196;
  --sl-color-palette-accent-150: 209 213 218;
  --sl-color-palette-accent-100: 234 236 237;
  --sl-color-palette-accent-50: 254 254 254;
  --sl-color-palette-primary-base: 173 24 62;
  --sl-color-palette-primary-900: 57 23 27;
  --sl-color-palette-primary-800: 104 32 44;
  --sl-color-palette-primary-700: 140 32 54;
  --sl-color-palette-primary-600: 175 34 66;
  --sl-color-palette-primary-500: 188 71 90;
  --sl-color-palette-primary-400: 199 105 117;
  --sl-color-palette-primary-300: 210 139 146;
  --sl-color-palette-primary-200: 220 173 177;
  --sl-color-palette-primary-150: 231 206 208;
  --sl-color-palette-primary-100: 242 232 233;
  --sl-color-palette-primary-50: 254 254 254;
  --sl-size-input-md: var(--sl-size-sm);
}
