:host {
  --_direction: column;
  --_gap: var(--sl-space-group-md);
}

:host {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  vertical-align: top;
}

:host([horizontal]) {
  --_gap: var(--sl-space-group-lg);
  flex-direction: row;
}
