:host {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-idle);
  --_br-color: var(--sl-color-border-input);

  align-items: start;
  color: var(--sl-color-text-plain);
  cursor: pointer;
  display: inline-flex;
  gap: var(--sl-space-100);
  outline: none;
  padding-block: var(--sl-size-050);
}

:host(:hover) {
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-hover);
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-active);
}

:host([checked]) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-idle);
  --_br-color: var(--sl-color-border-selected);
}

:host([checked]:hover) {
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-hover);
}

:host([checked]:active) {
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-active);
}

:host([show-validity='invalid']) {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);
  --_br-color: var(--sl-color-border-negative-plain);
}

:host([checked][show-validity='invalid']) {
  --_bg-color: var(--sl-color-background-negative-bold);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-bold);
}

:host([show-validity='valid']) {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-positive-interactive-plain);
  --_br-color: var(--sl-color-border-positive-plain);
}

:host([checked][show-validity='valid']) {
  --_bg-color: var(--sl-color-background-positive-bold);
  --_bg-mix-color: var(--sl-color-background-positive-interactive-bold);
}

:host(:focus-visible) [part='box'] {
  outline-color: var(--sl-color-border-focused);
}

:host([disabled]) {
  --_br-color: var(--sl-color-border-input);

  color: var(--sl-color-text-disabled);
  cursor: default;
  pointer-events: none;

  [part='box'] {
    background: var(--sl-color-background-disabled);
  }

  svg circle {
    fill: var(--sl-color-icon-disabled);
  }
}

:host([size='lg']) {
  [part='box'] {
    block-size: var(--sl-size-400);
  }

  svg {
    block-size: calc(var(--sl-size-400) - var(--sl-size-050));
  }

  [part='label'] {
    margin-block-start: calc((var(--sl-size-400) - 1lh) / 2);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:active, :focus-visible, :hover)) [part='box'] {
    transition: 200ms ease-in-out;
    transition-property: background, border-color, color, outline-color;
  }
}

[part='box'] {
  align-items: center;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  block-size: var(--sl-size-300);
  border: var(--sl-size-borderWidth-subtle) solid var(--_br-color);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
}

[part='label'] {
  margin-block-start: calc((var(--sl-size-300) - 1lh) / 2);
}

svg {
  aspect-ratio: 1;
  block-size: var(--sl-size-250);
  fill: none;
}

circle {
  fill: var(--sl-color-icon-onBold);
}
