:host {
  --_direction: column;
  --_gap: var(--sl-space-group-md);
}

:host {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  vertical-align: top;
}

:host([horizontal]) {
  --_direction: row;
  --_gap: 1rem;
}

.wrapper {
  align-items: start;
  display: flex;
  flex-direction: var(--_direction);
  gap: var(--_gap);
}

:host(:where([invalid])) {
  slot[name='hint']::slotted(*) {
    display: none;
  }
}
