/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-justify-content-end: end;
  --sl-justify-content-space-between: space-between;
  --sl-justify-content-start: start;
  --sl-flex-direction-row: row;
  --sl-flex-direction-row-reverse: row-reverse;
  --sl-flex-direction-column-reverse: column-reverse;
  --sl-flex-direction-column: column;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-150: 0.06;
  --sl-opacity-100: 0.04;
  --sl-opacity-50: 0.02;
  --sl-size-avatar-3xl: 80px;
  --sl-size-avatar-xl: 52px;
  --sl-size-avatar-lg: 40px;
  --sl-size-badge-2xl: 18px;
  --sl-size-dialog-full: 100%;
  --sl-size-dialog-max: 960px;
  --sl-size-dialog-min: 400px;
  --sl-size-icon-2xs: 10px;
  --sl-size-4xl: 64px;
  --sl-size-3xl: 48px;
  --sl-size-2xl: 32px;
  --sl-size-xl: 24px;
  --sl-size-lg: 20px;
  --sl-size-md: 16px;
  --sl-size-sm: 14px;
  --sl-size-xs: 12px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-space-badge-label-inline-3xl: 3px;
  --sl-space-badge-label-inline-2xl: 3px;
  --sl-space-badge-label-inline-xl: 3px;
  --sl-space-badge-icon-block-2xl: 1px;
  --sl-space-badge-icon-inline-2xl: 1px;
  --sl-space-badge-gap-md: 3px;
  --sl-space-badge-inline-3xl: 3px;
  --sl-space-badge-inline-md: 1px;
  --sl-space-3xl: 40px;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-icon-typeset-font-size-2xs: 10px;
  --sl-icon-core-angle-down: angle-down;
  --sl-icon-core-house: house;
  --sl-icon-core-ellipsis: ellipsis;
  --sl-icon-core-circle-check-solid: circle-check;
  --sl-icon-core-octagon-exclamation-solid: octagon-exclamation;
  --sl-icon-core-triangle-exclamation-solid: triangle-exclamation;
  --sl-icon-core-xmark: xmark;
  --sl-icon-core-check: check;
  --sl-icon-core-chevron-right: chevron-right;
  --sl-icon-core-chevron-down: chevron-down;
  --sl-icon-core-pinata-solid: pinata;
  --sl-icon-core-pinata: pinata;
  --sl-icon-core-fav: star;
  --sl-icon-core-menu: bars;
  --sl-icon-core-face-smile: face-smile;
  --sl-icon-font-family-sharp: font-awesome-6-sharp;
  --sl-icon-font-family-classic: font-awesome-6-pro;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-border-radius-full: 50rem;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-text-text-field: [object Object];
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 20px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-body: open-sans;
  --sl-text-typeset-font-family-heading: open-sans;
  --sl-color-palette-transparent-base: 0 0 0 / 0;
  --sl-color-palette-white-base: 255 255 255;
  --sl-color-palette-black-base: 50 50 50;
  --sl-color-palette-danger-base: 237 17 17;
  --sl-color-palette-danger-900: 37 3 3;
  --sl-color-palette-danger-800: 77 6 6;
  --sl-color-palette-danger-700: 117 8 8;
  --sl-color-palette-danger-600: 157 11 11;
  --sl-color-palette-danger-500: 197 14 14;
  --sl-color-palette-danger-400: 237 17 17;
  --sl-color-palette-danger-300: 240 57 57;
  --sl-color-palette-danger-200: 243 97 97;
  --sl-color-palette-danger-150: 246 137 137;
  --sl-color-palette-danger-100: 249 178 178;
  --sl-color-palette-danger-50: 252 218 218;
  --sl-color-palette-warning-base: 251 140 0;
  --sl-color-palette-warning-900: 39 22 0;
  --sl-color-palette-warning-800: 82 46 0;
  --sl-color-palette-warning-700: 124 69 0;
  --sl-color-palette-warning-600: 166 93 0;
  --sl-color-palette-warning-500: 209 116 0;
  --sl-color-palette-warning-400: 251 140 0;
  --sl-color-palette-warning-300: 252 159 43;
  --sl-color-palette-warning-200: 252 179 86;
  --sl-color-palette-warning-150: 253 198 129;
  --sl-color-palette-warning-100: 254 218 172;
  --sl-color-palette-warning-50: 254 237 215;
  --sl-color-palette-success-base: 3 161 104;
  --sl-color-palette-success-900: 0 25 16;
  --sl-color-palette-success-800: 1 52 34;
  --sl-color-palette-success-700: 1 80 51;
  --sl-color-palette-success-600: 2 107 69;
  --sl-color-palette-success-500: 2 134 86;
  --sl-color-palette-success-400: 3 161 104;
  --sl-color-palette-success-300: 45 177 129;
  --sl-color-palette-success-200: 88 193 155;
  --sl-color-palette-success-150: 130 209 180;
  --sl-color-palette-success-100: 173 224 206;
  --sl-color-palette-success-50: 215 240 231;
  --sl-color-palette-info-base: 111 14 176;
  --sl-color-palette-info-900: 17 2 28;
  --sl-color-palette-info-800: 36 5 57;
  --sl-color-palette-info-700: 55 7 87;
  --sl-color-palette-info-600: 74 9 117;
  --sl-color-palette-info-500: 92 12 146;
  --sl-color-palette-info-400: 111 14 176;
  --sl-color-palette-info-300: 135 55 189;
  --sl-color-palette-info-200: 160 95 203;
  --sl-color-palette-info-150: 184 136 216;
  --sl-color-palette-info-100: 208 177 229;
  --sl-color-palette-info-50: 232 217 243;
  --sl-color-palette-neutral-base: 50 50 50;
  --sl-color-palette-neutral-900: 24 24 24;
  --sl-color-palette-neutral-800: 50 50 50;
  --sl-color-palette-neutral-700: 68 69 69;
  --sl-color-palette-neutral-600: 93 93 93;
  --sl-color-palette-neutral-500: 113 114 114;
  --sl-color-palette-neutral-400: 141 141 141;
  --sl-color-palette-neutral-300: 157 159 159;
  --sl-color-palette-neutral-200: 191 191 191;
  --sl-color-palette-neutral-150: 202 203 203;
  --sl-color-palette-neutral-100: 238 238 238;
  --sl-color-palette-neutral-50: 246 248 248;
  --sl-color-palette-accent-base: 242 169 0;
  --sl-color-palette-accent-900: 38 27 0;
  --sl-color-palette-accent-800: 79 55 0;
  --sl-color-palette-accent-700: 120 84 0;
  --sl-color-palette-accent-600: 160 112 0;
  --sl-color-palette-accent-500: 201 141 0;
  --sl-color-palette-accent-400: 242 169 0;
  --sl-color-palette-accent-300: 244 184 43;
  --sl-color-palette-accent-200: 246 198 86;
  --sl-color-palette-accent-150: 249 213 129;
  --sl-color-palette-accent-100: 251 227 172;
  --sl-color-palette-accent-50: 253 242 215;
  --sl-color-palette-primary-base: 175 22 133;
  --sl-color-palette-primary-900: 27 3 21;
  --sl-color-palette-primary-800: 57 7 43;
  --sl-color-palette-primary-700: 86 11 66;
  --sl-color-palette-primary-600: 116 15 88;
  --sl-color-palette-primary-500: 145 18 111;
  --sl-color-palette-primary-400: 175 22 133;
  --sl-color-palette-primary-300: 188 61 154;
  --sl-color-palette-primary-200: 202 101 174;
  --sl-color-palette-primary-150: 215 140 195;
  --sl-color-palette-primary-100: 229 179 215;
  --sl-color-palette-primary-50: 242 218 236;
  --sl-elevation-shadow-none: 0 0 0 0 rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-elevation-shadow-lg: 0 0 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-100)),
    0 8px 16px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-200));
  --sl-elevation-shadow-md: 0 0 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-50)),
    0 4px 8px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-150));
  --sl-elevation-shadow-sm: 0 0 6px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-50)),
    0 2px 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-200));
  --sl-button-label-lg: var(--sl-text-typeset-line-height-lg);
  --sl-button-label-md: var(--sl-text-typeset-line-height-sm);
  --sl-button-label-sm: var(--sl-text-typeset-line-height-sm);
  --sl-opacity-spinner-shadow: 0.32;
  --sl-size-spinner-4xl: var(--sl-size-4xl);
  --sl-size-spinner-3xl: var(--sl-size-3xl);
  --sl-size-spinner-2xl: var(--sl-size-2xl);
  --sl-size-spinner-xl: var(--sl-size-xl);
  --sl-size-spinner-lg: var(--sl-size-lg);
  --sl-size-spinner-md: var(--sl-size-md);
  --sl-size-spinner-sm: var(--sl-size-sm);
  --sl-size-spinner-xs: var(--sl-size-xs);
  --sl-size-skeleton-min-height: var(--sl-size-2xs);
  --sl-size-avatar-2xl: var(--sl-size-4xl);
  --sl-size-avatar-md: var(--sl-size-2xl);
  --sl-size-avatar-sm: var(--sl-size-xl);
  --sl-size-badge-3xl: var(--sl-size-lg);
  --sl-size-badge-xl: var(--sl-size-md);
  --sl-size-badge-lg: var(--sl-size-sm);
  --sl-size-badge-md: var(--sl-size-xs);
  --sl-size-badge-sm: var(--sl-size-2xs);
  --sl-size-button-icon-container-inline-lg: var(--sl-size-md);
  --sl-size-button-icon-container-inline-md: var(--sl-size-sm);
  --sl-size-button-icon-container-inline-sm: var(--sl-size-xs);
  --sl-size-button-icon-container-icon-only-lg: var(--sl-size-xl);
  --sl-size-button-icon-container-icon-only-md: var(--sl-size-md);
  --sl-size-button-icon-container-icon-only-sm: var(--sl-size-md);
  --sl-size-icon-4xl: var(--sl-size-4xl);
  --sl-size-icon-3xl: var(--sl-size-3xl);
  --sl-size-icon-2xl: var(--sl-size-2xl);
  --sl-size-icon-xl: var(--sl-size-xl);
  --sl-size-icon-lg: var(--sl-size-lg);
  --sl-size-icon-md: var(--sl-size-md);
  --sl-size-icon-sm: var(--sl-size-sm);
  --sl-size-icon-xs: var(--sl-size-xs);
  --sl-size-input-switch-controller-width-lg: var(--sl-size-4xl);
  --sl-size-input-switch-controller-width-md: var(--sl-size-3xl);
  --sl-size-input-switch-controller-width-sm: var(--sl-size-2xl);
  --sl-size-input-switch-controller-height-lg: var(--sl-size-2xl);
  --sl-size-input-switch-controller-height-md: var(--sl-size-xl);
  --sl-size-input-switch-controller-height-sm: var(--sl-size-md);
  --sl-size-input-switch-handle-lg: calc(var(--sl-size-2xl) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-switch-handle-md: calc(var(--sl-size-xl) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-switch-handle-sm: calc(var(--sl-size-md) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-option-lg: var(--sl-size-2xl);
  --sl-size-input-option-md: var(--sl-size-xl);
  --sl-size-input-option-sm: var(--sl-size-lg);
  --sl-size-select-indicator: var(--sl-size-3xs);
  --sl-space-tab-content-vertical-gap: var(--sl-space-xl);
  --sl-space-tab-content-vertical-block: var(--sl-space-sm);
  --sl-space-tab-content-vertical-inline: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-gap: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-block: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-inline: var(--sl-space-xl);
  --sl-space-tab-more-block: var(--sl-space-sm);
  --sl-space-tab-more-inline: var(--sl-space-md);
  --sl-space-tab-gap: var(--sl-space-sm);
  --sl-space-tab-block: var(--sl-space-sm) + var(--sl-space-2xs);
  --sl-space-tab-inline: var(--sl-space-xl);
  --sl-space-inline-message-content-gap: var(--sl-space-xs);
  --sl-space-inline-message-gap: var(--sl-space-lg);
  --sl-space-inline-message-inline-end: var(--sl-space-2xl);
  --sl-space-inline-message-inline-start: var(--sl-space-lg) + var(--sl-border-width-inline-message-start);
  --sl-space-inline-message-block: var(--sl-space-lg);
  --sl-space-avatar-block-3xl: var(--sl-space-sm);
  --sl-space-avatar-block-2xl: var(--sl-space-sm);
  --sl-space-avatar-block-xl: var(--sl-space-sm);
  --sl-space-avatar-block-lg: var(--sl-space-sm);
  --sl-space-avatar-block-md: var(--sl-space-sm);
  --sl-space-avatar-block-sm: var(--sl-space-sm);
  --sl-space-avatar-inline-3xl: var(--sl-space-lg);
  --sl-space-avatar-inline-2xl: var(--sl-space-lg);
  --sl-space-avatar-inline-xl: var(--sl-space-lg);
  --sl-space-avatar-inline-lg: var(--sl-space-lg);
  --sl-space-avatar-inline-md: var(--sl-space-sm);
  --sl-space-avatar-inline-sm: var(--sl-space-sm);
  --sl-space-badge-label-inline-lg: var(--sl-space-2xs);
  --sl-space-badge-label-inline-md: var(--sl-space-2xs);
  --sl-space-badge-label-inline-sm: var(--sl-space-2xs);
  --sl-space-badge-icon-block-3xl: var(--sl-space-2xs);
  --sl-space-badge-icon-block-xl: var(--sl-space-none);
  --sl-space-badge-icon-block-lg: var(--sl-space-none);
  --sl-space-badge-icon-block-md: var(--sl-space-none);
  --sl-space-badge-icon-block-sm: var(--sl-space-none);
  --sl-space-badge-icon-inline-3xl: var(--sl-space-2xs);
  --sl-space-badge-icon-inline-xl: var(--sl-space-none);
  --sl-space-badge-icon-inline-lg: var(--sl-space-none);
  --sl-space-badge-icon-inline-md: var(--sl-space-none);
  --sl-space-badge-icon-inline-sm: var(--sl-space-none);
  --sl-space-badge-gap-3xl: var(--sl-space-xs) + var(--sl-space-2xs);
  --sl-space-badge-gap-2xl: var(--sl-space-xs) + var(--sl-space-2xs);
  --sl-space-badge-gap-xl: var(--sl-space-xs);
  --sl-space-badge-gap-lg: var(--sl-space-xs);
  --sl-space-badge-gap-sm: var(--sl-space-2xs);
  --sl-space-badge-block-3xl: var(--sl-space-2xs);
  --sl-space-badge-block-2xl: var(--sl-space-2xs);
  --sl-space-badge-block-xl: var(--sl-space-2xs);
  --sl-space-badge-block-lg: var(--sl-space-2xs);
  --sl-space-badge-block-md: var(--sl-space-2xs);
  --sl-space-badge-block-sm: var(--sl-space-2xs);
  --sl-space-badge-inline-2xl: var(--sl-space-2xs);
  --sl-space-badge-inline-xl: var(--sl-space-2xs);
  --sl-space-badge-inline-lg: var(--sl-space-2xs);
  --sl-space-badge-inline-sm: var(--sl-space-2xs);
  --sl-space-select-divider-line-md: var(--sl-space-sm);
  --sl-space-select-divider-line-lg: var(--sl-space-sm);
  --sl-space-select-divider-gap-md: var(--sl-space-sm);
  --sl-space-select-divider-gap-lg: var(--sl-space-sm);
  --sl-space-select-divider-inline-md: var(--sl-space-md);
  --sl-space-select-divider-inline-lg: var(--sl-space-md);
  --sl-space-select-divider-block-md: var(--sl-space-sm);
  --sl-space-select-divider-block-lg: var(--sl-space-sm);
  --sl-space-select-listbox-gap-md: var(--sl-space-xs);
  --sl-space-select-listbox-gap-lg: var(--sl-space-xs);
  --sl-space-select-listbox-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-inline-lg: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-group-xl: var(--sl-space-sm);
  --sl-space-group-lg: var(--sl-space-sm);
  --sl-space-group-md: var(--sl-space-xs);
  --sl-space-group-sm: var(--sl-space-2xs);
  --sl-space-button-bar-gap-block: var(--sl-space-sm);
  --sl-space-dialog-gap-header: var(--sl-space-none);
  --sl-space-dialog-subtitle-padding-bottom: var(--sl-space-xs);
  --sl-space-dialog-mobile-body-gap: var(--sl-space-xl);
  --sl-space-dialog-mobile-body-inline: var(--sl-space-xl);
  --sl-space-dialog-mobile-body-block: var(--sl-space-xl);
  --sl-space-dialog-mobile-container-padding-bottom: var(--sl-space-none);
  --sl-space-dialog-mobile-container-inline: var(--sl-space-none);
  --sl-space-dialog-mobile-container-padding-top: var(--sl-space-xl) * 2;
  --sl-space-dialog-desktop-body-gap: var(--sl-space-2xl);
  --sl-space-dialog-desktop-body-inline: var(--sl-space-2xl);
  --sl-space-dialog-desktop-body-block: var(--sl-space-2xl);
  --sl-space-dialog-desktop-container-padding-bottom: var(--sl-space-xl);
  --sl-space-dialog-desktop-container-inline: var(--sl-space-xl);
  --sl-space-dialog-desktop-container-padding-top: var(--sl-space-xl);
  --sl-space-input-switch-margin-bottom-none: var(--sl-space-none);
  --sl-space-input-switch-margin-bottom-lg: var(--sl-space-none);
  --sl-space-input-switch-margin-bottom-md: var(--sl-space-xs);
  --sl-space-input-switch-margin-bottom-sm: var(--sl-space-none);
  --sl-space-input-switch-margin-left: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-none: var(--sl-space-none);
  --sl-space-input-switch-margin-top-lg: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-md: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-sm: var(--sl-space-sm);
  --sl-space-input-switch-gap: var(--sl-space-none);
  --sl-space-input-switch-padding-row-none: var(--sl-space-none);
  --sl-space-input-switch-padding-controller: var(--sl-space-2xs);
  --sl-space-input-switch-padding-container: var(--sl-space-xs);
  --sl-space-input-field-label-padding-bottom-none: var(--sl-space-none);
  --sl-space-input-field-label-padding-bottom-lg: var(--sl-space-md);
  --sl-space-input-field-label-padding-bottom-md: var(--sl-space-sm);
  --sl-space-input-field-label-padding-bottom-sm: var(--sl-space-sm);
  --sl-space-input-field-label-icon-lg: var(--sl-space-xs);
  --sl-space-input-field-label-icon-md: var(--sl-space-2xs);
  --sl-space-input-field-label-gap-lg: var(--sl-space-sm);
  --sl-space-input-field-label-gap-md: var(--sl-space-xs);
  --sl-space-input-field-label-gap-sm: var(--sl-space-xs);
  --sl-space-input-helper-padding-top-none: var(--sl-space-none);
  --sl-space-input-helper-padding-top-lg: var(--sl-space-sm);
  --sl-space-input-helper-padding-top-md: var(--sl-space-xs);
  --sl-space-input-helper-padding-top-sm: var(--sl-space-xs);
  --sl-space-input-helper-gap-lg: var(--sl-space-sm);
  --sl-space-input-helper-gap-md: var(--sl-space-xs);
  --sl-space-input-helper-gap-sm: var(--sl-space-xs);
  --sl-space-input-text-field-gap-lg: var(--sl-space-sm);
  --sl-space-input-text-field-gap-md: var(--sl-space-sm);
  --sl-space-input-text-field-inline-lg: calc(var(--sl-space-lg) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-inline-md: calc(var(--sl-space-md) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-block-lg: calc(var(--sl-space-sm) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-block-md: calc(var(--sl-space-xs) + var(--sl-conceptual-border-width-default));
  --sl-space-input-option-gap-lg: var(--sl-space-sm);
  --sl-space-input-option-gap-md: var(--sl-space-sm);
  --sl-space-input-option-gap-sm: var(--sl-space-sm);
  --sl-space-input-option-inline-lg: var(--sl-space-none);
  --sl-space-input-option-inline-md: var(--sl-space-none);
  --sl-space-input-option-inline-sm: var(--sl-space-none);
  --sl-space-input-option-block-lg: var(--sl-space-xs);
  --sl-space-input-option-block-md: var(--sl-space-xs);
  --sl-space-input-option-block-sm: var(--sl-space-none);
  --sl-space-button-link-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-lg: var(--sl-space-none);
  --sl-space-button-link-inline-md: var(--sl-space-none);
  --sl-space-button-link-inline-sm: var(--sl-space-none);
  --sl-space-button-link-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-gap-lg: var(--sl-space-sm);
  --sl-space-button-gap-md: var(--sl-space-xs);
  --sl-space-button-gap-sm: var(--sl-space-xs);
  --sl-space-button-ghost-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-ghost));
  --sl-space-button-outline-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-solid-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-lg: calc(var(--sl-space-xl) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-md: calc(var(--sl-space-xl) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-sm: calc(var(--sl-space-lg) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-solid));
  --sl-space-card-slotheader-badges-gap: var(--sl-space-sm);
  --sl-space-card-slotheader-badges-block: var(--sl-space-xs);
  --sl-space-card-slotheader-badges-inline: var(--sl-space-none);
  --sl-space-card-horizontal-gap: var(--sl-space-none);
  --sl-space-card-horizontal-block: var(--sl-space-xl);
  --sl-space-card-horizontal-inline: var(--sl-space-none);
  --sl-space-card-vertical-gap: var(--sl-space-none);
  --sl-space-card-vertical-block: var(--sl-space-xl);
  --sl-space-card-vertical-inline: var(--sl-space-none);
  --sl-space-card-gap-header-block: var(--sl-space-none);
  --sl-space-card-gap-header-inline: var(--sl-space-none);
  --sl-space-card-gap-content-block: var(--sl-space-lg);
  --sl-space-card-gap-content-inline: var(--sl-space-sm);
  --sl-space-card-content-block: var(--sl-space-xl);
  --sl-space-card-content-inline: var(--sl-space-xl);
  --sl-space-card-media-margins: var(--sl-space-sm);
  --sl-space-card-media-full: var(--sl-space-none);
  --sl-space-tooltip-offset: var(--sl-space-xs);
  --sl-space-tooltip-gap: var(--sl-space-xs);
  --sl-space-tooltip-inline: var(--sl-space-md);
  --sl-space-tooltip-block: var(--sl-space-sm);
  --sl-space-tooltip-arrow-offset: var(--sl-space-sm);
  --sl-space-popover-gap: var(--sl-space-xs);
  --sl-space-popover-inline: var(--sl-space-md);
  --sl-space-popover-block: var(--sl-space-sm);
  --sl-space-popover-offset: var(--sl-space-xs);
  --sl-space-popover-arrow-offset: var(--sl-space-lg);
  --sl-dialog-footer-justify-content: var(--sl-justify-content-end);
  --sl-dialog-footer-flex-direction: var(--sl-flex-direction-row);
  --sl-dialog-header-flex-direction: var(--sl-flex-direction-column);
  --sl-text-case-badge-text-transform: var(--sl-text-typeset-text-case-uppercase);
  --sl-conceptual-border-width-default: var(--sl-border-width-xs);
  --sl-select-panel: var(--sl-border-radius-2xs);
  --sl-icon-typeset-font-size-4xl: var(--sl-size-4xl);
  --sl-icon-typeset-font-size-3xl: var(--sl-size-3xl);
  --sl-icon-typeset-font-size-2xl: var(--sl-size-2xl);
  --sl-icon-typeset-font-size-xl: var(--sl-size-xl);
  --sl-icon-typeset-font-size-lg: var(--sl-size-lg);
  --sl-icon-typeset-font-size-md: var(--sl-size-md);
  --sl-icon-typeset-font-size-sm: var(--sl-size-sm);
  --sl-icon-typeset-font-size-xs: var(--sl-size-xs);
  --sl-icon-style-solid: var(--sl-text-typeset-font-weight-icon-solid);
  --sl-icon-style-outline: 400;
  --sl-component-button-md: [object Object];
  --sl-component-button-lg: [object Object];
  --sl-animation-button-easing: var(--sl-animation-easing-ease-in-out);
  --sl-animation-button-duration: var(--sl-animation-duration-normal);
  --sl-border-width-card-border: var(--sl-border-width-xs);
  --sl-border-width-border-tabbar: var(--sl-border-width-xs);
  --sl-border-width-border-tab: var(--sl-border-width-xs);
  --sl-border-width-tooltip-border: var(--sl-border-width-xs);
  --sl-border-width-tooltip-none: var(--sl-border-width-none);
  --sl-border-width-divider: var(--sl-border-width-xs);
  --sl-border-width-popover-border: var(--sl-border-width-xs);
  --sl-border-width-popover-none: var(--sl-border-width-none);
  --sl-border-width-dialog-default: var(--sl-border-width-none);
  --sl-border-width-inline-message-start: var(--sl-border-width-lg);
  --sl-border-width-focusring-offset: var(--sl-border-width-sm);
  --sl-border-width-focusring-default: var(--sl-border-width-sm);
  --sl-border-width-input-option: var(--sl-border-width-xs);
  --sl-border-width-input-none: var(--sl-border-width-none);
  --sl-border-width-select-panel: var(--sl-border-width-xs);
  --sl-border-width-button-link: var(--sl-border-width-xs);
  --sl-border-width-button-ghost: var(--sl-border-width-xs);
  --sl-border-width-button-outline: var(--sl-border-width-xs);
  --sl-border-width-button-solid: var(--sl-border-width-xs);
  --sl-border-radius-select-item: var(--sl-border-radius-3xs);
  --sl-border-radius-select-listbox: var(--sl-border-radius-2xs);
  --sl-border-radius-badge-full: var(--sl-border-radius-full);
  --sl-border-radius-dialog-mobile: var(--sl-border-radius-none);
  --sl-border-radius-dialog-desktop: var(--sl-border-radius-3xl);
  --sl-border-radius-focusring-full: var(--sl-border-radius-full);
  --sl-border-radius-checkbox: var(--sl-border-radius-2xs);
  --sl-border-radius-circle: var(--sl-border-radius-full);
  --sl-border-radius-default: var(--sl-border-radius-2xs);
  --sl-border-radius-button-icon-only-lg: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-md: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-sm: var(--sl-border-radius-full);
  --sl-border-radius-button-lg: var(--sl-border-radius-full);
  --sl-border-radius-button-md: var(--sl-border-radius-full);
  --sl-border-radius-button-sm: var(--sl-border-radius-full);
  --sl-text-card-body: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-card-subtitle: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-card-title: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-tab-subtitle: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-tab-title: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-select-selectbox-title-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-icon-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-select-selectbox-title-md: var(--sl-text-typeset-font-weight-regular) var(--sl-icon-typeset-font-size-xs) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-select-selectbox-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-select-selectbox-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-popover-text-title: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-popover-text-text: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-tooltip-text-title: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-tooltip-text-tip: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-3xl: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-2xl: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-xs) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-xl: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-xs) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-lg: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-xs) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-md: var(--sl-text-typeset-font-weight-demibold) 9px/9px var(--sl-text-typeset-font-family-body);
  --sl-text-badge-text-sm: var(--sl-text-typeset-font-weight-demibold) 6px/6px var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-3xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-2xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-subheader-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-3xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-2xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-xl: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-header-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-3xl: var(--sl-text-typeset-font-weight-bold) var(--sl-icon-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-2xl: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-xl: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-avatar-initials-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-xs) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-list-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-dialog-subheading: var(--sl-text-typeset-font-weight-demibold) var(--sl-icon-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-dialog-heading: var(--sl-text-typeset-font-weight-bold) var(--sl-icon-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-input-switch-input-field-bold-lg: var(--sl-text-typeset-font-weight-bold)
    var(--sl-text-typeset-font-size-xl) / var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-switch-input-field-bold-md: var(--sl-text-typeset-font-weight-bold)
    var(--sl-text-typeset-font-size-lg) / var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-switch-input-field-bold-sm: var(--sl-text-typeset-font-weight-bold)
    var(--sl-text-typeset-font-size-md) / var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-input-switch-input-field-regular-lg: var(--sl-text-typeset-font-weight-regular)
    var(--sl-text-typeset-font-size-xl) / var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-switch-input-field-regular-md: var(--sl-text-typeset-font-weight-regular)
    var(--sl-text-typeset-font-size-lg) / var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-switch-input-field-regular-sm: var(--sl-text-typeset-font-weight-regular)
    var(--sl-text-typeset-font-size-md) / var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-input-helper-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-helper-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-input-helper-text-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-tag-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-tag-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-tag-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-label-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-label-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-field-label-label-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-input-option-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-option-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-input-text-field-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-text-field-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-disabled-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-disabled-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-disabled-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-active-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-active-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-active-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-hover-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-hover-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-hover-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-idle-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-idle-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-idle-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-font-icon-lg: undefined var(--sl-text-typeset-font-size-lg) / var(--sl-text-typeset-line-height-sm)
    undefined;
  --sl-text-button-font-icon-md: undefined var(--sl-text-typeset-font-size-md) / var(--sl-text-typeset-line-height-xs)
    undefined;
  --sl-text-button-font-icon-sm: undefined 13 / var(--sl-text-typeset-line-height-xxs) undefined;
  --sl-text-button-text-lg: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-md: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-sm: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-heading-4: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-3: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-2: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-1: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-3xl) /
    var(--sl-text-typeset-line-height-3xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-0: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-4xl) /
    var(--sl-text-typeset-line-height-4xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-typeset-font-family-icon: font-awesome-6-pro;
  --sl-size-input-option-checkbox-icon-lg: var(--sl-size-icon-lg);
  --sl-size-input-option-checkbox-icon-md: var(--sl-size-icon-md);
  --sl-size-input-option-checkbox-icon-sm: var(--sl-size-icon-xs);
  --sl-space-select-item-gap-lg: var(--sl-space-input-text-field-gap-lg);
  --sl-space-select-item-gap-md: var(--sl-space-input-text-field-gap-md);
  --sl-space-select-item-inline-lg: var(--sl-space-input-text-field-inline-lg);
  --sl-space-select-item-inline-md: var(--sl-space-input-text-field-inline-md);
  --sl-space-select-item-block-lg: var(--sl-space-input-text-field-block-lg);
  --sl-space-select-item-block-md: var(--sl-space-input-text-field-block-md);
  --sl-space-select-selectbox-gap-lg: var(--sl-space-input-text-field-gap-lg);
  --sl-space-select-selectbox-gap-md: var(--sl-space-input-text-field-gap-md);
  --sl-space-select-selectbox-inline-lg: var(--sl-space-input-text-field-inline-lg);
  --sl-space-select-selectbox-inline-md: var(--sl-space-input-text-field-inline-md);
  --sl-space-select-selectbox-block-lg: var(--sl-space-input-text-field-block-lg);
  --sl-space-select-selectbox-block-md: var(--sl-space-input-text-field-block-md);
  --sl-space-button-bar-gap-inline: var(--sl-space-button-bar-gap-block);
  --sl-space-input-switch-padding-row-lg: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-lg) +
      (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-space-input-switch-padding-row-md: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-md) +
      (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-space-input-switch-padding-row-sm: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-sm) +
      (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-border-width-inline-message-default: var(--sl-conceptual-border-width-default);
  --sl-border-width-input-border: var(--sl-conceptual-border-width-default);
  --sl-border-width-select-listbox: var(--sl-conceptual-border-width-default);
  --sl-border-radius-skeleton-default: var(--sl-border-radius-default);
  --sl-border-radius-card-image-margin: var(--sl-border-radius-default);
  --sl-border-radius-card-default: var(--sl-border-radius-default);
  --sl-border-radius-popover-default: var(--sl-border-radius-default);
  --sl-border-radius-inline-message-default: var(--sl-border-radius-default);
  --sl-border-radius-focusring-checkbox: calc(var(--sl-border-radius-checkbox) + 1);
  --sl-border-radius-focusring-default: calc(var(--sl-border-radius-default) + 1);
  --sl-text-avatar-icon-3xl: var(--sl-icon-style-outline) var(--sl-icon-typeset-font-size-2xl) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-avatar-icon-2xl: var(--sl-icon-style-outline) var(--sl-icon-typeset-font-size-2xl) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-avatar-icon-xl: var(--sl-icon-style-outline) var(--sl-text-typeset-font-size-2xl) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-avatar-icon-lg: var(--sl-icon-style-outline) var(--sl-text-typeset-font-size-xl) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-avatar-icon-md: var(--sl-icon-style-outline) var(--sl-text-typeset-font-size-lg) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-avatar-icon-sm: var(--sl-icon-style-outline) var(--sl-text-typeset-font-size-md) / undefined
    var(--sl-text-typeset-font-family-icon);
  --sl-text-icon-font-icon-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-icon);
  --sl-text-icon-font-icon-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-icon);
  --sl-text-icon-font-icon-sm: var(--sl-text-typeset-font-weight-regular) 13 / var(--sl-text-typeset-line-height-xxs)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-input-helper-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-icon);
  --sl-text-input-helper-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-icon);
  --sl-text-input-text-field-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-icon);
  --sl-text-input-text-field-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-icon);
}
