[data-SanomaLearning='Light'] {
  --sanoma-learning-color-background-accent-blue-bold: var(
    --sanoma-learning-color-palette-blue-400
  );
  --sanoma-learning-color-background-accent-blue-interactive-bold: var(
    --sanoma-learning-color-palette-blue-900
  );
  --sanoma-learning-color-background-accent-blue-interactive-plain: var(
    --sanoma-learning-color-palette-blue-300
  );
  --sanoma-learning-color-background-accent-blue-subtle: #3366ff33;
  --sanoma-learning-color-background-accent-blue-subtlest: #3366ff1a;
  --sanoma-learning-color-background-accent-green-bold: var(
    --sanoma-learning-color-palette-green-600
  );
  --sanoma-learning-color-background-accent-green-interactive-bold: var(
    --sanoma-learning-color-palette-green-900
  );
  --sanoma-learning-color-background-accent-green-interactive-plain: var(
    --sanoma-learning-color-palette-green-400
  );
  --sanoma-learning-color-background-accent-green-subtle: #1aaf6033;
  --sanoma-learning-color-background-accent-green-subtlest: #1aaf601a;
  --sanoma-learning-color-background-accent-grey-bold: var(
    --sanoma-learning-color-palette-grey-150
  );
  --sanoma-learning-color-background-accent-grey-interactive-bold: var(
    --sanoma-learning-color-palette-grey-500
  );
  --sanoma-learning-color-background-accent-grey-interactive-plain: var(
    --sanoma-learning-color-palette-grey-400
  );
  --sanoma-learning-color-background-accent-grey-subtle: #c8d1da33;
  --sanoma-learning-color-background-accent-grey-subtlest: #c8d1da1a;
  --sanoma-learning-color-background-accent-orange-bold: var(
    --sanoma-learning-color-palette-orange-600
  );
  --sanoma-learning-color-background-accent-orange-interactive-bold: var(
    --sanoma-learning-color-palette-orange-900
  );
  --sanoma-learning-color-background-accent-orange-interactive-plain: var(
    --sanoma-learning-color-palette-orange-400
  );
  --sanoma-learning-color-background-accent-orange-subtle: #fe821133;
  --sanoma-learning-color-background-accent-orange-subtlest: #fe82111a;
  --sanoma-learning-color-background-accent-purple-bold: var(
    --sanoma-learning-color-palette-purple-600
  );
  --sanoma-learning-color-background-accent-purple-interactive-bold: var(
    --sanoma-learning-color-palette-purple-900
  );
  --sanoma-learning-color-background-accent-purple-interactive-plain: var(
    --sanoma-learning-color-palette-purple-400
  );
  --sanoma-learning-color-background-accent-purple-subtle: #824dff33;
  --sanoma-learning-color-background-accent-purple-subtlest: #824dff1a;
  --sanoma-learning-color-background-accent-red-bold: var(--sanoma-learning-color-palette-red-500);
  --sanoma-learning-color-background-accent-red-interactive-bold: var(
    --sanoma-learning-color-palette-red-900
  );
  --sanoma-learning-color-background-accent-red-interactive-plain: var(
    --sanoma-learning-color-palette-red-400
  );
  --sanoma-learning-color-background-accent-red-subtle: #f83b4133;
  --sanoma-learning-color-background-accent-red-subtlest: #f83b411a;
  --sanoma-learning-color-background-accent-teal-bold: var(
    --sanoma-learning-color-palette-teal-600
  );
  --sanoma-learning-color-background-accent-teal-interactive-bold: var(
    --sanoma-learning-color-palette-teal-900
  );
  --sanoma-learning-color-background-accent-teal-interactive-plain: var(
    --sanoma-learning-color-palette-teal-400
  );
  --sanoma-learning-color-background-accent-teal-subtle: #00d0c933;
  --sanoma-learning-color-background-accent-teal-subtlest: #00d0c91a;
  --sanoma-learning-color-background-accent-yellow-bold: var(
    --sanoma-learning-color-palette-yellow-400
  );
  --sanoma-learning-color-background-accent-yellow-interactive-bold: var(
    --sanoma-learning-color-palette-yellow-800
  );
  --sanoma-learning-color-background-accent-yellow-interactive-plain: var(
    --sanoma-learning-color-palette-yellow-400
  );
  --sanoma-learning-color-background-accent-yellow-subtle: #ffae0033;
  --sanoma-learning-color-background-accent-yellow-subtlest: #ffae001a;
  --sanoma-learning-color-background-bold: var(--sanoma-learning-color-border-bold);
  --sanoma-learning-color-background-caution-bold: var(
    --sanoma-learning-color-background-accent-yellow-bold
  );
  --sanoma-learning-color-background-caution-interactive-bold: var(
    --sanoma-learning-color-background-accent-yellow-interactive-bold
  );
  --sanoma-learning-color-background-caution-interactive-plain: var(
    --sanoma-learning-color-background-accent-yellow-interactive-plain
  );
  --sanoma-learning-color-background-caution-subtle: var(
    --sanoma-learning-color-background-accent-yellow-subtle
  );
  --sanoma-learning-color-background-caution-subtlest: var(
    --sanoma-learning-color-background-accent-yellow-subtlest
  );
  --sanoma-learning-color-background-disabled: var(--sanoma-learning-color-palette-grey-100);
  --sanoma-learning-color-background-highlight: var(--sanoma-learning-color-palette-yellow-100);
  --sanoma-learning-color-background-info-bold: var(
    --sanoma-learning-color-background-accent-blue-bold
  );
  --sanoma-learning-color-background-info-interactive-bold: var(
    --sanoma-learning-color-background-accent-blue-interactive-bold
  );
  --sanoma-learning-color-background-info-interactive-plain: var(
    --sanoma-learning-color-background-accent-blue-interactive-plain
  );
  --sanoma-learning-color-background-info-subtle: var(
    --sanoma-learning-color-background-accent-blue-subtle
  );
  --sanoma-learning-color-background-info-subtlest: var(
    --sanoma-learning-color-background-accent-blue-subtlest
  );
  --sanoma-learning-color-background-input-interactive: var(
    --sanoma-learning-color-background-accent-grey-interactive-plain
  );
  --sanoma-learning-color-background-input-plain: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-color-background-interactive-bold: var(
    --sanoma-learning-color-background-neutral-interactive-bold
  );
  --sanoma-learning-color-background-interactive-plain: var(
    --sanoma-learning-color-background-neutral-interactive-plain
  );
  --sanoma-learning-color-background-inverted-bold: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-color-background-inverted-interactive-bold: var(
    --sanoma-learning-color-palette-grey-800
  );
  --sanoma-learning-color-background-inverted-interactive-plain: var(
    --sanoma-learning-color-palette-grey-200
  );
  --sanoma-learning-color-background-inverted-subtle: #ffffff33;
  --sanoma-learning-color-background-inverted-subtlest: #ffffff1a;
  --sanoma-learning-color-background-negative-bold: var(
    --sanoma-learning-color-background-accent-red-bold
  );
  --sanoma-learning-color-background-negative-interactive-bold: var(
    --sanoma-learning-color-background-accent-red-interactive-bold
  );
  --sanoma-learning-color-background-negative-interactive-plain: var(
    --sanoma-learning-color-background-accent-red-interactive-plain
  );
  --sanoma-learning-color-background-negative-subtle: var(
    --sanoma-learning-color-background-accent-red-subtle
  );
  --sanoma-learning-color-background-negative-subtlest: var(
    --sanoma-learning-color-background-accent-red-subtlest
  );
  --sanoma-learning-color-background-neutral-bold: var(
    --sanoma-learning-color-background-accent-grey-bold
  );
  --sanoma-learning-color-background-neutral-interactive-bold: var(
    --sanoma-learning-color-background-accent-grey-interactive-bold
  );
  --sanoma-learning-color-background-neutral-interactive-plain: var(
    --sanoma-learning-color-background-accent-grey-interactive-bold
  );
  --sanoma-learning-color-background-neutral-subtle: var(
    --sanoma-learning-color-background-accent-grey-subtle
  );
  --sanoma-learning-color-background-neutral-subtlest: var(
    --sanoma-learning-color-palette-grey-050
  );
  --sanoma-learning-color-background-positive-bold: var(
    --sanoma-learning-color-background-accent-green-bold
  );
  --sanoma-learning-color-background-positive-interactive-bold: var(
    --sanoma-learning-color-background-accent-green-interactive-bold
  );
  --sanoma-learning-color-background-positive-interactive-plain: var(
    --sanoma-learning-color-background-accent-green-interactive-plain
  );
  --sanoma-learning-color-background-positive-subtle: var(
    --sanoma-learning-color-background-accent-green-subtle
  );
  --sanoma-learning-color-background-positive-subtlest: var(
    --sanoma-learning-color-background-accent-green-subtlest
  );
  --sanoma-learning-color-background-primary-bold: var(
    --sanoma-learning-color-background-accent-blue-bold
  );
  --sanoma-learning-color-background-primary-interactive-bold: var(
    --sanoma-learning-color-background-accent-blue-interactive-bold
  );
  --sanoma-learning-color-background-primary-interactive-plain: var(
    --sanoma-learning-color-background-accent-blue-interactive-plain
  );
  --sanoma-learning-color-background-primary-subtle: var(
    --sanoma-learning-color-background-accent-blue-subtle
  );
  --sanoma-learning-color-background-primary-subtlest: var(
    --sanoma-learning-color-background-accent-blue-subtlest
  );
  --sanoma-learning-color-background-secondary-bold: var(
    --sanoma-learning-color-background-accent-grey-bold
  );
  --sanoma-learning-color-background-secondary-interactive-bold: var(
    --sanoma-learning-color-background-accent-grey-interactive-bold
  );
  --sanoma-learning-color-background-secondary-interactive-plain: var(
    --sanoma-learning-color-background-accent-grey-interactive-plain
  );
  --sanoma-learning-color-background-secondary-subtle: var(
    --sanoma-learning-color-background-accent-grey-subtle
  );
  --sanoma-learning-color-background-secondary-subtlest: var(
    --sanoma-learning-color-background-accent-grey-subtlest
  );
  --sanoma-learning-color-background-selected-bold: var(
    --sanoma-learning-color-background-accent-blue-bold
  );
  --sanoma-learning-color-background-selected-interactive-bold: var(
    --sanoma-learning-color-background-accent-blue-interactive-bold
  );
  --sanoma-learning-color-background-selected-interactive-plain: var(
    --sanoma-learning-color-background-accent-blue-interactive-plain
  );
  --sanoma-learning-color-background-selected-subtle: var(
    --sanoma-learning-color-background-accent-blue-subtle
  );
  --sanoma-learning-color-background-selected-subtlest: var(
    --sanoma-learning-color-background-accent-blue-subtlest
  );
  --sanoma-learning-color-background-subtle: var(
    --sanoma-learning-color-background-accent-grey-subtle
  );
  --sanoma-learning-color-blanket-plain: #c8d1dacc;
  --sanoma-learning-color-border-accent-blue-bold: var(
    --sanoma-learning-color-foreground-accent-blue-bold
  );
  --sanoma-learning-color-border-accent-blue-plain: var(
    --sanoma-learning-color-background-accent-blue-bold
  );
  --sanoma-learning-color-border-accent-green-bold: var(
    --sanoma-learning-color-foreground-accent-green-bold
  );
  --sanoma-learning-color-border-accent-green-plain: var(
    --sanoma-learning-color-background-accent-green-bold
  );
  --sanoma-learning-color-border-accent-grey-bold: var(--sanoma-learning-color-palette-grey-500);
  --sanoma-learning-color-border-accent-grey-faint: var(--sanoma-learning-color-palette-grey-150);
  --sanoma-learning-color-border-accent-grey-heavy: var(--sanoma-learning-color-palette-grey-900);
  --sanoma-learning-color-border-accent-grey-plain: var(--sanoma-learning-color-palette-grey-300);
  --sanoma-learning-color-border-accent-orange-bold: var(
    --sanoma-learning-color-foreground-accent-orange-bold
  );
  --sanoma-learning-color-border-accent-orange-plain: var(
    --sanoma-learning-color-background-accent-orange-bold
  );
  --sanoma-learning-color-border-accent-purple-bold: var(
    --sanoma-learning-color-foreground-accent-purple-bold
  );
  --sanoma-learning-color-border-accent-purple-plain: var(
    --sanoma-learning-color-background-accent-purple-bold
  );
  --sanoma-learning-color-border-accent-red-bold: var(
    --sanoma-learning-color-foreground-accent-red-bold
  );
  --sanoma-learning-color-border-accent-red-plain: var(
    --sanoma-learning-color-background-accent-red-bold
  );
  --sanoma-learning-color-border-accent-teal-bold: var(
    --sanoma-learning-color-foreground-accent-teal-bold
  );
  --sanoma-learning-color-border-accent-teal-plain: var(
    --sanoma-learning-color-background-accent-teal-bold
  );
  --sanoma-learning-color-border-accent-yellow-bold: var(
    --sanoma-learning-color-foreground-accent-yellow-bold
  );
  --sanoma-learning-color-border-accent-yellow-plain: var(
    --sanoma-learning-color-foreground-accent-yellow-plain
  );
  --sanoma-learning-color-border-bold: var(--sanoma-learning-color-border-accent-grey-bold);
  --sanoma-learning-color-border-caution-bold: var(
    --sanoma-learning-color-border-accent-yellow-bold
  );
  --sanoma-learning-color-border-caution-plain: var(
    --sanoma-learning-color-border-accent-yellow-plain
  );
  --sanoma-learning-color-border-disabled: var(--sanoma-learning-color-border-accent-grey-faint);
  --sanoma-learning-color-border-focused: var(--sanoma-learning-color-palette-blue-400);
  --sanoma-learning-color-border-info-bold: var(--sanoma-learning-color-border-accent-blue-bold);
  --sanoma-learning-color-border-info-plain: var(--sanoma-learning-color-border-accent-blue-plain);
  --sanoma-learning-color-border-info-subtle: var(--sanoma-learning-color-palette-blue-100);
  --sanoma-learning-color-border-input: var(--sanoma-learning-color-border-bold);
  --sanoma-learning-color-border-inverted: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-color-border-negative-bold: var(--sanoma-learning-color-border-accent-red-bold);
  --sanoma-learning-color-border-negative-plain: var(
    --sanoma-learning-color-border-accent-red-plain
  );
  --sanoma-learning-color-border-neutral-bold: var(--sanoma-learning-color-border-accent-grey-bold);
  --sanoma-learning-color-border-neutral-plain: var(
    --sanoma-learning-color-border-accent-grey-plain
  );
  --sanoma-learning-color-border-neutral-subtle: var(--sanoma-learning-color-palette-grey-200);
  --sanoma-learning-color-border-plain: var(--sanoma-learning-color-border-accent-grey-plain);
  --sanoma-learning-color-border-positive-bold: var(
    --sanoma-learning-color-border-accent-green-bold
  );
  --sanoma-learning-color-border-positive-plain: var(
    --sanoma-learning-color-border-accent-green-plain
  );
  --sanoma-learning-color-border-primary-bold: var(--sanoma-learning-color-border-accent-blue-bold);
  --sanoma-learning-color-border-primary-plain: var(
    --sanoma-learning-color-border-accent-blue-plain
  );
  --sanoma-learning-color-border-secondary-bold: var(
    --sanoma-learning-color-border-accent-grey-heavy
  );
  --sanoma-learning-color-border-secondary-plain: var(
    --sanoma-learning-color-border-accent-grey-plain
  );
  --sanoma-learning-color-border-selected: var(--sanoma-learning-color-border-accent-blue-plain);
  --sanoma-learning-color-foreground-accent-blue-bold: var(
    --sanoma-learning-color-palette-blue-700
  );
  --sanoma-learning-color-foreground-accent-blue-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-blue-plain: var(
    --sanoma-learning-color-background-accent-blue-bold
  );
  --sanoma-learning-color-foreground-accent-green-bold: var(
    --sanoma-learning-color-palette-green-700
  );
  --sanoma-learning-color-foreground-accent-green-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-green-plain: var(
    --sanoma-learning-color-background-accent-green-bold
  );
  --sanoma-learning-color-foreground-accent-grey-bold: var(
    --sanoma-learning-color-palette-grey-900
  );
  --sanoma-learning-color-foreground-accent-grey-faint: var(
    --sanoma-learning-color-palette-grey-300
  );
  --sanoma-learning-color-foreground-accent-grey-on-bold: var(
    --sanoma-learning-color-foreground-bold
  );
  --sanoma-learning-color-foreground-accent-grey-on-inverted: var(
    --sanoma-learning-color-foreground-bold
  );
  --sanoma-learning-color-foreground-accent-grey-plain: var(
    --sanoma-learning-color-palette-grey-800
  );
  --sanoma-learning-color-foreground-accent-grey-subtle: var(
    --sanoma-learning-color-palette-grey-700
  );
  --sanoma-learning-color-foreground-accent-grey-subtlest: var(
    --sanoma-learning-color-palette-grey-600
  );
  --sanoma-learning-color-foreground-accent-orange-bold: var(
    --sanoma-learning-color-palette-orange-800
  );
  --sanoma-learning-color-foreground-accent-orange-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-orange-plain: var(
    --sanoma-learning-color-background-accent-orange-bold
  );
  --sanoma-learning-color-foreground-accent-purple-bold: var(
    --sanoma-learning-color-palette-purple-800
  );
  --sanoma-learning-color-foreground-accent-purple-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-purple-plain: var(
    --sanoma-learning-color-background-accent-purple-bold
  );
  --sanoma-learning-color-foreground-accent-red-bold: var(--sanoma-learning-color-palette-red-800);
  --sanoma-learning-color-foreground-accent-red-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-red-plain: var(
    --sanoma-learning-color-background-accent-red-bold
  );
  --sanoma-learning-color-foreground-accent-teal-bold: var(
    --sanoma-learning-color-palette-teal-800
  );
  --sanoma-learning-color-foreground-accent-teal-on-bold: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-foreground-accent-teal-plain: var(
    --sanoma-learning-color-background-accent-teal-bold
  );
  --sanoma-learning-color-foreground-accent-yellow-bold: var(
    --sanoma-learning-color-palette-yellow-800
  );
  --sanoma-learning-color-foreground-accent-yellow-on-bold: var(
    --sanoma-learning-color-foreground-bold
  );
  --sanoma-learning-color-foreground-accent-yellow-plain: var(
    --sanoma-learning-color-palette-yellow-600
  );
  --sanoma-learning-color-foreground-bold: var(--sanoma-learning-color-foreground-accent-grey-bold);
  --sanoma-learning-color-foreground-brand: var(
    --sanoma-learning-color-foreground-accent-blue-plain
  );
  --sanoma-learning-color-foreground-caution-bold: var(
    --sanoma-learning-color-foreground-accent-yellow-bold
  );
  --sanoma-learning-color-foreground-caution-on-bold: var(
    --sanoma-learning-color-foreground-accent-yellow-on-bold
  );
  --sanoma-learning-color-foreground-caution-plain: var(
    --sanoma-learning-color-foreground-accent-yellow-plain
  );
  --sanoma-learning-color-foreground-disabled: var(--sanoma-learning-color-palette-grey-500);
  --sanoma-learning-color-foreground-info-bold: var(
    --sanoma-learning-color-foreground-accent-blue-bold
  );
  --sanoma-learning-color-foreground-info-on-bold: var(
    --sanoma-learning-color-foreground-accent-blue-on-bold
  );
  --sanoma-learning-color-foreground-info-plain: var(
    --sanoma-learning-color-foreground-accent-blue-plain
  );
  --sanoma-learning-color-foreground-inverted-bold: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-color-foreground-inverted-on-bold: var(
    --sanoma-learning-color-palette-grey-900
  );
  --sanoma-learning-color-foreground-inverted-plain: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-color-foreground-negative-bold: var(
    --sanoma-learning-color-foreground-accent-red-bold
  );
  --sanoma-learning-color-foreground-negative-on-bold: var(
    --sanoma-learning-color-foreground-accent-red-on-bold
  );
  --sanoma-learning-color-foreground-negative-plain: var(
    --sanoma-learning-color-foreground-accent-red-plain
  );
  --sanoma-learning-color-foreground-neutral-bold: var(
    --sanoma-learning-color-foreground-accent-grey-bold
  );
  --sanoma-learning-color-foreground-neutral-on-bold: var(
    --sanoma-learning-color-foreground-accent-grey-on-bold
  );
  --sanoma-learning-color-foreground-neutral-plain: var(
    --sanoma-learning-color-foreground-accent-grey-subtlest
  );
  --sanoma-learning-color-foreground-plain: var(
    --sanoma-learning-color-foreground-accent-grey-plain
  );
  --sanoma-learning-color-foreground-positive-bold: var(
    --sanoma-learning-color-foreground-accent-green-bold
  );
  --sanoma-learning-color-foreground-positive-on-bold: var(
    --sanoma-learning-color-foreground-accent-green-on-bold
  );
  --sanoma-learning-color-foreground-positive-plain: var(
    --sanoma-learning-color-foreground-accent-green-plain
  );
  --sanoma-learning-color-foreground-primary-bold: var(
    --sanoma-learning-color-foreground-accent-blue-bold
  );
  --sanoma-learning-color-foreground-primary-on-bold: var(
    --sanoma-learning-color-foreground-accent-blue-on-bold
  );
  --sanoma-learning-color-foreground-secondary-bold: var(
    --sanoma-learning-color-foreground-accent-grey-bold
  );
  --sanoma-learning-color-foreground-secondary-on-bold: var(
    --sanoma-learning-color-foreground-accent-grey-on-bold
  );
  --sanoma-learning-color-foreground-selected-bold: var(
    --sanoma-learning-color-foreground-accent-blue-bold
  );
  --sanoma-learning-color-foreground-selected-on-bold: var(
    --sanoma-learning-color-foreground-accent-blue-on-bold
  );
  --sanoma-learning-color-foreground-selected-plain: var(
    --sanoma-learning-color-foreground-accent-blue-plain
  );
  --sanoma-learning-color-foreground-subtle: var(
    --sanoma-learning-color-foreground-accent-grey-subtle
  );
  --sanoma-learning-color-foreground-subtlest: var(
    --sanoma-learning-color-foreground-accent-grey-subtlest
  );
  --sanoma-learning-color-link-active: var(--sanoma-learning-color-palette-blue-700);
  --sanoma-learning-color-link-focused-active: var(--sanoma-learning-color-palette-blue-900);
  --sanoma-learning-color-link-focused-hover: var(--sanoma-learning-color-palette-blue-800);
  --sanoma-learning-color-link-focused-idle: var(--sanoma-learning-color-palette-blue-700);
  --sanoma-learning-color-link-hover: var(--sanoma-learning-color-palette-blue-600);
  --sanoma-learning-color-link-idle: var(--sanoma-learning-color-foreground-accent-blue-plain);
  --sanoma-learning-color-link-inverted-active: var(--sanoma-learning-color-palette-blue-150);
  --sanoma-learning-color-link-inverted-hover: var(--sanoma-learning-color-palette-blue-100);
  --sanoma-learning-color-link-inverted-idle: var(
    --sanoma-learning-color-foreground-inverted-plain
  );
  --sanoma-learning-color-link-muted-active: var(--sanoma-learning-color-link-active);
  --sanoma-learning-color-link-muted-hover: var(--sanoma-learning-color-link-hover);
  --sanoma-learning-color-link-muted-idle: var(
    --sanoma-learning-color-foreground-accent-grey-subtlest
  );
  --sanoma-learning-color-palette-blue-050: #eef4ff;
  --sanoma-learning-color-palette-blue-100: #d9e5ff;
  --sanoma-learning-color-palette-blue-150: #bcd2ff;
  --sanoma-learning-color-palette-blue-200: #8eb6ff;
  --sanoma-learning-color-palette-blue-300: #598eff;
  --sanoma-learning-color-palette-blue-400: #3366ff;
  --sanoma-learning-color-palette-blue-500: #1b43f5;
  --sanoma-learning-color-palette-blue-600: #142fe1;
  --sanoma-learning-color-palette-blue-700: #1727b6;
  --sanoma-learning-color-palette-blue-800: #19288f;
  --sanoma-learning-color-palette-blue-900: #141a57;
  --sanoma-learning-color-palette-green-050: #edfcf2;
  --sanoma-learning-color-palette-green-100: #d3f8de;
  --sanoma-learning-color-palette-green-150: #abefc3;
  --sanoma-learning-color-palette-green-200: #75e0a1;
  --sanoma-learning-color-palette-green-300: #45cc80;
  --sanoma-learning-color-palette-green-400: #1aaf60;
  --sanoma-learning-color-palette-green-500: #0d8e4c;
  --sanoma-learning-color-palette-green-600: #0b7140;
  --sanoma-learning-color-palette-green-700: #0b5a34;
  --sanoma-learning-color-palette-green-800: #0a4a2c;
  --sanoma-learning-color-palette-green-900: #042a19;
  --sanoma-learning-color-palette-grey-000: #ffffff;
  --sanoma-learning-color-palette-grey-050: #f6f8fa;
  --sanoma-learning-color-palette-grey-100: #f0f2f5;
  --sanoma-learning-color-palette-grey-150: #e0e6ea;
  --sanoma-learning-color-palette-grey-200: #dae0e7;
  --sanoma-learning-color-palette-grey-300: #d0d9e0;
  --sanoma-learning-color-palette-grey-400: #c8d1da;
  --sanoma-learning-color-palette-grey-500: #818b98;
  --sanoma-learning-color-palette-grey-600: #59636e;
  --sanoma-learning-color-palette-grey-700: #393f46;
  --sanoma-learning-color-palette-grey-800: #25292f;
  --sanoma-learning-color-palette-grey-900: #222222;
  --sanoma-learning-color-palette-orange-050: #fff8ed;
  --sanoma-learning-color-palette-orange-100: #fff0d4;
  --sanoma-learning-color-palette-orange-150: #ffdda8;
  --sanoma-learning-color-palette-orange-200: #ffc471;
  --sanoma-learning-color-palette-orange-300: #ff9d33;
  --sanoma-learning-color-palette-orange-400: #fe8211;
  --sanoma-learning-color-palette-orange-500: #ef6707;
  --sanoma-learning-color-palette-orange-600: #c64c08;
  --sanoma-learning-color-palette-orange-700: #9d3d0f;
  --sanoma-learning-color-palette-orange-800: #7e3410;
  --sanoma-learning-color-palette-orange-900: #441706;
  --sanoma-learning-color-palette-purple-050: #f4f2ff;
  --sanoma-learning-color-palette-purple-100: #ece7ff;
  --sanoma-learning-color-palette-purple-150: #d9d2ff;
  --sanoma-learning-color-palette-purple-200: #bfaeff;
  --sanoma-learning-color-palette-purple-300: #9f80ff;
  --sanoma-learning-color-palette-purple-400: #824dff;
  --sanoma-learning-color-palette-purple-500: #7b33ff;
  --sanoma-learning-color-palette-purple-600: #6616eb;
  --sanoma-learning-color-palette-purple-700: #5512c5;
  --sanoma-learning-color-palette-purple-800: #4711a1;
  --sanoma-learning-color-palette-purple-900: #29076e;
  --sanoma-learning-color-palette-red-050: #fff1f1;
  --sanoma-learning-color-palette-red-100: #ffe1e2;
  --sanoma-learning-color-palette-red-150: #ffc7c9;
  --sanoma-learning-color-palette-red-200: #ffa0a3;
  --sanoma-learning-color-palette-red-300: #ff575c;
  --sanoma-learning-color-palette-red-400: #f83b41;
  --sanoma-learning-color-palette-red-500: #e51d23;
  --sanoma-learning-color-palette-red-600: #c11419;
  --sanoma-learning-color-palette-red-700: #a01418;
  --sanoma-learning-color-palette-red-800: #84181b;
  --sanoma-learning-color-palette-red-900: #480709;
  --sanoma-learning-color-palette-teal-050: #eefffc;
  --sanoma-learning-color-palette-teal-100: #c5fffa;
  --sanoma-learning-color-palette-teal-150: #8bfff5;
  --sanoma-learning-color-palette-teal-200: #4afef0;
  --sanoma-learning-color-palette-teal-300: #15ece2;
  --sanoma-learning-color-palette-teal-400: #00d0c9;
  --sanoma-learning-color-palette-teal-500: #00a8a5;
  --sanoma-learning-color-palette-teal-600: #008080;
  --sanoma-learning-color-palette-teal-700: #066769;
  --sanoma-learning-color-palette-teal-800: #0a5757;
  --sanoma-learning-color-palette-teal-900: #003235;
  --sanoma-learning-color-palette-yellow-050: #fffdea;
  --sanoma-learning-color-palette-yellow-100: #fff7c5;
  --sanoma-learning-color-palette-yellow-150: #fff085;
  --sanoma-learning-color-palette-yellow-200: #ffe146;
  --sanoma-learning-color-palette-yellow-300: #ffcf1b;
  --sanoma-learning-color-palette-yellow-400: #ffae00;
  --sanoma-learning-color-palette-yellow-500: #e28400;
  --sanoma-learning-color-palette-yellow-600: #bb5c02;
  --sanoma-learning-color-palette-yellow-700: #984708;
  --sanoma-learning-color-palette-yellow-800: #7c3a0b;
  --sanoma-learning-color-palette-yellow-900: #481d00;
  --sanoma-learning-color-skeleton-plain: var(--sanoma-learning-color-palette-grey-100);
  --sanoma-learning-color-skeleton-subtle: var(--sanoma-learning-color-palette-grey-050);
  --sanoma-learning-elevation-surface-base-default: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-elevation-surface-raised-alternative: var(
    --sanoma-learning-color-palette-grey-100
  );
  --sanoma-learning-elevation-surface-raised-default: var(--sanoma-learning-color-palette-grey-000);
  --sanoma-learning-elevation-surface-raised-inverted: var(
    --sanoma-learning-color-palette-grey-900
  );
  --sanoma-learning-elevation-surface-raised-primary: var(--sanoma-learning-color-palette-blue-400);
  --sanoma-learning-elevation-surface-raised-sunken: var(--sanoma-learning-color-palette-grey-050);
  --sanoma-learning-elevation-surface-shadow: var(--sanoma-learning-color-palette-grey-900);
  --sanoma-learning-opacity-bold: 1;
  --sanoma-learning-opacity-interactive-bold-active: 0.4;
  --sanoma-learning-opacity-interactive-bold-hover: 0.2;
  --sanoma-learning-opacity-interactive-bold-idle: 0;
  --sanoma-learning-opacity-interactive-plain-active: 0.25;
  --sanoma-learning-opacity-interactive-plain-hover: 0.15;
  --sanoma-learning-opacity-interactive-plain-idle: 0;
  --sanoma-learning-opacity-interactive-reversed-active: 1;
  --sanoma-learning-opacity-interactive-reversed-hover: 0.9;
  --sanoma-learning-opacity-interactive-reversed-idle: 0.8;
  --sanoma-learning-opacity-moderate: 0.8;
  --sanoma-learning-opacity-muted: 0;
  --sanoma-learning-opacity-subtle: 0.2;
  --sanoma-learning-opacity-subtlest: 0.1;
  --sanoma-learning-theme-name: Sanoma Learning Light;
}
