:host {
  --_font: var(--sl-text-button-text-md);
  
  cursor: pointer;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  font: var(--_font);
}

:host([contenttype='string']) {
  --_padding-block: var(--sl-space-button-block-md);
  --_padding-inline: var(--sl-space-button-inline-md);
}

:host([contenttype='element']) {
  --_padding-block: 0;
  --_padding-inline: 0;
}

:host([selected]) {
  box-shadow: inset 3px 0px 0px #5f9ea0;
}

:host([disabled]) {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}
