:host {
  --_padding-block: var(--sl-space-button-block-md);
  --_padding-inline: var(--sl-space-button-inline-md);

  border: 1px solid #f92;
  cursor: pointer;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
}

:host(:has(*)) {
  background-color: #ffe4c4;
  padding-block: 0;
  padding-inline: 0;
}

:host([selected]) {
  border: 2px solid #d70;
}

:host([disabled]) {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}
