:host {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}

:host(:open) {
  opacity: 1;
}

:host([popover-open]) {
  opacity: 1;
}
