:host(:defined) {
  background: var(--sl-elevation-surface-base-default);
  border: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  border-radius: var(--sl-size-200);
  box-shadow: var(--sl-elevation-shadow-overlay);
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  max-inline-size: min(80vw, 500px);
  padding: var(--sl-size-400);
}

h1 {
  font: var(--sl-text-new-heading-md);
  margin: 0;
}

p {
  font: var(--sl-text-new-body);
  margin-block: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  border-block-end: 1px solid var(--_divider-color);
  display: flex;
  gap: 1rem;
  margin-block-start: 0.75rem;
  padding-block-end: 0.75rem;

  &:first-of-type .title {
    inline-size: 195px;
  }

  &:nth-of-type(2) .title {
    inline-size: 105px;
  }

  &:nth-of-type(3) .title {
    inline-size: 91px;
  }

  &:last-of-type .title {
    inline-size: 200px;
  }
}

sl-skeleton.icon {
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-flex;
  inline-size: var(--sl-size-new-icon-xl);
}

sl-skeleton.title {
  block-size: 1rem;
  display: flex;
}

details {
  border-block-end: 1px solid var(--sl-color-border-plain);
  margin-block-start: 0.75rem;
  padding-block-end: 0.75rem;

  &[open] {
    --_icon-color: var(--sl-color-background-negative-bold);
  }

  &:last-of-type {
    margin-block-end: 1rem;
  }

  p {
    margin-block: 0.5rem;
    padding-inline-start: 2.5rem;
  }
}

summary {
  align-items: center;
  display: flex;
  font: var(--sl-text-new-heading-sm);
  gap: 1rem;

  &::-webkit-details-marker {
    display: none;
  }
}

sl-icon {
  color: var(--_icon-color, var(--sl-color-background-positive-bold));
}

code {
  font-family:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 0.9em;
  font-weight: bolder;
}
