body {
  --sl-base-fontSize: 16px;
  --sl-caption-lg-fontSize-advanced: var(--sl-computed-advanced-caption-lg-fontSize-advanced);
  --sl-caption-lg-fontSize-developing: var(--sl-computed-advanced-caption-lg-fontSize-developing);
  --sl-caption-lg-fontSize-early: var(--sl-computed-advanced-caption-lg-fontSize-early);
  --sl-caption-lg-fontSize-userGroup: var(--sl-caption-lg-fontSize-advanced);
  --sl-caption-lg-letterSpacing: 1%;
  --sl-caption-lg-lineHeight-advanced: var(--sl-computed-advanced-caption-lg-lineHeight-advanced);
  --sl-caption-lg-lineHeight-developing: var(
    --sl-computed-advanced-caption-lg-lineHeight-developing
  );
  --sl-caption-lg-lineHeight-early: var(--sl-computed-advanced-caption-lg-lineHeight-early);
  --sl-caption-lg-lineHeight-userGroup: var(--sl-caption-lg-lineHeight-advanced);
  --sl-caption-lineHeight: 1.4;
  --sl-caption-md-fontSize-advanced: var(--sl-computed-advanced-caption-md-fontSize-advanced);
  --sl-caption-md-fontSize-developing: var(--sl-computed-advanced-caption-md-fontSize-developing);
  --sl-caption-md-fontSize-early: var(--sl-computed-advanced-caption-md-fontSize-early);
  --sl-caption-md-fontSize-userGroup: var(--sl-caption-md-fontSize-advanced);
  --sl-caption-md-letterSpacing: 2%;
  --sl-caption-md-lineHeight-advanced: var(--sl-computed-advanced-caption-md-lineHeight-advanced);
  --sl-caption-md-lineHeight-developing: var(
    --sl-computed-advanced-caption-md-lineHeight-developing
  );
  --sl-caption-md-lineHeight-early: var(--sl-computed-advanced-caption-md-lineHeight-early);
  --sl-caption-md-lineHeight-userGroup: var(--sl-caption-md-lineHeight-advanced);
  --sl-display-lg-fontSize-advanced: var(--sl-computed-advanced-display-lg-fontSize-advanced);
  --sl-display-lg-fontSize-developing: var(--sl-computed-advanced-display-lg-fontSize-developing);
  --sl-display-lg-fontSize-early: var(--sl-computed-advanced-display-lg-fontSize-early);
  --sl-display-lg-fontSize-userGroup: var(--sl-display-lg-fontSize-advanced);
  --sl-display-lg-letterSpacing: -2%;
  --sl-display-lg-lineHeight-advanced: var(--sl-computed-advanced-display-lg-lineHeight-advanced);
  --sl-display-lg-lineHeight-developing: var(
    --sl-computed-advanced-display-lg-lineHeight-developing
  );
  --sl-display-lg-lineHeight-early: var(--sl-computed-advanced-display-lg-lineHeight-early);
  --sl-display-lg-lineHeight-userGroup: var(--sl-display-lg-lineHeight-advanced);
  --sl-display-lineHeight: 1.225;
  --sl-display-md-fontSize-advanced: var(--sl-computed-advanced-display-md-fontSize-advanced);
  --sl-display-md-fontSize-developing: var(--sl-computed-advanced-display-md-fontSize-developing);
  --sl-display-md-fontSize-early: var(--sl-computed-advanced-display-md-fontSize-early);
  --sl-display-md-fontSize-userGroup: var(--sl-display-md-fontSize-advanced);
  --sl-display-md-letterSpacing: -2%;
  --sl-display-md-lineHeight-advanced: var(--sl-computed-advanced-display-md-lineHeight-advanced);
  --sl-display-md-lineHeight-developing: var(
    --sl-computed-advanced-display-md-lineHeight-developing
  );
  --sl-display-md-lineHeight-early: var(--sl-computed-advanced-display-md-lineHeight-early);
  --sl-display-md-lineHeight-userGroup: var(--sl-display-md-lineHeight-advanced);
  --sl-display-sm-fontSize-advanced: var(--sl-computed-advanced-display-sm-fontSize-advanced);
  --sl-display-sm-fontSize-developing: var(--sl-computed-advanced-display-sm-fontSize-developing);
  --sl-display-sm-fontSize-early: var(--sl-computed-advanced-display-sm-fontSize-early);
  --sl-display-sm-fontSize-userGroup: var(--sl-display-sm-fontSize-advanced);
  --sl-display-sm-letterSpacing: -1%;
  --sl-display-sm-lineHeight-advanced: var(--sl-computed-advanced-display-sm-lineHeight-advanced);
  --sl-display-sm-lineHeight-developing: var(
    --sl-computed-advanced-display-sm-lineHeight-developing
  );
  --sl-display-sm-lineHeight-early: var(--sl-computed-advanced-display-sm-lineHeight-early);
  --sl-display-sm-lineHeight-userGroup: var(--sl-display-sm-lineHeight-advanced);
  --sl-heading-lg-fontSize-advanced: var(--sl-computed-advanced-heading-lg-fontSize-advanced);
  --sl-heading-lg-fontSize-developing: var(--sl-computed-advanced-heading-lg-fontSize-developing);
  --sl-heading-lg-fontSize-early: var(--sl-computed-advanced-heading-lg-fontSize-early);
  --sl-heading-lg-fontSize-userGroup: var(--sl-heading-lg-fontSize-advanced);
  --sl-heading-lg-letterSpacing: -1%;
  --sl-heading-lg-lineHeight-advanced: var(--sl-computed-advanced-heading-lg-lineHeight-advanced);
  --sl-heading-lg-lineHeight-developing: var(
    --sl-computed-advanced-heading-lg-lineHeight-developing
  );
  --sl-heading-lg-lineHeight-early: var(--sl-computed-advanced-heading-lg-lineHeight-early);
  --sl-heading-lg-lineHeight-userGroup: var(--sl-heading-lg-lineHeight-advanced);
  --sl-heading-lineHeight: 1.225;
  --sl-heading-md-fontSize-advanced: var(--sl-computed-advanced-heading-md-fontSize-advanced);
  --sl-heading-md-fontSize-developing: var(--sl-computed-advanced-heading-md-fontSize-developing);
  --sl-heading-md-fontSize-early: var(--sl-computed-advanced-heading-md-fontSize-early);
  --sl-heading-md-fontSize-userGroup: var(--sl-heading-md-fontSize-advanced);
  --sl-heading-md-letterSpacing: -1%;
  --sl-heading-md-lineHeight-advanced: var(--sl-computed-advanced-heading-md-lineHeight-advanced);
  --sl-heading-md-lineHeight-developing: var(
    --sl-computed-advanced-heading-md-lineHeight-developing
  );
  --sl-heading-md-lineHeight-early: var(--sl-computed-advanced-heading-md-lineHeight-early);
  --sl-heading-md-lineHeight-userGroup: var(--sl-heading-md-lineHeight-advanced);
  --sl-heading-sm-fontSize-advanced: var(--sl-computed-advanced-heading-sm-fontSize-advanced);
  --sl-heading-sm-fontSize-developing: var(--sl-computed-advanced-heading-sm-fontSize-developing);
  --sl-heading-sm-fontSize-early: var(--sl-computed-advanced-heading-sm-fontSize-early);
  --sl-heading-sm-fontSize-userGroup: var(--sl-heading-sm-fontSize-advanced);
  --sl-heading-sm-letterSpacing: 0%;
  --sl-heading-sm-lineHeight-advanced: var(--sl-computed-advanced-heading-sm-lineHeight-advanced);
  --sl-heading-sm-lineHeight-developing: var(
    --sl-computed-advanced-heading-sm-lineHeight-developing
  );
  --sl-heading-sm-lineHeight-early: var(--sl-computed-advanced-heading-sm-lineHeight-early);
  --sl-heading-sm-lineHeight-userGroup: var(--sl-heading-sm-lineHeight-advanced);
  --sl-label-lg-fontSize-advanced: var(--sl-computed-advanced-label-lg-fontSize-advanced);
  --sl-label-lg-fontSize-developing: var(--sl-computed-advanced-label-lg-fontSize-developing);
  --sl-label-lg-fontSize-early: var(--sl-computed-advanced-label-lg-fontSize-early);
  --sl-label-lg-fontSize-userGroup: var(--sl-label-lg-fontSize-advanced);
  --sl-label-lg-letterSpacing: 1%;
  --sl-label-lg-lineHeight-advanced: var(--sl-computed-advanced-label-lg-lineHeight-advanced);
  --sl-label-lg-lineHeight-developing: var(--sl-computed-advanced-label-lg-lineHeight-developing);
  --sl-label-lg-lineHeight-early: var(--sl-computed-advanced-label-lg-lineHeight-early);
  --sl-label-lg-lineHeight-userGroup: var(--sl-label-lg-lineHeight-advanced);
  --sl-label-lineHeight: 1.3;
  --sl-label-md-fontSize-advanced: var(--sl-computed-advanced-label-md-fontSize-advanced);
  --sl-label-md-fontSize-developing: var(--sl-computed-advanced-label-md-fontSize-developing);
  --sl-label-md-fontSize-early: var(--sl-computed-advanced-label-md-fontSize-early);
  --sl-label-md-fontSize-userGroup: var(--sl-label-md-fontSize-advanced);
  --sl-label-md-letterSpacing: 1%;
  --sl-label-md-lineHeight-advanced: var(--sl-computed-advanced-label-md-lineHeight-advanced);
  --sl-label-md-lineHeight-developing: var(--sl-computed-advanced-label-md-lineHeight-developing);
  --sl-label-md-lineHeight-early: var(--sl-computed-advanced-label-md-lineHeight-early);
  --sl-label-md-lineHeight-userGroup: var(--sl-label-md-lineHeight-advanced);
  --sl-label-sm-fontSize-advanced: var(--sl-computed-advanced-label-sm-fontSize-advanced);
  --sl-label-sm-fontSize-developing: var(--sl-computed-advanced-label-sm-fontSize-developing);
  --sl-label-sm-fontSize-early: var(--sl-computed-advanced-label-sm-fontSize-early);
  --sl-label-sm-fontSize-userGroup: var(--sl-label-sm-fontSize-advanced);
  --sl-label-sm-letterSpacing: 2%;
  --sl-label-sm-lineHeight-advanced: var(--sl-computed-advanced-label-sm-lineHeight-advanced);
  --sl-label-sm-lineHeight-developing: var(--sl-computed-advanced-label-sm-lineHeight-developing);
  --sl-label-sm-lineHeight-early: var(--sl-computed-advanced-label-sm-lineHeight-early);
  --sl-label-sm-lineHeight-userGroup: var(--sl-label-sm-lineHeight-advanced);
  --sl-text-lg-fontSize-advanced: var(--sl-computed-advanced-text-lg-fontSize-advanced);
  --sl-text-lg-fontSize-developing: var(--sl-computed-advanced-text-lg-fontSize-developing);
  --sl-text-lg-fontSize-early: var(--sl-computed-advanced-text-lg-fontSize-early);
  --sl-text-lg-fontSize-userGroup: var(--sl-text-lg-fontSize-advanced);
  --sl-text-lg-letterSpacing: 0%;
  --sl-text-lg-lineHeight-advanced: var(--sl-computed-advanced-text-lg-lineHeight-advanced);
  --sl-text-lg-lineHeight-developing: var(--sl-computed-advanced-text-lg-lineHeight-developing);
  --sl-text-lg-lineHeight-early: var(--sl-computed-advanced-text-lg-lineHeight-early);
  --sl-text-lg-lineHeight-userGroup: var(--sl-text-lg-lineHeight-advanced);
  --sl-text-lineHeight: 1.4;
  --sl-text-md-fontSize-advanced: var(--sl-computed-advanced-text-md-fontSize-advanced);
  --sl-text-md-fontSize-developing: var(--sl-computed-advanced-text-md-fontSize-developing);
  --sl-text-md-fontSize-early: var(--sl-computed-advanced-text-md-fontSize-early);
  --sl-text-md-fontSize-userGroup: var(--sl-text-md-fontSize-advanced);
  --sl-text-md-letterSpacing: 0%;
  --sl-text-md-lineHeight-advanced: var(--sl-computed-advanced-text-md-lineHeight-advanced);
  --sl-text-md-lineHeight-developing: var(--sl-computed-advanced-text-md-lineHeight-developing);
  --sl-text-md-lineHeight-early: var(--sl-computed-advanced-text-md-lineHeight-early);
  --sl-text-md-lineHeight-userGroup: var(--sl-text-md-lineHeight-advanced);
  --sl-text-sm-fontSize-advanced: var(--sl-computed-advanced-text-sm-fontSize-advanced);
  --sl-text-sm-fontSize-developing: var(--sl-computed-advanced-text-sm-fontSize-developing);
  --sl-text-sm-fontSize-early: var(--sl-computed-advanced-text-sm-fontSize-early);
  --sl-text-sm-fontSize-userGroup: var(--sl-text-sm-fontSize-advanced);
  --sl-text-sm-letterSpacing: 0%;
  --sl-text-sm-lineHeight-advanced: var(--sl-computed-advanced-text-sm-lineHeight-advanced);
  --sl-text-sm-lineHeight-developing: var(--sl-computed-advanced-text-sm-lineHeight-developing);
  --sl-text-sm-lineHeight-early: var(--sl-computed-advanced-text-sm-lineHeight-early);
  --sl-text-sm-lineHeight-userGroup: var(--sl-text-sm-lineHeight-advanced);
  --sl-title-lg-fontSize-advanced: var(--sl-computed-advanced-title-lg-fontSize-advanced);
  --sl-title-lg-fontSize-developing: var(--sl-computed-advanced-title-lg-fontSize-developing);
  --sl-title-lg-fontSize-early: var(--sl-computed-advanced-title-lg-fontSize-early);
  --sl-title-lg-fontSize-userGroup: var(--sl-title-lg-fontSize-advanced);
  --sl-title-lg-letterSpacing: 0%;
  --sl-title-lg-lineHeight-advanced: var(--sl-computed-advanced-title-lg-lineHeight-advanced);
  --sl-title-lg-lineHeight-developing: var(--sl-computed-advanced-title-lg-lineHeight-developing);
  --sl-title-lg-lineHeight-early: var(--sl-computed-advanced-title-lg-lineHeight-early);
  --sl-title-lg-lineHeight-userGroup: var(--sl-title-lg-lineHeight-advanced);
  --sl-title-lineHeight: 1.3;
  --sl-title-md-fontSize-advanced: var(--sl-computed-advanced-title-md-fontSize-advanced);
  --sl-title-md-fontSize-developing: var(--sl-computed-advanced-title-md-fontSize-developing);
  --sl-title-md-fontSize-early: var(--sl-computed-advanced-title-md-fontSize-early);
  --sl-title-md-fontSize-userGroup: var(--sl-title-md-fontSize-advanced);
  --sl-title-md-letterSpacing: 0%;
  --sl-title-md-lineHeight-advanced: var(--sl-computed-advanced-title-md-lineHeight-advanced);
  --sl-title-md-lineHeight-developing: var(--sl-computed-advanced-title-md-lineHeight-developing);
  --sl-title-md-lineHeight-early: var(--sl-computed-advanced-title-md-lineHeight-early);
  --sl-title-md-lineHeight-userGroup: var(--sl-title-md-lineHeight-advanced);
  --sl-title-sm-fontSize-advanced: var(--sl-computed-advanced-title-sm-fontSize-advanced);
  --sl-title-sm-fontSize-developing: var(--sl-computed-advanced-title-sm-fontSize-developing);
  --sl-title-sm-fontSize-early: var(--sl-computed-advanced-title-sm-fontSize-early);
  --sl-title-sm-fontSize-userGroup: var(--sl-title-sm-fontSize-advanced);
  --sl-title-sm-letterSpacing: 0%;
  --sl-title-sm-lineHeight-advanced: var(--sl-computed-advanced-title-sm-lineHeight-advanced);
  --sl-title-sm-lineHeight-developing: var(--sl-computed-advanced-title-sm-lineHeight-developing);
  --sl-title-sm-lineHeight-early: var(--sl-computed-advanced-title-sm-lineHeight-early);
  --sl-title-sm-lineHeight-userGroup: var(--sl-title-sm-lineHeight-advanced);
}
