[data-user-group='developing'] {
  --sl-base-fontSize: 18px;
  --sl-caption-lg-fontSize-userGroup: var(--sl-caption-lg-fontSize-developing);
  --sl-caption-lg-letterSpacing: 1%;
  --sl-caption-lg-lineHeight-userGroup: var(--sl-caption-lg-lineHeight-developing);
  --sl-caption-lineHeight: 1.5;
  --sl-caption-md-fontSize-userGroup: var(--sl-caption-md-fontSize-developing);
  --sl-caption-md-letterSpacing: 2%;
  --sl-caption-md-lineHeight-userGroup: var(--sl-caption-md-lineHeight-developing);
  --sl-computed-desktop-caption-lg-fontSize-advanced: 16px;
  --sl-computed-desktop-caption-lg-fontSize-developing: 14px;
  --sl-computed-desktop-caption-lg-fontSize-early: 14px;
  --sl-computed-desktop-caption-lg-fontSize-superuser: 16px;
  --sl-computed-desktop-caption-lg-lineHeight-advanced: 24px;
  --sl-computed-desktop-caption-lg-lineHeight-developing: 22px;
  --sl-computed-desktop-caption-lg-lineHeight-early: 22px;
  --sl-computed-desktop-caption-lg-lineHeight-superuser: 24px;
  --sl-computed-desktop-caption-md-fontSize-advanced: 14px;
  --sl-computed-desktop-caption-md-fontSize-developing: 12px;
  --sl-computed-desktop-caption-md-fontSize-early: 14px;
  --sl-computed-desktop-caption-md-fontSize-superuser: 14px;
  --sl-computed-desktop-caption-md-lineHeight-advanced: 22px;
  --sl-computed-desktop-caption-md-lineHeight-developing: 18px;
  --sl-computed-desktop-caption-md-lineHeight-early: 22px;
  --sl-computed-desktop-caption-md-lineHeight-superuser: 22px;
  --sl-computed-desktop-display-lg-fontSize-advanced: 72px;
  --sl-computed-desktop-display-lg-fontSize-developing: 64px;
  --sl-computed-desktop-display-lg-fontSize-early: 60px;
  --sl-computed-desktop-display-lg-fontSize-superuser: 80px;
  --sl-computed-desktop-display-lg-lineHeight-advanced: 92px;
  --sl-computed-desktop-display-lg-lineHeight-developing: 84px;
  --sl-computed-desktop-display-lg-lineHeight-early: 80px;
  --sl-computed-desktop-display-lg-lineHeight-superuser: 104px;
  --sl-computed-desktop-display-md-fontSize-advanced: 64px;
  --sl-computed-desktop-display-md-fontSize-developing: 48px;
  --sl-computed-desktop-display-md-fontSize-early: 60px;
  --sl-computed-desktop-display-md-fontSize-superuser: 72px;
  --sl-computed-desktop-display-md-lineHeight-advanced: 84px;
  --sl-computed-desktop-display-md-lineHeight-developing: 64px;
  --sl-computed-desktop-display-md-lineHeight-early: 80px;
  --sl-computed-desktop-display-md-lineHeight-superuser: 92px;
  --sl-computed-desktop-display-sm-fontSize-advanced: 56px;
  --sl-computed-desktop-display-sm-fontSize-developing: 48px;
  --sl-computed-desktop-display-sm-fontSize-early: 60px;
  --sl-computed-desktop-display-sm-fontSize-superuser: 64px;
  --sl-computed-desktop-display-sm-lineHeight-advanced: 72px;
  --sl-computed-desktop-display-sm-lineHeight-developing: 64px;
  --sl-computed-desktop-display-sm-lineHeight-early: 80px;
  --sl-computed-desktop-display-sm-lineHeight-superuser: 84px;
  --sl-computed-desktop-heading-lg-fontSize-advanced: 44px;
  --sl-computed-desktop-heading-lg-fontSize-developing: 36px;
  --sl-computed-desktop-heading-lg-fontSize-early: 36px;
  --sl-computed-desktop-heading-lg-fontSize-superuser: 52px;
  --sl-computed-desktop-heading-lg-lineHeight-advanced: 60px;
  --sl-computed-desktop-heading-lg-lineHeight-developing: 48px;
  --sl-computed-desktop-heading-lg-lineHeight-early: 48px;
  --sl-computed-desktop-heading-lg-lineHeight-superuser: 72px;
  --sl-computed-desktop-heading-md-fontSize-advanced: 36px;
  --sl-computed-desktop-heading-md-fontSize-developing: 28px;
  --sl-computed-desktop-heading-md-fontSize-early: 28px;
  --sl-computed-desktop-heading-md-fontSize-superuser: 40px;
  --sl-computed-desktop-heading-md-lineHeight-advanced: 48px;
  --sl-computed-desktop-heading-md-lineHeight-developing: 36px;
  --sl-computed-desktop-heading-md-lineHeight-early: 36px;
  --sl-computed-desktop-heading-md-lineHeight-superuser: 56px;
  --sl-computed-desktop-heading-sm-fontSize-advanced: 32px;
  --sl-computed-desktop-heading-sm-fontSize-developing: 24px;
  --sl-computed-desktop-heading-sm-fontSize-early: 28px;
  --sl-computed-desktop-heading-sm-fontSize-superuser: 36px;
  --sl-computed-desktop-heading-sm-lineHeight-advanced: 44px;
  --sl-computed-desktop-heading-sm-lineHeight-developing: 32px;
  --sl-computed-desktop-heading-sm-lineHeight-early: 36px;
  --sl-computed-desktop-heading-sm-lineHeight-superuser: 48px;
  --sl-computed-desktop-label-lg-fontSize-advanced: 18px;
  --sl-computed-desktop-label-lg-fontSize-developing: 18px;
  --sl-computed-desktop-label-lg-fontSize-early: 18px;
  --sl-computed-desktop-label-lg-fontSize-superuser: 18px;
  --sl-computed-desktop-label-lg-lineHeight-advanced: 26px;
  --sl-computed-desktop-label-lg-lineHeight-developing: 26px;
  --sl-computed-desktop-label-lg-lineHeight-early: 26px;
  --sl-computed-desktop-label-lg-lineHeight-superuser: 26px;
  --sl-computed-desktop-label-md-fontSize-advanced: 16px;
  --sl-computed-desktop-label-md-fontSize-developing: 16px;
  --sl-computed-desktop-label-md-fontSize-early: 16px;
  --sl-computed-desktop-label-md-fontSize-superuser: 16px;
  --sl-computed-desktop-label-md-lineHeight-advanced: 22px;
  --sl-computed-desktop-label-md-lineHeight-developing: 22px;
  --sl-computed-desktop-label-md-lineHeight-early: 22px;
  --sl-computed-desktop-label-md-lineHeight-superuser: 22px;
  --sl-computed-desktop-label-sm-fontSize-advanced: 14px;
  --sl-computed-desktop-label-sm-fontSize-developing: 14px;
  --sl-computed-desktop-label-sm-fontSize-early: 14px;
  --sl-computed-desktop-label-sm-fontSize-superuser: 14px;
  --sl-computed-desktop-label-sm-lineHeight-advanced: 20px;
  --sl-computed-desktop-label-sm-lineHeight-developing: 20px;
  --sl-computed-desktop-label-sm-lineHeight-early: 20px;
  --sl-computed-desktop-label-sm-lineHeight-superuser: 20px;
  --sl-computed-desktop-text-lg-fontSize-advanced: 20px;
  --sl-computed-desktop-text-lg-fontSize-developing: 20px;
  --sl-computed-desktop-text-lg-fontSize-early: 20px;
  --sl-computed-desktop-text-lg-fontSize-superuser: 20px;
  --sl-computed-desktop-text-lg-lineHeight-advanced: 32px;
  --sl-computed-desktop-text-lg-lineHeight-developing: 32px;
  --sl-computed-desktop-text-lg-lineHeight-early: 32px;
  --sl-computed-desktop-text-lg-lineHeight-superuser: 32px;
  --sl-computed-desktop-text-md-fontSize-advanced: 18px;
  --sl-computed-desktop-text-md-fontSize-developing: 18px;
  --sl-computed-desktop-text-md-fontSize-early: 18px;
  --sl-computed-desktop-text-md-fontSize-superuser: 18px;
  --sl-computed-desktop-text-md-lineHeight-advanced: 28px;
  --sl-computed-desktop-text-md-lineHeight-developing: 28px;
  --sl-computed-desktop-text-md-lineHeight-early: 28px;
  --sl-computed-desktop-text-md-lineHeight-superuser: 28px;
  --sl-computed-desktop-text-sm-fontSize-advanced: 16px;
  --sl-computed-desktop-text-sm-fontSize-developing: 16px;
  --sl-computed-desktop-text-sm-fontSize-early: 16px;
  --sl-computed-desktop-text-sm-fontSize-superuser: 16px;
  --sl-computed-desktop-text-sm-lineHeight-advanced: 24px;
  --sl-computed-desktop-text-sm-lineHeight-developing: 24px;
  --sl-computed-desktop-text-sm-lineHeight-early: 24px;
  --sl-computed-desktop-text-sm-lineHeight-superuser: 24px;
  --sl-computed-desktop-title-lg-fontSize-advanced: 28px;
  --sl-computed-desktop-title-lg-fontSize-developing: 22px;
  --sl-computed-desktop-title-lg-fontSize-early: 22px;
  --sl-computed-desktop-title-lg-fontSize-superuser: 28px;
  --sl-computed-desktop-title-lg-lineHeight-advanced: 40px;
  --sl-computed-desktop-title-lg-lineHeight-developing: 32px;
  --sl-computed-desktop-title-lg-lineHeight-early: 32px;
  --sl-computed-desktop-title-lg-lineHeight-superuser: 40px;
  --sl-computed-desktop-title-md-fontSize-advanced: 24px;
  --sl-computed-desktop-title-md-fontSize-developing: 24px;
  --sl-computed-desktop-title-md-fontSize-early: 20px;
  --sl-computed-desktop-title-md-fontSize-superuser: 24px;
  --sl-computed-desktop-title-md-lineHeight-advanced: 32px;
  --sl-computed-desktop-title-md-lineHeight-developing: 32px;
  --sl-computed-desktop-title-md-lineHeight-early: 28px;
  --sl-computed-desktop-title-md-lineHeight-superuser: 32px;
  --sl-computed-desktop-title-sm-fontSize-advanced: 20px;
  --sl-computed-desktop-title-sm-fontSize-developing: 24px;
  --sl-computed-desktop-title-sm-fontSize-early: 20px;
  --sl-computed-desktop-title-sm-fontSize-superuser: 20px;
  --sl-computed-desktop-title-sm-lineHeight-advanced: 28px;
  --sl-computed-desktop-title-sm-lineHeight-developing: 32px;
  --sl-computed-desktop-title-sm-lineHeight-early: 28px;
  --sl-computed-desktop-title-sm-lineHeight-superuser: 28px;
  --sl-computed-mobile-caption-lg-fontSize-advanced: 16px;
  --sl-computed-mobile-caption-lg-fontSize-developing: 14px;
  --sl-computed-mobile-caption-lg-fontSize-early: 14px;
  --sl-computed-mobile-caption-lg-fontSize-superuser: 16px;
  --sl-computed-mobile-caption-lg-lineHeight-advanced: 24px;
  --sl-computed-mobile-caption-lg-lineHeight-developing: 22px;
  --sl-computed-mobile-caption-lg-lineHeight-early: 22px;
  --sl-computed-mobile-caption-lg-lineHeight-superuser: 24px;
  --sl-computed-mobile-caption-md-fontSize-advanced: 14px;
  --sl-computed-mobile-caption-md-fontSize-developing: 12px;
  --sl-computed-mobile-caption-md-fontSize-early: 14px;
  --sl-computed-mobile-caption-md-fontSize-superuser: 14px;
  --sl-computed-mobile-caption-md-lineHeight-advanced: 22px;
  --sl-computed-mobile-caption-md-lineHeight-developing: 18px;
  --sl-computed-mobile-caption-md-lineHeight-early: 22px;
  --sl-computed-mobile-caption-md-lineHeight-superuser: 22px;
  --sl-computed-mobile-display-lg-fontSize-advanced: 44px;
  --sl-computed-mobile-display-lg-fontSize-developing: 40px;
  --sl-computed-mobile-display-lg-fontSize-early: 36px;
  --sl-computed-mobile-display-lg-fontSize-superuser: 52px;
  --sl-computed-mobile-display-lg-lineHeight-advanced: 56px;
  --sl-computed-mobile-display-lg-lineHeight-developing: 52px;
  --sl-computed-mobile-display-lg-lineHeight-early: 48px;
  --sl-computed-mobile-display-lg-lineHeight-superuser: 68px;
  --sl-computed-mobile-display-md-fontSize-advanced: 40px;
  --sl-computed-mobile-display-md-fontSize-developing: 32px;
  --sl-computed-mobile-display-md-fontSize-early: 36px;
  --sl-computed-mobile-display-md-fontSize-superuser: 44px;
  --sl-computed-mobile-display-md-lineHeight-advanced: 52px;
  --sl-computed-mobile-display-md-lineHeight-developing: 40px;
  --sl-computed-mobile-display-md-lineHeight-early: 48px;
  --sl-computed-mobile-display-md-lineHeight-superuser: 56px;
  --sl-computed-mobile-display-sm-fontSize-advanced: 32px;
  --sl-computed-mobile-display-sm-fontSize-developing: 32px;
  --sl-computed-mobile-display-sm-fontSize-early: 36px;
  --sl-computed-mobile-display-sm-fontSize-superuser: 40px;
  --sl-computed-mobile-display-sm-lineHeight-advanced: 40px;
  --sl-computed-mobile-display-sm-lineHeight-developing: 40px;
  --sl-computed-mobile-display-sm-lineHeight-early: 48px;
  --sl-computed-mobile-display-sm-lineHeight-superuser: 52px;
  --sl-computed-mobile-heading-lg-fontSize-advanced: 32px;
  --sl-computed-mobile-heading-lg-fontSize-developing: 26px;
  --sl-computed-mobile-heading-lg-fontSize-early: 24px;
  --sl-computed-mobile-heading-lg-fontSize-superuser: 36px;
  --sl-computed-mobile-heading-lg-lineHeight-advanced: 44px;
  --sl-computed-mobile-heading-lg-lineHeight-developing: 36px;
  --sl-computed-mobile-heading-lg-lineHeight-early: 32px;
  --sl-computed-mobile-heading-lg-lineHeight-superuser: 48px;
  --sl-computed-mobile-heading-md-fontSize-advanced: 28px;
  --sl-computed-mobile-heading-md-fontSize-developing: 24px;
  --sl-computed-mobile-heading-md-fontSize-early: 20px;
  --sl-computed-mobile-heading-md-fontSize-superuser: 28px;
  --sl-computed-mobile-heading-md-lineHeight-advanced: 36px;
  --sl-computed-mobile-heading-md-lineHeight-developing: 32px;
  --sl-computed-mobile-heading-md-lineHeight-early: 28px;
  --sl-computed-mobile-heading-md-lineHeight-superuser: 36px;
  --sl-computed-mobile-heading-sm-fontSize-advanced: 28px;
  --sl-computed-mobile-heading-sm-fontSize-developing: 22px;
  --sl-computed-mobile-heading-sm-fontSize-early: 20px;
  --sl-computed-mobile-heading-sm-fontSize-superuser: 28px;
  --sl-computed-mobile-heading-sm-lineHeight-advanced: 36px;
  --sl-computed-mobile-heading-sm-lineHeight-developing: 28px;
  --sl-computed-mobile-heading-sm-lineHeight-early: 28px;
  --sl-computed-mobile-heading-sm-lineHeight-superuser: 36px;
  --sl-computed-mobile-label-lg-fontSize-advanced: 18px;
  --sl-computed-mobile-label-lg-fontSize-developing: 18px;
  --sl-computed-mobile-label-lg-fontSize-early: 18px;
  --sl-computed-mobile-label-lg-fontSize-superuser: 18px;
  --sl-computed-mobile-label-lg-lineHeight-advanced: 26px;
  --sl-computed-mobile-label-lg-lineHeight-developing: 26px;
  --sl-computed-mobile-label-lg-lineHeight-early: 26px;
  --sl-computed-mobile-label-lg-lineHeight-superuser: 26px;
  --sl-computed-mobile-label-md-fontSize-advanced: 16px;
  --sl-computed-mobile-label-md-fontSize-developing: 16px;
  --sl-computed-mobile-label-md-fontSize-early: 16px;
  --sl-computed-mobile-label-md-fontSize-superuser: 16px;
  --sl-computed-mobile-label-md-lineHeight-advanced: 22px;
  --sl-computed-mobile-label-md-lineHeight-developing: 22px;
  --sl-computed-mobile-label-md-lineHeight-early: 22px;
  --sl-computed-mobile-label-md-lineHeight-superuser: 22px;
  --sl-computed-mobile-label-sm-fontSize-advanced: 14px;
  --sl-computed-mobile-label-sm-fontSize-developing: 14px;
  --sl-computed-mobile-label-sm-fontSize-early: 14px;
  --sl-computed-mobile-label-sm-fontSize-superuser: 14px;
  --sl-computed-mobile-label-sm-lineHeight-advanced: 20px;
  --sl-computed-mobile-label-sm-lineHeight-developing: 20px;
  --sl-computed-mobile-label-sm-lineHeight-early: 20px;
  --sl-computed-mobile-label-sm-lineHeight-superuser: 20px;
  --sl-computed-mobile-text-lg-fontSize-advanced: 20px;
  --sl-computed-mobile-text-lg-fontSize-developing: 20px;
  --sl-computed-mobile-text-lg-fontSize-early: 20px;
  --sl-computed-mobile-text-lg-fontSize-superuser: 20px;
  --sl-computed-mobile-text-lg-lineHeight-advanced: 32px;
  --sl-computed-mobile-text-lg-lineHeight-developing: 32px;
  --sl-computed-mobile-text-lg-lineHeight-early: 32px;
  --sl-computed-mobile-text-lg-lineHeight-superuser: 32px;
  --sl-computed-mobile-text-md-fontSize-advanced: 18px;
  --sl-computed-mobile-text-md-fontSize-developing: 18px;
  --sl-computed-mobile-text-md-fontSize-early: 18px;
  --sl-computed-mobile-text-md-fontSize-superuser: 18px;
  --sl-computed-mobile-text-md-lineHeight-advanced: 28px;
  --sl-computed-mobile-text-md-lineHeight-developing: 28px;
  --sl-computed-mobile-text-md-lineHeight-early: 28px;
  --sl-computed-mobile-text-md-lineHeight-superuser: 28px;
  --sl-computed-mobile-text-sm-fontSize-advanced: 16px;
  --sl-computed-mobile-text-sm-fontSize-developing: 16px;
  --sl-computed-mobile-text-sm-fontSize-early: 16px;
  --sl-computed-mobile-text-sm-fontSize-superuser: 16px;
  --sl-computed-mobile-text-sm-lineHeight-advanced: 24px;
  --sl-computed-mobile-text-sm-lineHeight-developing: 24px;
  --sl-computed-mobile-text-sm-lineHeight-early: 24px;
  --sl-computed-mobile-text-sm-lineHeight-superuser: 24px;
  --sl-computed-mobile-title-lg-fontSize-advanced: 24px;
  --sl-computed-mobile-title-lg-fontSize-developing: 20px;
  --sl-computed-mobile-title-lg-fontSize-early: 22px;
  --sl-computed-mobile-title-lg-fontSize-superuser: 24px;
  --sl-computed-mobile-title-lg-lineHeight-advanced: 32px;
  --sl-computed-mobile-title-lg-lineHeight-developing: 28px;
  --sl-computed-mobile-title-lg-lineHeight-early: 32px;
  --sl-computed-mobile-title-lg-lineHeight-superuser: 32px;
  --sl-computed-mobile-title-md-fontSize-advanced: 24px;
  --sl-computed-mobile-title-md-fontSize-developing: 20px;
  --sl-computed-mobile-title-md-fontSize-early: 20px;
  --sl-computed-mobile-title-md-fontSize-superuser: 22px;
  --sl-computed-mobile-title-md-lineHeight-advanced: 32px;
  --sl-computed-mobile-title-md-lineHeight-developing: 28px;
  --sl-computed-mobile-title-md-lineHeight-early: 28px;
  --sl-computed-mobile-title-md-lineHeight-superuser: 32px;
  --sl-computed-mobile-title-sm-fontSize-advanced: 20px;
  --sl-computed-mobile-title-sm-fontSize-developing: 20px;
  --sl-computed-mobile-title-sm-fontSize-early: 20px;
  --sl-computed-mobile-title-sm-fontSize-superuser: 20px;
  --sl-computed-mobile-title-sm-lineHeight-advanced: 28px;
  --sl-computed-mobile-title-sm-lineHeight-developing: 28px;
  --sl-computed-mobile-title-sm-lineHeight-early: 28px;
  --sl-computed-mobile-title-sm-lineHeight-superuser: 28px;
  --sl-computed-tablet-caption-lg-fontSize-advanced: 16px;
  --sl-computed-tablet-caption-lg-fontSize-developing: 14px;
  --sl-computed-tablet-caption-lg-fontSize-early: 14px;
  --sl-computed-tablet-caption-lg-fontSize-superuser: 16px;
  --sl-computed-tablet-caption-lg-lineHeight-advanced: 24px;
  --sl-computed-tablet-caption-lg-lineHeight-developing: 22px;
  --sl-computed-tablet-caption-lg-lineHeight-early: 22px;
  --sl-computed-tablet-caption-lg-lineHeight-superuser: 24px;
  --sl-computed-tablet-caption-md-fontSize-advanced: 14px;
  --sl-computed-tablet-caption-md-fontSize-developing: 12px;
  --sl-computed-tablet-caption-md-fontSize-early: 14px;
  --sl-computed-tablet-caption-md-fontSize-superuser: 14px;
  --sl-computed-tablet-caption-md-lineHeight-advanced: 22px;
  --sl-computed-tablet-caption-md-lineHeight-developing: 18px;
  --sl-computed-tablet-caption-md-lineHeight-early: 22px;
  --sl-computed-tablet-caption-md-lineHeight-superuser: 22px;
  --sl-computed-tablet-display-lg-fontSize-advanced: 64px;
  --sl-computed-tablet-display-lg-fontSize-developing: 52px;
  --sl-computed-tablet-display-lg-fontSize-early: 44px;
  --sl-computed-tablet-display-lg-fontSize-superuser: 72px;
  --sl-computed-tablet-display-lg-lineHeight-advanced: 84px;
  --sl-computed-tablet-display-lg-lineHeight-developing: 68px;
  --sl-computed-tablet-display-lg-lineHeight-early: 56px;
  --sl-computed-tablet-display-lg-lineHeight-superuser: 92px;
  --sl-computed-tablet-display-md-fontSize-advanced: 56px;
  --sl-computed-tablet-display-md-fontSize-developing: 40px;
  --sl-computed-tablet-display-md-fontSize-early: 44px;
  --sl-computed-tablet-display-md-fontSize-superuser: 64px;
  --sl-computed-tablet-display-md-lineHeight-advanced: 72px;
  --sl-computed-tablet-display-md-lineHeight-developing: 52px;
  --sl-computed-tablet-display-md-lineHeight-early: 56px;
  --sl-computed-tablet-display-md-lineHeight-superuser: 84px;
  --sl-computed-tablet-display-sm-fontSize-advanced: 44px;
  --sl-computed-tablet-display-sm-fontSize-developing: 40px;
  --sl-computed-tablet-display-sm-fontSize-early: 44px;
  --sl-computed-tablet-display-sm-fontSize-superuser: 52px;
  --sl-computed-tablet-display-sm-lineHeight-advanced: 56px;
  --sl-computed-tablet-display-sm-lineHeight-developing: 52px;
  --sl-computed-tablet-display-sm-lineHeight-early: 56px;
  --sl-computed-tablet-display-sm-lineHeight-superuser: 68px;
  --sl-computed-tablet-heading-lg-fontSize-advanced: 40px;
  --sl-computed-tablet-heading-lg-fontSize-developing: 32px;
  --sl-computed-tablet-heading-lg-fontSize-early: 28px;
  --sl-computed-tablet-heading-lg-fontSize-superuser: 44px;
  --sl-computed-tablet-heading-lg-lineHeight-advanced: 56px;
  --sl-computed-tablet-heading-lg-lineHeight-developing: 44px;
  --sl-computed-tablet-heading-lg-lineHeight-early: 36px;
  --sl-computed-tablet-heading-lg-lineHeight-superuser: 60px;
  --sl-computed-tablet-heading-md-fontSize-advanced: 32px;
  --sl-computed-tablet-heading-md-fontSize-developing: 24px;
  --sl-computed-tablet-heading-md-fontSize-early: 24px;
  --sl-computed-tablet-heading-md-fontSize-superuser: 36px;
  --sl-computed-tablet-heading-md-lineHeight-advanced: 44px;
  --sl-computed-tablet-heading-md-lineHeight-developing: 32px;
  --sl-computed-tablet-heading-md-lineHeight-early: 32px;
  --sl-computed-tablet-heading-md-lineHeight-superuser: 48px;
  --sl-computed-tablet-heading-sm-fontSize-advanced: 28px;
  --sl-computed-tablet-heading-sm-fontSize-developing: 24px;
  --sl-computed-tablet-heading-sm-fontSize-early: 24px;
  --sl-computed-tablet-heading-sm-fontSize-superuser: 32px;
  --sl-computed-tablet-heading-sm-lineHeight-advanced: 36px;
  --sl-computed-tablet-heading-sm-lineHeight-developing: 32px;
  --sl-computed-tablet-heading-sm-lineHeight-early: 32px;
  --sl-computed-tablet-heading-sm-lineHeight-superuser: 44px;
  --sl-computed-tablet-label-lg-fontSize-advanced: 18px;
  --sl-computed-tablet-label-lg-fontSize-developing: 18px;
  --sl-computed-tablet-label-lg-fontSize-early: 18px;
  --sl-computed-tablet-label-lg-fontSize-superuser: 18px;
  --sl-computed-tablet-label-lg-lineHeight-advanced: 26px;
  --sl-computed-tablet-label-lg-lineHeight-developing: 26px;
  --sl-computed-tablet-label-lg-lineHeight-early: 26px;
  --sl-computed-tablet-label-lg-lineHeight-superuser: 26px;
  --sl-computed-tablet-label-md-fontSize-advanced: 16px;
  --sl-computed-tablet-label-md-fontSize-developing: 16px;
  --sl-computed-tablet-label-md-fontSize-early: 16px;
  --sl-computed-tablet-label-md-fontSize-superuser: 16px;
  --sl-computed-tablet-label-md-lineHeight-advanced: 22px;
  --sl-computed-tablet-label-md-lineHeight-developing: 22px;
  --sl-computed-tablet-label-md-lineHeight-early: 22px;
  --sl-computed-tablet-label-md-lineHeight-superuser: 22px;
  --sl-computed-tablet-label-sm-fontSize-advanced: 14px;
  --sl-computed-tablet-label-sm-fontSize-developing: 14px;
  --sl-computed-tablet-label-sm-fontSize-early: 14px;
  --sl-computed-tablet-label-sm-fontSize-superuser: 14px;
  --sl-computed-tablet-label-sm-lineHeight-advanced: 20px;
  --sl-computed-tablet-label-sm-lineHeight-developing: 20px;
  --sl-computed-tablet-label-sm-lineHeight-early: 20px;
  --sl-computed-tablet-label-sm-lineHeight-superuser: 20px;
  --sl-computed-tablet-text-lg-fontSize-advanced: 20px;
  --sl-computed-tablet-text-lg-fontSize-developing: 20px;
  --sl-computed-tablet-text-lg-fontSize-early: 20px;
  --sl-computed-tablet-text-lg-fontSize-superuser: 20px;
  --sl-computed-tablet-text-lg-lineHeight-advanced: 32px;
  --sl-computed-tablet-text-lg-lineHeight-developing: 32px;
  --sl-computed-tablet-text-lg-lineHeight-early: 32px;
  --sl-computed-tablet-text-lg-lineHeight-superuser: 32px;
  --sl-computed-tablet-text-md-fontSize-advanced: 18px;
  --sl-computed-tablet-text-md-fontSize-developing: 18px;
  --sl-computed-tablet-text-md-fontSize-early: 18px;
  --sl-computed-tablet-text-md-fontSize-superuser: 18px;
  --sl-computed-tablet-text-md-lineHeight-advanced: 28px;
  --sl-computed-tablet-text-md-lineHeight-developing: 28px;
  --sl-computed-tablet-text-md-lineHeight-early: 28px;
  --sl-computed-tablet-text-md-lineHeight-superuser: 28px;
  --sl-computed-tablet-text-sm-fontSize-advanced: 16px;
  --sl-computed-tablet-text-sm-fontSize-developing: 16px;
  --sl-computed-tablet-text-sm-fontSize-early: 16px;
  --sl-computed-tablet-text-sm-fontSize-superuser: 16px;
  --sl-computed-tablet-text-sm-lineHeight-advanced: 24px;
  --sl-computed-tablet-text-sm-lineHeight-developing: 24px;
  --sl-computed-tablet-text-sm-lineHeight-early: 24px;
  --sl-computed-tablet-text-sm-lineHeight-superuser: 24px;
  --sl-computed-tablet-title-lg-fontSize-advanced: 24px;
  --sl-computed-tablet-title-lg-fontSize-developing: 24px;
  --sl-computed-tablet-title-lg-fontSize-early: 22px;
  --sl-computed-tablet-title-lg-fontSize-superuser: 24px;
  --sl-computed-tablet-title-lg-lineHeight-advanced: 32px;
  --sl-computed-tablet-title-lg-lineHeight-developing: 32px;
  --sl-computed-tablet-title-lg-lineHeight-early: 32px;
  --sl-computed-tablet-title-lg-lineHeight-superuser: 32px;
  --sl-computed-tablet-title-md-fontSize-advanced: 24px;
  --sl-computed-tablet-title-md-fontSize-developing: 24px;
  --sl-computed-tablet-title-md-fontSize-early: 20px;
  --sl-computed-tablet-title-md-fontSize-superuser: 24px;
  --sl-computed-tablet-title-md-lineHeight-advanced: 32px;
  --sl-computed-tablet-title-md-lineHeight-developing: 32px;
  --sl-computed-tablet-title-md-lineHeight-early: 28px;
  --sl-computed-tablet-title-md-lineHeight-superuser: 32px;
  --sl-computed-tablet-title-sm-fontSize-advanced: 20px;
  --sl-computed-tablet-title-sm-fontSize-developing: 24px;
  --sl-computed-tablet-title-sm-fontSize-early: 20px;
  --sl-computed-tablet-title-sm-fontSize-superuser: 20px;
  --sl-computed-tablet-title-sm-lineHeight-advanced: 28px;
  --sl-computed-tablet-title-sm-lineHeight-developing: 32px;
  --sl-computed-tablet-title-sm-lineHeight-early: 28px;
  --sl-computed-tablet-title-sm-lineHeight-superuser: 28px;
  --sl-display-lg-fontSize-userGroup: var(--sl-display-lg-fontSize-developing);
  --sl-display-lg-letterSpacing: -2%;
  --sl-display-lg-lineHeight-userGroup: var(--sl-display-lg-lineHeight-developing);
  --sl-display-lineHeight: 1.3;
  --sl-display-md-fontSize-userGroup: var(--sl-display-md-fontSize-developing);
  --sl-display-md-letterSpacing: -2%;
  --sl-display-md-lineHeight-userGroup: var(--sl-display-md-lineHeight-developing);
  --sl-display-sm-fontSize-userGroup: var(--sl-display-sm-fontSize-developing);
  --sl-display-sm-letterSpacing: -1%;
  --sl-display-sm-lineHeight-userGroup: var(--sl-display-sm-lineHeight-developing);
  --sl-heading-lg-fontSize-userGroup: var(--sl-heading-lg-fontSize-developing);
  --sl-heading-lg-letterSpacing: -1%;
  --sl-heading-lg-lineHeight-userGroup: var(--sl-heading-lg-lineHeight-developing);
  --sl-heading-lineHeight: 1.35;
  --sl-heading-md-fontSize-userGroup: var(--sl-heading-md-fontSize-developing);
  --sl-heading-md-letterSpacing: -1%;
  --sl-heading-md-lineHeight-userGroup: var(--sl-heading-md-lineHeight-developing);
  --sl-heading-sm-fontSize-userGroup: var(--sl-heading-sm-fontSize-developing);
  --sl-heading-sm-letterSpacing: 0%;
  --sl-heading-sm-lineHeight-userGroup: var(--sl-heading-sm-lineHeight-developing);
  --sl-label-lg-fontSize-userGroup: var(--sl-label-lg-fontSize-developing);
  --sl-label-lg-letterSpacing: 1%;
  --sl-label-lg-lineHeight-userGroup: var(--sl-label-lg-lineHeight-developing);
  --sl-label-lineHeight: 1.4;
  --sl-label-md-fontSize-userGroup: var(--sl-label-md-fontSize-developing);
  --sl-label-md-letterSpacing: 1%;
  --sl-label-md-lineHeight-userGroup: var(--sl-label-md-lineHeight-developing);
  --sl-label-sm-fontSize-userGroup: var(--sl-label-sm-fontSize-developing);
  --sl-label-sm-letterSpacing: 2%;
  --sl-label-sm-lineHeight-userGroup: var(--sl-label-sm-lineHeight-developing);
  --sl-text-lg-fontSize-userGroup: var(--sl-text-lg-fontSize-developing);
  --sl-text-lg-letterSpacing: 0%;
  --sl-text-lg-lineHeight-userGroup: var(--sl-text-lg-lineHeight-developing);
  --sl-text-lineHeight: 1.6;
  --sl-text-md-fontSize-userGroup: var(--sl-text-md-fontSize-developing);
  --sl-text-md-letterSpacing: 0%;
  --sl-text-md-lineHeight-userGroup: var(--sl-text-md-lineHeight-developing);
  --sl-text-sm-fontSize-userGroup: var(--sl-text-sm-fontSize-developing);
  --sl-text-sm-letterSpacing: 0%;
  --sl-text-sm-lineHeight-userGroup: var(--sl-text-sm-lineHeight-developing);
  --sl-title-lg-fontSize-userGroup: var(--sl-title-lg-fontSize-developing);
  --sl-title-lg-letterSpacing: 0%;
  --sl-title-lg-lineHeight-userGroup: var(--sl-title-lg-lineHeight-developing);
  --sl-title-lineHeight: 1.4;
  --sl-title-md-fontSize-userGroup: var(--sl-title-md-fontSize-developing);
  --sl-title-md-letterSpacing: 0%;
  --sl-title-md-lineHeight-userGroup: var(--sl-title-md-lineHeight-developing);
  --sl-title-sm-fontSize-userGroup: var(--sl-title-sm-fontSize-developing);
  --sl-title-sm-letterSpacing: 0%;
  --sl-title-sm-lineHeight-userGroup: var(--sl-title-sm-lineHeight-developing);
}
