@use 'sass:list';

$sizes: md, lg;
$variants: default, valid, invalid;
$variant-selectors: ':not([show-validity])', '[show-validity="valid"]', '[show-validity="invalid"]';
$resize-types: none, both, horizontal, vertical, auto;

:host {
  align-items: start;
  background: var(--sl-color-background-input-plain);
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-input);
  border-radius: var(--sl-size-borderRadius-default);
  display: flex;
  gap: var(--sl-space-100);
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-space-offset-focused);
  position: relative;
}

:host(:focus-within) {
  outline-color: var(--sl-color-border-focused);
}

@media (prefers-reduced-motion: no-preference) {
  :host(:focus-within) {
    transition: 200ms ease-in-out;
    transition-property: background, border, color, outline-color;
  }
}

// @each $size in $sizes {
//   :host([size='#{$size}']) {
//     --_font: var(--sl-text-input-text-field-text-#{$size});
//     --_gap: var(--sl-space-text-field-gap-#{$size});
//     --_padding: var(--sl-space-input-text-field-block-#{$size})
//       calc(
//         var(--sl-space-input-text-field-inline-#{$size}) +
//           var(--sl-space-input-text-field-gap-#{$size}) +
//           var(--sl-size-icon-#{$size})
//       )
//       var(--sl-space-input-text-field-block-#{$size})
//       var(--sl-space-input-text-field-inline-#{$size});
//     --_right: var(--sl-space-input-text-field-inline-#{$size});
//     --_top: var(--sl-space-input-text-field-block-#{$size});

//     // TODO: needs to be removed in the future when lh unit will be supported for Firefox as well
//     @supports not (min-height: 1lh) {
//       --_min-height: calc(var(--sl-text-area-rows) * var(--sl-text-typeset-line-height-#{$size}));
//     }
//   }
// }

// @each $resize in $resize-types {
//   :host([resize='#{$resize}']) slot[name='textarea']::slotted(textarea) {
//     @if $resize == auto {
//       resize: none;
//     } @else {
//       resize: $resize;
//     }
//   }
// }

// @each $variant in $variants {
//   $i: list.index($variants, $variant);
//   $variant-selector: list.nth($variant-selectors, $i);

//   :host(#{$variant-selector}) {
//     --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-default-icon);
//     --_background: var(--sl-color-input-text-field-#{$variant}-default-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-default-border);
//     --_color: var(--sl-color-input-text-field-#{$variant}-default-input-text);
//     --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-default-placeholder);
//   }

//   :host(#{$variant-selector}:hover) {
//     --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-hover-icon);
//     --_background: var(--sl-color-input-text-field-#{$variant}-hover-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-hover-border);
//     --_color: var(--sl-color-input-text-field-#{$variant}-hover-input-text);
//     --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-hover-placeholder);
//   }

//   :host(#{$variant-selector}:active:not([disabled])) {
//     --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-active-icon);
//     --_background: var(--sl-color-input-text-field-#{$variant}-active-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-active-border);
//     --_color: var(--sl-color-input-text-field-#{$variant}-active-input-text);
//     --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-active-placeholder);
//   }

//   :host(#{$variant-selector}:focus-within:not([disabled])) {
//     --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-focus-icon);
//     --_background: var(--sl-color-input-text-field-#{$variant}-focus-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-focus-border);
//     --_color: var(--sl-color-input-text-field-#{$variant}-focus-input-text);
//     --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-focus-placeholder);
//   }

//   slot[name='textarea']::slotted(textarea) {
//     &:focus-visible {
//       --_color: var(--sl-color-input-text-field-#{$variant}-focus-input-text);
//     }
//   }

//   :host(#{$variant-selector}[disabled]) {
//     --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-disabled-icon);
//     --_background: var(--sl-color-input-text-field-#{$variant}-disabled-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-disabled-border);
//     --_color: var(--sl-color-input-text-field-#{$variant}-disabled-input-text);
//     --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-disabled-placeholder);
//   }
// }

:host([disabled]) {
  background: var(--sl-color-background-disabled);
  color: var(--sl-color-text-disabled);
  cursor: default;
  pointer-events: none;
}

slot[name='textarea']::slotted(textarea) {
  appearance: none;
  background: none;
  border: 0;
  box-sizing: content-box;
  color: currentcolor;
  flex: 1;
  font: inherit;
  margin: 0;
  min-block-size: calc(var(--sl-text-area-rows, 3) * 1lh);
  outline: none;
  padding-block: calc(var(--sl-size-075) - var(--sl-size-borderWidth-subtle));
  padding-inline: calc(var(--sl-size-150) - var(--sl-size-borderWidth-subtle));

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--sl-color-text-muted);
    opacity: 1;
  }
}

slot[name='suffix'] sl-icon {
  --sl-icon-fill-default: inherit;

  inset-block-start: var(--_top);
  inset-inline-end: var(--_right);
  position: absolute;
}
