.ds-tokens__color {
  border: 1px solid var(--ds-color-light-grey); // TODO: dark mode
  border-radius: 8px;
  height: 8rem;
  width: 8rem;
}

.ds-tokens__description {
  text-transform: capitalize;
}
