:host {
  align-items: center;
  display: flex;
  font-weight: var(--sl-text-typeset-fontWeight-regular);
  gap: var(--sl-size-100);
  inline-size: 100%;
  min-inline-size: 0;
  padding: var(--sl-size-075) var(--sl-size-200);
}

sl-search-field,
sl-select {
  inline-size: 100%;
  min-inline-size: 0;
}
