:host {
  --_active-color: var(--sl-color-input-option-default-checked-default-background);
  --_gap: 0.25rem;
  --_icon-color: currentcolor;

  display: block;
  inline-size: 100%;
}

:host([active]) {
  --_icon-color: var(--_active-color);
}

.toggle {
  box-sizing: border-box;
  font-weight: var(--_header-font-weight);
  inline-size: 100%;
  justify-content: space-between;
  padding-inline: var(--_header-padding-inline);
}

sl-popover {
  --_padding: 0;

  padding: 0;
}

header {
  align-items: center;
  border-block-end: 1px solid var(--sl-color-elevation-border-raised);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}

h1 {
  font: var(--sl-text-body-md-normal);
  margin: 0;

  span {
    text-transform: lowercase;
  }
}

sl-checkbox-group,
sl-text-field {
  margin: 0.5rem;
}
