:host {
  --_gap: 0.25rem;
}

:host {
  display: block;
  width: 100%;
}

.wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--_gap);
  inline-size: 100%;
  justify-content: space-between;
}
