:host {
  --_border: var(--_border-width) solid var(--_border-color);
  --_border-color: #eee;
  --_border-width: 1px;
  --_border-radius: 3px;
  --_cell-background: #fff;
  --_cell-border: 1px solid #eee;
  --_cell-padding-block: 0.5rem;
  --_cell-padding-inline: 1rem;
  --_drag-handle-inline-size: 28px;
  --_drop-target-background: rgb(255 105 180);
  --_font: var(--sl-text-body-md-normal);
  --_group-background: #eee;
  --_header-background: #f9f9f9;
  --_header-font-weight: 600;
  --_header-padding-block: 0.5rem;
  --_header-padding-inline: 1rem;
  --_selected-background: #338bff0f;
  --_striped-background: #f9f9f9;

  display: block;
  font: var(--_font);
}

:host([items-group-by]) {
  --_first-cell-padding-inline-start: 28px;
}

:host([no-border]) {
  --_border: none;
}

:host([no-row-border]) {
  --_cell-border: none;
}

:host([striped]) tr[part~='odd'] {
  --_cell-background: var(--_striped-background);
}

table {
  display: flex;
  flex-direction: column;
  inline-size: fit-content;
  min-inline-size: 100%;
}

thead,
tbody {
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-sizing: border-box;
}

thead {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  inset-block-start: 0;
  max-inline-size: var(--sl-grid-width);
  overflow-x: hidden;
  position: sticky;
  z-index: 1;
}

tbody {
  border-block-start: 0;
  border-start-end-radius: 0;
  border-start-start-radius: 0;
  max-inline-size: var(--sl-grid-width);
  min-block-size: calc(var(--sl-grid-tbody-min-height) + var(--_border-width));
  overflow-x: auto;
}

tr {
  display: flex;
  inline-size: max(var(--sl-grid-row-width), 100%);
  margin: 0;

  &:last-of-type {
    --_cell-border: 0;
  }

  &[part~='group'] {
    z-index: 1; // Ensure drag handles don't "shine through" group headers
  }

  &[part~='selected'] {
    --_cell-background: var(--_selected-background);
  }

  &.drop-target {
    z-index: 1;
  }

  &.drop-target-on-top {
    --_cell-background: var(--_drop-target-background);
  }
}

th,
td {
  align-items: center;
  background: var(--_cell-background);
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--_cell-padding-block) var(--_cell-padding-inline);

  &:first-of-type:not([part~='drag-handle']) {
    padding-inline-start: calc(var(--_cell-padding-inline) + var(--_first-cell-padding-inline-start, 0px));
  }

  &[part~='selection'] {
    --_cell-padding-block: 0;
    --_cell-padding-inline: 0.5rem;

    inline-size: calc(2 * var(--sl-space-input-option-inline-md) + var(--sl-size-input-md) + 1rem);
  }
}

th {
  --_cell-background: var(--_header-background);
  --_cell-padding-block: var(--_header-padding-block);
  --_cell-padding-inline: var(--_header-padding-inline);

  font-weight: var(--_header-font-weight);
  text-align: start;
}

th[part~='drag-handle'] {
  inline-size: var(--_drag-handle-inline-size);
  padding-inline: 0;
}

th[part~='active-selection'] {
  flex-grow: 1;
}

th[part~='filter'] {
  padding: 0;
}

td {
  border-block-end: var(--_cell-border);
}

td[part~='drag-handle'] {
  cursor: grab;
}

td[part~='group-header'] {
  --_cell-background: var(--_group-background);
  --_cell-padding-block: 0;
  --_cell-padding-inline: 0;

  inline-size: 100%;
}

td[part~='select'],
td[part~='text-field'] {
  --_cell-padding-block: 6px;

  sl-select,
  sl-text-field {
    flex-grow: 1;
  }
}

[part~='drag-handle'] {
  inline-size: var(--_drag-handle-inline-size);
  justify-content: end;
  padding-inline: 0;
}

[part='group-heading'] {
  font-weight: 600;
}

.selection-count {
  font-weight: normal;
}

.selection-toggle {
  align-self: center;
  padding: 6px;
}

.drop-placeholder {
  background: #eee;
  inline-size: 100%;
  inset-block-start: 0;
  position: absolute;
  z-index: 1;
}
