:host {
  --_border: 1px solid #eee;
  --_border-radius: 3px;
  --_cell-background: #fff;
  --_cell-border: 1px solid #eee;
  --_cell-padding-block: 0.5rem;
  --_cell-padding-inline: 1rem;
  --_font: var(--sl-text-body-md-normal);
  --_header-background: #fff;
  --_header-font-weight: 600;
  --_header-padding-block: 0.5rem;
  --_header-padding-inline: 1rem;
  --_selected-background: #338bff0f;
  --_striped-background: #f9f9f9;
}

:host {
  display: block;
  font: var(--_font);
}

:host([no-border]) {
  --_border: none;
}

:host([no-row-border]) {
  --_cell-border: none;
}

:host([striped]) tr[part~='odd'] {
  --_cell-background: var(--_striped-background);
}

table {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: fit-content;
}

thead,
tbody {
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-sizing: border-box;
}

thead {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  inset-block-start: 0;
  max-width: var(--sl-grid-width);
  overflow-x: hidden;
  position: sticky;
  z-index: 1;
}

tbody {
  border-block-start: 0;
  border-start-end-radius: 0;
  border-start-start-radius: 0;
  max-width: var(--sl-grid-width);
  overflow-x: auto;
}

tr {
  display: flex;
  inline-size: max(var(--sl-grid-row-width), 100%);
  margin: 0;

  &[part~='selected'] {
    --_cell-background: var(--_selected-background);
  }
}

th,
td {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  overflow: hidden;
}

th {
  background: var(--_header-background);
  font-weight: var(--_header-font-weight);
  padding: var(--_header-padding-block) var(--_header-padding-inline);

  &[part~='filter'] {
    padding: 0;
  }
}

td {
  background: var(--_cell-background);
  padding: var(--_cell-padding-block) var(--_cell-padding-inline);
}

tr:not(:first-of-type) td {
  border-top: var(--_cell-border);
}

.selection-count {
  font-weight: normal;
}
