:host {
  align-items: center;
  display: flex;
  inline-size: 100%;
}

:host(.sticky-start-first),
:host(.sticky-start-last) {
  [part='actions'] {
    inset-inline-end: var(--sl-size-150);
    position: sticky;
  }

  [part='group-heading-wrapper'] {
    flex: 0 0 var(--sl-grid-group-header-sticky-inline-size);
    inline-size: var(--sl-grid-group-header-sticky-inline-size);
    inset-inline-start: 0;
    position: sticky;
  }
}

:host(.sticky-start-last) [part='group-heading-wrapper']::after {
  background: var(--sl-grid-group-header-sticky-start-shadow);
  content: var(--sl-grid-group-header-sticky-start-shadow-content, none);
  inline-size: 1rem;
  inset: 0 -1rem 0 auto;
  position: absolute;
  z-index: 1;
}

:host([collapsed]) sl-button sl-icon {
  rotate: -90deg;
}

[part~='drag-handle'] {
  align-items: center;
  align-self: stretch;
  cursor: grab;
  display: inline-flex;
  inline-size: var(--sl-size-600);
  justify-content: center;
  user-select: none;
}

[part='checkbox'] {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: var(--sl-size-050) var(--sl-size-175);
}

sl-button {
  margin-inline-start: var(--sl-size-150);

  sl-icon {
    @media (prefers-reduced-motion: no-preference) {
      transition: rotate 0.2s ease-in-out;
    }
  }
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: var(--sl-size-100);
  justify-content: space-between;
  padding-inline-end: var(--sl-size-150);
}

[part='actions'],
[part='group-heading-wrapper'] {
  align-items: center;
  display: flex;
}

[part='actions'] {
  background: var(--sl-elevation-surface-raised-sunken);
}

[part='group-heading'] {
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
  margin-inline-start: var(--sl-size-100);
  padding-block: var(--sl-size-125);
}
