:host {
  --_direction-color: var(--sl-color-text-disabled);
  --_gap: 0.5rem;

  cursor: pointer;
  display: inline-flex;
  gap: var(--_gap);
}

:host([direction]) {
  --_direction-color: var(--sl-color-text-default);
}

.direction {
  align-items: center;
  display: inline-flex;
}

sl-icon {
  color: var(--_direction-color);
}
