$transition-timing: 300ms;

.ds-code {
  margin-bottom: 2.4rem;
  position: relative;

  pre {
    border: 1px solid var(--code-border);
    border-radius: 0 0 0.6rem 0.6rem;
    border-top: 0;
    margin: 0;
  }
}

.ds-code__copy-button {
  background-color: var(--copy-button-background);
  background-image: var(--copy-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4rem;
  border: 1px solid var(--copy-button-border);
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 3.2rem;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 3.2rem;

  &::before {
    background-color: var(--copy-button-background--hover);
    background-image: var(--copy-icon--hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    border: 1px solid var(--ds-color-blue);
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    content: '';
    height: 3.2rem;
    left: -1px;
    opacity: 0;
    position: absolute;
    top: -1px;
    transform: none;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-transition: opacity 300ms; /* Safari */
    transition: opacity 300ms;
    width: 3.2rem;
  }

  &:hover::before {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-animation: 300ms FadeIn;
    animation: 300ms FadeIn;
    opacity: 1;
  }

  &:active::before {
    background-color: var(--copy-button-background--active);
    background-image: var(--copy-icon--hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    border: 1px solid var(--ds-color-blue);
    box-shadow: none;
    content: '';
    height: 3.2rem;
    left: -1px;
    opacity: 1;
    position: absolute;
    top: -1px;
    width: 3.2rem;
  }

  &:active {
    box-shadow: none;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ds-example {
  align-items: center;
  background: var(--copy-button-background);
  border: 1px solid var(--code-border);
  border-radius: 0.6rem 0.6rem 0 0;
  display: flex;
  justify-content: center;
  min-height: 16rem;
}

code[class*='language-'],
pre[class*='language-'] {
  background: none;
  color: var(--text-color);
  font-family: 'source-code-pro', monospace;
  font-size: 1.2rem;
  hyphens: none;
  line-height: 1.5;
  padding: 2.4rem 2rem;
  tab-size: 4;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*='language-'] {
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--background-color);
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3rem;
  padding: 0.1rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab; // TODO: change these colours in the future
}

.token.punctuation {
  color: var(--text-color);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--highlight-color);
}

.token.boolean,
.token.number {
  color: #00e0e0; // TODO: change these colours in the future
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--highlight-color);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0; // TODO: change these colours in the future
}

.token.atrule,
.token.attr-value,
.token.function {
  color: var(--text-color);
}

.token.keyword {
  color: #00e0e0; // TODO: change these colours in the future
}

.token.regex,
.token.important {
  color: #ffd700; // TODO: change these colours in the future
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
  code[class*='language-'],
  pre[class*='language-'] {
    background: window;
    color: windowText;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
