.ds-table {
  border: 1px solid var(--code-border);
  border-radius: 6px;
  margin: 8px auto;

  table {
    border-collapse: collapse;
    font-size: 1.2rem;
    line-height: 130%;
    width: 100%;
  }

  thead {
    background: var(--copy-button-background);
    border: 1px solid var(--code-border);
    padding: 8px 16px;
    text-align: left;
  }

  th,
  td {
    padding: 8px 16px;
  }
}
