@import './../breakpoints';

//$tab-count: 5;
//$slider-selector: "~ .slider";
//
//@mixin tabs(
//  $slider-selector: $slider-selector) {
//
//  @for $i from 1 through $tab-count {
//    &.active:nth-of-type(#{$i}) {
//      #{$slider-selector} {
//        transform: translateX(#{100% * ($i - 1)});
//      }
//    }
//  }
//}

.ds-tabs__container {
  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  margin: auto -24px;
  overflow-x: hidden;
  position: sticky;
  top: 78px; //88px;
  ////margin: 0 calc(-1 * var(--margin)) calc(-1 * var(--border-width)) calc(-1 * var(--margin));
  //overflow-x: scroll;
  ////padding: var(--margin) 0 calc(var(--spacing) + var(--indicator-size));
  //scrollbar-width: none;
}

.ds-tabs__container--sticky {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  //background-color: var(--background-color);
}

.ds-tabs {
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // TODO: only for sticky and for the whole navbar
  font-size: 20px;
  //margin: 1.6rem 0;
  //overflow: hidden;
  //position: sticky;
  //top: 88px;
}

.ds-tab {
  background: none;
  border: 0;
  // @include tabs;
  color: var(--tab-color); //rgba(34, 34, 34, 0.6);
  cursor: pointer;
  font-size: 14px; // TODO: change all to rem
  font-weight: 600;
  line-height: 18px;
  padding: 3px;
  text-decoration: none;
  transition: color 300ms linear;

  &.active:not(:focus-visible) {
    //@include tabs;
    //box-shadow: 0 2px var(--ds-color-blue); // inset 0 -0.175em #fff, inset 0 -0.3em #36f;
    color: var(--tab-color--active); //#222;

    //&:after {
    //  background: var(--highlight-color);
    //  content: "";
    //  height: 4rem;
    //  left: 0;
    //  position: absolute;
    //  top: 0;
    //  width: 4px;
    //}
  }

  &:hover {
    color: var(--tab-color--hover); //#000;
  }

  &:focus-visible {
    border-radius: 0.3rem;
  }
}

.ds-tabs-wrapper {
  //background-color: var(--background-color); //var(--background-color);
  display: flex; // inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.3rem 0;
  //margin: 1.6rem 0;
  //flex-wrap: wrap;
  //position: sticky;
  //top: 0;
  //margin: 0 calc(-1 * var(--margin)) calc(-1 * var(--border-width)) calc(-1 * var(--margin));
  overflow-x: scroll;
  //padding: var(--margin) 0 calc(var(--spacing) + var(--indicator-size));
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ds-tabs-wrapper--scrollable {
  justify-content: flex-start;
}

.ds-tabs-wrapper.fixed {
  position: fixed;
  top: 86px;
}

.slider {
  position: relative;
  //width: #{100%/$tab-count};
  transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);

  .indicator {
    background-color: var(--tab-indicator-background); //var(--ds-color-blue); //$accent;
    border-radius: 1px;
    //margin: 0 auto;
    height: 2px; //$indicator-height;
    max-width: 100%;
    position: relative;
    transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
    width: 50px; //$indicator-width;
  }
}

.ds-tabs__tab-content--active {
  display: block;
}

.ds-tabs__tab-content--hidden {
  display: none;
}

.ds-tabs__tab-content:not(.ds-tabs__tab-content--active) {
  display: none;
}

@media screen and (min-width: $lg-breakpoint) {
  //.ds-tabs {
  //  top: 0;
  //}

  .ds-tabs__container {
    //position: sticky;
    //top: 0;
    margin: auto;
    top: 0;
  }
}
