@import './../breakpoints';

$transition-timing: 300ms;

.ds-tabs {
  font-size: 2rem;
}

.ds-tabs__container {
  background-color: var(--background-color);
  margin: auto -2.4rem;
  overflow-x: hidden;
  padding-top: 16px;
  position: sticky;
  top: -1px;
  /* padding-top: 78px; */
  //padding-top: calc(78px + 1px);
  transition: padding-top $transition-timing;
  //top: 78px;
  z-index: 1;
}

//.is-pinned {
//  background-color: red;
//  padding-top: calc(78px + 1px);
//}

.ds-tabs__container--sticky {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05); //0 4px 4px rgba(0, 0, 0, 0.2);
  padding-top: calc(78px + 1px);
}

.ds-tab {
  background: none;
  border: 0;
  color: var(--tab-color);
  cursor: pointer;
  font-size: 1.4rem; // TODO: change all to rem
  font-weight: 600;
  line-height: 18px;
  margin: 0.3rem;
  padding: 0;
  text-decoration: none;
  transition: color $transition-timing linear;

  &.active:not(:focus-visible) {
    color: var(--tab-color--active);
  }

  &:hover {
    color: var(--tab-color--hover);
  }

  &:focus-visible {
    border-radius: 0.3rem;
  }
}

.ds-tab--vertical {
  background: none;
  border: 0;
  color: var(--tab-color);
  cursor: pointer;
  //line-height: 24px;
  font-size: 1.4rem; // TODO: change all to rem
  //font-size: 1.2rem; // TODO: change all to rem
  font-weight: 400;
  line-height: 2rem;
  //padding-left: 8px;
  padding: 6px 0 6px 8px;
  text-decoration: none;
  transition: color $transition-timing linear;

  &.active:not(:focus-visible) {
    color: var(--highlight-color);
  }

  &:hover {
    color: var(--highlight-color);
  }

  &:focus-visible {
    border-radius: 0.3rem;
    box-shadow: inset var(--focus-box-shadow);
    outline: none;
  }
}

.ds-tab__submenu--vertical {
  background: none;
  border: 0;
  color: var(--tab-color);
  cursor: pointer;
  font-size: 1.4rem; // TODO: change all to rem
  font-weight: 400;
  line-height: 18px;
  margin: 0.3rem;
  padding-left: 16px;
  text-decoration: none;
  transition: color $transition-timing linear;

  &.active:not(:focus-visible) {
    color: var(--tab-color--active);
  }

  &:hover {
    color: var(--tab-color--hover);
  }

  &:focus-visible {
    border-radius: 0.3rem;
  }
}

.ds-tabs-wrapper {
  //justify-content: center;
  column-gap: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  padding-left: 2.4rem;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

//.ds-tabs/*[horizontal]:not([vertical])*/ {
//  .ds-tabs-wrapper {
//    justify-content: flex-start;
//    padding-left: 2.4rem; //7.2rem;
//  }
//}

.ds-tabs-wrapper--scrollable {
  justify-content: flex-start;
}

.ds-tabs-wrapper.fixed {
  // TODO: not necessary???
  position: fixed;
  top: 86px;
}

.slider {
  position: relative;
  transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);

  .indicator {
    background-color: var(--tab-indicator-background);
    border-radius: 1px;
    height: 2px;
    max-width: 100%;
    position: relative;
    transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
    width: 50px; //$indicator-width;
  }
}

.vertical-slider {
  background-color: var(--vertical-slider-background); //var(--ds-color-light-silver); // --ds-color-tundora
  position: relative;
  //width: #{100%/$tab-count};
  transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);

  //.vertical-indicator {
  //  background-color: var(--tab-indicator-background); //var(--ds-color-blue); //$accent;
  //  border-radius: 1px;
  //  //margin: 0 auto;
  //  height: 2px; //$indicator-height;
  //  max-width: 100%;
  //  position: relative;
  //  transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
  //  width: 50px; //$indicator-width;
  //}
}

.ds-tabs__tab-content-wrapper {
  padding: 1.2rem 0;
}

.ds-tabs__tab-content--active {
  display: block;
  animation: {
    direction: normal;
    duration: $transition-timing;
    iteration-count: 1;
    name: tabContent;
    timing-function: ease-in-out;
  }

  section {
    &:not(:first-child) {
      margin-top: 2.4rem;
      //background-color: #1f97f9;
    }
  }

  h3 {
    margin-top: 2.4rem;
  }
}

.ds-tabs__tab-content--hidden {
  display: none;
}

.ds-tabs__tab-content:not(.ds-tabs__tab-content--active) {
  display: none;
}

.ds-tabs[vertical] {
  display: none;

  .ds-tabs__container {
    display: none;
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .ds-tabs-wrapper {
    justify-content: flex-start;
    padding-left: 7.2rem;
  }

  .ds-tabs__container {
    margin: auto -7.2rem;
    padding-top: 16px; //0;
    // margin: auto;
    //top: 0;
    top: -1px;
  }

  //.is-pinned {
  //  background-color: red;
  //  padding-top: 1px; //calc(16px + 1px);
  //}

  .ds-tabs__container--sticky {
    //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    //padding-top: calc(78px + 1px);
    padding-top: 1px;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-tabs__tab-content {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 7fr 1fr;
  }

  .ds-tabs[vertical] {
    display: block;

    /* stylelint-disable-next-line max-nesting-depth */
    .ds-tabs-wrapper {
      flex-direction: column;
      padding-left: 0;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        content: 'CONTENTS';
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        margin-bottom: 8px;
        margin-left: 8px;
      }
    }

    .ds-tabs__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      overflow: hidden;
      padding-top: 0;
      top: 15%;
    }

    .vertical-indicator {
      background-color: var(--tab-indicator-background);
      border-radius: 1px;
      height: 100%;
      position: relative;
      transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
      width: 2px;
    }
  }
}

@keyframes tabContent {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
