$sizes: 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl';
$variants: default, 'white', accent, info, danger, success, warning;

:host {
  --spinner-size: unset;
  --_color: currentColor;
  --_shadow-opacity: var(--sl-opacity-spinner-shadow);
  --_spin-duration: 20s;
  --_rotate-duration: calc(var(--_spin-duration) * 4);
  block-size: var(--spinner-size, var(--_spinner-size));
  display: inline-block;
  inline-size: var(--spinner-size, var(--_spinner-size));
  vertical-align: middle;
}

svg g {
  animation: spin var(--_rotate-duration) linear infinite;
  transform-origin: center center;
}

svg path {
  animation: spin var(--_spin-duration) cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
  transform-origin: center center;
}

@each $variant in $variants {
  :host([variant='#{$variant}']) {
    --_color: var(--sl-color-spinner-#{$variant});
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_spinner-size: var(--sl-size-spinner-#{$size});
  }
}

@media (prefers-reduced-motion: no-preference) {
  :host {
    --_spin-duration: 1200ms;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
