$sizes: 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl';
$variants: default, 'white', accent, info, danger, success, warning;

:host {
  --sl-spinner-size: var(--sl-size-spinner-md);
  --_color: currentcolor;
  --_shadow-opacity: var(--sl-opacity-spinner-shadow);
  --_spin-duration: 20s;
  --_rotate-duration: calc(var(--_spin-duration) * 4);

  block-size: var(--sl-spinner-size);
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--sl-spinner-size);
  vertical-align: middle;

  @media (prefers-reduced-motion: no-preference) {
    --_spin-duration: 1200ms;
  }
}

@each $variant in $variants {
  :host([variant='#{$variant}']) {
    --_color: var(--sl-color-spinner-#{$variant});
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --sl-spinner-size: var(--sl-size-spinner-#{$size});
  }
}

svg {
  g {
    animation: spin var(--_rotate-duration) linear infinite;
    transform-origin: center center;
  }

  path {
    animation: spin var(--_spin-duration) cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    transform-origin: center center;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
