:host {
  --sl-spinner-size: var(--sl-size-200);
  --_color: currentcolor;
  --_rotate-duration: calc(var(--_spin-duration) * 4);
  --_shadow-opacity: var(--sl-opacity-subtle);
  --_spin-duration: 20s;

  block-size: var(--sl-spinner-size);
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--sl-spinner-size);
  vertical-align: middle;

  @media (prefers-reduced-motion: no-preference) {
    --_spin-duration: 1200ms;
  }
}

:host([size='xs']) {
  --sl-spinner-size: var(--sl-size-150);
}

:host([size='sm']) {
  --sl-spinner-size: var(--sl-size-175);
}

:host([size='lg']) {
  --sl-spinner-size: var(--sl-size-250);
}

:host([size='xl']) {
  --sl-spinner-size: var(--sl-size-300);
}

:host([size='2xl']) {
  --sl-spinner-size: var(--sl-size-400);
}

:host([size='3xl']) {
  --sl-spinner-size: var(--sl-size-600);
}

:host([size='4xl']) {
  --sl-spinner-size: var(--sl-size-800);
}

svg {
  g.slow {
    animation: spin var(--_rotate-duration) linear infinite;
  }

  g.fast {
    animation: spin var(--_spin-duration) cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
