/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-box-shadow-none: 0px 0px 0px 0px transparent;
  --sl-box-shadow-focus: 0px 0px 0px 3px rgba(var(--sl-color-palette-info-base)/var(--sl-opacity-500));
  --sl-body-surface-200: rgb(var(--sl-color-palette-neutral-150));
  --sl-body-surface-100: rgb(var(--sl-color-palette-neutral-100));
  --sl-body-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-body-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-label-icon-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-label-text-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-helper-icon-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-helper-text-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-valid-disabled-icon: rgb(var(--sl-color-palette-success-150));
  --sl-color-text-field-valid-disabled-label: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-valid-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-text-field-valid-active-background: rgba(var(--sl-color-palette-success-base) / var(--sl-opacity-100));
  --sl-color-text-field-valid-hover-background: rgba(var(--sl-color-palette-success-base) / var(--sl-opacity-300));
  --sl-color-text-field-valid-default-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-text-field-valid-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-text-field-invalid-disabled-placeholder: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-invalid-disabled-icon: rgb(var(--sl-color-palette-danger-150));
  --sl-color-text-field-invalid-disabled-label: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-invalid-disabled-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-text-field-invalid-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-text-field-invalid-active-background: rgba(var(--sl-color-palette-danger-base) / var(--sl-opacity-100));
  --sl-color-text-field-invalid-hover-background: rgba(var(--sl-color-palette-danger-base) / var(--sl-opacity-300));
  --sl-color-text-field-invalid-default-icon: rgb(var(--sl-color-palette-danger-400));
  --sl-color-text-field-invalid-default-border: rgb(var(--sl-color-palette-danger-300));
  --sl-color-text-field-invalid-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-text-field-default-disabled-placeholder: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-default-disabled-input-text: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-default-disabled-icon: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-text-field-default-disabled-label: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-text-field-default-disabled-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-text-field-default-active-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-text-field-default-active-background: rgba(var(--sl-color-palette-accent-base) / var(--sl-opacity-100));
  --sl-color-text-field-default-hover-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-text-field-default-hover-background: rgba(var(--sl-color-palette-accent-base) / var(--sl-opacity-300));
  --sl-color-text-field-default-default-placeholder: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-text-field-default-default-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-text-field-default-default-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-text-field-default-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-valid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-valid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-valid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-input-valid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-valid-checked-focus-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-valid-checked-active-background: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-valid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-valid-checked-hover-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-input-valid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-valid-checked-default-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-disabled-icon: rgb(var(--sl-color-palette-success-150));
  --sl-color-input-valid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-valid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-valid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-valid-unchecked-focus-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-valid-unchecked-focus-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-active-icon: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-valid-unchecked-active-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-active-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-input-valid-unchecked-hover-icon: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-hover-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-hover-background: rgb(var(--sl-color-palette-success-50));
  --sl-color-input-valid-unchecked-default-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-valid-unchecked-default-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-invalid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-invalid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-invalid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-input-invalid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-invalid-checked-focus-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-invalid-checked-active-background: rgb(var(--sl-color-palette-danger-600));
  --sl-color-input-invalid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-invalid-checked-hover-background: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-invalid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-invalid-checked-default-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-unchecked-disabled-icon: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-invalid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-invalid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-invalid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-invalid-unchecked-focus-icon: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-invalid-unchecked-focus-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-unchecked-active-icon: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-invalid-unchecked-active-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-unchecked-active-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-input-invalid-unchecked-hover-icon: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-invalid-unchecked-hover-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-unchecked-hover-background: rgb(var(--sl-color-palette-danger-50));
  --sl-color-input-invalid-unchecked-default-icon: rgb(var(--sl-color-palette-danger-400));
  --sl-color-input-invalid-unchecked-default-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-invalid-unchecked-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-default-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-default-checked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-default-checked-disabled-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-input-default-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-default-checked-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-default-checked-active-background: rgb(var(--sl-color-palette-primary-600));
  --sl-color-input-default-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-default-checked-hover-background: rgb(var(--sl-color-palette-primary-500));
  --sl-color-input-default-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-default-checked-default-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-default-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-default-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-default-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-default-unchecked-focus-icon: rgb(var(--sl-color-palette-accent-400));
  --sl-color-input-default-unchecked-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-unchecked-focus-background: rgba(var(--sl-color-palette-accent-base) / var(--sl-opacity-100));
  --sl-color-input-default-unchecked-active-icon: rgb(var(--sl-color-palette-accent-700));
  --sl-color-input-default-unchecked-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-unchecked-active-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-input-default-unchecked-hover-icon: rgb(var(--sl-color-palette-accent-500));
  --sl-color-input-default-unchecked-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-unchecked-hover-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-input-default-unchecked-default-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-default-unchecked-default-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-default-unchecked-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-surface-solid-accent-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-accent-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-surface-solid-secondary-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-surface-solid-secondary-background: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-surface-solid-primary-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-surface-solid-primary-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-danger-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-focus-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-active-foreground: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-link-active-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-hover-foreground: rgb(var(--sl-color-palette-danger-500));
  --sl-color-button-danger-link-hover-background: rgb(var(--sl-color-palette-danger-50));
  --sl-color-button-danger-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-idle-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-danger-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-danger-outline-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-outline-focus-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-focus-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-active-border: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-outline-active-foreground: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-outline-active-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-outline-hover-border: rgb(var(--sl-color-palette-danger-500));
  --sl-color-button-danger-outline-hover-foreground: rgb(var(--sl-color-palette-danger-500));
  --sl-color-button-danger-outline-hover-background: rgb(var(--sl-color-palette-danger-50));
  --sl-color-button-danger-outline-idle-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-idle-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-danger-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-default-focus-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-default-focus-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-default-focus-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-default-active-border: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-default-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-default-active-background: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-default-hover-border: rgb(var(--sl-color-palette-danger-500));
  --sl-color-button-danger-default-hover-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-default-hover-background: rgb(var(--sl-color-palette-danger-500));
  --sl-color-button-danger-default-idle-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-default-idle-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-default-idle-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-warning-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-warning-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-focus-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-active-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-active-background: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-hover-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-link-hover-background: rgb(var(--sl-color-palette-warning-50));
  --sl-color-button-warning-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-idle-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-warning-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-warning-outline-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-outline-focus-border: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-focus-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-active-border: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-active-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-active-background: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-outline-hover-border: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-hover-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-hover-background: rgb(var(--sl-color-palette-warning-50));
  --sl-color-button-warning-outline-idle-border: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-idle-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-warning-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-default-focus-border: rgb(var(--sl-color-palette-warning-base));
  --sl-color-button-warning-default-focus-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-focus-background: rgb(var(--sl-color-palette-warning-base));
  --sl-color-button-warning-default-active-border: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-default-active-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-active-background: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-default-hover-border: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-default-hover-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-hover-background: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-default-idle-border: rgb(var(--sl-color-palette-warning-base));
  --sl-color-button-warning-default-idle-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-idle-background: rgb(var(--sl-color-palette-warning-base));
  --sl-color-button-success-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-success-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-focus-foreground: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-active-foreground: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-link-active-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-hover-foreground: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-link-hover-background: rgb(var(--sl-color-palette-success-50));
  --sl-color-button-success-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-idle-foreground: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-success-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-success-outline-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-outline-focus-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-focus-foreground: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-active-border: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-outline-active-foreground: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-outline-active-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-outline-hover-border: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-outline-hover-foreground: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-outline-hover-background: rgb(var(--sl-color-palette-success-50));
  --sl-color-button-success-outline-idle-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-idle-foreground: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-success-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-default-focus-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-default-focus-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-success-default-focus-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-default-active-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-success-default-active-background: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-hover-border: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-default-hover-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-success-default-hover-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-default-idle-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-default-idle-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-success-default-idle-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-primary-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-primary-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-active-foreground: rgb(var(--sl-color-palette-primary-600));
  --sl-color-button-primary-link-active-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-hover-foreground: rgb(var(--sl-color-palette-primary-500));
  --sl-color-button-primary-link-hover-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-primary-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-primary-outline-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-outline-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-border: rgb(var(--sl-color-palette-primary-600));
  --sl-color-button-primary-outline-active-foreground: rgb(var(--sl-color-palette-primary-600));
  --sl-color-button-primary-outline-active-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-outline-hover-border: rgb(var(--sl-color-palette-primary-500));
  --sl-color-button-primary-outline-hover-foreground: rgb(var(--sl-color-palette-primary-500));
  --sl-color-button-primary-outline-hover-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-primary-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-default-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-default-focus-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-default-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-default-active-border: rgb(var(--sl-color-palette-primary-600));
  --sl-color-button-primary-default-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-default-active-background: rgb(var(--sl-color-palette-primary-600));
  --sl-color-button-primary-default-hover-border: rgb(var(--sl-color-palette-primary-500));
  --sl-color-button-primary-default-hover-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-default-hover-background: rgb(var(--sl-color-palette-primary-500));
  --sl-color-button-primary-default-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-default-idle-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-default-idle-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-focus-foreground: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-default-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-active-foreground: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-default-link-active-background: rgb(var(--sl-color-palette-accent-100));
  --sl-color-button-default-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-hover-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-link-hover-background: rgb(var(--sl-color-palette-accent-50));
  --sl-color-button-default-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-idle-foreground: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-default-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-outline-focus-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-focus-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-outline-active-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-active-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-outline-active-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-outline-hover-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-hover-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-outline-hover-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-outline-idle-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-idle-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-focus-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-focus-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-default-focus-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-active-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-default-default-active-foreground: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-default-default-active-background: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-default-default-hover-border: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-default-hover-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-default-hover-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-default-idle-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-idle-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-default-default-idle-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-button-outline-danger-disabled: [object Object];
  --sl-button-outline-danger-focus: [object Object];
  --sl-button-outline-danger-active: [object Object];
  --sl-button-outline-danger-hover: [object Object];
  --sl-button-outline-danger-idle: [object Object];
  --sl-button-outline-warning-disabled: [object Object];
  --sl-button-outline-warning-focus: [object Object];
  --sl-button-outline-warning-active: [object Object];
  --sl-button-outline-warning-hover: [object Object];
  --sl-button-outline-warning-idle: [object Object];
  --sl-button-outline-success-disabled: [object Object];
  --sl-button-outline-success-focus: [object Object];
  --sl-button-outline-success-active: [object Object];
  --sl-button-outline-success-hover: [object Object];
  --sl-button-outline-success-idle: [object Object];
  --sl-button-outline-primary-disabled: [object Object];
  --sl-button-outline-primary-focus: [object Object];
  --sl-button-outline-primary-active: [object Object];
  --sl-button-outline-primary-hover: [object Object];
  --sl-button-outline-primary-idle: [object Object];
  --sl-button-outline-default-disabled: [object Object];
  --sl-button-outline-default-focus: [object Object];
  --sl-button-outline-default-active: [object Object];
  --sl-button-outline-default-hover: [object Object];
  --sl-button-outline-default-idle: [object Object];
  --sl-button-default-danger-disabled: [object Object];
  --sl-button-default-danger-focus: [object Object];
  --sl-button-default-danger-active: [object Object];
  --sl-button-default-danger-hover: [object Object];
  --sl-button-default-danger-idle: [object Object];
  --sl-button-default-warning-disabled: [object Object];
  --sl-button-default-warning-focus: [object Object];
  --sl-button-default-warning-active: [object Object];
  --sl-button-default-warning-hover: [object Object];
  --sl-button-default-warning-idle: [object Object];
  --sl-button-default-success-disabled: [object Object];
  --sl-button-default-success-focus: [object Object];
  --sl-button-default-success-active: [object Object];
  --sl-button-default-success-hover: [object Object];
  --sl-button-default-success-idle: [object Object];
  --sl-button-default-primary-disabled: [object Object];
  --sl-button-default-primary-focus: [object Object];
  --sl-button-default-primary-active: [object Object];
  --sl-button-default-primary-hover: [object Object];
  --sl-button-default-primary-idle: [object Object];
  --sl-button-default-default-disabled: [object Object];
  --sl-button-default-default-focus: [object Object];
  --sl-button-default-default-active: [object Object];
  --sl-button-default-default-hover: [object Object];
  --sl-button-default-default-idle: [object Object];
  --sl-color-label-icon-invalid: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-label-icon-default: var(--sl-body-foreground);
  --sl-color-label-text-invalid: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-label-text-default: var(--sl-body-foreground);
  --sl-color-helper-icon-invalid: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-helper-icon-default: var(--sl-body-foreground);
  --sl-color-helper-text-invalid: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-helper-text-default: var(--sl-body-foreground);
  --sl-color-text-field-valid-disabled-input-text: var(--sl-color-text-field-default-disabled-input-text);
  --sl-color-text-field-valid-disabled-border: var(--sl-color-text-field-default-disabled-border);
  --sl-color-text-field-valid-focus-icon: var(--sl-color-text-field-valid-default-icon);
  --sl-color-text-field-valid-focus-label: var(--sl-body-foreground);
  --sl-color-text-field-valid-focus-border: var(--sl-color-text-field-default-active-border);
  --sl-color-text-field-valid-focus-background: var(--sl-color-text-field-valid-active-background);
  --sl-color-text-field-valid-active-icon: var(--sl-color-text-field-valid-default-icon);
  --sl-color-text-field-valid-active-label: var(--sl-body-foreground);
  --sl-color-text-field-valid-active-border: var(--sl-color-text-field-default-active-border);
  --sl-color-text-field-valid-hover-icon: var(--sl-color-text-field-valid-default-icon);
  --sl-color-text-field-valid-hover-label: var(--sl-body-foreground);
  --sl-color-text-field-valid-default-label: var(--sl-body-foreground);
  --sl-color-text-field-valid-default-border: var(--sl-color-text-field-default-default-border);
  --sl-color-text-field-invalid-disabled-input-text: var(--sl-color-text-field-default-disabled-input-text);
  --sl-color-text-field-invalid-focus-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-invalid-focus-icon: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-text-field-invalid-focus-label: var(--sl-body-foreground);
  --sl-color-text-field-invalid-focus-border: var(--sl-color-text-field-invalid-default-border);
  --sl-color-text-field-invalid-focus-background: var(--sl-color-text-field-invalid-active-background);
  --sl-color-text-field-invalid-active-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-invalid-active-icon: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-text-field-invalid-active-label: var(--sl-body-foreground);
  --sl-color-text-field-invalid-active-border: var(--sl-color-text-field-invalid-default-border);
  --sl-color-text-field-invalid-hover-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-invalid-hover-icon: var(--sl-color-text-field-invalid-default-icon);
  --sl-color-text-field-invalid-hover-label: var(--sl-body-foreground);
  --sl-color-text-field-invalid-hover-border: var(--sl-color-text-field-invalid-default-border);
  --sl-color-text-field-invalid-default-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-invalid-default-label: var(--sl-body-foreground);
  --sl-color-text-field-default-disabled-background: rgba(var(--sl-body-background) / var(--sl-opacity-200));
  --sl-color-text-field-default-focus-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-default-focus-icon: var(--sl-body-foreground);
  --sl-color-text-field-default-focus-label: var(--sl-body-foreground);
  --sl-color-text-field-default-focus-border: var(--sl-color-text-field-default-active-border);
  --sl-color-text-field-default-focus-background: var(--sl-color-text-field-default-active-background);
  --sl-color-text-field-default-active-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-default-active-icon: var(--sl-body-foreground);
  --sl-color-text-field-default-active-label: var(--sl-body-foreground);
  --sl-color-text-field-default-hover-placeholder: var(--sl-color-text-field-default-default-placeholder);
  --sl-color-text-field-default-hover-label: var(--sl-body-foreground);
  --sl-color-text-field-default-hover-border: var(--sl-color-text-field-default-default-border);
  --sl-color-text-field-default-default-input-text: var(--sl-body-foreground);
  --sl-color-text-field-default-default-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-disabled-border: var(--sl-color-input-valid-checked-disabled-background);
  --sl-color-input-valid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-focus-border: var(--sl-color-input-valid-checked-focus-background);
  --sl-color-input-valid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-active-border: var(--sl-color-input-valid-checked-active-background);
  --sl-color-input-valid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-hover-border: var(--sl-color-input-valid-checked-hover-background);
  --sl-color-input-valid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-default-border: var(--sl-color-input-valid-checked-default-background);
  --sl-color-input-valid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-valid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-disabled-border: var(--sl-color-input-invalid-checked-disabled-background);
  --sl-color-input-invalid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-focus-border: var(--sl-color-input-invalid-checked-focus-background);
  --sl-color-input-invalid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-active-border: var(--sl-color-input-invalid-checked-active-background);
  --sl-color-input-invalid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-hover-border: var(--sl-color-input-invalid-checked-hover-background);
  --sl-color-input-invalid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-default-border: var(--sl-color-input-invalid-checked-default-background);
  --sl-color-input-invalid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-invalid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-disabled-border: var(--sl-color-input-default-checked-disabled-background);
  --sl-color-input-default-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-focus-border: var(--sl-color-input-default-checked-focus-background);
  --sl-color-input-default-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-active-border: var(--sl-color-input-default-checked-active-background);
  --sl-color-input-default-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-hover-border: var(--sl-color-input-default-checked-hover-background);
  --sl-color-input-default-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-default-border: var(--sl-color-input-default-checked-default-background);
  --sl-color-input-default-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-button-danger-link-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-danger-outline-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-warning-link-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-warning-outline-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-success-link-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-success-outline-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-primary-link-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-primary-outline-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-default-link-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-button-default-outline-focus-background: rgba(var(--sl-body-background)/var(--sl-opacity-100));
  --sl-color-text-field-valid-focus-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-valid-active-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-valid-hover-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-valid-hover-border: var(--sl-color-text-field-default-hover-border);
  --sl-color-text-field-valid-default-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-invalid-focus-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-invalid-active-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-invalid-hover-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-invalid-default-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-default-focus-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-default-active-input-text: var(--sl-color-text-field-default-default-input-text);
  --sl-color-text-field-default-hover-input-text: var(--sl-color-text-field-default-default-input-text);
}