$sizes: sm, md, lg, xl, 2xl, 3xl;
$shapes: circle, square;
$statuses: online, offline, away, do-not-disturb;

:host {
  --sl-avatar-status-color-online: var(--sl-color-badge-background-green);
  --sl-avatar-status-color-offline: var(--sl-color-badge-background-neutral);
  --sl-avatar-status-color-away: var(--sl-color-badge-background-yellow);
  --sl-avatar-status-color-do-not-disturb: var(--sl-color-badge-background-red);

  --_avatar-background: var(--sl-color-avatar-background);
  --_avatar-foreground: var(--sl-color-avatar-foreground);
  --_avatar_badge-background-color: var(--sl-color-badge-background-red);
  --_avatar_badge-text-color: var(--sl-color-badge-text);

  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: 1px;

  --_max-width: var(--max-width, 20rem);

  align-items: center;
  display: inline-flex;
  gap: var(--_gap);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_badge-font: var(--sl-text-badge-text-#{$size});
    --_initials-font: var(--sl-text-avatar-initials-#{$size});
    --_header-font: var(--sl-text-avatar-header-#{$size});
    --_subheader-font: var(--sl-text-avatar-subheader-#{$size});
    --_gap: var(--sl-space-avatar-block-#{$size}) var(--sl-space-avatar-inline-#{$size});
  }
}

@each $shape in $shapes {
  :host([shape='#{$shape}']) {
    --_avatar_border-radius: var(--sl-border-radius-avatar-#{$shape});
  }
}

@each $status in $statuses {
  :host([status='#{$status}']) {
    --_avatar_badge-background-color: var(--sl-avatar-status-color-#{$status});
  }
}

picture {
  display: grid;
  flex: 0 0 var(--_picture-size);
  height: var(--_picture-size);
  margin-right: var(--_margin-right);
  margin-top: var(--_margin-top);
  place-content: center;
  position: relative;
  width: var(--_picture-size);

  svg {
    height: inherit;
    object-fit: contain;
    width: inherit;
  }

  text.badge-text {
    font: var(--_badge-font);
    text-anchor: middle;
    text-transform: uppercase;
  }

  text.initials {
    font: var(--_initials-font);
    text-anchor: middle;
    text-transform: uppercase;
  }
}

div {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font: var(--_subheader-font);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  span.header {
    font: var(--_header-font);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:host([orientation='vertical']) {
  flex-direction: column;
  max-width: var(--_max-width);
  text-align: center;

  .header {
    -webkit-box-orient: vertical;
    display: box;
    -webkit-line-clamp: 2;
    max-width: var(--_max-width);
    overflow: hidden;
    white-space: initial;
  }

  slot {
    display: block;
    max-width: var(--_max-width);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
