:host {
  --_gap-block: var(--sl-size-100);
  --_gap-inline: var(--sl-size-100);
  --_heading-fontSize: 1em;
  --_heading-lineHeight: calc((18 / 14) * 1em);
  --_icon-size: var(--sl-size-200);
  --_initials-fontSize: calc((12 / 14) * 1em);
  --_initials-lineHeight: calc((16 / 12) * 1em);
  --_picture-size: var(--sl-size-400);
  --_subheading-fontSize: 1em;
  --_subheading-lineHeight: calc((18 / 14) * 1em);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-md);
  --_badge-margin: var(--sl-space-avatar-badge-margin);

  display: inline-flex;
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
}

:host(:focus-visible) {
  outline-color: var(--sl-color-border-focused);
}

:host([shape='square']) [part='picture'] {
  border-radius: var(--sl-size-borderRadius-default);
}

:host([size='sm']) {
  --_picture-size: var(--sl-size-300);
}

:host([size='sm']),
:host([size='md']) {
  [part='wrapper'] {
    grid-template: 'picture spacer name' auto / auto var(--_gap-inline) 1fr;
  }

  [part='name'] {
    align-self: center;
  }

  slot:not([name]) {
    display: none;
  }
}

:host([size='lg']),
:host([size='xl']),
:host([size='2xl']),
:host([size='3xl']),
:host([size='4xl']) {
  --_gap-inline: var(--sl-size-200);
}

:host([size='lg']) {
  --_icon-size: var(--sl-size-250);
  --_initials-fontSize: 1em;
  --_initials-lineHeight: calc((20 / 14) * 1em);
  --_picture-size: var(--sl-size-500);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-lg);
}

:host([size='xl']),
:host([size='2xl']),
:host([size='3xl']) {
  --_heading-fontSize: calc((16 / 14) * 1em);
  --_heading-lineHeight: calc((20 / 16) * 1em);
}

:host([size='xl']) {
  --_icon-size: var(--sl-size-300);
  --_initials-fontSize: calc((18 / 14) * 1em);
  --_initials-lineHeight: calc((28 / 18) * 1em);
  --_picture-size: var(--sl-size-600);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-xl);
}

:host([size='2xl']) {
  --_icon-size: var(--sl-size-400);
  --_initials-fontSize: calc((24 / 14) * 1em);
  --_initials-lineHeight: calc((34 / 24) * 1em);
  --_picture-size: var(--sl-size-800);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-2xl);
}

:host([size='3xl']) {
  --_icon-size: var(--sl-size-600);
  --_initials-fontSize: calc((32 / 14) * 1em);
  --_initials-lineHeight: calc((34 / 32) * 1em);
  --_picture-size: var(--sl-size-1000);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-3xl);
}

:host([size='4xl']) {
  --_heading-fontSize: calc((24 / 14) * 1em);
  --_heading-lineHeight: 1em;
  --_icon-size: var(--sl-size-800);
  --_initials-fontSize: calc((64 / 14) * 1em);
  --_initials-lineHeight: 1em;
  --_picture-size: calc(2 * var(--sl-size-1000)); // 2 * 80px = 160px
  --_subheading-fontSize: calc((16 / 14) * 1em);
  --_subheading-lineHeight: calc((20 / 16) * 1em);

  // old
  --_badge-inset: var(--sl-space-avatar-badge-inset-4xl);
}

:host([image-only]) {
  border-radius: 50%;

  [part='wrapper'] {
    grid-template: 'picture' auto;
  }
}

:host([vertical]) [part='wrapper'] {
  grid-template: 'picture' auto 'spacer' var(--_gap-block) 'name' auto 'subheader' auto / 1fr;
  justify-items: center;
  text-align: center;

  [part='name'] {
    overflow-wrap: anywhere;
    white-space: initial;
  }
}

[part='wrapper'] {
  align-items: center;
  border-radius: var(--sl-size-borderRadius-default);
  display: grid;
  grid-template: 'picture spacer name' auto 'picture spacer subheader' auto / auto var(--_gap-inline) 1fr;
}

a {
  color: currentcolor;
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  text-decoration: none;

  &:hover [part='name'] {
    color: var(--sl-color-href-hover-foreground);
  }

  &:active [part='name'] {
    color: var(--sl-color-href-active-foreground);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }

  [part='name'] {
    color: var(--sl-color-href-idle-foreground);
    text-decoration: underline;
  }
}

[part='avatar'] {
  border-radius: var(--sl-border-radius-focusring-default);
  display: inline-flex;
  grid-area: picture;
  position: relative;
}

::slotted(sl-badge) {
  inset: var(--_badge-inset) var(--_badge-inset) auto auto;
  position: absolute;
}

[part='picture'] {
  background: var(--sl-color-avatar-background);
  block-size: var(--_picture-size);
  border-radius: 50%;
  color: var(--sl-color-avatar-foreground);
  display: inline-flex;
  inline-size: var(--_picture-size);
  overflow: clip;
}

img {
  block-size: var(--_picture-size);
  inline-size: var(--_picture-size);
  object-fit: cover;
}

slot[name='fallback'] {
  align-items: center;
  display: flex;
  inline-size: 100%;
  justify-content: center;

  &::slotted(*) {
    --sl-icon-size: var(--_icon-size);
  }
}

[part='initials'] {
  font-size: var(--_initials-fontSize);
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
  line-height: var(--_initials-lineHeight);
}

[part='name'] {
  align-self: end;
  display: block;
  font-size: var(--_heading-fontSize);
  grid-area: name;
  line-height: var(--_heading-lineHeight);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

slot:not([name]) {
  align-self: start;
  color: var(--sl-color-avatar-subheader);
  display: block;
  font-size: var(--_subheading-fontSize);
  grid-area: subheader;
  line-height: var(--_subheading-lineHeight);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
