:host {
  --_badge-inset: var(--sl-space-avatar-badge-inset-md);
  --_badge-margin: var(--sl-space-avatar-badge-margin);
  --_block-gap: var(--sl-space-avatar-block-md);
  --_inline-gap: var(--sl-space-avatar-inline-md);
  --_heading-font: var(--sl-text-avatar-header-md);
  --_initials-font: var(--sl-text-avatar-initials-md);
  --_outline: var(--sl-border-width-focusring-default) solid var(--sl-color-focusring-default);
  --_outline-offset: calc(var(--sl-border-width-focusring-offset) * 2);
  --_outline-radius: var(--sl-border-radius-focusring-default);
  --_picture-size: var(--sl-size-avatar-md);
  --_subheading-font: var(--sl-text-avatar-subheader-md);

  display: inline-flex;
  outline: 0;
}

:host(:focus-visible) {
  outline: var(--_outline);
  outline-offset: var(--sl-border-width-focusring-offset);
}

:host([size='sm']) {
  --_block-gap: var(--sl-space-avatar-block-sm);
  --_inline-gap: var(--sl-space-avatar-inline-sm);
  --_heading-font: var(--sl-text-avatar-header-sm);
  --_initials-font: var(--sl-text-avatar-initials-sm);
  --_picture-size: var(--sl-size-avatar-sm);
  --_subheading-font: var(--sl-text-avatar-subheader-sm);

  [part='wrapper'] {
    grid-template: 'picture spacer name' auto / auto var(--_inline-gap) 1fr;
  }

  [part='name'] {
    align-self: center;
  }

  slot:not([name]) {
    display: none;
  }
}

:host([size='lg']) {
  --_badge-inset: var(--sl-space-avatar-badge-inset-lg);
  --_block-gap: var(--sl-space-avatar-block-lg);
  --_inline-gap: var(--sl-space-avatar-inline-lg);
  --_heading-font: var(--sl-text-avatar-header-lg);
  --_initials-font: var(--sl-text-avatar-initials-lg);
  --_picture-size: var(--sl-size-avatar-lg);
  --_subheading-font: var(--sl-text-avatar-subheader-lg);
}

:host([size='xl']) {
  --_badge-inset: var(--sl-space-avatar-badge-inset-xl);
  --_block-gap: var(--sl-space-avatar-block-xl);
  --_inline-gap: var(--sl-space-avatar-inline-xl);
  --_heading-font: var(--sl-text-avatar-header-xl);
  --_initials-font: var(--sl-text-avatar-initials-xl);
  --_picture-size: var(--sl-size-avatar-xl);
  --_subheading-font: var(--sl-text-avatar-subheader-xl);
}

:host([size='2xl']) {
  --_badge-inset: var(--sl-space-avatar-badge-inset-2xl);
  --_block-gap: var(--sl-space-avatar-block-2xl);
  --_inline-gap: var(--sl-space-avatar-inline-2xl);
  --_heading-font: var(--sl-text-avatar-header-2xl);
  --_initials-font: var(--sl-text-avatar-initials-2xl);
  --_picture-size: var(--sl-size-avatar-2xl);
  --_subheading-font: var(--sl-text-avatar-subheader-2xl);
}

:host([size='3xl']) {
  --_badge-inset: var(--sl-space-avatar-badge-inset-3xl);
  --_block-gap: var(--sl-space-avatar-block-3xl);
  --_inline-gap: var(--sl-space-avatar-inline-3xl);
  --_heading-font: var(--sl-text-avatar-header-3xl);
  --_initials-font: var(--sl-text-avatar-initials-3xl);
  --_picture-size: var(--sl-size-avatar-3xl);
  --_subheading-font: var(--sl-text-avatar-subheader-3xl);
}

:host([image-only]) {
  border-radius: 50%;

  [part='wrapper'] {
    grid-template: 'picture' auto;
  }
}

:host([vertical]) [part='wrapper'] {
  grid-template: 'picture' auto 'spacer' var(--_block-gap) 'name' auto 'subheader' auto / 1fr;
  justify-items: center;
  max-inline-size: var(--_max-inline-size);
  text-align: center;

  [part='name'] {
    white-space: initial;
    word-break: break-word;
  }
}

[part='wrapper'] {
  align-items: center;
  border-radius: var(--_outline-radius);
  display: grid;
  grid-template: 'picture spacer name' auto 'picture spacer subheader' auto / auto var(--_inline-gap) 1fr;
}

a {
  color: currentcolor;
  text-decoration: none;

  &:hover [part='name'] {
    color: var(--sl-color-href-hover-foreground);
  }

  &:active [part='name'] {
    color: var(--sl-color-href-active-foreground);
  }

  &:focus-visible {
    outline: var(--_outline);
    outline-offset: var(--_outline-offset);
  }

  [part='name'] {
    color: var(--sl-color-href-idle-foreground);
    text-decoration: underline;
  }
}

[part='avatar'] {
  border-radius: var(--sl-border-radius-focusring-default);
  display: inline-flex;
  grid-area: picture;
  position: relative;
}

::slotted(sl-badge) {
  inset: var(--_badge-inset) var(--_badge-inset) auto auto;
  position: absolute;
}

[part='picture'] {
  background: var(--sl-color-avatar-background);
  block-size: var(--_picture-size);
  border-radius: 50%;
  color: var(--sl-color-avatar-foreground);
  display: inline-flex;
  inline-size: var(--_picture-size);
  overflow: clip;
}

img {
  block-size: var(--_picture-size);
  inline-size: var(--_picture-size);
  object-fit: cover;
}

slot[name='fallback'] {
  align-items: center;
  display: flex;
  inline-size: 100%;
  justify-content: center;
}

[part='initials'] {
  font: var(--_initials-font);
}

[part='name'] {
  align-self: end;
  display: block;
  font: var(--_heading-font);
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

slot:not([name]) {
  align-self: start;
  display: block;
  font: var(--_subheading-font);
  grid-area: subheader;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
