$sizes: sm, md, lg, xl, 2xl, 3xl;
$shapes: circle, square;
$statuses: danger, success, warning, accent, neutral, primary;

:host {
  --_avatar-background: var(--sl-color-avatar-background);
  --_avatar-foreground: var(--sl-color-avatar-foreground);
  --_avatar-badge-background-color: var(--sl-color-badge-danger-background);
  --_avatar-badge-text-color: var(--sl-color-badge-danger-foreground);

  --_focusring-color: transparent;

  --_max-width: var(--max-width, 20rem);

  align-items: center;
  display: inline-flex;
  gap: var(--_gap);
  max-width: 100%;
}

:host(:where(:focus-visible, [active])) {
  --_focusring-color: var(--sl-color-focusring-default);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_badge-font: var(--sl-text-badge-text-#{$size});
    --_initials-font: var(--sl-text-avatar-initials-#{$size});
    --_header-font: var(--sl-text-avatar-header-#{$size});
    --_subheader-font: var(--sl-text-avatar-subheader-#{$size});
    --_gap: var(--sl-space-avatar-block-#{$size}) var(--sl-space-avatar-inline-#{$size});
  }
}

@each $shape in $shapes {
  :host([shape='#{$shape}']) {
    --_avatar_border-radius: var(--sl-border-radius-avatar-#{$shape});
  }
}

@each $status in $statuses {
  :host([status='#{$status}']) {
    --_avatar-badge-background-color: var(--sl-color-badge-#{$status}-background);
    --_avatar-badge-text-color: var(--sl-color-badge-#{$status}-foreground);
  }
}

picture {
  display: grid;
  flex: 0 0 var(--_picture-size);
  height: var(--_picture-size);
  place-content: center;
  position: relative;
  width: var(--_picture-size);

  svg {
    margin-bottom: var(--_margin-bottom);
    margin-left: var(--_margin-left);
    margin-right: var(--_margin-right);
    margin-top: var(--_margin-top);
    pointer-events: none;
  }

  text.badge-text {
    font: var(--_badge-font);
    text-anchor: middle;
    text-transform: uppercase;
  }

  text.initials {
    font: var(--_initials-font);
    text-anchor: middle;
    text-transform: uppercase;
  }
}

div {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font: var(--_subheader-font);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  span,
  slot {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.header {
    font: var(--_header-font);
  }
}

:host([orientation='vertical']) {
  flex-direction: column;
  max-width: var(--_max-width);
  text-align: center;

  .header {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line value-no-vendor-prefix*/
    display: -webkit-box;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-line-clamp: 2;
    max-width: var(--_max-width);
    overflow: hidden;
    white-space: initial;
    word-break: break-word;
  }

  slot {
    display: block;
    max-width: var(--_max-width);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
