:root:not(.light) {
  --background-color: #202124;
  --second-background-color: #4c4d4f;
  --third-background-color: #363739;
  --menu-second-color: #363739;
  --primary-color: #363739;
  --font-color: #fff;
  --secondary-font-color: rgba(226, 232, 240, 1);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --n-color-surface: #363739;
  --n-color-background: #363739;
  --n-color-text-weak: #fff;
  --sl-panel-background-color: transparent;
  --sl-color-neutral-0: #363739;
  --sl-color-neutral-700: #fff;
  --n-color-text: #fff;
  --n-button-background-color: transparent;
  --n-tab-color: #668cff;
  --n-color-text-link: #668cff;
}

:root.light {
  --background-color: #f8f9fa;
  --second-background-color: #041c52;
  --third-background-color: #fff;
  --menu-second-color: rgba(138, 174, 255, 0.2);
  --primary-color: rgba(138, 174, 255, 0.2);
  --font-color: #212529;
  --secondary-font-color: #495057;
  --n-color-surface: rgb(255, 255, 255);
  --n-color-background: rgb(255, 255, 255);
}

.ds-theme-icon {
  align-items: center;
  background-color: var(--primary-color);
  border-color: rgba(226, 232, 240, 0);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  bottom: 16px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 2.5rem;
  justify-content: center;
  left: 16px;
  position: absolute;
  transition: all 500ms;
  width: 2.5rem;
}

:root:not(.light) .ds-icon-light {
  display: none;
}
:root:not(.light) .ds-icon-dark {
  color: #fff;
  display: inline-block;
}

:root.light .ds-icon-light {
  display: inline-block;
}
:root.light .ds-icon-dark {
  display: none;
}

/** basic */
:root {
  --ds-color-white: #ffffff;
}

:not(:defined) {
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}
@media (min-height: 60px) {
  html {
    scroll-padding-top: 70px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background: var(--second-background-color, #041c52);
  color: var(--font-color);
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--font-color);
}

.ds-tab {
  font-size: 16px;
  padding: 16px;
  text-decoration: none;
}
.ds-tab.active {
  box-shadow: inset 0 -0.175em #fff, inset 0 -0.3em #668cff;
  color: #668cff;
}

.ds-tabs-wrapper {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

.ds-tabs-wrapper.fixed {
  position: fixed;
  top: 86px;
}

main {
  background-color: var(--background-color);
  margin-left: 260px;
  padding: 36px 72px 0;
  transition: background 300ms ease-in-out;
  width: 100%;
}

.header-anchor {
  text-decoration: none;
}

.ds-sidebar {
  background: var(--second-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  transition: background 300ms ease-in-out;
  width: 260px;
}
.ds-sidebar .ds-title {
  font-size: 18px;
  margin: 36px 16px 16px;
  /* stylelint-disable-next-line max-nesting-depth */
}
.ds-sidebar .ds-title a {
  color: #eff2fb;
  text-decoration: none;
}
.ds-sidebar .ds-link {
  color: #eff2fb;
  text-decoration: none;
}
.ds-sidebar .ds-list {
  color: #eff2fb;
  list-style: none;
  padding-left: 16px;
  position: relative;
}
.ds-sidebar li {
  padding: 8px 0;
  position: relative;
}
.ds-sidebar .ds-link {
  color: #eff2fb;
  transition: color 300ms;
}
.ds-sidebar .ds-link:hover {
  color: #668cff;
}
.ds-sidebar .ds-link--active,
.ds-sidebar .ds-sub-link--active {
  color: #668cff;
}
.ds-sidebar .ds-link--active::before {
  background: #668cff;
  content: "";
  height: 41px;
  left: -16px;
  position: absolute;
  top: 0;
  width: 2px;
}
.ds-sidebar .ds-search {
  color: var(--ds-color-white);
  background: var(--menu-second-color);
  border: 0;
  border-radius: 3px;
  margin: 8px 16px;
  padding: 8px;
}
.ds-sidebar .ds-sublist {
  display: none;
  list-style: none;
  padding: 8px 0 0 24px;
}
.ds-sidebar .ds-sublist--active {
  display: block;
}
.ds-sidebar .ds-menu--expanded {
  animation: slideDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

.ds-sidebar--searching .ds-search-results {
  display: block;
  overflow-y: auto;
  margin: 16px 0 60px 16px;
  padding: 4px;
  list-style-type: none;
  transition: background 300ms ease-in-out;
  /* stylelint-disable-next-line max-nesting-depth */
}
.ds-sidebar--searching .ds-search-results * {
  color: #ffffff;
  font-size: 14px;
}
.ds-sidebar--searching .ds-list {
  display: none;
}
.ds-sidebar--searching .ds-no-results {
  margin: 16px 0 60px 16px;
  padding: 4px;
  color: #ffffff;
}

.ds-no-results {
  display: none;
}

.ds-search-results {
  display: none;
}

mark {
  background-color: #1e90ff;
  border-radius: 3px;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ds-search-results::-webkit-scrollbar {
  width: 12px;
}

.ds-search-results::-webkit-scrollbar-track {
  transition: background 300ms ease-in-out;
  background: var(--second-background-color);
}

.ds-search-results::-webkit-scrollbar-thumb {
  background-color: var(--menu-second-color);
  border-radius: 20px;
  border: 2px solid var(--second-background-color);
}

/*# sourceMappingURL=main.css.map */
