:root:not(.light) {
  --background-color: #202124;
  --second-background-color: #4c4d4f;
  --third-background-color: #363739;
  --menu-second-color: #363739;
  --primary-color: #363739;
  --font-color: #fff;
  --secondary-font-color: rgba(226, 232, 240, 1);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --n-color-surface: #363739;
  --n-color-background: #363739;
  --n-color-text-weak: #fff;
  --sl-panel-background-color: transparent;
  --sl-color-neutral-0: #363739;
  --sl-color-neutral-700: #fff;
  --n-color-text: #fff;
  --n-button-background-color: transparent;
  --n-tab-color: #668cff;
  --n-color-text-link: #668cff;
}

:root.light {
  --background-color: #f8f9fa;
  --second-background-color: #041c52;
  --third-background-color: #fff;
  --menu-second-color: rgba(138, 174, 255, 0.2);
  --primary-color: rgba(138, 174, 255, 0.2);
  --font-color: #212529;
  --secondary-font-color: #495057;
  --n-color-surface: rgb(255, 255, 255);
  --n-color-background: rgb(255, 255, 255);
}

.ds-theme-icon {
  align-items: center;
  background-color: var(--primary-color);
  border-color: rgba(226, 232, 240, 0);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  bottom: 16px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 2.5rem;
  justify-content: center;
  left: 16px;
  position: absolute;
  transition: all 500ms;
  width: 2.5rem;
}

:root:not(.light) .ds-icon-light {
  display: none;
}
:root:not(.light) .ds-icon-dark {
  color: #fff;
  display: inline-block;
}

:root.light .ds-icon-light {
  display: inline-block;
}
:root.light .ds-icon-dark {
  display: none;
}

:not(:defined) {
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}
@media (min-height: 60px) {
  html {
    scroll-padding-top: 70px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: var(--second-background-color, #041c52);
  color: var(--font-color);
}

a {
  color: var(--font-color);
}

.ds-tab {
  font-size: 16px;
  padding: 16px;
  text-decoration: none;
}
.ds-tab.active {
  box-shadow: inset 0 -0.175em #fff, inset 0 -0.3em #668cff;
  color: #668cff;
}

.ds-tabs-wrapper {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

.ds-tabs-wrapper.fixed {
  position: fixed;
  top: 86px;
}

main {
  background-color: var(--background-color);
  width: 100%;
  margin-left: 260px;
  padding: 36px 72px 0;
  transition: background 300ms ease-in-out;
}

.header-anchor {
  text-decoration: none;
}

.ds-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 260px;
  background: var(--second-background-color);
  transition: background 300ms ease-in-out;
}
.ds-sidebar .ds-title {
  font-size: 18px;
  margin: 36px 16px 16px;
}
.ds-sidebar .ds-title a {
  color: #eff2fb;
  text-decoration: none;
}
.ds-sidebar .ds-link {
  color: #eff2fb;
  text-decoration: none;
}
.ds-sidebar .ds-list {
  list-style: none;
  color: #eff2fb;
  padding-left: 16px;
  position: relative;
}
.ds-sidebar li {
  padding: 8px 0;
  position: relative;
}
.ds-sidebar .ds-link {
  color: #eff2fb;
  transition: color 300ms;
}
.ds-sidebar .ds-link:hover {
  color: #668cff;
}
.ds-sidebar .ds-link--active,
.ds-sidebar .ds-sub-link--active {
  color: #668cff;
}
.ds-sidebar .ds-link--active::before {
  background: #668cff;
  content: "";
  height: 41px;
  left: -16px;
  position: absolute;
  top: 0;
  width: 2px;
}
.ds-sidebar .ds-search {
  background: var(--menu-second-color);
  padding: 8px;
  margin: 8px 16px;
  border-radius: 3px;
  border: none;
}
.ds-sidebar .ds-sublist {
  list-style: none;
  display: none;
  padding: 8px 0 0 24px;
}
.ds-sidebar .ds-sublist--active {
  display: block;
}
.ds-sidebar .ds-menu--expanded {
  animation: slideDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nord-tab-group {
  background: var(--third-background-color);
}

pre {
  background: var(--primary-color);
  padding: 16px;
  border-radius: 3px;
  font-size: 14px;
}

.token.deleted {
  background-color: hsla(350deg, 100%, 88%, 0.47);
}

.token.inserted {
  background-color: hsla(120deg, 73%, 75%, 0.35);
}

.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
}

.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
}

/*# sourceMappingURL=main.css.map */
