:host {
  --_background: #add8e6; //#fff;
  --_border: 0;
  --_border-radius: 3px;
  --_color: #333;
  --_max-width: var(--sl-tooltip-max-width, auto);
  --_padding: 0.5rem 0.75rem;
}

// TODO: use tokens

:host {
  // This has to be in pixels until we can use @property
  --sl-popover-offset: 8px;
  //--sl-tooltip-max-width: auto;

  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  // box-shadow: var(--_box-shadow);
  color: var(--_color);
  margin: 0;
  max-width: var(--_max-width);
  opacity: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: var(--_padding);
}

/* stylelint-disable-next-line selector-class-pattern */
:host(:is(:popover-open, .\\:popover-open)) {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}

:host([actual-placement='bottom']) .arrow {
  inset-block-start: -6px;
  inset-inline-start: 0;
  margin: 0 calc(50% - 16px / 2); // 16px width of arrow SVG
  width: fit-content;
}

:host([actual-placement='bottom-start']) .arrow {
  inset-block-start: -6px;
}

:host([actual-placement='bottom-end']) .arrow {
  inset-block-start: -6px;
  inset-inline-end: 8px;
}

:host([actual-placement='left']) .arrow {
  height: fit-content;
  inset-block: 50%;
  inset-inline-end: -11px;
  rotate: 90deg;
}

:host([actual-placement='left-start']) .arrow {
  inset-block-start: 8px;
  inset-inline-end: -11px;
  rotate: 90deg;
}

:host([actual-placement='left-end']) .arrow {
  inset-block-end: 8px;
  inset-inline-end: -11px;
  rotate: 90deg;
}

:host([actual-placement='right']) .arrow {
  height: fit-content;
  inset-block: 50%;
  inset-inline-start: -11px;
  rotate: -90deg;
}

:host([actual-placement='right-start']) .arrow {
  inset-block-start: 8px;
  inset-inline-start: -11px;
  rotate: -90deg;
}

:host([actual-placement='right-end']) .arrow {
  inset-block-end: 8px;
  inset-inline-start: -11px;
  rotate: -90deg;
}

:host([actual-placement='top']) .arrow {
  inset-block-end: -6px;
  inset-inline-start: 0;
  margin: 0 calc(50% - 16px / 2);
  scale: 1 -1;
  width: fit-content;
}

:host([actual-placement='top-start']) .arrow {
  inset-block-end: -6px;
  inset-inline-start: 8px;
  scale: 1 -1;
}

:host([actual-placement='top-end']) .arrow {
  inset-block-end: -6px;
  inset-inline-end: 8px;
  scale: 1 -1;
}

.arrow {
  display: flex;
  fill: var(--_background);
  position: absolute;
}
