:host {
  --_background: #fff;
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_color: #333;
  --_padding: 0.5rem 0.75rem;
}

:host {
  // This has to be in pixels until we can use @property
  --sl-popover-offset: 8px;

  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  color: var(--_color);
  margin: 0;
  opacity: 0;
  padding: var(--_padding);
}

/* stylelint-disable-next-line selector-class-pattern */
:host(:is(:popover-open, .\\:popover-open)) {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}
