:host {
  --_color: var(--sl-color-input-helper-text-invalid);
  --_font: var(--sl-text-input-helper-text-md);
  --_padding-block: var(--sl-space-input-helper-padding-top-md);
}

:host {
  color: var(--_color);
  display: block;
  font: var(--_font);
  padding-block: var(--_padding-block);
}

:host([hidden]) {
  display: none;
}

:host([size='sm']) {
  --_font: var(--sl-text-input-helper-text-sm);
  --_padding-block: var(--sl-space-input-helper-padding-top-sm) 0;
}

:host([size='lg']) {
  --_font: var(--sl-text-input-helper-text-lg);
  --_padding-block: var(--sl-space-input-helper-padding-top-lg) 0;
}
