:host([disabled]) sl-hint {
  color: var(--sl-color-input-helper-text-disabled);
}

:host([show-validity='invalid']) {
  sl-hint {
    display: none;
  }
}

:host(:not([show-validity='invalid'])) {
  sl-error {
    display: none;
  }
}
