:host([disabled]) sl-hint {
  color: var(--sl-color-input-helper-text-disabled);
}

:host([show-validity='invalid']) {
  sl-error {
    display: block;
  }

  sl-hint {
    display: none;
  }
}

sl-error {
  display: none;
}
