:host {
  --_font: var(--sl-text-input-helper-text-md);

  display: block;
  font: var(--_font);
}

:host([size='sm']) {
  --_font: var(--sl-text-input-helper-text-sm);
}

:host([size='lg']) {
  --_font: var(--sl-text-input-helper-text-lg);
}
