:host {
  align-items: center;
  color: var(--sl-color-text-bold);
  display: inline-flex;
  font-weight: var(--sl-text-typeset-fontWeight-demibold);
}

:host([disabled]) {
  color: var(--sl-color-text-disabled);
}

.optional,
.required {
  margin-inline-start: var(--sl-space-050);
}
