$sizes: sm, md, lg;

:host {
  --_color: var(--sl-body-foreground);
  --_fill: var(--sl-color-input-field-label-icon-default);
}

:host {
  align-items: center;
  color: var(--_color);
  display: inline-flex;
  padding-bottom: var(--_padding-bottom);
}

slot[name='icon']::slotted(sl-icon) {
  fill: var(--_fill);
  margin-left: var(--sl-space-input-field-label-icon-md);
}

:host([disabled]) {
  --_color: var(--sl-color-input-field-label-text-disabled);
  --_fill: var(--sl-color-input-field-label-icon-disabled);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_padding-bottom: var(--sl-space-input-field-label-padding-bottom-#{$size});

    slot[name='label']::slotted(label) {
      font: var(--sl-text-input-field-label-label-#{$size});
    }

    .optional,
    .required {
      font: var(--sl-text-input-field-label-tag-#{$size});
      margin-left: var(--sl-space-input-field-label-gap-#{$size});
    }
  }

  :host([no-padding]) {
    --_padding-bottom: var(--sl-space-input-field-label-padding-bottom-none);
  }
}
