@import './../breakpoints';

.ds-contact-block {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
  margin-bottom: 3.2rem;

  // TODO: add media with different direction
  @media screen and (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}

.ds-contact-block__description {
  font-size: 1.6rem;
  margin: 0.8rem 0;
}

.ds-contact-block__get-in-touch {
  display: flex;
  flex-direction: column;
}
