@import './../breakpoints';

.ds-explore {
  margin-top: 3.2rem;

  @media screen and (min-width: $xl-breakpoint) {
    margin-top: 6rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 2.4rem;
  }

  .ds-heading-2 {
    margin-bottom: 0.8rem;
    transition: color 300ms linear;

    /* stylelint-disable-next-line max-nesting-depth */
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  h3 {
    margin-bottom: 0.8rem;
  }
}

.ds-explore-wrapper {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, 1fr);

  /* stylelint-disable-next-line max-nesting-depth */
  @media screen and (min-width: $md-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }
}

.ds-explore__card {
  cursor: pointer;
  position: relative;

  &:focus-within:not(:active) {
    border-radius: 0.8rem;
    box-shadow: var(--focus-box-shadow);
  }

  &:hover {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-heading-2 {
      color: var(--highlight-color);
    }
  }

  &:active {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-heading-2 {
      color: var(--card-color--active);
    }
  }
}

.ds-explore__card-image {
  background-color: var(--card-background);
  border-radius: 8px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  position: relative;

  &::before {
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 400ms ease-in-out;
    width: 100%;

    /* stylelint-disable-next-line max-nesting-depth */
    @media screen and (prefers-reduced-motion: reduce) {
      /* stylelint-disable-next-line max-nesting-depth */
      transition: none;
    }
  }
}

.ds-explore__components {
  &:hover {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-explore__components-image::before {
      transform: scale(1.2);
    }
  }
}

.ds-explore__design-tokens {
  &:hover {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-explore__design-tokens-image::before {
      transform: scale(1.2);
    }
  }
}

.ds-explore__guidelines {
  &:hover {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-explore__guidelines-image::before {
      transform: scale(1.2);
    }
  }
}

.ds-explore__components-image {
  //background-color: var(--card-background);
  //border-radius: 8px;
  //height: 200px;
  //margin-bottom: 1.6rem;
  //overflow: hidden;
  //position: relative;

  &::before {
    background-image: url('../assets/images/homepage/puzzle.svg');
    //background-position: center;
    //background-repeat: no-repeat;
    //content: '';
    //height: 200px;
    //left: 0;
    //position: absolute;
    //top: 0;
    //transition: 400ms ease-in-out;
    //width: 100%;

    /* stylelint-disable-next-line max-nesting-depth */
    //@media screen and (prefers-reduced-motion: reduce) {
    //  /* stylelint-disable-next-line max-nesting-depth */
    //  transition: none;
    //}
  }
}

.ds-explore__design-tokens-image {
  //background: var(--card-background);
  //border-radius: 8px;
  //height: 200px;
  //margin-bottom: 1.6rem;
  //overflow: hidden;
  //position: relative;

  &::before {
    background-image: url('../assets/images/homepage/slide-design.svg');
    //background-position: center;
    //background-repeat: no-repeat;
    //content: '';
    //height: 200px;
    //left: 0;
    //position: absolute;
    //top: 0;
    //transition: 400ms ease-in-out;
    //width: 100%;

    /* stylelint-disable-next-line max-nesting-depth */
    //@media screen and (prefers-reduced-motion: reduce) {
    //  /* stylelint-disable-next-line max-nesting-depth */
    //  transition: none;
    //}
  }
}

.ds-explore__guidelines-image {
  //background: var(--card-background);
  //border-radius: 8px;
  //height: 200px;
  //margin-bottom: 1.6rem;
  //overflow: hidden;
  //position: relative;

  &::before {
    background-image: url('../assets/images/homepage/slide-design.svg');
    //background-position: center;
    //background-repeat: no-repeat;
    //content: '';
    //height: 200px;
    //left: 0;
    //position: absolute;
    //top: 0;
    //transition: 400ms ease-in-out;
    //width: 100%;

    /* stylelint-disable-next-line max-nesting-depth */
    //@media screen and (prefers-reduced-motion: reduce) {
    //  /* stylelint-disable-next-line max-nesting-depth */
    //  transition: none;
    //}
  }
}
