[data-Device='mobile'] {
  --caption-lg-font-size: var(--caption-lg-font-size-user-group);
  --caption-lg-line-height: var(--caption-lg-line-height-user-group);
  --caption-md-font-size: var(--caption-md-font-size-user-group);
  --caption-md-line-height: var(--caption-md-line-height-user-group);
  --computed-advanced-caption-lg-font-size-advanced: 14px;
  --computed-advanced-caption-lg-font-size-developing: 12px;
  --computed-advanced-caption-lg-font-size-early: 12px;
  --computed-advanced-caption-lg-line-height-advanced: 20px;
  --computed-advanced-caption-lg-line-height-developing: 16px;
  --computed-advanced-caption-lg-line-height-early: 16px;
  --computed-advanced-caption-md-font-size-advanced: 12px;
  --computed-advanced-caption-md-font-size-developing: 10px;
  --computed-advanced-caption-md-font-size-early: 12px;
  --computed-advanced-caption-md-line-height-advanced: 16px;
  --computed-advanced-caption-md-line-height-developing: 14px;
  --computed-advanced-caption-md-line-height-early: 16px;
  --computed-advanced-display-lg-font-size-advanced: 40px;
  --computed-advanced-display-lg-font-size-developing: 36px;
  --computed-advanced-display-lg-font-size-early: 32px;
  --computed-advanced-display-lg-line-height-advanced: 48px;
  --computed-advanced-display-lg-line-height-developing: 44px;
  --computed-advanced-display-lg-line-height-early: 40px;
  --computed-advanced-display-md-font-size-advanced: 36px;
  --computed-advanced-display-md-font-size-developing: 28px;
  --computed-advanced-display-md-font-size-early: 32px;
  --computed-advanced-display-md-line-height-advanced: 44px;
  --computed-advanced-display-md-line-height-developing: 36px;
  --computed-advanced-display-md-line-height-early: 40px;
  --computed-advanced-display-sm-font-size-advanced: 28px;
  --computed-advanced-display-sm-font-size-developing: 28px;
  --computed-advanced-display-sm-font-size-early: 32px;
  --computed-advanced-display-sm-line-height-advanced: 36px;
  --computed-advanced-display-sm-line-height-developing: 36px;
  --computed-advanced-display-sm-line-height-early: 40px;
  --computed-advanced-heading-lg-font-size-advanced: 28px;
  --computed-advanced-heading-lg-font-size-developing: 22px;
  --computed-advanced-heading-lg-font-size-early: 24px;
  --computed-advanced-heading-lg-line-height-advanced: 36px;
  --computed-advanced-heading-lg-line-height-developing: 28px;
  --computed-advanced-heading-lg-line-height-early: 28px;
  --computed-advanced-heading-md-font-size-advanced: 28px;
  --computed-advanced-heading-md-font-size-developing: 22px;
  --computed-advanced-heading-md-font-size-early: 20px;
  --computed-advanced-heading-md-line-height-advanced: 36px;
  --computed-advanced-heading-md-line-height-developing: 28px;
  --computed-advanced-heading-md-line-height-early: 24px;
  --computed-advanced-heading-sm-font-size-advanced: 24px;
  --computed-advanced-heading-sm-font-size-developing: 20px;
  --computed-advanced-heading-sm-font-size-early: 20px;
  --computed-advanced-heading-sm-line-height-advanced: 28px;
  --computed-advanced-heading-sm-line-height-developing: 24px;
  --computed-advanced-heading-sm-line-height-early: 24px;
  --computed-advanced-label-lg-font-size-advanced: 16px;
  --computed-advanced-label-lg-font-size-developing: 16px;
  --computed-advanced-label-lg-font-size-early: 16px;
  --computed-advanced-label-lg-line-height-advanced: 20px;
  --computed-advanced-label-lg-line-height-developing: 20px;
  --computed-advanced-label-lg-line-height-early: 20px;
  --computed-advanced-label-md-font-size-advanced: 14px;
  --computed-advanced-label-md-font-size-developing: 14px;
  --computed-advanced-label-md-font-size-early: 14px;
  --computed-advanced-label-md-line-height-advanced: 18px;
  --computed-advanced-label-md-line-height-developing: 18px;
  --computed-advanced-label-md-line-height-early: 18px;
  --computed-advanced-label-sm-font-size-advanced: 12px;
  --computed-advanced-label-sm-font-size-developing: 12px;
  --computed-advanced-label-sm-font-size-early: 12px;
  --computed-advanced-label-sm-line-height-advanced: 16px;
  --computed-advanced-label-sm-line-height-developing: 16px;
  --computed-advanced-label-sm-line-height-early: 16px;
  --computed-advanced-text-lg-font-size-advanced: 18px;
  --computed-advanced-text-lg-font-size-developing: 18px;
  --computed-advanced-text-lg-font-size-early: 18px;
  --computed-advanced-text-lg-line-height-advanced: 24px;
  --computed-advanced-text-lg-line-height-developing: 24px;
  --computed-advanced-text-lg-line-height-early: 24px;
  --computed-advanced-text-md-font-size-advanced: 16px;
  --computed-advanced-text-md-font-size-developing: 16px;
  --computed-advanced-text-md-font-size-early: 16px;
  --computed-advanced-text-md-line-height-advanced: 24px;
  --computed-advanced-text-md-line-height-developing: 24px;
  --computed-advanced-text-md-line-height-early: 24px;
  --computed-advanced-text-sm-font-size-advanced: 14px;
  --computed-advanced-text-sm-font-size-developing: 14px;
  --computed-advanced-text-sm-font-size-early: 14px;
  --computed-advanced-text-sm-line-height-advanced: 20px;
  --computed-advanced-text-sm-line-height-developing: 20px;
  --computed-advanced-text-sm-line-height-early: 20px;
  --computed-advanced-title-lg-font-size-advanced: 24px;
  --computed-advanced-title-lg-font-size-developing: 18px;
  --computed-advanced-title-lg-font-size-early: 20px;
  --computed-advanced-title-lg-line-height-advanced: 32px;
  --computed-advanced-title-lg-line-height-developing: 24px;
  --computed-advanced-title-lg-line-height-early: 28px;
  --computed-advanced-title-md-font-size-advanced: 20px;
  --computed-advanced-title-md-font-size-developing: 20px;
  --computed-advanced-title-md-font-size-early: 20px;
  --computed-advanced-title-md-line-height-advanced: 28px;
  --computed-advanced-title-md-line-height-developing: 28px;
  --computed-advanced-title-md-line-height-early: 28px;
  --computed-advanced-title-sm-font-size-advanced: 20px;
  --computed-advanced-title-sm-font-size-developing: 20px;
  --computed-advanced-title-sm-font-size-early: 20px;
  --computed-advanced-title-sm-line-height-advanced: 28px;
  --computed-advanced-title-sm-line-height-developing: 28px;
  --computed-advanced-title-sm-line-height-early: 28px;
  --computed-developing-caption-lg-font-size-advanced: 16px;
  --computed-developing-caption-lg-font-size-developing: 14px;
  --computed-developing-caption-lg-font-size-early: 14px;
  --computed-developing-caption-lg-line-height-advanced: 24px;
  --computed-developing-caption-lg-line-height-developing: 22px;
  --computed-developing-caption-lg-line-height-early: 22px;
  --computed-developing-caption-md-font-size-advanced: 14px;
  --computed-developing-caption-md-font-size-developing: 12px;
  --computed-developing-caption-md-font-size-early: 14px;
  --computed-developing-caption-md-line-height-advanced: 22px;
  --computed-developing-caption-md-line-height-developing: 18px;
  --computed-developing-caption-md-line-height-early: 22px;
  --computed-developing-display-lg-font-size-advanced: 44px;
  --computed-developing-display-lg-font-size-developing: 40px;
  --computed-developing-display-lg-font-size-early: 36px;
  --computed-developing-display-lg-line-height-advanced: 56px;
  --computed-developing-display-lg-line-height-developing: 52px;
  --computed-developing-display-lg-line-height-early: 48px;
  --computed-developing-display-md-font-size-advanced: 40px;
  --computed-developing-display-md-font-size-developing: 32px;
  --computed-developing-display-md-font-size-early: 36px;
  --computed-developing-display-md-line-height-advanced: 52px;
  --computed-developing-display-md-line-height-developing: 40px;
  --computed-developing-display-md-line-height-early: 48px;
  --computed-developing-display-sm-font-size-advanced: 32px;
  --computed-developing-display-sm-font-size-developing: 32px;
  --computed-developing-display-sm-font-size-early: 36px;
  --computed-developing-display-sm-line-height-advanced: 40px;
  --computed-developing-display-sm-line-height-developing: 40px;
  --computed-developing-display-sm-line-height-early: 48px;
  --computed-developing-heading-lg-font-size-advanced: 32px;
  --computed-developing-heading-lg-font-size-developing: 26px;
  --computed-developing-heading-lg-font-size-early: 24px;
  --computed-developing-heading-lg-line-height-advanced: 44px;
  --computed-developing-heading-lg-line-height-developing: 36px;
  --computed-developing-heading-lg-line-height-early: 32px;
  --computed-developing-heading-md-font-size-advanced: 28px;
  --computed-developing-heading-md-font-size-developing: 24px;
  --computed-developing-heading-md-font-size-early: 20px;
  --computed-developing-heading-md-line-height-advanced: 36px;
  --computed-developing-heading-md-line-height-developing: 32px;
  --computed-developing-heading-md-line-height-early: 28px;
  --computed-developing-heading-sm-font-size-advanced: 28px;
  --computed-developing-heading-sm-font-size-developing: 22px;
  --computed-developing-heading-sm-font-size-early: 20px;
  --computed-developing-heading-sm-line-height-advanced: 36px;
  --computed-developing-heading-sm-line-height-developing: 28px;
  --computed-developing-heading-sm-line-height-early: 28px;
  --computed-developing-label-lg-font-size-advanced: 18px;
  --computed-developing-label-lg-font-size-developing: 18px;
  --computed-developing-label-lg-font-size-early: 18px;
  --computed-developing-label-lg-line-height-advanced: 26px;
  --computed-developing-label-lg-line-height-developing: 26px;
  --computed-developing-label-lg-line-height-early: 26px;
  --computed-developing-label-md-font-size-advanced: 16px;
  --computed-developing-label-md-font-size-developing: 16px;
  --computed-developing-label-md-font-size-early: 16px;
  --computed-developing-label-md-line-height-advanced: 22px;
  --computed-developing-label-md-line-height-developing: 22px;
  --computed-developing-label-md-line-height-early: 22px;
  --computed-developing-label-sm-font-size-advanced: 14px;
  --computed-developing-label-sm-font-size-developing: 14px;
  --computed-developing-label-sm-font-size-early: 14px;
  --computed-developing-label-sm-line-height-advanced: 20px;
  --computed-developing-label-sm-line-height-developing: 20px;
  --computed-developing-label-sm-line-height-early: 20px;
  --computed-developing-text-lg-font-size-advanced: 20px;
  --computed-developing-text-lg-font-size-developing: 20px;
  --computed-developing-text-lg-font-size-early: 20px;
  --computed-developing-text-lg-line-height-advanced: 32px;
  --computed-developing-text-lg-line-height-developing: 32px;
  --computed-developing-text-lg-line-height-early: 32px;
  --computed-developing-text-md-font-size-advanced: 18px;
  --computed-developing-text-md-font-size-developing: 18px;
  --computed-developing-text-md-font-size-early: 18px;
  --computed-developing-text-md-line-height-advanced: 28px;
  --computed-developing-text-md-line-height-developing: 28px;
  --computed-developing-text-md-line-height-early: 28px;
  --computed-developing-text-sm-font-size-advanced: 16px;
  --computed-developing-text-sm-font-size-developing: 16px;
  --computed-developing-text-sm-font-size-early: 16px;
  --computed-developing-text-sm-line-height-advanced: 24px;
  --computed-developing-text-sm-line-height-developing: 24px;
  --computed-developing-text-sm-line-height-early: 24px;
  --computed-developing-title-lg-font-size-advanced: 24px;
  --computed-developing-title-lg-font-size-developing: 20px;
  --computed-developing-title-lg-font-size-early: 22px;
  --computed-developing-title-lg-line-height-advanced: 32px;
  --computed-developing-title-lg-line-height-developing: 28px;
  --computed-developing-title-lg-line-height-early: 32px;
  --computed-developing-title-md-font-size-advanced: 24px;
  --computed-developing-title-md-font-size-developing: 20px;
  --computed-developing-title-md-font-size-early: 20px;
  --computed-developing-title-md-line-height-advanced: 32px;
  --computed-developing-title-md-line-height-developing: 28px;
  --computed-developing-title-md-line-height-early: 28px;
  --computed-developing-title-sm-font-size-advanced: 20px;
  --computed-developing-title-sm-font-size-developing: 20px;
  --computed-developing-title-sm-font-size-early: 20px;
  --computed-developing-title-sm-line-height-advanced: 28px;
  --computed-developing-title-sm-line-height-developing: 28px;
  --computed-developing-title-sm-line-height-early: 28px;
  --computed-early-caption-lg-font-size-advanced: 18px;
  --computed-early-caption-lg-font-size-developing: 16px;
  --computed-early-caption-lg-font-size-early: 16px;
  --computed-early-caption-lg-line-height-advanced: 28px;
  --computed-early-caption-lg-line-height-developing: 26px;
  --computed-early-caption-lg-line-height-early: 26px;
  --computed-early-caption-md-font-size-advanced: 16px;
  --computed-early-caption-md-font-size-developing: 12px;
  --computed-early-caption-md-font-size-early: 16px;
  --computed-early-caption-md-line-height-advanced: 26px;
  --computed-early-caption-md-line-height-developing: 20px;
  --computed-early-caption-md-line-height-early: 26px;
  --computed-early-display-lg-font-size-advanced: 52px;
  --computed-early-display-lg-font-size-developing: 44px;
  --computed-early-display-lg-font-size-early: 40px;
  --computed-early-display-lg-line-height-advanced: 72px;
  --computed-early-display-lg-line-height-developing: 60px;
  --computed-early-display-lg-line-height-early: 56px;
  --computed-early-display-md-font-size-advanced: 44px;
  --computed-early-display-md-font-size-developing: 36px;
  --computed-early-display-md-font-size-early: 40px;
  --computed-early-display-md-line-height-advanced: 60px;
  --computed-early-display-md-line-height-developing: 52px;
  --computed-early-display-md-line-height-early: 56px;
  --computed-early-display-sm-font-size-advanced: 36px;
  --computed-early-display-sm-font-size-developing: 36px;
  --computed-early-display-sm-font-size-early: 40px;
  --computed-early-display-sm-line-height-advanced: 52px;
  --computed-early-display-sm-line-height-developing: 52px;
  --computed-early-display-sm-line-height-early: 56px;
  --computed-early-heading-lg-font-size-advanced: 36px;
  --computed-early-heading-lg-font-size-developing: 28px;
  --computed-early-heading-lg-font-size-early: 28px;
  --computed-early-heading-lg-line-height-advanced: 52px;
  --computed-early-heading-lg-line-height-developing: 40px;
  --computed-early-heading-lg-line-height-early: 40px;
  --computed-early-heading-md-font-size-advanced: 32px;
  --computed-early-heading-md-font-size-developing: 28px;
  --computed-early-heading-md-font-size-early: 24px;
  --computed-early-heading-md-line-height-advanced: 44px;
  --computed-early-heading-md-line-height-developing: 40px;
  --computed-early-heading-md-line-height-early: 32px;
  --computed-early-heading-sm-font-size-advanced: 32px;
  --computed-early-heading-sm-font-size-developing: 26px;
  --computed-early-heading-sm-font-size-early: 24px;
  --computed-early-heading-sm-line-height-advanced: 44px;
  --computed-early-heading-sm-line-height-developing: 36px;
  --computed-early-heading-sm-line-height-early: 32px;
  --computed-early-label-lg-font-size-advanced: 20px;
  --computed-early-label-lg-font-size-developing: 20px;
  --computed-early-label-lg-font-size-early: 20px;
  --computed-early-label-lg-line-height-advanced: 30px;
  --computed-early-label-lg-line-height-developing: 30px;
  --computed-early-label-lg-line-height-early: 30px;
  --computed-early-label-md-font-size-advanced: 18px;
  --computed-early-label-md-font-size-developing: 18px;
  --computed-early-label-md-font-size-early: 18px;
  --computed-early-label-md-line-height-advanced: 28px;
  --computed-early-label-md-line-height-developing: 28px;
  --computed-early-label-md-line-height-early: 28px;
  --computed-early-label-sm-font-size-advanced: 16px;
  --computed-early-label-sm-font-size-developing: 16px;
  --computed-early-label-sm-font-size-early: 16px;
  --computed-early-label-sm-line-height-advanced: 24px;
  --computed-early-label-sm-line-height-developing: 24px;
  --computed-early-label-sm-line-height-early: 24px;
  --computed-early-text-lg-font-size-advanced: 22px;
  --computed-early-text-lg-font-size-developing: 22px;
  --computed-early-text-lg-font-size-early: 22px;
  --computed-early-text-lg-line-height-advanced: 36px;
  --computed-early-text-lg-line-height-developing: 36px;
  --computed-early-text-lg-line-height-early: 36px;
  --computed-early-text-md-font-size-advanced: 20px;
  --computed-early-text-md-font-size-developing: 20px;
  --computed-early-text-md-font-size-early: 20px;
  --computed-early-text-md-line-height-advanced: 32px;
  --computed-early-text-md-line-height-developing: 32px;
  --computed-early-text-md-line-height-early: 32px;
  --computed-early-text-sm-font-size-advanced: 18px;
  --computed-early-text-sm-font-size-developing: 18px;
  --computed-early-text-sm-font-size-early: 18px;
  --computed-early-text-sm-line-height-advanced: 28px;
  --computed-early-text-sm-line-height-developing: 28px;
  --computed-early-text-sm-line-height-early: 28px;
  --computed-early-title-lg-font-size-advanced: 28px;
  --computed-early-title-lg-font-size-developing: 22px;
  --computed-early-title-lg-font-size-early: 24px;
  --computed-early-title-lg-line-height-advanced: 40px;
  --computed-early-title-lg-line-height-developing: 32px;
  --computed-early-title-lg-line-height-early: 32px;
  --computed-early-title-md-font-size-advanced: 24px;
  --computed-early-title-md-font-size-developing: 24px;
  --computed-early-title-md-font-size-early: 24px;
  --computed-early-title-md-line-height-advanced: 32px;
  --computed-early-title-md-line-height-developing: 32px;
  --computed-early-title-md-line-height-early: 32px;
  --computed-early-title-sm-font-size-advanced: 24px;
  --computed-early-title-sm-font-size-developing: 24px;
  --computed-early-title-sm-font-size-early: 24px;
  --computed-early-title-sm-line-height-advanced: 32px;
  --computed-early-title-sm-line-height-developing: 32px;
  --computed-early-title-sm-line-height-early: 32px;
  --display-lg-font-size: var(--display-lg-font-size-user-group);
  --display-lg-line-height: var(--display-lg-line-height-user-group);
  --display-md-font-size: var(--display-md-font-size-user-group);
  --display-md-line-height: var(--display-md-line-height-user-group);
  --display-sm-font-size: var(--display-sm-font-size-user-group);
  --display-sm-line-height: var(--display-sm-line-height-user-group);
  --heading-lg-font-size: var(--heading-lg-font-size-user-group);
  --heading-lg-line-height: var(--heading-lg-line-height-user-group);
  --heading-md-font-size: var(--heading-md-font-size-user-group);
  --heading-md-line-height: var(--heading-md-line-height-user-group);
  --heading-sm-font-size: var(--heading-sm-font-size-user-group);
  --heading-sm-line-height: var(--heading-sm-line-height-user-group);
  --label-lg-font-size: var(--label-lg-font-size-user-group);
  --label-lg-line-height: var(--label-lg-line-height-user-group);
  --label-md-font-size: var(--label-md-font-size-user-group);
  --label-md-line-height: var(--label-md-line-height-user-group);
  --label-sm-font-size: var(--label-sm-font-size-user-group);
  --label-sm-line-height: var(--label-sm-line-height-user-group);
  --text-lg-font-size: var(--text-lg-font-size-user-group);
  --text-lg-line-height: var(--text-lg-line-height-user-group);
  --text-md-font-size: var(--text-md-font-size-user-group);
  --text-md-line-height: var(--text-md-line-height-user-group);
  --text-sm-font-size: var(--text-sm-font-size-user-group);
  --text-sm-line-height: var(--text-sm-line-height-user-group);
  --title-lg-font-size: var(--title-lg-font-size-user-group);
  --title-lg-line-height: var(--title-lg-line-height-user-group);
  --title-md-font-size: var(--title-md-font-size-user-group);
  --title-md-line-height: var(--title-md-line-height-user-group);
  --title-sm-font-size: var(--title-sm-font-size-user-group);
  --title-sm-line-height: var(--title-sm-line-height-user-group);
  --typography-caption-lg-font-family: 'The Message Text Beta03';
  --typography-caption-lg-font-size: 14px;
  --typography-caption-lg-font-weight: 400;
  --typography-caption-lg-letter-spacing: 1%;
  --typography-caption-lg-line-height: 20px;
  --typography-caption-md-font-family: 'The Message Text Beta03';
  --typography-caption-md-font-size: 12px;
  --typography-caption-md-font-weight: 400;
  --typography-caption-md-letter-spacing: 2%;
  --typography-caption-md-line-height: 16px;
  --typography-display-lg-font-family: 'The Message Beta03';
  --typography-display-lg-font-size: 40px;
  --typography-display-lg-font-weight: 700;
  --typography-display-lg-letter-spacing: -2%;
  --typography-display-lg-line-height: 48px;
  --typography-display-md-font-family: 'The Message Beta03';
  --typography-display-md-font-size: 36px;
  --typography-display-md-font-weight: 700;
  --typography-display-md-letter-spacing: -2%;
  --typography-display-md-line-height: 44px;
  --typography-display-sm-font-family: 'The Message Beta03';
  --typography-display-sm-font-size: 28px;
  --typography-display-sm-font-weight: 700;
  --typography-display-sm-letter-spacing: -1%;
  --typography-display-sm-line-height: 36px;
  --typography-heading-lg-font-family: 'The Message Beta03';
  --typography-heading-lg-font-size: 28px;
  --typography-heading-lg-font-weight: 700;
  --typography-heading-lg-letter-spacing: -1%;
  --typography-heading-lg-line-height: 36px;
  --typography-heading-md-font-family: 'The Message Beta03';
  --typography-heading-md-font-size: 28px;
  --typography-heading-md-font-weight: 700;
  --typography-heading-md-letter-spacing: -1%;
  --typography-heading-md-line-height: 36px;
  --typography-heading-sm-font-family: 'The Message Beta03';
  --typography-heading-sm-font-size: 24px;
  --typography-heading-sm-font-weight: 700;
  --typography-heading-sm-letter-spacing: 0%;
  --typography-heading-sm-line-height: 28px;
  --typography-label-lg-font-family: 'The Message Text Beta03';
  --typography-label-lg-font-size: 16px;
  --typography-label-lg-font-weight: 500;
  --typography-label-lg-letter-spacing: 1%;
  --typography-label-lg-line-height: 20px;
  --typography-label-md-font-family: 'The Message Text Beta03';
  --typography-label-md-font-size: 14px;
  --typography-label-md-font-weight: 500;
  --typography-label-md-letter-spacing: 1%;
  --typography-label-md-line-height: 18px;
  --typography-label-sm-font-family: 'The Message Text Beta03';
  --typography-label-sm-font-size: 12px;
  --typography-label-sm-font-weight: 500;
  --typography-label-sm-letter-spacing: 2%;
  --typography-label-sm-line-height: 16px;
  --typography-text-lg-font-family: 'The Message Text Beta03';
  --typography-text-lg-font-size: 18px;
  --typography-text-lg-font-weight: 400;
  --typography-text-lg-letter-spacing: 0%;
  --typography-text-lg-line-height: 24px;
  --typography-text-md-font-family: 'The Message Text Beta03';
  --typography-text-md-font-size: 16px;
  --typography-text-md-font-weight: 400;
  --typography-text-md-letter-spacing: 0%;
  --typography-text-md-line-height: 24px;
  --typography-text-sm-font-family: 'The Message Text Beta03';
  --typography-text-sm-font-size: 14px;
  --typography-text-sm-font-weight: 400;
  --typography-text-sm-letter-spacing: 0%;
  --typography-text-sm-line-height: 20px;
  --typography-title-lg-font-family: 'The Message Text Beta03';
  --typography-title-lg-font-size: 24px;
  --typography-title-lg-font-weight: 600;
  --typography-title-lg-letter-spacing: 0%;
  --typography-title-lg-line-height: 32px;
  --typography-title-md-font-family: 'The Message Text Beta03';
  --typography-title-md-font-size: 20px;
  --typography-title-md-font-weight: 600;
  --typography-title-md-letter-spacing: 0%;
  --typography-title-md-line-height: 28px;
  --typography-title-sm-font-family: 'The Message Text Beta03';
  --typography-title-sm-font-size: 20px;
  --typography-title-sm-font-weight: 600;
  --typography-title-sm-letter-spacing: 0%;
  --typography-title-sm-line-height: 28px;
}
