[data-Device='tablet'] {
  --sl-caption-lg-font-size: var(--sl-caption-lg-font-size-user-group);
  --sl-caption-lg-line-height: var(--sl-caption-lg-line-height-user-group);
  --sl-caption-md-font-size: var(--sl-caption-md-font-size-user-group);
  --sl-caption-md-line-height: var(--sl-caption-md-line-height-user-group);
  --sl-computed-advanced-caption-lg-font-size-advanced: 14px;
  --sl-computed-advanced-caption-lg-font-size-developing: 12px;
  --sl-computed-advanced-caption-lg-font-size-early: 12px;
  --sl-computed-advanced-caption-lg-line-height-advanced: 20px;
  --sl-computed-advanced-caption-lg-line-height-developing: 16px;
  --sl-computed-advanced-caption-lg-line-height-early: 16px;
  --sl-computed-advanced-caption-md-font-size-advanced: 12px;
  --sl-computed-advanced-caption-md-font-size-developing: 10px;
  --sl-computed-advanced-caption-md-font-size-early: 12px;
  --sl-computed-advanced-caption-md-line-height-advanced: 16px;
  --sl-computed-advanced-caption-md-line-height-developing: 14px;
  --sl-computed-advanced-caption-md-line-height-early: 16px;
  --sl-computed-advanced-display-lg-font-size-advanced: 56px;
  --sl-computed-advanced-display-lg-font-size-developing: 44px;
  --sl-computed-advanced-display-lg-font-size-early: 40px;
  --sl-computed-advanced-display-lg-line-height-advanced: 68px;
  --sl-computed-advanced-display-lg-line-height-developing: 52px;
  --sl-computed-advanced-display-lg-line-height-early: 48px;
  --sl-computed-advanced-display-md-font-size-advanced: 48px;
  --sl-computed-advanced-display-md-font-size-developing: 36px;
  --sl-computed-advanced-display-md-font-size-early: 40px;
  --sl-computed-advanced-display-md-line-height-advanced: 60px;
  --sl-computed-advanced-display-md-line-height-developing: 44px;
  --sl-computed-advanced-display-md-line-height-early: 48px;
  --sl-computed-advanced-display-sm-font-size-advanced: 40px;
  --sl-computed-advanced-display-sm-font-size-developing: 36px;
  --sl-computed-advanced-display-sm-font-size-early: 40px;
  --sl-computed-advanced-display-sm-line-height-advanced: 48px;
  --sl-computed-advanced-display-sm-line-height-developing: 44px;
  --sl-computed-advanced-display-sm-line-height-early: 48px;
  --sl-computed-advanced-heading-lg-font-size-advanced: 36px;
  --sl-computed-advanced-heading-lg-font-size-developing: 28px;
  --sl-computed-advanced-heading-lg-font-size-early: 24px;
  --sl-computed-advanced-heading-lg-line-height-advanced: 44px;
  --sl-computed-advanced-heading-lg-line-height-developing: 36px;
  --sl-computed-advanced-heading-lg-line-height-early: 28px;
  --sl-computed-advanced-heading-md-font-size-advanced: 28px;
  --sl-computed-advanced-heading-md-font-size-developing: 20px;
  --sl-computed-advanced-heading-md-font-size-early: 20px;
  --sl-computed-advanced-heading-md-line-height-advanced: 36px;
  --sl-computed-advanced-heading-md-line-height-developing: 24px;
  --sl-computed-advanced-heading-md-line-height-early: 24px;
  --sl-computed-advanced-heading-sm-font-size-advanced: 24px;
  --sl-computed-advanced-heading-sm-font-size-developing: 20px;
  --sl-computed-advanced-heading-sm-font-size-early: 20px;
  --sl-computed-advanced-heading-sm-line-height-advanced: 28px;
  --sl-computed-advanced-heading-sm-line-height-developing: 24px;
  --sl-computed-advanced-heading-sm-line-height-early: 24px;
  --sl-computed-advanced-label-lg-font-size-advanced: 16px;
  --sl-computed-advanced-label-lg-font-size-developing: 16px;
  --sl-computed-advanced-label-lg-font-size-early: 16px;
  --sl-computed-advanced-label-lg-line-height-advanced: 20px;
  --sl-computed-advanced-label-lg-line-height-developing: 20px;
  --sl-computed-advanced-label-lg-line-height-early: 20px;
  --sl-computed-advanced-label-md-font-size-advanced: 14px;
  --sl-computed-advanced-label-md-font-size-developing: 14px;
  --sl-computed-advanced-label-md-font-size-early: 14px;
  --sl-computed-advanced-label-md-line-height-advanced: 18px;
  --sl-computed-advanced-label-md-line-height-developing: 18px;
  --sl-computed-advanced-label-md-line-height-early: 18px;
  --sl-computed-advanced-label-sm-font-size-advanced: 12px;
  --sl-computed-advanced-label-sm-font-size-developing: 12px;
  --sl-computed-advanced-label-sm-font-size-early: 12px;
  --sl-computed-advanced-label-sm-line-height-advanced: 16px;
  --sl-computed-advanced-label-sm-line-height-developing: 16px;
  --sl-computed-advanced-label-sm-line-height-early: 16px;
  --sl-computed-advanced-text-lg-font-size-advanced: 18px;
  --sl-computed-advanced-text-lg-font-size-developing: 18px;
  --sl-computed-advanced-text-lg-font-size-early: 18px;
  --sl-computed-advanced-text-lg-line-height-advanced: 24px;
  --sl-computed-advanced-text-lg-line-height-developing: 24px;
  --sl-computed-advanced-text-lg-line-height-early: 24px;
  --sl-computed-advanced-text-md-font-size-advanced: 16px;
  --sl-computed-advanced-text-md-font-size-developing: 16px;
  --sl-computed-advanced-text-md-font-size-early: 16px;
  --sl-computed-advanced-text-md-line-height-advanced: 24px;
  --sl-computed-advanced-text-md-line-height-developing: 24px;
  --sl-computed-advanced-text-md-line-height-early: 24px;
  --sl-computed-advanced-text-sm-font-size-advanced: 14px;
  --sl-computed-advanced-text-sm-font-size-developing: 14px;
  --sl-computed-advanced-text-sm-font-size-early: 14px;
  --sl-computed-advanced-text-sm-line-height-advanced: 20px;
  --sl-computed-advanced-text-sm-line-height-developing: 20px;
  --sl-computed-advanced-text-sm-line-height-early: 20px;
  --sl-computed-advanced-title-lg-font-size-advanced: 24px;
  --sl-computed-advanced-title-lg-font-size-developing: 20px;
  --sl-computed-advanced-title-lg-font-size-early: 20px;
  --sl-computed-advanced-title-lg-line-height-advanced: 32px;
  --sl-computed-advanced-title-lg-line-height-developing: 28px;
  --sl-computed-advanced-title-lg-line-height-early: 28px;
  --sl-computed-advanced-title-md-font-size-advanced: 20px;
  --sl-computed-advanced-title-md-font-size-developing: 20px;
  --sl-computed-advanced-title-md-font-size-early: 20px;
  --sl-computed-advanced-title-md-line-height-advanced: 28px;
  --sl-computed-advanced-title-md-line-height-developing: 28px;
  --sl-computed-advanced-title-md-line-height-early: 28px;
  --sl-computed-advanced-title-sm-font-size-advanced: 20px;
  --sl-computed-advanced-title-sm-font-size-developing: 20px;
  --sl-computed-advanced-title-sm-font-size-early: 20px;
  --sl-computed-advanced-title-sm-line-height-advanced: 28px;
  --sl-computed-advanced-title-sm-line-height-developing: 28px;
  --sl-computed-advanced-title-sm-line-height-early: 28px;
  --sl-computed-developing-caption-lg-font-size-advanced: 16px;
  --sl-computed-developing-caption-lg-font-size-developing: 14px;
  --sl-computed-developing-caption-lg-font-size-early: 14px;
  --sl-computed-developing-caption-lg-line-height-advanced: 24px;
  --sl-computed-developing-caption-lg-line-height-developing: 22px;
  --sl-computed-developing-caption-lg-line-height-early: 22px;
  --sl-computed-developing-caption-md-font-size-advanced: 14px;
  --sl-computed-developing-caption-md-font-size-developing: 12px;
  --sl-computed-developing-caption-md-font-size-early: 14px;
  --sl-computed-developing-caption-md-line-height-advanced: 22px;
  --sl-computed-developing-caption-md-line-height-developing: 18px;
  --sl-computed-developing-caption-md-line-height-early: 22px;
  --sl-computed-developing-display-lg-font-size-advanced: 64px;
  --sl-computed-developing-display-lg-font-size-developing: 52px;
  --sl-computed-developing-display-lg-font-size-early: 44px;
  --sl-computed-developing-display-lg-line-height-advanced: 84px;
  --sl-computed-developing-display-lg-line-height-developing: 68px;
  --sl-computed-developing-display-lg-line-height-early: 56px;
  --sl-computed-developing-display-md-font-size-advanced: 56px;
  --sl-computed-developing-display-md-font-size-developing: 40px;
  --sl-computed-developing-display-md-font-size-early: 44px;
  --sl-computed-developing-display-md-line-height-advanced: 72px;
  --sl-computed-developing-display-md-line-height-developing: 52px;
  --sl-computed-developing-display-md-line-height-early: 56px;
  --sl-computed-developing-display-sm-font-size-advanced: 44px;
  --sl-computed-developing-display-sm-font-size-developing: 40px;
  --sl-computed-developing-display-sm-font-size-early: 44px;
  --sl-computed-developing-display-sm-line-height-advanced: 56px;
  --sl-computed-developing-display-sm-line-height-developing: 52px;
  --sl-computed-developing-display-sm-line-height-early: 56px;
  --sl-computed-developing-heading-lg-font-size-advanced: 40px;
  --sl-computed-developing-heading-lg-font-size-developing: 32px;
  --sl-computed-developing-heading-lg-font-size-early: 28px;
  --sl-computed-developing-heading-lg-line-height-advanced: 56px;
  --sl-computed-developing-heading-lg-line-height-developing: 44px;
  --sl-computed-developing-heading-lg-line-height-early: 36px;
  --sl-computed-developing-heading-md-font-size-advanced: 32px;
  --sl-computed-developing-heading-md-font-size-developing: 24px;
  --sl-computed-developing-heading-md-font-size-early: 24px;
  --sl-computed-developing-heading-md-line-height-advanced: 44px;
  --sl-computed-developing-heading-md-line-height-developing: 32px;
  --sl-computed-developing-heading-md-line-height-early: 32px;
  --sl-computed-developing-heading-sm-font-size-advanced: 28px;
  --sl-computed-developing-heading-sm-font-size-developing: 24px;
  --sl-computed-developing-heading-sm-font-size-early: 24px;
  --sl-computed-developing-heading-sm-line-height-advanced: 36px;
  --sl-computed-developing-heading-sm-line-height-developing: 32px;
  --sl-computed-developing-heading-sm-line-height-early: 32px;
  --sl-computed-developing-label-lg-font-size-advanced: 18px;
  --sl-computed-developing-label-lg-font-size-developing: 18px;
  --sl-computed-developing-label-lg-font-size-early: 18px;
  --sl-computed-developing-label-lg-line-height-advanced: 26px;
  --sl-computed-developing-label-lg-line-height-developing: 26px;
  --sl-computed-developing-label-lg-line-height-early: 26px;
  --sl-computed-developing-label-md-font-size-advanced: 16px;
  --sl-computed-developing-label-md-font-size-developing: 16px;
  --sl-computed-developing-label-md-font-size-early: 16px;
  --sl-computed-developing-label-md-line-height-advanced: 22px;
  --sl-computed-developing-label-md-line-height-developing: 22px;
  --sl-computed-developing-label-md-line-height-early: 22px;
  --sl-computed-developing-label-sm-font-size-advanced: 14px;
  --sl-computed-developing-label-sm-font-size-developing: 14px;
  --sl-computed-developing-label-sm-font-size-early: 14px;
  --sl-computed-developing-label-sm-line-height-advanced: 20px;
  --sl-computed-developing-label-sm-line-height-developing: 20px;
  --sl-computed-developing-label-sm-line-height-early: 20px;
  --sl-computed-developing-text-lg-font-size-advanced: 20px;
  --sl-computed-developing-text-lg-font-size-developing: 20px;
  --sl-computed-developing-text-lg-font-size-early: 20px;
  --sl-computed-developing-text-lg-line-height-advanced: 32px;
  --sl-computed-developing-text-lg-line-height-developing: 32px;
  --sl-computed-developing-text-lg-line-height-early: 32px;
  --sl-computed-developing-text-md-font-size-advanced: 18px;
  --sl-computed-developing-text-md-font-size-developing: 18px;
  --sl-computed-developing-text-md-font-size-early: 18px;
  --sl-computed-developing-text-md-line-height-advanced: 28px;
  --sl-computed-developing-text-md-line-height-developing: 28px;
  --sl-computed-developing-text-md-line-height-early: 28px;
  --sl-computed-developing-text-sm-font-size-advanced: 16px;
  --sl-computed-developing-text-sm-font-size-developing: 16px;
  --sl-computed-developing-text-sm-font-size-early: 16px;
  --sl-computed-developing-text-sm-line-height-advanced: 24px;
  --sl-computed-developing-text-sm-line-height-developing: 24px;
  --sl-computed-developing-text-sm-line-height-early: 24px;
  --sl-computed-developing-title-lg-font-size-advanced: 24px;
  --sl-computed-developing-title-lg-font-size-developing: 24px;
  --sl-computed-developing-title-lg-font-size-early: 22px;
  --sl-computed-developing-title-lg-line-height-advanced: 32px;
  --sl-computed-developing-title-lg-line-height-developing: 32px;
  --sl-computed-developing-title-lg-line-height-early: 32px;
  --sl-computed-developing-title-md-font-size-advanced: 24px;
  --sl-computed-developing-title-md-font-size-developing: 24px;
  --sl-computed-developing-title-md-font-size-early: 20px;
  --sl-computed-developing-title-md-line-height-advanced: 32px;
  --sl-computed-developing-title-md-line-height-developing: 32px;
  --sl-computed-developing-title-md-line-height-early: 28px;
  --sl-computed-developing-title-sm-font-size-advanced: 20px;
  --sl-computed-developing-title-sm-font-size-developing: 24px;
  --sl-computed-developing-title-sm-font-size-early: 20px;
  --sl-computed-developing-title-sm-line-height-advanced: 28px;
  --sl-computed-developing-title-sm-line-height-developing: 32px;
  --sl-computed-developing-title-sm-line-height-early: 28px;
  --sl-computed-early-caption-lg-font-size-advanced: 18px;
  --sl-computed-early-caption-lg-font-size-developing: 16px;
  --sl-computed-early-caption-lg-font-size-early: 16px;
  --sl-computed-early-caption-lg-line-height-advanced: 28px;
  --sl-computed-early-caption-lg-line-height-developing: 26px;
  --sl-computed-early-caption-lg-line-height-early: 26px;
  --sl-computed-early-caption-md-font-size-advanced: 16px;
  --sl-computed-early-caption-md-font-size-developing: 12px;
  --sl-computed-early-caption-md-font-size-early: 16px;
  --sl-computed-early-caption-md-line-height-advanced: 26px;
  --sl-computed-early-caption-md-line-height-developing: 20px;
  --sl-computed-early-caption-md-line-height-early: 26px;
  --sl-computed-early-display-lg-font-size-advanced: 72px;
  --sl-computed-early-display-lg-font-size-developing: 56px;
  --sl-computed-early-display-lg-font-size-early: 52px;
  --sl-computed-early-display-lg-line-height-advanced: 100px;
  --sl-computed-early-display-lg-line-height-developing: 80px;
  --sl-computed-early-display-lg-line-height-early: 72px;
  --sl-computed-early-display-md-font-size-advanced: 60px;
  --sl-computed-early-display-md-font-size-developing: 44px;
  --sl-computed-early-display-md-font-size-early: 52px;
  --sl-computed-early-display-md-line-height-advanced: 84px;
  --sl-computed-early-display-md-line-height-developing: 60px;
  --sl-computed-early-display-md-line-height-early: 72px;
  --sl-computed-early-display-sm-font-size-advanced: 52px;
  --sl-computed-early-display-sm-font-size-developing: 44px;
  --sl-computed-early-display-sm-font-size-early: 52px;
  --sl-computed-early-display-sm-line-height-advanced: 72px;
  --sl-computed-early-display-sm-line-height-developing: 60px;
  --sl-computed-early-display-sm-line-height-early: 72px;
  --sl-computed-early-heading-lg-font-size-advanced: 44px;
  --sl-computed-early-heading-lg-font-size-developing: 36px;
  --sl-computed-early-heading-lg-font-size-early: 32px;
  --sl-computed-early-heading-lg-line-height-advanced: 60px;
  --sl-computed-early-heading-lg-line-height-developing: 52px;
  --sl-computed-early-heading-lg-line-height-early: 44px;
  --sl-computed-early-heading-md-font-size-advanced: 36px;
  --sl-computed-early-heading-md-font-size-developing: 24px;
  --sl-computed-early-heading-md-font-size-early: 24px;
  --sl-computed-early-heading-md-line-height-advanced: 52px;
  --sl-computed-early-heading-md-line-height-developing: 32px;
  --sl-computed-early-heading-md-line-height-early: 32px;
  --sl-computed-early-heading-sm-font-size-advanced: 32px;
  --sl-computed-early-heading-sm-font-size-developing: 24px;
  --sl-computed-early-heading-sm-font-size-early: 24px;
  --sl-computed-early-heading-sm-line-height-advanced: 44px;
  --sl-computed-early-heading-sm-line-height-developing: 32px;
  --sl-computed-early-heading-sm-line-height-early: 32px;
  --sl-computed-early-label-lg-font-size-advanced: 20px;
  --sl-computed-early-label-lg-font-size-developing: 20px;
  --sl-computed-early-label-lg-font-size-early: 20px;
  --sl-computed-early-label-lg-line-height-advanced: 30px;
  --sl-computed-early-label-lg-line-height-developing: 30px;
  --sl-computed-early-label-lg-line-height-early: 30px;
  --sl-computed-early-label-md-font-size-advanced: 18px;
  --sl-computed-early-label-md-font-size-developing: 18px;
  --sl-computed-early-label-md-font-size-early: 18px;
  --sl-computed-early-label-md-line-height-advanced: 28px;
  --sl-computed-early-label-md-line-height-developing: 28px;
  --sl-computed-early-label-md-line-height-early: 28px;
  --sl-computed-early-label-sm-font-size-advanced: 16px;
  --sl-computed-early-label-sm-font-size-developing: 16px;
  --sl-computed-early-label-sm-font-size-early: 16px;
  --sl-computed-early-label-sm-line-height-advanced: 24px;
  --sl-computed-early-label-sm-line-height-developing: 24px;
  --sl-computed-early-label-sm-line-height-early: 24px;
  --sl-computed-early-text-lg-font-size-advanced: 22px;
  --sl-computed-early-text-lg-font-size-developing: 22px;
  --sl-computed-early-text-lg-font-size-early: 22px;
  --sl-computed-early-text-lg-line-height-advanced: 36px;
  --sl-computed-early-text-lg-line-height-developing: 36px;
  --sl-computed-early-text-lg-line-height-early: 36px;
  --sl-computed-early-text-md-font-size-advanced: 20px;
  --sl-computed-early-text-md-font-size-developing: 20px;
  --sl-computed-early-text-md-font-size-early: 20px;
  --sl-computed-early-text-md-line-height-advanced: 32px;
  --sl-computed-early-text-md-line-height-developing: 32px;
  --sl-computed-early-text-md-line-height-early: 32px;
  --sl-computed-early-text-sm-font-size-advanced: 18px;
  --sl-computed-early-text-sm-font-size-developing: 18px;
  --sl-computed-early-text-sm-font-size-early: 18px;
  --sl-computed-early-text-sm-line-height-advanced: 28px;
  --sl-computed-early-text-sm-line-height-developing: 28px;
  --sl-computed-early-text-sm-line-height-early: 28px;
  --sl-computed-early-title-lg-font-size-advanced: 28px;
  --sl-computed-early-title-lg-font-size-developing: 26px;
  --sl-computed-early-title-lg-font-size-early: 24px;
  --sl-computed-early-title-lg-line-height-advanced: 40px;
  --sl-computed-early-title-lg-line-height-developing: 36px;
  --sl-computed-early-title-lg-line-height-early: 32px;
  --sl-computed-early-title-md-font-size-advanced: 24px;
  --sl-computed-early-title-md-font-size-developing: 28px;
  --sl-computed-early-title-md-font-size-early: 24px;
  --sl-computed-early-title-md-line-height-advanced: 32px;
  --sl-computed-early-title-md-line-height-developing: 40px;
  --sl-computed-early-title-md-line-height-early: 32px;
  --sl-computed-early-title-sm-font-size-advanced: 24px;
  --sl-computed-early-title-sm-font-size-developing: 28px;
  --sl-computed-early-title-sm-font-size-early: 24px;
  --sl-computed-early-title-sm-line-height-advanced: 32px;
  --sl-computed-early-title-sm-line-height-developing: 40px;
  --sl-computed-early-title-sm-line-height-early: 32px;
  --sl-display-lg-font-size: var(--sl-display-lg-font-size-user-group);
  --sl-display-lg-line-height: var(--sl-display-lg-line-height-user-group);
  --sl-display-md-font-size: var(--sl-display-md-font-size-user-group);
  --sl-display-md-line-height: var(--sl-display-md-line-height-user-group);
  --sl-display-sm-font-size: var(--sl-display-sm-font-size-user-group);
  --sl-display-sm-line-height: var(--sl-display-sm-line-height-user-group);
  --sl-heading-lg-font-size: var(--sl-heading-lg-font-size-user-group);
  --sl-heading-lg-line-height: var(--sl-heading-lg-line-height-user-group);
  --sl-heading-md-font-size: var(--sl-heading-md-font-size-user-group);
  --sl-heading-md-line-height: var(--sl-heading-md-line-height-user-group);
  --sl-heading-sm-font-size: var(--sl-heading-sm-font-size-user-group);
  --sl-heading-sm-line-height: var(--sl-heading-sm-line-height-user-group);
  --sl-label-lg-font-size: var(--sl-label-lg-font-size-user-group);
  --sl-label-lg-line-height: var(--sl-label-lg-line-height-user-group);
  --sl-label-md-font-size: var(--sl-label-md-font-size-user-group);
  --sl-label-md-line-height: var(--sl-label-md-line-height-user-group);
  --sl-label-sm-font-size: var(--sl-label-sm-font-size-user-group);
  --sl-label-sm-line-height: var(--sl-label-sm-line-height-user-group);
  --sl-text-lg-font-size: var(--sl-text-lg-font-size-user-group);
  --sl-text-lg-line-height: var(--sl-text-lg-line-height-user-group);
  --sl-text-md-font-size: var(--sl-text-md-font-size-user-group);
  --sl-text-md-line-height: var(--sl-text-md-line-height-user-group);
  --sl-text-sm-font-size: var(--sl-text-sm-font-size-user-group);
  --sl-text-sm-line-height: var(--sl-text-sm-line-height-user-group);
  --sl-title-lg-font-size: var(--sl-title-lg-font-size-user-group);
  --sl-title-lg-line-height: var(--sl-title-lg-line-height-user-group);
  --sl-title-md-font-size: var(--sl-title-md-font-size-user-group);
  --sl-title-md-line-height: var(--sl-title-md-line-height-user-group);
  --sl-title-sm-font-size: var(--sl-title-sm-font-size-user-group);
  --sl-title-sm-line-height: var(--sl-title-sm-line-height-user-group);
  --sl-typography-caption-lg-font-family: 'The Message Text Beta03';
  --sl-typography-caption-lg-font-size: 14px;
  --sl-typography-caption-lg-font-weight: 400;
  --sl-typography-caption-lg-letter-spacing: 1%;
  --sl-typography-caption-lg-line-height: 20px;
  --sl-typography-caption-md-font-family: 'The Message Text Beta03';
  --sl-typography-caption-md-font-size: 12px;
  --sl-typography-caption-md-font-weight: 400;
  --sl-typography-caption-md-letter-spacing: 2%;
  --sl-typography-caption-md-line-height: 16px;
  --sl-typography-display-lg-font-family: 'The Message Beta03';
  --sl-typography-display-lg-font-size: 56px;
  --sl-typography-display-lg-font-weight: 700;
  --sl-typography-display-lg-letter-spacing: -2%;
  --sl-typography-display-lg-line-height: 68px;
  --sl-typography-display-md-font-family: 'The Message Beta03';
  --sl-typography-display-md-font-size: 48px;
  --sl-typography-display-md-font-weight: 700;
  --sl-typography-display-md-letter-spacing: -2%;
  --sl-typography-display-md-line-height: 60px;
  --sl-typography-display-sm-font-family: 'The Message Beta03';
  --sl-typography-display-sm-font-size: 40px;
  --sl-typography-display-sm-font-weight: 700;
  --sl-typography-display-sm-letter-spacing: -1%;
  --sl-typography-display-sm-line-height: 48px;
  --sl-typography-heading-lg-font-family: 'The Message Beta03';
  --sl-typography-heading-lg-font-size: 36px;
  --sl-typography-heading-lg-font-weight: 700;
  --sl-typography-heading-lg-letter-spacing: -1%;
  --sl-typography-heading-lg-line-height: 44px;
  --sl-typography-heading-md-font-family: 'The Message Beta03';
  --sl-typography-heading-md-font-size: 28px;
  --sl-typography-heading-md-font-weight: 700;
  --sl-typography-heading-md-letter-spacing: -1%;
  --sl-typography-heading-md-line-height: 36px;
  --sl-typography-heading-sm-font-family: 'The Message Beta03';
  --sl-typography-heading-sm-font-size: 24px;
  --sl-typography-heading-sm-font-weight: 700;
  --sl-typography-heading-sm-letter-spacing: 0%;
  --sl-typography-heading-sm-line-height: 28px;
  --sl-typography-label-lg-font-family: 'The Message Text Beta03';
  --sl-typography-label-lg-font-size: 16px;
  --sl-typography-label-lg-font-weight: 500;
  --sl-typography-label-lg-letter-spacing: 1%;
  --sl-typography-label-lg-line-height: 20px;
  --sl-typography-label-md-font-family: 'The Message Text Beta03';
  --sl-typography-label-md-font-size: 14px;
  --sl-typography-label-md-font-weight: 500;
  --sl-typography-label-md-letter-spacing: 1%;
  --sl-typography-label-md-line-height: 18px;
  --sl-typography-label-sm-font-family: 'The Message Text Beta03';
  --sl-typography-label-sm-font-size: 12px;
  --sl-typography-label-sm-font-weight: 500;
  --sl-typography-label-sm-letter-spacing: 2%;
  --sl-typography-label-sm-line-height: 16px;
  --sl-typography-text-lg-font-family: 'The Message Text Beta03';
  --sl-typography-text-lg-font-size: 18px;
  --sl-typography-text-lg-font-weight: 400;
  --sl-typography-text-lg-letter-spacing: 0%;
  --sl-typography-text-lg-line-height: 24px;
  --sl-typography-text-md-font-family: 'The Message Text Beta03';
  --sl-typography-text-md-font-size: 16px;
  --sl-typography-text-md-font-weight: 400;
  --sl-typography-text-md-letter-spacing: 0%;
  --sl-typography-text-md-line-height: 24px;
  --sl-typography-text-sm-font-family: 'The Message Text Beta03';
  --sl-typography-text-sm-font-size: 14px;
  --sl-typography-text-sm-font-weight: 400;
  --sl-typography-text-sm-letter-spacing: 0%;
  --sl-typography-text-sm-line-height: 20px;
  --sl-typography-title-lg-font-family: 'The Message Text Beta03';
  --sl-typography-title-lg-font-size: 24px;
  --sl-typography-title-lg-font-weight: 600;
  --sl-typography-title-lg-letter-spacing: 0%;
  --sl-typography-title-lg-line-height: 32px;
  --sl-typography-title-md-font-family: 'The Message Text Beta03';
  --sl-typography-title-md-font-size: 20px;
  --sl-typography-title-md-font-weight: 600;
  --sl-typography-title-md-letter-spacing: 0%;
  --sl-typography-title-md-line-height: 28px;
  --sl-typography-title-sm-font-family: 'The Message Text Beta03';
  --sl-typography-title-sm-font-size: 20px;
  --sl-typography-title-sm-font-weight: 600;
  --sl-typography-title-sm-letter-spacing: 0%;
  --sl-typography-title-sm-line-height: 28px;
}
