:host {
  --_background: #fff;
  --_border: 1px solid var(--_border-color);
  --_border-color: rgba(0, 0, 0, 0.2);
  --_border-radius: 3px;
  --_box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --_padding: 0.5rem;
}

:host {
  // This has to be in pixels until we can use @property
  --sl-popover-offset: 8px;

  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  overflow: visible;
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}

:host([actual-placement='bottom']) .arrow {
  inset-block-start: -12px;
  inset-inline-start: 0;
  scale: 1 -1;
}

:host([actual-placement='left']) .arrow {
  inset-block-start: 0;
  inset-inline-end: -18px;
  rotate: -90deg;
}

:host([actual-placement='right']) .arrow {
  inset-block-start: 0;
  inset-inline-start: -18px;
  rotate: 90deg;
}

:host([actual-placement='top']) .arrow {
  inset-block-end: -12px;
  inset-inline-start: 0;
}

.container {
  padding: var(--_padding);
}

.arrow {
  display: flex;
  fill: var(--_background);
  position: absolute;
  stroke: var(--_border-color);
  stroke-width: 2px;
}
