:host {
  --gap: 1rem;
  --padding: 2rem;
}

:host {
  display: flex;
  gap: var(--gap);
}

:host([orientation='horizontal']) {
  --gap: 0;
  flex-direction: column;
}

:host([orientation='vertical']) {
  --padding: 0;
}

::slotted(dna-tab),
::slotted(dna-tab-bar) {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

::slotted(dna-tab) {
  grid-column: 1;
  grid-row: 1;
}

::slotted(dna-tab-bar) {
  flex-shrink: 0;
}

.tabs {
  display: grid;
}
