[data-Magister='Light'] {
  --sl-magister-color-background-accent-blue-bold: var(--sl-magister-color-palette-blue-600);
  --sl-magister-color-background-accent-blue-interactive-bold: var(
    --sl-magister-color-palette-blue-900
  );
  --sl-magister-color-background-accent-blue-interactive-plain: var(
    --sl-magister-color-palette-blue-400
  );
  --sl-magister-color-background-accent-blue-subtle: #1f97f933;
  --sl-magister-color-background-accent-blue-subtlest: #1f97f91a;
  --sl-magister-color-background-accent-green-bold: var(--sl-magister-color-palette-green-600);
  --sl-magister-color-background-accent-green-interactive-bold: var(
    --sl-magister-color-palette-green-900
  );
  --sl-magister-color-background-accent-green-interactive-plain: var(
    --sl-magister-color-palette-green-400
  );
  --sl-magister-color-background-accent-green-subtle: #13c4a333;
  --sl-magister-color-background-accent-green-subtlest: #13c4a31a;
  --sl-magister-color-background-accent-grey-bold: var(--sl-magister-color-palette-grey-600);
  --sl-magister-color-background-accent-grey-interactive-bold: var(
    --sl-magister-color-palette-grey-300
  );
  --sl-magister-color-background-accent-grey-interactive-plain: var(
    --sl-magister-color-palette-grey-150
  );
  --sl-magister-color-background-accent-grey-subtle: #59636e33;
  --sl-magister-color-background-accent-grey-subtlest: #59636e1a;
  --sl-magister-color-background-accent-orange-bold: var(--sl-magister-color-palette-orange-400);
  --sl-magister-color-background-accent-orange-interactive-bold: var(
    --sl-magister-color-palette-orange-900
  );
  --sl-magister-color-background-accent-orange-interactive-plain: var(
    --sl-magister-color-palette-orange-400
  );
  --sl-magister-color-background-accent-orange-subtle: #ff9a4233;
  --sl-magister-color-background-accent-orange-subtlest: #ff9a421a;
  --sl-magister-color-background-accent-purple-bold: var(--sl-magister-color-palette-purple-600);
  --sl-magister-color-background-accent-purple-interactive-bold: var(
    --sl-magister-color-palette-purple-900
  );
  --sl-magister-color-background-accent-purple-interactive-plain: var(
    --sl-magister-color-palette-purple-400
  );
  --sl-magister-color-background-accent-purple-subtle: #824dff33;
  --sl-magister-color-background-accent-purple-subtlest: #824dff1a;
  --sl-magister-color-background-accent-red-bold: var(--sl-magister-color-palette-red-500);
  --sl-magister-color-background-accent-red-interactive-bold: var(
    --sl-magister-color-palette-red-900
  );
  --sl-magister-color-background-accent-red-interactive-plain: var(
    --sl-magister-color-palette-red-400
  );
  --sl-magister-color-background-accent-red-subtle: var(
    --sl-computed-light-magister-color-background-accent-red-subtle
  );
  --sl-magister-color-background-accent-red-subtlest: #fe353b1a;
  --sl-magister-color-background-accent-teal-bold: var(--sl-magister-color-palette-teal-600);
  --sl-magister-color-background-accent-teal-interactive-bold: var(
    --sl-magister-color-palette-teal-900
  );
  --sl-magister-color-background-accent-teal-interactive-plain: var(
    --sl-magister-color-palette-teal-400
  );
  --sl-magister-color-background-accent-teal-subtle: #00d0c933;
  --sl-magister-color-background-accent-teal-subtlest: #00d0c91a;
  --sl-magister-color-background-accent-yellow-bold: var(--sl-magister-color-palette-yellow-400);
  --sl-magister-color-background-accent-yellow-interactive-bold: var(
    --sl-magister-color-palette-yellow-800
  );
  --sl-magister-color-background-accent-yellow-interactive-plain: var(
    --sl-magister-color-palette-yellow-400
  );
  --sl-magister-color-background-accent-yellow-subtle: #efb80333;
  --sl-magister-color-background-accent-yellow-subtlest: #efb8031a;
  --sl-magister-color-background-bold: var(--sl-magister-color-border-bold);
  --sl-magister-color-background-caution-bold: var(
    --sl-magister-color-background-accent-orange-bold
  );
  --sl-magister-color-background-caution-interactive-bold: var(
    --sl-magister-color-background-accent-orange-interactive-bold
  );
  --sl-magister-color-background-caution-interactive-plain: var(
    --sl-magister-color-background-accent-orange-interactive-plain
  );
  --sl-magister-color-background-caution-subtle: var(
    --sl-magister-color-background-accent-orange-subtle
  );
  --sl-magister-color-background-caution-subtlest: var(
    --sl-magister-color-background-accent-orange-subtlest
  );
  --sl-magister-color-background-disabled: var(--sl-magister-color-palette-grey-150);
  --sl-magister-color-background-highlight: var(--sl-magister-color-palette-yellow-100);
  --sl-magister-color-background-info-bold: var(--sl-magister-color-background-accent-blue-bold);
  --sl-magister-color-background-info-interactive-bold: var(
    --sl-magister-color-background-accent-blue-interactive-bold
  );
  --sl-magister-color-background-info-interactive-plain: var(
    --sl-magister-color-background-accent-blue-interactive-plain
  );
  --sl-magister-color-background-info-subtle: var(
    --sl-magister-color-background-accent-blue-subtle
  );
  --sl-magister-color-background-info-subtlest: var(
    --sl-magister-color-background-accent-blue-subtlest
  );
  --sl-magister-color-background-input-interactive: var(
    --sl-magister-color-background-accent-blue-interactive-plain
  );
  --sl-magister-color-background-input-plain: var(--sl-magister-color-palette-grey-000);
  --sl-magister-color-background-interactive-bold: var(
    --sl-magister-color-background-accent-blue-interactive-bold
  );
  --sl-magister-color-background-interactive-plain: var(
    --sl-magister-color-background-accent-blue-interactive-plain
  );
  --sl-magister-color-background-inverted-bold: var(--sl-magister-color-palette-grey-000);
  --sl-magister-color-background-inverted-interactive-bold: var(
    --sl-magister-color-palette-grey-600
  );
  --sl-magister-color-background-inverted-interactive-plain: var(
    --sl-magister-color-palette-grey-150
  );
  --sl-magister-color-background-inverted-subtle: #ffffff33;
  --sl-magister-color-background-inverted-subtlest: #ffffff1a;
  --sl-magister-color-background-negative-bold: var(--sl-magister-color-background-accent-red-bold);
  --sl-magister-color-background-negative-interactive-bold: var(
    --sl-magister-color-background-accent-red-interactive-bold
  );
  --sl-magister-color-background-negative-interactive-plain: var(
    --sl-magister-color-background-accent-red-interactive-plain
  );
  --sl-magister-color-background-negative-subtle: var(
    --sl-magister-color-background-accent-red-subtle
  );
  --sl-magister-color-background-negative-subtlest: var(
    --sl-magister-color-background-accent-red-subtlest
  );
  --sl-magister-color-background-neutral-bold: var(--sl-magister-color-palette-grey-200);
  --sl-magister-color-background-neutral-interactive-bold: var(
    --sl-magister-color-background-accent-grey-interactive-bold
  );
  --sl-magister-color-background-neutral-interactive-plain: var(
    --sl-magister-color-background-accent-grey-interactive-bold
  );
  --sl-magister-color-background-neutral-subtle: var(
    --sl-magister-color-background-accent-grey-subtle
  );
  --sl-magister-color-background-neutral-subtlest: var(
    --sl-magister-color-background-accent-grey-subtlest
  );
  --sl-magister-color-background-positive-bold: var(
    --sl-magister-color-background-accent-green-bold
  );
  --sl-magister-color-background-positive-interactive-bold: var(
    --sl-magister-color-background-accent-green-interactive-bold
  );
  --sl-magister-color-background-positive-interactive-plain: var(
    --sl-magister-color-background-accent-green-interactive-plain
  );
  --sl-magister-color-background-positive-subtle: var(
    --sl-magister-color-background-accent-green-subtle
  );
  --sl-magister-color-background-positive-subtlest: var(
    --sl-magister-color-background-accent-green-subtlest
  );
  --sl-magister-color-background-primary-bold: var(--sl-magister-color-background-accent-blue-bold);
  --sl-magister-color-background-primary-interactive-bold: var(
    --sl-magister-color-background-accent-blue-interactive-bold
  );
  --sl-magister-color-background-primary-interactive-plain: var(
    --sl-magister-color-background-accent-blue-interactive-plain
  );
  --sl-magister-color-background-primary-subtle: var(
    --sl-magister-color-background-accent-blue-subtle
  );
  --sl-magister-color-background-primary-subtlest: var(
    --sl-magister-color-background-accent-blue-subtlest
  );
  --sl-magister-color-background-secondary-bold: var(--sl-magister-color-palette-blue-150);
  --sl-magister-color-background-secondary-interactive-bold: var(
    --sl-magister-color-palette-blue-400
  );
  --sl-magister-color-background-secondary-interactive-plain: var(
    --sl-magister-color-palette-blue-400
  );
  --sl-magister-color-background-secondary-subtle: var(
    --sl-magister-color-background-accent-blue-subtle
  );
  --sl-magister-color-background-secondary-subtlest: var(
    --sl-magister-color-background-accent-blue-subtlest
  );
  --sl-magister-color-background-selected-bold: var(
    --sl-magister-color-background-accent-blue-bold
  );
  --sl-magister-color-background-selected-interactive-bold: var(
    --sl-magister-color-background-accent-blue-interactive-bold
  );
  --sl-magister-color-background-selected-interactive-plain: var(
    --sl-magister-color-background-accent-blue-interactive-plain
  );
  --sl-magister-color-background-selected-subtle: var(
    --sl-magister-color-background-accent-blue-subtle
  );
  --sl-magister-color-background-selected-subtlest: var(
    --sl-magister-color-background-accent-blue-subtlest
  );
  --sl-magister-color-background-subtle: var(--sl-magister-color-background-accent-grey-subtle);
  --sl-magister-color-blanket-plain: #222222cc;
  --sl-magister-color-border-accent-blue-bold: var(--sl-magister-color-background-accent-blue-bold);
  --sl-magister-color-border-accent-blue-plain: var(
    --sl-magister-color-background-accent-blue-bold
  );
  --sl-magister-color-border-accent-green-bold: var(
    --sl-magister-color-background-accent-green-bold
  );
  --sl-magister-color-border-accent-green-plain: var(
    --sl-magister-color-background-accent-green-bold
  );
  --sl-magister-color-border-accent-grey-bold: var(--sl-magister-color-palette-grey-500);
  --sl-magister-color-border-accent-grey-faint: var(--sl-magister-color-palette-grey-150);
  --sl-magister-color-border-accent-grey-heavy: var(--sl-magister-color-palette-grey-900);
  --sl-magister-color-border-accent-grey-plain: var(--sl-magister-color-palette-grey-400);
  --sl-magister-color-border-accent-orange-bold: var(
    --sl-magister-color-foreground-accent-orange-bold
  );
  --sl-magister-color-border-accent-orange-plain: var(
    --sl-magister-color-background-accent-orange-bold
  );
  --sl-magister-color-border-accent-purple-bold: var(
    --sl-magister-color-background-accent-purple-bold
  );
  --sl-magister-color-border-accent-purple-plain: var(
    --sl-magister-color-background-accent-purple-bold
  );
  --sl-magister-color-border-accent-red-bold: var(--sl-magister-color-foreground-accent-red-bold);
  --sl-magister-color-border-accent-red-plain: var(--sl-magister-color-foreground-accent-red-plain);
  --sl-magister-color-border-accent-teal-bold: var(--sl-magister-color-background-accent-teal-bold);
  --sl-magister-color-border-accent-teal-plain: var(
    --sl-magister-color-background-accent-teal-bold
  );
  --sl-magister-color-border-accent-yellow-bold: var(
    --sl-magister-color-background-accent-yellow-bold
  );
  --sl-magister-color-border-accent-yellow-plain: var(
    --sl-magister-color-background-accent-yellow-bold
  );
  --sl-magister-color-border-bold: var(--sl-magister-color-border-accent-grey-bold);
  --sl-magister-color-border-caution-bold: var(--sl-magister-color-border-accent-orange-bold);
  --sl-magister-color-border-caution-plain: var(--sl-magister-color-border-accent-orange-plain);
  --sl-magister-color-border-disabled: var(--sl-magister-color-palette-grey-400);
  --sl-magister-color-border-focused: var(--sl-magister-color-palette-blue-400);
  --sl-magister-color-border-info-bold: var(--sl-magister-color-border-accent-blue-bold);
  --sl-magister-color-border-info-plain: var(--sl-magister-color-border-accent-blue-plain);
  --sl-magister-color-border-info-subtle: var(--sl-magister-color-background-accent-blue-subtle);
  --sl-magister-color-border-input: var(--sl-magister-color-border-bold);
  --sl-magister-color-border-inverted: var(--sl-magister-color-palette-grey-000);
  --sl-magister-color-border-negative-bold: var(--sl-magister-color-border-accent-red-bold);
  --sl-magister-color-border-negative-plain: var(--sl-magister-color-border-accent-red-plain);
  --sl-magister-color-border-neutral-bold: var(--sl-magister-color-border-accent-grey-bold);
  --sl-magister-color-border-neutral-plain: var(--sl-magister-color-border-accent-grey-plain);
  --sl-magister-color-border-neutral-subtle: var(--sl-magister-color-background-accent-grey-subtle);
  --sl-magister-color-border-plain: var(--sl-magister-color-border-accent-grey-plain);
  --sl-magister-color-border-positive-bold: var(--sl-magister-color-border-accent-green-bold);
  --sl-magister-color-border-positive-plain: var(--sl-magister-color-border-accent-green-plain);
  --sl-magister-color-border-primary-bold: var(--sl-magister-color-border-accent-blue-bold);
  --sl-magister-color-border-primary-plain: var(--sl-magister-color-border-accent-blue-plain);
  --sl-magister-color-border-secondary-bold: var(--sl-magister-color-background-secondary-bold);
  --sl-magister-color-border-secondary-plain: var(--sl-magister-color-border-accent-blue-plain);
  --sl-magister-color-border-selected: var(--sl-magister-color-border-accent-blue-plain);
  --sl-magister-color-foreground-accent-blue-bold: var(--sl-magister-color-palette-blue-700);
  --sl-magister-color-foreground-accent-blue-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-blue-plain: var(--sl-magister-color-palette-blue-600);
  --sl-magister-color-foreground-accent-green-bold: var(--sl-magister-color-palette-green-700);
  --sl-magister-color-foreground-accent-green-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-green-plain: var(--sl-magister-color-palette-green-600);
  --sl-magister-color-foreground-accent-grey-bold: var(--sl-magister-color-palette-grey-900);
  --sl-magister-color-foreground-accent-grey-faint: var(--sl-magister-color-palette-grey-300);
  --sl-magister-color-foreground-accent-grey-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-grey-on-inverted: var(--sl-magister-color-foreground-bold);
  --sl-magister-color-foreground-accent-grey-plain: var(--sl-magister-color-palette-grey-800);
  --sl-magister-color-foreground-accent-grey-subtle: var(--sl-magister-color-palette-grey-700);
  --sl-magister-color-foreground-accent-grey-subtlest: var(--sl-magister-color-palette-grey-600);
  --sl-magister-color-foreground-accent-orange-bold: var(--sl-magister-color-palette-orange-700);
  --sl-magister-color-foreground-accent-orange-on-bold: var(--sl-magister-color-foreground-bold);
  --sl-magister-color-foreground-accent-orange-plain: var(--sl-magister-color-palette-orange-700);
  --sl-magister-color-foreground-accent-purple-bold: var(--sl-magister-color-palette-purple-700);
  --sl-magister-color-foreground-accent-purple-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-purple-plain: var(--sl-magister-color-palette-purple-500);
  --sl-magister-color-foreground-accent-red-bold: var(--sl-magister-color-palette-red-800);
  --sl-magister-color-foreground-accent-red-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-red-plain: var(--sl-magister-color-palette-red-600);
  --sl-magister-color-foreground-accent-teal-bold: var(--sl-magister-color-palette-teal-800);
  --sl-magister-color-foreground-accent-teal-on-bold: var(
    --sl-magister-color-foreground-inverted-plain
  );
  --sl-magister-color-foreground-accent-teal-plain: var(--sl-magister-color-palette-teal-600);
  --sl-magister-color-foreground-accent-yellow-bold: var(--sl-magister-color-palette-yellow-800);
  --sl-magister-color-foreground-accent-yellow-on-bold: var(--sl-magister-color-foreground-bold);
  --sl-magister-color-foreground-accent-yellow-plain: var(--sl-magister-color-palette-yellow-700);
  --sl-magister-color-foreground-bold: var(--sl-magister-color-foreground-accent-grey-bold);
  --sl-magister-color-foreground-brand: var(--sl-magister-color-foreground-accent-blue-plain);
  --sl-magister-color-foreground-caution-bold: var(
    --sl-magister-color-foreground-accent-orange-bold
  );
  --sl-magister-color-foreground-caution-on-bold: var(
    --sl-magister-color-foreground-accent-orange-on-bold
  );
  --sl-magister-color-foreground-caution-plain: var(
    --sl-magister-color-foreground-accent-orange-plain
  );
  --sl-magister-color-foreground-disabled: var(--sl-magister-color-palette-grey-500);
  --sl-magister-color-foreground-info-bold: var(--sl-magister-color-foreground-accent-blue-bold);
  --sl-magister-color-foreground-info-on-bold: var(
    --sl-magister-color-foreground-accent-blue-on-bold
  );
  --sl-magister-color-foreground-info-plain: var(--sl-magister-color-foreground-accent-blue-plain);
  --sl-magister-color-foreground-inverted-bold: var(--sl-magister-color-palette-grey-000);
  --sl-magister-color-foreground-inverted-on-bold: var(--sl-magister-color-palette-blue-800);
  --sl-magister-color-foreground-inverted-plain: var(--sl-magister-color-palette-grey-000);
  --sl-magister-color-foreground-negative-bold: var(--sl-magister-color-foreground-accent-red-bold);
  --sl-magister-color-foreground-negative-on-bold: var(
    --sl-magister-color-foreground-accent-red-on-bold
  );
  --sl-magister-color-foreground-negative-plain: var(
    --sl-magister-color-foreground-accent-red-plain
  );
  --sl-magister-color-foreground-neutral-bold: var(--sl-magister-color-foreground-accent-grey-bold);
  --sl-magister-color-foreground-neutral-on-bold: var(--sl-magister-color-foreground-bold);
  --sl-magister-color-foreground-neutral-plain: var(
    --sl-magister-color-foreground-accent-grey-subtlest
  );
  --sl-magister-color-foreground-plain: var(--sl-magister-color-foreground-accent-grey-plain);
  --sl-magister-color-foreground-positive-bold: var(
    --sl-magister-color-foreground-accent-green-bold
  );
  --sl-magister-color-foreground-positive-on-bold: var(
    --sl-magister-color-foreground-accent-green-on-bold
  );
  --sl-magister-color-foreground-positive-plain: var(
    --sl-magister-color-foreground-accent-green-plain
  );
  --sl-magister-color-foreground-primary-bold: var(--sl-magister-color-foreground-accent-blue-bold);
  --sl-magister-color-foreground-primary-on-bold: var(
    --sl-magister-color-foreground-accent-blue-on-bold
  );
  --sl-magister-color-foreground-secondary-bold: var(
    --sl-magister-color-foreground-accent-blue-bold
  );
  --sl-magister-color-foreground-secondary-on-bold: var(--sl-magister-color-palette-blue-800);
  --sl-magister-color-foreground-selected-bold: var(
    --sl-magister-color-foreground-accent-blue-bold
  );
  --sl-magister-color-foreground-selected-on-bold: var(
    --sl-magister-color-foreground-accent-blue-on-bold
  );
  --sl-magister-color-foreground-selected-plain: var(
    --sl-magister-color-foreground-accent-blue-plain
  );
  --sl-magister-color-foreground-subtle: var(--sl-magister-color-foreground-accent-grey-subtle);
  --sl-magister-color-foreground-subtlest: var(--sl-magister-color-foreground-accent-grey-subtlest);
  --sl-magister-color-link-active: var(--sl-magister-color-palette-blue-800);
  --sl-magister-color-link-focused-active: var(--sl-magister-color-palette-blue-900);
  --sl-magister-color-link-focused-hover: var(--sl-magister-color-palette-blue-800);
  --sl-magister-color-link-focused-idle: var(--sl-magister-color-palette-blue-700);
  --sl-magister-color-link-hover: var(--sl-magister-color-foreground-accent-blue-bold);
  --sl-magister-color-link-idle: var(--sl-magister-color-foreground-accent-blue-plain);
  --sl-magister-color-link-inverted-active: var(--sl-magister-color-palette-blue-150);
  --sl-magister-color-link-inverted-hover: var(--sl-magister-color-palette-blue-100);
  --sl-magister-color-link-inverted-idle: var(--sl-magister-color-foreground-inverted-plain);
  --sl-magister-color-link-muted-active: var(--sl-magister-color-link-active);
  --sl-magister-color-link-muted-hover: var(--sl-magister-color-link-hover);
  --sl-magister-color-link-muted-idle: var(--sl-magister-color-foreground-accent-grey-subtlest);
  --sl-magister-color-palette-blue-050: #f0f8ff;
  --sl-magister-color-palette-blue-100: #ddeffe;
  --sl-magister-color-palette-blue-150: #b7defd;
  --sl-magister-color-palette-blue-200: #97cffc;
  --sl-magister-color-palette-blue-300: #6fbcfb;
  --sl-magister-color-palette-blue-400: #1f97f9;
  --sl-magister-color-palette-blue-500: #0683ea;
  --sl-magister-color-palette-blue-600: #056dc2;
  --sl-magister-color-palette-blue-700: #04579a;
  --sl-magister-color-palette-blue-800: #0b385c;
  --sl-magister-color-palette-blue-900: #233243;
  --sl-magister-color-palette-green-050: #f0fdf9;
  --sl-magister-color-palette-green-100: #cbfced;
  --sl-magister-color-palette-green-150: #98f7de;
  --sl-magister-color-palette-green-200: #5cecca;
  --sl-magister-color-palette-green-300: #2bd6b4;
  --sl-magister-color-palette-green-400: #13c4a3;
  --sl-magister-color-palette-green-500: #0b967e;
  --sl-magister-color-palette-green-600: #0e7767;
  --sl-magister-color-palette-green-700: #105f54;
  --sl-magister-color-palette-green-800: #124f46;
  --sl-magister-color-palette-green-900: #03302b;
  --sl-magister-color-palette-grey-000: #ffffff;
  --sl-magister-color-palette-grey-050: #f6f8fa;
  --sl-magister-color-palette-grey-100: #f0f2f5;
  --sl-magister-color-palette-grey-150: #e0e6ea;
  --sl-magister-color-palette-grey-200: #dae0e7;
  --sl-magister-color-palette-grey-300: #d0d9e0;
  --sl-magister-color-palette-grey-400: #c8d1da;
  --sl-magister-color-palette-grey-500: #818b98;
  --sl-magister-color-palette-grey-600: #59636e;
  --sl-magister-color-palette-grey-700: #393f46;
  --sl-magister-color-palette-grey-800: #25292f;
  --sl-magister-color-palette-grey-900: #222222;
  --sl-magister-color-palette-orange-050: #fff5ed;
  --sl-magister-color-palette-orange-100: #fff2e8;
  --sl-magister-color-palette-orange-150: #ffdcbe;
  --sl-magister-color-palette-orange-200: #ffc695;
  --sl-magister-color-palette-orange-300: #ffb06c;
  --sl-magister-color-palette-orange-400: #ff9a42;
  --sl-magister-color-palette-orange-500: #fe8319;
  --sl-magister-color-palette-orange-600: #d56606;
  --sl-magister-color-palette-orange-700: #ac5000;
  --sl-magister-color-palette-orange-800: #843d00;
  --sl-magister-color-palette-orange-900: #5b2a00;
  --sl-magister-color-palette-purple-050: #f4f2ff;
  --sl-magister-color-palette-purple-100: #ece7ff;
  --sl-magister-color-palette-purple-150: #d9d2ff;
  --sl-magister-color-palette-purple-200: #bfaeff;
  --sl-magister-color-palette-purple-300: #9f80ff;
  --sl-magister-color-palette-purple-400: #824dff;
  --sl-magister-color-palette-purple-500: #7b33ff;
  --sl-magister-color-palette-purple-600: #6616eb;
  --sl-magister-color-palette-purple-700: #5512c5;
  --sl-magister-color-palette-purple-800: #4711a1;
  --sl-magister-color-palette-purple-900: #29076e;
  --sl-magister-color-palette-red-050: #fff1f1;
  --sl-magister-color-palette-red-100: #ffdfe0;
  --sl-magister-color-palette-red-150: #ffc5c7;
  --sl-magister-color-palette-red-200: #ff9da0;
  --sl-magister-color-palette-red-300: #ff6569;
  --sl-magister-color-palette-red-400: #fe353b;
  --sl-magister-color-palette-red-500: #ed1d23;
  --sl-magister-color-palette-red-600: #c70e13;
  --sl-magister-color-palette-red-700: #a41014;
  --sl-magister-color-palette-red-800: #881417;
  --sl-magister-color-palette-red-900: #4a0507;
  --sl-magister-color-palette-teal-050: #eefffc;
  --sl-magister-color-palette-teal-100: #c5fffa;
  --sl-magister-color-palette-teal-150: #8bfff5;
  --sl-magister-color-palette-teal-200: #4afef0;
  --sl-magister-color-palette-teal-300: #15ece2;
  --sl-magister-color-palette-teal-400: #00d0c9;
  --sl-magister-color-palette-teal-500: #00a8a5;
  --sl-magister-color-palette-teal-600: #008080;
  --sl-magister-color-palette-teal-700: #066769;
  --sl-magister-color-palette-teal-800: #0a5757;
  --sl-magister-color-palette-teal-900: #003235;
  --sl-magister-color-palette-yellow-050: #fefce8;
  --sl-magister-color-palette-yellow-100: #fffbc2;
  --sl-magister-color-palette-yellow-150: #fff387;
  --sl-magister-color-palette-yellow-200: #ffe543;
  --sl-magister-color-palette-yellow-300: #ffd10f;
  --sl-magister-color-palette-yellow-400: #efb803;
  --sl-magister-color-palette-yellow-500: #ce8e00;
  --sl-magister-color-palette-yellow-600: #a46404;
  --sl-magister-color-palette-yellow-700: #884e0b;
  --sl-magister-color-palette-yellow-800: #734010;
  --sl-magister-color-palette-yellow-900: #432105;
  --sl-magister-color-skeleton-plain: var(--sl-magister-color-palette-grey-100);
  --sl-magister-color-skeleton-subtle: var(--sl-magister-color-palette-grey-050);
  --sl-magister-elevation-surface-base-default: var(--sl-magister-color-palette-blue-050);
  --sl-magister-elevation-surface-raised-alternative: var(--sl-magister-color-palette-grey-050);
  --sl-magister-elevation-surface-raised-default: var(--sl-magister-color-palette-grey-000);
  --sl-magister-elevation-surface-raised-inverted: var(--sl-magister-color-palette-grey-900);
  --sl-magister-elevation-surface-raised-primary: var(
    --sl-magister-color-background-accent-blue-bold
  );
  --sl-magister-elevation-surface-raised-sunken: var(--sl-magister-color-palette-grey-050);
  --sl-magister-elevation-surface-shadow: var(--sl-magister-color-palette-grey-900);
  --sl-magister-opacity-bold: 1;
  --sl-magister-opacity-interactive-bold-active: 0.4;
  --sl-magister-opacity-interactive-bold-hover: 0.2;
  --sl-magister-opacity-interactive-bold-idle: 0;
  --sl-magister-opacity-interactive-plain-active: 0.25;
  --sl-magister-opacity-interactive-plain-hover: 0.15;
  --sl-magister-opacity-interactive-plain-idle: 0;
  --sl-magister-opacity-interactive-reversed-active: 1;
  --sl-magister-opacity-interactive-reversed-hover: 0.9;
  --sl-magister-opacity-interactive-reversed-idle: 0.8;
  --sl-magister-opacity-moderate: 0.8;
  --sl-magister-opacity-muted: 0;
  --sl-magister-opacity-subtle: 0.2;
  --sl-magister-opacity-subtlest: 0.1;
  --sl-magister-theme-name: Magister Light;
}
