:host {
  border: 1px solid var(--sl-color-palette-neutral-200);
  border-radius: var(--sl-border-radius-2xs);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

sl-menu-button {
  margin-inline-start: auto;
}

hr + hr {
  display: none;
}
