:host {
  --_border-color: var(--sl-color-foreground-secondary-onBold);

  align-items: center;
  background: transparent;
  display: flex;
  margin: var(--sl-size-075); // necessary to avoid cutting off focus ring of sl-button/sl-menu-button inside
}

:host([align='end']) [part='wrapper'] {
  block-size: var(--sl-size-450);
  flex: 1;
  flex-wrap: wrap;
  justify-content: end;
}

:host([contained]) {
  background: var(--sl-elevation-surface-base-default);
  border: var(--sl-size-borderWidth-default) solid var(--_border-color);
  border-radius: var(--sl-size-borderRadius-lg);
  margin: 0;
  padding: var(--sl-size-100);
}

:host([empty]) {
  padding: 0;

  [part='wrapper'] {
    block-size: 0;
  }
}

:host([contained][inverted]) {
  --_border-color: var(--sl-color-border-primary-plain);

  background: var(--sl-color-background-primary-bold);
}

::slotted(*) {
  flex-shrink: 0;
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  gap: var(--sl-size-100);
  min-inline-size: 0;
}

:host([icon-only]) [part='wrapper'] {
  gap: var(--sl-size-050);

  sl-menu-button {
    margin-inline-start: var(--sl-size-050);
  }
}

sl-menu-button {
  margin-inline-start: var(--sl-size-100);

  &.all-hidden {
    margin-inline-start: 0;
  }

  sl-icon + hr {
    display: none;
  }
}

hr + hr {
  display: none;
}
