:host {
  border: 1px solid var(--sl-color-palette-neutral-200);
  border-radius: var(--sl-border-radius-2xs);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

:host([no-border]) {
  border: 0;
  border-radius: 0;
  padding: 0;
}

::slotted(*) {
  flex-shrink: 0;
}

[part='wrapper'] {
  display: flex;
  flex: 1;
  gap: 1rem;
  min-inline-size: 0;
}

sl-menu-button {
  margin-inline-start: auto;

  sl-icon + hr {
    display: none;
  }
}

hr + hr {
  display: none;
}
