:host {
  --_border-color: var(--sl-color-foreground-secondary-onBold);

  align-items: center;
  background: transparent;

  // border: var(--sl-size-borderWidth-default) solid var(--sl-color-foreground-secondary-onBold); // var(--sl-color-border-plain);
  // border-radius: var(--sl-size-borderRadius-lg); // var(--sl-size-borderRadius-default);
  display: flex;

  // padding: var(--sl-size-100);
}

:host([align='end']) [part='wrapper'] {
  block-size: var(--sl-size-450);
  flex: 1; // TODO: everywhere?
  flex-wrap: wrap;
  justify-content: end;
}

:host([contained]) {
  background: var(--sl-elevation-surface-base-default);
  border: var(--sl-size-borderWidth-default) solid var(--_border-color); // var(--sl-color-border-plain);
  border-radius: var(--sl-size-borderRadius-lg); // var(--sl-size-borderRadius-default); // TODO: but not for inverted
  padding: var(--sl-size-100);
}

:host([empty]) {
  padding: 0;

  [part='wrapper'] {
    block-size: 0;
  }
}

:host([contained][inverted]) {
  --_border-color: var(--sl-color-border-primary-plain);

  background: var(--sl-color-background-primary-bold);
}

// for inverted border: --color-border-primary-plain, ? but inverted can be used at any dark background?
:host([inverted]) {
  --_border-color: var(--sl-color-border-primary-plain); // TODO: background --size-borderWidth-default,
}

// :host([no-border]) {
//  border: 0;
//  border-radius: 0;
//  // padding-inline: 0;
//  padding: 0;
// }

::slotted(*) {
  flex-shrink: 0;
}

[part='wrapper'] {
  align-items: center;
  display: flex;

  // flex: 1;
  // flex-direction: row-reverse;
  gap: var(--sl-size-100);
  min-inline-size: 0;
}

:host([icon-only]) [part='wrapper'] {
  gap: var(--sl-size-050);

  sl-menu-button {
    margin-inline-start: var(--sl-size-050);
  }
}

sl-menu-button {
  margin-inline-start: var(--sl-size-100);

  sl-icon + hr {
    display: none;
  }
}

hr + hr {
  display: none;
}

// TODO: contained and not-contained (default)
