:host {
  border: 1px solid var(--sl-color-button-default-outline-idle-border);
  border-radius: var(--sl-border-radius-button-md);
  display: flex;
}

::slotted(*) {
  border-inline-end: 1px solid var(--sl-color-button-default-outline-idle-border);
  border-radius: 0;
}

::slotted(:first-child) {
  border-end-start-radius: var(--sl-border-radius-button-md);
  border-start-start-radius: var(--sl-border-radius-button-md);
}

::slotted(:last-child) {
  border-end-end-radius: var(--sl-border-radius-button-md);
  border-inline-end: 0;
  border-start-end-radius: var(--sl-border-radius-button-md);
}
