:host {
  border: 1px solid var(--sl-color-palette-neutral-200);
  border-radius: var(--sl-border-radius-2xs);
  display: flex;
}

:host([align='end']) [part='wrapper'] {
  block-size: 2rem;
  flex-wrap: wrap;
  justify-content: end;
  overflow: visible clip;
}

:host([no-border]) {
  border: 0;
  border-radius: 0;
  padding: 0;
}

::slotted(*) {
  flex-shrink: 0;
}

[part='wrapper'] {
  display: flex;
  flex: 1;
  gap: 1rem;
  min-inline-size: 0;
  padding: 0.5rem;
}

sl-menu-button {
  margin: 0.5rem;

  sl-icon + hr {
    display: none;
  }
}

hr + hr {
  display: none;
}
