:host {
  // align-self: stretch;
  background: var(--sl-color-border-plain);
  block-size: var(--sl-size-300);
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--sl-size-010);
  margin-inline: var(--sl-size-100);
}

:host([inverted]) {
  background: var(--sl-color-border-inverted);
}
