/**
 * left for the future use
*/

/*
:root:not(.light) {
  --background-color: #202124;
  --second-background-color: #4c4d4f;
  --third-background-color: #363739;
  --menu-second-color: #363739;
  --primary-color: #363739;
  --font-color: #fff;
  --secondary-font-color: rgba(226, 232, 240, 1);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --n-color-surface: #363739;
  --n-color-background: #363739;
  --n-color-text-weak: #fff;
  --sl-panel-background-color: transparent;
  --sl-color-neutral-0: #363739;
  --sl-color-neutral-700: #fff;
  --n-color-text: #fff;
  --n-button-background-color: transparent;
  --n-tab-color: #668cff;
}

:root.light {
  --background-color: #f8f9fa;
  --second-background-color: var(--ds-color-black);
  --third-background-color: #fff;
  --menu-second-color: rgba(138, 174, 255, 0.2);
  --primary-color: rgba(138, 174, 255, 0.2);
  --font-color: #212529;
  --secondary-font-color: #495057;
  --n-color-surface: rgb(255, 255, 255);
  --n-color-background: rgb(255, 255, 255);
}

.ds-theme-icon {
  align-items: center;
  background-color: var(--primary-color);
  border-color: rgba(226, 232, 240, 0);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  bottom: 16px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 2.5rem;
  justify-content: center;
  left: 16px;
  position: absolute;
  transition: all 500ms;
  width: 2.5rem;
}

:root:not(.light) {
  .ds-icon-light {
    display: none;
  }

  .ds-icon-dark {
    color: #fff;
    display: inline-block;
  }
}

:root.light {
  .ds-icon-light {
    display: inline-block;
  }

  .ds-icon-dark {
    display: none;
  }
}
*/

:root {
  --angle: url('../assets/icons/angle-right-black.svg');
  --angle-active: invert(33%) sepia(70%) saturate(3459%) hue-rotate(219deg) brightness(101%) contrast(105%);
  --background-color: var(--ds-color-white);
  --close-icon: url('../assets/icons/close.svg');
  --filter-color: rgba(34, 34, 34, 0.12);
  --focus-box-shadow: 0 0 0 3px rgba(var(--ds-color-blue-rgb), 0.32);
  --hamburger-filter: brightness(3.5);
  --hamburger-icon: url('../assets/icons/hamburger.svg');
  --help-color: var(--ds-color-black-rgb);
  --help-icon: url('../assets/icons/messages-question-light-grey.svg');
  --help-icon-hover: url('../assets/icons/messages-question-black.svg');
  --highlight-color: var(--ds-color-blue);
  --input-menu-background: rgba(var(--ds-color-black-rgb), 0.04);
  --input-menu-background--hover: rgba(var(--ds-color-black-rgb), 0.08);
  --input-menu--border: var(--ds-color-light-grey);
  --logo: url('../assets/logo-black.svg');
  --menu-button-hover: var(--ds-color-blue-rgb);
  --menu-font-color: var(--ds-color-raisin-black);
  --menu-second-color: rgba(138, 174, 255, 0.2);
  --search-color: var(--ds-color-black);
  --search-icon: url('../assets/icons/search.svg');
  --second-background-color: var(--ds-color-ghost-white);
  --top-navbar-color: var(--ds-color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --angle: url('../assets/icons/angle-right.svg');
    --angle-active: brightness(0) saturate(100%) invert(45%) sepia(57%) saturate(3117%) hue-rotate(210deg)
      brightness(107%) contrast(101%);
    --background-color: var(--ds-color-white);
    --close-icon: url('../assets/icons/close-light.svg');
    --filter-color: rgba(34, 34, 34, 0.64);
    --focus-box-shadow: 0 0 0 3px rgba(var(--ds-color-blue-rgb), 0.64);
    --hamburger-filter: brightness(0.6);
    --hamburger-icon: url('../assets/icons/hamburger-light.svg');
    --help-color: var(--ds-color-faux-white-rgb);
    --help-icon: url('../assets/icons/messages-question-grey.svg');
    --help-icon-hover: url('../assets/icons/messages-question.svg');
    --highlight-color: var(--ds-color-blueberry);
    --input-menu-background: rgba(var(--ds-color-faux-white-rgb), 0.16);
    --input-menu-background--hover: rgba(var(--ds-color-faux-white-rgb), 0.2);
    --logo: url('../assets/logo.svg');
    --menu-button-hover: rgba(var(--ds-color-blue-rgb), 0.32);
    --menu-font-color: var(--ds-color-lotion);
    --menu-second-color: #363739;
    --search-color: var(--ds-color-faux-white);
    --search-icon: url('../assets/icons/search-light.svg');
    --second-background-color: var(--ds-color-black);
    --top-navbar-color: var(--ds-color-black);
  }
}
