@import '../../shared/styles/reset';
@import '../../shared/styles/base';

@import 'dark-light-mode';
@import 'variables';
@import 'typography';

@import 'components/code';
@import 'components/table';
@import 'components/tabs';

@import 'layout/content';
@import 'layout/navigation';

@import 'categories/components';

@import 'slds-sanoma-learning/base.css';
@import 'slds-sanoma-learning/light.css' screen;
@import 'slds-sanoma-learning/dark.css' screen and (prefers-color-scheme: dark);

[dsd-pending] {
  visibility: hidden;
}

*:focus-visible {
  border-radius: 0.6rem;
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

$sticky-breakpoint: 1px; //192px;

html {
  font-size: 62.5%;

  @media (min-height: $sticky-breakpoint) {
    scroll-padding-top: 100px; //120px;

    /* stylelint-disable-next-line max-nesting-depth */
    @media screen and (min-width: $lg-breakpoint) {
      scroll-padding-top: 90px; //100px;
    }
  }
}
