@import '../../shared/styles/reset';
@import '../../shared/styles/base';

@import 'dark-light-mode';
@import 'variables';
@import 'typography';

@import 'components/code';
@import 'components/table';
@import 'components/tabs';

@import 'layout/content';
@import 'layout/navigation';

@import 'categories/components';

[dsd-pending] {
  visibility: hidden;
}

*:focus-visible {
  border-radius: 0.6rem;
  box-shadow: var(--focus-box-shadow);
  outline: none;
}
