@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/the-message-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 600;
  src: url('./../../assets/fonts/the-message-demibold.woff2') format('woff2');
}

@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 700;
  src: url('./../../assets/fonts/the-message-bold.woff2') format('woff2');
}

body,
button {
  font-family: 'source-sans-pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5/*,
button*/ {
  font-family: 'The Message', sans-serif;
  font-weight: 600;
  //font-family: 'source-sans-pro', sans-serif;
}

h1,
.ds-heading-1 {
  //font-size: 3rem;
  font-size: 2.4rem;
  line-height: 1;
}

h2,
.ds-heading-2 {
  font-size: 1.8rem;
}

h3,
.ds-heading-3 {
  font-size: 1.6rem; //2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  font-size: 1.3rem;
}
