/** colours */
:root {
  --ds-color-white: #fff;
  --ds-color-black: #000;
  --ds-color-black-rgb: 34, 34, 34;
  --ds-color-green: #56cc8a;
  --ds-color-emerald: #45cc80;
  --ds-color-emerald-rgb: 69, 204, 128;
  --ds-color-success: #28854e;
  --ds-color-red: #ff575c;
  --ds-color-red-rgb: 255, 87, 92;
  --ds-color-danger: #c73434;
  --ds-color-blue: #36f;
  --ds-color-blue-rgb: 51, 102, 255;
  --ds-color-blueberry: #5985ff;
  --ds-color-ghost-white: #f9f9f9;
  --ds-color-lotion: #fbfcfb;
  --ds-color-faux-white: #fefefe;
  --ds-color-faux-white-rgb: 254, 254, 254;
  --ds-color-concrete: #f3f3f3;
  --ds-color-light-grey: #d5d5d5;
  --ds-color-light-silver: #d9d9d9;
  --ds-color-bright-grey: #eaeaea;
  --ds-color-outer-space: #444;
  --ds-color-blck-olive: #3e3d3d;
  --ds-color-tundora: #4e4e4e;
  --ds-color-raisin-black: #222;
}
