// TODO colours variables here

/** basic */
:root {
  --ds-color-white: #fff;
  --ds-color-black: #222;
  --ds-color-green: #56cc8a;
  --ds-color-emerald: #45cc80;
  --ds-color-blue: #36f;
  --ds-color-blue-rgb: 51, 102, 255;
  --ds-color-blueberry: #5985ff;
  --ds-color-emerald-rgb: 69, 204, 128;
  --ds-color-ghost-white: #f9f9f9;
  --ds-color-lotion: #fbfcfb;
  --ds-color-faux-white: #fefefe;
  --ds-color-light-grey: #d5d5d5;
  --ds-color-bright-grey: #eaeaea;
  --ds-color-outer-space: #444;
  --ds-color-blck-olive: #3e3d3d;
  --ds-color-raisin-black: #222;
}
