// TODO colours variables here

/** basic */
:root {
  --ds-color-white: #fff;
  --ds-color-black: #222;
  --ds-color-green: #56cc8a;
  --ds-color-ghost-white: #f9f9f9;
  --ds-color-lotion: #fbfcfb;
  --ds-color-faux-white: #fefefe;
  --ds-color-light-grey: #d5d5d5;
  --ds-color-outer-space: #444;
  --ds-color-raisin-black: #222;
}
