<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sanoma Learning Design System Documentation</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/teaser-page/styles.css" />
  <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/teaser-page/favicon/SL-Favicon_16-Black.png" sizes="16x16">
  <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/teaser-page/favicon/SL-Favicon_32-Black.png" sizes="32x32">
  <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/teaser-page/favicon/SL-Favicon_16-White.png" sizes="16x16">
  <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/teaser-page/favicon/SL-Favicon_32-White.png" sizes="32x32">
</head>
<body>
<main>
  {{ content | safe }}
</main>
</body>
</html>
