---
layout: base.njk
---

<header class="ds-component__heading">
  <div class="ds-component__heading-wrapper">
    <h1 class="ds-heading-1">{{ title }}</h1>
    <p class="ds-component__heading-description">{{ description }}</p>
  </div>
</header>
<div class="ds-components__content">
  <div class="ds-components__content-wrapper">

    <h2 class="ds-heading-1">Actions</h2>
    Components that can be clicked to trigger an action.

    <section class="ds-components__cards">
    {% for component in collections.component %}
      componentType:::  {{ component.data.componentType }}
    {% if component.data.componentType == "action" %}
    {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
    <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
      <span slot="media" class="component-card__picture">{%- if component.data.picture != null %}{{ component.data.picture | safe }}{% endif -%}{%- if component.data.picture == null %}{{ defaultPicture | safe}}{% endif -%}</span>
      <span slot="media" class="component-card__picture--dark">
        {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
        {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
      </span>
      <div class="component-card__title">{{ component.data.title }}</div>
      <span slot="header">
      <ds-status status="{{ component.data.componentStatus }}"></ds-status>
      </span>
      <p slot="body">{{ component.data.shortDescription }}</p>
    </sl-card>
    {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
    {% endif %}
    {% endfor %}
    </section>

    <h2 class="ds-heading-1">Layout</h2>
    TODO... add description here

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "layout" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <h2 class="ds-heading-1">Selection</h2>
    Components that offer the user the possibility of choosing.

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "selection" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <h2 class="ds-heading-1">Editable</h2>
    Components that give the user the possibility of add their inputs.

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "editable" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <h2 class="ds-heading-1">Overlay</h2>
    Components that add a bit of extra screen real estate. Or will focus the attention of the user in a specific, smaller area of the screen.

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "overlay" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <h2 class="ds-heading-1">Feedback & status</h2>
    Components that communicate the states of the system to the user.

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "feedback & status" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <h2 class="ds-heading-1">Form</h2>
    TODO... description here

    <section class="ds-components__cards">
      {% for component in collections.component %}
        {% if component.data.componentType == "form" %}
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}<a href="{{ component.url | url }}">{% endif %}
          <sl-card orientation="vertical" class="component-card {% if component.data.eleventyNavigation.status == 'planned' or component.data.eleventyNavigation.status == 'draft' %}component-card--disabled{% endif %}">
            <span slot="media" class="component-card__picture">
            {% if component.data.picture != null %}{{ component.data.picture | safe }}{% endif %}{% if component.data.picture == null %}{{ defaultPicture | safe }}{% endif %}
            </span>
            <span slot="media" class="component-card__picture--dark">
              {% if component.data.pictureDark != null %}{{ component.data.pictureDark | safe }}{% endif %}
              {% if component.data.pictureDark == null %}{{ defaultDarkPicture | safe }}{% endif %}
            </span>
            <div class="component-card__title">{{ component.data.title }}</div>
            <span slot="header">
            <ds-status status="{{ component.data.componentStatus }}"></ds-status>
            </span>
            <p slot="body">{{ component.data.shortDescription }}</p>
          </sl-card>
          {% if component.data.eleventyNavigation.status != 'planned' and component.data.eleventyNavigation.status != 'draft' %}</a>{% endif %}
        {% endif %}
      {% endfor %}
    </section>
  </div>
</div>
