:root {
  --my-digital-book-color-background-accent-blue-bold: var(
    --my-digital-book-color-palette-blue-500
  );
  --my-digital-book-color-background-accent-blue-interactive-bold: var(
    --my-digital-book-color-palette-blue-900
  );
  --my-digital-book-color-background-accent-blue-interactive-plain: var(
    --my-digital-book-color-palette-blue-300
  );
  --my-digital-book-color-background-accent-blue-subtle: #1e68bc33;
  --my-digital-book-color-background-accent-blue-subtlest: #1e68bc1a;
  --my-digital-book-color-background-accent-green-bold: var(
    --my-digital-book-color-palette-green-600
  );
  --my-digital-book-color-background-accent-green-interactive-bold: var(
    --my-digital-book-color-palette-green-900
  );
  --my-digital-book-color-background-accent-green-interactive-plain: var(
    --my-digital-book-color-palette-green-400
  );
  --my-digital-book-color-background-accent-green-subtle: #03a16833;
  --my-digital-book-color-background-accent-green-subtlest: #03a1681a;
  --my-digital-book-color-background-accent-grey-bold: var(
    --my-digital-book-color-palette-grey-150
  );
  --my-digital-book-color-background-accent-grey-interactive-bold: var(
    --my-digital-book-color-palette-grey-800
  );
  --my-digital-book-color-background-accent-grey-interactive-plain: var(
    --my-digital-book-color-palette-grey-200
  );
  --my-digital-book-color-background-accent-grey-subtle: #71727233;
  --my-digital-book-color-background-accent-grey-subtlest: #4445451a;
  --my-digital-book-color-background-accent-orange-bold: var(
    --my-digital-book-color-palette-orange-600
  );
  --my-digital-book-color-background-accent-orange-interactive-bold: var(
    --my-digital-book-color-palette-orange-900
  );
  --my-digital-book-color-background-accent-orange-interactive-plain: var(
    --my-digital-book-color-palette-orange-300
  );
  --my-digital-book-color-background-accent-orange-subtle: #fb471f33;
  --my-digital-book-color-background-accent-orange-subtlest: #fb471f1a;
  --my-digital-book-color-background-accent-purple-bold: var(
    --my-digital-book-color-palette-purple-600
  );
  --my-digital-book-color-background-accent-purple-interactive-bold: var(
    --my-digital-book-color-palette-purple-900
  );
  --my-digital-book-color-background-accent-purple-interactive-plain: var(
    --my-digital-book-color-palette-purple-300
  );
  --my-digital-book-color-background-accent-purple-subtle: #824dff33;
  --my-digital-book-color-background-accent-purple-subtlest: #824dff1a;
  --my-digital-book-color-background-accent-red-bold: var(--my-digital-book-color-palette-red-600);
  --my-digital-book-color-background-accent-red-interactive-bold: var(
    --my-digital-book-color-palette-red-900
  );
  --my-digital-book-color-background-accent-red-interactive-plain: var(
    --my-digital-book-color-palette-red-300
  );
  --my-digital-book-color-background-accent-red-subtle: #ff333333;
  --my-digital-book-color-background-accent-red-subtlest: #ff33331a;
  --my-digital-book-color-background-accent-teal-bold: var(
    --my-digital-book-color-palette-teal-600
  );
  --my-digital-book-color-background-accent-teal-interactive-bold: var(
    --my-digital-book-color-palette-teal-900
  );
  --my-digital-book-color-background-accent-teal-interactive-plain: var(
    --my-digital-book-color-palette-teal-300
  );
  --my-digital-book-color-background-accent-teal-subtle: #00d0c933;
  --my-digital-book-color-background-accent-teal-subtlest: #00d0c91a;
  --my-digital-book-color-background-accent-yellow-bold: var(
    --my-digital-book-color-palette-yellow-400
  );
  --my-digital-book-color-background-accent-yellow-interactive-bold: var(
    --my-digital-book-color-palette-yellow-800
  );
  --my-digital-book-color-background-accent-yellow-interactive-plain: var(
    --my-digital-book-color-palette-yellow-400
  );
  --my-digital-book-color-background-accent-yellow-subtle: #ffae0033;
  --my-digital-book-color-background-accent-yellow-subtlest: #ffae001a;
  --my-digital-book-color-background-bold: var(--my-digital-book-color-border-bold);
  --my-digital-book-color-background-caution-bold: var(
    --my-digital-book-color-background-accent-orange-bold
  );
  --my-digital-book-color-background-caution-interactive-bold: var(
    --my-digital-book-color-background-accent-orange-interactive-bold
  );
  --my-digital-book-color-background-caution-interactive-plain: var(
    --my-digital-book-color-background-accent-orange-interactive-plain
  );
  --my-digital-book-color-background-caution-subtle: var(
    --my-digital-book-color-background-accent-orange-subtle
  );
  --my-digital-book-color-background-caution-subtlest: var(
    --my-digital-book-color-background-accent-orange-subtlest
  );
  --my-digital-book-color-background-disabled: var(--my-digital-book-color-palette-grey-100);
  --my-digital-book-color-background-highlight: var(--my-digital-book-color-palette-yellow-100);
  --my-digital-book-color-background-info-bold: var(
    --my-digital-book-color-background-accent-blue-bold
  );
  --my-digital-book-color-background-info-interactive-bold: var(
    --my-digital-book-color-background-accent-blue-interactive-bold
  );
  --my-digital-book-color-background-info-interactive-plain: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-info-subtle: var(
    --my-digital-book-color-background-accent-blue-subtle
  );
  --my-digital-book-color-background-info-subtlest: var(
    --my-digital-book-color-background-accent-blue-subtlest
  );
  --my-digital-book-color-background-input-interactive: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-input-plain: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-color-background-interactive-bold: var(
    --my-digital-book-color-background-accent-blue-interactive-bold
  );
  --my-digital-book-color-background-interactive-plain: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-inverted-bold: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-color-background-inverted-interactive-bold: var(
    --my-digital-book-color-palette-grey-600
  );
  --my-digital-book-color-background-inverted-interactive-plain: var(
    --my-digital-book-color-palette-grey-050
  );
  --my-digital-book-color-background-inverted-subtle: #ffffff33;
  --my-digital-book-color-background-inverted-subtlest: #ffffff1a;
  --my-digital-book-color-background-negative-bold: var(
    --my-digital-book-color-background-accent-red-bold
  );
  --my-digital-book-color-background-negative-interactive-bold: var(
    --my-digital-book-color-background-accent-red-interactive-bold
  );
  --my-digital-book-color-background-negative-interactive-plain: var(
    --my-digital-book-color-background-accent-red-interactive-plain
  );
  --my-digital-book-color-background-negative-subtle: var(
    --my-digital-book-color-background-accent-red-subtle
  );
  --my-digital-book-color-background-negative-subtlest: var(
    --my-digital-book-color-background-accent-red-subtlest
  );
  --my-digital-book-color-background-neutral-bold: var(--my-digital-book-color-palette-grey-100);
  --my-digital-book-color-background-neutral-interactive-bold: var(
    --my-digital-book-color-background-accent-grey-interactive-bold
  );
  --my-digital-book-color-background-neutral-interactive-plain: var(
    --my-digital-book-color-background-accent-grey-interactive-bold
  );
  --my-digital-book-color-background-neutral-subtle: var(
    --my-digital-book-color-background-accent-grey-subtle
  );
  --my-digital-book-color-background-neutral-subtlest: var(
    --my-digital-book-color-background-accent-grey-subtlest
  );
  --my-digital-book-color-background-positive-bold: var(
    --my-digital-book-color-background-accent-green-bold
  );
  --my-digital-book-color-background-positive-interactive-bold: var(
    --my-digital-book-color-background-accent-green-interactive-bold
  );
  --my-digital-book-color-background-positive-interactive-plain: var(
    --my-digital-book-color-background-accent-green-interactive-plain
  );
  --my-digital-book-color-background-positive-subtle: var(
    --my-digital-book-color-background-accent-green-subtle
  );
  --my-digital-book-color-background-positive-subtlest: var(
    --my-digital-book-color-background-accent-green-subtlest
  );
  --my-digital-book-color-background-primary-bold: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-color-background-primary-interactive-bold: var(
    --my-digital-book-color-palette-blue-200
  );
  --my-digital-book-color-background-primary-interactive-plain: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-primary-subtle: var(
    --my-digital-book-color-background-accent-blue-subtle
  );
  --my-digital-book-color-background-primary-subtlest: var(
    --my-digital-book-color-background-accent-blue-subtlest
  );
  --my-digital-book-color-background-secondary-bold: var(
    --my-digital-book-color-background-accent-blue-bold
  );
  --my-digital-book-color-background-secondary-interactive-bold: var(
    --my-digital-book-color-background-accent-blue-interactive-bold
  );
  --my-digital-book-color-background-secondary-interactive-plain: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-secondary-subtle: var(
    --my-digital-book-color-background-accent-blue-subtle
  );
  --my-digital-book-color-background-secondary-subtlest: var(
    --my-digital-book-color-background-accent-blue-subtlest
  );
  --my-digital-book-color-background-selected-bold: var(
    --my-digital-book-color-background-primary-bold
  );
  --my-digital-book-color-background-selected-interactive-bold: var(
    --my-digital-book-color-background-accent-blue-interactive-bold
  );
  --my-digital-book-color-background-selected-interactive-plain: var(
    --my-digital-book-color-background-accent-blue-interactive-plain
  );
  --my-digital-book-color-background-selected-subtle: var(
    --my-digital-book-color-background-accent-blue-subtle
  );
  --my-digital-book-color-background-selected-subtlest: var(
    --my-digital-book-color-background-accent-blue-subtlest
  );
  --my-digital-book-color-background-subtle: var(
    --my-digital-book-color-background-accent-grey-subtle
  );
  --my-digital-book-color-blanket-plain: #181818cc;
  --my-digital-book-color-border-accent-blue-bold: var(
    --my-digital-book-color-foreground-accent-blue-bold
  );
  --my-digital-book-color-border-accent-blue-plain: var(
    --my-digital-book-color-background-accent-blue-bold
  );
  --my-digital-book-color-border-accent-green-bold: var(
    --my-digital-book-color-foreground-accent-green-bold
  );
  --my-digital-book-color-border-accent-green-plain: var(
    --my-digital-book-color-background-accent-green-bold
  );
  --my-digital-book-color-border-accent-grey-bold: var(--my-digital-book-color-palette-grey-400);
  --my-digital-book-color-border-accent-grey-faint: var(--my-digital-book-color-palette-grey-150);
  --my-digital-book-color-border-accent-grey-heavy: var(--my-digital-book-color-palette-grey-900);
  --my-digital-book-color-border-accent-grey-plain: var(--my-digital-book-color-palette-grey-150);
  --my-digital-book-color-border-accent-orange-bold: var(
    --my-digital-book-color-foreground-accent-orange-bold
  );
  --my-digital-book-color-border-accent-orange-plain: var(
    --my-digital-book-color-background-accent-orange-bold
  );
  --my-digital-book-color-border-accent-purple-bold: var(
    --my-digital-book-color-foreground-accent-purple-bold
  );
  --my-digital-book-color-border-accent-purple-plain: var(
    --my-digital-book-color-background-accent-purple-bold
  );
  --my-digital-book-color-border-accent-red-bold: var(
    --my-digital-book-color-foreground-accent-red-bold
  );
  --my-digital-book-color-border-accent-red-plain: var(
    --my-digital-book-color-background-accent-red-bold
  );
  --my-digital-book-color-border-accent-teal-bold: var(
    --my-digital-book-color-foreground-accent-teal-bold
  );
  --my-digital-book-color-border-accent-teal-plain: var(
    --my-digital-book-color-background-accent-teal-bold
  );
  --my-digital-book-color-border-accent-yellow-bold: var(
    --my-digital-book-color-foreground-accent-yellow-bold
  );
  --my-digital-book-color-border-accent-yellow-plain: var(
    --my-digital-book-color-background-accent-yellow-bold
  );
  --my-digital-book-color-border-bold: var(--my-digital-book-color-border-accent-grey-bold);
  --my-digital-book-color-border-caution-bold: var(
    --my-digital-book-color-border-accent-orange-bold
  );
  --my-digital-book-color-border-caution-plain: var(
    --my-digital-book-color-border-accent-orange-plain
  );
  --my-digital-book-color-border-disabled: var(--my-digital-book-color-foreground-disabled);
  --my-digital-book-color-border-focused: var(--my-digital-book-color-palette-blue-400);
  --my-digital-book-color-border-info-bold: var(--my-digital-book-color-border-accent-blue-bold);
  --my-digital-book-color-border-info-plain: var(--my-digital-book-color-border-accent-blue-plain);
  --my-digital-book-color-border-info-subtle: var(
    --my-digital-book-color-background-accent-blue-subtle
  );
  --my-digital-book-color-border-input: var(--my-digital-book-color-border-bold);
  --my-digital-book-color-border-inverted: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-color-border-negative-bold: var(--my-digital-book-color-border-accent-red-bold);
  --my-digital-book-color-border-negative-plain: var(
    --my-digital-book-color-border-accent-red-plain
  );
  --my-digital-book-color-border-neutral-bold: var(--my-digital-book-color-border-accent-grey-bold);
  --my-digital-book-color-border-neutral-plain: var(
    --my-digital-book-color-border-accent-grey-plain
  );
  --my-digital-book-color-border-neutral-subtle: var(
    --my-digital-book-color-background-accent-grey-subtle
  );
  --my-digital-book-color-border-plain: var(--my-digital-book-color-border-accent-grey-plain);
  --my-digital-book-color-border-positive-bold: var(
    --my-digital-book-color-border-accent-green-bold
  );
  --my-digital-book-color-border-positive-plain: var(
    --my-digital-book-color-border-accent-green-plain
  );
  --my-digital-book-color-border-primary-bold: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-color-border-primary-plain: var(
    --my-digital-book-color-border-accent-blue-plain
  );
  --my-digital-book-color-border-secondary-bold: var(
    --my-digital-book-color-background-secondary-bold
  );
  --my-digital-book-color-border-secondary-plain: var(
    --my-digital-book-color-border-accent-grey-plain
  );
  --my-digital-book-color-border-selected: var(--my-digital-book-color-border-primary-bold);
  --my-digital-book-color-foreground-accent-blue-bold: var(
    --my-digital-book-color-palette-blue-600
  );
  --my-digital-book-color-foreground-accent-blue-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-blue-plain: var(
    --my-digital-book-color-palette-blue-500
  );
  --my-digital-book-color-foreground-accent-green-bold: var(
    --my-digital-book-color-palette-green-700
  );
  --my-digital-book-color-foreground-accent-green-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-green-plain: var(
    --my-digital-book-color-palette-green-500
  );
  --my-digital-book-color-foreground-accent-grey-bold: var(
    --my-digital-book-color-palette-grey-900
  );
  --my-digital-book-color-foreground-accent-grey-faint: var(
    --my-digital-book-color-palette-grey-300
  );
  --my-digital-book-color-foreground-accent-grey-on-bold: var(
    --my-digital-book-color-foreground-bold
  );
  --my-digital-book-color-foreground-accent-grey-on-inverted: var(
    --my-digital-book-color-foreground-bold
  );
  --my-digital-book-color-foreground-accent-grey-plain: var(
    --my-digital-book-color-palette-grey-700
  );
  --my-digital-book-color-foreground-accent-grey-subtle: var(
    --my-digital-book-color-palette-grey-600
  );
  --my-digital-book-color-foreground-accent-grey-subtlest: var(
    --my-digital-book-color-palette-grey-500
  );
  --my-digital-book-color-foreground-accent-orange-bold: var(
    --my-digital-book-color-palette-orange-700
  );
  --my-digital-book-color-foreground-accent-orange-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-orange-plain: var(
    --my-digital-book-color-palette-orange-600
  );
  --my-digital-book-color-foreground-accent-purple-bold: var(
    --my-digital-book-color-palette-purple-700
  );
  --my-digital-book-color-foreground-accent-purple-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-purple-plain: var(
    --my-digital-book-color-palette-purple-500
  );
  --my-digital-book-color-foreground-accent-red-bold: var(--my-digital-book-color-palette-red-700);
  --my-digital-book-color-foreground-accent-red-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-red-plain: var(--my-digital-book-color-palette-red-600);
  --my-digital-book-color-foreground-accent-teal-bold: var(
    --my-digital-book-color-palette-teal-700
  );
  --my-digital-book-color-foreground-accent-teal-on-bold: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-foreground-accent-teal-plain: var(
    --my-digital-book-color-palette-teal-600
  );
  --my-digital-book-color-foreground-accent-yellow-bold: var(
    --my-digital-book-color-palette-yellow-700
  );
  --my-digital-book-color-foreground-accent-yellow-on-bold: var(
    --my-digital-book-color-foreground-bold
  );
  --my-digital-book-color-foreground-accent-yellow-plain: var(
    --my-digital-book-color-palette-yellow-600
  );
  --my-digital-book-color-foreground-bold: var(--my-digital-book-color-foreground-accent-grey-bold);
  --my-digital-book-color-foreground-brand: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-color-foreground-caution-bold: var(
    --my-digital-book-color-foreground-accent-orange-bold
  );
  --my-digital-book-color-foreground-caution-on-bold: var(
    --my-digital-book-color-foreground-accent-orange-on-bold
  );
  --my-digital-book-color-foreground-caution-plain: var(
    --my-digital-book-color-foreground-accent-orange-plain
  );
  --my-digital-book-color-foreground-disabled: var(--my-digital-book-color-palette-grey-200);
  --my-digital-book-color-foreground-info-bold: var(
    --my-digital-book-color-foreground-accent-blue-bold
  );
  --my-digital-book-color-foreground-info-on-bold: var(
    --my-digital-book-color-foreground-accent-blue-on-bold
  );
  --my-digital-book-color-foreground-info-plain: var(
    --my-digital-book-color-foreground-accent-blue-plain
  );
  --my-digital-book-color-foreground-inverted-bold: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-color-foreground-inverted-on-bold: var(
    --my-digital-book-color-palette-grey-900
  );
  --my-digital-book-color-foreground-inverted-plain: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-color-foreground-negative-bold: var(
    --my-digital-book-color-foreground-accent-red-bold
  );
  --my-digital-book-color-foreground-negative-on-bold: var(
    --my-digital-book-color-foreground-accent-red-on-bold
  );
  --my-digital-book-color-foreground-negative-plain: var(
    --my-digital-book-color-foreground-accent-red-plain
  );
  --my-digital-book-color-foreground-neutral-bold: var(
    --my-digital-book-color-foreground-accent-grey-bold
  );
  --my-digital-book-color-foreground-neutral-on-bold: var(
    --my-digital-book-color-foreground-accent-grey-on-bold
  );
  --my-digital-book-color-foreground-neutral-plain: var(
    --my-digital-book-color-foreground-accent-grey-subtlest
  );
  --my-digital-book-color-foreground-plain: var(
    --my-digital-book-color-foreground-accent-grey-plain
  );
  --my-digital-book-color-foreground-positive-bold: var(
    --my-digital-book-color-foreground-accent-green-bold
  );
  --my-digital-book-color-foreground-positive-on-bold: var(
    --my-digital-book-color-foreground-accent-green-on-bold
  );
  --my-digital-book-color-foreground-positive-plain: var(
    --my-digital-book-color-foreground-accent-green-plain
  );
  --my-digital-book-color-foreground-primary-bold: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-color-foreground-primary-on-bold: var(
    --my-digital-book-color-foreground-accent-blue-on-bold
  );
  --my-digital-book-color-foreground-secondary-bold: var(
    --my-digital-book-color-foreground-accent-blue-bold
  );
  --my-digital-book-color-foreground-secondary-on-bold: var(
    --my-digital-book-color-foreground-accent-blue-on-bold
  );
  --my-digital-book-color-foreground-selected-bold: var(
    --my-digital-book-color-foreground-accent-blue-bold
  );
  --my-digital-book-color-foreground-selected-on-bold: var(
    --my-digital-book-color-foreground-accent-blue-on-bold
  );
  --my-digital-book-color-foreground-selected-plain: var(
    --my-digital-book-color-foreground-accent-blue-plain
  );
  --my-digital-book-color-foreground-subtle: var(
    --my-digital-book-color-foreground-accent-grey-subtle
  );
  --my-digital-book-color-foreground-subtlest: var(
    --my-digital-book-color-foreground-accent-grey-subtlest
  );
  --my-digital-book-color-link-active: var(--my-digital-book-color-palette-blue-700);
  --my-digital-book-color-link-focused-active: var(--my-digital-book-color-palette-blue-900);
  --my-digital-book-color-link-focused-hover: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-color-link-focused-idle: var(--my-digital-book-color-palette-blue-700);
  --my-digital-book-color-link-hover: var(--my-digital-book-color-foreground-accent-blue-bold);
  --my-digital-book-color-link-idle: var(--my-digital-book-color-foreground-accent-blue-plain);
  --my-digital-book-color-link-inverted-active: var(--my-digital-book-color-palette-blue-150);
  --my-digital-book-color-link-inverted-hover: var(--my-digital-book-color-palette-blue-100);
  --my-digital-book-color-link-inverted-idle: var(
    --my-digital-book-color-foreground-inverted-plain
  );
  --my-digital-book-color-link-muted-active: var(--my-digital-book-color-link-active);
  --my-digital-book-color-link-muted-hover: var(--my-digital-book-color-link-hover);
  --my-digital-book-color-link-muted-idle: var(
    --my-digital-book-color-foreground-accent-grey-subtlest
  );
  --my-digital-book-color-palette-blue-050: #e8f3ff;
  --my-digital-book-color-palette-blue-100: #b3d1f3;
  --my-digital-book-color-palette-blue-150: #a3c3e7;
  --my-digital-book-color-palette-blue-200: #82adde;
  --my-digital-book-color-palette-blue-300: #528ed3;
  --my-digital-book-color-palette-blue-400: #2878d2;
  --my-digital-book-color-palette-blue-500: #1e68bc;
  --my-digital-book-color-palette-blue-600: #174f90;
  --my-digital-book-color-palette-blue-700: #103764;
  --my-digital-book-color-palette-blue-800: #002044;
  --my-digital-book-color-palette-blue-900: #091f38;
  --my-digital-book-color-palette-green-050: #d7f0e7;
  --my-digital-book-color-palette-green-100: #ade0ce;
  --my-digital-book-color-palette-green-150: #82d1b4;
  --my-digital-book-color-palette-green-200: #58c19b;
  --my-digital-book-color-palette-green-300: #2db181;
  --my-digital-book-color-palette-green-400: #03a168;
  --my-digital-book-color-palette-green-500: #028656;
  --my-digital-book-color-palette-green-600: #026b45;
  --my-digital-book-color-palette-green-700: #015033;
  --my-digital-book-color-palette-green-800: #013422;
  --my-digital-book-color-palette-green-900: #001910;
  --my-digital-book-color-palette-grey-000: #ffffff;
  --my-digital-book-color-palette-grey-050: #f6f8f8;
  --my-digital-book-color-palette-grey-100: #eeeeee;
  --my-digital-book-color-palette-grey-150: #cacbcb;
  --my-digital-book-color-palette-grey-200: #bfbfbf;
  --my-digital-book-color-palette-grey-300: #9d9f9f;
  --my-digital-book-color-palette-grey-400: #8d8d8d;
  --my-digital-book-color-palette-grey-500: #717272;
  --my-digital-book-color-palette-grey-600: #5d5d5d;
  --my-digital-book-color-palette-grey-700: #444545;
  --my-digital-book-color-palette-grey-800: #323232;
  --my-digital-book-color-palette-grey-900: #181818;
  --my-digital-book-color-palette-orange-050: #fff3ed;
  --my-digital-book-color-palette-orange-100: #ffe3d5;
  --my-digital-book-color-palette-orange-150: #ffc3a9;
  --my-digital-book-color-palette-orange-200: #fe9a73;
  --my-digital-book-color-palette-orange-300: #fd663a;
  --my-digital-book-color-palette-orange-400: #fb471f;
  --my-digital-book-color-palette-orange-500: #ec240a;
  --my-digital-book-color-palette-orange-600: #c3160b;
  --my-digital-book-color-palette-orange-700: #9b1411;
  --my-digital-book-color-palette-orange-800: #7d1411;
  --my-digital-book-color-palette-orange-900: #430708;
  --my-digital-book-color-palette-purple-050: #f4f2ff;
  --my-digital-book-color-palette-purple-100: #ece7ff;
  --my-digital-book-color-palette-purple-150: #d9d2ff;
  --my-digital-book-color-palette-purple-200: #bfaeff;
  --my-digital-book-color-palette-purple-300: #9f80ff;
  --my-digital-book-color-palette-purple-400: #824dff;
  --my-digital-book-color-palette-purple-500: #7b33ff;
  --my-digital-book-color-palette-purple-600: #6616eb;
  --my-digital-book-color-palette-purple-700: #5512c5;
  --my-digital-book-color-palette-purple-800: #4711a1;
  --my-digital-book-color-palette-purple-900: #29076e;
  --my-digital-book-color-palette-red-050: #fff1f1;
  --my-digital-book-color-palette-red-100: #ffdfdf;
  --my-digital-book-color-palette-red-150: #ffc5c5;
  --my-digital-book-color-palette-red-200: #ff9c9c;
  --my-digital-book-color-palette-red-300: #ff6464;
  --my-digital-book-color-palette-red-400: #ff3333;
  --my-digital-book-color-palette-red-500: #ed1111;
  --my-digital-book-color-palette-red-600: #c90c0c;
  --my-digital-book-color-palette-red-700: #a60e0e;
  --my-digital-book-color-palette-red-800: #891313;
  --my-digital-book-color-palette-red-900: #4b0404;
  --my-digital-book-color-palette-teal-050: #eefffc;
  --my-digital-book-color-palette-teal-100: #c5fffa;
  --my-digital-book-color-palette-teal-150: #8bfff5;
  --my-digital-book-color-palette-teal-200: #4afef0;
  --my-digital-book-color-palette-teal-300: #15ece2;
  --my-digital-book-color-palette-teal-400: #00d0c9;
  --my-digital-book-color-palette-teal-500: #00a8a5;
  --my-digital-book-color-palette-teal-600: #008080;
  --my-digital-book-color-palette-teal-700: #066769;
  --my-digital-book-color-palette-teal-800: #0a5757;
  --my-digital-book-color-palette-teal-900: #003235;
  --my-digital-book-color-palette-yellow-050: #fffdea;
  --my-digital-book-color-palette-yellow-100: #fff7c5;
  --my-digital-book-color-palette-yellow-150: #fff085;
  --my-digital-book-color-palette-yellow-200: #ffe146;
  --my-digital-book-color-palette-yellow-300: #ffcf1b;
  --my-digital-book-color-palette-yellow-400: #ffae00;
  --my-digital-book-color-palette-yellow-500: #e28400;
  --my-digital-book-color-palette-yellow-600: #bb5c02;
  --my-digital-book-color-palette-yellow-700: #984708;
  --my-digital-book-color-palette-yellow-800: #7c3a0b;
  --my-digital-book-color-palette-yellow-900: #481d00;
  --my-digital-book-color-skeleton-plain: var(
    --my-digital-book-color-background-accent-grey-subtlest
  );
  --my-digital-book-color-skeleton-subtle: var(
    --my-digital-book-color-background-accent-grey-subtle
  );
  --my-digital-book-elevation-surface-base-default: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-elevation-surface-raised-alternative: var(
    --my-digital-book-color-palette-grey-100
  );
  --my-digital-book-elevation-surface-raised-default: var(--my-digital-book-color-palette-grey-000);
  --my-digital-book-elevation-surface-raised-inverted: var(
    --my-digital-book-color-palette-grey-900
  );
  --my-digital-book-elevation-surface-raised-primary: var(--my-digital-book-color-palette-blue-800);
  --my-digital-book-elevation-surface-raised-sunken: var(--my-digital-book-color-palette-grey-050);
  --my-digital-book-elevation-surface-shadow: var(--my-digital-book-color-palette-grey-900);
  --my-digital-book-opacity-bold: 1;
  --my-digital-book-opacity-interactive-bold-active: 0.4;
  --my-digital-book-opacity-interactive-bold-hover: 0.2;
  --my-digital-book-opacity-interactive-bold-idle: 0;
  --my-digital-book-opacity-interactive-plain-active: 0.25;
  --my-digital-book-opacity-interactive-plain-hover: 0.15;
  --my-digital-book-opacity-interactive-plain-idle: 0;
  --my-digital-book-opacity-interactive-reversed-active: 1;
  --my-digital-book-opacity-interactive-reversed-hover: 0.9;
  --my-digital-book-opacity-interactive-reversed-idle: 0.8;
  --my-digital-book-opacity-moderate: 0.8;
  --my-digital-book-opacity-muted: 0;
  --my-digital-book-opacity-subtle: 0.2;
  --my-digital-book-opacity-subtlest: 0.1;
  --my-digital-book-theme-name: My Digital Book Light;
}
