$variants: default, valid, invalid;
$variant-selectors: ':not([valid],[invalid])', ':where([valid])', ':where([invalid])';
$states: unchecked, checked;
$state-selectors: '', ':where(:--checked, :--indeterminate, [state--checked], [state--indeterminate])';
$sizes: md, lg;

:host {
  --_box-shadow: none;
  --_cursor: pointer;
  --_icon-size: 1rem;
  --_path-length: 23;
  --_stroke-dashoffset: var(--_path-length);
  --_stroke-linecap: round;
  --_transition: 200ms ease-in-out;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_border-radius: var(--sl-component-checkbox-#{$size}-border-radius);
    --_border-width: var(--sl-component-checkbox-#{$size}-border-width);
    --_font: var(--sl-component-checkbox-#{$size}-font);
    --_gap: var(--sl-component-checkbox-#{$size}-gap);
    --_inline-size: var(--sl-component-checkbox-#{$size}-inline-size);
    --_outline-offset: var(--sl-component-checkbox-#{$size}-outline-offset);
    --_outline-width: var(--sl-component-checkbox-#{$size}-outline-width);
    --_padding-block: var(--sl-component-checkbox-#{$size}-padding-block);
    --_padding-inline: var(--sl-component-checkbox-#{$size}-padding-inline);
  }
}

@each $variant in $variants {
  :host([#{$variant}]) {
    --_background: var(--sl-component-checkbox-#{$variant}-idle-background);
    --_border-color: var(--sl-component-checkbox-#{$variant}-idle-border-color);
    --_foreground: var(--sl-component-checkbox-#{$variant}-idle-foreground);
  }

  // $i: index($variants, $variant);
  // $variant-selector: nth($variant-selectors, $i);

  // @each $state in $states {
  //   $j: index($states, $state);
  //   $state-selector: nth($state-selectors, $j);

  //   :host(#{$variant-selector + $state-selector}) {
  //     --_background: var(--sl-color-input-option-#{$variant}-#{$state}-default-background);
  //     --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-default-border);
  //     --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-default-label);
  //     --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-default-icon);
  //   }

  //   :host(#{$variant-selector + $state-selector}) .wrapper:hover {
  //     --_background: var(--sl-color-input-option-#{$variant}-#{$state}-hover-background);
  //     --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-hover-border);
  //     --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-hover-label);
  //     --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-hover-icon);
  //   }

  //   :host(#{$variant-selector + $state-selector}) .wrapper:active {
  //     --_background: var(--sl-color-input-option-#{$variant}-#{$state}-active-background);
  //     --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-active-border);
  //     --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-active-label);
  //     --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-active-icon);
  //   }

  //   :host(#{$variant-selector + $state-selector}:focus-visible) {
  //     --_background: var(--sl-color-input-option-#{$variant}-#{$state}-focus-background);
  //     --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-focus-border);
  //     --_box-shadow: var(--sl-box-shadow-focus);
  //     --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-focus-label);
  //     --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-focus-icon);
  //   }

  //   :host(#{$variant-selector + $state-selector}:where(:disabled, [internals-disabled])) {
  //     --_background: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-background);
  //     --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-border);
  //     --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-label);
  //     --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-icon);
  //   }
  // }
}

:host {
  align-items: start;
  display: inline-flex;
  flex-direction: column;
  gap: var(--_gap);
  line-height: var(--_line-height);
  outline: none;
}

:host([no-label]) {
  .outer {
    padding-inline-start: var(--_padding-inline);
  }

  .label {
    display: none;
  }
}

:host(:focus-visible) .inner {
  transition: var(--_transition);
  transition-property: background, border-color, box-shadow, color, filter;
}

:host(:where(:--checked, :--indeterminate, [state--checked], [state--indeterminate])) {
  --_stroke-dashoffset: 0;
}

:host(:where(:disabled, [internals-disabled])) {
  --_cursor: default;
  pointer-events: none;
}

.wrapper {
  align-items: start;
  color: var(--_label-color);
  cursor: var(--_cursor);
  display: flex;
  font: var(--_font);
  gap: var(--_gap);
  outline: none;

  &:is(:active, :hover) .inner {
    transition: var(--_transition);
    transition-property: background, border-color, box-shadow, color, filter;
  }
}

.outer {
  display: inline-flex;
  padding-block: var(--_padding-block);
  padding-inline-end: var(--_padding-inline);
}

.inner {
  align-items: center;
  aspect-ratio: 1;
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow, none);
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--_inline-size);
  justify-content: center;
}

.label {
  margin-block-start: calc((var(--_inline-size) + var(--_padding-block) * 2 - 1lh) / 2);
}

svg {
  block-size: var(--_icon-size);
  fill: none;
  inline-size: var(--_icon-size);
}

path {
  stroke: var(--_stroke);
  stroke-dasharray: var(--_path-length);
  stroke-dashoffset: var(--_stroke-dashoffset);
  stroke-linecap: var(--_stroke-linecap);
  stroke-linejoin: round;
  stroke-width: 3px;
  transition: stroke-dashoffset 0.2s cubic-bezier(0, 0, 0.2, 0.1);
}

:host(:where([invalid])) {
  slot[name='hint']::slotted(*) {
    display: none;
  }
}
