:host {
  --_gap: var(--sl-space-group-md);
}

:host {
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  vertical-align: top;
}

.wrapper {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}
