@use 'sass:list';

$sizes: sm, md, lg;
$state-selectors: '', ':where([checked], [indeterminate])';
$states: unchecked, checked;
$variant-selectors: ':not([show-validity])', '[show-validity="valid"]', '[show-validity="invalid"]';
$variants: default, valid, invalid;

:host {
  /**
   * FIXME: These are temporary, until we have actual tokens for the
   * size of the icon in the checkbox.
   * See: https://github.com/sl-design-system/components/issues/554
   */
  --_icon-size-md: 16px;
  --_icon-size-lg: 18px;
  --_border-radius: var(--sl-border-radius-checkbox);
  --_border-size: var(--sl-border-width-input-border);
  --_cursor: pointer;
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_path-length: 23;
  --_stroke-dashoffset: var(--_path-length);
  --_transition: 200ms ease-in-out;

  align-items: start;
  color: var(--_label-color);
  cursor: var(--_cursor);
  display: flex;
  font: var(--_font);
  gap: var(--_gap);
  line-height: var(--_line-height);
  outline: none;
  position: relative;

  &:is(:active, :hover) .inner {
    transition: var(--_transition);
    transition-property: background, border-color, color, filter;
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_font: var(--sl-text-input-option-#{$size});
    --_gap: calc(var(--sl-space-input-option-gap-#{$size}) - var(--_padding-inline));
    --_icon-size: var(--sl-size-input-option-checkbox-icon-#{$size});
    --_line-height: var(--sl-text-typeset-line-height-#{$size});
    --_size: var(--sl-size-input-option-#{$size});
    --_padding-block: var(--sl-space-input-option-block-#{$size});
    --_padding-inline: var(--sl-space-input-option-inline-#{$size});
  }
}

@each $variant in $variants {
  $i: list.index($variants, $variant);
  $variant-selector: list.nth($variant-selectors, $i);

  @each $state in $states {
    $j: list.index($states, $state);
    $state-selector: list.nth($state-selectors, $j);

    :host(#{$variant-selector + $state-selector}) {
      --_background: var(--sl-color-input-option-#{$variant}-#{$state}-default-background);
      --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-default-border);
      --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-default-label);
      --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-default-icon);
    }

    :host(#{$variant-selector + $state-selector}:not([disabled]):focus) {
      --_background: var(--sl-color-input-option-#{$variant}-#{$state}-focus-background);
      --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-focus-border);
      --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-focus-label);
      --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-focus-icon);
    }

    :host(#{$variant-selector + $state-selector}:not([disabled]):hover) {
      --_background: var(--sl-color-input-option-#{$variant}-#{$state}-hover-background);
      --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-hover-border);
      --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-hover-label);
      --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-hover-icon);
    }

    :host(#{$variant-selector + $state-selector}:not([disabled]):active) {
      --_background: var(--sl-color-input-option-#{$variant}-#{$state}-active-background);
      --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-active-border);
      --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-active-label);
      --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-active-icon);
    }

    :host(#{$variant-selector + $state-selector}[disabled]) {
      --_background: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-background);
      --_border-color: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-border);
      --_label-color: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-label);
      --_stroke: var(--sl-color-input-option-#{$variant}-#{$state}-disabled-icon);
    }
  }
}

:host([disabled]) {
  --_cursor: default;

  pointer-events: none;
}

:host([no-label]) {
  .outer {
    padding-inline-start: var(--_padding-inline);
  }

  .label {
    display: none;
  }
}

::slotted(input) {
  block-size: 1px;
  inline-size: 1px;
  opacity: 0;
  outline: 0;
  position: absolute;
}

::slotted(label) {
  cursor: var(--_cursor);
}

[part='outer'] {
  display: inline-flex;
  padding-block: var(--_padding-block);
  padding-inline-end: var(--_padding-inline);
}

[part='inner'] {
  background: var(--_background);
  border: var(--_border-size) solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: inline-flex;
  flex-shrink: 0;
  outline-color: transparent;
  outline-offset: var(--_focus-outline-offset);
  padding: calc((var(--_size) - var(--_icon-size)) / 2 - var(--_border-size));
}

[part='label'] {
  line-height: var(--_line-height);
  margin-block-start: calc((var(--_size) + var(--_padding-block) * 2 - var(--_line-height)) / 2);
}

svg {
  block-size: var(--_icon-size);
  fill: none;
  inline-size: var(--_icon-size);

  &.checked,
  &.indeterminate {
    --_stroke-dashoffset: 0;
  }
}

path {
  stroke: var(--_stroke);
  stroke-dasharray: var(--_path-length);
  stroke-dashoffset: var(--_stroke-dashoffset);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  transition: stroke-dashoffset 0.2s cubic-bezier(0, 0, 0.2, 0.1);
}

// input:checked
