:host {
  --_bg-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-idle);

  align-items: start;
  color: var(--sl-color-text-plain);
  cursor: pointer;
  display: flex;
  gap: var(--sl-size-100);
  outline: none;
  position: relative;
  vertical-align: middle;
}

:host(:hover) {
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-hover);
}

:host(:active) {
  --_bg-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-active);
}

:host(:where([checked], [indeterminate])) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-opacity: 1;
}

:host(:where([checked], [indeterminate]):hover) {
  --_bg-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-hover);
}

:host(:where([checked], [indeterminate]):active) {
  --_bg-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-active);
}

:host([show-validity='invalid']) {
  --_bg-color: var(--sl-color-background-negative-interactive-plain);
}

:host([show-validity='valid']) {
  --_bg-color: var(--sl-color-background-positive-interactive-plain);
}

:host([disabled]) {
  color: var(--sl-color-text-disabled);
  pointer-events: none;

  [part='inner'] {
    background: var(--sl-color-background-disabled);
  }
}

:host([no-label]) {
  .outer {
    padding-inline-start: var(--_padding-inline);
  }

  .label {
    display: none;
  }
}

:host([size='sm']) {
  [part='outer'] {
    padding-block: 0;
  }

  [part='inner'] {
    block-size: var(--sl-size-250);
  }

  svg {
    block-size: var(--sl-size-150);
  }

  [part='label'] {
    margin-block-start: 0;
  }
}

:host([size='lg']) {
  [part='inner'] {
    block-size: var(--sl-size-400);
  }

  svg {
    block-size: var(--sl-size-250);
  }

  [part='label'] {
    margin-block-start: calc((var(--sl-size-500) - 1lh) / 2);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:active, :hover)) [part='inner'] {
    transition: 200ms ease-in-out;
    transition-property: background, border-color, color, filter;
  }
}

::slotted(input) {
  block-size: 1px;
  inline-size: 1px;
  opacity: 0;
  outline: 0;
  pointer-events: none;
  position: absolute;
}

::slotted(label) {
  cursor: pointer;
}

[part='outer'] {
  display: inline-flex;
  padding-block: var(--sl-space-050);
}

[part='inner'] {
  align-items: center;
  aspect-ratio: 1;
  background: rgb(from var(--_bg-color) r g b / var(--_bg-opacity));
  block-size: var(--sl-size-300);
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-input);
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
}

[part='label'] {
  margin-block-start: calc((var(--sl-size-400) - 1lh) / 2);
}

svg {
  aspect-ratio: 1;
  block-size: var(--sl-size-200);
  fill: none;

  &.checked,
  &.indeterminate {
    path {
      stroke-dashoffset: 0;
    }
  }
}

path {
  stroke: var(--sl-color-white);
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;

  @media (prefers-reduced-motion: no-preference) {
    transition: stroke-dashoffset 0.2s cubic-bezier(0, 0, 0.2, 0.1);
  }
}
