:host {
  --_background: var(--sl-skeleton-background, rgb(var(--sl-color-palette-neutral-150)));
  --_border-radius: var(--sl-skeleton-border-radius, 0.25rem);
  --_min-height: var(--sl-skeleton-min-height, 0.5rem);
  --_shine-color: var(
    --sl-color-skeleton-shimmer
  ); //var(--sl-skeleton-shine-color, rgb(var(--sl-color-palette-neutral-200)));
  --_animation-duration: var(--sl-skeleton-animation-duration, 3000ms);
}

:host {
  background: var(--_background);
  border-radius: var(--_border-radius);
  display: block;
  min-height: var(--_min-height);
}

:host([effect='shimmer']) {
  animation: shimmer-effect var(--_animation-duration) linear infinite;
  background: var(
    --sl-color-skeleton-shimmer
  ); //linear-gradient(to right, var(--_background) 4%, var(--_shine-color) 25%, var(--_background) 36%);
  background-size: 2000px 100%;
}

:host([effect='sheen']) {
  animation: sheen-effect var(--_animation-duration) linear infinite;
  background-image: linear-gradient(
    100deg,
    var(--_shine-color),
    var(--_background),
    var(--_background),
    var(--_shine-color)
  );
  background-size: 200% 100%;
}

:host([effect='pulse']) {
  animation: pulse-effect var(--_animation-duration) ease-in-out 0.5s infinite;
}

@keyframes shimmer-effect {
  0% {
    background-position: -2000px 0;
  }

  100% {
    background-position: 2000px 0;
  }
}

@keyframes sheen-effect {
  0% {
    background-position: 300% 0;
  }

  100% {
    background-position: -300% 0;
  }
}

@keyframes pulse-effect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
