:host {
  --_animation-duration: var(--sl-skeleton-animation-duration, 3000ms);
  --_background: var(--sl-color-skeleton-base);
  --_border-radius-circle: var(--sl-border-radius-circle);
  --_border-radius: var(--sl-border-radius-skeleton-default);
  --_min-block-size: var(--sl-size-skeleton-min-height);
  --_shine-color: var(--sl-color-skeleton-effect);

  background: var(--_background);
  display: block;
  min-block-size: var(--_min-block-size);
}

:host([variant='default']) {
  border-radius: var(--_border-radius);
}

:host([variant='circle']) {
  border-radius: var(--_border-radius-circle);
}

:host([effect='shimmer']) {
  background: linear-gradient(to right, var(--_background) 4%, var(--_shine-color) 25%, var(--_background) 36%);
  background-size: 2000px 100%;

  @media (prefers-reduced-motion: no-preference) {
    animation: shimmer-effect var(--_animation-duration) linear infinite;
  }
}

:host([effect='sheen']) {
  background-image: linear-gradient(
    100deg,
    var(--_shine-color),
    var(--_background),
    var(--_background),
    var(--_shine-color)
  );
  background-size: 200% 100%;

  @media (prefers-reduced-motion: no-preference) {
    animation: sheen-effect var(--_animation-duration) linear infinite;
  }
}

:host([effect='pulse']) {
  @media (prefers-reduced-motion: no-preference) {
    animation: pulse-effect var(--_animation-duration) ease-in-out 0.5s infinite;
  }
}

@keyframes shimmer-effect {
  0% {
    background-position: -2000px 0;
  }

  100% {
    background-position: 2000px 0;
  }
}

@keyframes sheen-effect {
  0% {
    background-position: 300% 0;
  }

  100% {
    background-position: -300% 0;
  }
}

@keyframes pulse-effect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
