/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-icon-core-fa-check: fa-chevron-down;
  --sl-icon-core-fa-chevron-down: fa-chevron-down;
  --sl-icon-core-fa-fav: fa-star;
  --sl-icon-core-fa-menu: fa-bars;
  --sl-icon-core-fa-face-smile: fa-face-smile;
  --sl-icon-custom-fav: fav;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-text-text-field: [object Object];
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 20px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-icon: font-awesome-6-pro;
  --sl-text-typeset-font-family-body: open-sans;
  --sl-text-typeset-font-family-heading: open-sans;
  --sl-color-palette-white-base: 248, 248, 248;
  --sl-color-palette-black-base: 41, 41, 41;
  --sl-color-palette-danger-base: 203, 52, 75;
  --sl-color-palette-danger-900: 32, 8, 12;
  --sl-color-palette-danger-800: 66, 17, 24;
  --sl-color-palette-danger-700: 100, 26, 37;
  --sl-color-palette-danger-600: 135, 34, 50;
  --sl-color-palette-danger-500: 169, 43, 62;
  --sl-color-palette-danger-400: 203, 52, 75;
  --sl-color-palette-danger-300: 212, 86, 105;
  --sl-color-palette-danger-200: 221, 120, 136;
  --sl-color-palette-danger-150: 229, 155, 166;
  --sl-color-palette-danger-100: 238, 189, 196;
  --sl-color-palette-danger-50: 247, 223, 227;
  --sl-color-palette-warning-base: 193, 138, 0;
  --sl-color-palette-warning-900: 30, 22, 0;
  --sl-color-palette-warning-800: 63, 45, 0;
  --sl-color-palette-warning-700: 95, 68, 0;
  --sl-color-palette-warning-600: 128, 91, 0;
  --sl-color-palette-warning-500: 160, 115, 0;
  --sl-color-palette-warning-400: 193, 138, 0;
  --sl-color-palette-warning-300: 221, 169, 32;
  --sl-color-palette-warning-200: 214, 177, 86;
  --sl-color-palette-warning-150: 224, 197, 129;
  --sl-color-palette-warning-100: 235, 217, 172;
  --sl-color-palette-warning-50: 245, 237, 215;
  --sl-color-palette-success-base: 72, 168, 56;
  --sl-color-palette-success-900: 11, 26, 9;
  --sl-color-palette-success-800: 23, 55, 18;
  --sl-color-palette-success-700: 36, 83, 28;
  --sl-color-palette-success-600: 48, 111, 37;
  --sl-color-palette-success-500: 60, 140, 47;
  --sl-color-palette-success-400: 72, 168, 56;
  --sl-color-palette-success-300: 103, 183, 90;
  --sl-color-palette-success-200: 134, 197, 123;
  --sl-color-palette-success-150: 165, 212, 157;
  --sl-color-palette-success-100: 195, 227, 190;
  --sl-color-palette-success-50: 226, 241, 224;
  --sl-color-palette-info-base: 76, 154, 204;
  --sl-color-palette-info-900: 12, 24, 32;
  --sl-color-palette-info-800: 25, 50, 66;
  --sl-color-palette-info-700: 38, 76, 101;
  --sl-color-palette-info-600: 50, 102, 135;
  --sl-color-palette-info-500: 63, 128, 170;
  --sl-color-palette-info-400: 76, 154, 204;
  --sl-color-palette-info-300: 106, 171, 213;
  --sl-color-palette-info-200: 136, 188, 221;
  --sl-color-palette-info-150: 167, 205, 230;
  --sl-color-palette-info-100: 197, 222, 238;
  --sl-color-palette-info-50: 227, 239, 247;
  --sl-color-palette-neutral-base: 41, 41, 41;
  --sl-color-palette-neutral-900: 59, 59, 59;
  --sl-color-palette-neutral-800: 76, 76, 76;
  --sl-color-palette-neutral-700: 94, 94, 94;
  --sl-color-palette-neutral-600: 111, 111, 111;
  --sl-color-palette-neutral-500: 129, 129, 129;
  --sl-color-palette-neutral-400: 147, 147, 147;
  --sl-color-palette-neutral-300: 164, 164, 164;
  --sl-color-palette-neutral-200: 182, 182, 182;
  --sl-color-palette-neutral-150: 200, 200, 200;
  --sl-color-palette-neutral-100: 217, 217, 217;
  --sl-color-palette-neutral-50: 235, 235, 235;
  --sl-color-palette-accent-base: 41, 41, 41;
  --sl-color-palette-accent-900: 59, 59, 59;
  --sl-color-palette-accent-800: 76, 76, 76;
  --sl-color-palette-accent-700: 94, 94, 94;
  --sl-color-palette-accent-600: 111, 111, 111;
  --sl-color-palette-accent-500: 129, 129, 129;
  --sl-color-palette-accent-400: 147, 147, 147;
  --sl-color-palette-accent-300: 164, 164, 164;
  --sl-color-palette-accent-200: 182, 182, 182;
  --sl-color-palette-accent-150: 200, 200, 200;
  --sl-color-palette-accent-100: 217, 217, 217;
  --sl-color-palette-accent-50: 235, 235, 235;
  --sl-color-palette-primary-base: 76, 154, 204;
  --sl-color-palette-primary-900: 12, 24, 32;
  --sl-color-palette-primary-800: 25, 50, 66;
  --sl-color-palette-primary-700: 38, 76, 101;
  --sl-color-palette-primary-600: 50, 102, 135;
  --sl-color-palette-primary-500: 63, 128, 170;
  --sl-color-palette-primary-400: 76, 154, 204;
  --sl-color-palette-primary-300: 106, 171, 213;
  --sl-color-palette-primary-200: 136, 188, 221;
  --sl-color-palette-primary-150: 167, 205, 230;
  --sl-color-palette-primary-100: 197, 222, 238;
  --sl-color-palette-primary-50: 227, 239, 247;
  --sl-button-label-lg: var(--sl-text-typeset-line-height-lg);
  --sl-button-label-md: var(--sl-text-typeset-line-height-sm);
  --sl-button-label-sm: var(--sl-text-typeset-line-height-sm);
  --sl-size-button-icon-container-icon-only-lg: var(--sl-size-sm);
  --sl-size-button-icon-container-icon-only-md: var(--sl-size-xs);
  --sl-size-button-icon-container-icon-only-sm: var(--sl-size-xs);
  --sl-size-button-icon-lg: var(--sl-text-typeset-line-height-sm);
  --sl-size-button-icon-md: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-sm: var(--sl-text-typeset-line-height-xxs);
  --sl-size-input-lg: var(--sl-size-md);
  --sl-size-input-md: var(--sl-size-sm);
  --sl-icon-font-weight: 400;
  --sl-icon-base-check: var(--sl-icon-core-fa-check);
  --sl-icon-base-chevron-down: var(--sl-icon-core-fa-chevron-down);
  --sl-icon-base-fav: var(--sl-icon-custom-fav);
  --sl-icon-base-menu: var(--sl-icon-core-fa-menu);
  --sl-icon-base-face-smile: var(--sl-icon-core-fa-face-smile);
  --sl-component-button-md: [object Object];
  --sl-component-button-lg: [object Object];
  --sl-animation-button-easing: var(--sl-animation-easing-ease-in-out);
  --sl-animation-button-duration: var(--sl-animation-duration-normal);
  --sl-space-label-icon-lg: var(--sl-space-xs);
  --sl-space-label-icon-md: var(--sl-space-2xs);
  --sl-space-label-gap-lg: var(--sl-space-sm);
  --sl-space-label-gap-md: var(--sl-space-xs);
  --sl-space-label-gap-sm: var(--sl-space-xs);
  --sl-space-helper-gap-lg: var(--sl-space-sm);
  --sl-space-helper-gap-md: var(--sl-space-xs);
  --sl-space-helper-gap-sm: var(--sl-space-xs);
  --sl-space-button-gap-lg: var(--sl-space-sm);
  --sl-space-button-gap-md: var(--sl-space-xs);
  --sl-space-button-gap-sm: var(--sl-space-xs);
  --sl-space-button-link-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-outline-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-default-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-default));
  --sl-space-text-field-inline-lg: var(--sl-space-lg);
  --sl-space-text-field-inline-md: var(--sl-space-md);
  --sl-space-text-field-block-lg: var(--sl-space-sm);
  --sl-space-text-field-block-md: var(--sl-space-sm);
  --sl-space-group-xl: var(--sl-space-sm);
  --sl-space-group-lg: var(--sl-space-sm);
  --sl-space-group-md: var(--sl-space-xs);
  --sl-space-group-sm: var(--sl-space-2xs);
  --sl-border-width-input-border: var(--sl-border-width-sm);
  --sl-border-width-input-none: var(--sl-border-width-none);
  --sl-border-width-button-link: var(--sl-border-width-none);
  --sl-border-width-button-outline: var(--sl-border-width-xs);
  --sl-border-width-button-default: var(--sl-border-width-xs);
  --sl-border-radius-checkbox: var(--sl-border-radius-2xs);
  --sl-border-radius-circle: var(--sl-border-radius-full);
  --sl-border-radius-default: var(--sl-border-radius-3xs);
  --sl-border-radius-button-icon-only-lg: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-md: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-sm: var(--sl-border-radius-full);
  --sl-border-radius-button-lg: var(--sl-border-radius-sm);
  --sl-border-radius-button-md: var(--sl-border-radius-sm);
  --sl-border-radius-button-sm: var(--sl-border-radius-sm);
  --sl-text-input-label-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-label-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-input-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 / var(--sl-text-typeset-line-height-md)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-input-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-sm: var(--sl-text-typeset-font-weight-regular) 13 / var(--sl-text-typeset-line-height-xxs)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-heading-4: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-3: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-2: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-1: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-3xl) /
    var(--sl-text-typeset-line-height-3xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-0: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-4xl) /
    var(--sl-text-typeset-line-height-4xl) var(--sl-text-typeset-font-family-heading);
  --sl-size-button-icon-container-width-lg: var(--sl-size-button-icon-lg);
  --sl-size-button-icon-container-width-md: var(--sl-size-button-icon-md);
  --sl-size-button-icon-container-width-sm: var(--sl-size-button-icon-sm);
  --sl-size-button-icon-container-height-lg: var(--sl-button-label-lg);
  --sl-size-button-icon-container-height-md: var(--sl-button-label-md);
  --sl-size-button-icon-container-height-sm: var(--sl-button-label-sm);
  --sl-space-text-field-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-text-field-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-input-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-inline-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-inline-md: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-md: var(--sl-space-button-outline-block-sm);
}
