@font-face {
  font-family: 'New Message';
  font-weight: 400;
  src: url('./fonts/NewMessage-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'New Message';
  font-weight: 600;
  src: url('./fonts/NewMessage-SemiBold.woff2') format('woff2');
}
