/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-text-card-body {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-card-subtitle {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-card-title {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-tab-subtitle {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-tab-title {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-tooltip-text-title {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-tooltip-text-tip {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-button-label-md);
}

@mixin sl-text-popover-text-title {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-popover-text-text {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-badge-text-3xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-badge-text-2xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xs);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-xxs);
}

@mixin sl-text-badge-text-xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xs);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-xxs);
}

@mixin sl-text-badge-text-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xs);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-xs);
}

@mixin sl-text-badge-text-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: 9px;
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: 9px;
}

@mixin sl-text-badge-text-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: 6px;
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: 6px;
}

@mixin sl-text-avatar-subheader-3xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-subheader-2xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-subheader-xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-subheader-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-subheader-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-subheader-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-3xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-2xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-header-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xs);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-initials-3xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-icon-typeset-font-size-2xl);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-2xl);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-avatar-initials-2xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-2xl);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-2xl);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-avatar-initials-xl {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-xl);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-avatar-initials-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-md);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-avatar-initials-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-sm);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-avatar-initials-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xs);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-xs);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-select-selectbox-title-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-icon-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xs);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-select-selectbox-title-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-icon-typeset-font-size-xs);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
  text-transform: var(--sl-text-typeset-text-case-uppercase);
}

@mixin sl-text-select-selectbox-text-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-select-selectbox-text-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-list-sm-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: list;
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-dialog-subheading {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-icon-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-book);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-dialog-heading {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-icon-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  line-height: var(--sl-text-typeset-line-height-2xl);
}

@mixin sl-text-input-switch-input-field-bold-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-switch-input-field-bold-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-switch-input-field-bold-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-switch-input-field-regular-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-switch-input-field-regular-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-switch-input-field-regular-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-helper-text-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-helper-text-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-input-helper-text-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-field-label-tag-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-field-label-tag-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-field-label-tag-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-field-label-label-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-field-label-label-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-field-label-label-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-option-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-option-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-input-text-field-text-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-input-text-field-text-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-button-link-disabled-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-link-disabled-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-link-disabled-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-link-active-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-active-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-md);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-active-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-hover-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-hover-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-md);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-hover-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-underline);
}

@mixin sl-text-button-link-idle-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-link-idle-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-link-idle-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
}

@mixin sl-text-button-font-icon-lg {
  font-size: var(--sl-text-typeset-font-size-lg);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-button-font-icon-md {
  font-size: var(--sl-text-typeset-font-size-md);
  line-height: var(--sl-text-typeset-line-height-xs);
}

@mixin sl-text-button-font-icon-sm {
  font-size: 13;
  line-height: var(--sl-text-typeset-line-height-xxs);
}

@mixin sl-text-button-text-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-lg);
}

@mixin sl-text-button-text-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-md);
}

@mixin sl-text-button-text-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-button-label-sm);
}

@mixin sl-text-body-lg-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-lg-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-lg-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-4 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-3 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-2 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-2xl);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-2xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-1 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-3xl);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  letter-spacing: var(--sl-text-typeset-letter-spacing-sm);
  line-height: var(--sl-text-typeset-line-height-3xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-0 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-4xl);
  font-weight: var(--sl-text-typeset-font-weight-medium);
  letter-spacing: var(--sl-text-typeset-letter-spacing-xs);
  line-height: var(--sl-text-typeset-line-height-4xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-avatar-icon-3xl {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-icon-typeset-font-size-2xl);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-avatar-icon-2xl {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-icon-typeset-font-size-2xl);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-avatar-icon-xl {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-2xl);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-avatar-icon-lg {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-avatar-icon-md {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-avatar-icon-sm {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-icon-style-outline);
}

@mixin sl-text-icon-font-icon-lg {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-icon-font-icon-md {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xs);
}

@mixin sl-text-icon-font-icon-sm {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: 13;
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xxs);
}

@mixin sl-text-input-helper-font-icon-lg {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: 18;
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-input-helper-font-icon-md {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: 15;
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-input-text-field-font-icon-lg {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: 18;
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-input-text-field-font-icon-md {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-size: 15;
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-sm);
}
