/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-base {
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-icon-core-fa-check: fa-chevron-down;
  --sl-icon-core-fa-chevron-down: fa-chevron-down;
  --sl-icon-core-fa-fav: fa-star;
  --sl-icon-core-fa-menu: fa-bars;
  --sl-icon-core-fa-face-smile: fa-face-smile;
  --sl-icon-custom-fav: fav;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-text-typeset-font-family-body: Source Sans Pro;
  --sl-text-typeset-font-family-heading: The Message;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 34 34 34;
  --sl-color-palette-danger-base: 255 87 92;
  --sl-color-palette-danger-900: 38 8 8;
  --sl-color-palette-danger-800: 71 13 13;
  --sl-color-palette-danger-700: 107 19 19;
  --sl-color-palette-danger-600: 153 34 36;
  --sl-color-palette-danger-500: 199 52 52;
  --sl-color-palette-danger-400: 229 69 74;
  --sl-color-palette-danger-300: 255 87 92;
  --sl-color-palette-danger-200: 255 142 138;
  --sl-color-palette-danger-150: 255 188 184;
  --sl-color-palette-danger-100: 255 214 209;
  --sl-color-palette-danger-50: 255 237 235;
  --sl-color-palette-warning-base: 255 207 13;
  --sl-color-palette-warning-900: 38 29 11;
  --sl-color-palette-warning-800: 52 39 12;
  --sl-color-palette-warning-700: 86 61 12;
  --sl-color-palette-warning-600: 121 89 13;
  --sl-color-palette-warning-500: 174 131 14;
  --sl-color-palette-warning-400: 225 176 15;
  --sl-color-palette-warning-300: 255 207 13;
  --sl-color-palette-warning-200: 254 218 66;
  --sl-color-palette-warning-150: 253 227 118;
  --sl-color-palette-warning-100: 252 236 170;
  --sl-color-palette-warning-50: 250 244 220;
  --sl-color-palette-success-base: 69 204 128;
  --sl-color-palette-success-900: 8 38 19;
  --sl-color-palette-success-800: 11 51 26;
  --sl-color-palette-success-700: 17 66 36;
  --sl-color-palette-success-600: 27 97 55;
  --sl-color-palette-success-500: 40 133 78;
  --sl-color-palette-success-400: 57 178 108;
  --sl-color-palette-success-300: 69 204 128;
  --sl-color-palette-success-200: 112 224 157;
  --sl-color-palette-success-150: 174 235 196;
  --sl-color-palette-success-100: 215 245 225;
  --sl-color-palette-success-50: 235 245 238;
  --sl-color-palette-info-base: 51 102 255;
  --sl-color-palette-info-900: 0 13 51;
  --sl-color-palette-info-800: 0 23 95;
  --sl-color-palette-info-700: 9 41 142;
  --sl-color-palette-info-600: 17 56 173;
  --sl-color-palette-info-500: 35 81 219;
  --sl-color-palette-info-400: 51 102 255;
  --sl-color-palette-info-300: 89 133 255;
  --sl-color-palette-info-200: 158 186 255;
  --sl-color-palette-info-150: 204 219 255;
  --sl-color-palette-info-100: 224 234 255;
  --sl-color-palette-info-50: 240 245 255;
  --sl-color-palette-neutral-base: 34 34 34;
  --sl-color-palette-neutral-900: 38 38 38;
  --sl-color-palette-neutral-800: 62 61 61;
  --sl-color-palette-neutral-700: 78 78 78;
  --sl-color-palette-neutral-600: 96 95 95;
  --sl-color-palette-neutral-500: 115 115 115;
  --sl-color-palette-neutral-400: 137 137 137;
  --sl-color-palette-neutral-300: 162 161 161;
  --sl-color-palette-neutral-200: 188 188 188;
  --sl-color-palette-neutral-150: 213 213 213;
  --sl-color-palette-neutral-100: 234 234 234;
  --sl-color-palette-neutral-50: 243 243 243;
  --sl-color-palette-accent-base: 51 102 255;
  --sl-color-palette-accent-900: 0 13 51;
  --sl-color-palette-accent-800: 0 23 95;
  --sl-color-palette-accent-700: 9 41 142;
  --sl-color-palette-accent-600: 17 56 173;
  --sl-color-palette-accent-500: 35 81 219;
  --sl-color-palette-accent-400: 51 102 255;
  --sl-color-palette-accent-300: 89 133 255;
  --sl-color-palette-accent-200: 158 186 255;
  --sl-color-palette-accent-150: 204 219 255;
  --sl-color-palette-accent-100: 224 234 255;
  --sl-color-palette-accent-50: 237 242 252;
  --sl-color-palette-primary-base: 34 34 34;
  --sl-color-palette-primary-900: 38 38 38;
  --sl-color-palette-primary-800: 62 61 61;
  --sl-color-palette-primary-700: 78 78 78;
  --sl-color-palette-primary-600: 96 95 95;
  --sl-color-palette-primary-500: 115 115 115;
  --sl-color-palette-primary-400: 137 137 137;
  --sl-color-palette-primary-300: 162 161 161;
  --sl-color-palette-primary-200: 188 188 188;
  --sl-color-palette-primary-150: 213 213 213;
  --sl-color-palette-primary-100: 234 234 234;
  --sl-color-palette-primary-50: 254 254 254;
  --sl-size-input-lg: var(--sl-size-md);
  --sl-size-input-md: var(--sl-size-sm);
  --sl-size-button-icon-container-height-lg: var(--sl-text-typeset-line-height-md);
  --sl-size-button-icon-container-height-md: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-container-height-sm: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-container-icon-only-lg: var(--sl-text-typeset-line-height-md);
  --sl-size-button-icon-container-icon-only-md: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-container-icon-only-sm: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-lg: var(--sl-text-typeset-line-height-sm);
  --sl-size-button-icon-md: var(--sl-text-typeset-line-height-xs);
  --sl-size-button-icon-sm: var(--sl-text-typeset-line-height-xxs);
  --sl-icon-font-weight: 400;
  --sl-icon-base-check: var(--sl-icon-core-fa-check);
  --sl-icon-base-chevron-down: var(--sl-icon-core-fa-chevron-down);
  --sl-icon-base-fav: var(--sl-icon-custom-fav);
  --sl-icon-base-menu: var(--sl-icon-core-fa-menu);
  --sl-icon-base-face-smile: var(--sl-icon-core-fa-face-smile);
  --sl-component-button-md: [object Object];
  --sl-component-button-lg: [object Object];
  --sl-animation-button-easing: var(--sl-animation-easing-ease-in-out);
  --sl-animation-button-duration: var(--sl-animation-duration-normal);
  --sl-space-button-icon-only-lg: var(--sl-space-md);
  --sl-space-button-icon-only-md: var(--sl-space-sm);
  --sl-space-button-icon-only-sm: var(--sl-space-xs);
  --sl-space-button-gap-md: var(--sl-space-xs);
  --sl-space-button-gap-sm: var(--sl-space-2xs);
  --sl-space-button-inline-lg: var(--sl-space-md);
  --sl-space-button-inline-md: var(--sl-space-sm);
  --sl-space-button-inline-sm: var(--sl-space-sm);
  --sl-space-button-block-lg: var(--sl-space-sm);
  --sl-space-button-block-md: var(--sl-space-sm);
  --sl-space-button-block-sm: var(--sl-space-xs);
  --sl-border-width-input-border: var(--sl-border-width-sm);
  --sl-border-width-input-none: var(--sl-border-width-none);
  --sl-border-width-button-none: var(--sl-border-width-none);
  --sl-border-width-button-outline: var(--sl-border-width-xs);
  --sl-border-width-button-default: var(--sl-border-width-sm);
  --sl-border-radius-checkbox: var(--sl-border-radius-2xs);
  --sl-border-radius-circle: var(--sl-border-radius-full);
  --sl-border-radius-default: var(--sl-border-radius-3xs);
  --sl-border-radius-button-full: var(--sl-border-radius-full);
  --sl-border-radius-button-lg: var(--sl-border-radius-sm);
  --sl-border-radius-button-md: var(--sl-border-radius-2xs);
  --sl-border-radius-button-sm: var(--sl-border-radius-3xs);
  --sl-text-input-label-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-label-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-input-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 / var(--sl-text-typeset-line-height-md)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-input-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-lg: var(--sl-text-typeset-font-weight-regular) 15 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-md: var(--sl-text-typeset-font-weight-regular) 13 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-font-icon-sm: var(--sl-text-typeset-font-weight-regular) 11 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-button-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-xs) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-xxs) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-heading-4: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-3: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-2: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-1: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-3xl) /
    var(--sl-text-typeset-line-height-3xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-0: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-4xl) /
    var(--sl-text-typeset-line-height-4xl) var(--sl-text-typeset-font-family-heading);
  --sl-size-button-icon-container-width-lg: var(--sl-size-button-icon-lg);
  --sl-size-button-icon-container-width-md: var(--sl-size-button-icon-md);
  --sl-size-button-icon-container-width-sm: var(--sl-size-button-icon-sm);
  --sl-space-input-gap-lg: var(--sl-space-button-block-md);
  --sl-space-input-gap-md: var(--sl-space-button-block-md);
  --sl-space-input-inline-lg: var(--sl-space-button-block-sm);
  --sl-space-input-inline-md: var(--sl-space-button-block-sm);
  --sl-space-input-block-lg: var(--sl-space-button-block-sm);
  --sl-space-input-block-md: var(--sl-space-button-block-sm);
  --sl-space-button-gap-lg: var(--sl-space-button-block-md);
}
