:host {
  --_background: #f0f;
  --_border: 1px solid var(--_border-color);
  --_border-color: rgba(0, 0, 0, 0.2);
  --_border-radius: 3px;
  --_box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --_padding: 0.5rem;
}

:host {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}

:host(:open) {
  opacity: 1;
}

:host([actual-placement='top']) .arrow {
  bottom: -12px;
}

:host([popover-open]) {
  opacity: 1;
}

.container {
  padding: var(--_padding);
}

.arrow {
  display: flex;
  fill: var(--_background);
  position: absolute;
  stroke: var(--_border-color);
  stroke-width: 2px;
}
