:host {
  align-items: center;
  background: var(--sl-color-background-info-subtlest);
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-info-bold);
  display: grid;
  gap: 0 var(--sl-size-100);
  grid-template-columns: auto 1fr;
  padding: var(--sl-size-150) var(--sl-size-200);

  --sl-color-component-link-idle: var(--sl-color-foreground-info-bold);
}

// this only works for links that are slotted directly into the content slot. If there are nested slots, the styles won't apply to links in those nested slots.
// This is a limitation of the ::slotted() selector, which only applies styles to elements that are direct children of the slot.
// If you need to style links in nested slots, use global.css that puts the --sl-color-component-link-idle variable on the link, and that variable will be set by the callout component.
// This way, even if the link is in a nested slot, it will still inherit the correct color from the callout component.
::slotted(a[href]) {
  color: var(--sl-color-component-link-idle);
}

:host([density='relaxed']) {
  padding: var(--sl-size-300);
}

:host([no-title]) {
  [part='title'] {
    display: none;
  }

  [part='content'] {
    grid-area: 1 / 2;
  }
}

:host([variant='positive']) {
  background: var(--sl-color-background-positive-subtlest);
  color: var(--sl-color-foreground-positive-bold);

  --sl-color-component-link-idle: var(--sl-color-foreground-positive-bold);
}

:host([variant='negative']) {
  background: var(--sl-color-background-negative-subtlest);
  color: var(--sl-color-foreground-negative-bold);

  --sl-color-component-link-idle: var(--sl-color-foreground-negative-bold);
}

:host([variant='caution']) {
  background: var(--sl-color-background-caution-subtlest);
  color: var(--sl-color-foreground-caution-bold);

  --sl-color-component-link-idle: var(--sl-color-foreground-caution-bold);
}

[part='content'] {
  grid-column: 2;

  slot {
    display: block;
    text-wrap: pretty;
  }
}

[part='content'] > * {
  display: block;
}

[part='icon'] {
  align-items: center;
  align-self: start;
  block-size: 1lh;
  display: inline-flex;
}

[part='title'] {
  align-self: start;
  font-size: calc((16 / 14) * 1em);
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
  grid-area: 1 / 2;
  margin-block-end: var(--sl-size-025);

  slot {
    display: block;
  }
}
