<section class="ds-tokens">
<h2 class="ds-tokens__heading">Opacity</h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Step</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.opacity -%}
<tr>
  <td>
    <div class="ds-tokens__opacity-example">
      <div class="ds-tokens__opacity-triangles">
        <div class="ds-tokens__triangle" style="opacity: {{ property.value }};{% if property.value == '0' %}display: none;{% endif %}"></div>
      </div>
      <code>{{ property.value }}</code>
    </div>
  </td>
  <td class="ds-tokens__description">{{ property.step }}</td>
  <td><code>{{ property.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>
