<section class="ds-tokens">
<h2 class="ds-tokens__heading">Opacity</h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.core.opacity -%}{% if property[1].value %}
<tr>
  <td>
    <div class="ds-tokens__opacity-example">
      <div class="ds-tokens__opacity-triangles">
        <div class="ds-tokens__triangle" style="opacity: {{ property[1].value }};{% if property[1].value == 0 %}display: none;{% endif %}"></div>
      </div>
      <code>{{ property[1].value }}</code>
    </div>
  </td>
  <td class="ds-tokens__description">{{ property[1].description | tokenDescription }}</td>
  <td><code>{{ property[1].description | tokenName }}</code></td>
</tr>
{% endif %}{% endfor -%}
</tbody>
</table>
</section>
