$sizes: sm, md, lg;

:host {
  --fill-default: currentColor;
  --fill-accent: rgb(var(--sl-color-palette-accent-300));
   
  display: inline-grid;
  place-content: center;
}

@each $size in $sizes {
  :host([size='#{$size}']){
    height: var(--sl-size-button-icon-container-icon-only-#{$size});
    width: var(--sl-size-button-icon-container-icon-only-#{$size});

    svg {
      height: var(--sl-size-button-icon-#{$size});
      width: var(--sl-size-button-icon-#{$size});
    }
  }
}
