$sizes: sm, md, lg;

:host {

  //temporary, until the tokens are ready:
  --sl-size-icon-sm: 12px;
  --sl-size-icon-md: 14px;
  --sl-size-icon-lg: 16px;
  display: inline-grid;
  place-content: center;
}
@each $size in $sizes {
  :host([size='#{$size}']) svg {
    height: var(--sl-size-icon-#{$size});
    width: var(--sl-size-icon-#{$size});
  }
}
