<section class="ds-tokens">
<h2 id="size" class="ds-tokens__heading"><a class="header-anchor" href="#size">Size</a></h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.primitives.size -%}{% if property[1]['$value'] %}
<tr>
  <td>
    <div class="ds-tokens__size-example">
      <div class="ds-tokens__size" style="width: min({{ property[1]['$value'] }}, 15rem); height: min({{ property[1]['$value'] }}, 15rem);"></div>
      <code>{{ property[1]['$value'] }}</code>
    </div>
  </td>
  <td class="ds-tokens__description">size {{ property[0] }}</td>
  <td><code>--sl-size-{{ property[0] }}</code></td>
</tr>
{% endif %}{% endfor -%}
</tbody>
</table>
</section>

<section class="ds-tokens">
<h2 id="size-deprecated-tokens" class="ds-tokens__heading"><a class="header-anchor" href="#size-deprecated-tokens">Size - deprecated tokens</a></h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.core.size -%}{% if property[1]['$value']%}{% if property[1]['$description'] %}
<tr>
  <td>
    <div class="ds-tokens__size-example">
      <div class="ds-tokens__size" style="width: min({{ property[1]['$value'] }}{% if property[1]['$value'] != 0 %}px{% endif %}, 10rem); height: min({{ property[1]['$value'] }}{% if property[1]['$value'] != 0 %}px{% endif %}, 10rem);"></div>
      <code>{{ property[1]['$value'] }}{% if property[1]['$value'] != 0 %}px{% endif %}</code>
    </div>
  </td>
  <td class="ds-tokens__description">{{ property[1]['$description'] | tokenDescription }}</td>
  <td><code>{{ property[1]['$description'] | tokenName }}</code></td>
</tr>
{% endif %}{% endif %}{% endfor -%}
</tbody>
</table>
</section>
