:host {
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  overflow: auto;
  padding: var(--sl-space-new-md) 0;
  scroll-padding-block: var(--sl-space-new-md);
  scrollbar-width: thin;
}

::slotted(sl-option) {
  margin-inline: var(--sl-space-new-md);
}

::slotted(sl-option-group:not(:first-child)) {
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-border-width-default);
  margin-block-start: var(--sl-space-new-sm);
  padding-block-start: var(--sl-space-new-md);
}

::slotted(hr) {
  border: 0;
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-border-width-default);
  margin: var(--sl-space-new-sm) 0;
  padding: 0;
}
