:host {
  align-items: stretch;
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  gap: var(--sl-size-025);
  overflow: auto;
  overscroll-behavior: contain;
  padding: var(--sl-size-100) 0;
  scroll-padding-block: var(--sl-size-100);
  scrollbar-width: thin;
}

:host([data-virtual-unconstrained]) {
  // This is mainly just a fallback; The virtualizer needs a bounded viewport to calculate which items are visible.
  // Without a max-height, the list would expand to fit all items, defeating the purpose of virtualization.
  // It can be overwritten in multiple ways, as can be seen in the "Virtual list Unconstrained" stories
  max-block-size: 20rem;
}

::slotted(hr) {
  border: 0;
  border-block-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-default);
  margin: var(--sl-size-050) 0;
  padding: 0;
}
