sl-listbox {
  align-items: stretch;
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  overflow: auto;
  padding: var(--sl-space-new-md) 0;
  scroll-padding-block: var(--sl-space-new-md);
  scrollbar-width: thin;

  hr {
    border: 0;
    border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
    margin: var(--sl-space-new-sm) 0;
    padding: 0;
  }

  sl-option,
  sl-option-group {
    flex: 1;
  }

  sl-option {
    contain: layout paint style;
    content-visibility: auto;
    margin-inline: var(--sl-space-new-md);
  }

  sl-option-group:not(:first-of-type) {
    border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
    margin-block-start: var(--sl-space-new-sm);
    padding-block-start: var(--sl-space-new-md);
  }
}
