:host {
  align-items: stretch;
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  gap: var(--sl-size-025);
  overflow: auto;
  padding: var(--sl-size-100) 0;
  scroll-padding-block: var(--sl-size-100);
  scrollbar-width: thin;
}

::slotted(hr) {
  border: 0;
  border-block-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-default);
  margin: var(--sl-size-075) 0;
  padding: 0;
}
