:host {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-primary-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-plain);
  display: block;
  hyphens: auto;
  inline-size: calc(100% - var(--sl-size-100) * 2);
  margin-inline: var(--sl-size-100);
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  overflow-wrap: anywhere;
  position: relative;
  scroll-margin-block: var(--sl-size-100);
  user-select: none;
}

:host(:where(:focus, :focus-visible)) {
  outline-color: var(--sl-color-border-focused);
  position: relative;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:hover, :active)) [part='container'] {
    transition: background 200ms ease-in-out;
  }
}

:host(:where(:focus, :hover, [current])) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
}

:host(:where(:hover, :focus, :focus-visible, [current]))::before {
  background: var(--sl-color-background-selected-bold);
  border-radius: var(--sl-size-borderRadius-none) var(--sl-size-borderRadius-child)
    var(--sl-size-borderRadius-child) var(--sl-size-borderRadius-none);
  content: '';
  inline-size: var(--sl-size-050);
  inset-block: var(--sl-size-025);
  inset-inline-start: calc(var(--sl-size-100) * -1);
  position: absolute;
}

:host(:where(:hover, [current]):not([selected])) {
  --_bg-mix-color: var(--sl-color-background-neutral-interactive-plain);
}

:host(:where([aria-selected='true'], [selected])) sl-icon {
  visibility: visible;
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-active);
}

:host(:not(:first-child)) {
  margin-block-start: var(--sl-size-025);
}

:host([first]) {
  margin-block-start: var(--sl-size-100);
}

:host([last]) {
  margin-block-end: var(--sl-size-100);
}

:host([disabled]) {
  color: var(--sl-color-foreground-disabled);
  cursor: default;
  pointer-events: none;
}

:host([selected]) {
  --_bg-color: var(--sl-color-background-selected-subtle);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-plain);

  color: var(--sl-color-foreground-selected-bold);
}

:host([selected][emphasis='bold']) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-bold-idle);

  color: var(--sl-color-foreground-selected-onBold);
}

:host([selected][emphasis='bold']:where(:hover, [current])) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-hover);
}

:host([selected][emphasis='bold']:active) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-active);
}

[part='container'] {
  align-items: center;
  background: color-mix(
    in srgb,
    var(--_bg-color),
    var(--_bg-mix-color) calc(100% * var(--_bg-opacity))
  );
  border-radius: var(--sl-size-borderRadius-default);
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075) var(--sl-size-100);
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  flex: 1;
}

sl-icon {
  visibility: hidden;
}
