:host {
  color: var(--sl-color-text-default);
  display: block;
  inline-size: calc(100% - var(--sl-space-new-md) * 2);
  margin-inline: var(--sl-space-new-md);
  scroll-margin-block: var(--sl-space-new-md);
  user-select: none;
}

:host(:where(:hover, [current])) [part='container'] {
  background: var(--sl-color-action-background-accent-subtle-hover);
}

:host(:where([aria-selected='true'], [selected])) sl-icon {
  visibility: visible;
}

:host(:active) [part='container'] {
  background: var(--sl-color-action-background-accent-subtle-active);
}

:host(:not(:first-child)) {
  margin-block-start: var(--sl-space-new-2xs);
}

:host([first]) {
  margin-block-start: var(--sl-space-new-md);
}

:host([last]) {
  margin-block-end: var(--sl-space-new-md);
}

:host([disabled]) {
  color: var(--sl-color-text-disabled);
  cursor: default;
  pointer-events: none;
}

[part='container'] {
  align-items: center;
  border-radius: var(--sl-size-border-radius-default);
  cursor: pointer;
  display: flex;
  gap: var(--sl-space-new-md);
  padding: var(--sl-space-new-sm) var(--sl-space-new-md);
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  flex: 1;
}

sl-icon {
  visibility: hidden;
}
