:host {
  color: var(--sl-color-foreground-subtlest);
  display: block;
  inline-size: 100%;
}

.wrapper {
  font-size: calc((12 / 14) * 1em);
  line-height: calc((16 / 12) * 1em);
  padding: var(--sl-size-100);
}

.divider {
  border-block-start: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
  margin-block-start: var(--sl-size-050);
  padding-block-start: var(--sl-size-050);
}
