:host {
  display: flex;
  flex: 1;
}

[part='wrapper'] {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  margin-inline: var(--sl-space-new-md);
}

.label {
  color: var(--sl-color-text-plain);
  padding: var(--sl-space-new-sm);
  padding-inline-start: var(--sl-space-new-xl);
}
