:host {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-idle);

  color: var(--sl-color-foreground-plain);
  display: block;
  inline-size: calc(100% - var(--sl-size-100) * 2);
  margin-inline: var(--sl-size-100);
  outline: 0;
  scroll-margin-block: var(--sl-size-100);
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:hover, :active)) [part='container'] {
    transition: background 200ms ease-in-out;
  }
}

:host(:where(:focus, :hover, [current])) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
}

:host(:where([aria-selected='true'], [selected])) sl-icon {
  visibility: visible;
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-active);
}

:host(:not(:first-child)) {
  margin-block-start: var(--sl-size-025);
}

:host([first]) {
  margin-block-start: var(--sl-size-100);
}

:host([last]) {
  margin-block-end: var(--sl-size-100);
}

:host([disabled]) {
  color: var(--sl-color-foreground-disabled);
  cursor: default;
  pointer-events: none;
}

:host([selected]) {
  --_bg-color: var(--sl-color-background-selected-subtle);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-plain);

  color: var(--sl-color-foreground-selected-bold);
}

:host([selected][emphasis='bold']) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-idle);

  color: var(--sl-color-foreground-selected-onBold);
}

:host([selected][emphasis='bold']:where(:hover, [current])) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-hover);
}

:host([selected][emphasis='bold']:active) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-active);
}

[part='container'] {
  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  cursor: pointer;
  display: flex;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075) var(--sl-size-100);
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  flex: 1;
}

sl-icon {
  visibility: hidden;
}
