:host {
  color: var(--sl-color-text-plain);
  display: block;
  inline-size: 100%;
}

.wrapper {
  padding: var(--sl-space-new-sm);
  padding-inline-start: var(--sl-space-new-xl);
}

.divider {
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
  margin-block-start: var(--sl-space-new-md);
  padding-block-start: var(--sl-space-new-md);
}
