<section class="ds-tokens">
<h2 class="ds-tokens__heading">Color</h2>
{% for palette in tokens.base.color.palette -%}
<h3 class="ds-tokens__heading">{{ palette[0] }}</h3>
<table class="ds-table"><thead>
<tr>
  <th>Example</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for color in palette[1] -%}{% if color[1]['$description'] %}
<tr>
  <td>
    <div class="ds-tokens__color" style="background-color: {{ color[1]['$value'] }}"></div>
    <code>{{ color[1]['$value'] }}</code>
  </td>
  <td class="ds-tokens__description">{{ color[1]['$description'] | tokenDescription }}</td>
  <td>{% if color[1]['$description'] %}<code>{{ color[1]['$description'] | tokenName }}{% endif %}</code></td>
</tr>
{% endif %}{% endfor -%}
</tbody>
</table>
{% endfor -%}
</section>
