[data-user-group='early'] {
  --sl-base-font-size: 20px;
  --sl-caption-font-family: 'The Message Text Beta03';
  --sl-caption-lg-font-size-advanced: var(--sl-computed-early-caption-lg-font-size-advanced);
  --sl-caption-lg-font-size-developing: var(--sl-computed-early-caption-lg-font-size-developing);
  --sl-caption-lg-font-size-early: var(--sl-computed-early-caption-lg-font-size-early);
  --sl-caption-lg-font-size-user-group: var(--sl-caption-lg-font-size-early);
  --sl-caption-lg-letter-spacing: 2%;
  --sl-caption-lg-line-height-advanced: var(--sl-computed-early-caption-lg-line-height-advanced);
  --sl-caption-lg-line-height-developing: var(
    --sl-computed-early-caption-lg-line-height-developing
  );
  --sl-caption-lg-line-height-early: var(--sl-computed-early-caption-lg-line-height-early);
  --sl-caption-lg-line-height-user-group: var(--sl-caption-lg-line-height-early);
  --sl-caption-line-height: 1.6;
  --sl-caption-md-font-size-advanced: var(--sl-computed-early-caption-md-font-size-advanced);
  --sl-caption-md-font-size-developing: var(--sl-computed-early-caption-md-font-size-developing);
  --sl-caption-md-font-size-early: var(--sl-computed-early-caption-md-font-size-early);
  --sl-caption-md-font-size-user-group: var(--sl-caption-md-font-size-early);
  --sl-caption-md-letter-spacing: 1%;
  --sl-caption-md-line-height-advanced: var(--sl-computed-early-caption-md-line-height-advanced);
  --sl-caption-md-line-height-developing: var(
    --sl-computed-early-caption-md-line-height-developing
  );
  --sl-caption-md-line-height-early: var(--sl-computed-early-caption-md-line-height-early);
  --sl-caption-md-line-height-user-group: var(--sl-caption-md-line-height-early);
  --sl-computed-compact-variable-space-010: 1px;
  --sl-computed-compact-variable-space-025: 2px;
  --sl-computed-compact-variable-space-050: 4px;
  --sl-computed-compact-variable-space-075: 8px;
  --sl-computed-compact-variable-space-100: 8px;
  --sl-computed-compact-variable-space-1000: 92px;
  --sl-computed-compact-variable-space-125: 12px;
  --sl-computed-compact-variable-space-150: 12px;
  --sl-computed-compact-variable-space-200: 20px;
  --sl-computed-compact-variable-space-300: 28px;
  --sl-computed-compact-variable-space-400: 36px;
  --sl-computed-compact-variable-space-500: 44px;
  --sl-computed-compact-variable-space-600: 56px;
  --sl-computed-compact-variable-space-700: 64px;
  --sl-computed-compact-variable-space-800: 72px;
  --sl-computed-regular-variable-space-010: 2px;
  --sl-computed-regular-variable-space-025: 4px;
  --sl-computed-regular-variable-space-050: 6px;
  --sl-computed-regular-variable-space-075: 8px;
  --sl-computed-regular-variable-space-100: 12px;
  --sl-computed-regular-variable-space-1000: 120px;
  --sl-computed-regular-variable-space-125: 16px;
  --sl-computed-regular-variable-space-150: 20px;
  --sl-computed-regular-variable-space-200: 24px;
  --sl-computed-regular-variable-space-300: 36px;
  --sl-computed-regular-variable-space-400: 48px;
  --sl-computed-regular-variable-space-500: 60px;
  --sl-computed-regular-variable-space-600: 72px;
  --sl-computed-regular-variable-space-700: 84px;
  --sl-computed-regular-variable-space-800: 96px;
  --sl-computed-relaxed-variable-space-010: 2px;
  --sl-computed-relaxed-variable-space-025: 4px;
  --sl-computed-relaxed-variable-space-050: 8px;
  --sl-computed-relaxed-variable-space-075: 12px;
  --sl-computed-relaxed-variable-space-100: 16px;
  --sl-computed-relaxed-variable-space-1000: 152px;
  --sl-computed-relaxed-variable-space-125: 20px;
  --sl-computed-relaxed-variable-space-150: 24px;
  --sl-computed-relaxed-variable-space-200: 32px;
  --sl-computed-relaxed-variable-space-300: 44px;
  --sl-computed-relaxed-variable-space-400: 60px;
  --sl-computed-relaxed-variable-space-500: 76px;
  --sl-computed-relaxed-variable-space-600: 92px;
  --sl-computed-relaxed-variable-space-700: 104px;
  --sl-computed-relaxed-variable-space-800: 120px;
  --sl-display-font-family: 'The Message Beta03';
  --sl-display-lg-font-size-advanced: var(--sl-computed-early-display-lg-font-size-advanced);
  --sl-display-lg-font-size-developing: var(--sl-computed-early-display-lg-font-size-developing);
  --sl-display-lg-font-size-early: var(--sl-computed-early-display-lg-font-size-early);
  --sl-display-lg-font-size-user-group: var(--sl-display-lg-font-size-early);
  --sl-display-lg-letter-spacing: 0%;
  --sl-display-lg-line-height-advanced: var(--sl-computed-early-display-lg-line-height-advanced);
  --sl-display-lg-line-height-developing: var(
    --sl-computed-early-display-lg-line-height-developing
  );
  --sl-display-lg-line-height-early: var(--sl-computed-early-display-lg-line-height-early);
  --sl-display-lg-line-height-user-group: var(--sl-display-lg-line-height-early);
  --sl-display-line-height: 1.4;
  --sl-display-md-font-size-advanced: var(--sl-computed-early-display-md-font-size-advanced);
  --sl-display-md-font-size-developing: var(--sl-computed-early-display-md-font-size-developing);
  --sl-display-md-font-size-early: var(--sl-computed-early-display-md-font-size-early);
  --sl-display-md-font-size-user-group: var(--sl-display-md-font-size-early);
  --sl-display-md-letter-spacing: 0%;
  --sl-display-md-line-height-advanced: var(--sl-computed-early-display-md-line-height-advanced);
  --sl-display-md-line-height-developing: var(
    --sl-computed-early-display-md-line-height-developing
  );
  --sl-display-md-line-height-early: var(--sl-computed-early-display-md-line-height-early);
  --sl-display-md-line-height-user-group: var(--sl-display-md-line-height-early);
  --sl-display-sm-font-size-advanced: var(--sl-computed-early-display-sm-font-size-advanced);
  --sl-display-sm-font-size-developing: var(--sl-computed-early-display-sm-font-size-developing);
  --sl-display-sm-font-size-early: var(--sl-computed-early-display-sm-font-size-early);
  --sl-display-sm-font-size-user-group: var(--sl-display-sm-font-size-early);
  --sl-display-sm-letter-spacing: 0%;
  --sl-display-sm-line-height-advanced: var(--sl-computed-early-display-sm-line-height-advanced);
  --sl-display-sm-line-height-developing: var(
    --sl-computed-early-display-sm-line-height-developing
  );
  --sl-display-sm-line-height-early: var(--sl-computed-early-display-sm-line-height-early);
  --sl-display-sm-line-height-user-group: var(--sl-display-sm-line-height-early);
  --sl-font-weight-bold: 700;
  --sl-font-weight-light: 300;
  --sl-font-weight-medium: 500;
  --sl-font-weight-regular: 400;
  --sl-font-weight-semibold: 600;
  --sl-heading-font-family: 'The Message Beta03';
  --sl-heading-lg-font-size-advanced: var(--sl-computed-early-heading-lg-font-size-advanced);
  --sl-heading-lg-font-size-developing: var(--sl-computed-early-heading-lg-font-size-developing);
  --sl-heading-lg-font-size-early: var(--sl-computed-early-heading-lg-font-size-early);
  --sl-heading-lg-font-size-user-group: var(--sl-heading-lg-font-size-early);
  --sl-heading-lg-letter-spacing: 0%;
  --sl-heading-lg-line-height-advanced: var(--sl-computed-early-heading-lg-line-height-advanced);
  --sl-heading-lg-line-height-developing: var(
    --sl-computed-early-heading-lg-line-height-developing
  );
  --sl-heading-lg-line-height-early: var(--sl-computed-early-heading-lg-line-height-early);
  --sl-heading-lg-line-height-user-group: var(--sl-heading-lg-line-height-early);
  --sl-heading-line-height: 1.4;
  --sl-heading-md-font-size-advanced: var(--sl-computed-early-heading-md-font-size-advanced);
  --sl-heading-md-font-size-developing: var(--sl-computed-early-heading-md-font-size-developing);
  --sl-heading-md-font-size-early: var(--sl-computed-early-heading-md-font-size-early);
  --sl-heading-md-font-size-user-group: var(--sl-heading-md-font-size-early);
  --sl-heading-md-letter-spacing: 0%;
  --sl-heading-md-line-height-advanced: var(--sl-computed-early-heading-md-line-height-advanced);
  --sl-heading-md-line-height-developing: var(
    --sl-computed-early-heading-md-line-height-developing
  );
  --sl-heading-md-line-height-early: var(--sl-computed-early-heading-md-line-height-early);
  --sl-heading-md-line-height-user-group: var(--sl-heading-md-line-height-early);
  --sl-heading-sm-font-size-advanced: var(--sl-computed-early-heading-sm-font-size-advanced);
  --sl-heading-sm-font-size-developing: var(--sl-computed-early-heading-sm-font-size-developing);
  --sl-heading-sm-font-size-early: var(--sl-computed-early-heading-sm-font-size-early);
  --sl-heading-sm-font-size-user-group: var(--sl-heading-sm-font-size-early);
  --sl-heading-sm-letter-spacing: 0%;
  --sl-heading-sm-line-height-advanced: var(--sl-computed-early-heading-sm-line-height-advanced);
  --sl-heading-sm-line-height-developing: var(
    --sl-computed-early-heading-sm-line-height-developing
  );
  --sl-heading-sm-line-height-early: var(--sl-computed-early-heading-sm-line-height-early);
  --sl-heading-sm-line-height-user-group: var(--sl-heading-sm-line-height-early);
  --sl-label-font-family: 'The Message Text Beta03';
  --sl-label-lg-font-size-advanced: var(--sl-computed-early-label-lg-font-size-advanced);
  --sl-label-lg-font-size-developing: var(--sl-computed-early-label-lg-font-size-developing);
  --sl-label-lg-font-size-early: var(--sl-computed-early-label-lg-font-size-early);
  --sl-label-lg-font-size-user-group: var(--sl-label-lg-font-size-early);
  --sl-label-lg-letter-spacing: 1%;
  --sl-label-lg-line-height-advanced: var(--sl-computed-early-label-lg-line-height-advanced);
  --sl-label-lg-line-height-developing: var(--sl-computed-early-label-lg-line-height-developing);
  --sl-label-lg-line-height-early: var(--sl-computed-early-label-lg-line-height-early);
  --sl-label-lg-line-height-user-group: var(--sl-label-lg-line-height-early);
  --sl-label-line-height: 1.5;
  --sl-label-md-font-size-advanced: var(--sl-computed-early-label-md-font-size-advanced);
  --sl-label-md-font-size-developing: var(--sl-computed-early-label-md-font-size-developing);
  --sl-label-md-font-size-early: var(--sl-computed-early-label-md-font-size-early);
  --sl-label-md-font-size-user-group: var(--sl-label-md-font-size-early);
  --sl-label-md-letter-spacing: 1%;
  --sl-label-md-line-height-advanced: var(--sl-computed-early-label-md-line-height-advanced);
  --sl-label-md-line-height-developing: var(--sl-computed-early-label-md-line-height-developing);
  --sl-label-md-line-height-early: var(--sl-computed-early-label-md-line-height-early);
  --sl-label-md-line-height-user-group: var(--sl-label-md-line-height-early);
  --sl-label-sm-font-size-advanced: var(--sl-computed-early-label-sm-font-size-advanced);
  --sl-label-sm-font-size-developing: var(--sl-computed-early-label-sm-font-size-developing);
  --sl-label-sm-font-size-early: var(--sl-computed-early-label-sm-font-size-early);
  --sl-label-sm-font-size-user-group: var(--sl-label-sm-font-size-early);
  --sl-label-sm-letter-spacing: 2%;
  --sl-label-sm-line-height-advanced: var(--sl-computed-early-label-sm-line-height-advanced);
  --sl-label-sm-line-height-developing: var(--sl-computed-early-label-sm-line-height-developing);
  --sl-label-sm-line-height-early: var(--sl-computed-early-label-sm-line-height-early);
  --sl-label-sm-line-height-user-group: var(--sl-label-sm-line-height-early);
  --sl-scale-010: 0.0625;
  --sl-scale-025: 0.125;
  --sl-scale-050: 0.25;
  --sl-scale-075: 0.375;
  --sl-scale-100: 0.5;
  --sl-scale-1000: 5;
  --sl-scale-125: 0.625;
  --sl-scale-150: 0.75;
  --sl-scale-200: 1;
  --sl-scale-250: 1.25;
  --sl-scale-300: 1.5;
  --sl-scale-400: 2;
  --sl-scale-500: 2.5;
  --sl-scale-600: 3;
  --sl-scale-700: 3.5;
  --sl-scale-800: 4;
  --sl-scale-full: 50;
  --sl-scale-none: 0;
  --sl-space-base: 24;
  --sl-text-font-family: 'The Message Text Beta03';
  --sl-text-lg-font-size-advanced: var(--sl-computed-early-text-lg-font-size-advanced);
  --sl-text-lg-font-size-developing: var(--sl-computed-early-text-lg-font-size-developing);
  --sl-text-lg-font-size-early: var(--sl-computed-early-text-lg-font-size-early);
  --sl-text-lg-font-size-user-group: var(--sl-text-lg-font-size-early);
  --sl-text-lg-letter-spacing: 0%;
  --sl-text-lg-line-height-advanced: var(--sl-computed-early-text-lg-line-height-advanced);
  --sl-text-lg-line-height-developing: var(--sl-computed-early-text-lg-line-height-developing);
  --sl-text-lg-line-height-early: var(--sl-computed-early-text-lg-line-height-early);
  --sl-text-lg-line-height-user-group: var(--sl-text-lg-line-height-early);
  --sl-text-line-height: 1.6;
  --sl-text-md-font-size-advanced: var(--sl-computed-early-text-md-font-size-advanced);
  --sl-text-md-font-size-developing: var(--sl-computed-early-text-md-font-size-developing);
  --sl-text-md-font-size-early: var(--sl-computed-early-text-md-font-size-early);
  --sl-text-md-font-size-user-group: var(--sl-text-md-font-size-early);
  --sl-text-md-letter-spacing: 0%;
  --sl-text-md-line-height-advanced: var(--sl-computed-early-text-md-line-height-advanced);
  --sl-text-md-line-height-developing: var(--sl-computed-early-text-md-line-height-developing);
  --sl-text-md-line-height-early: var(--sl-computed-early-text-md-line-height-early);
  --sl-text-md-line-height-user-group: var(--sl-text-md-line-height-early);
  --sl-text-sm-font-size-advanced: var(--sl-computed-early-text-sm-font-size-advanced);
  --sl-text-sm-font-size-developing: var(--sl-computed-early-text-sm-font-size-developing);
  --sl-text-sm-font-size-early: var(--sl-computed-early-text-sm-font-size-early);
  --sl-text-sm-font-size-user-group: var(--sl-text-sm-font-size-early);
  --sl-text-sm-letter-spacing: 0%;
  --sl-text-sm-line-height-advanced: var(--sl-computed-early-text-sm-line-height-advanced);
  --sl-text-sm-line-height-developing: var(--sl-computed-early-text-sm-line-height-developing);
  --sl-text-sm-line-height-early: var(--sl-computed-early-text-sm-line-height-early);
  --sl-text-sm-line-height-user-group: var(--sl-text-sm-line-height-early);
  --sl-title-font-family: 'The Message Text Beta03';
  --sl-title-lg-font-size-advanced: var(--sl-computed-early-title-lg-font-size-advanced);
  --sl-title-lg-font-size-developing: var(--sl-computed-early-title-lg-font-size-developing);
  --sl-title-lg-font-size-early: var(--sl-computed-early-title-lg-font-size-early);
  --sl-title-lg-font-size-user-group: var(--sl-title-lg-font-size-early);
  --sl-title-lg-letter-spacing: 0%;
  --sl-title-lg-line-height-advanced: var(--sl-computed-early-title-lg-line-height-advanced);
  --sl-title-lg-line-height-developing: var(--sl-computed-early-title-lg-line-height-developing);
  --sl-title-lg-line-height-early: var(--sl-computed-early-title-lg-line-height-early);
  --sl-title-lg-line-height-user-group: var(--sl-title-lg-line-height-early);
  --sl-title-line-height: 1.4;
  --sl-title-md-font-size-advanced: var(--sl-computed-early-title-md-font-size-advanced);
  --sl-title-md-font-size-developing: var(--sl-computed-early-title-md-font-size-developing);
  --sl-title-md-font-size-early: var(--sl-computed-early-title-md-font-size-early);
  --sl-title-md-font-size-user-group: var(--sl-title-md-font-size-early);
  --sl-title-md-letter-spacing: 0%;
  --sl-title-md-line-height-advanced: var(--sl-computed-early-title-md-line-height-advanced);
  --sl-title-md-line-height-developing: var(--sl-computed-early-title-md-line-height-developing);
  --sl-title-md-line-height-early: var(--sl-computed-early-title-md-line-height-early);
  --sl-title-md-line-height-user-group: var(--sl-title-md-line-height-early);
  --sl-title-sm-font-size-advanced: var(--sl-computed-early-title-sm-font-size-advanced);
  --sl-title-sm-font-size-developing: var(--sl-computed-early-title-sm-font-size-developing);
  --sl-title-sm-font-size-early: var(--sl-computed-early-title-sm-font-size-early);
  --sl-title-sm-font-size-user-group: var(--sl-title-sm-font-size-early);
  --sl-title-sm-letter-spacing: 0%;
  --sl-title-sm-line-height-advanced: var(--sl-computed-early-title-sm-line-height-advanced);
  --sl-title-sm-line-height-developing: var(--sl-computed-early-title-sm-line-height-developing);
  --sl-title-sm-line-height-early: var(--sl-computed-early-title-sm-line-height-early);
  --sl-title-sm-line-height-user-group: var(--sl-title-sm-line-height-early);
  --sl-variable-space-none: 0px;
  --sl-variable-space-tshirt-2xl: var(--sl-variable-space-500);
  --sl-variable-space-tshirt-2xs: var(--sl-variable-space-050);
  --sl-variable-space-tshirt-3xl: var(--sl-variable-space-600);
  --sl-variable-space-tshirt-4xl: var(--sl-variable-space-800);
  --sl-variable-space-tshirt-lg: var(--sl-variable-space-300);
  --sl-variable-space-tshirt-md: var(--sl-variable-space-200);
  --sl-variable-space-tshirt-sm: var(--sl-variable-space-150);
  --sl-variable-space-tshirt-xl: var(--sl-variable-space-400);
  --sl-variable-space-tshirt-xs: var(--sl-variable-space-100);
}
