$sizes: sm, md, lg;

:host {
  align-items: center;
  color: var(--sl-body-foreground);
  display: inline-flex;
  font: var(--_font);
  padding-bottom: var(--_padding-bottom);
}

sl-tooltip {
  overflow: hidden;
}

// TODO: add none padding bottom variant necessary for switch component

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_padding-bottom: var(--sl-space-label-padding-bottom-#{$size});

    slot[name='label']::slotted(label) {
      font: var(--sl-text-input-label-label-#{$size});
    }

    slot[name='icon']::slotted(sl-icon) {
      fill: var(--sl-color-label-icon-default);
      margin-left: var(--sl-space-label-icon-md);
    }

    .optional,
    .required {
      font: var(--sl-text-input-label-tag-#{$size});
      margin-left: var(--sl-space-label-gap-#{$size});
    }
  }

  :host([disabled]) {
    color: var(--sl-color-label-text-disabled);

    slot[name='icon']::slotted(sl-icon) {
      fill: var(--sl-color-label-icon-disabled); //blue;
    }
  }
}
