/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-color-palette-white-base: 249 249 249;
  --sl-color-palette-black-base: 45 42 56;
  --sl-color-palette-danger-base: 211 37 52;
  --sl-color-palette-danger-900: 96 45 43;
  --sl-color-palette-danger-800: 136 56 54;
  --sl-color-palette-danger-700: 166 63 61;
  --sl-color-palette-danger-600: 202 67 67;
  --sl-color-palette-danger-500: 214 97 93;
  --sl-color-palette-danger-400: 221 129 123;
  --sl-color-palette-danger-300: 228 160 155;
  --sl-color-palette-danger-200: 234 190 187;
  --sl-color-palette-danger-150: 240 216 214;
  --sl-color-palette-danger-100: 246 237 236;
  --sl-color-palette-danger-50: 254 254 254;
  --sl-color-palette-warning-base: 247 153 40;
  --sl-color-palette-warning-900: 148 83 6;
  --sl-color-palette-warning-800: 178 99 7;
  --sl-color-palette-warning-700: 200 111 8;
  --sl-color-palette-warning-600: 224 125 8;
  --sl-color-palette-warning-500: 246 142 20;
  --sl-color-palette-warning-400: 248 169 76;
  --sl-color-palette-warning-300: 250 192 125;
  --sl-color-palette-warning-200: 252 213 168;
  --sl-color-palette-warning-150: 253 230 203;
  --sl-color-palette-warning-100: 254 244 232;
  --sl-color-palette-warning-50: 255 254 252;
  --sl-color-palette-success-base: 147 199 78;
  --sl-color-palette-success-900: 79 107 42;
  --sl-color-palette-success-800: 95 128 50;
  --sl-color-palette-success-700: 107 144 57;
  --sl-color-palette-success-600: 119 162 63;
  --sl-color-palette-success-500: 134 181 71;
  --sl-color-palette-success-400: 149 200 81;
  --sl-color-palette-success-300: 177 215 127;
  --sl-color-palette-success-200: 202 227 168;
  --sl-color-palette-success-150: 225 240 206;
  --sl-color-palette-success-100: 240 247 231;
  --sl-color-palette-success-50: 253 254 252;
  --sl-color-palette-info-base: 2 172 218;
  --sl-color-palette-info-900: 1 66 84;
  --sl-color-palette-info-800: 1 89 113;
  --sl-color-palette-info-700: 1 105 134;
  --sl-color-palette-info-600: 1 124 158;
  --sl-color-palette-info-500: 2 144 183;
  --sl-color-palette-info-400: 2 167 212;
  --sl-color-palette-info-300: 61 191 227;
  --sl-color-palette-info-200: 124 212 236;
  --sl-color-palette-info-150: 178 230 244;
  --sl-color-palette-info-100: 218 243 250;
  --sl-color-palette-info-50: 252 254 255;
  --sl-color-palette-neutral-base: 136 156 163;
  --sl-color-palette-neutral-900: 54 61 64;
  --sl-color-palette-neutral-800: 73 83 87;
  --sl-color-palette-neutral-700: 87 99 104;
  --sl-color-palette-neutral-600: 102 117 122;
  --sl-color-palette-neutral-500: 119 136 143;
  --sl-color-palette-neutral-400: 138 158 165;
  --sl-color-palette-neutral-300: 164 180 185;
  --sl-color-palette-neutral-200: 192 203 206;
  --sl-color-palette-neutral-150: 217 224 226;
  --sl-color-palette-neutral-100: 237 240 241;
  --sl-color-palette-neutral-50: 254 254 254;
  --sl-color-palette-accent-base: 0 167 171;
  --sl-color-palette-accent-900: 0 55 57;
  --sl-color-palette-accent-800: 0 80 81;
  --sl-color-palette-accent-700: 0 97 100;
  --sl-color-palette-accent-600: 0 116 119;
  --sl-color-palette-accent-500: 0 137 141;
  --sl-color-palette-accent-400: 0 161 165;
  --sl-color-palette-accent-300: 55 186 189;
  --sl-color-palette-accent-200: 118 208 210;
  --sl-color-palette-accent-150: 173 227 228;
  --sl-color-palette-accent-100: 218 242 243;
  --sl-color-palette-accent-50: 252 254 254;
  --sl-color-palette-primary-base: 37 54 70;
  --sl-color-palette-primary-900: 52 68 83;
  --sl-color-palette-primary-800: 75 88 103;
  --sl-color-palette-primary-700: 92 104 117;
  --sl-color-palette-primary-600: 110 121 132;
  --sl-color-palette-primary-500: 131 139 150;
  --sl-color-palette-primary-400: 153 160 169;
  --sl-color-palette-primary-300: 177 182 189;
  --sl-color-palette-primary-200: 201 204 209;
  --sl-color-palette-primary-150: 222 224 227;
  --sl-color-palette-primary-100: 238 239 241;
  --sl-color-palette-primary-50: 254 254 254;
}
