/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-light {
  --sl-text-typeset-font-family-body: open-sans;
  --sl-text-typeset-font-family-heading: open-sans;
  --sl-color-button-primary-default-active-border: #0068c8;
  --sl-color-button-primary-default-active-foreground: #fff;
  --sl-color-button-primary-default-active-background: #006cce;
  --sl-color-button-primary-default-hover-border: #0068c8;
  --sl-color-button-primary-default-hover-foreground: #fff;
  --sl-color-button-primary-default-hover-background: #006cce;
  --sl-color-button-primary-default-idle-border: #0068c8;
  --sl-color-button-primary-default-idle-foreground: #fff;
  --sl-color-button-primary-default-idle-background: #0074df;
  --sl-color-button-default-default-active-border: #e5e8eb;
  --sl-color-button-default-default-active-foreground: #002f62;
  --sl-color-button-default-default-active-background: #fff;
  --sl-color-button-default-default-hover-border: #e5e8eb;
  --sl-color-button-default-default-hover-foreground: #253646;
  --sl-color-button-default-default-hover-background: #ccedee;
  --sl-color-button-default-default-idle-border: #e5e8eb;
  --sl-color-button-default-default-idle-foreground: #253646;
  --sl-color-button-default-default-idle-background: #f7f7f7;
  --sl-border-radius-button: var(--sl-border-radius-2xs);
  --sl-animation-button: var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  --sl-text-button-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-space-button-default-lg-inline: var(--sl-space-xl);
  --sl-space-button-default-lg-block: var(--sl-space-lg);
  --sl-space-button-default-md-block: var(--sl-space-sm);
  --sl-space-button-default-sm-inline: var(--sl-space-md);
  --sl-space-button-default-sm-block: var(--sl-space-xs);
  --sl-border-width-button-outline: var(--sl-border-width-none);
  --sl-border-width-button-default: var(--sl-border-width-none);
  --sl-space-button-default-md-inline: var(--sl-space-button-default-lg-block);
}
