/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-text-button-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-button-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-button-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}
