@import './../breakpoints';

$transition-timing: 300ms;

.wrapper {
  display: grid;
  gap: 0 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.ds-components__content-wrapper {
  .ds-heading-1:first-of-type {
    margin-top: 4rem;
  }

  h2 {
    margin-bottom: 0.8rem;
  }

  p {
    max-width: 64rem;
  }
}

.component-card,
sl-card {
  // TODO: only for sl-card
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.8rem;
  block-size: 100%;
  overflow: hidden;

  svg {
    overflow: visible;
    transition: $transition-timing ease-in-out;
  }

  &:not(.component-card--disabled):hover,
  &:not(.component-card--disabled):focus-within {
    svg {
      transform: none;
    }

    .ds-heading-2 {
      color: var(--highlight-color);
    }
  }

  .ds-heading-2 {
    line-height: 2rem;
    margin-bottom: 0.8rem;
    transition: color $transition-timing linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .component-card,
  sl-card {
    &:not(.component-card--disabled):hover,
    &:not(.component-card--disabled):focus-within {
      svg {
        transform: scale(1.2);
      }
    }
  }
}

.component-card--disabled {
  cursor: default;
}

.component-card__picture {
  background-color: var(--component-card-background);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  overflow: hidden;
  position: relative;

  @media (prefers-color-scheme: dark) {
    display: none;
  }

  .ds-badge {
    inset: 0.8rem 0.8rem auto auto;
    position: absolute;
  }
}

.component-card__picture--dark {
  display: none;

  @media (prefers-color-scheme: dark) {
    background-color: var(--component-card-background);
    display: inline-flex;
    justify-content: center;
    margin-bottom: 1.6rem;
    overflow: hidden;
    position: relative;

    /* stylelint-disable-next-line max-nesting-depth */
    .ds-badge {
      position: absolute;
      right: 0.8rem;
      top: 0.8rem;
    }

    /* stylelint-disable-next-line max-nesting-depth */
    .component-card__picture {
      display: none;
    }
  }
}

.ds-components__content {
  display: grid;
  gap: 0 7.2rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: $xl-breakpoint) {
    grid-template-columns: 6fr 1fr;
  }

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-columns: 88rem 1fr;
  }

  section {
    margin-bottom: 6.4rem;
    margin-top: 2.4rem;
  }
}

// .ds-components__content-wrapper {
//  p {
//    max-width: 64rem;
//  }
// }

.ds-components__cards {
  column-gap: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;

  @media screen and (min-width: $md-breakpoint) {
    grid-template-columns: repeat(2, [col-start] minmax(100px, 1fr) [col-end]);
  }

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.ds-component__heading {
  @media screen and (min-width: $xl-breakpoint) {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 6fr 1fr;
  }

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-columns: 88rem 1fr;
  }
}

.ds-component__heading-wrapper {
  background-color: var(--heading-background);
  border-radius: 0.6rem;
  color: var(--heading-color);
  padding: 2.4rem 4rem;
}

.ds-component__heading-wrapper .ds-badge {
  float: right;
}

.ds-component__heading-description {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.ds-success {
  color: var(--helper-text);
  font-size: 1.4rem;
  margin: 2.4rem 0 0;
  position: relative;

  img {
    width: 100%;
  }
}

.ds-success__content {
  position: relative;

  &::before {
    background: var(--success-color);
    border-radius: 0.4rem;
    content: '';
    display: block;
    height: 0.4rem;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    color: var(--success-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 0;
    padding: 0.8rem 0;
  }
}

.ds-danger {
  color: var(--helper-text);
  font-size: 1.4rem;
  margin: 2.4rem 0 0;

  img {
    width: 100%;
  }
}

.ds-danger__content {
  position: relative;

  &::before {
    background: var(--danger-color);
    border-radius: 0.4rem;
    content: '';
    display: block;
    height: 0.4rem;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    color: var(--danger-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 0;
    padding: 0.8rem 0;
  }
}

.ds-do-dont__picture {
  background-color: var(--picture-background);
  border-radius: 0.4rem;
  display: inline-block;
  height: 20rem;
  margin-bottom: 0.8rem;
  object-fit: contain;
}

.ds-do-dont {
  @media screen and (min-width: $xl-breakpoint) {
    column-gap: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ds-badge {
  background-color: var(--badge-background);
  border: 1px solid var(--badge-border);
  border-radius: 2px;
  color: var(--badge-color);
  display: inline-flex;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0.1rem 0.4rem;
}
