body {
  --sl-color-black: #000000;
  --sl-color-transparent: #00000000;
  --sl-color-white: #ffffff;
  --sl-elevation-shadow-overflow: var(--sl-size-200) var(--sl-color-shadow-overflow1);
  --sl-elevation-shadow-overlay:
    var(--sl-size-075) var(--sl-size-150) -3 var(--sl-color-shadow-overlay1),
    var(--sl-size-150) var(--sl-size-200) var(--sl-color-shadow-overlay2);
  --sl-elevation-shadow-sm:
    var(--sl-size-010) var(--sl-size-010) var(--sl-color-shadow-overlay1),
    3px var(--sl-size-025) var(--sl-color-shadow-overlay2);
  --sl-font-weight-100: 100;
  --sl-font-weight-200: 200;
  --sl-font-weight-300: 300;
  --sl-font-weight-400: 400;
  --sl-font-weight-500: 500;
  --sl-font-weight-600: 600;
  --sl-font-weight-700: 700;
  --sl-font-weight-800: 800;
  --sl-font-weight-900: 900;
  --sl-font-weight-950: 950;
  --sl-font-weight-bold: 700;
  --sl-font-weight-light: 300;
  --sl-font-weight-medium: 500;
  --sl-font-weight-regular: 400;
  --sl-font-weight-semi-bold: 600;
  --sl-icon-typeset-font-family-classic: 'Font Awesome 7 Pro';
  --sl-icon-typeset-font-family-sharp: 'Font Awesome 7 Sharp';
  --sl-icon-typeset-font-weight-icon-light: light;
  --sl-icon-typeset-font-weight-icon-regular: regular;
  --sl-icon-typeset-font-weight-icon-solid: solid;
  --sl-icon-typeset-font-weight-icon-thin: thin;
  --sl-icon-typeset-font-weight-regular: var(--sl-icon-typeset-font-weight-icon-regular);
  --sl-icon-typeset-font-weight-solid: var(--sl-icon-typeset-font-weight-icon-solid);
  --sl-opacity-new-100: 0.04;
  --sl-opacity-new-1000: 1;
  --sl-opacity-new-150: 0.06;
  --sl-opacity-new-200: 0.08;
  --sl-opacity-new-300: 0.12;
  --sl-opacity-new-400: 0.16;
  --sl-opacity-new-50: 0.02;
  --sl-opacity-new-500: 0.2;
  --sl-opacity-new-600: 0.32;
  --sl-opacity-new-700: 0.48;
  --sl-opacity-new-800: 0.64;
  --sl-opacity-new-900: 0.8;
  --sl-opacity-new-transparent: 0;
  --sl-opacity-disabled: var(--sl-opacity-new-600);
  --sl-size-new-icon-2xl: var(--sl-size-400);
  --sl-size-new-icon-2xs: var(--sl-size-125);
  --sl-size-new-icon-3xl: var(--sl-size-600);
  --sl-size-new-icon-4xl: var(--sl-size-800);
  --sl-size-new-icon-lg: var(--sl-size-250);
  --sl-size-new-icon-md: var(--sl-size-200);
  --sl-size-new-icon-sm: var(--sl-size-175);
  --sl-size-new-icon-xl: var(--sl-size-300);
  --sl-size-new-icon-xs: var(--sl-size-150);
  --sl-size-010: 1px;
  --sl-size-025: 2px;
  --sl-size-050: 4px;
  --sl-size-075: 6px;
  --sl-size-100: 8px;
  --sl-size-1000: 80px;
  --sl-size-125: 10px;
  --sl-size-150: 12px;
  --sl-size-175: 14px;
  --sl-size-200: 16px;
  --sl-size-250: 20px;
  --sl-size-300: 24px;
  --sl-size-350: 28px;
  --sl-size-400: 32px;
  --sl-size-450: 36px;
  --sl-size-500: 40px;
  --sl-size-600: 48px;
  --sl-size-700: 56px;
  --sl-size-800: 64px;
  --sl-size-border-radius-child: var(--sl-brand-size-border-radius-child);
  --sl-size-border-radius-default: var(--sl-brand-size-border-radius-default);
  --sl-size-border-radius-focus-ring-inside: var(--sl-brand-size-border-radius-focus-ring-inside);
  --sl-size-border-radius-focus-ring-outside: var(--sl-brand-size-border-radius-focus-ring-outside);
  --sl-size-border-radius-full: var(--sl-size-full);
  --sl-size-border-radius-lg: var(--sl-size-100);
  --sl-size-border-radius-md: var(--sl-size-050);
  --sl-size-border-radius-none: var(--sl-size-none);
  --sl-size-border-radius-sm: var(--sl-size-025);
  --sl-size-border-radius-xl: var(--sl-size-150);
  --sl-size-border-width-action: var(--sl-brand-size-border-width-action);
  --sl-size-border-width-bold: var(--sl-size-025);
  --sl-size-border-width-default: var(--sl-brand-size-border-width-default);
  --sl-size-border-width-focus-ring: var(--sl-size-025);
  --sl-size-border-width-heavy: var(--sl-size-050);
  --sl-size-border-width-none: var(--sl-size-none);
  --sl-size-border-width-subtle: var(--sl-size-010);
  --sl-size-font-1000: var(--sl-size-1000);
  --sl-size-font-150: var(--sl-size-150);
  --sl-size-font-175: var(--sl-size-175);
  --sl-size-font-200: var(--sl-size-200);
  --sl-size-font-250: var(--sl-size-250);
  --sl-size-font-300: var(--sl-size-300);
  --sl-size-font-400: var(--sl-size-400);
  --sl-size-font-500: var(--sl-size-500);
  --sl-size-font-600: var(--sl-size-600);
  --sl-size-font-800: var(--sl-size-800);
  --sl-size-full: 50rem;
  --sl-size-icon-font-2xl: var(--sl-brand-size-icon-font-2xl);
  --sl-size-icon-font-2xs: var(--sl-size-new-icon-2xs);
  --sl-size-icon-font-3xl: var(--sl-brand-size-icon-font-3xl);
  --sl-size-icon-font-4xl: var(--sl-brand-size-icon-font-4xl);
  --sl-size-icon-font-lg: var(--sl-brand-size-icon-font-lg);
  --sl-size-icon-font-md: var(--sl-brand-size-icon-font-md);
  --sl-size-icon-font-sm: var(--sl-brand-size-icon-font-sm);
  --sl-size-icon-font-xl: var(--sl-brand-size-icon-font-xl);
  --sl-size-icon-font-xs: var(--sl-brand-size-icon-font-xs);
  --sl-size-line-height-1000: var(--sl-size-1000);
  --sl-size-line-height-150: var(--sl-size-150);
  --sl-size-line-height-175: var(--sl-size-175);
  --sl-size-line-height-200: var(--sl-size-200);
  --sl-size-line-height-250: var(--sl-size-250);
  --sl-size-line-height-300: var(--sl-size-300);
  --sl-size-line-height-400: var(--sl-size-400);
  --sl-size-line-height-500: var(--sl-size-500);
  --sl-size-line-height-600: var(--sl-size-600);
  --sl-size-line-height-800: var(--sl-size-800);
  --sl-size-none: 0px;
  --sl-size-outline-offset-default: calc(var(--sl-size-050) - var(--sl-size-010));
  --sl-size-outline-width-default: var(--sl-brand-size-outline-width-default);
  --sl-size-text-new-body-lg: var(--sl-brand-size-text-new-body-lg);
  --sl-size-text-new-body-md: var(--sl-brand-size-text-new-body-md);
  --sl-size-text-new-body-sm: var(--sl-brand-size-text-new-body-sm);
  --sl-size-text-new-heading-2xl: var(--sl-brand-size-text-new-heading-2xl);
  --sl-size-text-new-heading-lg: var(--sl-brand-size-text-new-heading-lg);
  --sl-size-text-new-heading-md: var(--sl-brand-size-text-new-heading-md);
  --sl-size-text-new-heading-sm: var(--sl-brand-size-text-new-heading-sm);
  --sl-size-text-new-heading-xl: var(--sl-brand-size-text-new-heading-xl);
  --sl-space-new-2xl: var(--sl-space-400);
  --sl-space-new-2xs: var(--sl-space-025);
  --sl-space-new-3xl: var(--sl-space-800);
  --sl-space-new-grid-horizontal: var(--sl-space-200);
  --sl-space-new-grid-vertical: var(--sl-space-175);
  --sl-space-new-input-horizontal: calc(var(--sl-space-new-md) - var(--sl-size-010));
  --sl-space-new-input-vertical: calc(var(--sl-space-new-xs) - var(--sl-size-010));
  --sl-space-new-lg: var(--sl-space-200);
  --sl-space-new-md: var(--sl-space-100);
  --sl-space-new-none: var(--sl-space-none);
  --sl-space-new-sm: var(--sl-space-075);
  --sl-space-new-toggle-button-non-active-lg: 36px;
  --sl-space-new-toggle-button-non-active-lg-2: calc(
    var(--sl-size-300) + (var(--sl-size-100) + var(--sl-size-new-icon-md)) / 2
  );
  --sl-space-new-toggle-button-non-active-md: 27px;
  --sl-space-new-toggle-button-non-active-md-2: calc(
    var(--sl-size-200) + (var(--sl-size-100) + var(--sl-size-new-icon-md)) / 2
  );
  --sl-space-new-toggle-button-non-active-sm: 23px;
  --sl-space-new-xl: var(--sl-space-300);
  --sl-space-new-xs: var(--sl-space-050);
  --sl-space-010: var(--sl-size-010);
  --sl-space-025: var(--sl-size-025);
  --sl-space-050: var(--sl-size-050);
  --sl-space-075: var(--sl-size-075);
  --sl-space-100: var(--sl-size-100);
  --sl-space-1000: var(--sl-size-1000);
  --sl-space-125: var(--sl-size-125);
  --sl-space-150: var(--sl-size-150);
  --sl-space-175: var(--sl-size-175);
  --sl-space-200: var(--sl-size-200);
  --sl-space-250: var(--sl-size-250);
  --sl-space-300: var(--sl-size-300);
  --sl-space-400: var(--sl-size-400);
  --sl-space-500: var(--sl-size-500);
  --sl-space-600: var(--sl-size-600);
  --sl-space-700: var(--sl-size-700);
  --sl-space-800: var(--sl-size-800);
  --sl-space-full: var(--sl-size-full);
  --sl-space-none: var(--sl-size-none);
  --sl-space-offset-default: var(--sl-brand-space-offset-default);
  --sl-text-new-body-lg-font-family: 'Open Sans';
  --sl-text-new-body-lg-font-size: 16px;
  --sl-text-new-body-lg-font-weight: 400;
  --sl-text-new-body-lg-line-height: 24px;
  --sl-text-new-body-md-font-family: 'Open Sans';
  --sl-text-new-body-md-font-size: 14px;
  --sl-text-new-body-md-font-weight: 400;
  --sl-text-new-body-md-line-height: 20px;
  --sl-text-new-body-sm-font-family: 'Open Sans';
  --sl-text-new-body-sm-font-size: 12px;
  --sl-text-new-body-sm-font-weight: 400;
  --sl-text-new-body-sm-line-height: 16px;
  --sl-text-new-heading-2xl-font-family: 'Open Sans';
  --sl-text-new-heading-2xl-font-size: 48px;
  --sl-text-new-heading-2xl-line-height: 48px;
  --sl-text-new-heading-lg-font-family: 'Open Sans';
  --sl-text-new-heading-lg-font-size: 24px;
  --sl-text-new-heading-lg-line-height: 32px;
  --sl-text-new-heading-md-font-family: 'Open Sans';
  --sl-text-new-heading-md-font-size: 16px;
  --sl-text-new-heading-md-line-height: 20px;
  --sl-text-new-heading-sm-font-family: 'Open Sans';
  --sl-text-new-heading-sm-font-size: 14px;
  --sl-text-new-heading-sm-line-height: 20px;
  --sl-text-new-heading-xl-font-family: 'Open Sans';
  --sl-text-new-heading-xl-font-size: 32px;
  --sl-text-new-heading-xl-line-height: 40px;
  --sl-text-new-icon-outline-font-family: 'Font Awesome 7 Pro';
  --sl-text-new-icon-outline-font-weight: regular;
  --sl-text-new-icon-solid-font-family: 'Font Awesome 7 Pro';
  --sl-text-new-icon-solid-font-weight: solid;
  --sl-text-new-input-lg-font-family: 'Open Sans';
  --sl-text-new-input-lg-font-size: 14px;
  --sl-text-new-input-lg-line-height: 32px;
  --sl-text-new-input-md-font-family: 'Open Sans';
  --sl-text-new-input-md-font-size: 14px;
  --sl-text-new-input-md-line-height: 24px;
  --sl-text-new-typeset-font-family-body: 'Open Sans';
  --sl-text-new-typeset-font-family-heading: 'Open Sans';
  --sl-text-new-typeset-font-family-icon: 'Font Awesome 7 Pro';
  --sl-text-new-typeset-font-weight-regular: var(--sl-brand-text-new-typeset-font-weight-regular);
  --sl-text-new-typeset-font-weight-semi-bold: var(
    --sl-brand-text-new-typeset-font-weight-semi-bold
  );
  --sl-typography-caption-lg-font-family: 'Open Sans';
  --sl-typography-caption-lg-font-size: 14px;
  --sl-typography-caption-lg-font-weight: 400;
  --sl-typography-caption-lg-letter-spacing: 1%;
  --sl-typography-caption-lg-line-height: 20px;
  --sl-typography-caption-md-font-family: 'Open Sans';
  --sl-typography-caption-md-font-size: 12px;
  --sl-typography-caption-md-font-weight: 400;
  --sl-typography-caption-md-letter-spacing: 2%;
  --sl-typography-caption-md-line-height: 16px;
  --sl-typography-display-lg-font-family: 'Open Sans';
  --sl-typography-display-lg-font-size: 64px;
  --sl-typography-display-lg-font-weight: 700;
  --sl-typography-display-lg-letter-spacing: -2%;
  --sl-typography-display-lg-line-height: 80px;
  --sl-typography-display-md-font-family: 'Open Sans';
  --sl-typography-display-md-font-size: 56px;
  --sl-typography-display-md-font-weight: 700;
  --sl-typography-display-md-letter-spacing: -2%;
  --sl-typography-display-md-line-height: 68px;
  --sl-typography-display-sm-font-family: 'Open Sans';
  --sl-typography-display-sm-font-size: 48px;
  --sl-typography-display-sm-font-weight: 700;
  --sl-typography-display-sm-letter-spacing: -1%;
  --sl-typography-display-sm-line-height: 60px;
  --sl-typography-heading-lg-font-family: 'Open Sans';
  --sl-typography-heading-lg-font-size: 40px;
  --sl-typography-heading-lg-font-weight: 700;
  --sl-typography-heading-lg-letter-spacing: -1%;
  --sl-typography-heading-lg-line-height: 48px;
  --sl-typography-heading-md-font-family: 'Open Sans';
  --sl-typography-heading-md-font-size: 32px;
  --sl-typography-heading-md-font-weight: 700;
  --sl-typography-heading-md-letter-spacing: -1%;
  --sl-typography-heading-md-line-height: 40px;
  --sl-typography-heading-sm-font-family: 'Open Sans';
  --sl-typography-heading-sm-font-size: 28px;
  --sl-typography-heading-sm-font-weight: 700;
  --sl-typography-heading-sm-letter-spacing: 0%;
  --sl-typography-heading-sm-line-height: 36px;
  --sl-typography-label-lg-font-family: 'Open Sans';
  --sl-typography-label-lg-font-size: 16px;
  --sl-typography-label-lg-font-weight: 500;
  --sl-typography-label-lg-letter-spacing: 1%;
  --sl-typography-label-lg-line-height: 20px;
  --sl-typography-label-md-font-family: 'Open Sans';
  --sl-typography-label-md-font-size: 14px;
  --sl-typography-label-md-font-weight: 500;
  --sl-typography-label-md-letter-spacing: 1%;
  --sl-typography-label-md-line-height: 18px;
  --sl-typography-label-sm-font-family: 'Open Sans';
  --sl-typography-label-sm-font-size: 12px;
  --sl-typography-label-sm-font-weight: 500;
  --sl-typography-label-sm-letter-spacing: 2%;
  --sl-typography-label-sm-line-height: 16px;
  --sl-typography-text-lg-font-family: 'Open Sans';
  --sl-typography-text-lg-font-size: 18px;
  --sl-typography-text-lg-font-weight: 400;
  --sl-typography-text-lg-letter-spacing: 0%;
  --sl-typography-text-lg-line-height: 24px;
  --sl-typography-text-md-font-family: 'Open Sans';
  --sl-typography-text-md-font-size: 16px;
  --sl-typography-text-md-font-weight: 400;
  --sl-typography-text-md-letter-spacing: 0%;
  --sl-typography-text-md-line-height: 24px;
  --sl-typography-text-sm-font-family: 'Open Sans';
  --sl-typography-text-sm-font-size: 14px;
  --sl-typography-text-sm-font-weight: 400;
  --sl-typography-text-sm-letter-spacing: 0%;
  --sl-typography-text-sm-line-height: 20px;
  --sl-typography-title-lg-font-family: 'Open Sans';
  --sl-typography-title-lg-font-size: 24px;
  --sl-typography-title-lg-font-weight: 600;
  --sl-typography-title-lg-letter-spacing: 0%;
  --sl-typography-title-lg-line-height: 32px;
  --sl-typography-title-md-font-family: 'Open Sans';
  --sl-typography-title-md-font-size: 20px;
  --sl-typography-title-md-font-weight: 600;
  --sl-typography-title-md-letter-spacing: 0%;
  --sl-typography-title-md-line-height: 28px;
  --sl-typography-title-sm-font-family: 'Open Sans';
  --sl-typography-title-sm-font-size: 18px;
  --sl-typography-title-sm-font-weight: 600;
  --sl-typography-title-sm-letter-spacing: 0%;
  --sl-typography-title-sm-line-height: 24px;
}
