/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-base {
  --sl-justify-content-end: end;
  --sl-justify-content-space-between: space-between;
  --sl-justify-content-start: start;
  --sl-flex-direction-row: row;
  --sl-flex-direction-row-reverse: row-reverse;
  --sl-flex-direction-column-reverse: column-reverse;
  --sl-flex-direction-column: column;
  --sl-size-avatar-3xl: 80px;
  --sl-size-avatar-xl: 52px;
  --sl-size-avatar-lg: 40px;
  --sl-size-badge-2xl: 18px;
  --sl-size-dialog-full: 100%;
  --sl-size-dialog-max: 960px;
  --sl-size-dialog-min: 400px;
  --sl-size-icon-2xs: 10px;
  --sl-size-4xl: 64px;
  --sl-size-3xl: 48px;
  --sl-size-2xl: 32px;
  --sl-size-xl: 24px;
  --sl-size-lg: 20px;
  --sl-size-md: 16px;
  --sl-size-sm: 14px;
  --sl-size-xs: 12px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-150: 0.06;
  --sl-opacity-100: 0.04;
  --sl-opacity-50: 0.02;
  --sl-icon-typeset-font-size-2xs: 10px;
  --sl-icon-core-angle-down: angle-down;
  --sl-icon-core-house: house;
  --sl-icon-core-ellipsis: ellipsis;
  --sl-icon-core-circle-check-solid: circle-check;
  --sl-icon-core-octagon-exclamation-solid: octagon-exclamation;
  --sl-icon-core-triangle-exclamation-solid: triangle-exclamation;
  --sl-icon-core-xmark: xmark;
  --sl-icon-core-check: check;
  --sl-icon-core-chevron-right: chevron-right;
  --sl-icon-core-chevron-down: chevron-down;
  --sl-icon-core-pinata-solid: pinata;
  --sl-icon-core-pinata: pinata;
  --sl-icon-core-fav: star;
  --sl-icon-core-menu: bars;
  --sl-icon-core-face-smile: face-smile;
  --sl-icon-font-family-sharp: font-awesome-6-sharp;
  --sl-icon-font-family-classic: font-awesome-6-pro;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-space-badge-label-inline-3xl: 3px;
  --sl-space-badge-label-inline-2xl: 3px;
  --sl-space-badge-label-inline-xl: 3px;
  --sl-space-badge-icon-block-2xl: 1px;
  --sl-space-badge-icon-inline-2xl: 1px;
  --sl-space-badge-gap-md: 3px;
  --sl-space-badge-inline-3xl: 3px;
  --sl-space-badge-inline-md: 1px;
  --sl-space-3xl: 40px;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-border-radius-full: 50rem;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-text-text-field: [object Object];
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 20px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-body: open-sans;
  --sl-text-typeset-font-family-heading: open-sans;
  --sl-color-palette-neutral-base: 170 179 189;
  --sl-elevation-shadow-none: 0 0 0 0 rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-elevation-shadow-lg: 0 0 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-100)),
    0 8px 16px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-200));
  --sl-elevation-shadow-md: 0 0 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-50)),
    0 4px 8px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-150));
  --sl-elevation-shadow-sm: 0 0 6px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-50)),
    0 2px 4px 0 rgba(var(--sl-color-palette-neutral-base) / var(--sl-opacity-200));
  --sl-button-label-lg: var(--sl-text-typeset-line-height-lg);
  --sl-button-label-md: var(--sl-text-typeset-line-height-sm);
  --sl-button-label-sm: var(--sl-text-typeset-line-height-sm);
  --sl-size-spinner-4xl: var(--sl-size-4xl);
  --sl-size-spinner-3xl: var(--sl-size-3xl);
  --sl-size-spinner-2xl: var(--sl-size-2xl);
  --sl-size-spinner-xl: var(--sl-size-xl);
  --sl-size-spinner-lg: var(--sl-size-lg);
  --sl-size-spinner-md: var(--sl-size-md);
  --sl-size-spinner-sm: var(--sl-size-sm);
  --sl-size-spinner-xs: var(--sl-size-xs);
  --sl-size-skeleton-min-height: var(--sl-size-2xs);
  --sl-size-avatar-2xl: var(--sl-size-4xl);
  --sl-size-avatar-md: var(--sl-size-2xl);
  --sl-size-avatar-sm: var(--sl-size-xl);
  --sl-size-badge-3xl: var(--sl-size-lg);
  --sl-size-badge-xl: var(--sl-size-md);
  --sl-size-badge-lg: var(--sl-size-sm);
  --sl-size-badge-md: var(--sl-size-xs);
  --sl-size-badge-sm: var(--sl-size-2xs);
  --sl-size-button-icon-container-inline-lg: var(--sl-size-md);
  --sl-size-button-icon-container-inline-md: var(--sl-size-sm);
  --sl-size-button-icon-container-inline-sm: var(--sl-size-xs);
  --sl-size-button-icon-container-icon-only-lg: var(--sl-size-xl);
  --sl-size-button-icon-container-icon-only-md: var(--sl-size-md);
  --sl-size-button-icon-container-icon-only-sm: var(--sl-size-md);
  --sl-size-icon-4xl: var(--sl-size-4xl);
  --sl-size-icon-3xl: var(--sl-size-3xl);
  --sl-size-icon-2xl: var(--sl-size-2xl);
  --sl-size-icon-xl: var(--sl-size-xl);
  --sl-size-icon-lg: var(--sl-size-lg);
  --sl-size-icon-md: var(--sl-size-md);
  --sl-size-icon-sm: var(--sl-size-sm);
  --sl-size-icon-xs: var(--sl-size-xs);
  --sl-size-input-switch-controller-width-lg: var(--sl-size-4xl);
  --sl-size-input-switch-controller-width-md: var(--sl-size-3xl);
  --sl-size-input-switch-controller-width-sm: var(--sl-size-2xl);
  --sl-size-input-switch-controller-height-lg: var(--sl-size-2xl);
  --sl-size-input-switch-controller-height-md: var(--sl-size-xl);
  --sl-size-input-switch-controller-height-sm: var(--sl-size-md);
  --sl-size-input-switch-handle-lg: calc(var(--sl-size-2xl) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-switch-handle-md: calc(var(--sl-size-xl) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-switch-handle-sm: calc(var(--sl-size-md) - (2 * var(--sl-space-input-switch-padding-controller)));
  --sl-size-input-option-lg: var(--sl-size-2xl);
  --sl-size-input-option-md: var(--sl-size-xl);
  --sl-size-input-option-sm: var(--sl-size-lg);
  --sl-text-case-badge-text-transform: var(--sl-text-typeset-text-case-uppercase);
  --sl-conceptual-border-width-default: var(--sl-border-width-xs);
  --sl-icon-typeset-font-size-4xl: var(--sl-size-4xl);
  --sl-icon-typeset-font-size-3xl: var(--sl-size-3xl);
  --sl-icon-typeset-font-size-2xl: var(--sl-size-2xl);
  --sl-icon-typeset-font-size-xl: var(--sl-size-xl);
  --sl-icon-typeset-font-size-lg: var(--sl-size-lg);
  --sl-icon-typeset-font-size-md: var(--sl-size-md);
  --sl-icon-typeset-font-size-sm: var(--sl-size-sm);
  --sl-icon-typeset-font-size-xs: var(--sl-size-xs);
  --sl-icon-style-solid: var(--sl-text-typeset-font-weight-icon-solid);
  --sl-icon-style-outline: 400;
  --sl-component-button-md: [object Object];
  --sl-component-button-lg: [object Object];
  --sl-animation-button-easing: var(--sl-animation-easing-ease-in-out);
  --sl-animation-button-duration: var(--sl-animation-duration-normal);
  --sl-space-card-slotheader-badges-gap: var(--sl-space-sm);
  --sl-space-card-slotheader-badges-block: var(--sl-space-xs);
  --sl-space-card-slotheader-badges-inline: var(--sl-space-none);
  --sl-space-card-horizontal-gap: var(--sl-space-none);
  --sl-space-card-horizontal-block: var(--sl-space-xl);
  --sl-space-card-horizontal-inline: var(--sl-space-none);
  --sl-space-card-vertical-gap: var(--sl-space-none);
  --sl-space-card-vertical-block: var(--sl-space-xl);
  --sl-space-card-vertical-inline: var(--sl-space-none);
  --sl-space-card-content-inline: var(--sl-space-xl);
  --sl-space-card-media-margins: var(--sl-space-sm);
  --sl-space-card-media-full: var(--sl-space-none);
  --sl-space-tab-content-vertical-gap: var(--sl-space-xl);
  --sl-space-tab-content-vertical-block: var(--sl-space-sm);
  --sl-space-tab-content-vertical-inline: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-gap: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-block: var(--sl-space-xl);
  --sl-space-tab-content-horizontal-inline: var(--sl-space-xl);
  --sl-space-tab-more-block: var(--sl-space-sm);
  --sl-space-tab-more-inline: var(--sl-space-md);
  --sl-space-tab-gap: var(--sl-space-sm);
  --sl-space-tab-block: var(--sl-space-sm);
  --sl-space-tab-inline: var(--sl-space-xl);
  --sl-space-inline-message-content-gap: var(--sl-space-xs);
  --sl-space-inline-message-gap: var(--sl-space-lg);
  --sl-space-inline-message-inline-end: var(--sl-space-2xl);
  --sl-space-inline-message-inline-start: var(--sl-space-lg) + var(--sl-border-width-inline-message-start);
  --sl-space-inline-message-block: var(--sl-space-lg);
  --sl-space-popover-offset: var(--sl-space-xs);
  --sl-space-popover-gap: var(--sl-space-xs);
  --sl-space-popover-inline: var(--sl-space-md);
  --sl-space-popover-block: var(--sl-space-sm);
  --sl-space-avatar-block-3xl: var(--sl-space-sm);
  --sl-space-avatar-block-2xl: var(--sl-space-sm);
  --sl-space-avatar-block-xl: var(--sl-space-sm);
  --sl-space-avatar-block-lg: var(--sl-space-sm);
  --sl-space-avatar-block-md: var(--sl-space-sm);
  --sl-space-avatar-block-sm: var(--sl-space-sm);
  --sl-space-avatar-inline-3xl: var(--sl-space-lg);
  --sl-space-avatar-inline-2xl: var(--sl-space-lg);
  --sl-space-avatar-inline-xl: var(--sl-space-lg);
  --sl-space-avatar-inline-lg: var(--sl-space-lg);
  --sl-space-avatar-inline-md: var(--sl-space-sm);
  --sl-space-avatar-inline-sm: var(--sl-space-sm);
  --sl-space-badge-label-inline-lg: var(--sl-space-2xs);
  --sl-space-badge-label-inline-md: var(--sl-space-2xs);
  --sl-space-badge-label-inline-sm: var(--sl-space-2xs);
  --sl-space-badge-icon-block-3xl: var(--sl-space-2xs);
  --sl-space-badge-icon-block-xl: var(--sl-space-none);
  --sl-space-badge-icon-block-lg: var(--sl-space-none);
  --sl-space-badge-icon-block-md: var(--sl-space-none);
  --sl-space-badge-icon-block-sm: var(--sl-space-none);
  --sl-space-badge-icon-inline-3xl: var(--sl-space-2xs);
  --sl-space-badge-icon-inline-xl: var(--sl-space-none);
  --sl-space-badge-icon-inline-lg: var(--sl-space-none);
  --sl-space-badge-icon-inline-md: var(--sl-space-none);
  --sl-space-badge-icon-inline-sm: var(--sl-space-none);
  --sl-space-badge-gap-3xl: var(--sl-space-xs) + var(--sl-space-2xs);
  --sl-space-badge-gap-2xl: var(--sl-space-xs) + var(--sl-space-2xs);
  --sl-space-badge-gap-xl: var(--sl-space-xs);
  --sl-space-badge-gap-lg: var(--sl-space-xs);
  --sl-space-badge-gap-sm: var(--sl-space-2xs);
  --sl-space-badge-block-3xl: var(--sl-space-2xs);
  --sl-space-badge-block-2xl: var(--sl-space-2xs);
  --sl-space-badge-block-xl: var(--sl-space-2xs);
  --sl-space-badge-block-lg: var(--sl-space-2xs);
  --sl-space-badge-block-md: var(--sl-space-2xs);
  --sl-space-badge-block-sm: var(--sl-space-2xs);
  --sl-space-badge-inline-2xl: var(--sl-space-2xs);
  --sl-space-badge-inline-xl: var(--sl-space-2xs);
  --sl-space-badge-inline-lg: var(--sl-space-2xs);
  --sl-space-badge-inline-sm: var(--sl-space-2xs);
  --sl-space-tooltip-offset: var(--sl-space-xs);
  --sl-space-tooltip-gap: var(--sl-space-xs);
  --sl-space-tooltip-inline: var(--sl-space-md);
  --sl-space-tooltip-block: var(--sl-space-sm);
  --sl-space-select-divider-line-md: var(--sl-space-sm);
  --sl-space-select-divider-line-lg: var(--sl-space-sm);
  --sl-space-select-divider-gap-md: var(--sl-space-sm);
  --sl-space-select-divider-gap-lg: var(--sl-space-sm);
  --sl-space-select-divider-inline-md: var(--sl-space-md);
  --sl-space-select-divider-inline-lg: var(--sl-space-md);
  --sl-space-select-divider-block-md: var(--sl-space-sm);
  --sl-space-select-divider-block-lg: var(--sl-space-sm);
  --sl-space-select-listbox-gap-md: var(--sl-space-xs);
  --sl-space-select-listbox-gap-lg: var(--sl-space-xs);
  --sl-space-select-listbox-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-inline-lg: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-select-listbox-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-xs));
  --sl-space-button-bar-gap-block: var(--sl-space-sm);
  --sl-space-dialog-gap-header: var(--sl-space-none);
  --sl-space-dialog-subtitle-padding-bottom: var(--sl-space-xs);
  --sl-space-dialog-mobile-body-gap: var(--sl-space-xl);
  --sl-space-dialog-mobile-body-inline: var(--sl-space-xl);
  --sl-space-dialog-mobile-body-block: var(--sl-space-xl);
  --sl-space-dialog-mobile-container-padding-bottom: var(--sl-space-none);
  --sl-space-dialog-mobile-container-inline: var(--sl-space-none);
  --sl-space-dialog-mobile-container-padding-top: var(--sl-space-xl) * 2;
  --sl-space-dialog-desktop-body-gap: var(--sl-space-2xl);
  --sl-space-dialog-desktop-body-inline: var(--sl-space-2xl);
  --sl-space-dialog-desktop-body-block: var(--sl-space-2xl);
  --sl-space-dialog-desktop-container-padding-bottom: var(--sl-space-xl);
  --sl-space-dialog-desktop-container-inline: var(--sl-space-xl);
  --sl-space-dialog-desktop-container-padding-top: var(--sl-space-xl);
  --sl-space-button-link-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-lg: var(--sl-space-none);
  --sl-space-button-link-inline-md: var(--sl-space-none);
  --sl-space-button-link-inline-sm: var(--sl-space-none);
  --sl-space-button-link-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-gap-lg: var(--sl-space-sm);
  --sl-space-button-gap-md: var(--sl-space-xs);
  --sl-space-button-gap-sm: var(--sl-space-xs);
  --sl-space-button-ghost-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-ghost));
  --sl-space-button-ghost-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-ghost));
  --sl-space-button-outline-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-solid-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-lg: calc(var(--sl-space-xl) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-md: calc(var(--sl-space-xl) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-inline-sm: calc(var(--sl-space-lg) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-solid));
  --sl-space-button-solid-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-solid));
  --sl-space-text-field-inline-lg: var(--sl-space-lg);
  --sl-space-text-field-inline-md: var(--sl-space-md);
  --sl-space-text-field-block-lg: var(--sl-space-sm);
  --sl-space-text-field-block-md: var(--sl-space-sm);
  --sl-space-group-xl: var(--sl-space-sm);
  --sl-space-group-lg: var(--sl-space-sm);
  --sl-space-group-md: var(--sl-space-xs);
  --sl-space-group-sm: var(--sl-space-2xs);
  --sl-space-input-switch-margin-bottom-none: var(--sl-space-none);
  --sl-space-input-switch-margin-bottom-lg: var(--sl-space-none);
  --sl-space-input-switch-margin-bottom-md: var(--sl-space-xs);
  --sl-space-input-switch-margin-bottom-sm: var(--sl-space-none);
  --sl-space-input-switch-margin-left: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-none: var(--sl-space-none);
  --sl-space-input-switch-margin-top-lg: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-md: var(--sl-space-sm);
  --sl-space-input-switch-margin-top-sm: var(--sl-space-sm);
  --sl-space-input-switch-gap: var(--sl-space-none);
  --sl-space-input-switch-padding-row-none: var(--sl-space-none);
  --sl-space-input-switch-padding-controller: var(--sl-space-2xs);
  --sl-space-input-switch-padding-container: var(--sl-space-xs);
  --sl-space-input-field-label-padding-bottom-none: var(--sl-space-none);
  --sl-space-input-field-label-padding-bottom-lg: var(--sl-space-md);
  --sl-space-input-field-label-padding-bottom-md: var(--sl-space-sm);
  --sl-space-input-field-label-padding-bottom-sm: var(--sl-space-sm);
  --sl-space-input-field-label-icon-lg: var(--sl-space-xs);
  --sl-space-input-field-label-icon-md: var(--sl-space-2xs);
  --sl-space-input-field-label-gap-lg: var(--sl-space-sm);
  --sl-space-input-field-label-gap-md: var(--sl-space-xs);
  --sl-space-input-field-label-gap-sm: var(--sl-space-xs);
  --sl-space-input-helper-padding-top-none: var(--sl-space-none);
  --sl-space-input-helper-padding-top-lg: var(--sl-space-sm);
  --sl-space-input-helper-padding-top-md: var(--sl-space-xs);
  --sl-space-input-helper-padding-top-sm: var(--sl-space-xs);
  --sl-space-input-helper-gap-lg: var(--sl-space-sm);
  --sl-space-input-helper-gap-md: var(--sl-space-xs);
  --sl-space-input-helper-gap-sm: var(--sl-space-xs);
  --sl-space-input-text-field-gap-lg: var(--sl-space-sm);
  --sl-space-input-text-field-gap-md: var(--sl-space-sm);
  --sl-space-input-text-field-inline-lg: calc(var(--sl-space-lg) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-inline-md: calc(var(--sl-space-md) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-block-lg: calc(var(--sl-space-sm) - var(--sl-conceptual-border-width-default));
  --sl-space-input-text-field-block-md: calc(var(--sl-space-xs) + var(--sl-conceptual-border-width-default));
  --sl-space-input-option-gap-lg: var(--sl-space-sm);
  --sl-space-input-option-gap-md: var(--sl-space-sm);
  --sl-space-input-option-gap-sm: var(--sl-space-sm);
  --sl-space-input-option-inline-lg: var(--sl-space-none);
  --sl-space-input-option-inline-md: var(--sl-space-none);
  --sl-space-input-option-inline-sm: var(--sl-space-none);
  --sl-space-input-option-block-lg: var(--sl-space-xs);
  --sl-space-input-option-block-md: var(--sl-space-xs);
  --sl-space-input-option-block-sm: var(--sl-space-none);
  --sl-border-width-inline-message-start: var(--sl-border-width-lg);
  --sl-border-width-focusring-offset: var(--sl-border-width-sm);
  --sl-border-width-focusring-default: var(--sl-border-width-xs);
  --sl-border-width-input-border: var(--sl-border-width-sm);
  --sl-border-width-input-none: var(--sl-border-width-none);
  --sl-border-width-button-link: var(--sl-border-width-xs);
  --sl-border-width-button-ghost: var(--sl-border-width-xs);
  --sl-border-width-button-outline: var(--sl-border-width-xs);
  --sl-border-width-button-solid: var(--sl-border-width-xs);
  --sl-border-radius-select-item: var(--sl-border-radius-3xs);
  --sl-border-radius-select-listbox: var(--sl-border-radius-2xs);
  --sl-border-radius-focusring-full: var(--sl-border-radius-full);
  --sl-border-radius-checkbox: var(--sl-border-radius-2xs);
  --sl-border-radius-circle: var(--sl-border-radius-full);
  --sl-border-radius-default: var(--sl-border-radius-3xs);
  --sl-border-radius-button-icon-only-lg: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-md: var(--sl-border-radius-full);
  --sl-border-radius-button-icon-only-sm: var(--sl-border-radius-full);
  --sl-border-radius-button-lg: var(--sl-border-radius-sm);
  --sl-border-radius-button-md: var(--sl-border-radius-sm);
  --sl-border-radius-button-sm: var(--sl-border-radius-sm);
  --sl-text-input-label-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-label-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-link-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-button-font-icon-lg: undefined var(--sl-text-typeset-font-size-lg) / var(--sl-text-typeset-line-height-sm)
    undefined;
  --sl-text-button-font-icon-md: undefined var(--sl-text-typeset-font-size-md) / var(--sl-text-typeset-line-height-xs)
    undefined;
  --sl-text-button-font-icon-sm: undefined 13 / var(--sl-text-typeset-line-height-xxs) undefined;
  --sl-text-button-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-heading-4: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-3: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-2: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-1: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-3xl) /
    var(--sl-text-typeset-line-height-3xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-0: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-4xl) /
    var(--sl-text-typeset-line-height-4xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-typeset-font-family-icon: font-awesome-6-pro;
  --sl-size-input-option-checkbox-icon-lg: var(--sl-size-icon-lg);
  --sl-size-input-option-checkbox-icon-md: var(--sl-size-icon-md);
  --sl-size-input-option-checkbox-icon-sm: var(--sl-size-icon-xs);
  --sl-space-select-item-gap-lg: var(--sl-space-input-text-field-gap-lg);
  --sl-space-select-item-gap-md: var(--sl-space-input-text-field-gap-md);
  --sl-space-select-item-inline-lg: var(--sl-space-input-text-field-inline-lg);
  --sl-space-select-item-inline-md: var(--sl-space-input-text-field-inline-md);
  --sl-space-select-item-block-lg: var(--sl-space-input-text-field-block-lg);
  --sl-space-select-item-block-md: var(--sl-space-input-text-field-block-md);
  --sl-space-select-selectbox-gap-lg: var(--sl-space-input-text-field-gap-lg);
  --sl-space-select-selectbox-gap-md: var(--sl-space-input-text-field-gap-md);
  --sl-space-select-selectbox-inline-lg: var(--sl-space-input-text-field-inline-lg);
  --sl-space-select-selectbox-inline-md: var(--sl-space-input-text-field-inline-md);
  --sl-space-select-selectbox-block-lg: var(--sl-space-input-text-field-block-lg);
  --sl-space-select-selectbox-block-md: var(--sl-space-input-text-field-block-md);
  --sl-space-button-bar-gap-inline: var(--sl-space-button-bar-gap-block);
  --sl-space-text-field-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-text-field-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-switch-padding-row-lg: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-lg) +
    (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-space-input-switch-padding-row-md: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-md) +
    (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-space-input-switch-padding-row-sm: calc(
    var(--sl-space-input-switch-margin-left) + var(--sl-size-input-switch-controller-width-sm) +
    (var(--sl-space-input-switch-padding-container) * 2)
  );
  --sl-space-input-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-input-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-inline-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-inline-md: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-md: var(--sl-space-button-outline-block-sm);
  --sl-border-width-select-listbox: var(--sl-conceptual-border-width-default);
  --sl-border-width-inline-message-default: var(--sl-conceptual-border-width-default);
  --sl-border-radius-focusring-default: calc(var(--sl-border-radius-default) + 1);
  --sl-text-input-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 / var(--sl-text-typeset-line-height-md)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-input-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
}
