/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

.sl-text-input-label-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
  font-size: var(--sl-text-typeset-font-size-lg);
}

.sl-text-input-label-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
  font-size: var(--sl-text-typeset-font-size-md);
}

.sl-text-body-lg-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-lg);
  font-size: var(--sl-text-typeset-font-size-lg);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-lg-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-lg);
  font-size: var(--sl-text-typeset-font-size-lg);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-lg-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
  font-size: var(--sl-text-typeset-font-size-lg);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-md-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-md);
  font-size: var(--sl-text-typeset-font-size-md);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-md-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-md);
  font-size: var(--sl-text-typeset-font-size-md);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-md-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
  font-size: var(--sl-text-typeset-font-size-md);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-sm-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-sm);
  font-size: var(--sl-text-typeset-font-size-sm);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-sm-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  line-height: var(--sl-text-typeset-line-height-sm);
  font-size: var(--sl-text-typeset-font-size-sm);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-body-sm-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
  font-size: var(--sl-text-typeset-font-size-sm);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

.sl-text-heading-4 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-lg);
  font-size: var(--sl-text-typeset-font-size-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
}

.sl-text-heading-3 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-xl);
  font-size: var(--sl-text-typeset-font-size-xl);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
}

.sl-text-heading-2 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-2xl);
  font-size: var(--sl-text-typeset-font-size-2xl);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
}

.sl-text-heading-1 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-3xl);
  font-size: var(--sl-text-typeset-font-size-3xl);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  letter-spacing: var(--sl-text-typeset-letter-spacing-sm);
}

.sl-text-heading-0 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  line-height: var(--sl-text-typeset-line-height-4xl);
  font-size: var(--sl-text-typeset-font-size-4xl);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  letter-spacing: var(--sl-text-typeset-letter-spacing-xs);
}

.sl-component-checkbox-lg-font {
  font-family: var(--sl-control-lg-font-family);
  font-size: var(--sl-control-lg-font-size);
  font-weight: var(--sl-control-lg-font-weight);
  line-height: var(--sl-control-lg-font-line-height);
}

.sl-component-checkbox-md-font {
  font-family: var(--sl-control-md-font-family);
  font-size: var(--sl-control-md-font-size);
  font-weight: var(--sl-control-md-font-weight);
  line-height: var(--sl-control-md-font-line-height);
}

.sl-component-button-core-lg-font {
  font-family: var(--sl-control-lg-font-family);
  font-size: var(--sl-control-lg-font-size);
  font-weight: var(--sl-control-lg-font-weight);
  line-height: var(--sl-control-lg-font-line-height);
}

.sl-component-button-core-md-font {
  font-family: var(--sl-control-md-font-family);
  font-size: var(--sl-control-md-font-size);
  font-weight: var(--sl-control-md-font-weight);
  line-height: var(--sl-control-md-font-line-height);
}

.sl-component-button-core-sm-font {
  font-family: var(--sl-control-sm-font-family);
  font-size: var(--sl-control-sm-font-size);
  font-weight: var(--sl-control-sm-font-weight);
  line-height: var(--sl-control-sm-font-line-height);
}

.sl-text-input-font-icon-lg {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-md);
  font-size: 18;
}

.sl-text-input-font-icon-md {
  font-family: var(--sl-text-typeset-font-family-icon);
  font-weight: var(--sl-text-typeset-font-weight-icon-solid);
  line-height: var(--sl-text-typeset-line-height-sm);
  font-size: 15;
}
