[data-User-Group='developing'] {
  --base-font-size: 18px;
  --caption-font-family: 'The Message Beta VAR';
  --caption-lg-font-size-advanced: var(--computed-developing-caption-lg-font-size-advanced);
  --caption-lg-font-size-developing: var(--computed-developing-caption-lg-font-size-developing);
  --caption-lg-font-size-early: var(--computed-developing-caption-lg-font-size-early);
  --caption-lg-font-size-user-group: var(--caption-lg-font-size-developing);
  --caption-lg-letter-spacing: 1%;
  --caption-lg-line-height-advanced: var(--computed-developing-caption-lg-line-height-advanced);
  --caption-lg-line-height-developing: var(--computed-developing-caption-lg-line-height-developing);
  --caption-lg-line-height-early: var(--computed-developing-caption-lg-line-height-early);
  --caption-lg-line-height-user-group: var(--caption-lg-line-height-developing);
  --caption-line-height: 1.5;
  --caption-md-font-size-advanced: var(--computed-developing-caption-md-font-size-advanced);
  --caption-md-font-size-developing: var(--computed-developing-caption-md-font-size-developing);
  --caption-md-font-size-early: var(--computed-developing-caption-md-font-size-early);
  --caption-md-font-size-user-group: var(--caption-md-font-size-developing);
  --caption-md-letter-spacing: 2%;
  --caption-md-line-height-advanced: var(--computed-developing-caption-md-line-height-advanced);
  --caption-md-line-height-developing: var(--computed-developing-caption-md-line-height-developing);
  --caption-md-line-height-early: var(--computed-developing-caption-md-line-height-early);
  --caption-md-line-height-user-group: var(--caption-md-line-height-developing);
  --computed-compact-variable-space-010: 1px;
  --computed-compact-variable-space-025: 2px;
  --computed-compact-variable-space-050: 4px;
  --computed-compact-variable-space-075: 4px;
  --computed-compact-variable-space-100: 8px;
  --computed-compact-variable-space-1000: 76px;
  --computed-compact-variable-space-125: 8px;
  --computed-compact-variable-space-150: 12px;
  --computed-compact-variable-space-200: 16px;
  --computed-compact-variable-space-300: 24px;
  --computed-compact-variable-space-400: 32px;
  --computed-compact-variable-space-500: 36px;
  --computed-compact-variable-space-600: 44px;
  --computed-compact-variable-space-700: 52px;
  --computed-compact-variable-space-800: 60px;
  --computed-regular-variable-space-010: 1px;
  --computed-regular-variable-space-025: 2px;
  --computed-regular-variable-space-050: 6px;
  --computed-regular-variable-space-075: 8px;
  --computed-regular-variable-space-100: 12px;
  --computed-regular-variable-space-1000: 100px;
  --computed-regular-variable-space-125: 12px;
  --computed-regular-variable-space-150: 16px;
  --computed-regular-variable-space-200: 20px;
  --computed-regular-variable-space-300: 32px;
  --computed-regular-variable-space-400: 40px;
  --computed-regular-variable-space-500: 52px;
  --computed-regular-variable-space-600: 60px;
  --computed-regular-variable-space-700: 72px;
  --computed-regular-variable-space-800: 80px;
  --computed-relaxed-variable-space-010: 2px;
  --computed-relaxed-variable-space-025: 4px;
  --computed-relaxed-variable-space-050: 6px;
  --computed-relaxed-variable-space-075: 8px;
  --computed-relaxed-variable-space-100: 12px;
  --computed-relaxed-variable-space-1000: 124px;
  --computed-relaxed-variable-space-125: 16px;
  --computed-relaxed-variable-space-150: 20px;
  --computed-relaxed-variable-space-200: 24px;
  --computed-relaxed-variable-space-300: 36px;
  --computed-relaxed-variable-space-400: 52px;
  --computed-relaxed-variable-space-500: 64px;
  --computed-relaxed-variable-space-600: 76px;
  --computed-relaxed-variable-space-700: 88px;
  --computed-relaxed-variable-space-800: 100px;
  --display-font-family: 'The Message Beta VAR';
  --display-lg-font-size-advanced: var(--computed-developing-display-lg-font-size-advanced);
  --display-lg-font-size-developing: var(--computed-developing-display-lg-font-size-developing);
  --display-lg-font-size-early: var(--computed-developing-display-lg-font-size-early);
  --display-lg-font-size-user-group: var(--display-lg-font-size-developing);
  --display-lg-letter-spacing: -2%;
  --display-lg-line-height-advanced: var(--computed-developing-display-lg-line-height-advanced);
  --display-lg-line-height-developing: var(--computed-developing-display-lg-line-height-developing);
  --display-lg-line-height-early: var(--computed-developing-display-lg-line-height-early);
  --display-lg-line-height-user-group: var(--display-lg-line-height-developing);
  --display-line-height: 1.3;
  --display-md-font-size-advanced: var(--computed-developing-display-md-font-size-advanced);
  --display-md-font-size-developing: var(--computed-developing-display-md-font-size-developing);
  --display-md-font-size-early: var(--computed-developing-display-md-font-size-early);
  --display-md-font-size-user-group: var(--display-md-font-size-developing);
  --display-md-letter-spacing: -2%;
  --display-md-line-height-advanced: var(--computed-developing-display-md-line-height-advanced);
  --display-md-line-height-developing: var(--computed-developing-display-md-line-height-developing);
  --display-md-line-height-early: var(--computed-developing-display-md-line-height-early);
  --display-md-line-height-user-group: var(--display-md-line-height-developing);
  --display-sm-font-size-advanced: var(--computed-developing-display-sm-font-size-advanced);
  --display-sm-font-size-developing: var(--computed-developing-display-sm-font-size-developing);
  --display-sm-font-size-early: var(--computed-developing-display-sm-font-size-early);
  --display-sm-font-size-user-group: var(--display-sm-font-size-developing);
  --display-sm-letter-spacing: -1%;
  --display-sm-line-height-advanced: var(--computed-developing-display-sm-line-height-advanced);
  --display-sm-line-height-developing: var(--computed-developing-display-sm-line-height-developing);
  --display-sm-line-height-early: var(--computed-developing-display-sm-line-height-early);
  --display-sm-line-height-user-group: var(--display-sm-line-height-developing);
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --heading-font-family: 'The Message Beta VAR';
  --heading-lg-font-size-advanced: var(--computed-developing-heading-lg-font-size-advanced);
  --heading-lg-font-size-developing: var(--computed-developing-heading-lg-font-size-developing);
  --heading-lg-font-size-early: var(--computed-developing-heading-lg-font-size-early);
  --heading-lg-font-size-user-group: var(--heading-lg-font-size-developing);
  --heading-lg-letter-spacing: -1%;
  --heading-lg-line-height-advanced: var(--computed-developing-heading-lg-line-height-advanced);
  --heading-lg-line-height-developing: var(--computed-developing-heading-lg-line-height-developing);
  --heading-lg-line-height-early: var(--computed-developing-heading-lg-line-height-early);
  --heading-lg-line-height-user-group: var(--heading-lg-line-height-developing);
  --heading-line-height: 1.35;
  --heading-md-font-size-advanced: var(--computed-developing-heading-md-font-size-advanced);
  --heading-md-font-size-developing: var(--computed-developing-heading-md-font-size-developing);
  --heading-md-font-size-early: var(--computed-developing-heading-md-font-size-early);
  --heading-md-font-size-user-group: var(--heading-md-font-size-developing);
  --heading-md-letter-spacing: -1%;
  --heading-md-line-height-advanced: var(--computed-developing-heading-md-line-height-advanced);
  --heading-md-line-height-developing: var(--computed-developing-heading-md-line-height-developing);
  --heading-md-line-height-early: var(--computed-developing-heading-md-line-height-early);
  --heading-md-line-height-user-group: var(--heading-md-line-height-developing);
  --heading-sm-font-size-advanced: var(--computed-developing-heading-sm-font-size-advanced);
  --heading-sm-font-size-developing: var(--computed-developing-heading-sm-font-size-developing);
  --heading-sm-font-size-early: var(--computed-developing-heading-sm-font-size-early);
  --heading-sm-font-size-user-group: var(--heading-sm-font-size-developing);
  --heading-sm-letter-spacing: 0%;
  --heading-sm-line-height-advanced: var(--computed-developing-heading-sm-line-height-advanced);
  --heading-sm-line-height-developing: var(--computed-developing-heading-sm-line-height-developing);
  --heading-sm-line-height-early: var(--computed-developing-heading-sm-line-height-early);
  --heading-sm-line-height-user-group: var(--heading-sm-line-height-developing);
  --label-font-family: 'The Message Beta VAR';
  --label-lg-font-size-advanced: var(--computed-developing-label-lg-font-size-advanced);
  --label-lg-font-size-developing: var(--computed-developing-label-lg-font-size-developing);
  --label-lg-font-size-early: var(--computed-developing-label-lg-font-size-early);
  --label-lg-font-size-user-group: var(--label-lg-font-size-developing);
  --label-lg-letter-spacing: 1%;
  --label-lg-line-height-advanced: var(--computed-developing-label-lg-line-height-advanced);
  --label-lg-line-height-developing: var(--computed-developing-label-lg-line-height-developing);
  --label-lg-line-height-early: var(--computed-developing-label-lg-line-height-early);
  --label-lg-line-height-user-group: var(--label-lg-line-height-developing);
  --label-line-height: 1.4;
  --label-md-font-size-advanced: var(--computed-developing-label-md-font-size-advanced);
  --label-md-font-size-developing: var(--computed-developing-label-md-font-size-developing);
  --label-md-font-size-early: var(--computed-developing-label-md-font-size-early);
  --label-md-font-size-user-group: var(--label-md-font-size-developing);
  --label-md-letter-spacing: 1%;
  --label-md-line-height-advanced: var(--computed-developing-label-md-line-height-advanced);
  --label-md-line-height-developing: var(--computed-developing-label-md-line-height-developing);
  --label-md-line-height-early: var(--computed-developing-label-md-line-height-early);
  --label-md-line-height-user-group: var(--label-md-line-height-developing);
  --label-sm-font-size-advanced: var(--computed-developing-label-sm-font-size-advanced);
  --label-sm-font-size-developing: var(--computed-developing-label-sm-font-size-developing);
  --label-sm-font-size-early: var(--computed-developing-label-sm-font-size-early);
  --label-sm-font-size-user-group: var(--label-sm-font-size-developing);
  --label-sm-letter-spacing: 2%;
  --label-sm-line-height-advanced: var(--computed-developing-label-sm-line-height-advanced);
  --label-sm-line-height-developing: var(--computed-developing-label-sm-line-height-developing);
  --label-sm-line-height-early: var(--computed-developing-label-sm-line-height-early);
  --label-sm-line-height-user-group: var(--label-sm-line-height-developing);
  --scale-010: 0.0625;
  --scale-025: 0.125;
  --scale-050: 0.25;
  --scale-075: 0.375;
  --scale-100: 0.5;
  --scale-1000: 5;
  --scale-125: 0.625;
  --scale-150: 0.75;
  --scale-200: 1;
  --scale-250: 1.25;
  --scale-300: 1.5;
  --scale-400: 2;
  --scale-500: 2.5;
  --scale-600: 3;
  --scale-700: 3.5;
  --scale-800: 4;
  --scale-full: 50;
  --scale-none: 0;
  --space-base: 20;
  --text-font-family: 'The Message Beta VAR';
  --text-lg-font-size-advanced: var(--computed-developing-text-lg-font-size-advanced);
  --text-lg-font-size-developing: var(--computed-developing-text-lg-font-size-developing);
  --text-lg-font-size-early: var(--computed-developing-text-lg-font-size-early);
  --text-lg-font-size-user-group: var(--text-lg-font-size-developing);
  --text-lg-letter-spacing: 0%;
  --text-lg-line-height-advanced: var(--computed-developing-text-lg-line-height-advanced);
  --text-lg-line-height-developing: var(--computed-developing-text-lg-line-height-developing);
  --text-lg-line-height-early: var(--computed-developing-text-lg-line-height-early);
  --text-lg-line-height-user-group: var(--text-lg-line-height-developing);
  --text-line-height: 1.6;
  --text-md-font-size-advanced: var(--computed-developing-text-md-font-size-advanced);
  --text-md-font-size-developing: var(--computed-developing-text-md-font-size-developing);
  --text-md-font-size-early: var(--computed-developing-text-md-font-size-early);
  --text-md-font-size-user-group: var(--text-md-font-size-developing);
  --text-md-letter-spacing: 0%;
  --text-md-line-height-advanced: var(--computed-developing-text-md-line-height-advanced);
  --text-md-line-height-developing: var(--computed-developing-text-md-line-height-developing);
  --text-md-line-height-early: var(--computed-developing-text-md-line-height-early);
  --text-md-line-height-user-group: var(--text-md-line-height-developing);
  --text-sm-font-size-advanced: var(--computed-developing-text-sm-font-size-advanced);
  --text-sm-font-size-developing: var(--computed-developing-text-sm-font-size-developing);
  --text-sm-font-size-early: var(--computed-developing-text-sm-font-size-early);
  --text-sm-font-size-user-group: var(--text-sm-font-size-developing);
  --text-sm-letter-spacing: 0%;
  --text-sm-line-height-advanced: var(--computed-developing-text-sm-line-height-advanced);
  --text-sm-line-height-developing: var(--computed-developing-text-sm-line-height-developing);
  --text-sm-line-height-early: var(--computed-developing-text-sm-line-height-early);
  --text-sm-line-height-user-group: var(--text-sm-line-height-developing);
  --title-font-family: 'The Message Beta VAR';
  --title-lg-font-size-advanced: var(--computed-developing-title-lg-font-size-advanced);
  --title-lg-font-size-developing: var(--computed-developing-title-lg-font-size-developing);
  --title-lg-font-size-early: var(--computed-developing-title-lg-font-size-early);
  --title-lg-font-size-user-group: var(--title-lg-font-size-developing);
  --title-lg-letter-spacing: 0%;
  --title-lg-line-height-advanced: var(--computed-developing-title-lg-line-height-advanced);
  --title-lg-line-height-developing: var(--computed-developing-title-lg-line-height-developing);
  --title-lg-line-height-early: var(--computed-developing-title-lg-line-height-early);
  --title-lg-line-height-user-group: var(--title-lg-line-height-developing);
  --title-line-height: 1.4;
  --title-md-font-size-advanced: var(--computed-developing-title-md-font-size-advanced);
  --title-md-font-size-developing: var(--computed-developing-title-md-font-size-developing);
  --title-md-font-size-early: var(--computed-developing-title-md-font-size-early);
  --title-md-font-size-user-group: var(--title-md-font-size-developing);
  --title-md-letter-spacing: 0%;
  --title-md-line-height-advanced: var(--computed-developing-title-md-line-height-advanced);
  --title-md-line-height-developing: var(--computed-developing-title-md-line-height-developing);
  --title-md-line-height-early: var(--computed-developing-title-md-line-height-early);
  --title-md-line-height-user-group: var(--title-md-line-height-developing);
  --title-sm-font-size-advanced: var(--computed-developing-title-sm-font-size-advanced);
  --title-sm-font-size-developing: var(--computed-developing-title-sm-font-size-developing);
  --title-sm-font-size-early: var(--computed-developing-title-sm-font-size-early);
  --title-sm-font-size-user-group: var(--title-sm-font-size-developing);
  --title-sm-letter-spacing: 0%;
  --title-sm-line-height-advanced: var(--computed-developing-title-sm-line-height-advanced);
  --title-sm-line-height-developing: var(--computed-developing-title-sm-line-height-developing);
  --title-sm-line-height-early: var(--computed-developing-title-sm-line-height-early);
  --title-sm-line-height-user-group: var(--title-sm-line-height-developing);
  --variable-space-none: 0px;
  --variable-space-tshirt-2xl: var(--variable-space-500);
  --variable-space-tshirt-2xs: var(--variable-space-050);
  --variable-space-tshirt-3xl: var(--variable-space-600);
  --variable-space-tshirt-4xl: var(--variable-space-800);
  --variable-space-tshirt-lg: var(--variable-space-300);
  --variable-space-tshirt-md: var(--variable-space-200);
  --variable-space-tshirt-sm: var(--variable-space-150);
  --variable-space-tshirt-xl: var(--variable-space-400);
  --variable-space-tshirt-xs: var(--variable-space-100);
}
