:host {
  --_border: 1px solid var(--_border-color);
  --_border-color: #d3d3d3;
  --_border-radius: 3px;
  --_box-shadow: none;
  --_gap: 0.25rem;
}

:host {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  vertical-align: top;
}

:host(:disabled) {
  cursor: default;
  pointer-events: none;
}

:host(:focus-within) {
  --_border-color: hsl(207, 95%, calc(55% - 8% * 2));
  --_box-shadow: 0 0 0 3px hsla(207, 95%, calc(55% - 8%), 0.25);
}

:host(:where(:--invalid, [state--invalid])) {
  --_border-color: #c00;
}

slot[name='textarea']::slotted(textarea) {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  flex: 1;
  font: inherit;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: calc(0.25rem - 1px) 0.5rem;

  &:focus {
    outline: none;
  }
}

.wrapper {
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow, color, filter;
  width: 100%;
}
