<section class="ds-tokens">
<h2 class="ds-tokens__heading">Space</h2>
<table class="ds-table"><thead>
<tr>
  <th>Example</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.space -%}
<tr>
  <td>
    <div class="ds-tokens__space-example">
      <div class="ds-tokens__space" style="width: {{ property.value }}; height: {{ property.value }};"></div>
      <code>{{ property.value }}</code>
    </div>
  </td>
  <td><code>{{ property.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>
