<section class="ds-tokens">
<h2 id="space-tokens" class="ds-tokens__heading"><a class="header-anchor" href="#space-tokens">Space</a></h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for item in tokens.spaceTokens.space -%}
<tr>
  <td>
    <div class="ds-tokens__space-example">
      <div class="ds-tokens__space" style="width: min(var({{ item.token }}), 15rem); height: min(var({{ item.token }}), 15rem);"></div>
      <code>{{ item.value }}</code>
    </div>
  </td>
  <td class="ds-tokens__description">{{ item.title }}</td>
  <td><code>{{ item.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>

<section class="ds-tokens">
<h2 id="space" class="ds-tokens__heading"><a class="header-anchor" href="#space">Space - deprecated</a></h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for property in tokens.core.space -%}{% if property[1]['$value'] %}
<tr>
  <td>
    <div class="ds-tokens__space-example">
      <div class="ds-tokens__space" style="width: min({{ property[1]['$value'] }}{% if property[1]['$value'] | hasNoUnit %}px{% endif %}, 15rem); height: min({{ property[1]['$value'] }}{% if property[1]['$value'] | hasNoUnit %}px{% endif %}, 15rem)"></div>
      <code>{{ property[1]['$value'] }}{% if property[1]['$value'] | hasNoUnit %}px{% endif %}</code>
    </div>
  </td>
  <td class="ds-tokens__description">{{ property[1]['$description'] | tokenDescription }}</td>
  <td><code>{{ property[1]['$description'] | tokenName }}</code></td>
</tr>
{% endif %}{% endfor -%}
</tbody>
</table>
</section>
