:host {
  --_background: #fff;
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_gap: 0.5rem;
  --_spacing: 0.5rem;
}

:host {
  display: block;
}

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  flex-direction: column;
  gap: var(--_gap);

  &::backdrop {
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }
}

dialog[open] {
  display: flex;
}
