:host {
  display: flex;
  list-style: none;
}

//:host(:hover) {
//  background-color: var(--sl-color-select-item-hover-background);
//}

details {
  flex: 1;
}

details > summary:first-of-type {
  list-style: none;
}

summary {
  border: 2px solid #c6c6c6;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
  transition: background 300ms;

  &:hover {
    background-color: var(--sl-color-select-item-hover-background);
  }
}

.panel {
  padding: 16px;
}

//details summary > * {
//  display: inline;
//}
