<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanoma Learning Design System Documentation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    {% include "./sidebar.njk" %}
    <main>
      <header>
        <h1>{{ title }}</h1>
      </header>
      {{ content | safe }}
    </main>
    <div class="field">
      <label for="searchField">Search</label>
      <input type="search" placeholder="Search..." id="searchField" />
    </div>
    <ol id="searchResults" />
    <div id="noResultsFound" style="display: none">
      <p>No results found.</p>
    </div>
    <!--Only 5.7kb GZipped. You may want to bundle this with your application code. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script type="text/javascript" src="./../js/search2.js"></script>
    <script type="text/javascript">
      {% include "./../js/tabs.js" %}
    </script>
  </body>
</html>
