<div>
  <input class="ds-search" type="search" id="search" name="search" value="{{ searchTerm }}" />
</div>

<div>
  <input class="ds-search" type="search" id="search" name="search" value="{{ value }}" />
</div>

<script type="text/javascript">
  {% include "./../js/search.js" %}
</script>
