<style>
    {% include "./theme-switch.css" %}
</style>

<button type="button" class="theme-icon" aria-label="Toggle between dark and light mode">
    <img class="icon-light" src="/assets/icons/bootstrap-icons/moon.svg" alt="moon">
    <img class="icon-dark" src="/assets/icons/bootstrap-icons/sun.svg" alt="sun">
</button>

<script type="text/javascript">
    {% include "./theme-switch.js" %}
</script>
