:host {
  --_align: var(--sl-button-bar-align, start);
  --_direction: var(--sl-button-bar-direction, row);
  --gap-h: var(--sl-space-button-bar-gap-inline);
  --gap-v: var(--sl-space-button-bar-gap-block);
}

:host {
  align-items: center;
  display: flex;
  flex-direction: var(--_direction);
  flex-wrap: wrap;
  gap: var(--gap-v) var(--gap-h);
  justify-content: var(--_align);
}

:host([align='center']) {
  --_align: center;
}

:host([align='end']) {
  --_align: flex-end;
}

:host([align='space-between']) {
  --_align: space-between;
}

:host([icon-only]) {
  --gap-h: 0.5rem;
  --gap-v: 0.25rem;
}

:host([reverse]) {
  --_direction: row-reverse;
}
