:host {
  --sl-button-bar-align: start;
  --sl-button-bar-direction: row;
  --_block-gap: var(--sl-space-button-bar-gap-default-block);
  --_inline-gap: var(--sl-space-button-bar-gap-default-inline);

  align-items: center;
  display: flex;
  flex-flow: var(--sl-button-bar-direction) wrap;
  gap: var(--_block-gap) var(--_inline-gap);
  justify-content: var(--sl-button-bar-align);
}

:host([align='center']) {
  --sl-button-bar-align: center;
}

:host([align='end']) {
  --sl-button-bar-align: end;
}

:host([align='space-between']) {
  --sl-button-bar-align: space-between;
}

:host([icon-only]) {
  --_inline-gap: var(--sl-space-button-bar-gap-ghost-icon-inline);
  --_block-gap: var(--sl-space-button-bar-gap-ghost-icon-block);
}

:host([reverse]) {
  --sl-button-bar-direction: row-reverse;
}
