:host {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--sl-space-100);
  justify-content: start;

  @media (width <= 600px) {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}

:host([align='center']) {
  justify-content: center;
}

:host([align='end']) {
  justify-content: end;
}

:host([align='space-between']) {
  justify-content: space-between;
}

:host([icon-only]) {
  gap: var(--sl-space-050);
}

:host([reverse]) {
  flex-direction: row-reverse;
}
