<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sanoma Learning Design System</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/favicon/sl-favicon-16-black.png" sizes="16x16">
  <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/favicon/sl-favicon-32-black.png" sizes="32x32">
  <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/favicon/sl-favicon-16-white.png" sizes="16x16">
  <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/favicon/sl-favicon-32-white.png" sizes="32x32">
</head>
<body>
  {{ content | safe }}
</body>
</html>
