$sizes: md, lg;
$variants: default, valid, invalid;

:host {
  --sl-popover-offset: 6px;
  --_background: var(--sl-color-select-listbox-background);
  --_border-color: var(--sl-color-select-listbox-border);
  --_border-radius: var(--sl-border-radius-select-listbox);
  --_border-width: var(--sl-border-width-select-listbox);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);

  display: flex;
  outline: none;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_padding-block: var(--sl-space-select-listbox-block-#{$size});
    --_padding-inline: var(--sl-space-select-listbox-inline-#{$size});
    --_gap: var(--sl-space-select-listbox-gap-#{$size});
  }
}

div {
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  overflow: hidden auto; // `auto` because of FF issue: https://bugzilla.mozilla.org/show_bug.cgi?id=764076
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);

  --sl-popover-min-block-size: 80px;

  @supports not selector(:popover-open) {
    position: fixed;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &:where(:popover-open, .\\:popover-open) {
    /* stylelint-disable-next-line max-nesting-depth, scss/at-rule-no-unknown */
    @starting-style {
      display: flex;
      opacity: 0;
    }

    display: flex;
    opacity: 1;
  }
}
