$sizes: md, lg;

:host {
  --sl-border-radius-select-item: 2px;
  --_selected-indicator-color: var(--sl-color-select-item-default-indicator);
  --_text-color: var(--sl-color-select-item-default-foreground);
  --_transition: 200ms ease-in-out;

  border-radius: var(--sl-border-radius-select-item);
  color: var(--_text-color);
  cursor: pointer;
  display: block;
  font: var(--_font);
  hyphens: auto;
  overflow-wrap: break-word;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  position: relative;
  word-break: auto-phrase;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_font: var(--sl-text-select-selectbox-text-#{$size});
    --_padding-block: var(--sl-space-select-item-block-#{$size});
    --_padding-inline: var(--sl-space-select-item-inline-#{$size});
  }
}

:host(:hover) {
  background-color: var(--sl-color-select-item-hover-background);
}

:host(:active) {
  background-color: var(--sl-color-select-item-active-background);
}

:host([disabled]) {
  --_selected-indicator-color: var(--sl-color-select-item-disabled-indicator);
  --_text-color: var(--sl-color-select-item-disabled-foreground);

  cursor: default;
  pointer-events: none;
}

:host([selected])::before {
  background: var(--_selected-indicator-color);
  border-radius: var(--sl-border-radius-select-item);
  content: '';
  inline-size: calc(2 * var(--sl-border-radius-select-item));
  inset: 0 auto 0 0;
  position: absolute;
}
