$sizes: md, lg;

:host {
  --sl-border-radius-select-item: 2px;
  border-radius: var(--sl-border-radius-select-item);
  box-shadow: var(--_box-shadow, none);

  cursor: pointer;
  display: block;
  font: var(--_font);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  position: relative;
  white-space: nowrap;
}
@each $size in $sizes {
  :host([size='#{$size}']) {
    --_font: var(--sl-text-select-selectbox-text-#{$size});
  }

  :host([size='#{$size}'][contenttype='string']) {
    --_padding-block: var(--sl-space-select-item-block-#{$size});
    --_padding-inline: var(--sl-space-select-item-inline-#{$size});
  }
}

:host([contenttype='element']) {
  --_padding-block: 0;
  --_padding-inline: 0;
}

:host([selected])::before {
  background: var(--sl-color-select-item-default-indicator);
  border-radius: var(--sl-border-radius-select-item);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: calc(2 * var(--sl-border-radius-select-item));
}

:host([disabled]) {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

:host(:is(:hover)) {
  background-color: var(--sl-color-select-item-hover-background);
}

:host(:is(:active)) {
  background-color: var(--sl-color-select-item-active-background);
}

:host(:is(:focus)) {
  outline: none;
}

:host(:where(:focus-visible, :focus-within)) {
  --_box-shadow: var(--sl-box-shadow-focus);
  outline: none;
}
