$sizes: md, lg;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_divider-spacing: var(--sl-space-select-divider-line-#{$size});
    --_font: var(--sl-text-select-selectbox-title-#{$size});
    --_gap: var(--sl-space-select-listbox-gap-#{$size});
    --_padding-block: var(--sl-space-select-divider-block-#{$size});
    --_padding-inline: var(--sl-space-select-divider-inline-#{$size});
    --_group-title-margin: calc(var(--sl-space-select-divider-line-#{$size}) - var(--_gap));
  }
}

:host(:not(:first-child)) {
  border-block-start: var(--sl-border-width-divider) solid var(--sl-color-select-item-divider-line);
  margin-block-start: var(--_divider-spacing);
  padding-block-start: var(--_divider-spacing);
}

:host(.bottom-divider) {
  border-block-end: var(--sl-border-width-divider) solid var(--sl-color-select-item-divider-line);
  margin-block-end: var(--_divider-spacing);
  padding-block-end: var(--_divider-spacing);
}

span {
  color: var(--sl-color-select-item-group-title-foreground);
  font: var(--_font);
  margin-block-end: var(--_group-title-margin);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  text-transform: uppercase;
}
