$sizes: md, lg;
$variants: default, valid, invalid;

:host {
  --sl-popover-offset: 4px;
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);

  display: flex;
  outline: none;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_border-radius: var(--sl-border-radius-default);
    --_border-width: var(--sl-border-width-input-border);
    --_padding-block: var(--sl-space-select-listbox-block-#{$size});
    --_padding-inline: var(--sl-space-select-listbox-inline-#{$size});
    --_gap: var(--sl-space-select-listbox-gap-#{$size});
  }
}

div {
  background-color: #fff;
  border: 0;
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  overflow-x: hidden; //because of firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=764076
  overflow-y: auto;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);

  @supports not selector(:popover-open) {
    position: fixed;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &:where(:popover-open, .\\:popover-open) {
    /* stylelint-disable-next-line max-nesting-depth, scss/at-rule-no-unknown */
    @starting-style {
      display: flex;
      opacity: 0;
    }

    display: flex;
    opacity: 1;
  }
}
