@import url('@oddbird/popover-polyfill');
$sizes: md, lg;

:host {
  --_box-shadow: none;

  align-items: center;
  display: flex;
  gap: var(--_gap);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_gap: var(--sl-space-select-listbox-gap-#{$size});
    --_dialog-padding-block: var(--sl-space-select-listbox-block-#{$size});
    --_dialog-padding-inline: var(--sl-space-select-listbox-inline-#{$size});
    --_button-padding-block: var(--sl-space-select-selectbox-block-#{$size});
    --_button-padding-inline: var(--sl-space-select-selectbox-inline-#{$size});
    --_font: var(--sl-text-select-selectbox-text-#{$size});
    // --_font: var(--sl-text-button-text-#{$size});
    --_border-radius: var(--sl-border-radius-default);
    --_border-width: var(--sl-border-width-button-default);
  }
}

button {
  &:focus-within,
  &:focus-visible {
    --_background: var(--sl-color-select-selectbox-default-focus-background);
    --_border-color: var(--sl-color-select-selectbox-default-focus-border);
    --_color: var(--sl-color-select-selectbox-default-focus-foreground);
    --_box-shadow: var(--sl-box-shadow-focus);
    outline: none;
  }

  &:hover {
    --_background: var(--sl-color-select-selectbox-default-hover-background);
    --_border-color: var(--sl-color-select-selectbox-default-hover-border);
    --_color: var(--sl-color-select-selectbox-default-hover-foreground);
  }

  &:active {
    --_background: var(--sl-color-select-selectbox-default-active-background);
    --_border-color: var(--sl-color-select-selectbox-default-active-border);
    --_color: var(--sl-color-select-selectbox-default-active-foreground);
  }
}

dialog {
  --_max-overlay-height: var(--max-overlay-height, 80vh);
  background-color: #fff;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  max-height: var(--_max-overlay-height);
  opacity: 0;
  overflow-x: hidden; //because of firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=764076
  overflow-y: auto;
  padding-block: var(--_dialog-padding-block);
  padding-inline: var(--_dialog-padding-inline);
  position: absolute;
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);
}

dialog:popover-open {
  border: 0;
  box-shadow: var(--sl-dropshadow-select-listbox);
  display: flex;
  opacity: 1;
}

button {
  --_background: var(--sl-color-select-selectbox-default-default-background);
  --_border-color: var(--sl-color-select-selectbox-default-default-border);
  --_color: var(--sl-color-select-selectbox-default-default-foreground);

  align-items: center;
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: grid;
  flex: 1 1 auto;
  font: var(--_font);
  gap: var(--_gap);
  grid-template-columns: auto 24px;
  padding: 0;
  text-align: start;
  transition: 0.2s ease-in-out;
  transition-property: background, border, box-shadow, color, filter;

  span {
    box-sizing: border-box;
    padding-block: var(--_button-padding-block);
    padding-inline: var(--_button-padding-inline);
  }

  span[contenttype='element'] {
    padding-block: 0;
    padding-inline: 0;
  }

  &:focus-within,
  &:focus-visible {
    outline: none;
  }

  span {
    display: block;
  }
}

// to be replaced by <sl-icon>
sl-icon {
  display: grid;
  place-items: center;
}
