:host {
  display: inline-flex;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: var(--sl-size-025);
}

button {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-info-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  appearance: none;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-plain);
  cursor: pointer;
  font: inherit;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s ease-in-out;
    transition-property: background, border-radius, color, outline-color;
  }

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);

    border-radius: var(--sl-size-borderRadius-default);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }
}

[part~='day'] {
  align-items: center;
  aspect-ratio: 1;
  color: var(--sl-color-foreground-plain);
  display: inline-flex;
  inline-size: 2rem;
  justify-content: center;
}

[part~='previous-month'],
[part~='next-month'] {
  color: var(--sl-color-foreground-subtlest);
}

[part~='highlight'] {
  --_bg-color: var(--sl-color-background-info-subtle);

  border-radius: 50%;
  color: var(--sl-color-foreground-info-plain);
}

[part~='today'] {
  border: 1px solid var(--sl-color-border-neutral-plain);
  border-radius: 50%;
}

[part~='selected'] {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);

  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-selected-onBold);
}

[part~='week-day'],
[part~='week-number'] {
  color: var(--sl-color-foreground-subtlest);
  font-weight: normal;
  text-transform: uppercase;
}

[part~='week-day'] {
  font-size: 0.86em;
}

[part~='week-number'] {
  border-inline-end: 1px solid var(--sl-color-border-plain);
  inline-size: calc(2rem - 1px);
  text-align: center;
}
