:host {
  display: inline-flex;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: var(--sl-size-075);
  position: relative;
}

button {
  appearance: none;
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  cursor: pointer;
  font: inherit;
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s ease-in-out;
    transition-property: background, border-radius, color;
  }

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }
}

[part~='day'] {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-info-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  align-items: center;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  display: inline-flex;
  inline-size: var(--sl-size-300);
  justify-content: center;
}

[part~='previous-month'],
[part~='next-month'] {
  color: var(--sl-color-foreground-subtlest);
}

:host([show-today]) [part~='today'] {
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-bold);
  border-radius: var(--sl-size-borderRadius-default);
}

[part~='selected'] {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);

  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-selected-onBold);
}

:host([show-today]) [part~='today'][part~='selected'] {
  border-color: var(--sl-color-border-primary-plain);
  box-shadow: inset 0 0 0 var(--sl-size-borderWidth-subtle) var(--sl-elevation-surface-raised-default);
}

[part~='negative']:not([part~='unselectable']) {
  --_bg-color: var(--sl-color-background-negative-subtlest);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);

  color: var(--sl-color-foreground-negative-bold);
}

[part~='negative'][part~='selected'] {
  --_bg-color: var(--sl-color-background-negative-bold);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-bold);

  color: var(--sl-color-foreground-negative-onBold);
}

:host([show-today]) [part~='negative'][part~='today'] {
  border-color: var(--sl-color-border-negative-plain);
}

[part~='unselectable'] {
  color: var(--sl-color-foreground-disabled);

  &[part~='selected'] {
    --_bg-color: var(--sl-color-background-disabled);
    --_bg-mix-color: var(--sl-color-background-disabled);

    color: var(--sl-color-foreground-disabled);
  }
}

[part~='indicator']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-blue-bold);
  block-size: var(--sl-size-075);
  border: var(--sl-size-borderWidth-default) solid var(--sl-elevation-surface-raised-default);
  border-radius: var(--sl-size-borderRadius-full);
  box-sizing: border-box;
  color: var(--sl-color-foreground-info-onBold);
  content: '';
  inline-size: var(--sl-size-075);
  inset-block-end: calc(-1 * var(--sl-size-010));
  inset-inline-start: calc(50% - var(--sl-size-075) / 2);
  position: absolute;
}

[part~='indicator-green']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-green-bold); // TODO: change..
}

[part~='indicator-grey']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-grey-bold); // TODO: change..
}

[part~='indicator-red']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-red-bold); // TODO: change..
}

[part~='indicator-yellow']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-yellow-bold); // TODO: change..
}

[part~='week-day'],
[part~='week-number'] {
  color: var(--sl-color-foreground-subtlest);
  font-weight: normal;
}

[part~='week-number'] {
  border-inline-end: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-neutral-plain);
  inline-size: calc(var(--sl-size-400) - var(--sl-size-010));
  text-align: center;
}
