:host {
  display: inline-flex;
}

:host([show-today]) {
  [part~='today'] span {
    border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-bold);
  }

  [part~='today'][part~='selected'] span {
    border-color: var(--sl-color-border-primary-plain);
    box-shadow: inset 0 0 0 var(--sl-size-borderWidth-subtle) var(--sl-elevation-surface-raised-default);
  }

  [part~='negative'][part~='today'] span {
    border-color: var(--sl-color-border-negative-plain);
  }

  [part~='unselectable'][part~='today'] span {
    border-color: var(--sl-color-border-disabled);
  }
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: var(--sl-size-025);
  position: relative;
}

[part~='week-day'],
[part~='week-number'] {
  color: var(--sl-color-foreground-disabled);
  font-weight: normal;
}

[part='week-day'] {
  block-size: var(--sl-size-250);
  position: relative;

  span {
    inset: 50% auto auto 50%;
    position: absolute;
    translate: -50% -50%;
  }
}

[part~='week-number'] {
  border-inline-end: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-neutral-plain);
  inline-size: calc(var(--sl-size-400) - var(--sl-size-010));
  text-align: center;
}

button {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-neutral-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-plain);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  outline: none;
  padding: var(--sl-size-050);

  &:hover:not([part~='unselectable'], [disabled]) {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active:not([part~='unselectable'], [disabled]) {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible span {
    outline-color: var(--sl-color-border-focused);
  }

  span {
    aspect-ratio: 1;
    background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
    border-radius: inherit;
    display: inline-grid;
    inline-size: var(--sl-size-300);
    outline: transparent solid var(--sl-size-borderWidth-focusRing);
    outline-offset: var(--sl-size-outlineOffset-default);
    place-items: center;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-in-out;
      transition-property: background, border-radius, color;
    }
  }
}

[part~='previous-month'],
[part~='next-month'] {
  color: var(--sl-color-foreground-subtlest);
}

[part~='selected'] {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);

  color: var(--sl-color-foreground-selected-onBold);
}

[part~='negative']:not([part~='unselectable']) {
  --_bg-color: var(--sl-color-background-negative-subtlest);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);

  color: var(--sl-color-foreground-negative-bold);
}

[part~='negative'][part~='selected'] {
  --_bg-color: var(--sl-color-background-negative-bold);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-bold);

  color: var(--sl-color-foreground-negative-onBold);
}

[disabled] {
  cursor: default;
}

[part~='unselectable'] {
  color: var(--sl-color-foreground-disabled);
  cursor: default;

  &[part~='selected'] {
    --_bg-color: var(--sl-color-background-disabled);
    --_bg-mix-color: var(--sl-color-background-disabled);

    color: var(--sl-color-foreground-disabled);
  }
}

[part~='indicator']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-blue-bold);
  block-size: var(--sl-size-075);
  border: var(--sl-size-borderWidth-default) solid var(--sl-elevation-surface-raised-default);
  border-radius: var(--sl-size-borderRadius-full);
  box-sizing: border-box;
  color: var(--sl-color-foreground-info-onBold);
  content: '';
  inline-size: var(--sl-size-075);
  inset-block-end: calc(-1 * var(--sl-size-010));
  inset-inline-start: calc(50% - var(--sl-size-075) / 2);
  position: absolute;
}

[part~='indicator-green']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-green-bold);
}

[part~='indicator-grey']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-grey-bold);
}

[part~='indicator-red']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-red-bold);
}

[part~='indicator-yellow']:not([part~='unselectable'])::after {
  background: var(--sl-color-background-accent-yellow-bold);
}
