:host {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075);
}

[part='header'] {
  align-items: center;
  display: flex;
}

.current-range {
  font-size: 1.2em;
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
  margin-inline-end: auto;
}

sl-button {
  user-select: none;
}

ol {
  display: grid;
  flex: 1;
  gap: var(--sl-size-050);
  gap: var(--sl-size-200) var(--sl-size-100);
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  cursor: pointer;
  font: inherit;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s ease-in-out;
    transition-property: background, border-radius, color;
  }

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }
}

[part~='year'] {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-info-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border: var(--sl-size-borderWidth-subtle) solid transparent;
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  display: inline-flex;
  flex: 0;
  justify-content: center;
  padding: calc(var(--sl-size-025) - var(--sl-size-borderWidth-subtle))
    calc(var(--sl-size-100) - var(--sl-size-borderWidth-action));
}

:host([show-today]) [part~='today'] {
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-bold);
  border-radius: var(--sl-size-borderRadius-default);
}

[part~='unselectable'] {
  color: var(--sl-color-foreground-disabled);
}

[part~='selected'] {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);

  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-selected-onBold);
}

:host([show-today]) [part~='today'][part~='selected'] {
  border-color: var(--sl-color-border-primary-plain);
  box-shadow: inset 0 0 0 var(--sl-size-borderWidth-subtle) var(--sl-elevation-surface-raised-default);
}
