:host {
  display: inline-flex;
  flex-direction: column;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075);
}

[part='header'] {
  align-items: center;
  display: flex;
}

.current-range {
  font-size: 1.2em;
  font-weight: var(--sl-text-typeset-fontWeight-demibold);
  margin-inline-end: auto;
}

sl-button {
  user-select: none;
}

ol {
  display: grid;
  gap: var(--sl-size-050);
  grid-template-columns: repeat(3, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
  margin: 0;
  padding: 0;

  sl-button {
    flex: 1;
  }
}
