:host {
  display: inline-flex;
  flex-direction: column;
}

:host([show-week-numbers]) {
  .days-of-week {
    grid-template-columns: repeat(8, 2rem);
  }

  .scroller {
    max-inline-size: calc(8 * 2rem);
  }
}

.header {
  align-items: center;
  display: flex;
}

.current-month,
.current-year {
  font-size: 16px;
  font-weight: 600;

  sl-icon {
    color: var(--sl-color-neutral-muted);
  }
}

.current-year {
  margin-inline: 0.25rem auto;
}

.days-of-week {
  color: var(--sl-color-neutral-subtle);
  display: grid;
  font-weight: normal;
  grid-template-columns: repeat(7, 2rem);
  text-transform: uppercase;
}

.day-of-week,
.week-number {
  text-align: center;
}

.week-number {
  border-inline-end: 1px solid var(--sl-color-neutral-muted);
  inline-size: calc(2rem - 1px);
}

.scroller {
  align-items: start;
  display: flex;
  flex-grow: 1;
  max-inline-size: calc(7 * 2rem);
  outline: none;
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

sl-button {
  user-select: none;
}

sl-month-view {
  flex-shrink: 0;
  inline-size: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &::part(header) {
    display: none;
  }
}
