:host {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075);
}

[part='header'] {
  align-items: center;
  display: flex;
}

.current-year {
  font-size: 1.2em;
  font-weight: var(--sl-text-typeset-fontWeight-demibold);
  margin-inline-end: auto;
}

sl-button {
  user-select: none;
}

ol {
  display: grid;
  gap: var(--sl-size-050);
  grid-template-columns: repeat(3, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
  margin: 0;
  padding: 0;

  sl-button {
    flex: 1;
  }
}

button {
  appearance: none;
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  cursor: pointer;
  font: inherit;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: var(--sl-space-new-2xs, 2px) var(--sl-space-new-md, 8px);

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s ease-in-out;
    transition-property: background, border-radius, color;
  }

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }
}

[part~='month'] {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-info-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  align-items: center;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  display: inline-flex;
  inline-size: var(--sl-size-300);
  justify-content: center;
}
