:host {
  --_days-in-week: 7;

  display: inline-flex;
  flex-direction: column;
}

:host([show-week-numbers]) {
  .days-of-week {
    grid-template-columns: var(--sl-size-600) repeat(var(--_days-in-week), var(--sl-size-450));
  }

  .scroller {
    max-inline-size: calc(var(--sl-size-600) + var(--_days-in-week) * var(--sl-size-450) + var(--sl-size-100));
  }

  sl-month-view::part(week-number) {
    min-inline-size: calc(var(--sl-size-500) + 2 * var(--sl-size-025));
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: var(--sl-size-075);
  padding-inline: var(--sl-size-150) var(--sl-size-050);
}

sl-button {
  user-select: none;
}

.current-month,
.current-year {
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
}

.current-year {
  margin-inline-start: var(--sl-size-100);
}

.previous-month {
  margin-inline-start: auto;
}

.days-of-week {
  color: var(--sl-color-foreground-disabled);
  display: grid;
  font-weight: normal;
  grid-template-columns: repeat(var(--_days-in-week), var(--sl-size-450));
  line-height: calc((24 / 14) * 1em);
  padding: var(--sl-size-050);
}

.day-of-week,
.week-number {
  text-align: center;
}

.week-number {
  position: relative;

  &::after {
    background: var(--sl-color-border-neutral-plain);
    content: '';
    inline-size: var(--sl-size-borderWidth-subtle);
    inset: calc(var(--sl-size-050) * -1) 0 calc(var(--sl-size-050) * -1) auto;
    position: absolute;
  }
}

.scroller {
  align-items: start;
  display: flex;
  flex-grow: 1;
  max-inline-size: calc(var(--_days-in-week) * var(--sl-size-450) + var(--sl-size-100));
  outline: none;
  overflow: scroll hidden;
  overscroll-behavior-x: contain;
  scroll-padding-inline: 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

sl-month-view {
  flex-shrink: 0;
  padding-inline: var(--sl-size-050);
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &::part(header) {
    display: none;
  }
}
