@import './../breakpoints';

section.ds-cards {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: $md-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
  }

  svg {
    border-radius: 0.2rem;
    box-sizing: content-box;
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }

  .ds-cards .ds-example {
    border-radius: 0;
  }
}

@media screen and (min-width: $md-breakpoint) {
  section.ds-cards-horizontal {
    grid-template-columns: 1fr;

    figure {
      flex-direction: row;
    }

    svg {
      flex: 0 0 30%;
    }
  }
}

.ds-cards__do {
  svg {
    box-shadow: 0 0.4rem 0 0 var(--control-color-surface-success-surface);
  }
}

.ds-cards__dont {
  svg {
    box-shadow: 0 0.4rem 0 0 var(--control-color-surface-danger-surface);
  }
}
