@import './../breakpoints';

$transition-timing: 300ms;

.ds-code {
  margin: 1.6rem 0 2.4rem;
  position: relative;

  pre {
    border: 1px solid var(--code-border);
    border-block-start: 0;
    border-radius: 0.6rem;
    margin: 0;
  }
}

.ds-code__copy-button {
  inset-block-start: 1.6rem;
  inset-inline-end: 1.6rem;
  position: absolute;
}

.ds-example {
  align-items: center;
  background: var(--control-color-surface-200-surface);
  border: 1px solid var(--code-border);
  border-radius: 0.6rem 0.6rem 0 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  min-block-size: 16rem;
  padding: 1.6rem;
  position: relative;
}

.ds-example__examples-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin: 2.4rem 0;

  @media screen and (min-width: $lg-breakpoint) {
    flex-direction: row;
  }
}

.ds-cards .ds-example {
  background: var(--control-color-surface-100-surface);
  border-radius: 0;
}

.ds-example + .ds-code {
  margin-block-start: 0;

  pre {
    border-radius: 0 0 0.6rem 0.6rem;
  }
}

.ds-example sl-icon[name='fas-hand-back-point-up'] {
  --_icon-container-size: 2rem;

  background-color: var(--control-color-surface-400-surface);
  border-radius: 0.2rem;
  color: var(--control-color-surface-100-surface);
  inset-block-start: 0.8rem;
  inset-inline-end: 0.8rem;
  position: absolute;
}

.ds-example__code-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2.4rem 0;

  @media screen and (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}

code {
  background-color: var(--table-code-background);
  border-radius: 0.6rem;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: source-code-pro, monospace;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 0.2rem 0.8rem;
}

code[class*='language-'] {
  background: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: var(--text-color);
  display: block;
  font-family: source-code-pro, monospace;
  font-size: 1.2rem;
  hyphens: none;
  line-height: 1.5;
  padding: 2.4rem 2rem;
  tab-size: 4;
  text-align: start;
  text-shadow: none;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*='language-'] {
  overflow: auto;
  padding: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--copy-button-background);
}

.ds-example + .ds-code > code[class*='language-'],
.ds-example + .ds-code pre[class*='language-'] {
  background: var(--background-color);
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3rem;
  padding: 0.1rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--control-color-code-text-neutral);
}

.token.punctuation {
  color: var(--text-color);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--control-color-code-text-danger);
}

.token.keyword,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.boolean,
.token.number {
  color: var(--control-color-code-text-success);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--control-color-code-text-accent);
}

.token.atrule,
.token.attr-value,
.token.function {
  color: var(--text-color);
}

.token.regex,
.token.important {
  color: var(--control-color-code-text-warning);
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
  code[class*='language-'],
  pre[class*='language-'] {
    background: window;
    color: windowText;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
