@import './../breakpoints';

.ds-tabs__tab-content {
  display: block;

  .ds-tabs__tab-container {
    display: flex;
    flex-direction: column;
    gap: var(--scale-700-scale);
  }

  h3 {
    margin-block-start: var(--scale-400-scale);
  }

  li {
    font-size: 1.6rem;
  }

  svg,
  .ds-cards {
    margin: var(--scale-400-scale) 0;
  }
}

.ds-tabs__tab-content--hidden {
  display: none;
}

sl-tab-group.ds-tab-group {
  padding-block-start: 2.4rem;
}

sl-tab-group.ds-tab-group::part(container) {
  display: block;
  inset-block-start: 7.8rem;
  position: sticky;
  z-index: 2;
}

.sticky-tabs.ds-tab-group::part(container) {
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
  inline-size: auto;
  margin: 0 -2.4rem;
}

.sticky-tabs.ds-tab-group::part(tablist) {
  margin-inline-start: 2.4rem;
}

@media screen and (min-width: $lg-breakpoint) {
  sl-tab-group.ds-tab-group {
    padding-block-start: 2.4rem;
  }

  sl-tab-group.ds-tab-group::part(container) {
    inset-block-start: 4rem;
  }

  .sticky-tabs.ds-tab-group::part(container) {
    inline-size: auto;
    margin-inline: -2.4rem -2.4rem;
  }

  .sticky-tabs.ds-tab-group::part(tablist) {
    margin-inline-start: 2.4rem;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-tabs__tab-content {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: minmax(20px, 6fr) 1fr;
    inline-size: 100%;
  }

  sl-tab-group.ds-tab-group::part(container) {
    border-block-end: transparent;
    display: grid;
    gap: 7.2rem;
    grid-template-columns: 6fr 1fr;
    inline-size: 100%;
  }

  sl-tab-group.ds-tab-group::part(wrapper) {
    border-block-end: var(--_border);
  }

  .sticky-tabs.ds-tab-group::part(container) {
    border-block-end: var(--_border);
    inline-size: auto;
    margin-inline: -7.2rem -2.4rem;
  }

  .sticky-tabs.ds-tab-group::part(wrapper) {
    border-block-end: none;
  }

  .sticky-tabs.ds-tab-group::part(tablist) {
    margin-inline-start: 7.2rem;
  }
}

@media screen and (min-width: $xxl-breakpoint) {
  .ds-tabs__tab-content {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 88rem 1fr;
  }

  sl-tab-group.ds-tab-group::part(container) {
    border-block-end: var(--_border);
    display: flex;
    inline-size: 88rem;
  }

  sl-tab-group.ds-tab-group::part(wrapper) {
    border-block-end: none;
  }
}

.ds-tab-group {
  .fade-container {
    margin-inline-start: 7.2rem;
  }
}

sl-tab-group.ds-tab-group::part(panels) {
  padding-inline: 0;
}
