@import './../breakpoints';

$transition-timing: 300ms;

.ds-tabs {
  font-size: 2rem;
}

.ds-tabs__container {
  background-color: var(--background-color);
  inset-block-start: -0.1rem;
  margin: auto -2.4rem;
  overflow-x: hidden;
  padding-block-start: 1.6rem;
  position: sticky;
  transition: padding-top $transition-timing;
}

.ds-tabs__container--sticky {
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
  padding-block-start: calc(7.8rem + 0.1rem);
  z-index: 2;
}

.ds-tab {
  background: none;
  border: 0;
  color: var(--tab-color);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0.3rem;
  padding: 0;
  text-decoration: none;
  transition: color $transition-timing linear;

  &.active {
    color: var(--tab-color--active);
  }

  &:hover {
    color: var(--tab-color--hover);
  }

  &:focus-visible {
    border-radius: 0.3rem;
  }
}

.ds-tab--vertical {
  background: none;
  border: 0;
  color: var(--tab-color);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0.6rem 0 0.6rem 0.8rem;
  text-decoration: none;
  transition: color $transition-timing linear;

  &.active:not(:focus-visible) {
    color: var(--highlight-color);
  }

  &:hover {
    color: var(--highlight-color);
  }

  &:focus-visible {
    border-radius: 0.6rem;
    box-shadow: inset var(--focus-box-shadow);
    outline: none;
  }
}

.ds-tabs-wrapper {
  column-gap: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  padding-inline-start: 2.4rem;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ds-tabs-wrapper--scrollable {
  justify-content: flex-start;
}

.ds-tabs__slider {
  position: relative;
  transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);

  .ds-tabs__indicator {
    background-color: var(--tab-indicator-background);
    block-size: 0.2rem;
    border-radius: 0.1rem;
    inline-size: 5rem;
    max-inline-size: 100%;
    position: relative;
    transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
}

.ds-tabs__vertical-slider {
  background-color: var(--vertical-slider-background);
  position: relative;
}

.ds-tabs__tab-content-wrapper {
  padding: 2.4rem 0 12rem;
}

.ds-tabs__tab-content {
  // .ds-tabs__tab-content--active
  display: block;

  // animation: {
  //  direction: normal;
  //  duration: $transition-timing;
  //  iteration-count: 1;
  //  name: tab-content;
  //  timing-function: ease-in-out;
  // }

  .ds-tabs__tab-container /*> **/ {
    display: grid;
    gap: var(--scale-700-scale);

    //  scroll-margin-top: 1rem;

    // &:not(:first-child, .no-heading) {
    //   margin-block-start: var(--scale-1200-scale);
    // }
  }

  h3 {
    margin-block-start: var(--scale-400-scale);
  }

  li {
    font-size: 1.6rem;
  }

  svg,
  .ds-cards {
    margin: var(--scale-400-scale) 0;
  }
}

.ds-tabs__tab-content--hidden {
  display: none;
}

// .ds-tabs__tab-content:not(.ds-tabs__tab-content--active) {
//   display: none;
//  }

.ds-tabs[vertical] {
  display: none;

  .ds-tabs__container {
    display: none;
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .ds-tabs-wrapper {
    justify-content: flex-start;
    padding-inline-start: 2.4rem;
  }

  .ds-tabs__container {
    inset-block-start: -0.1rem;
    margin: auto -2.4rem;
    padding-block-start: 2.4rem;
  }

  .ds-tabs__container--sticky {
    padding-block-start: 0.1rem;

    &.ds-tabs__container {
      padding-block: 2.4rem 0.8rem;
    }

    .ds-top-navigation__component-name {
      font-size: 2.4rem;
      line-height: 2.4rem;
      padding-block-end: 0.4rem;
    }
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-tabs__tab-content {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 6fr 1fr;
  }

  .ds-tabs-wrapper {
    padding-inline-start: 7.2rem;
  }

  .ds-tabs__container {
    margin: auto -2.4rem auto -7.2rem;
  }

  .ds-tabs[vertical] {
    display: block;

    .ds-tabs-wrapper {
      flex-direction: column;
      padding-inline-start: 0;
    }

    .ds-tabs-wrapper::before {
      content: 'CONTENTS';
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem;
      margin-block-end: 0.8rem;
      margin-inline-start: 0.8rem;
    }

    .ds-tabs__container {
      display: flex;
      flex-direction: row-reverse;
      inset-block-start: 15%;
      justify-content: center;
      margin: auto;
      overflow: hidden;
      padding-block-start: 0;
    }

    .ds-tabs__vertical-indicator {
      background-color: var(--tab-indicator-background);
      block-size: 100%;
      border-radius: 0.1rem;
      inline-size: 0.2rem;
      inset-block-start: 2.3rem;
      position: relative;
      transition: all 400ms cubic-bezier(0.38, 0.8, 0.32, 1.07);
    }
  }
}

@media screen and (min-width: $xxl-breakpoint) {
  .ds-tabs__tab-content {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 88rem 1fr; // calc(88rem - 2.4rem) 1fr; // 88rem 1fr; // TODO: 2.4rem is 24px padding from token of panels im tab-group component
  }

  .ds-tabs[vertical] {
    padding-block-start: 2.4rem;

    .ds-tabs__container {
      justify-content: start;
    }
  }
}

@keyframes tab-content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

sl-tab-group {
  // margin: auto -2.4rem auto -7.2rem;
  padding-block-start: 2.4rem;
}

sl-tab-group::part(container) {
  inline-size: 88rem;

  // inset-block-start: 0;
  inset-block-start: -0.1rem;
  position: sticky;
  z-index: 2;
} // TODO: background needs to be added in the component?

sl-tab-group::part(panels) {
  padding-inline: 0;
}

// .ds-tabs__tab-container {
//  display: grid;
//  row-gap: 4rem;
// }

// .ds-tabs__container--sticky
