@import './../breakpoints';

.ds-hero-block {
  background-color: var(--heading-background);
  border-radius: 1.2rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  padding: 4rem 3.2rem;

  * {
    color: var(--heading-color);
  }

  h1 {
    animation: heroAnimation 300ms ease-in;
    font-size: 4.2rem;
    line-height: 5.2rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  @media screen and (min-width: $md-breakpoint) {
    padding: 4.8rem 3.2rem;
  }

  @media screen and (min-width: $lg-breakpoint) {
    padding: 7rem 4rem;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    /* stylelint-disable-next-line max-nesting-depth */
    h1 {
      animation: none;
    }
  }
}

@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
