:host {
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_padding-block: var(--sl-space-sm);
  --_padding-inline: var(--sl-space-sm);
  --_wrapper-padding-inline: var(--sl-space-sm);

  // border: 1px solid var(--sl-color-palette-neutral-200);
  border-radius: var(--sl-border-radius-2xs);
  display: flex;
  flex-direction: column;
}

:host([outline]) {
  border: 1px solid var(--sl-color-palette-neutral-200);
}

:host([elevation='raised']) {
  background: var(--sl-elevation-surface-raised-alternative-idle);
}

:host([elevation='sunken']) {
  background: var(--sl-elevation-surface-raised-sunken-idle);
}

:host([collapsible][collapsed]) {
  // sl-icon {
  //  //rotate: 0deg;
  //  transform: scaleY(-1);
  // }

  [part='body'] {
    grid-template-rows: 0fr;
  }
}

:host([collapsible]) {
  [part='header'] {
    grid-template-columns: auto 1fr minmax(0, auto);
  }
}

:host([collapsible][toggle-placement='end']) {
  [part='header'] {
    grid-template-columns: 1fr minmax(0, auto) auto;
  }
}

:host([no-padding]) {
  [part='content'] {
    padding: 0;
  }
}

:host([subtitle-placement='top']) {
  [part='titles'] {
    flex-direction: column-reverse;
  }
}

:host([badges-placement='top']) {
  [part='main'] {
    flex-direction: column-reverse;
  }
}

[part='titles'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[part='header'] {
  align-items: center; // start;
  display: grid;
  flex: 1;
  gap: 16px; // TODO: use tokens
  grid-template-columns: 1fr minmax(0, auto); // minmax(min-content, max-content) minmax(min-content, max-content) minmax(0, auto); // minmax(min-content, max-content) minmax(0, auto);
  justify-content: space-between;
  padding: 16px; // TODO: use tokens

  > * {
    // FIXME: This is a quick hack to vertically align the heading with any action buttons
    // padding-block-start: 2px;
  }
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  gap: 16px; // 0.5rem;

  // padding-block: var(--_padding-block);
  // padding-inline: calc(var(--_padding-inline) + var(--_wrapper-padding-inline));
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--sl-border-radius-button-md);
  cursor: pointer;
  flex: 1;
  outline: 0;
  padding: 0;
  text-align: start;

  &:focus-visible {
    outline: var(--_focus-outline);
    outline-offset: var(--_focus-outline-offset);
  }
}

.hidden {
  display: none;
}

sl-icon {
  // rotate: 180deg;
  // transition: rotate 0.2s ease-in-out;
  transition: transform 0.3s ease;
}

slot[name='heading'],
slot[name='heading']::slotted(*) {
  color: var(--sl-color-accordion-default-foreground);
  font: var(--sl-text-accordion-title);
}

slot[name='heading'] {
  display: block;
}

slot[name='badge'] {
  display: flex;
  gap: 8px;
}

sl-tool-bar {
  min-inline-size: 0;

  &:not([empty]) {
    padding-inline-end: var(--_padding-inline);
  }
}

slot[name='actions']::slotted(:first-child) {
  // FIXME: Since the `aside` slot always has content, gap on the header won't work as expected
  // So we explicitly set a left margin on the first action
  margin-inline-start: 1rem;
}

[part='main'] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[part='body'] {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 200ms ease-in-out;

  // padding: 16px;
}

[part='inner'] {
  overflow: hidden;
}

[part='content'] {
  // padding-block-end: var(--_padding-block);
  // padding-inline: calc(var(--_padding-inline) + var(--_wrapper-padding-inline));
  padding: 16px;
}

.icon {
  transition: transform 300ms ease-in-out; // ease,
  // opacity 50ms ease-in-out;
  // ease;
}

.icon.dash {
  opacity: 0;

  // position: absolute;
}

sl-button:not(.clicked) .icon.chevron {
  opacity: 1;
  transform: scaleY(1);
}

sl-button:not(.clicked) .icon.upside-down {
  transform: scaleY(-1);
}

sl-button.clicked .icon.chevron {
  opacity: 0;
}

sl-button.clicked .icon.dash {
  opacity: 1;
}

// TODO: when reduced motion?
