:host {
  --sl-panel-content-padding: var(--sl-size-200);

  background: transparent;
  border: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  border-radius: var(--sl-size-borderRadius-default);
  display: flex;
  flex-direction: column;
}

:host([divider]) {
  [part='content'] {
    border-block-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-default);
    padding-block-start: var(--sl-size-125);
  }
}

:host([density='comfortable']) {
  --sl-panel-content-padding: var(--sl-size-300);

  [part='header'] {
    min-block-size: var(--sl-size-700); // 56px;
    padding: 0 var(--sl-size-300);
  }
}

:host([density='comfortable'][divider]) {
  [part='content'] {
    padding-block-start: var(--sl-size-200);
  }
}

:host([no-border]) {
  border: 0;
}

:host([density='comfortable'][collapsible]) {
  // background: var(--sl-elevation-surface-raised-sunken);

  [part='header'] {
    padding: 0 var(--sl-size-125); // 0 10px; // 10px 24px; // 10px 16px; //var(--sl-size-075); // 6px for plain density var(--sl-size-200); // var(--sl-space-new-lg);
  }
}

:host([density='comfortable'][collapsible][toggle-placement='end']) {
  [part='header'] {
    padding-inline-start: var(
      --sl-size-300
    ); // 24px; // 10px 24px; // 10px 16px; //var(--sl-size-075); // 6px for plain density var(--sl-size-200); // var(--sl-space-new-lg);
  }
}

:host([elevation='raised']) {
  background: var(--sl-elevation-surface-raised-default);
  box-shadow: var(--sl-elevation-shadow-overlay);
}

:host([elevation='sunken']) {
  background: var(--sl-elevation-surface-raised-sunken);
}

:host([collapsible][collapsed]) {
  [part='body'] {
    grid-template-rows: 0fr;
  }
}

:host([collapsible]) {
  [part='header'] {
    grid-template-areas: 'toggle wrapper aside';
    grid-template-columns: auto minmax(auto, 1fr) minmax(var(--sl-size-500), auto);
    padding: 0 var(--sl-size-075); // 0 6px;
  }
}

:host([collapsible][toggle-placement='end']) {
  [part='header'] {
    grid-template-areas: 'wrapper aside toggle';
    grid-template-columns: 1fr minmax(0, auto) auto;
    padding-inline-start: var(--sl-size-200); // 16px;
  }
}

:host([no-header]) {
  [part='header'] {
    min-block-size: 0;
    padding: 0;
  }

  slot[name='heading'] {
    display: none;
  }
}

[part='titles'] {
  display: flex;
  flex-direction: column; // var(--sl-panel-titles-order); TODO: not necessary?
  gap: var(--sl-space-new-sm);
}

[part='header'] {
  align-items: center;
  display: grid;
  flex: 1;
  gap: var(--sl-size-075); // 6px; // var(--sl-space-new-lg);
  grid-template-areas: 'wrapper aside';
  grid-template-columns: 2fr minmax(0, 1fr); // 1fr minmax(0, auto);
  min-block-size: var(--sl-size-600); // 48px;
  padding: 0 var(--sl-size-200); // 0 16px; // 6px 16px; // var(--sl-size-075); // 6px for plain density var(--sl-size-200); // var(--sl-space-new-lg);
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-size-075); // 6px; // var(--sl-size-200); // var(--sl-space-new-lg);
  grid-area: wrapper;
}

slot[name='heading'],
slot[name='heading']::slotted(*) {
  color: var(--sl-color-foreground-bold);
  font-size: 1.2em; // 16px and base is 14px // 1.5em;
  font-weight: var(--sl-text-typeset-fontWeight-demibold);
  line-height: 1lh; // 36px; //1lh; // 1.5em;
  padding-block: var(--sl-size-100); // 8px;
}

slot[name='heading'] {
  display: block;
}

slot[name='aside'] {
  grid-area: aside;
}

.toggle {
  grid-area: toggle;
}

sl-tool-bar {
  min-inline-size: 0;
}

[part='body'] {
  display: grid;
  grid-template-rows: 1fr;

  @media (prefers-reduced-motion: no-preference) {
    transition: grid-template-rows 300ms ease-in-out;
  }
}

[part='inner'] {
  overflow: hidden;
}

[part='content'] {
  color: var(--sl-color-foreground-plain);
  padding: 0 var(--sl-panel-content-padding) var(--sl-panel-content-padding);
}

sl-icon {
  transform: scaleY(1);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform 200ms ease-in-out;
  }
}

sl-icon.upside-down {
  transform: scaleY(-1);
}
