@import './../breakpoints';

$transition-timing: 300ms;

.components-wrapper {
  column-gap: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2.4rem 0;
  row-gap: 2.4rem;
}

.wrapper {
  display: grid;
  gap: 0 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.ds-components__content-wrapper {
  h2 {
    margin-bottom: 0.8rem;
  }
}

.component-card {
  //border: 1px solid #eaeaea;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.8rem;
  //padding: 0 1.6rem 1.6rem 1.6rem;

  svg {
    overflow: visible;
    transition: $transition-timing ease-in-out;
  }

  &:hover,
  &:focus-within {
    svg {
      transform: scale(1.2);
    }

    .ds-heading-2 {
      color: var(--highlight-color);
    }
  }

  .ds-heading-2 {
    line-height: 2rem;
    margin-bottom: 0.8rem;
    transition: color $transition-timing linear;
  }
}

.component-card__picture {
  background-color: var(--component-card-background);
  display: inline-flex;
  justify-content: center;
  //margin-left: -1.6rem;
  //margin-right: -1.6rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
}

//animation: scalePuzzleAnimation 700ms ease-in-out;

.ds-components__content {
  display: grid;
  grid-column-gap: 7.2rem;
  grid-template-columns: 7fr 1fr;

  section {
    margin-bottom: 6.4rem;
    margin-top: 2.4rem;
  }
}

.ds-components__cards {
  column-gap: 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-component__heading {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 7fr 1fr;
  }
}

.ds-component__heading-wrapper {
  background-color: var(--heading-background);
  border-radius: 0.6rem;
  color: var(--heading-color);
  padding: 2.4rem 4rem;
}

.ds-component__heading-description {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.ds-component__buttons-wrapper {
  column-gap: 1.6rem;
  display: flex;
  margin: 2.4rem 0;
}

.ds-success {
  color: var(--helper-text);
  font-size: 1.4rem;
  margin: 2.4rem 0 0;
  position: relative;

  img {
    width: 100%;
  }
}

.ds-success__content {
  position: relative;

  &::before {
    background: var(--success-color);
    border-radius: 0.4rem;
    content: '';
    display: block;
    height: 0.4rem;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 0;
    padding: 0.8rem 0;

    /* stylelint-disable-next-line max-nesting-depth */
    * {
      color: var(--success-color);
    }
  }
}

.ds-danger {
  color: var(--helper-text);
  font-size: 1.4rem;
  margin: 2.4rem 0 0;

  img {
    width: 100%;
  }
}

.ds-danger__content {
  position: relative;

  &::before {
    background: var(--danger-color);
    border-radius: 0.4rem;
    content: '';
    display: block;
    height: 0.4rem;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 0;
    padding: 0.8rem 0;

    /* stylelint-disable-next-line max-nesting-depth */
    * {
      color: var(--danger-color);
    }
  }
}

.ds-do-dont__picture {
  background-color: var(--picture-background);
  border-radius: 0.4rem;
  display: inline-block;
  height: 20rem;
  margin-bottom: 0.8rem;
  object-fit: contain;
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-do-dont {
    column-gap: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ds-badge {
  background-color: var(--badge-background);
  border: 1px solid var(--badge-border);
  border-radius: 2px;
  color: var(--badge-color);
  display: inline-flex;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0.1rem 0.4rem;
}
