:host {
  display: block;
}

:host(:not(:first-of-type)) {
  margin-block-start: var(--sl-size-300);
}

h2 {
  color: var(--sl-color-foreground-plain);
  font-size: inherit;
  font-weight: var(--sl-text-new-typeset-fontWeight-semiBold);
  margin: 0;
  padding: var(--sl-size-075) var(--sl-size-100);
}

slot {
  display: flex;
  flex-direction: column;
  gap: var(--sl-size-025);
}
