:host {
  background: var(--sl-color-background-accent-grey-subtlest);
  border-radius: var(--sl-size-borderRadius-default);
  display: block;
  overflow-x: auto;
  padding: var(--sl-size-200);
  position: relative;
}

:host(:hover) doc-copy-button,
doc-copy-button:focus-within {
  opacity: 1;
}

::slotted(pre) {
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

doc-copy-button {
  inset-block-start: var(--sl-size-100);
  inset-inline-end: var(--sl-size-100);
  opacity: 0;
  position: absolute;
  transition: opacity 0.15s;
}
