:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

sl-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

sl-button-bar,
sl-form-field[name='emailAddress'] {
  grid-column: span 2;
}

sl-text-field[name='otherAge'] {
  margin-inline-start: 2rem;
}
