:host {
  display: flex;
  vertical-align: middle;
}

:host([disabled]) {
  pointer-events: none;
}

dialog {
  background: var(--sl-elevation-surface-raised-default);
  block-size: calc(8 * (1lh + var(--sl-size-200)) + 7 * var(--sl-size-050) + var(--sl-size-200));
  border: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: none;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s cubic-bezier(0.25, 0, 0.3, 1);
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
  }

  &:popover-open {
    display: grid;
    opacity: 1;
  }
}

hr,
ul {
  max-block-size: calc(8 * (1lh + var(--sl-size-200)) + 7 * var(--sl-size-050) + var(--sl-size-200));
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--sl-size-050);
  margin: 0;
  overflow: auto;
  padding: var(--sl-size-100);
  scroll-padding-block: var(--sl-size-100);
  scrollbar-width: none;
}

li {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-secondary-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  cursor: pointer;
  display: flex;
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: var(--sl-size-100) var(--sl-size-200);

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }

  &:focus-visible {
    outline-color: var(--sl-color-border-focused);
  }

  &[aria-selected='true'] {
    --_bg-color: var(--sl-color-background-primary-bold);
    --_bg-mix-color: var(--sl-color-background-primary-interactive-bold);

    color: var(--sl-color-foreground-primary-onBold);
  }
}

li[disabled] {
  color: var(--sl-color-foreground-disabled);
}

hr {
  background: var(--sl-color-border-plain);
  border: 0;
  inline-size: var(--sl-size-borderWidth-default);
  margin: 0;
}
