---
layout: base.njk
---

<header class="ds-component__heading">
  <div class="ds-component__heading-wrapper">
    <h1 class="ds-heading-1">{{ title }} {% if version[packageName] %}<small>(v{{version[packageName]}})</small>{% endif %}</h1>
    <p class="ds-component__heading-description">{{ description }}</p>
  </div>
</header>
<section>
  {%- for post in collections.component -%}
    {% if page.url === post.url %}
      <div horizontal class="ds-tabs" role="tablist">
        <button class="ds-tab">Usage</button>
        <button class="ds-tab">Code</button>
        <button class="ds-tab">Accessibility</button>
        <div class="ds-tabs__tab-content-wrapper">
          <div class="ds-tabs__tab-content">
            {%- for usage in collections.usage -%}
              {% if usage.url.includes(page.url) %}
                {{ usage.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="ds-tabs__tab-content">
            {%- for code in collections.code -%}
              {% if code.url.includes(page.url) %}
                {{ code.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="ds-tabs__tab-content">
            {%- for accessibility in collections.accessibility -%}
              {% if accessibility.url.includes(page.url) %}
                {{ accessibility.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      </div>
    {% endif %}
  {%- endfor -%}
</section>
