<section class="ds-tokens">
<h2 class="ds-tokens__heading">Animation</h2>
<table class="ds-table"><thead>
<tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
    {% for type in tokens.base.animation -%}
      {% if type[0] == "duration" or type[0] == "easing" %}
        {% for animation in type -%}
          {% for animationType in animation -%}
            {% for property in animationType -%}
              {% if property.value %}
<tr>
  <td><code>{{ property.value }}</code></td>
  <td class="ds-tokens__description">{{ property.description | tokenDescription }}</td>
  <td><code>{{ property.description | tokenName }}</code></td>
</tr>
              {% endif %}
            {% endfor -%}
          {% endfor -%}
        {% endfor -%}
      {% endif %}
    {% endfor -%}
</tbody>
</table>
</section>
