/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-icon-core-circle-check-solid: circle-check;
  --sl-icon-core-triangle-exclamation-solid: triangle-exclamation;
  --sl-icon-core-check: check;
  --sl-icon-core-chevron-down: chevron-down;
  --sl-icon-core-pinata-solid: pinata;
  --sl-icon-core-pinata: pinata;
  --sl-icon-core-fav: star;
  --sl-icon-core-menu: bars;
  --sl-icon-core-face-smile: face-smile;
  --sl-icon-font-family-sharp: font-awesome-6-sharp;
  --sl-icon-font-family-classic: font-awesome-6-pro;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 20px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-icon: font-awesome-6-pro;
  --sl-text-typeset-font-family-body: source-sans-pro;
  --sl-color-palette-transparent-base: 0 0 0 / 0;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 34 34 34;
  --sl-color-palette-danger-base: 255 87 92;
  --sl-color-palette-danger-900: 38 8 8;
  --sl-color-palette-danger-800: 71 13 13;
  --sl-color-palette-danger-700: 107 19 19;
  --sl-color-palette-danger-600: 153 34 36;
  --sl-color-palette-danger-500: 199 52 52;
  --sl-color-palette-danger-400: 229 69 74;
  --sl-color-palette-danger-300: 255 87 92;
  --sl-color-palette-danger-200: 255 142 138;
  --sl-color-palette-danger-150: 255 188 184;
  --sl-color-palette-danger-100: 255 214 209;
  --sl-color-palette-danger-50: 255 237 235;
  --sl-color-palette-warning-base: 255 207 13;
  --sl-color-palette-warning-900: 38 29 11;
  --sl-color-palette-warning-800: 52 39 12;
  --sl-color-palette-warning-700: 86 61 12;
  --sl-color-palette-warning-600: 121 89 13;
  --sl-color-palette-warning-500: 174 131 14;
  --sl-color-palette-warning-400: 225 176 15;
  --sl-color-palette-warning-300: 255 207 13;
  --sl-color-palette-warning-200: 254 218 66;
  --sl-color-palette-warning-150: 253 227 118;
  --sl-color-palette-warning-100: 252 236 170;
  --sl-color-palette-warning-50: 250 244 220;
  --sl-color-palette-success-base: 69 204 128;
  --sl-color-palette-success-900: 8 38 19;
  --sl-color-palette-success-800: 11 51 26;
  --sl-color-palette-success-700: 17 66 36;
  --sl-color-palette-success-600: 27 97 55;
  --sl-color-palette-success-500: 40 133 78;
  --sl-color-palette-success-400: 57 178 108;
  --sl-color-palette-success-300: 69 204 128;
  --sl-color-palette-success-200: 112 224 157;
  --sl-color-palette-success-150: 174 235 196;
  --sl-color-palette-success-100: 215 245 225;
  --sl-color-palette-success-50: 235 245 238;
  --sl-color-palette-info-base: 51 102 255;
  --sl-color-palette-info-900: 0 13 51;
  --sl-color-palette-info-800: 0 23 95;
  --sl-color-palette-info-700: 9 41 142;
  --sl-color-palette-info-600: 17 56 173;
  --sl-color-palette-info-500: 35 81 219;
  --sl-color-palette-info-400: 51 102 255;
  --sl-color-palette-info-300: 89 133 255;
  --sl-color-palette-info-200: 158 186 255;
  --sl-color-palette-info-150: 204 219 255;
  --sl-color-palette-info-100: 224 234 255;
  --sl-color-palette-info-50: 240 245 255;
  --sl-color-palette-neutral-base: 34 34 34;
  --sl-color-palette-neutral-900: 46 46 46;
  --sl-color-palette-neutral-800: 62 61 61;
  --sl-color-palette-neutral-700: 78 78 78;
  --sl-color-palette-neutral-600: 96 95 95;
  --sl-color-palette-neutral-500: 115 115 115;
  --sl-color-palette-neutral-400: 137 137 137;
  --sl-color-palette-neutral-300: 162 161 161;
  --sl-color-palette-neutral-200: 188 188 188;
  --sl-color-palette-neutral-150: 213 213 213;
  --sl-color-palette-neutral-100: 234 234 234;
  --sl-color-palette-neutral-50: 243 243 243;
  --sl-color-palette-accent-base: 51 102 255;
  --sl-color-palette-accent-900: 0 13 51;
  --sl-color-palette-accent-800: 0 23 95;
  --sl-color-palette-accent-700: 9 41 142;
  --sl-color-palette-accent-600: 17 56 173;
  --sl-color-palette-accent-500: 35 81 219;
  --sl-color-palette-accent-400: 51 102 255;
  --sl-color-palette-accent-300: 89 133 255;
  --sl-color-palette-accent-200: 158 186 255;
  --sl-color-palette-accent-150: 204 219 255;
  --sl-color-palette-accent-100: 224 234 255;
  --sl-color-palette-accent-50: 237 242 252;
  --sl-color-palette-primary-base: 34 34 34;
  --sl-color-palette-primary-900: 38 38 38;
  --sl-color-palette-primary-800: 62 61 61;
  --sl-color-palette-primary-700: 78 78 78;
  --sl-color-palette-primary-600: 96 95 95;
  --sl-color-palette-primary-500: 115 115 115;
  --sl-color-palette-primary-400: 137 137 137;
  --sl-color-palette-primary-300: 162 161 161;
  --sl-color-palette-primary-200: 188 188 188;
  --sl-color-palette-primary-150: 213 213 213;
  --sl-color-palette-primary-100: 234 234 234;
  --sl-color-palette-primary-50: 254 254 254;
  --sl-component-checkbox-default-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-checkbox-lg-padding-inline: var(--sl-space-none);
  --sl-component-checkbox-lg-padding-block: var(--sl-space-none);
  --sl-component-checkbox-lg-inline-size: var(--sl-size-2xl);
  --sl-component-checkbox-lg-border-radius: var(--sl-border-radius-2xs);
  --sl-component-checkbox-md-padding-inline: var(--sl-space-xs);
  --sl-component-checkbox-md-padding-block: var(--sl-space-xs);
  --sl-component-checkbox-md-inline-size: var(--sl-size-xl);
  --sl-component-checkbox-md-border-radius: var(--sl-border-radius-2xs);
  --sl-component-focusring-border-radius-full: var(--sl-border-radius-full);
  --sl-component-focusring-color-default: rgb(var(--sl-color-palette-neutral-base));
  --sl-component-button-link-danger-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-danger-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-warning-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-warning-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-success-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-success-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-primary-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-primary-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-default-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-default-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-link-lg-padding-inline: calc(var(--sl-space-lg) - var(--sl-control-lg-border-width));
  --sl-component-button-link-lg-padding-block: calc(var(--sl-space-sm) - var(--sl-control-lg-border-width));
  --sl-component-button-link-md-padding-inline: calc(var(--sl-space-lg) - var(--sl-control-md-border-width));
  --sl-component-button-link-md-padding-block: calc(var(--sl-space-sm) - var(--sl-control-md-border-width));
  --sl-component-button-link-sm-padding-inline: calc(var(--sl-space-lg) - var(--sl-control-sm-border-width));
  --sl-component-button-link-sm-padding-block: calc(var(--sl-space-xs) - var(--sl-control-sm-border-width));
  --sl-component-button-ghost-danger-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-danger-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-warning-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-warning-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-success-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-success-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-primary-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-primary-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-default-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-ghost-default-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-danger-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-danger-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-warning-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-warning-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-success-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-success-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-primary-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-primary-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-default-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-outline-default-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-component-button-core-lg-padding-inline: calc(var(--sl-space-lg) - var(--sl-component-button-core-lg-border-width));
  --sl-component-button-core-lg-padding-block: calc(var(--sl-space-sm) - var(--sl-component-button-core-lg-border-width));
  --sl-component-button-core-md-padding-inline: calc(var(--sl-space-lg) - var(--sl-component-button-core-md-border-width));
  --sl-component-button-core-md-padding-block: calc(var(--sl-space-sm) - var(--sl-component-button-core-md-border-width));
  --sl-component-button-core-sm-padding-inline: calc(var(--sl-space-lg) - var(--sl-component-button-core-sm-border-width));
  --sl-component-button-core-sm-padding-block: calc(var(--sl-space-xs) - var(--sl-component-button-core-sm-border-width));
  --sl-control-danger-disabled-border-color: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-danger-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-danger-disabled-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-danger-focus-outline-color: rgba(var(--sl-color-palette-neutral-base)/ var(--sl-opacity-500));
  --sl-control-danger-focus-border-color: rgb(var(--sl-color-palette-neutral-800));
  --sl-control-danger-active-border-color: rgb(var(--sl-color-palette-neutral-base));
  --sl-control-danger-active-foreground: rgb(var(--sl-color-palette-neutral-900));
  --sl-control-danger-active-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-control-danger-hover-border-color: rgb(var(--sl-color-palette-neutral-600));
  --sl-control-danger-hover-foreground: rgb(var(--sl-color-palette-neutral-700));
  --sl-control-danger-hover-background: rgb(var(--sl-color-palette-neutral-50));
  --sl-control-danger-idle-border-color: rgb(var(--sl-color-palette-neutral-400));
  --sl-control-danger-idle-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-control-danger-idle-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-warning-disabled-border-color: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-warning-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-warning-disabled-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-warning-focus-outline-color: rgba(var(--sl-color-palette-neutral-base)/ var(--sl-opacity-500));
  --sl-control-warning-focus-border-color: rgb(var(--sl-color-palette-neutral-800));
  --sl-control-warning-active-border-color: rgb(var(--sl-color-palette-neutral-base));
  --sl-control-warning-active-foreground: rgb(var(--sl-color-palette-neutral-900));
  --sl-control-warning-active-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-control-warning-hover-border-color: rgb(var(--sl-color-palette-neutral-600));
  --sl-control-warning-hover-foreground: rgb(var(--sl-color-palette-neutral-700));
  --sl-control-warning-hover-background: rgb(var(--sl-color-palette-neutral-50));
  --sl-control-warning-idle-border-color: rgb(var(--sl-color-palette-neutral-400));
  --sl-control-warning-idle-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-control-warning-idle-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-success-disabled-border-color: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-success-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-success-disabled-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-success-focus-outline-color: rgba(var(--sl-color-palette-neutral-base)/ var(--sl-opacity-500));
  --sl-control-success-focus-border-color: rgb(var(--sl-color-palette-neutral-800));
  --sl-control-success-active-border-color: rgb(var(--sl-color-palette-neutral-base));
  --sl-control-success-active-foreground: rgb(var(--sl-color-palette-neutral-900));
  --sl-control-success-active-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-control-success-hover-border-color: rgb(var(--sl-color-palette-neutral-600));
  --sl-control-success-hover-foreground: rgb(var(--sl-color-palette-neutral-700));
  --sl-control-success-hover-background: rgb(var(--sl-color-palette-neutral-50));
  --sl-control-success-idle-border-color: rgb(var(--sl-color-palette-neutral-400));
  --sl-control-success-idle-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-control-success-idle-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-primary-disabled-border-color: rgb(var(--sl-color-palette-accent-150));
  --sl-control-primary-disabled-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-control-primary-disabled-background: rgb(var(--sl-color-palette-accent-150));
  --sl-control-primary-active-border-color: rgb(var(--sl-color-palette-accent-600));
  --sl-control-primary-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-control-primary-active-background: rgb(var(--sl-color-palette-accent-600));
  --sl-control-primary-hover-border-color: rgb(var(--sl-color-palette-accent-500));
  --sl-control-primary-hover-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-control-primary-hover-background: rgb(var(--sl-color-palette-accent-500));
  --sl-control-primary-idle-border-color: rgb(var(--sl-color-palette-accent-base));
  --sl-control-primary-idle-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-control-primary-idle-background: rgb(var(--sl-color-palette-accent-base));
  --sl-control-default-disabled-border-color: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-control-default-disabled-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-default-focus-outline-color: rgba(var(--sl-color-palette-neutral-base)/ var(--sl-opacity-500));
  --sl-control-default-focus-border-color: rgb(var(--sl-color-palette-neutral-800));
  --sl-control-default-active-border-color: rgb(var(--sl-color-palette-neutral-base));
  --sl-control-default-active-foreground: rgb(var(--sl-color-palette-neutral-900));
  --sl-control-default-active-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-control-default-hover-border-color: rgb(var(--sl-color-palette-neutral-600));
  --sl-control-default-hover-foreground: rgb(var(--sl-color-palette-neutral-700));
  --sl-control-default-hover-background: rgb(var(--sl-color-palette-neutral-50));
  --sl-control-default-idle-border-color: rgb(var(--sl-color-palette-neutral-400));
  --sl-control-default-idle-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-control-default-idle-background: rgb(var(--sl-color-palette-white-base));
  --sl-control-lg-outline-width: var(--sl-border-width-md);
  --sl-control-lg-outline-offset: var(--sl-space-none);
  --sl-control-lg-gap: var(--sl-space-sm);
  --sl-control-lg-font-line-height: var(--sl-text-typeset-line-height-lg);
  --sl-control-lg-font-weight: 400;
  --sl-control-lg-font-size: var(--sl-text-typeset-font-size-lg);
  --sl-control-lg-font-family: source-sans-pro;
  --sl-control-lg-border-width: var(--sl-border-width-xs);
  --sl-control-lg-border-radius: var(--sl-border-radius-3xs);
  --sl-control-md-outline-width: var(--sl-border-width-md);
  --sl-control-md-outline-offset: var(--sl-space-none);
  --sl-control-md-gap: var(--sl-space-xs);
  --sl-control-md-font-line-height: var(--sl-text-typeset-line-height-sm);
  --sl-control-md-font-weight: 400;
  --sl-control-md-font-size: var(--sl-text-typeset-font-size-md);
  --sl-control-md-font-family: source-sans-pro;
  --sl-control-md-border-width: var(--sl-border-width-xs);
  --sl-control-md-border-radius: var(--sl-border-radius-3xs);
  --sl-control-sm-outline-width: var(--sl-border-width-md);
  --sl-control-sm-outline-offset: var(--sl-space-none);
  --sl-control-sm-gap: var(--sl-space-xs);
  --sl-control-sm-font-line-height: var(--sl-text-typeset-line-height-sm);
  --sl-control-sm-font-weight: 400;
  --sl-control-sm-font-size: var(--sl-text-typeset-font-size-sm);
  --sl-control-sm-font-family: source-sans-pro;
  --sl-control-sm-border-width: var(--sl-border-width-xs);
  --sl-control-sm-border-radius: var(--sl-border-radius-3xs);
  --sl-icon-typeset-font-size-4xl: var(--sl-size-4xl);
  --sl-icon-typeset-font-size-3xl: var(--sl-size-3xl);
  --sl-icon-typeset-font-size-2xl: var(--sl-size-2xl);
  --sl-icon-typeset-font-size-xl: var(--sl-size-xl);
  --sl-icon-typeset-font-size-lg: var(--sl-size-lg);
  --sl-icon-typeset-font-size-md: var(--sl-size-md);
  --sl-icon-typeset-font-size-sm: var(--sl-size-sm);
  --sl-icon-typeset-font-size-xs: var(--sl-size-xs);
  --sl-icon-style-solid: var(--sl-text-typeset-font-weight-icon-solid);
  --sl-icon-style-outline: 400;
  --sl-component-checkbox-default-idle-border-color: var(--sl-control-default-idle-border-color);
  --sl-component-checkbox-default-idle-foreground: var(--sl-control-default-idle-foreground);
  --sl-component-checkbox-lg-outline-width: var(--sl-control-lg-outline-width);
  --sl-component-checkbox-lg-outline-offset: var(--sl-control-lg-outline-offset);
  --sl-component-checkbox-lg-gap: var(--sl-control-lg-gap);
  --sl-component-checkbox-lg-font: var(--sl-control-lg-font-weight) var(--sl-control-lg-font-size)/var(--sl-control-lg-font-line-height) var(--sl-control-lg-font-family);
  --sl-component-checkbox-lg-border-width: var(--sl-control-lg-border-width);
  --sl-component-checkbox-md-outline-width: var(--sl-control-md-outline-width);
  --sl-component-checkbox-md-outline-offset: var(--sl-control-md-outline-offset);
  --sl-component-checkbox-md-gap: var(--sl-control-md-gap);
  --sl-component-checkbox-md-font: var(--sl-control-md-font-weight) var(--sl-control-md-font-size)/var(--sl-control-md-font-line-height) var(--sl-control-md-font-family);
  --sl-component-checkbox-md-border-width: var(--sl-control-md-border-width);
  --sl-component-focusring-border-width: var(--sl-control-sm-border-width);
  --sl-component-focusring-border-radius-default: calc(var(--sl-control-sm-border-radius) + 1);
  --sl-component-button-icon-only-lg-inline-size: var(--sl-control-lg-font-line-height);
  --sl-component-button-icon-only-lg-border-radius: var(--sl-control-lg-border-radius);
  --sl-component-button-icon-only-md-inline-size: var(--sl-control-md-font-line-height);
  --sl-component-button-icon-only-md-border-radius: var(--sl-control-md-border-radius);
  --sl-component-button-icon-only-sm-inline-size: var(--sl-control-sm-font-line-height);
  --sl-component-button-icon-only-sm-border-radius: var(--sl-control-sm-border-radius);
  --sl-component-button-link-danger-disabled-foreground: var(--sl-control-danger-disabled-foreground);
  --sl-component-button-link-danger-focus-outline-color: var(--sl-control-danger-focus-outline-color);
  --sl-component-button-link-danger-active-foreground: var(--sl-control-danger-active-foreground);
  --sl-component-button-link-danger-active-background: var(--sl-control-danger-active-background);
  --sl-component-button-link-danger-hover-foreground: var(--sl-control-danger-hover-foreground);
  --sl-component-button-link-danger-hover-background: var(--sl-control-danger-hover-background);
  --sl-component-button-link-danger-idle-foreground: var(--sl-control-danger-idle-foreground);
  --sl-component-button-link-warning-disabled-foreground: var(--sl-control-warning-disabled-foreground);
  --sl-component-button-link-warning-focus-outline-color: var(--sl-control-warning-focus-outline-color);
  --sl-component-button-link-warning-active-foreground: var(--sl-control-warning-active-foreground);
  --sl-component-button-link-warning-active-background: var(--sl-control-warning-active-background);
  --sl-component-button-link-warning-hover-foreground: var(--sl-control-warning-hover-foreground);
  --sl-component-button-link-warning-hover-background: var(--sl-control-warning-hover-background);
  --sl-component-button-link-warning-idle-foreground: var(--sl-control-warning-idle-foreground);
  --sl-component-button-link-success-disabled-foreground: var(--sl-control-success-disabled-foreground);
  --sl-component-button-link-success-focus-outline-color: var(--sl-control-success-focus-outline-color);
  --sl-component-button-link-success-active-foreground: var(--sl-control-success-active-foreground);
  --sl-component-button-link-success-active-background: var(--sl-control-success-active-background);
  --sl-component-button-link-success-hover-foreground: var(--sl-control-success-hover-foreground);
  --sl-component-button-link-success-hover-background: var(--sl-control-success-hover-background);
  --sl-component-button-link-success-idle-foreground: var(--sl-control-success-idle-foreground);
  --sl-component-button-link-primary-disabled-foreground: var(--sl-control-primary-disabled-foreground);
  --sl-component-button-link-primary-focus-outline-color: var(--sl-control-primary-focus-outline-color);
  --sl-component-button-link-primary-active-foreground: var(--sl-control-primary-active-foreground);
  --sl-component-button-link-primary-active-background: var(--sl-control-primary-active-background);
  --sl-component-button-link-primary-hover-foreground: var(--sl-control-primary-hover-foreground);
  --sl-component-button-link-primary-hover-background: var(--sl-control-primary-hover-background);
  --sl-component-button-link-primary-idle-foreground: var(--sl-control-primary-idle-foreground);
  --sl-component-button-link-default-disabled-foreground: var(--sl-control-default-disabled-foreground);
  --sl-component-button-link-default-focus-outline-color: var(--sl-control-default-focus-outline-color);
  --sl-component-button-link-default-active-foreground: var(--sl-control-default-active-foreground);
  --sl-component-button-link-default-active-background: var(--sl-control-default-active-background);
  --sl-component-button-link-default-hover-foreground: var(--sl-control-default-hover-foreground);
  --sl-component-button-link-default-hover-background: var(--sl-control-default-hover-background);
  --sl-component-button-link-default-idle-foreground: var(--sl-control-default-idle-foreground);
  --sl-component-button-ghost-danger-disabled-foreground: var(--sl-control-danger-disabled-foreground);
  --sl-component-button-ghost-danger-focus-outline-color: var(--sl-control-danger-focus-outline-color);
  --sl-component-button-ghost-danger-active-foreground: var(--sl-control-danger-active-foreground);
  --sl-component-button-ghost-danger-active-background: var(--sl-control-danger-active-background);
  --sl-component-button-ghost-danger-hover-foreground: var(--sl-control-danger-hover-foreground);
  --sl-component-button-ghost-danger-hover-background: var(--sl-control-danger-hover-background);
  --sl-component-button-ghost-danger-idle-foreground: var(--sl-control-danger-idle-foreground);
  --sl-component-button-ghost-warning-disabled-foreground: var(--sl-control-warning-disabled-foreground);
  --sl-component-button-ghost-warning-focus-outline-color: var(--sl-control-warning-focus-outline-color);
  --sl-component-button-ghost-warning-active-foreground: var(--sl-control-warning-active-foreground);
  --sl-component-button-ghost-warning-active-background: var(--sl-control-warning-active-background);
  --sl-component-button-ghost-warning-hover-foreground: var(--sl-control-warning-hover-foreground);
  --sl-component-button-ghost-warning-hover-background: var(--sl-control-warning-hover-background);
  --sl-component-button-ghost-warning-idle-foreground: var(--sl-control-warning-idle-foreground);
  --sl-component-button-ghost-success-disabled-foreground: var(--sl-control-success-disabled-foreground);
  --sl-component-button-ghost-success-focus-outline-color: var(--sl-control-success-focus-outline-color);
  --sl-component-button-ghost-success-active-foreground: var(--sl-control-success-active-foreground);
  --sl-component-button-ghost-success-active-background: var(--sl-control-success-active-background);
  --sl-component-button-ghost-success-hover-foreground: var(--sl-control-success-hover-foreground);
  --sl-component-button-ghost-success-hover-background: var(--sl-control-success-hover-background);
  --sl-component-button-ghost-success-idle-foreground: var(--sl-control-success-idle-foreground);
  --sl-component-button-ghost-primary-disabled-foreground: var(--sl-control-primary-disabled-foreground);
  --sl-component-button-ghost-primary-focus-outline-color: var(--sl-control-primary-focus-outline-color);
  --sl-component-button-ghost-primary-active-foreground: var(--sl-control-primary-active-foreground);
  --sl-component-button-ghost-primary-active-background: var(--sl-control-primary-active-background);
  --sl-component-button-ghost-primary-hover-foreground: var(--sl-control-primary-hover-foreground);
  --sl-component-button-ghost-primary-hover-background: var(--sl-control-primary-hover-background);
  --sl-component-button-ghost-primary-idle-foreground: var(--sl-control-primary-idle-foreground);
  --sl-component-button-ghost-default-disabled-foreground: var(--sl-control-default-disabled-foreground);
  --sl-component-button-ghost-default-focus-outline-color: var(--sl-control-default-focus-outline-color);
  --sl-component-button-ghost-default-active-foreground: var(--sl-control-default-active-foreground);
  --sl-component-button-ghost-default-active-background: var(--sl-control-default-active-background);
  --sl-component-button-ghost-default-hover-foreground: var(--sl-control-default-hover-foreground);
  --sl-component-button-ghost-default-hover-background: var(--sl-control-default-hover-background);
  --sl-component-button-ghost-default-idle-foreground: var(--sl-control-default-idle-foreground);
  --sl-component-button-outline-danger-disabled-border-color: var(--sl-control-danger-disabled-border-color);
  --sl-component-button-outline-danger-disabled-foreground: var(--sl-control-danger-disabled-foreground);
  --sl-component-button-outline-danger-focus-outline-color: var(--sl-control-danger-focus-outline-color);
  --sl-component-button-outline-danger-focus-border-color: var(--sl-control-danger-focus-border-color);
  --sl-component-button-outline-danger-active-border-color: var(--sl-control-danger-active-border-color);
  --sl-component-button-outline-danger-active-foreground: var(--sl-control-danger-active-foreground);
  --sl-component-button-outline-danger-active-background: var(--sl-control-danger-active-background);
  --sl-component-button-outline-danger-hover-border-color: var(--sl-control-danger-hover-border-color);
  --sl-component-button-outline-danger-hover-foreground: var(--sl-control-danger-hover-foreground);
  --sl-component-button-outline-danger-hover-background: var(--sl-control-danger-hover-background);
  --sl-component-button-outline-danger-idle-border-color: var(--sl-control-danger-idle-border-color);
  --sl-component-button-outline-danger-idle-foreground: var(--sl-control-danger-idle-foreground);
  --sl-component-button-outline-warning-disabled-border-color: var(--sl-control-warning-disabled-border-color);
  --sl-component-button-outline-warning-disabled-foreground: var(--sl-control-warning-disabled-foreground);
  --sl-component-button-outline-warning-focus-outline-color: var(--sl-control-warning-focus-outline-color);
  --sl-component-button-outline-warning-focus-border-color: var(--sl-control-warning-focus-border-color);
  --sl-component-button-outline-warning-active-border-color: var(--sl-control-warning-active-border-color);
  --sl-component-button-outline-warning-active-foreground: var(--sl-control-warning-active-foreground);
  --sl-component-button-outline-warning-active-background: var(--sl-control-warning-active-background);
  --sl-component-button-outline-warning-hover-border-color: var(--sl-control-warning-hover-border-color);
  --sl-component-button-outline-warning-hover-foreground: var(--sl-control-warning-hover-foreground);
  --sl-component-button-outline-warning-hover-background: var(--sl-control-warning-hover-background);
  --sl-component-button-outline-warning-idle-border-color: var(--sl-control-warning-idle-border-color);
  --sl-component-button-outline-warning-idle-foreground: var(--sl-control-warning-idle-foreground);
  --sl-component-button-outline-success-disabled-border-color: var(--sl-control-success-disabled-border-color);
  --sl-component-button-outline-success-disabled-foreground: var(--sl-control-success-disabled-foreground);
  --sl-component-button-outline-success-focus-outline-color: var(--sl-control-success-focus-outline-color);
  --sl-component-button-outline-success-focus-border-color: var(--sl-control-success-focus-border-color);
  --sl-component-button-outline-success-active-border-color: var(--sl-control-success-active-border-color);
  --sl-component-button-outline-success-active-foreground: var(--sl-control-success-active-foreground);
  --sl-component-button-outline-success-active-background: var(--sl-control-success-active-background);
  --sl-component-button-outline-success-hover-border-color: var(--sl-control-success-hover-border-color);
  --sl-component-button-outline-success-hover-foreground: var(--sl-control-success-hover-foreground);
  --sl-component-button-outline-success-hover-background: var(--sl-control-success-hover-background);
  --sl-component-button-outline-success-idle-border-color: var(--sl-control-success-idle-border-color);
  --sl-component-button-outline-success-idle-foreground: var(--sl-control-success-idle-foreground);
  --sl-component-button-outline-primary-disabled-border-color: var(--sl-control-primary-disabled-border-color);
  --sl-component-button-outline-primary-disabled-foreground: var(--sl-control-primary-disabled-foreground);
  --sl-component-button-outline-primary-focus-outline-color: var(--sl-control-primary-focus-outline-color);
  --sl-component-button-outline-primary-focus-border-color: var(--sl-control-primary-focus-border-color);
  --sl-component-button-outline-primary-active-border-color: var(--sl-control-primary-active-border-color);
  --sl-component-button-outline-primary-active-foreground: var(--sl-control-primary-active-foreground);
  --sl-component-button-outline-primary-active-background: var(--sl-control-primary-active-background);
  --sl-component-button-outline-primary-hover-border-color: var(--sl-control-primary-hover-border-color);
  --sl-component-button-outline-primary-hover-foreground: var(--sl-control-primary-hover-foreground);
  --sl-component-button-outline-primary-hover-background: var(--sl-control-primary-hover-background);
  --sl-component-button-outline-primary-idle-border-color: var(--sl-control-primary-idle-border-color);
  --sl-component-button-outline-primary-idle-foreground: var(--sl-control-primary-idle-foreground);
  --sl-component-button-outline-default-disabled-border-color: var(--sl-control-default-disabled-border-color);
  --sl-component-button-outline-default-disabled-foreground: var(--sl-control-default-disabled-foreground);
  --sl-component-button-outline-default-focus-outline-color: var(--sl-control-default-focus-outline-color);
  --sl-component-button-outline-default-focus-border-color: var(--sl-control-default-focus-border-color);
  --sl-component-button-outline-default-active-border-color: var(--sl-control-default-active-border-color);
  --sl-component-button-outline-default-active-foreground: var(--sl-control-default-active-foreground);
  --sl-component-button-outline-default-active-background: var(--sl-control-default-active-background);
  --sl-component-button-outline-default-hover-border-color: var(--sl-control-default-hover-border-color);
  --sl-component-button-outline-default-hover-foreground: var(--sl-control-default-hover-foreground);
  --sl-component-button-outline-default-hover-background: var(--sl-control-default-hover-background);
  --sl-component-button-outline-default-idle-border-color: var(--sl-control-default-idle-border-color);
  --sl-component-button-outline-default-idle-foreground: var(--sl-control-default-idle-foreground);
  --sl-component-button-solid-danger-disabled-border-color: var(--sl-control-danger-disabled-border-color);
  --sl-component-button-solid-danger-disabled-foreground: var(--sl-control-danger-disabled-foreground);
  --sl-component-button-solid-danger-disabled-background: var(--sl-control-danger-disabled-background);
  --sl-component-button-solid-danger-focus-outline-color: var(--sl-control-danger-focus-outline-color);
  --sl-component-button-solid-danger-focus-border-color: var(--sl-control-danger-focus-border-color);
  --sl-component-button-solid-danger-active-border-color: var(--sl-control-danger-active-border-color);
  --sl-component-button-solid-danger-active-foreground: var(--sl-control-danger-active-foreground);
  --sl-component-button-solid-danger-active-background: var(--sl-control-danger-active-background);
  --sl-component-button-solid-danger-hover-border-color: var(--sl-control-danger-hover-border-color);
  --sl-component-button-solid-danger-hover-foreground: var(--sl-control-danger-hover-foreground);
  --sl-component-button-solid-danger-hover-background: var(--sl-control-danger-hover-background);
  --sl-component-button-solid-danger-idle-border-color: var(--sl-control-danger-idle-border-color);
  --sl-component-button-solid-danger-idle-foreground: var(--sl-control-danger-idle-foreground);
  --sl-component-button-solid-danger-idle-background: var(--sl-control-danger-idle-background);
  --sl-component-button-solid-warning-disabled-border-color: var(--sl-control-warning-disabled-border-color);
  --sl-component-button-solid-warning-disabled-foreground: var(--sl-control-warning-disabled-foreground);
  --sl-component-button-solid-warning-disabled-background: var(--sl-control-warning-disabled-background);
  --sl-component-button-solid-warning-focus-outline-color: var(--sl-control-warning-focus-outline-color);
  --sl-component-button-solid-warning-focus-border-color: var(--sl-control-warning-focus-border-color);
  --sl-component-button-solid-warning-active-border-color: var(--sl-control-warning-active-border-color);
  --sl-component-button-solid-warning-active-foreground: var(--sl-control-warning-active-foreground);
  --sl-component-button-solid-warning-active-background: var(--sl-control-warning-active-background);
  --sl-component-button-solid-warning-hover-border-color: var(--sl-control-warning-hover-border-color);
  --sl-component-button-solid-warning-hover-foreground: var(--sl-control-warning-hover-foreground);
  --sl-component-button-solid-warning-hover-background: var(--sl-control-warning-hover-background);
  --sl-component-button-solid-warning-idle-border-color: var(--sl-control-warning-idle-border-color);
  --sl-component-button-solid-warning-idle-foreground: var(--sl-control-warning-idle-foreground);
  --sl-component-button-solid-warning-idle-background: var(--sl-control-warning-idle-background);
  --sl-component-button-solid-success-disabled-border-color: var(--sl-control-success-disabled-border-color);
  --sl-component-button-solid-success-disabled-foreground: var(--sl-control-success-disabled-foreground);
  --sl-component-button-solid-success-disabled-background: var(--sl-control-success-disabled-background);
  --sl-component-button-solid-success-focus-outline-color: var(--sl-control-success-focus-outline-color);
  --sl-component-button-solid-success-focus-border-color: var(--sl-control-success-focus-border-color);
  --sl-component-button-solid-success-active-border-color: var(--sl-control-success-active-border-color);
  --sl-component-button-solid-success-active-foreground: var(--sl-control-success-active-foreground);
  --sl-component-button-solid-success-active-background: var(--sl-control-success-active-background);
  --sl-component-button-solid-success-hover-border-color: var(--sl-control-success-hover-border-color);
  --sl-component-button-solid-success-hover-foreground: var(--sl-control-success-hover-foreground);
  --sl-component-button-solid-success-hover-background: var(--sl-control-success-hover-background);
  --sl-component-button-solid-success-idle-border-color: var(--sl-control-success-idle-border-color);
  --sl-component-button-solid-success-idle-foreground: var(--sl-control-success-idle-foreground);
  --sl-component-button-solid-success-idle-background: var(--sl-control-success-idle-background);
  --sl-component-button-solid-primary-disabled-border-color: var(--sl-control-primary-disabled-border-color);
  --sl-component-button-solid-primary-disabled-foreground: var(--sl-control-primary-disabled-foreground);
  --sl-component-button-solid-primary-disabled-background: var(--sl-control-primary-disabled-background);
  --sl-component-button-solid-primary-focus-outline-color: var(--sl-control-primary-focus-outline-color);
  --sl-component-button-solid-primary-focus-border-color: var(--sl-control-primary-focus-border-color);
  --sl-component-button-solid-primary-active-border-color: var(--sl-control-primary-active-border-color);
  --sl-component-button-solid-primary-active-foreground: var(--sl-control-primary-active-foreground);
  --sl-component-button-solid-primary-active-background: var(--sl-control-primary-active-background);
  --sl-component-button-solid-primary-hover-border-color: var(--sl-control-primary-hover-border-color);
  --sl-component-button-solid-primary-hover-foreground: var(--sl-control-primary-hover-foreground);
  --sl-component-button-solid-primary-hover-background: var(--sl-control-primary-hover-background);
  --sl-component-button-solid-primary-idle-border-color: var(--sl-control-primary-idle-border-color);
  --sl-component-button-solid-primary-idle-foreground: var(--sl-control-primary-idle-foreground);
  --sl-component-button-solid-primary-idle-background: var(--sl-control-primary-idle-background);
  --sl-component-button-solid-default-disabled-border-color: var(--sl-control-default-disabled-border-color);
  --sl-component-button-solid-default-disabled-foreground: var(--sl-control-default-disabled-foreground);
  --sl-component-button-solid-default-disabled-background: var(--sl-control-default-disabled-background);
  --sl-component-button-solid-default-focus-outline-color: var(--sl-control-default-focus-outline-color);
  --sl-component-button-solid-default-focus-border-color: var(--sl-control-default-focus-border-color);
  --sl-component-button-solid-default-active-border-color: var(--sl-control-default-active-border-color);
  --sl-component-button-solid-default-active-foreground: var(--sl-control-default-active-foreground);
  --sl-component-button-solid-default-active-background: var(--sl-control-default-active-background);
  --sl-component-button-solid-default-hover-border-color: var(--sl-control-default-hover-border-color);
  --sl-component-button-solid-default-hover-foreground: var(--sl-control-default-hover-foreground);
  --sl-component-button-solid-default-hover-background: var(--sl-control-default-hover-background);
  --sl-component-button-solid-default-idle-border-color: var(--sl-control-default-idle-border-color);
  --sl-component-button-solid-default-idle-foreground: var(--sl-control-default-idle-foreground);
  --sl-component-button-solid-default-idle-background: var(--sl-control-default-idle-background);
  --sl-component-button-core-lg-outline-width: var(--sl-control-md-outline-width);
  --sl-component-button-core-lg-outline-offset: var(--sl-control-md-outline-offset);
  --sl-component-button-core-lg-gap: var(--sl-control-md-gap);
  --sl-component-button-core-lg-font: var(--sl-control-lg-font-weight) var(--sl-control-lg-font-size)/var(--sl-control-lg-font-line-height) var(--sl-control-lg-font-family);
  --sl-component-button-core-lg-border-width: var(--sl-control-md-border-width);
  --sl-component-button-core-lg-border-radius: var(--sl-control-md-border-radius);
  --sl-component-button-core-md-outline-width: var(--sl-control-md-outline-width);
  --sl-component-button-core-md-outline-offset: var(--sl-control-md-outline-offset);
  --sl-component-button-core-md-gap: var(--sl-control-md-gap);
  --sl-component-button-core-md-font: var(--sl-control-md-font-weight) var(--sl-control-md-font-size)/var(--sl-control-md-font-line-height) var(--sl-control-md-font-family);
  --sl-component-button-core-md-border-width: var(--sl-control-md-border-width);
  --sl-component-button-core-md-border-radius: var(--sl-control-md-border-radius);
  --sl-component-button-core-sm-outline-width: var(--sl-control-sm-outline-width);
  --sl-component-button-core-sm-outline-offset: var(--sl-control-sm-outline-offset);
  --sl-component-button-core-sm-gap: var(--sl-control-sm-gap);
  --sl-component-button-core-sm-font: var(--sl-control-sm-font-weight) var(--sl-control-sm-font-size)/var(--sl-control-sm-font-line-height) var(--sl-control-sm-font-family);
  --sl-component-button-core-sm-border-width: var(--sl-control-sm-border-width);
  --sl-component-button-core-sm-border-radius: var(--sl-control-sm-border-radius);
  --sl-control-danger-focus-foreground: var(--sl-control-danger-idle-foreground);
  --sl-control-danger-focus-background: var(--sl-control-danger-idle-background);
  --sl-control-warning-focus-foreground: var(--sl-control-warning-idle-foreground);
  --sl-control-warning-focus-background: var(--sl-control-warning-idle-background);
  --sl-control-success-focus-foreground: var(--sl-control-success-idle-foreground);
  --sl-control-success-focus-background: var(--sl-control-success-idle-background);
  --sl-control-default-focus-foreground: var(--sl-control-default-idle-foreground);
  --sl-control-default-focus-background: var(--sl-control-default-idle-background);
  --sl-component-button-link-danger-focus-foreground: var(--sl-control-danger-focus-foreground);
  --sl-component-button-link-danger-focus-background: var(--sl-control-danger-focus-background);
  --sl-component-button-link-warning-focus-foreground: var(--sl-control-warning-focus-foreground);
  --sl-component-button-link-warning-focus-background: var(--sl-control-warning-focus-background);
  --sl-component-button-link-success-focus-foreground: var(--sl-control-success-focus-foreground);
  --sl-component-button-link-success-focus-background: var(--sl-control-success-focus-background);
  --sl-component-button-link-primary-focus-foreground: var(--sl-control-primary-focus-foreground);
  --sl-component-button-link-primary-focus-background: var(--sl-control-primary-focus-background);
  --sl-component-button-link-default-focus-foreground: var(--sl-control-default-focus-foreground);
  --sl-component-button-link-default-focus-background: var(--sl-control-default-focus-background);
  --sl-component-button-ghost-danger-focus-foreground: var(--sl-control-danger-focus-foreground);
  --sl-component-button-ghost-danger-focus-background: var(--sl-control-danger-focus-background);
  --sl-component-button-ghost-warning-focus-foreground: var(--sl-control-warning-focus-foreground);
  --sl-component-button-ghost-warning-focus-background: var(--sl-control-warning-focus-background);
  --sl-component-button-ghost-success-focus-foreground: var(--sl-control-success-focus-foreground);
  --sl-component-button-ghost-success-focus-background: var(--sl-control-success-focus-background);
  --sl-component-button-ghost-primary-focus-foreground: var(--sl-control-primary-focus-foreground);
  --sl-component-button-ghost-primary-focus-background: var(--sl-control-primary-focus-background);
  --sl-component-button-ghost-default-focus-foreground: var(--sl-control-default-focus-foreground);
  --sl-component-button-ghost-default-focus-background: var(--sl-control-default-focus-background);
  --sl-component-button-outline-danger-focus-foreground: var(--sl-control-danger-focus-foreground);
  --sl-component-button-outline-danger-focus-background: var(--sl-control-danger-focus-background);
  --sl-component-button-outline-warning-focus-foreground: var(--sl-control-warning-focus-foreground);
  --sl-component-button-outline-warning-focus-background: var(--sl-control-warning-focus-background);
  --sl-component-button-outline-success-focus-foreground: var(--sl-control-success-focus-foreground);
  --sl-component-button-outline-success-focus-background: var(--sl-control-success-focus-background);
  --sl-component-button-outline-primary-focus-foreground: var(--sl-control-primary-focus-foreground);
  --sl-component-button-outline-primary-focus-background: var(--sl-control-primary-focus-background);
  --sl-component-button-outline-default-focus-foreground: var(--sl-control-default-focus-foreground);
  --sl-component-button-outline-default-focus-background: var(--sl-control-default-focus-background);
  --sl-component-button-solid-danger-focus-foreground: var(--sl-control-danger-focus-foreground);
  --sl-component-button-solid-danger-focus-background: var(--sl-control-danger-focus-background);
  --sl-component-button-solid-warning-focus-foreground: var(--sl-control-warning-focus-foreground);
  --sl-component-button-solid-warning-focus-background: var(--sl-control-warning-focus-background);
  --sl-component-button-solid-success-focus-foreground: var(--sl-control-success-focus-foreground);
  --sl-component-button-solid-success-focus-background: var(--sl-control-success-focus-background);
  --sl-component-button-solid-primary-focus-foreground: var(--sl-control-primary-focus-foreground);
  --sl-component-button-solid-primary-focus-background: var(--sl-control-primary-focus-background);
  --sl-component-button-solid-default-focus-foreground: var(--sl-control-default-focus-foreground);
  --sl-component-button-solid-default-focus-background: var(--sl-control-default-focus-background);
}