:host {
  --_menu-button-inline-padding: calc(
    var(--sl-border-width-focusring-offset) + var(--sl-border-width-focusring-default)
  );
  --_panel-horizontal-padding: var(--sl-space-tab-content-horizontal-block)
    var(--sl-space-tab-content-horizontal-inline) var(--sl-space-tab-content-horizontal-block);
  --_panel-vertical-padding: var(--sl-space-tab-content-vertical-block) var(--sl-space-tab-content-vertical-inline);
  --_tablist-vertical-max-width: var(--sl-size-tabbar-vertical-maxwidth, 200px);

  background: var(--sl-elevation-surface-raised-default);
  display: flex;
  flex-direction: column;
  isolation: isolate; // Prevent any possible z-index clashes with other DOM elements
}

:host([align-tabs='center']) .fade-container {
  justify-content: center;
}

:host([align-tabs='end']) .fade-container {
  justify-content: end;
}

:host([align-tabs='stretch']) {
  .fade-container {
    justify-content: stretch;
  }

  [part='scroller'],
  ::slotted(sl-tab) {
    flex-grow: 1;
  }

  [part='tablist'] {
    inline-size: 100%;
  }
}

:host(:not([no-panels])) [part='panels'] {
  padding: var(--sl-size-300);
}

:host([scroll-start]) .fade-start,
:host([scroll-end]) .fade-end {
  visibility: visible;
}

:host([vertical]) {
  flex-direction: row;

  [part='container'] {
    border-block-end: 0;
    border-inline-end: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-inline-size: var(--_tablist-vertical-max-width);
  }

  [part='wrapper'] {
    block-size: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr) auto;
  }

  .fade {
    block-size: 6rem;
    inline-size: 100%;
    inset: auto 0;
  }

  .fade-start {
    background: linear-gradient(0deg, transparent, var(--_background));
    inset-block-start: 0;
  }

  .fade-end {
    background: linear-gradient(180deg, transparent, var(--_background));
    inset-block-end: 0;
  }

  sl-menu-button {
    padding-block-start: var(--_menu-button-inline-padding);
    padding-inline-start: 0;

    &::part(button) {
      flex: 1;
    }
  }

  [part='scroller'] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: clip scroll;
    overscroll-behavior-y: contain;
    scroll-snap-points-y: repeat(100%);
  }

  [part='tablist'] {
    flex-direction: column;
    inline-size: 100%;
  }

  .indicator {
    block-size: 100px;
    inline-size: var(--sl-size-025);
    inset: 0 0 auto auto;
    transform-origin: center top;
  }

  ::slotted(sl-tab) {
    flex-shrink: 1;
    justify-content: start;
  }

  [part='panels'] {
    padding: var(--_panel-vertical-padding);
  }
}

[part='container'] {
  background: inherit; // Sticky tabs should not have a transparent background
  border-block-end: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
  display: flex;
  inline-size: 100%;
}

[part='wrapper'] {
  display: grid;
  grid-template-columns: 1fr auto;
  inline-size: 100%;
}

.fade-container {
  display: flex;
  min-inline-size: 0;
  position: relative;
}

.fade {
  block-size: 100%;
  inline-size: 6rem;
  inset-block: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1; // Make sure the fade is above the scroller
}

.fade-start {
  background: linear-gradient(-90deg, transparent, var(--sl-elevation-surface-raised-default));
  inset-inline-start: 0;
}

.fade-end {
  background: linear-gradient(90deg, transparent, var(--sl-elevation-surface-raised-default));
  inset-inline-end: 0;
}

[part='scroller'] {
  display: flex;
  justify-content: inherit;
  overflow: scroll clip;
  overscroll-behavior-x: contain;
  scroll-behavior: instant;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

[part='tablist'] {
  display: flex;
  inline-size: fit-content;
  justify-content: inherit;
  position: relative;
}

.indicator {
  background: var(--sl-color-border-selected);
  block-size: var(--sl-size-025);
  inline-size: 100px; // Default value; actual width depends on scale transform
  inset: auto auto 0 0;
  opacity: 0;
  position: absolute;
  scale: 0 1;
  transform-origin: center left;
  transition-property: scale, translate;
  transition-timing-function: ease-in-out;
  translate: 0;

  /** z-index is set to 2 to make sure the indicator is above the tab, when that is selected, focused or hovered */
  z-index: 2;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 0.5s;
  }
}

::slotted(sl-tab:last-of-type):hover {
  position: relative;
  z-index: 2;
}

sl-menu-button {
  align-self: center;
  padding-inline-start: var(--sl-size-050);
  position: relative;
  z-index: 1;

  &::part(menu) {
    max-inline-size: min(80vw, 50%);
  }
}
