:host {
  --_tab-group-background: var(--sl-color-tab-default-background);
  --_border-bottom: var(--sl-border-width-border-tab) solid var(--sl-color-tab-default-border);
  --_tab-group-indicator-color: var(--sl-color-button-primary-solid-idle-background);
  // --indicator-color: var(--dna-primary);
  --indicator-size: 4px; // TODO: needs to come from token
  --_indicator-listbox-border-radius: var(--sl-border-radius-select-indicator);
  // --indicator-transition: var(--dna-transition-normal, 100ms ease-in-out);
  --_listbox-background: var(--sl-color-select-listbox-background);
  --_listbox-border: var(--sl-border-width-select-listbox) solid var(--sl-color-select-listbox-border);
  --_listbox-border-radius: var(--sl-border-radius-select-listbox);
  --_listbox-padding: var(--sl-space-select-listbox-block-lg) var(--sl-space-select-listbox-inline-lg);
  --_listbox-item-padding: var(--sl-space-select-item-block-lg) var(--sl-space-select-item-inline-lg);
  --_listbox-font: var(--sl-text-select-selectbox-text-lg);
  --_listbox-color: var(--sl-color-select-item-default-foreground);
  --_listbox-item-border-radius: var(--sl-border-radius-select-item);
  --_wrapper-spacing: calc(var(--sl-border-width-focusring-default) + var(--sl-border-width-focusring-offset));
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-radius: var(--sl-border-radius-focusring-default);
  --_button-shadow: -4px 0px 4px -2px rgba(0, 0, 0, 0.12); //-2px 2px 4px 0 rgba(0, 0, 0, 0.12);
  --_button-vertical-shadow: 0px -4px 4px -2px rgba(0, 0, 0, 0.12); //2px -2px 4px 0 rgba(0, 0, 0, 0.12);
  // TODO: listbox-padding etc.
  --_panel-horizontal-padding: calc(var(--sl-space-tab-content-horizontal-block) - var(--_wrapper-spacing))
    var(--sl-space-tab-content-horizontal-inline) var(--sl-space-tab-content-horizontal-block);
  --_panel-vertical-padding: var(--sl-space-tab-content-vertical-block) var(--sl-space-tab-content-vertical-inline);
  --_button-inline-padding: var(--sl-space-tab-more-inline);
  --_tablist-vertical-max-width: var(--sl-size-tabbar-vertical-maxwidth);
}

:host {
  --sl-popover-offset: 4px;
  display: flex;
  flex-direction: column;
  // gap: 8px;
  height: inherit;
  width: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  inset-block-start: calc(-1 * var(--_wrapper-spacing));
  position: sticky;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  inset-block-start: calc(-1 * var(--_wrapper-spacing));
  overflow: hidden;
  padding: var(--_wrapper-spacing);
  position: sticky;
}

[role='tablist'] {
  background-color: var(--_tab-group-background);
  border-bottom: var(--_border-bottom);
  display: flex;
  position: relative;
}

::slotted(sl-tab-panel) {
  padding: var(--_panel-horizontal-padding);
}

sl-button {
  background: var(--_tab-group-background);
  border-bottom-color: var(--sl-color-tab-default-border);
  border-bottom-style: solid;
  border-left-color: initial;
  border-left-style: initial;
  border-radius: 0;
  border-right-color: initial;
  border-right-style: initial; // TODO: improve
  border-top-color: initial;
  border-top-style: initial;
  border-width: 0 0 1px;
  box-shadow: var(--_button-shadow);
  inset-inline-end: 0;
  margin: 4px 0;
  padding-block: 0;
  padding-inline: var(--_button-inline-padding);
  position: sticky;
  z-index: 1;

  &:hover {
    background-color: var(--sl-color-select-item-hover-background);
  }

  &:focus-visible {
    border-radius: var(--_focus-radius);
  }
}

:host([vertical='true']) {
  flex-direction: row;

  .container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: var(--_tablist-vertical-max-width);
  }

  .wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
  }

  [role='tablist'] {
    border-bottom: 0;
    border-right: var(--_border-bottom);
    flex: 0 0 auto;
    flex-direction: column;
  }

  .indicator {
    height: 1px;
    inset: 0 0 auto auto;
    transform-origin: center top;
    width: var(--indicator-size);
  }

  ::slotted(sl-tab) {
    justify-content: flex-start;
  }

  ::slotted(sl-tab-panel) {
    padding: var(--_panel-vertical-padding);
  }

  sl-button {
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-left-color: initial; // TODO: improve
    border-left-style: initial;
    border-right-color: var(--sl-color-tab-default-border);
    border-right-style: solid;
    border-top-color: initial;
    border-top-style: initial;
    border-width: 0 1px 0 0;
    box-shadow: var(--_button-vertical-shadow);
    inset-block-end: 0;
    margin: 0 4px;
    padding-block: var(--_button-inline-padding);
    padding-inline: 0;
    position: sticky;
    z-index: 1;
  }
}

.indicator-listbox {
  border-radius: var(--_indicator-listbox-border-radius);
  height: 1px;
  inset: 0 auto auto var(--sl-space-select-listbox-inline-lg);
  transform-origin: center top;
  width: var(--indicator-size);
}

:host([vertical='false']) [role='tablist'] {
  --_sl-tab-group-list-background: #fff;
  --sl-color-border-strong: rgb(188, 197, 204);
  --sl-space-s: 8px;
  --sl-space-l: 24px;
  --sl-space-xl: 36px;
  --sl-tab-group-padding: 24px;

  //background-color: var(--_sl-tab-group-list-background);
  //background-image: radial-gradient(
  //  ellipse farthest-side at 0 50%,
  //  var(--sl-color-border-strong) 0,
  //  var(--_sl-tab-group-list-background)
  //),
  //  radial-gradient(
  //  ellipse farthest-side at 100% 50%,
  //  var(--sl-color-border-strong) 0,
  //  var(--_sl-tab-group-list-background)
  //);
  background-position: 0 calc(var(--sl-space-s) / 2), 100% calc(var(--sl-space-s) / 2);
  background-repeat: no-repeat;
  background-size: var(--sl-space-s) var(--sl-space-xl), var(--sl-space-s) var(--sl-space-xl);
  flex-wrap: nowrap;

  &::before,
  &::after {
    align-self: stretch; /* Match the height of the tabs. */
    box-sizing: content-box; /* Content box to use padding for spacing. */
    content: '';
    margin-block-end: 1px; /* Prevent overlapping the key line. */
    // min-inline-size: var(--sl-space-l);
    pointer-events: none;
  }

  /* Cancel out the masks own width with margin, use padding for tab list padding */
  &::before {
    box-shadow: inset var(--sl-space-l) 0 var(--sl-space-s) calc(-1 * var(--sl-space-s)) var(--_sl-tab-list-background);
    //  margin-inline-end: calc(-1 * (var(--sl-space-l) + var(--sl-space-s)));
    //  padding-inline-start: var(--sl-tab-group-padding);
  }

  &::after {
    box-shadow: inset calc(-1 * var(--sl-space-l)) 0 var(--sl-space-s) calc(-1 * var(--sl-space-s))
      var(--_sl-tab-list-background);
    flex: 1; /* Stretch the last mask to make sure the shadow is always masked */
    //  margin-inline-start: calc(-1 * (var(--sl-space-l) + var(--sl-space-s)));
    //  padding-inline-end: var(--sl-tab-group-padding);
  }

  ::slotted(sl-tab) {
    // flex: 1;
    white-space: nowrap;
  }

  .indicator {
    height: var(--indicator-size);
    inset: auto auto 0 0;
    transform-origin: center left;
    width: 1px;
  }
}

:host([vertical='false'][alignment='filled']) [role='tablist'] {
  ::slotted(sl-tab) {
    width: 100%;
  }
}

.indicator,
.indicator-listbox {
  background: var(--_tab-group-indicator-color);
  position: absolute;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .indicator {
    transition: transform 500ms ease-in-out;
  }

  .indicator-listbox {
    transition: transform 50ms ease-in-out;
  }
}

div[popover] {
  background-color: var(--_listbox-background);
  border: var(--_listbox-border);
  border-radius: var(--_listbox-border-radius);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  overflow-x: hidden; //because of firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=764076
  overflow-y: auto;
  padding: var(--_listbox-padding);
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);

  sl-tab {
    border-radius: var(--_listbox-item-border-radius);
    color: var(--_listbox-color);
    font: var(--_listbox-font);
    justify-content: flex-start;
    padding: var(--_listbox-item-padding);
    transition: background 300ms;
  }

  sl-tab:hover {
    background-color: var(--sl-color-select-item-hover-background);
  }

  sl-tab:active {
    background-color: var(--sl-color-select-item-active-background);
  }

  sl-tab[disabled] {
    color: var(--sl-color-select-item-disabled-foreground);
  }

  sl-tab::part(subtitle),
  sl-tab::part(icon),
  sl-tab::part(badge) {
    display: none;
  }

  @supports not selector(:popover-open) {
    position: fixed;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &:where(:popover-open, .\\:popover-open) {
    /* stylelint-disable-next-line max-nesting-depth, scss/at-rule-no-unknown */
    @starting-style {
      display: flex;
      opacity: 0;
    }

    //background: #00e0e0;
    display: flex;
    opacity: 1;
  }
}
