:host {
  --_padding: var(--sl-space-tab-content-block) var(--sl-space-tab-content-inline);
}

:host {
  padding: var(--_padding);
}

:host([aria-hidden='true']) {
  display: none;
  pointer-events: none;
}
