:host {
  --_wrapper-spacing: calc(var(--sl-border-width-focusring-default) + var(--sl-border-width-focusring-offset));
  --_padding: calc(var(--sl-space-tab-content-block) - var(--_wrapper-spacing)) var(--sl-space-tab-content-inline)
    var(--sl-space-tab-content-block);
}

:host {
  padding: var(--_padding);
}

:host([aria-hidden='true']) {
  display: none;
  pointer-events: none;
}
