:host {
  --_tab-group-background: var(--sl-color-tab-default-background);
  --_border-bottom: var(--sl-border-width-border-tab) solid var(--sl-color-tab-default-border);
  --_tab-group-indicator-color: var(--sl-color-button-primary-solid-idle-background);
  --_indicator-size: var(--sl-size-select-indicator);
  --_indicator-listbox-border-radius: var(--sl-border-radius-select-indicator);
  --_listbox-background: var(--sl-color-select-listbox-background);
  --_listbox-border: var(--sl-border-width-select-listbox) solid var(--sl-color-select-listbox-border);
  --_listbox-border-radius: var(--sl-border-radius-select-listbox);
  --_listbox-padding: var(--sl-space-select-listbox-block-lg) var(--sl-space-select-listbox-inline-lg);
  --_listbox-item-padding: var(--sl-space-select-item-block-lg) var(--sl-space-select-item-inline-lg);
  --_listbox-font: var(--sl-text-select-selectbox-text-lg);
  --_listbox-color: var(--sl-color-select-item-default-foreground);
  --_listbox-item-border-radius: var(--sl-border-radius-select-item);
  --_wrapper-spacing: calc(var(--sl-border-width-focusring-default) + var(--sl-border-width-focusring-offset));
  --_focus-radius: var(--sl-border-radius-focusring-default);
  --_button-shadow: -4px 0px 4px -2px rgba(0, 0, 0, 0.12);
  --_button-vertical-shadow: 0px -4px 4px -2px rgba(0, 0, 0, 0.12);
  --_panel-horizontal-padding: calc(var(--sl-space-tab-content-horizontal-block) - var(--_wrapper-spacing))
    var(--sl-space-tab-content-horizontal-inline) var(--sl-space-tab-content-horizontal-block);
  --_panel-vertical-padding: var(--sl-space-tab-content-vertical-block) var(--sl-space-tab-content-vertical-inline);
  --_button-inline-padding: var(--sl-space-tab-more-inline);
  --_tablist-vertical-max-width: var(--sl-size-tabbar-vertical-maxwidth);
}

:host {
  --sl-popover-offset: 4px;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  inset-block-start: calc(-1 * var(--_wrapper-spacing));
  position: sticky;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  inset-block-start: calc(-1 * var(--_wrapper-spacing));
  overflow: hidden;
  padding: var(--_wrapper-spacing);
  position: sticky;
}

[role='tablist'] {
  background-color: var(--_tab-group-background);
  border-bottom: var(--_border-bottom);
  display: flex;
  position: relative;
}

::slotted(sl-tab-panel) {
  padding: var(--_panel-horizontal-padding);
}

sl-button {
  background-color: var(--_tab-group-background);
  border-bottom: 1px solid var(--sl-color-tab-default-border);
  border-radius: 0;
  border-right: 0;
  box-shadow: var(--_button-shadow);
  inset-inline-end: 0;
  margin: var(--_wrapper-spacing) 0;
  padding-block: 0;
  padding-inline: var(--_button-inline-padding);
  position: sticky;
  z-index: 1;

  &:hover {
    background-color: var(--sl-color-select-item-hover-background);
  }

  &:focus-visible {
    border-radius: var(--_focus-radius);
  }
}

:host([vertical='true']) {
  flex-direction: row;

  .container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: var(--_tablist-vertical-max-width);
  }

  .wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
  }

  [role='tablist'] {
    border-bottom: 0;
    border-right: var(--_border-bottom);
    flex: 0 0 auto;
    flex-direction: column;
  }

  .indicator {
    height: 1px;
    inset: 0 0 auto auto;
    transform-origin: center top;
    width: var(--_indicator-size);
  }

  ::slotted(sl-tab) {
    justify-content: flex-start;
  }

  ::slotted(sl-tab-panel) {
    padding: var(--_panel-vertical-padding);
  }

  sl-button {
    border-bottom: 0;
    border-right: 1px solid var(--sl-color-tab-default-border);
    box-shadow: var(--_button-vertical-shadow);
    inset-block-end: 0;
    margin: 0 var(--_wrapper-spacing);
    padding-block: var(--_button-inline-padding);
    padding-inline: 0;
    position: sticky;
    z-index: 1;
  }
}

.indicator-listbox {
  border-radius: var(--_indicator-listbox-border-radius);
  height: 1px;
  inset: 0 auto auto var(--sl-space-select-listbox-inline-lg);
  transform-origin: center top;
  width: var(--_indicator-size);
}

:host([vertical='false']) [role='tablist'] {
  ::slotted(sl-tab) {
    white-space: nowrap;
  }

  .indicator {
    height: var(--_indicator-size);
    inset: auto auto 0 0;
    transform-origin: center left;
    width: 1px;
  }
}

:host([vertical='false'][alignment='filled']) [role='tablist'] {
  ::slotted(sl-tab) {
    width: 100%;
  }
}

.indicator,
.indicator-listbox {
  background-color: var(--_tab-group-indicator-color);
  position: absolute;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .indicator {
    transition: transform 500ms ease-in-out;
  }

  .indicator-listbox {
    transition: transform 50ms ease-in-out;
  }
}

div[popover] {
  background-color: var(--_listbox-background);
  border: var(--_listbox-border);
  border-radius: var(--_listbox-border-radius);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: var(--_gap); // TODO: need a token for this one
  margin: 0;
  overflow-x: hidden; //because of firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=764076
  overflow-y: auto;
  padding: var(--_listbox-padding);
  transition: opacity 0.2s cubic-bezier(0.25, 0, 0.3, 1);

  sl-tab {
    border-radius: var(--_listbox-item-border-radius);
    color: var(--_listbox-color);
    font: var(--_listbox-font);
    justify-content: flex-start;
    padding: var(--_listbox-item-padding);
    transition: background 300ms;
  }

  sl-tab:hover {
    background-color: var(--sl-color-select-item-hover-background);
  }

  sl-tab:active {
    background-color: var(--sl-color-select-item-active-background);
  }

  sl-tab[disabled] {
    color: var(--sl-color-select-item-disabled-foreground);
  }

  sl-tab::part(subtitle),
  sl-tab::part(icon),
  sl-tab::part(badge) {
    display: none;
  }

  @supports not selector(:popover-open) {
    position: fixed;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &:where(:popover-open, .\\:popover-open) {
    /* stylelint-disable-next-line max-nesting-depth, scss/at-rule-no-unknown */
    @starting-style {
      display: flex;
      opacity: 0;
    }

    display: flex;
    opacity: 1;
  }
}
