:host {
  --_background: var(--sl-color-tab-default-background);
  --_background-active: var(--sl-color-tab-active-background);
  --_background-hover: var(--sl-color-tab-hover-background);
  --_badge-spacing: var(--sl-space-badge-inline-lg);
  --_badge-translateX: 4px;
  --_badge-translateY: -6px;
  --_color: var(--sl-color-tab-default-foreground);
  --_color-disabled: var(--sl-color-tab-disabled-foreground);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-radius: var(--sl-border-radius-focusring-default);
  --_font: var(--sl-text-tab-title);
  --_font-subtitle: var(--sl-text-tab-subtitle);
  --_gap: var(--sl-space-tab-gap);
  --_icon-block-size: var(--sl-text-typeset-line-height-md);
  --_padding-block: var(--sl-space-tab-block);
  --_padding-inline: var(--sl-space-tab-inline);

  background: var(--_background);
  color: var(--_color);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  min-inline-size: fit-content;
  outline: 0;
  scroll-snap-align: start;
  transition: background 300ms;
}

:host(:hover) {
  background: var(--_background-hover);
  position: relative;
  z-index: 1; // Ensure the hover state is on top of any menu-button gradient
}

:host(:active) {
  background: var(--_background-active);
}

:host([disabled]) {
  --_color: var(--_color-disabled);

  pointer-events: none;

  slot[name='icon']::slotted(sl-icon) {
    fill: var(--_color-disabled);
  }
}

:host([has-icon]:not([has-title])) {
  a,
  .wrapper {
    --_padding-inline: var(--_padding-block);
  }
}

:host([has-title]) .content {
  display: flex;
}

:host([has-subtitle]) .title {
  font: var(--_font);
}

:host(:focus-visible) {
  border-radius: var(--_focus-radius);
  outline: var(--_focus-outline);
  outline-offset: calc(var(--_focus-outline-offset) * -1);
  z-index: 1;
}

a,
.wrapper {
  align-items: start;
  display: flex;
  gap: var(--_gap);
  justify-content: center;
  outline: 0;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);

  // &:focus-visible {
  //  border-radius: var(--_focus-radius);
  //  outline: var(--_focus-outline);
  //  outline-offset: calc(var(--_focus-outline-offset) * -1);
  //  z-index: 1;
  // }
}

a {
  color: var(--_color);
  text-decoration: none;

  &:hover {
    color: var(--_color);
    text-decoration: none;
  }
}

slot[name='icon']::slotted(sl-icon) {
  block-size: var(--_icon-block-size);
  fill: var(--_color);
}

.content {
  display: none;
  flex-direction: column;
}

.title {
  font: var(--_font-subtitle);
  inline-size: fit-content;
  position: relative;
}

slot[name='badge']::slotted(sl-badge) {
  transform: translate(var(--_badge-translateX), var(--_badge-translateY));
}

slot[name='subtitle'] {
  font: var(--_font-subtitle);
}

:host(.listbox-tab) {
  border-radius: var(--_listbox-item-border-radius);
  color: var(--_listbox-color);
  font: var(--_listbox-font);
  justify-content: flex-start;
  padding: var(--_listbox-item-padding);
  transition: background 300ms;

  slot[name='subtitle'],
  slot[name='icon'],
  slot[name='badge'] {
    display: none;
  }
}

:host(.listbox-tab:hover) {
  background-color: var(--sl-color-select-item-hover-background);
}

:host(.listbox-tab:active) {
  background-color: var(--sl-color-select-item-active-background);
}

:host(.listbox-tab[selected])::before {
  background: var(--_indicator-color);
  border-radius: var(--_indicator-listbox-border-radius);
  content: '';
  inline-size: var(--_indicator-size);
  inset: 0 auto 0 0;
  position: absolute;
}
