:host {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  //justify-content: center;
  flex-direction: column;
  //display: inline-block;
  line-height: 36px;
  padding: 0 3px;
}

//:host([selected]) {
//  font-weight: bold;
//}

:host([disabled]) {
  opacity: 0.6;
  pointer-events: none;
}
