/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 37 54 70;
  --sl-color-palette-danger-base: 211 37 52;
  --sl-color-palette-danger-900: 119 21 29;
  --sl-color-palette-danger-800: 159 28 39;
  --sl-color-palette-danger-700: 189 33 46;
  --sl-color-palette-danger-600: 218 43 58;
  --sl-color-palette-danger-500: 225 86 98;
  --sl-color-palette-danger-400: 232 121 131;
  --sl-color-palette-danger-300: 237 155 162;
  --sl-color-palette-danger-200: 243 185 190;
  --sl-color-palette-danger-150: 248 213 216;
  --sl-color-palette-danger-100: 251 234 235;
  --sl-color-palette-danger-50: 255 253 253;
  --sl-color-palette-warning-base: 247 153 40;
  --sl-color-palette-warning-900: 148 83 6;
  --sl-color-palette-warning-800: 178 99 7;
  --sl-color-palette-warning-700: 200 111 8;
  --sl-color-palette-warning-600: 224 125 8;
  --sl-color-palette-warning-500: 246 142 20;
  --sl-color-palette-warning-400: 248 169 76;
  --sl-color-palette-warning-300: 250 192 125;
  --sl-color-palette-warning-200: 252 213 168;
  --sl-color-palette-warning-150: 253 230 203;
  --sl-color-palette-warning-100: 254 244 232;
  --sl-color-palette-warning-50: 255 254 252;
  --sl-color-palette-success-base: 0 122 100;
  --sl-color-palette-success-900: 29 74 66;
  --sl-color-palette-success-800: 23 90 78;
  --sl-color-palette-success-700: 13 107 90;
  --sl-color-palette-success-600: 3 125 103;
  --sl-color-palette-success-500: 23 144 122;
  --sl-color-palette-success-400: 50 163 142;
  --sl-color-palette-success-300: 137 208 190;
  --sl-color-palette-success-200: 167 219 196;
  --sl-color-palette-success-150: 217 239 208;
  --sl-color-palette-success-100: 240 249 236;
  --sl-color-palette-success-50: 253 254 252;
  --sl-color-palette-info-base: 158 201 210;
  --sl-color-palette-info-900: 32 51 64;
  --sl-color-palette-info-800: 45 72 90;
  --sl-color-palette-info-700: 54 86 106;
  --sl-color-palette-info-600: 65 104 129;
  --sl-color-palette-info-500: 68 125 143;
  --sl-color-palette-info-400: 86 139 155;
  --sl-color-palette-info-300: 158 201 210;
  --sl-color-palette-info-200: 197 223 227;
  --sl-color-palette-info-150: 238 247 249;
  --sl-color-palette-info-100: 243 249 247;
  --sl-color-palette-info-50: 255 254 252;
  --sl-color-palette-neutral-base: 152 162 176;
  --sl-color-palette-neutral-900: 59 67 77;
  --sl-color-palette-neutral-800: 78 88 101;
  --sl-color-palette-neutral-700: 92 104 119;
  --sl-color-palette-neutral-600: 107 121 139;
  --sl-color-palette-neutral-500: 127 140 157;
  --sl-color-palette-neutral-400: 150 161 174;
  --sl-color-palette-neutral-300: 174 182 193;
  --sl-color-palette-neutral-200: 199 204 212;
  --sl-color-palette-neutral-150: 230 230 230;
  --sl-color-palette-neutral-100: 243 243 243;
  --sl-color-palette-neutral-50: 0 0 0;
  --sl-color-palette-accent-base: 239 182 63;
  --sl-color-palette-accent-900: 145 104 12;
  --sl-color-palette-accent-800: 171 123 14;
  --sl-color-palette-accent-700: 190 137 16;
  --sl-color-palette-accent-600: 210 151 18;
  --sl-color-palette-accent-500: 231 166 19;
  --sl-color-palette-accent-400: 239 186 67;
  --sl-color-palette-accent-300: 244 206 121;
  --sl-color-palette-accent-200: 248 223 166;
  --sl-color-palette-accent-150: 250 235 200;
  --sl-color-palette-accent-100: 253 245 228;
  --sl-color-palette-accent-50: 255 254 252;
  --sl-color-palette-primary-base: 43 64 90;
  --sl-color-palette-primary-900: 43 62 79;
  --sl-color-palette-primary-800: 58 84 106;
  --sl-color-palette-primary-700: 69 100 126;
  --sl-color-palette-primary-600: 81 118 149;
  --sl-color-palette-primary-500: 98 137 170;
  --sl-color-palette-primary-400: 126 158 185;
  --sl-color-palette-primary-300: 148 175 197;
  --sl-color-palette-primary-200: 174 198 218;
  --sl-color-palette-primary-150: 197 222 242;
  --sl-color-palette-primary-100: 239 248 255;
  --sl-color-palette-primary-50: 254 254 254;
}
