[data-Density='compact'] {
  --sl-space-multiplier: 0.75;
  --sl-variable-space-010: var(--sl-computed-compact-variable-space-010);
  --sl-variable-space-025: var(--sl-computed-compact-variable-space-025);
  --sl-variable-space-050: var(--sl-computed-compact-variable-space-050);
  --sl-variable-space-075: var(--sl-computed-compact-variable-space-075);
  --sl-variable-space-100: var(--sl-computed-compact-variable-space-100);
  --sl-variable-space-1000: var(--sl-computed-compact-variable-space-1000);
  --sl-variable-space-125: var(--sl-computed-compact-variable-space-125);
  --sl-variable-space-150: var(--sl-computed-compact-variable-space-150);
  --sl-variable-space-200: var(--sl-computed-compact-variable-space-200);
  --sl-variable-space-300: var(--sl-computed-compact-variable-space-300);
  --sl-variable-space-400: var(--sl-computed-compact-variable-space-400);
  --sl-variable-space-500: var(--sl-computed-compact-variable-space-500);
  --sl-variable-space-600: var(--sl-computed-compact-variable-space-600);
  --sl-variable-space-700: var(--sl-computed-compact-variable-space-700);
  --sl-variable-space-800: var(--sl-computed-compact-variable-space-800);
}
