{%- for component in collections.components -%}{%- for module in custom-elements.custom-elements.modules -%}{%- if page.url == component.url -%}{%- for declaration in module.declarations -%}
{%- for tagName in component.data.componentTagName -%}{%- for tagName in component.data.componentTagName -%}{%- if declaration.tagName == tagName.selector -%}
<h1>{{ tagName.name }}</h1>
{%- if declaration.members.length -%}
  <section>{{ declaration.members.length }} {{ declaration.members }}
  <h2 id="properties" tabindex="-1"><a class="header-anchor" href="#properties">Properties</a></h2>
  <div class="ds-table-wrapper"><table class="ds-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Parameters</th>
        <th>Return</th>
        <th class="ds-table__description">Description</th>
      </tr>
      </thead>
      <tbody>
        {% for member in declaration.members -%}{% if member.privacy == null %}{% if member.kind == "field" %}
        <tr>
          <td><code>{{member.name}}</code></td>
          <td>{%- for type in member.type -%}
          {% if type %}<code>{{type}}</code>{% endif %}
          {% endfor -%}</td>
          <td>{% if member.default %}<code>{{member.default}}</code>{% endif %}</td>
          <td class="ds-table__description">{{member.description}}</td>
        </tr>{% endif %}{% endif %}{% endfor -%}
      </tbody>
    </table>
  </div>
</section>
  {{ declaration.members.length }}
  {%- if declaration.members.kind  -%}
    <h3>members-in-if</h3>
  {% endif %}
  {%- for members in declaration.members -%}
    members --- {{ members.kind }}
      {% for kind in members.kind | groupby("kind") %}
        members.kind length {{ members.kind.length }} {{ forloop.index0 }}
        {% if forloop.first %}
          aaa forloooop-first {{ kind }}
        {% endif %}
        {% if forloop.index0 < 1 %}
          aaa forloooop {{ kind }}
        {% endif %}
        {%- if kind == "method" -%}
          Kind is a method
          <h2 id="methods" tabindex="-1"><a class="header-anchor" href="#methods">Methods</a></h2>
<table class="ds-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Parameters</th>
    <th>Return</th>
    <th class="ds-table__description">Description</th>
  </tr>
  </thead>
</table>
        {% endif %}
      {% endfor %}
  {% endfor -%}
<section>
  <h2 id="methods" tabindex="-1"><a class="header-anchor" href="#methods">Methods</a></h2>
  <div class="ds-table-wrapper">
    <table class="ds-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Parameters</th>
          <th>Return</th>
          <th class="ds-table__description">Description</th>
        </tr>
      </thead>
      <tbody>
      {%- for member in declaration.members -%}{% if member.privacy == null %}{% if member.kind == "method" %}
        <tr>
          <td><code>{{member.name}} {{ loop.index0 }} {{ loop.index }} {{ member[kind] }}</code></td>
          <td>{% for parameter in member.parameters -%}
              {% if parameter %}<code>{{parameter.name}}: {{ parameter.type.text }}</code>{% endif %}
            {% endfor -%}</td>
          <td>{% if member.return.type.text %}<code>{{member.return.type.text}}</code>{% endif %}</td>
          <td class="ds-table__description">{{member.description}}</td>
        </tr>{% endif %}{% endif %}{% endfor -%}
      </tbody>
    </table>
  </div>
</section>{% endif -%}{% if declaration.slots.length %}
<section>
  <h2 id="slots" tabindex="-1"><a class="header-anchor" href="#slots">Slots</a></h2>
  <div class="ds-table-wrapper">
  <table class="ds-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>{% for slot in declaration.slots -%}
      <tr>
        <td><code>{{slot.name}}</code></td>
        <td>{{slot.description}}</td>
      </tr>
    {% endfor -%}
    </tbody>
  </table>
    </div>
</section>{% endif %}{%- if declaration.attributes.length %}
<section>
 <h2 id="attributes" tabindex="-1"><a class="header-anchor" href="#attributes">Attributes</a></h2>
 <div class="ds-table-wrapper">
   <table class="ds-table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Type</th>
         <th>Default</th>
         <th class="ds-table__description">Description</th>
       </tr>
     </thead>
     <tbody>{%- for attribute in declaration.attributes -%}
       <tr>
         <td><code>{{attribute.name}}</code></td>
         <td>{% if attribute.type.text %}<code>{{attribute.type.text}}</code>{% endif %}</td>
         <td>{% if attribute.default %}<code>{{attribute.default}}</code>{% endif %}</td>
         <td class="ds-table__description">{{attribute.description}}</td>
       </tr>{% endfor -%}
     </tbody>
   </table>
 </div>
</section>
{%- endif -%}{%- endif -%}{%- endfor -%}{%- endfor -%}{%- endfor -%}{%- endif -%}{%- endfor -%}{%- endfor -%}
