{% for component in collections.components -%}
  {% for module in custom-elements.custom-elements.modules -%}
    {{ module[0] }}
    {% if page.url == component.url %}
      {{ component.url }}
      {% for declaration in module.declarations -%}
        <h1>declaration.tagName --- {{ declaration.tagName }} --- {{ component.data.componentTagName }} --- {{ component.data.componentTagName.length }}</h1>
      {% for tagName in component.data.componentTagName -%}
        <h3>tagName in for >>> {{ tagName }} >>> {{ declaration.tagName }} {{ component.data.componentTagName }} {{ declaration.tagName == component.data.componentTagName }}</h3>
        {% if declaration.tagName == component.data.componentTagName %}
          {% if declaration.members.length %}
            {{ declaration.tagName }} {{ declaration.name }} {{ module.exports.name }} {{ component.data.componentTagName }} {{ component.url }}
<section>
  <h2 id="properties" tabindex="-1"><a class="header-anchor" href="#properties">Properties</a></h2>
  <div class="ds-table-wrapper">
    <table class="ds-table"><thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="ds-table__description">Description</th>
      </tr></thead>
      <tbody>
      {% for member in declaration.members -%}{% if member.privacy == null %}{% if member.kind == "field" %}<tr>
            <td><code>{{member.name}}</code></td>
            <td>{% for type in member.type -%}
                {% if type %}<code>{{type}}</code>{% endif %}
            {% endfor -%}</td>
            <td>{% if member.default %}<code>{{member.default}}</code>{% endif %}</td>
            <td class="ds-table__description">{{member.description}}</td>
          </tr>{% endif %}{% endif %}{% endfor -%}
      </tbody>
    </table>
  </div>
</section>
{% endif %}
{% if declaration.members.length %}{% if member.privacy == null %}{% if member.kind == "method" %}
  {{ declaration.members.length }} {{ declaration.members[0].name }} {{ declaration.members[0].kind }}
<section>
  <h2 id="methods" tabindex="-1"><a class="header-anchor" href="#methods">Methods</a></h2>
  <div class="ds-table-wrapper">
    <table class="ds-table"><thead>
      <tr>
        <th>Name</th>
        <th>Parameters</th>
        <th>Return</th>
        <th class="ds-table__description">Description</th>
      </tr></thead>
      <tbody>
      {% for member in declaration.members -%}{% if member.privacy == null %}{% if member.kind == "method" %}<tr>
        <td><code>{{member.name}}</code></td>
        <td>{% for parameter in member.parameters -%}
            {% if parameter %}<code>{{parameter.name}}: {{ parameter.type.text }}</code>{% endif %}
          {% endfor -%}</td>
        <td>{% if member.return.type.text %}<code>{{member.return.type.text}}</code>{% endif %}</td>
        <td class="ds-table__description">{{member.description}}</td>
        </tr>{% endif %}{% endif %}{% endfor -%}
      </tbody>
    </table>
  </div>
</section>
{% endif %}{% endif %}{% endif -%}
{% if declaration.slots.length %}
<section>
  <h2 id="slots" tabindex="-1"><a class="header-anchor" href="#slots">Slots</a></h2>
  <div class="ds-table-wrapper">
    <table class="ds-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      {% for slot in declaration.slots -%}
        <tr>
          <td><code>{{slot.name}}</code></td>
          <td>{{slot.description}}</td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>
</section>
{% endif %}
{% if declaration.attributes.length %}
<section>
  <h2 id="attributes" tabindex="-1"><a class="header-anchor" href="#attributes">Attributes</a></h2>
  <div class="ds-table-wrapper">
    <table class="ds-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th class="ds-table__description">Description</th>
      </tr>
      </thead>
      <tbody>
      {% for attribute in declaration.attributes -%}
        <tr>
          <td><code>{{attribute.name}}</code></td>
          <td>{% if attribute.type.text %}<code>{{attribute.type.text}}</code>{% endif %}</td>
          <td>{% if attribute.default %}<code>{{attribute.default}}</code>{% endif %}</td>
          <td class="ds-table__description">{{attribute.description}}</td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>
</section>
          {% endif %}
        {% endif %}
      {% endfor -%}
      {% endfor -%}
    {% endif %}
  {% endfor -%}
{% endfor -%}
