/* stylelint-disable selector-class-pattern */
[popover],
:host(:where([popover])) {
  background-color: canvas;
  border-color: initial;
  border-image: initial;
  border-style: solid;
  border-width: initial;
  color: canvastext;
  height: fit-content;
  margin: auto;
  overflow: auto;
  padding: 0.25em;
  position: fixed;
  width: fit-content;
  z-index: 2147483647;
}

[popover] {
  inset: 0;
}

[popover]:not(.\\:popover-open),
:host([popover]:not(.\\:popover-open)) {
  display: none;
}

[popover]:is(dialog[open]) {
  display: revert;
}

[anchor].\\:popover-open {
  inset: auto;
}

@supports selector([popover]:popover-open) {
  [popover]:not(.\\:popover-open, dialog[open]),
  :host([popover]:not(.\\:popover-open, dialog[open])) {
    display: revert;
  }

  [anchor]:is(:popover-open) {
    inset: auto;
  }
}
