@font-face {
  font-family: the-message-beta03;
  font-weight: 400;
  src: url('./fonts/TheMessageBeta03-Regular.woff2') format('woff2');
}

@font-face {
  font-family: the-message-beta03;
  font-weight: 600;
  src: url('./fonts/TheMessageBeta03-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: the-message-beta03;
  font-weight: 700;
  src: url('./fonts/TheMessageBeta03-Bold.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03;
  font-weight: 400;
  src: url('./fonts/TheMessageTextBeta03-Regular.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03;
  font-weight: 600;
  src: url('./fonts/TheMessageTextBeta03-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03;
  font-weight: 700;
  src: url('./fonts/TheMessageTextBeta03-Bold.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03-condensed;
  font-weight: 400;
  src: url('./fonts/TheMessageTextBeta03Condensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03-condensed;
  font-weight: 600;
  src: url('./fonts/TheMessageTextBeta03Condensed-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: the-message-text-beta03-condensed;
  font-weight: 700;
  src: url('./fonts/TheMessageTextBeta03Condensed-Bold.woff2') format('woff2');
}
