:host {
  --_background: var(--sl-color-input-text-field-default-default-background);
  --_border-color: var(--sl-color-input-text-field-default-default-border);
  --_border-size: var(--sl-border-width-input-border);
  --_border: var(--_border-size) solid var(--_border-color);
  --_border-radius: var(--sl-border-radius-default);
  --_cursor: text;
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_font: var(--sl-text-input-text-field-text-md);
  --_padding-block: 8px;
  --_padding-inline: 8px;
  --_transition: 200ms ease-in-out;

  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  cursor: var(--_cursor);
  display: block;
  font: var(--_font);
  outline: none;
  transition: var(--_transition);
  transition-property: background, border, color, filter, outline-color;
}

:host([disabled]) {
  --_cursor: default;

  pointer-events: none;
}

:host(:focus) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

.mount {
  outline: none;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
}

h1 {
  margin-block: 0 8px;
}

p {
  margin-block: 0 4px;
}
