@import "./../../breakpoints";

.feedback-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-block-end: 2rem;

  @media (min-width: $md-lg-breakpoint) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.feedback-card__icon-panel {
  align-items: center;
  background: var(--sl-color-background-accent-grey-subtlest);
  block-size: 22rem;
  border: 1px solid var(--sl-color-border-neutral-subtle);
  border-radius: var(--sl-size-borderRadius-md);
  display: flex;
  inline-size: 22rem;
  justify-content: center;

  @media (min-width: $md-lg-breakpoint) {
    block-size: 20rem;
    inline-size: 20rem;
    min-inline-size: 20rem;
  }
}

.feedback-card__content {
  flex: 1;
  inline-size: 100%;
  padding: 1.2rem 2rem;

  @media (min-width: $md-lg-breakpoint) {
    padding: 0 2rem;
  }

  ul {
    margin: 0;
    margin-block-start: 0.4rem;
    padding-inline-start: 1.5rem;
  }

  p strong {
    display: inline-block;
    margin-block-start: 1rem;
  }
}

.ds-subpage-section__wrapper .feedback-card__content h3 {
  margin-block-start: 0;
  margin-block-end: 1.4rem;
}
