@import './../breakpoints';

.ds-container {
  margin-left: 0;
  padding: 5.6rem 4.2rem 0;
  transform: translateX(0);
  transition: transform 400ms, background 300ms ease-in-out, opacity 300ms;
  width: 100%;
}

@media screen and (min-width: $md-breakpoint) {
  .ds-container {
    padding: 3.6rem 7.2rem 0;
    transform: translateX(27.2rem);
    transition: transform 400ms;
    width: calc(100% - 27.2rem);
  }
}

.header-anchor {
  font-size: inherit;
  text-decoration: none;
}
