$md-breakpoint: 600px;
// TODO breakpoints move to other file with breakpoints

.ds-top-navigation {
  background: var(--background-color);
  border-bottom: 1px solid #eaeaea;
  display: block;
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.ds-sidebar {
  background: var(--second-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  position: fixed;
  transform: translateX(-27.2rem);
  transition: transform 400ms;
  width: 27.2rem; //272px;
  z-index: 1;
}

.ds-sidebar-nav__close-button {
  background-color: transparent;
  background-image: url('../assets/icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 0;
  height: 24px;
  opacity: 0.8;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: 300ms;
  width: 24px;

  &:hover {
    filter: brightness(1.75);
  }
}

.ds-sidebar__bottom-section {
  position: relative;
}

.ds-sidebar__help {
  background-image: var(--help-icon); //url('../assets/icons/messages-question.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  bottom: 26px;
  color: #eff2fb;
  font-size: 1.6rem;
  margin-left: 40px;
  padding-left: 24px;
  position: absolute;
  text-decoration: none;
}

.ds-sidebar--opened {
  left: 0;
  transform: translateX(0);
}

.ds-sidebar--closed {
  transform: translateX(-27.2rem);

  .ds-sidebar-nav,
  .ds-sidebar__help {
    visibility: hidden;
  }
}

.ds-sidebar--opened + .ds-container::before {
  backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: var(--filter-color); //rgba(34, 34, 34, 0.64);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.ds-top-navigation__hamburger {
  background-color: transparent;
  background-image: url('../assets/icons/hamburger.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  height: 32px;
  margin: 8px 16px;
  transition: 300ms;
  width: 32px;

  &:hover {
    filter: brightness(3.5);
  }
}

@media screen and (min-width: $md-breakpoint) {
  .ds-top-navigation {
    display: none;
  }

  .ds-sidebar {
    left: 0;
    transform: translateX(0);
    transition: transform 400ms;
  }

  .ds-sidebar--closed {
    .ds-sidebar-nav,
    .ds-sidebar__help {
      visibility: visible;
    }
  }

  .ds-sidebar-nav__close-button {
    display: none;
  }

  .ds-sidebar--opened + .ds-container::before {
    content: none;
  }
}

.ds-sidebar-nav {
  background: var(--second-background-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  width: 100%;

  li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    position: relative;
  }

  .ds-search {
    background: var(--input-menu-background); //var(--menu-second-color);
    //border: 0;
    border: 1px solid rgba(var(--ds-color-light-grey), 0.6); // TODO: change border
    border-radius: 6px;
    color: var(--ds-color-white);
    height: 40px;
    margin: 8px 24px;
    padding: 8px;
  }

  .ds-sublist {
    display: none;
    list-style: none;
    padding: 0;
  }

  .ds-sublist--active {
    display: block;
  }

  .ds-menu--expanded {
    animation: slideDown 200ms ease-in-out forwards;
    transform-origin: top center;
  }

  .ds-no-results {
    display: none;
  }

  .ds-search-results {
    display: none;
  }

  mark {
    background-color: var(--ds-color-green);
    border-radius: 3px;
  }
}

.ds-sidebar-nav__link {
  align-items: center;
  color: var(--menu-font-color); //#eff2fb;
  display: flex;
  justify-content: space-between;
  line-height: 3.4rem;
  padding: 3px 24px 3px 36px;
  transition: color 200ms linear;
  width: 100%;
}

.ds-sidebar-nav__sublist-link {
  align-items: center;
  color: var(--menu-font-color); //#eff2fb;
  display: flex;
  justify-content: space-between;
  line-height: 3.2rem;
  padding-left: 58px;
  transition: color 200ms linear;
  width: 100%;
}

.ds-sidebar-nav__sublist-link:active {
  transition: none;
}

.ds-sidebar-nav__link:active,
.ds-sidebar-nav__sublist-link:active {
  color: var(--ds-color-green);
}

.ds-sidebar-nav__link:hover,
.ds-sidebar-nav__sublist-link:hover {
  color: var(--ds-color-green);
  opacity: 1;

  .ds-sidebar-nav__arrow {
    filter: var(--angle-active); //sepia(82%) saturate(1478%) hue-rotate(67deg) brightness(93%) contrast(70%);
  }
}

.ds-sidebar-nav__link--active::before {
  background: var(--ds-color-green);
  content: '';
  height: 40px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 4px;
}

.ds-sidebar-nav__link,
.ds-sidebar-nav__sublist-link,
.ds-sidebar__help {
  color: var(--menu-font-color); //#eff2fb;
  font-size: 1.6rem;
  text-decoration: none;
}

.ds-sidebar-nav__link--active,
.ds-sidebar-nav__sublist-link--active {
  color: var(--ds-color-green);
  font-weight: 600;
}

.ds-sidebar-nav__list {
  color: var(--menu-font-color); //#eff2fb;
  list-style: none;
  padding: 0;
  position: relative;
}

.ds-sidebar-nav__logo {
  background-image: var(--logo); //url('../assets/logo.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  margin: 32px 24px;
}

.ds-sidebar-nav__arrow {
  background-image: var(--angle); //url('../assets/icons/angle-right.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  height: 40px;
  transition: transform 300ms ease-in-out;
  width: 8px;
}

.ds-sidebar-nav__arrow--active {
  filter: var(--angle-active); //sepia(82%) saturate(1478%) hue-rotate(67deg) brightness(93%) contrast(70%);
  transform: rotate(90deg);
  transition: transform 300ms ease-in-out;
}

.ds-sidebar__help {
  bottom: 26px;
  color: var(--menu-font-color); //#eff2fb;
  font-size: 1.6rem;
  margin-left: 40px;
  position: absolute;
  text-decoration: none;
}

.ds-sidebar--searching {
  .ds-search-results {
    display: block;
    list-style-type: none;
    margin: 16px 0 60px 16px;
    overflow-y: auto;
    padding: 4px;
    transition: background 300ms ease-in-out;

    /* stylelint-disable-next-line max-nesting-depth */
    * {
      color: #fff;
      font-size: 14px;
    }
  }

  .ds-sidebar-nav__list {
    display: none;
  }

  .ds-no-results {
    color: #fff;
    margin: 16px 0 60px 16px;
    padding: 4px;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ds-search-results::-webkit-scrollbar {
  width: 12px;
}

.ds-search-results::-webkit-scrollbar-track {
  background: var(--second-background-color);
  transition: background 300ms ease-in-out;
}

.ds-search-results::-webkit-scrollbar-thumb {
  background-color: var(--menu-second-color);
  border: 2px solid var(--second-background-color);
  border-radius: 20px;
}

.ds-search::-webkit-search-cancel-button {
  filter: drop-shadow(16px 16px 20px var(--second-background-color)) invert(75%);
}
