<section class="ds-tokens">
<h2 id="text-typography" class="ds-tokens__heading"><a class="header-anchor" href="#text-typography">Text - typography</a></h2>
<table class="ds-table">
<thead><tr>
  <th>Value</th>
  <th>Type</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for item in tokens.textTokens.textNew -%}
<tr>
  <td>
    {% if item.isIcon != true %}
    <p class="ds-tokens__text" style="{% if item.type == 'typography' %}font: var({{ item.token }});{% endif %}{% if item.type == 'fontFamilies' %}font-family: var({{ item.token }});{% endif %}{% if item.type == 'fontWeights' %}font-weight: var({{ item.token }});{% endif %} margin: 0;">Lorem ipsum</p>
    {% endif %}
    <code>{{ item.value }}</code>
  </td>
  <td><code>{{ item.type }}</code></td>
  <td class="ds-tokens__description">{{ item.title }}</td>
  <td><code>{{ item.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>

<section class="ds-tokens">
<h2 id="text-font-size" class="ds-tokens__heading"><a class="header-anchor" href="#text-font-size">Text - font size</a></h2>
<table class="ds-table">
<thead><tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for item in tokens.textTokens.sizeTextNew -%}
<tr>
  <td>
    <p class="ds-tokens__text" style="font-size: var({{ item.token }});">Lorem ipsum</p>
    <code>{{ item.value }}</code>
  </td>
  <td class="ds-tokens__description">{{ item.title }}</td>
  <td><code>{{ item.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>

<section class="ds-tokens">
<h2 id="text-font-weight" class="ds-tokens__heading"><a class="header-anchor" href="#text-font-weight">Text - font weight</a></h2>
<table class="ds-table">
<thead><tr>
  <th>Value</th>
  <th>Token title</th>
  <th>Token</th>
</tr></thead>
<tbody>
{% for item in tokens.textTokens.fontWeight -%}
<tr>
  <td>
    <p class="ds-tokens__text" style="font-weight: {{ item.value }};">Lorem ipsum</p>
    <code>{{ item.value }}</code>
  </td>
  <td class="ds-tokens__description">{{ item.title }}{% if item.description %} ({{ item.description }}){% endif %}</td>
  <td><code>{{ item.token }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>

<section class="ds-tokens">
<h2 id="text-deprecated" class="ds-tokens__heading"><a class="header-anchor" href="#text-deprecated">Text - deprecated tokens</a></h2>
<table class="ds-table">
<thead><tr>
 <th>Value</th>
 <th>Token title</th>
 <th>Token</th>
</tr></thead>
<tbody>
{% for text in tokens.core.text -%}{% if text[0] == 'typeset' %}
{% for textProperties in text[1] -%}
{% for textType in textProperties[1] -%}
{% if textType[0] | notContainsIconValue %}{% if textType[1]['$value'] %}
<tr>
<td>
{% if textType[1]['$type'] != 'paragraphSpacing' %}
  <p class="ds-tokens__text" style="{% if textType[1]['$type'] == 'fontFamilies' %}font-family: {{ textType[1]['$value'] }}, sans-serif;{% endif %}{% if textType[1]['$type'] == 'fontWeights' %}font-weight: {{ textType[1]['$value'] | fontWeight }};{% endif %}{% if textType[1]['$type'] == 'textCase' %}text-transform: {{ textType[1]['$value'] }};{% endif %}{% if textType[1]['$type'] == 'textDecoration' %}text-decoration: {{ textType[1]['$value'] }};{% endif %}{% if textType[1]['$type'] == 'fontSizes' %}font-size: {{ textType[1]['$value'] }}px;{% endif %}{% if textType[1]['$type'] == 'letterSpacing' %}letter-spacing: {{ textType[1]['$value'] }};{% endif %}{% if textType[1]['$type'] == 'lineHeights' %}display: none;{% endif %}">Lorem ipsum</p>
{% endif %}
<code>{% if textType[1]['$type'] != 'paragraphSpacing' %}{{ textType[1]['$value'] | fontWeight }}{% if textType[1]['$type'] == 'fontSizes' or textType[1]['$type'] == 'lineHeights' %}px{% endif %}{% endif %}{% if textType[1]['$type'] == 'paragraphSpacing' %}{{ textType[1]['$value'] }}{% if textType[1]['$value'] != 0 %}px{% endif %}{% endif %}
</code>
</td>
<td class="ds-tokens__description">{{ textType[1]['$description'] | tokenDescription }}</td>
<td>{% if textType[1]['$description'] %}<code>{{ textType[1]['$description'] | tokenName }}</code>{% endif %}</td>
</tr>
{% endif %}{% endif %}{% endfor -%}{% endfor -%}{% endif %}{% endfor -%}
</tbody>
</table>
</section>
