<section class="ds-tokens">
<h2 class="ds-tokens__heading">Text</h2>
<table class="ds-table">
<thead><tr>
  <th>Example</th>
  <th>Typeset</th>
  <th>Font size</th>
  <th>Font weight</th>
  <th>Line height</th>
</tr></thead>
<tbody>
{% for typeset in tokens.typography -%}
<tr>
  <td>
    <p class="ds-tokens__text" style="
      font-size: {{ typeset[1]['font-size'].value if typeset[1]['font-size'] else 'inherit' }};
      font-weight: {{ typeset[1]['font-weight'].value if typeset[1]['font-weight'] else 'inherit' }};
      line-height: {{ typeset[1]['line-height'].value if typeset[1]['line-height'] else 'normal' }};
    ">Lorem ipsum</p>
  </td>
  <td class="ds-tokens__description">{{ typeset[0] }}</td>
  <td><code>{{ typeset[1]['font-size'].value if typeset[1]['font-size'] else '–' }}</code></td>
  <td><code>{{ typeset[1]['font-weight'].value if typeset[1]['font-weight'] else '–' }}</code></td>
  <td><code>{{ typeset[1]['line-height'].value if typeset[1]['line-height'] else '–' }}</code></td>
</tr>
{% endfor -%}
</tbody>
</table>
</section>
