[data-Density='relaxed'] {
  --space-multiplier: 1.25;
  --variable-space-010: var(--computed-relaxed-variable-space-010);
  --variable-space-025: var(--computed-relaxed-variable-space-025);
  --variable-space-050: var(--computed-relaxed-variable-space-050);
  --variable-space-075: var(--computed-relaxed-variable-space-075);
  --variable-space-100: var(--computed-relaxed-variable-space-100);
  --variable-space-1000: var(--computed-relaxed-variable-space-1000);
  --variable-space-125: var(--computed-relaxed-variable-space-125);
  --variable-space-150: var(--computed-relaxed-variable-space-150);
  --variable-space-200: var(--computed-relaxed-variable-space-200);
  --variable-space-300: var(--computed-relaxed-variable-space-300);
  --variable-space-400: var(--computed-relaxed-variable-space-400);
  --variable-space-500: var(--computed-relaxed-variable-space-500);
  --variable-space-600: var(--computed-relaxed-variable-space-600);
  --variable-space-700: var(--computed-relaxed-variable-space-700);
  --variable-space-800: var(--computed-relaxed-variable-space-800);
}
