@import './../breakpoints';

$transition-timing: 200ms;

.ds-contact-block {
  --_gap: 5rem;

  background-color: var(--contact-block-background);
  display: grid;
  gap: var(--_gap);
  grid-template-columns: 1fr;
  margin: 6.4rem -2.4rem 0;
  padding: 4.8rem 2.4rem;

  @media screen and (min-width: $md-breakpoint) {
    grid-template-columns: repeat(2, minmax(200px, calc((88rem - var(--_gap)) / 2)));
    padding: 7.4rem 6.4rem;
  }

  @media screen and (min-width: $lg-breakpoint) {
    margin: 7.2rem -2.4rem 0 -7.2rem;
    padding: 7.4rem 9.2rem;
  }

  @media screen and (min-width: $xl-breakpoint) {
    --_gap: 20rem;

    padding: 7.4rem 11.4rem;
  }
}

.ds-contact-block__contribute,
.ds-contact-block__get-in-touch {
  flex-basis: 50%;
}

.ds-contact-block__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0.8rem 0;
}

.ds-contact-block__button {
  align-items: center;
  background-color: var(--highlight-color);
  border-radius: 0.4rem;
  color: var(--heading-color);
  display: inline-flex;
  font-size: 1.6rem;
  gap: 0.8rem;
  line-height: 2.2rem;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  transition: background-color $transition-timing linear;

  &:hover {
    background-color: var(--card-color--active);
  }

  path {
    fill: var(--heading-color);
  }
}

.ds-contact-block__get-in-touch {
  display: flex;
  flex-direction: column;
}

.ds-contact-block__link,
.ds-contact-block__description-link {
  align-items: center;
  color: var(--contact-block-link);
  font-size: 1.6rem;
  gap: 0.8rem;
  inline-size: fit-content;
  line-height: 2.4rem;
  margin-block-start: 0.8rem;
  transition: color $transition-timing ease-in-out;

  path {
    fill: var(--contact-block-link);
    transition: fill $transition-timing ease-in-out;
  }

  &:hover {
    color: var(--contact-block-link--hover);

    path {
      fill: var(--contact-block-link--hover);
    }
  }
}

.ds-contact-block__link {
  display: inline-grid;
  grid-template-columns: 2rem 1fr;
  justify-items: center;
}

.ds-contact-block__description-link {
  display: inline-flex;
  margin-block-start: 0;
}
