@import './../breakpoints';

$transition-timing: 300ms;

.ds-explore {
  margin-block-start: 3.2rem;

  @media screen and (min-width: $md-breakpoint) {
    margin-block-start: 4rem;
  }

  @media screen and (min-width: $xl-breakpoint) {
    margin-block-start: 4.8rem;
    margin-inline-end: 4.8rem;
    max-inline-size: 88rem;
  }

  .ds-heading-1 {
    margin-block-end: 2.4rem;
  }

  .ds-heading-2 {
    font-size: 1.8rem;
    margin-block-end: 0.8rem;
    transition: color $transition-timing linear;

    /* stylelint-disable-next-line max-nesting-depth */
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        block-size: 100%;
        content: '';
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  h3 {
    margin-block-end: 0.8rem;
  }
}

.ds-explore-wrapper {
  display: grid;
  gap: 2.4rem;
  grid-template-rows: repeat(3, 1fr);

  /* stylelint-disable-next-line max-nesting-depth */
  @media screen and (min-width: $md-lg-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }

  /* stylelint-disable-next-line max-nesting-depth */
  @media screen and (min-width: $lg-breakpoint) {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  /* stylelint-disable-next-line max-nesting-depth */
  @media screen and (min-width: $xl-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }
}

.ds-explore__card {
  cursor: pointer;
  position: relative;

  &:focus-within:not(:active) {
    border-radius: 0.8rem;
    box-shadow: var(--focus-box-shadow);
  }

  &:hover {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-heading-2 {
      color: var(--highlight-color);
    }
  }

  &:active {
    /* stylelint-disable-next-line max-nesting-depth */
    .ds-heading-2 {
      color: var(--card-color--active);
    }
  }

  &:hover,
  &:focus-within {
    svg {
      transform: scale(1.2);
    }

    /* stylelint-disable-next-line max-nesting-depth */
    @media (prefers-reduced-motion: no-preference) {
      /* stylelint-disable-next-line max-nesting-depth */
      .ds-explore__design-tokens-dot {
        animation: scale-animation-dot 700ms ease-in-out;
        transform-origin: bottom;

        /* stylelint-disable-next-line max-nesting-depth */
        &:nth-child(4) {
          animation-delay: 0.1s;
        }

        /* stylelint-disable-next-line max-nesting-depth */
        &:nth-child(5) {
          animation-delay: 0.2s;
        }

        /* stylelint-disable-next-line max-nesting-depth */
        &:nth-child(6) {
          animation-delay: 0.3s;
        }
      }

      /* stylelint-disable-next-line max-nesting-depth */
      .ds-explore__components-part {
        animation: scale-puzzle-animation 700ms ease-in-out;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      .ds-explore__guidelines-part {
        animation: rotate-animation 700ms ease-in-out;
        transform-box: fill-box;
        transform-origin: center;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      .ds-explore__whats-new-eye-left {
        animation: blink-eye-animation 700ms ease-in-out;
        animation-delay: 0.2s;
        transform-origin: 90.6px 30.2px;
      }
    }
  }
}

.ds-explore__card-image {
  align-items: center;
  background-color: var(--card-background);
  block-size: 22rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-block-end: 1.6rem;
  overflow: hidden;
  position: relative;

  svg {
    overflow: visible;
    transition: $transition-timing ease-in-out;

    /* stylelint-disable-next-line max-nesting-depth */
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

@keyframes scale-puzzle-animation {
  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.14);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-animation-dot {
  30% {
    transform: scale3d(1, 1, 1);
  }

  60% {
    transform: scale3d(1.18, 1.18, 1.18);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scale-animation-rotate {
  30% {
    transform: scale3d(1, 1, 1) rotate(0);
  }

  60% {
    transform: scale3d(1, 1, 1) rotate(-5deg);
  }

  100% {
    transform: scale3d(1, 1, 1) rotate(0);
  }
}

@keyframes rotate-animation {
  30% {
    transform: rotate(0);
  }

  60% {
    transform: rotate(-0.04turn);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes blink-eye-animation {
  30% {
    transform: rotateZ(0deg) scale3d(1, 1, 1);
  }

  60% {
    transform: rotateZ(-12deg) scale3d(1.2, 0.1, 1);
  }

  100% {
    transform: rotateZ(0deg) scale3d(1, 1, 1);
  }
}
