:host {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-idle);
  --_border: var(--sl-color-border-input);

  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border: var(--sl-size-borderWidth-subtle) solid var(--_border);
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  cursor: text;
  display: flex;
  gap: var(--sl-size-100);
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding-inline-start: calc(var(--sl-size-150) - var(--sl-size-borderWidth-subtle));
  vertical-align: middle;
}

:host([show-validity='invalid']) {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);
  --_border: var(--sl-color-border-negative-plain);
}

:host([show-validity='valid']) {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-positive-interactive-plain);
  --_border: var(--sl-color-border-positive-plain);
}

:host([size='lg']) {
  padding-inline-start: calc(var(--sl-size-200) - var(--sl-size-borderWidth-subtle));

  ::slotted(input) {
    padding-block: calc(var(--sl-size-175) - var(--sl-size-borderWidth-subtle));
  }

  .valid,
  slot[name='suffix']::slotted(:not(sl-field-button)) {
    padding-inline-end: calc(var(--sl-size-175) - var(--sl-size-borderWidth-subtle));
  }
}

:host([disabled]) {
  background: var(--sl-color-background-disabled);
  color: var(--sl-color-foreground-disabled);
  pointer-events: none;
}

:host([has-focus-ring]) {
  outline-color: var(--sl-color-border-focused);
}

:host([input-size]) {
  inline-size: fit-content;
}

:host([readonly]) {
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:hover, [has-focus-ring])) {
    transition: 200ms ease-in-out;
    transition-property: background, border, color, outline-color;
  }
}

slot[name='suffix']::slotted(:not(sl-field-button)) {
  padding-inline-end: calc(var(--sl-size-150) - var(--sl-size-borderWidth-subtle));
}

slot[name='input']::slotted(input) {
  appearance: none;
  background: none;
  border: 0;
  color: currentcolor;
  flex: 1;
  font: inherit;
  margin: 0;
  min-inline-size: 0;
  outline: none;
  padding-block: calc(var(--sl-size-100) - var(--sl-size-borderWidth-subtle));
  padding-inline: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--sl-color-foreground-subtlest);
    opacity: 1;
  }
}

.valid {
  color: var(--sl-color-foreground-positive-plain);
  padding-inline-end: calc(var(--sl-size-150) - var(--sl-size-borderWidth-subtle));
}
