:host {
  align-items: center;
  background: var(--sl-color-background-input-plain);
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-input);
  border-radius: var(--sl-size-borderRadius-default);
  box-sizing: border-box;
  color: var(--sl-color-text-plain);
  display: flex;
  gap: var(--sl-space-100);
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding-block: calc(var(--sl-size-075) - var(--sl-size-borderWidth-subtle));
  padding-inline: calc(var(--sl-size-150) - var(--sl-size-borderWidth-subtle));
}

:host([size='lg']) {
  padding-block: calc(var(--sl-space-125) - var(--sl-size-borderWidth-subtle));
}

:host([show-validity='invalid']) {
  border-color: var(--sl-color-border-negative);
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where([has-focus-ring])) {
    transition: 200ms ease-in-out;
    transition-property: background, border, color, outline-color;
  }
}

.valid-icon {
  color: var(--sl-color-background-positive-bold);
}

// @each $variant in $variants {
//   $i: list.index($variants, $variant);
//   $variant-selector: list.nth($variant-selectors, $i);

//   :host(#{$variant-selector}) {
//     --_background: var(--sl-color-input-text-field-#{$variant}-default-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-default-border);

//     slot[name='input']::slotted(input) {
//       --_color: var(--sl-color-input-text-field-#{$variant}-default-input-text);
//       --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-default-placeholder);
//     }

//     slot[name='suffix'] sl-icon {
//       --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-default-icon);
//     }
//   }

//   :host(#{$variant-selector}:hover) {
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-hover-border);
//     --_background: var(--sl-color-input-text-field-#{$variant}-hover-background);

//     slot[name='input']::slotted(input) {
//       --_color: var(--sl-color-input-text-field-#{$variant}-hover-input-text);
//       --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-hover-placeholder);
//     }

//     slot[name='suffix'] sl-icon {
//       --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-hover-icon);
//     }
//   }

//   :host(#{$variant-selector}:active:not([disabled])) {
//     --_background: var(--sl-color-input-text-field-#{$variant}-active-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-active-border);

//     slot[name='input']::slotted(input) {
//       --_color: var(--sl-color-input-text-field-#{$variant}-active-input-text);
//       --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-active-placeholder);
//     }

//     slot[name='suffix'] sl-icon {
//       --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-active-icon);
//     }
//   }

//   :host(#{$variant-selector}:focus-within:not([disabled])) {
//     --_background: var(--sl-color-input-text-field-#{$variant}-focus-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-focus-border);

//     slot[name='input']::slotted(input) {
//       --_color: var(--sl-color-input-text-field-#{$variant}-focus-input-text);
//       --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-focus-placeholder);
//     }

//     slot[name='suffix'] sl-icon {
//       --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-focus-icon);
//     }
//   }

//   :host(#{$variant-selector}[disabled]) {
//     --_background: var(--sl-color-input-text-field-#{$variant}-disabled-background);
//     --_border-color: var(--sl-color-input-text-field-#{$variant}-disabled-border);

//     slot[name='input']::slotted(input) {
//       --_color: var(--sl-color-input-text-field-#{$variant}-disabled-input-text);
//       --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-disabled-placeholder);
//     }

//     slot[name='prefix']::slotted(sl-icon),
//     slot[name='suffix']::slotted(sl-icon),
//     slot[name='suffix'] sl-icon {
//       --sl-icon-fill-default: var(--sl-color-input-text-field-#{$variant}-disabled-icon);
//     }
//   }
// }

:host([disabled]) {
  background: var(--sl-color-background-disabled);
  color: var(--sl-color-text-disabled);
  cursor: pointer;
  pointer-events: none;
}

:host([has-focus-ring]) {
  outline-color: var(--sl-color-border-focused);
}

:host([input-size]) {
  inline-size: fit-content;
}

:host([readonly]) {
  cursor: pointer;
}

slot[name='input']::slotted(input) {
  appearance: none;
  background: none;
  border: 0;
  color: currentcolor;
  flex: 1;
  font: inherit;
  margin: 0;
  min-inline-size: 0;
  outline: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--sl-color-text-muted);
    opacity: 1;
  }
}

button,
::slotted(button) {
  align-items: center;
  appearance: none;
  aspect-ratio: 1 / 1;
  background: var(--sl-color-field-button-default-idle-background);
  block-size: calc(1lh + var(--_padding-block) * 2);
  border: 0;
  border-radius: var(--_border-radius);
  color: var(--sl-color-field-button-default-idle-foreground);
  cursor: pointer;
  display: inline-flex;
  font: var(--_font);
  justify-content: center;
  outline: 0;
  padding: 0;
  transition: var(--_transition);
  transition-property: background, color;

  &:focus-visible {
    color: var(--sl-color-field-button-default-hover-foreground);
    outline: var(--_focus-outline);
  }

  &:hover {
    background: var(--sl-color-field-button-default-hover-background);
    color: var(--sl-color-field-button-default-hover-foreground);
  }

  &:active {
    background: var(--sl-color-field-button-default-active-background);
    color: var(--sl-color-field-button-default-active-foreground);
  }

  &:disabled {
    background: var(--sl-color-field-button-default-disabled-background);
    color: var(--sl-color-field-button-default-disabled-foreground);
    cursor: default;
  }
}
