@import './../breakpoints';

$transition-timing: 300ms;

.ds-container {
  animation: $transition-timing FadeIn;
  background-color: var(--background-color);
  margin-left: 0;
  padding: 8.8rem 2.4rem 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  transform: translateX(0);
  transition: transform $transition-timing, background $transition-timing ease-in-out, opacity $transition-timing;
  width: 100%;
}

.ds-subpage-section {
  display: grid;
  grid-column-gap: 7.2rem;
  grid-template-columns: 1fr;
  margin: 2.4rem 0;

  @media screen and (min-width: $xl-breakpoint) {
    grid-template-columns: 6fr 1fr;
  }

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-columns: 88rem 1fr;
  }

  h2 {
    margin-top: 2.4rem;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-anchor {
  color: var(--font-color);
  font-size: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media screen and (min-width: $lg-breakpoint) {
  .ds-container {
    padding: 3.2rem 2.4rem 0;
    transform: translateX(28rem);
    transition: none;
    width: calc(100% - 28rem);
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-container {
    padding: 3.2rem 2.4rem 0 7.2rem;
    transform: translateX(28rem);
    transition: none;
    width: calc(100% - 28rem);
  }
}
