@import './../breakpoints';

$transition-timing: 300ms;

.ds-container {
  animation: $transition-timing FadeIn;
  background-color: var(--background-color);
  margin-left: 0;
  padding: 8.8rem 2.4rem 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  transform: translateX(0);
  transition: transform $transition-timing, background $transition-timing ease-in-out, opacity $transition-timing;
  width: 100%;
}

.ds-subpage-section {
  margin: 2.4rem 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-anchor {
  color: var(--font-color);
  font-size: inherit;
  text-decoration: none;
}

@media screen and (min-width: $lg-breakpoint) {
  .ds-container {
    padding: 3.2rem 7.2rem 0;
    transform: translateX(27.2rem);
    transition: none;
    width: calc(100% - 27.2rem);
  }
}
