:host {
  --_duration: 2s;

  display: contents;
}

[part='popover'] {
  background: transparent;
  border: 0;
  inset: 0 0 0 auto;
  margin: 0;
  padding: 0;
  transition-behavior: allow-discrete;
  transition-duration: var(--_duration);
  transition-property: display;

  @media (width <= 1024px) {
    inset: auto 0 0;
    margin-inline: auto;
  }

  @media (width <= 600px) {
    inline-size: 100dvw;
    margin-inline: 0;
  }

  &.left {
    inset: 0 auto 0 0;
  }

  &::backdrop {
    background: color-mix(
      in srgb,
      var(--sl-color-palette-primary-base) calc(var(--sl-opacity-700) * 100%),
      transparent
    );
    opacity: calc(var(--_opened) - (var(--_opened) * var(--_closed)));
    transition-behavior: allow-discrete;
    transition-duration: var(--_duration);
    transition-property: display, --_opened, --_closed, overlay;
    transition-timing-function: ease;
  }

  &:popover-open {
    overscroll-behavior: none;

    &::backdrop {
      --_opened: 1;

      @starting-style {
        --_opened: 0;
      }
    }

    [part='content'] {
      translate: 0 0;

      @starting-style {
        translate: 100% 0;
      }

      @media (width <= 1024px) {
        translate: 0 0;

        @starting-style {
          translate: 0 100%;
        }
      }
    }

    &.left [part='content'] {
      @starting-style {
        translate: -100% 0;
      }
    }
  }
}

[part='content'] {
  background: var(--sl-elevation-surface-raised-default-idle);
  block-size: 100dvh;
  border-inline-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-100);
  inline-size: min-content;
  padding: var(--sl-space-100) var(--sl-space-200);
  transition-duration: var(--_duration);
  transition-property: translate;
  transition-timing-function: ease;
  translate: 100% 0;

  .left & {
    border-inline-end: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
    border-inline-start: 0;
    translate: -100% 0;
  }

  @media (width <= 1024px) {
    block-size: fit-content;
    border: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
    border-block-end: 0;
    border-start-end-radius: var(--sl-size-borderRadius-default);
    border-start-start-radius: var(--sl-size-borderRadius-default);
    inset: auto 0 0;
    translate: 0 100%;
  }

  @media (width <= 600px) {
    border-inline: 0;
    inline-size: 100dvw;
  }
}

[part='header'] {
  align-items: center;
  display: grid;
  gap: var(--sl-space-100);
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;

  sl-button-bar {
    grid-column-start: -1;
  }
}
