:host {
  --_background: var(--sl-color-elevation-surface-raised);
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgb(0 0 0 / 70%);
  --_gap: 0.5rem;
  --_spacing: 0.5rem;
  --_max-inline-size: var(--sl-drawer-max-inline-size, 500px);

  display: block;
}

:host([attachment='right']) dialog {
  --_fade-start-x: 100%;

  block-size: 100vh;
  inset-block-start: 0;
  inset-inline: unset 0;
}

:host([attachment='left']) dialog {
  --_fade-start-x: -100%;

  block-size: 100vh;
  inset-block-start: 0;
  inset-inline: 0 unset;
}

:host([attachment='top']) dialog {
  --_fade-start-y: -100%;

  inline-size: 100vw;
  inset-block: 0 unset;
  inset-inline-start: 0;
  max-inline-size: 100vw;
}

:host([attachment='bottom']) dialog {
  --_fade-start-y: 100%;

  inline-size: 100vw;
  inset-block: unset 0;
  inset-inline-start: 0;
  max-inline-size: 100vw;
}

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  max-block-size: min(100vh, 100%);
  max-block-size: min(100dvb, 100%);
  max-inline-size: min(90vw, var(--_max-inline-size));
  padding: 1rem;
  position: fixed;
  transform: translate(var(--_fade-start-x, 0), var(--_fade-start-y, 0))
    scale(var(--_fade-start-sx, 1), var(--_fade-start-sx, 1));

  &::backdrop {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  }
}

dialog[open] {
  transform: translate(0, 0) scale(1, 1);
}

div {
  align-items: center;
  display: grid;
  gap: var(--_gap);
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;

  sl-button-bar {
    grid-column-start: -1;
  }

  [sl-dialog-close] {
    order: 1;
  }
}
