:host {
  display: block;
}

[part='popover'] {
  border: 0;
  inset: 0 0 0 auto;
  margin: 0;
  padding: 0;
  transition-behavior: allow-discrete;
  transition-duration: 0.2s;
  transition-property: display;

  @media (width <= 1024px) {
    inset: auto 0 0;
    margin-inline: auto;
  }

  @media (width <= 600px) {
    inline-size: 100dvw;
    margin-inline: 0;
  }

  &::backdrop {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }

  &:popover-open [part='content'] {
    translate: 0 0;

    @starting-style {
      translate: 100% 0;
    }

    @media (width <= 1024px) {
      translate: 0 0;

      @starting-style {
        translate: 0 100%;
      }
    }
  }
}

[part='content'] {
  background: var(--sl-elevation-surface-raised-default-idle);
  block-size: 100dvh;
  border-inline-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-100);
  inline-size: min-content;
  padding: var(--sl-space-100) var(--sl-space-200);
  transition-duration: 0.2s;
  transition-property: translate;
  transition-timing-function: ease;
  translate: 100% 0;

  @media (width <= 1024px) {
    block-size: fit-content;
    border: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
    border-block-end: 0;
    border-start-end-radius: var(--sl-size-borderRadius-default);
    border-start-start-radius: var(--sl-size-borderRadius-default);
    inset: auto 0 0;
    translate: 0 100%;
  }

  @media (width <= 600px) {
    border-inline: 0;
    inline-size: 100dvw;
  }
}

[part='header'] {
  align-items: center;
  display: grid;
  gap: var(--sl-space-100);
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;

  sl-button-bar {
    grid-column-start: -1;
  }
}
