<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanoma Learning Design System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#3366ff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#5985ff" />
    <!-- MUST be loaded before any lit bundle. allows hydration of SSRed components -->
    <script type="module" src="/js/components/main.js"></script>
    <script type="module" src="/js/scripts/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/kes1hoh.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/favicon/sl-favicon-16-black.png" sizes="16x16">
    <link rel="icon" media="(prefers-color-scheme: light)" href="/assets/favicon/sl-favicon-32-black.png" sizes="32x32">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/favicon/sl-favicon-16-white.png" sizes="16x16">
    <link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/favicon/sl-favicon-32-white.png" sizes="32x32">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Sanoma Learning Design System - Learn, develop, deploy"/>
    <meta property="og:image" itemprop="image" content="https://sanomalearning.design/assets/images/open-graph-card.jpg"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:description" content="Craft products that are not only enjoyable and user-friendly but also meet the needs of both students and teachers, while ensuring accessibility for all."/>
    <meta property="og:site_name" content="Sanoma Learning Design System"/>
  </head>
  <body>
    <header class="ds-top-navigation">
      <button class="ds-top-navigation__hamburger" aria-expanded="false" aria-haspopup="menu" aria-controls="main-menu" aria-label="Show navigation menu"></button>
      <a href="/" class="ds-top-navigation__logo" title="Go to homepage"></a>
    </header>
    <nav id="main-menu" class="ds-sidebar ds-sidebar--closed" role="menu" aria-label="Main menu">
      {% include "./sidebar.njk" %}
    </nav>
    <main class="ds-container">
      {{ content | safe }}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
    <script type="text/javascript">
      {% include "./../scripts/search.js" %}
    </script>
  </body>
</html>
