<nav class="ds-sidebar-nav ds-flow--xs">
  <section class="ds-sidebar__top-section">
    <button class="ds-sidebar-nav__close-button" aria-label="Close navigation menu"></button>
    <a href="/" class="ds-sidebar-nav__logo" title="Go to homepage"></a>
  </section>

  {# {% include "./search.njk" %} #}

  {% set navPages = collections.all | eleventyNavigation("Pages") %}
  <ul class="ds-sidebar-nav__list" role="group">
    {% for entry in navPages %}
      <li id="{{ entry.url }}" class="ds-sidebar-nav__list-item">
        <a
          class="ds-sidebar-nav__link{% if page.url == entry.url %} ds-sidebar-nav__link--active{% endif %} {% if page.url.includes(entry.url) %} ds-sidebar-nav__link--active{% endif %} {% if entry.children | length %}ds-sidebar-nav__link--has-submenu{% endif %}"
          href="{% if not entry.children | length %}{{ entry.url | url }}{% endif %}" data-content="{{ entry.title }}" {% if entry.children | length %}aria-expanded="false" {% endif %} role="menuitem">
          {{ entry.title }}
          {% if entry.children | length %}<span class="ds-sidebar-nav__arrow {% if page.url == entry.url %} ds-sidebar-nav__arrow--active{% endif %} {% if page.url.includes(entry.url) %} ds-sidebar-nav__arrow--active{% endif %}"></span>{% endif %}
        </a>
      </li>
      {% if entry.children | length %}
        <ul role="group"
            class="ds-sublist {% if page.url.includes(entry.url) %} ds-sublist--active{% endif %} {% if page.url == entry.url %} ds-menu--expanded{% endif %}">
          {% for child in entry.children %}
            <li>
              <a class="ds-sublist__link{% if page.url.includes(child.url) %} ds-sublist__link--active{% endif %} {% if child.status == 'coming' %}ds-sublist__link--disabled{% endif %}"
                 {% if child.status != 'coming' %}href="{{ child.url }}{% if child.status %}usage{% endif %}"{% endif %} role="menuitem" {% if child.status == 'coming' %}aria-disabled="true"{% endif %}>
                {{ child.title }} {% if child.status == 'coming' %}<div class="ds-badge">Coming</div>{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<section class="ds-sidebar__bottom-section">
  <a href="https://sanoma.slack.com/archives/C03SA9HUUA3" class="ds-sidebar__help">Help and feedback</a>
</section>
