:host {
  --_border: 1px solid #eee;
  --_border-radius: 3px;
  --_cell-background: #fff;
  --_cell-border: 1px solid #eee;
  --_cell-font: 300 14px/24px Arial;
  --_cell-padding: 0.25rem 1rem;
  --_header-background: #fff;
  --_header-padding: 0.5rem 1rem;
}

:host {
  border: var(--_border);
  border-radius: var(--_border-radius);
  display: block;
}

:host([no-border]) {
  --_border: none;
}

:host([no-row-border]) {
  --_cell-border: none;
}

table {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: fit-content;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

tr {
  display: flex;
  margin: 0;
  width: 100%;
}

th,
td {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  font: var(--_cell-font);
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background: var(--_header-background);
  border-bottom: var(--_cell-border);
  padding: var(--_header-padding);
}

td {
  background: var(--_cell-background);
  padding: var(--_cell-padding);
}

tr:not(:first-of-type) td {
  border-top: var(--_cell-border);
}
