/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-base {
  --sl-icon-core-fa-check: fa-chevron-down;
  --sl-icon-core-fa-chevron-down: fa-chevron-down;
  --sl-icon-core-fa-fav: fa-star;
  --sl-icon-core-fa-menu: fa-bars;
  --sl-icon-core-fa-face-smile: fa-face-smile;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-color-palette-white-base: 249 249 249;
  --sl-color-palette-black-base: 45 42 56;
  --sl-color-palette-danger-base: 207 68 68;
  --sl-color-palette-danger-900: 96 45 43;
  --sl-color-palette-danger-800: 136 56 54;
  --sl-color-palette-danger-700: 166 63 61;
  --sl-color-palette-danger-600: 202 67 67;
  --sl-color-palette-danger-500: 214 97 93;
  --sl-color-palette-danger-400: 221 129 123;
  --sl-color-palette-danger-300: 228 160 155;
  --sl-color-palette-danger-200: 234 190 187;
  --sl-color-palette-danger-150: 240 216 214;
  --sl-color-palette-danger-100: 246 237 236;
  --sl-color-palette-danger-50: 254 254 254;
  --sl-color-palette-warning-base: 255 219 152;
  --sl-color-palette-warning-900: 76 57 29;
  --sl-color-palette-warning-800: 104 76 33;
  --sl-color-palette-warning-700: 126 90 34;
  --sl-color-palette-warning-600: 182 125 27;
  --sl-color-palette-warning-500: 209 144 31;
  --sl-color-palette-warning-400: 228 175 80;
  --sl-color-palette-warning-300: 242 199 126;
  --sl-color-palette-warning-200: 255 219 152;
  --sl-color-palette-warning-150: 255 237 205;
  --sl-color-palette-warning-100: 255 245 227;
  --sl-color-palette-warning-50: 254 254 253;
  --sl-color-palette-success-base: 0 136 89;
  --sl-color-palette-success-900: 33 67 49;
  --sl-color-palette-success-800: 35 92 64;
  --sl-color-palette-success-700: 31 110 75;
  --sl-color-palette-success-600: 11 131 86;
  --sl-color-palette-success-500: 65 149 108;
  --sl-color-palette-success-400: 109 167 136;
  --sl-color-palette-success-300: 147 186 164;
  --sl-color-palette-success-200: 181 206 192;
  --sl-color-palette-success-150: 212 225 218;
  --sl-color-palette-success-100: 235 240 237;
  --sl-color-palette-success-50: 254 254 254;
  --sl-color-palette-info-base: 0 69 143;
  --sl-color-palette-info-900: 20 44 78;
  --sl-color-palette-info-800: 15 59 115;
  --sl-color-palette-info-700: 0 69 143;
  --sl-color-palette-info-600: 0 85 176;
  --sl-color-palette-info-500: 40 121 199;
  --sl-color-palette-info-400: 84 151 219;
  --sl-color-palette-info-300: 125 175 228;
  --sl-color-palette-info-200: 173 210 247;
  --sl-color-palette-info-150: 214 234 255;
  --sl-color-palette-info-100: 236 248 255;
  --sl-color-palette-info-50: 254 254 254;
  --sl-color-palette-neutral-base: 51 51 51;
  --sl-color-palette-neutral-900: 51 51 51;
  --sl-color-palette-neutral-800: 74 74 74;
  --sl-color-palette-neutral-700: 86 86 86;
  --sl-color-palette-neutral-600: 117 117 117;
  --sl-color-palette-neutral-500: 155 155 155;
  --sl-color-palette-neutral-400: 207 207 207;
  --sl-color-palette-neutral-300: 225 225 225;
  --sl-color-palette-neutral-200: 236 236 236;
  --sl-color-palette-neutral-150: 242 242 242;
  --sl-color-palette-neutral-100: 249 249 249;
  --sl-color-palette-neutral-50: 254 254 254;
  --sl-color-palette-accent-base: 243 121 32;
  --sl-color-palette-accent-900: 76 48 30;
  --sl-color-palette-accent-800: 109 66 37;
  --sl-color-palette-accent-700: 135 78 40;
  --sl-color-palette-accent-600: 164 90 41;
  --sl-color-palette-accent-500: 196 104 39;
  --sl-color-palette-accent-400: 234 118 34;
  --sl-color-palette-accent-300: 245 150 88;
  --sl-color-palette-accent-200: 246 184 144;
  --sl-color-palette-accent-150: 246 213 191;
  --sl-color-palette-accent-100: 248 236 227;
  --sl-color-palette-accent-50: 254 254 254;
  --sl-color-palette-primary-base: 68 64 89;
  --sl-color-palette-primary-900: 45 42 56;
  --sl-color-palette-primary-800: 67 63 88;
  --sl-color-palette-primary-700: 84 80 103;
  --sl-color-palette-primary-600: 101 98 118;
  --sl-color-palette-primary-500: 120 118 135;
  --sl-color-palette-primary-400: 142 140 153;
  --sl-color-palette-primary-300: 166 165 175;
  --sl-color-palette-primary-200: 191 191 197;
  --sl-color-palette-primary-150: 217 216 220;
  --sl-color-palette-primary-100: 236 236 238;
  --sl-color-palette-primary-50: 254 254 254;
  --sl-size-input-lg: var(--sl-size-md);
  --sl-size-input-md: var(--sl-size-sm);
}
