@import './../../breakpoints';

.ds-tokens__heading-wrapper {
  background-color: var(--heading-background);
  border-radius: 0.6rem;
  color: var(--heading-color);
  padding: 4rem;
}

.ds-tokens__heading-description {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 1.6rem;
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-tokens__main-heading {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 6fr 1fr; //7fr 1fr;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-tokens__wrapper {
    width: calc((100% / 8) * 7 - 7.2rem);
  }
}

.ds-tokens {
  margin: 2.4rem 0;

  code {
    text-transform: lowercase;
  }
}

.ds-tokens__heading {
  margin-bottom: 2.4rem;
}

.ds-tokens__color {
  border: 1px solid var(--vertical-slider-background);
  border-radius: 50%;
  height: 8rem;
  margin-bottom: 0.8rem;
  width: 8rem;
}

.ds-tokens__text {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0.8rem;
}

.ds-tokens__border {
  background-color: var(--picture-background);
  border: 1px solid var(--heading-background);
  height: 8rem;
  margin-bottom: 0.8rem;
  width: 8rem;
}

.ds-tokens__border-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ds-tokens__space {
  background-color: var(--ds-color-light-grey);
  height: 8rem;
  margin-bottom: 0.8rem;
  width: 8rem;
}

.ds-tokens__space-example,
.ds-tokens__opacity-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  width: fit-content;
}

.ds-tokens__opacity {
  background-color: var(--heading-background);
  height: 6rem;
  margin-bottom: 0.8rem;
  width: 6rem;
}

.ds-tokens__size {
  background-color: var(--ds-color-light-grey);
  margin-bottom: 0.8rem;
}

.ds-tokens__size-example {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 7.2rem;
  width: fit-content;
}

.ds-tokens__description {
  text-transform: capitalize;
}

.ds-tokens__opacity-triangles {
  background-color: var(--picture-background);
  border-radius: 0.3rem;
  display: inline-flex;
  margin-bottom: 0.8rem;
  overflow: hidden;
}

.ds-tokens__triangle {
  border-color: var(--heading-background) transparent transparent transparent;
  border-style: solid;
  border-width: 6rem 6rem 0 0;
  height: 0;
  width: 0;
}
