:host {
  --_box-shadow: var(--sl-elevation-shadow-lg);
  --_card-border: 1px solid var(--sl-color-card-border);
  --_card-background: var(--sl-color-card-background);
  --_card-border-radius: var(--sl-border-radius-card-default);
  --_font-title: var(--sl-text-card-title);
  --_font-sub-title: var(--sl-text-card-subtitle);
  --_font-body: var(--sl-text-card-body);
  --_content-padding-inline: var(--sl-space-card-content-inline);
  --_content-padding-block: 0 var(--sl-space-card-vertical-block);
  --_image-padding: 8px;
  --_image-padding-full: 0;

  background-color: var(--_card-background);
  border: var(--_card-border);
  border-radius: var(--_card-border-radius);
  box-shadow: var(--_box-shadow);
  box-sizing: border-box;
  container-type: inline-size;
  display: block;
  inline-size: 100%;
  width: 100%;
}

div.container {
  display: grid;
  grid-template-areas:
    'media'
    'actions'
    'content';
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(16px, max-content) 1fr;
}

:host([padding]) {
  --_image-padding-full: var(--_image-padding) var(--_image-padding) 0 var(--_image-padding);
}

@mixin sl-card-horizontal-layout {
  --_content-padding-block: var(--sl-space-card-vertical-block) var(--sl-space-card-vertical-block);
  grid-template-areas: 'media content actions';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
}

:host([orientation='horizontal'][padding]:not([responsive])) slot[name='media'] {
  --_image-padding-full: var(--_image-padding) 0 var(--_image-padding) var(--_image-padding);
}

:host([orientation='horizontal']:not([responsive])) .container {
  @include sl-card-horizontal-layout();
}

@container (min-width: 350px) {
  :host([orientation='horizontal']) .container {
    @include sl-card-horizontal-layout();
  }

  :host([orientation='horizontal'][padding]) slot[name='media'] {
    --_image-padding-full: var(--_image-padding) 0 var(--_image-padding) var(--_image-padding);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-area: content;
  padding: var(--_content-padding-block) var(--_content-padding-inline);
}

:host([icon]) .content {
  display: grid;
  grid-template-areas:
    'icon header'
    'icon body';
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;

  sl-icon {
    grid-area: icon;
  }
}

header {
  grid-area: header;
}

slot[name='media'] {
  display: grid;
  grid-area: media;
  padding: var(--_image-padding-full);
}

slot.title::slotted(*) {
  font: var(--_font-title);
}

slot[name='header'] {
  grid-area: subheader;
}

slot[name='header']::slotted(*:not(sl-badge)) {
  font: var(--_font-sub-title);
}

slot[name='media']::slotted(*) {
  max-width: 100%;
}

slot[name='body'] {
  font: var(--_font-body);
  grid-area: body;
}

slot[name='actions'] {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: actions;
}

slot::slotted(*) {
  margin: 0;
}
