$sizes: sm, md, lg;

:host {
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_handle-color: var(--sl-color-input-switch-default-unchecked-default-handle);
  --_handle-position: 0%;
  --_icon-color: var(--sl-color-input-switch-default-unchecked-default-icon);
  --_label-text-color: var(--sl-color-input-field-label-text-default);
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-default-background);
  --_toggle-container-padding: var(--sl-space-input-switch-padding-container);
  --_toggle-padding: var(--sl-space-input-switch-padding-controller);
  --_track-radius: calc((var(--_handle-size) + var(--_toggle-padding) * 2) / 2);
  --_transition: var(--sl-animation-duration-normal);

  align-items: center;
  display: inline-flex;
  gap: 0 var(--sl-space-input-switch-margin-left);
  outline: none;
  vertical-align: middle;
}

:host(:hover) {
  --_handle-color: var(--sl-color-input-switch-default-unchecked-hover-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-hover-icon);
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-hover-background);
}

:host(:active) {
  --_handle-color: var(--sl-color-input-switch-default-unchecked-active-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-active-icon);
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-active-background);
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_gap: var(--sl-space-input-gap-#{$size});
    --_handle-size: var(--sl-size-input-switch-handle-#{$size});
    --_input-label-font: var(--sl-text-input-field-label-tag-#{$size});
    --_toggle-width: calc(var(--sl-size-input-switch-controller-width-#{$size}) - var(--_toggle-padding) * 2);
  }
}

:host([disabled]) {
  --_handle-color: var(--sl-color-input-switch-default-unchecked-disabled-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-disabled-icon);
  --_label-text-color: var(--sl-color-input-field-label-text-disabled);
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-disabled-background);

  cursor: default;
  pointer-events: none;
}

:host([checked]) {
  --_handle-color: var(--sl-color-input-switch-default-checked-default-handle);
  --_handle-position: calc(var(--_toggle-width) - 100%);
  --_icon-color: var(--sl-color-input-switch-default-checked-default-icon);
  --_main-background-color: var(--sl-color-input-switch-default-checked-default-background);

  &:hover {
    --_handle-color: var(--sl-color-input-switch-default-checked-hover-handle);
    --_icon-color: var(--sl-color-input-switch-default-checked-hover-icon);
    --_main-background-color: var(--sl-color-input-switch-default-checked-hover-background);
  }

  &:active {
    --_handle-color: var(--sl-color-input-switch-default-checked-active-handle);
    --_icon-color: var(--sl-color-input-switch-default-checked-active-icon);
    --_main-background-color: var(--sl-color-input-switch-default-checked-active-background);
  }
}

:host([checked][disabled]) {
  --_handle-color: var(--sl-color-input-switch-default-checked-disabled-handle);
  --_icon-color: var(--sl-color-input-switch-default-checked-disabled-icon);
  --_main-background-color: var(--sl-color-input-switch-default-checked-disabled-background);
}

:host([reverse]) .toggle {
  order: -1;
}

:host([no-label]) {
  .label {
    display: none;
  }
}

[part='track']:focus-visible {
  outline: var(--_focus-outline);
}

::slotted(input) {
  block-size: 1px;
  inline-size: 1px;
  opacity: 0;
  outline: 0;
  pointer-events: none;
  position: absolute;
}

::slotted(label) {
  cursor: pointer;
}

slot {
  color: var(--_label-text-color);
  cursor: pointer;
  font: var(--_input-label-font);
}

.toggle {
  cursor: pointer;
  grid-area: toggle;
  margin: var(--_toggle-container-margin);
  padding: var(--_toggle-container-padding);
}

[part='track'] {
  background-color: var(--_main-background-color);
  border-radius: var(--_track-radius);
  box-shadow: var(--_box-shadow);
  display: grid;
  inline-size: var(--_toggle-width);
  outline: none;
  outline-color: transparent;
  outline-offset: var(--_focus-outline-offset);
  padding: var(--_toggle-padding);

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--_transition);
    transition-property: background-color, outline-color;
  }
}

[part='track'] div {
  background-color: var(--_handle-color);
  block-size: var(--_handle-size);
  border-radius: calc(var(--_handle-size) / 2);
  display: grid;
  inline-size: var(--_handle-size);
  place-content: center;
  translate: var(--_handle-position);
  will-change: transform;

  sl-icon {
    --sl-icon-fill-default: var(--_icon-color);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: translate var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  }
}
