$sizes: sm, md, lg;

:host {
  --_toggle-padding: var(--sl-space-input-switch-padding-controller);
  --_track-radius: calc((var(--handle-size) + var(--_toggle-padding) * 2) / 2);

  --_main-background-color: var(--sl-color-input-switch-default-unchecked-default-background);
  --_handle-color: var(--sl-color-input-switch-default-unchecked-default-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-default-icon);
  --_toggle-container-padding: var(--sl-space-input-switch-padding-container);
  --_label-text-color: var(--sl-color-input-field-label-text-default);
  --_helper-text-color: var(--sl-color-input-helper-text-default);

  --handle-position: 0%;
  --isLTR: 1;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --handle-size: var(--sl-size-input-switch-handle-#{$size});
    --_toggle-width: calc(var(--sl-size-input-switch-controller-width-#{$size}) - var(--_toggle-padding) * 2);
    --_gap: var(--sl-space-input-gap-#{$size});
    --_input-label-font: var(--sl-text-input-field-label-tag-#{$size});
    --_helper-font: var(--sl-text-input-helper-text-#{$size});
  }

  :host([orientation='vertical']) {
    --_input-label-font: var(--sl-text-input-switch-input-field-bold-#{$size});
    --_toggle-container-margin: var(--sl-space-input-switch-margin-top-#{$size})
      0
      var(--sl-space-input-switch-margin-bottom-#{$size});
  }
}

.toggle:hover {
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-hover-background);
  --_handle-color: var(--sl-color-input-switch-default-unchecked-hover-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-hover-icon);
}

.toggle:active {
  --_main-background-color: var(--sl-color-input-switch-default-unchecked-active-background);
  --_handle-color: var(--sl-color-input-switch-default-unchecked-active-handle);
  --_icon-color: var(--sl-color-input-switch-default-unchecked-active-icon);
}

:host(:where(:disabled, [internals-disabled])) {
  --_label-text-color: var(--sl-color-input-field-label-text-disabled);
  --_helper-text-color: var(--sl-color-input-helper-text-disabled);

  .toggle {
    --_main-background-color: var(--sl-color-input-switch-default-unchecked-disabled-background);
    --_handle-color: var(--sl-color-input-switch-default-unchecked-disabled-handle);
    --_icon-color: var(--sl-color-input-switch-default-unchecked-disabled-icon);
  }
}

:host([checked]) {
  .toggle {
    --_main-background-color: var(--sl-color-input-switch-default-checked-default-background);
    --_handle-color: var(--sl-color-input-switch-default-checked-default-handle);
    --_icon-color: var(--sl-color-input-switch-default-checked-default-icon);

    --handle-position: calc((var(--_toggle-width) - 100%) * var(--isLTR));
  }

  .toggle:hover {
    --_main-background-color: var(--sl-color-input-switch-default-checked-hover-background);
    --_handle-color: var(--sl-color-input-switch-default-checked-hover-handle);
    --_icon-color: var(--sl-color-input-switch-default-checked-hover-icon);
  }

  .toggle:active {
    --_main-background-color: var(--sl-color-input-switch-default-checked-active-background);
    --_handle-color: var(--sl-color-input-switch-default-checked-active-handle);
    --_icon-color: var(--sl-color-input-switch-default-checked-active-icon);
  }
}

:host([checked]:where([disabled], :disabled, [internals-disabled])) .toggle {
  --_main-background-color: var(--sl-color-input-switch-default-checked-disabled-background);
  --_handle-color: var(--sl-color-input-switch-default-checked-disabled-handle);
  --_icon-color: var(--sl-color-input-switch-default-checked-disabled-icon);
}

:host {
  align-items: center;
  display: inline-grid;
  gap: 0 var(--sl-space-input-switch-margin-left);
  grid-auto-rows: 1fr min-content;
  grid-template-areas:
    'input-label toggle'
    'hint toggle';
  grid-template-columns: 1fr minmax(0, max-content);
  outline: none;
}

:host-context([dir='rtl']) {
  --isLTR: -1;
}

:host(:focus-visible) .track {
  --_box-shadow: var(--sl-box-shadow-focus);
}

:host(:where(:disabled, [internals-disabled])) {
  cursor: default;
  pointer-events: none;
}

.input-label {
  color: var(--_label-text-color);
  cursor: pointer;
  font: var(--_input-label-font);
  grid-area: input-label;
}

.toggle {
  cursor: pointer;
  grid-area: toggle;
  margin: var(--_toggle-container-margin);
  padding: var(--_toggle-container-padding);
}

:host(.no-label) .toggle {
  margin-top: 0;
}

.track {
  background-color: var(--_main-background-color);
  border-radius: var(--_track-radius);
  box-shadow: var(--_box-shadow);
  display: grid;
  padding: var(--_toggle-padding);
  transition: background-color var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  width: var(--_toggle-width);
}

.track div {
  background-color: var(--_handle-color);
  border-radius: calc(var(--handle-size) / 2);
  display: grid;
  height: var(--handle-size);
  place-content: center;
  translate: var(--handle-position);
  width: var(--handle-size);
  will-change: transform;

  sl-icon {
    --fill-default: var(--_icon-color);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: translate var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  }
}

.helper {
  color: var(--_helper-text-color);
  display: contents;
  font: var(--_helper-font);
  grid-area: hint;

  slot[part='error']::slotted(*) {
    padding-top: 0;
  }
}

:host(:where([invalid])) slot[name='hint']::slotted(*) {
  display: none;
}

:host([orientation='vertical']) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
