:host {
  --_bg-color: var(--sl-color-border-bold);
  --_bg-mix-color: var(--sl-color-background-neutral-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-bold-idle);
  --_handle-color: var(--sl-color-foreground-neutral-plain);
  --_handle-block-size: var(--sl-size-250);
  --_icon-size: var(--sl-size-150);
  --_toggle-padding: var(--sl-size-050);
  --_track-inline-size: var(--sl-size-600);
  --_track-padding: calc(var(--sl-size-025) - var(--sl-size-borderWidth-default));

  color: var(--sl-color-foreground-plain);
  display: block;
  outline: none;
  vertical-align: middle;
}

:host(:hover) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-hover);
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-active);
}

:host([reverse]) [part='container'] {
  grid-template: 'toggle wrapper' / auto 1fr;
}

:host([size='sm']) {
  --_handle-block-size: var(--sl-size-150);
  --_track-inline-size: var(--sl-size-400);
}

:host([size='lg']) {
  --_handle-block-size: var(--sl-size-350);
  --_icon-size: var(--sl-size-200);
  --_track-inline-size: var(--sl-size-800);
}

:host([checked]) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-bold-idle);
  --_handle-color: var(--sl-color-foreground-selected-plain);
  --_handle-position: calc(
    var(--_track-inline-size) - var(--_handle-block-size) - var(--sl-size-025) * 2
  );

  [part='track'] {
    border-color: var(--sl-color-border-selected);
  }
}

:host([checked]:hover) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-hover);
}

:host([checked]:active) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-active);
}

:host(:state(has-description)) {
  [part='wrapper'] {
    grid-template: 'label' 'description' / auto;
  }

  [part='description'] {
    display: block;
  }
}

:host(:state(has-infotip)) {
  [part='wrapper'] {
    grid-template: 'label infotip' / auto 1fr;
  }
}

:host(:state(has-description):state(has-infotip)) {
  [part='wrapper'] {
    grid-template: 'label infotip' 'description description' / auto 1fr;
  }
}

:host(:state(no-label)) {
  [part='container'] {
    grid-template: 'toggle' / auto;
  }

  [part='wrapper'] {
    display: none;
  }
}

::slotted(sl-infotip) {
  justify-self: start;
}

[part='container'] {
  align-items: center;
  display: grid;
  gap: var(--sl-size-100);
  grid-template: 'wrapper toggle' / 1fr auto;

  &:has(input[aria-disabled], input[disabled]) {
    --_handle-color: var(--sl-color-foreground-disabled);

    [part='label'],
    [part='toggle'] {
      cursor: default;
    }

    [part='track'] {
      background: var(--sl-color-background-disabled);
      border-color: var(--sl-color-border-disabled);
    }
  }
}

[part='wrapper'] {
  align-items: center;
  display: grid;
  gap: var(--sl-size-050) var(--sl-size-100);
  grid-area: wrapper;
  grid-template: 'label' / auto;
}

[part='label'] {
  cursor: pointer;
}

[part='toggle'] {
  align-self: center;
  cursor: pointer;
  display: flex;
  grid-area: toggle;
  padding: var(--_toggle-padding);
  position: relative;
}

input {
  appearance: none;
  block-size: 1px;
  border: 0;
  inline-size: 1px;
  margin: 0;
  opacity: 0;
  outline: 0;
  pointer-events: none;
  position: absolute;

  &:focus-visible + [part='track'] {
    outline-color: var(--sl-color-border-focused);

    @media (prefers-reduced-motion: no-preference) {
      transition: 200ms ease-in-out;
      transition-property: background, border-color, color, outline-color;
    }
  }
}

[part='track'] {
  background: color-mix(
    in srgb,
    var(--_bg-color),
    var(--_bg-mix-color) calc(100% * var(--_bg-opacity))
  );
  border: var(--sl-size-borderWidth-default) solid var(--sl-color-border-bold);
  border-radius: calc((var(--_handle-block-size) + var(--sl-size-025) * 2) / 2);
  box-sizing: border-box;
  display: grid;
  inline-size: var(--_track-inline-size);
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: var(--_track-padding);

  @media (prefers-reduced-motion: no-preference) {
    transition: 200ms ease-in-out;
    transition-property: background, outline-color;
  }
}

[part='handle'] {
  aspect-ratio: 1;
  background: var(--sl-color-background-inverted-bold);
  block-size: var(--_handle-block-size);
  border-radius: 50%;
  box-shadow: var(--sl-elevation-shadow-sm);
  color: var(--_handle-color);
  display: grid;
  place-content: center;
  translate: var(--_handle-position, 0);
  will-change: transform;

  sl-icon {
    --sl-icon-size: var(--_icon-size);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: translate 200ms ease-in-out;
  }
}

[part='description'] {
  color: var(--sl-color-foreground-subtlest);
  display: none;
  grid-area: description;
}
