/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-dark {
  --sl-box-shadow-none: 0px 0px 0px 0px;
  --sl-box-shadow-focus: 0px 0px 0px 3px rgba(var(--sl-color-palette-info-base) / var(--sl-opacity-800));
  --sl-body-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-body-background: rgb(var(--sl-color-palette-black-base));
  --sl-color-input-valid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-valid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-valid-checked-disabled-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-input-valid-checked-focus-background: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-valid-checked-active-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-checked-hover-background: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-valid-checked-default-background: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-valid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-valid-unchecked-disabled-border: rgb(var(--sl-color-palette-success-700));
  --sl-color-input-valid-unchecked-focus-border: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-valid-unchecked-active-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-valid-unchecked-active-background: rgba(
    var(--sl-color-palette-success-base) / var(--sl-opacity-300)
  );
  --sl-color-input-valid-unchecked-hover-border: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-valid-unchecked-hover-background: rgba(var(--sl-color-palette-success-base) / var(--sl-opacity-200));
  --sl-color-input-valid-unchecked-default-border: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-invalid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-invalid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-invalid-checked-disabled-background: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-invalid-checked-focus-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-invalid-checked-active-background: rgb(var(--sl-color-palette-danger-600));
  --sl-color-input-invalid-checked-hover-background: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-invalid-checked-default-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-invalid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-invalid-unchecked-disabled-border: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-invalid-unchecked-focus-border: rgb(var(--sl-color-palette-danger-400));
  --sl-color-input-invalid-unchecked-active-border: rgb(var(--sl-color-palette-danger-600));
  --sl-color-input-invalid-unchecked-active-background: rgba(
    var(--sl-color-palette-danger-base) / var(--sl-opacity-400)
  );
  --sl-color-input-invalid-unchecked-hover-border: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-invalid-unchecked-hover-background: rgba(
    var(--sl-color-palette-danger-base) / var(--sl-opacity-200)
  );
  --sl-color-input-invalid-unchecked-default-border: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-default-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-default-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-default-checked-disabled-background: rgb(var(--sl-color-palette-neutral-700));
  --sl-color-input-default-checked-focus-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-input-default-checked-active-background: rgb(var(--sl-color-palette-accent-600));
  --sl-color-input-default-checked-hover-background: rgb(var(--sl-color-palette-accent-400));
  --sl-color-input-default-checked-default-background: rgb(var(--sl-color-palette-accent-300));
  --sl-color-input-default-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-default-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-700));
  --sl-color-input-default-unchecked-focus-border: rgb(var(--sl-color-palette-accent-300));
  --sl-color-input-default-unchecked-active-border: rgb(var(--sl-color-palette-accent-500));
  --sl-color-input-default-unchecked-active-background: rgba(
    var(--sl-color-palette-accent-base) / var(--sl-opacity-400)
  );
  --sl-color-input-default-unchecked-hover-border: rgb(var(--sl-color-palette-accent-300));
  --sl-color-input-default-unchecked-hover-background: rgba(
    var(--sl-color-palette-accent-base) / var(--sl-opacity-200)
  );
  --sl-color-input-default-unchecked-default-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-surface-solid-accent-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-accent-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-surface-solid-secondary-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-secondary-background: rgb(var(--sl-color-palette-accent-400));
  --sl-color-surface-solid-primary-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-surface-solid-primary-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-danger-outline-disabled-border: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-outline-disabled-foreground: rgb(var(--sl-color-palette-danger-600));
  --sl-color-button-danger-outline-disabled-background: rgba(var(--sl-color-palette-danger-base), 0);
  --sl-color-button-danger-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-danger-outline-focus-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-active-border: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-outline-active-foreground: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-outline-active-background: rgb(var(--sl-color-palette-danger-700));
  --sl-color-button-danger-outline-hover-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-outline-hover-foreground: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-outline-hover-background: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-idle-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-outline-idle-foreground: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-default-disabled-border: rgb(var(--sl-color-palette-danger-700));
  --sl-color-button-danger-default-disabled-background: rgb(var(--sl-color-palette-danger-700));
  --sl-color-button-danger-default-focus-border: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-default-focus-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-danger-default-focus-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-default-active-border: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-default-active-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-danger-default-active-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-default-hover-border: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-default-hover-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-danger-default-hover-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-default-idle-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-danger-default-idle-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-danger-default-idle-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-button-warning-outline-disabled-border: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-disabled-foreground: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-warning-outline-focus-foreground: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-active-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-active-foreground: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-active-background: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-hover-border: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-outline-hover-foreground: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-outline-hover-background: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-outline-idle-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-idle-foreground: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-disabled-border: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-default-disabled-background: rgb(var(--sl-color-palette-warning-600));
  --sl-color-button-warning-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-warning-default-focus-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-focus-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-active-border: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-default-active-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-active-background: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-default-hover-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-hover-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-hover-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-idle-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-idle-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-warning-default-idle-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-success-outline-disabled-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-disabled-foreground: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-outline-focus-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-success-outline-focus-foreground: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-outline-active-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-outline-active-foreground: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-outline-active-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-button-success-outline-hover-border: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-outline-hover-foreground: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-outline-hover-background: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-idle-border: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-outline-idle-foreground: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-default-disabled-border: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-default-disabled-foreground: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-success-default-disabled-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-button-success-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-success-default-focus-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-success-default-focus-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-default-active-border: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-default-active-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-success-default-active-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-default-hover-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-default-hover-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-success-default-hover-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-default-idle-border: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-default-idle-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-success-default-idle-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-primary-outline-disabled-border: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-primary-outline-disabled-foreground: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-primary-outline-disabled-background: rgba(var(--sl-color-palette-primary-base), 0);
  --sl-color-button-primary-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-primary-outline-focus-foreground: rgb(var(--sl-color-palette-accent-300));
  --sl-color-button-primary-outline-active-border: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-outline-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-primary-outline-active-background: rgb(var(--sl-color-palette-accent-800));
  --sl-color-button-primary-outline-hover-border: rgb(var(--sl-color-palette-accent-150));
  --sl-color-button-primary-outline-hover-foreground: rgb(var(--sl-color-palette-accent-150));
  --sl-color-button-primary-outline-hover-background: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-primary-outline-idle-border: rgb(var(--sl-color-palette-accent-300));
  --sl-color-button-primary-outline-idle-foreground: rgb(var(--sl-color-palette-accent-300));
  --sl-color-button-primary-default-disabled-border: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-primary-default-disabled-foreground: rgb(var(--sl-color-palette-accent-300));
  --sl-color-button-primary-default-disabled-background: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-primary-default-focus-border: rgb(var(--sl-color-palette-info-300));
  --sl-color-button-primary-default-focus-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-primary-default-active-border: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-primary-default-active-background: rgb(var(--sl-color-palette-accent-600));
  --sl-color-button-primary-default-hover-border: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-primary-default-hover-background: rgb(var(--sl-color-palette-accent-500));
  --sl-color-button-primary-default-idle-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-primary-default-idle-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-default-outline-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-default-outline-focus-foreground: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-outline-active-border: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-outline-active-foreground: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-outline-active-background: rgb(var(--sl-color-palette-accent-700));
  --sl-color-button-default-outline-hover-border: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-outline-hover-foreground: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-outline-hover-background: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-default-outline-idle-border: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-outline-idle-foreground: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-default-disabled-border: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-800));
  --sl-color-button-default-default-disabled-background: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-button-default-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-default-default-focus-foreground: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-default-active-border: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-default-active-foreground: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-default-active-background: rgb(var(--sl-color-palette-accent-700));
  --sl-color-button-default-default-hover-border: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-default-hover-foreground: rgb(var(--sl-color-palette-accent-200));
  --sl-color-button-default-default-hover-background: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-default-default-idle-border: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-button-default-default-idle-foreground: rgb(var(--sl-color-palette-neutral-150));
  --sl-button-outline-danger-disabled: [object Object];
  --sl-button-outline-danger-focus: [object Object];
  --sl-button-outline-danger-active: [object Object];
  --sl-button-outline-danger-hover: [object Object];
  --sl-button-outline-danger-idle: [object Object];
  --sl-button-outline-warning-disabled: [object Object];
  --sl-button-outline-warning-focus: [object Object];
  --sl-button-outline-warning-active: [object Object];
  --sl-button-outline-warning-hover: [object Object];
  --sl-button-outline-warning-idle: [object Object];
  --sl-button-outline-success-disabled: [object Object];
  --sl-button-outline-success-focus: [object Object];
  --sl-button-outline-success-active: [object Object];
  --sl-button-outline-success-hover: [object Object];
  --sl-button-outline-success-idle: [object Object];
  --sl-button-outline-primary-disabled: [object Object];
  --sl-button-outline-primary-focus: [object Object];
  --sl-button-outline-primary-active: [object Object];
  --sl-button-outline-primary-hover: [object Object];
  --sl-button-outline-primary-idle: [object Object];
  --sl-button-outline-default-disabled: [object Object];
  --sl-button-outline-default-focus: [object Object];
  --sl-button-outline-default-active: [object Object];
  --sl-button-outline-default-hover: [object Object];
  --sl-button-outline-default-idle: [object Object];
  --sl-button-default-danger-disabled: [object Object];
  --sl-button-default-danger-focus: [object Object];
  --sl-button-default-danger-active: [object Object];
  --sl-button-default-danger-hover: [object Object];
  --sl-button-default-danger-idle: [object Object];
  --sl-button-default-warning-disabled: [object Object];
  --sl-button-default-warning-focus: [object Object];
  --sl-button-default-warning-active: [object Object];
  --sl-button-default-warning-hover: [object Object];
  --sl-button-default-warning-idle: [object Object];
  --sl-button-default-success-disabled: [object Object];
  --sl-button-default-success-focus: [object Object];
  --sl-button-default-success-active: [object Object];
  --sl-button-default-success-hover: [object Object];
  --sl-button-default-success-idle: [object Object];
  --sl-button-default-primary-disabled: [object Object];
  --sl-button-default-primary-focus: [object Object];
  --sl-button-default-primary-active: [object Object];
  --sl-button-default-primary-hover: [object Object];
  --sl-button-default-primary-idle: [object Object];
  --sl-button-default-default-disabled: [object Object];
  --sl-button-default-default-focus: [object Object];
  --sl-button-default-default-active: [object Object];
  --sl-button-default-default-hover: [object Object];
  --sl-button-default-default-idle: [object Object];
  --sl-color-input-valid-checked-disabled-border: var(--sl-color-input-valid-checked-disabled-background);
  --sl-color-input-valid-checked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-valid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-focus-border: var(--sl-color-input-valid-checked-focus-background);
  --sl-color-input-valid-checked-active-icon: var(--sl-body-foreground);
  --sl-color-input-valid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-active-border: var(--sl-color-input-valid-checked-active-background);
  --sl-color-input-valid-checked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-valid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-hover-border: var(--sl-color-input-valid-checked-hover-background);
  --sl-color-input-valid-checked-default-icon: var(--sl-body-foreground);
  --sl-color-input-valid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-valid-checked-default-border: var(--sl-color-input-valid-checked-default-background);
  --sl-color-input-valid-unchecked-disabled-icon: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-disabled-background: rgba(var(--sl-body-background) / 0);
  --sl-color-input-valid-unchecked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-valid-unchecked-active-icon: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-default-icon: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-valid-unchecked-default-background: rgba(var(--sl-body-background) / 0);
  --sl-color-input-invalid-checked-disabled-border: var(--sl-color-input-invalid-checked-disabled-background);
  --sl-color-input-invalid-checked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-focus-border: var(--sl-color-input-invalid-checked-focus-background);
  --sl-color-input-invalid-checked-active-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-active-border: var(--sl-color-input-invalid-checked-active-background);
  --sl-color-input-invalid-checked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-hover-border: var(--sl-color-input-invalid-checked-hover-background);
  --sl-color-input-invalid-checked-default-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-invalid-checked-default-border: var(--sl-color-input-invalid-checked-default-background);
  --sl-color-input-invalid-unchecked-disabled-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-disabled-background: rgba(var(--sl-body-background) / 0);
  --sl-color-input-invalid-unchecked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-focus-background: rgba(var(--sl-body-background), var(--sl-opacity-100));
  --sl-color-input-invalid-unchecked-active-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-default-icon: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-invalid-unchecked-default-background: rgba(var(--sl-body-background) / 0);
  --sl-color-input-default-checked-disabled-border: var(--sl-color-input-default-checked-disabled-background);
  --sl-color-input-default-checked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-default-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-focus-border: var(--sl-color-input-default-checked-focus-background);
  --sl-color-input-default-checked-active-icon: var(--sl-body-foreground);
  --sl-color-input-default-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-active-border: var(--sl-color-input-default-checked-active-background);
  --sl-color-input-default-checked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-default-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-hover-border: var(--sl-color-input-default-checked-hover-background);
  --sl-color-input-default-checked-default-icon: var(--sl-body-foreground);
  --sl-color-input-default-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-default-checked-default-border: var(--sl-color-input-default-checked-default-background);
  --sl-color-input-default-unchecked-disabled-icon: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-disabled-background: rgba(var(--sl-body-background) / 0);
  --sl-color-input-default-unchecked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-default-unchecked-active-icon: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-default-icon: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-default-unchecked-default-background: rgba(var(--sl-body-background) / 0);
  --sl-color-button-danger-outline-focus-background: var(--sl-body-background);
  --sl-color-button-danger-outline-idle-background: var(--sl-body-background);
  --sl-color-button-danger-default-disabled-foreground: var(--sl-body-background);
  --sl-color-button-warning-outline-disabled-background: var(--sl-body-background);
  --sl-color-button-warning-outline-focus-background: var(--sl-body-background);
  --sl-color-button-warning-outline-idle-background: var(--sl-body-background);
  --sl-color-button-warning-default-disabled-foreground: var(--sl-body-background);
  --sl-color-button-success-outline-disabled-background: var(--sl-body-background);
  --sl-color-button-success-outline-focus-background: var(--sl-body-background);
  --sl-color-button-success-outline-idle-background: var(--sl-body-background);
  --sl-color-button-primary-outline-focus-background: var(--sl-body-background);
  --sl-color-button-primary-outline-idle-background: var(--sl-body-background);
  --sl-color-button-primary-default-focus-foreground: var(--sl-body-foreground);
  --sl-color-button-primary-default-active-foreground: var(--sl-body-foreground);
  --sl-color-button-primary-default-hover-foreground: var(--sl-body-foreground);
  --sl-color-button-primary-default-idle-foreground: var(--sl-body-foreground);
  --sl-color-button-default-outline-disabled-background: var(--sl-body-background);
  --sl-color-button-default-outline-focus-background: var(--sl-body-background);
  --sl-color-button-default-outline-idle-background: var(--sl-body-background);
  --sl-color-button-default-default-focus-background: var(--sl-body-background);
  --sl-color-button-default-default-idle-background: var(--sl-body-background);
}
