/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-light {
  --sl-color-surface-solid-accent-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-accent-backgorund: rgb(var(--sl-color-palette-accent-base));
  --sl-color-surface-solid-secondary-foreground: rgb(var(--sl-color-palette-secondary-50));
  --sl-color-surface-solid-secondary-background: rgb(var(--sl-color-palette-secondary-400));
  --sl-color-surface-solid-primary-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-surface-solid-primary-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-body-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-body-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-success-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-solid-disabled-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-success-solid-active-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-solid-active-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-solid-hover-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-solid-hover-background: rgba(var(--sl-color-palette-success-base) / var(--sl-opacity-800));
  --sl-color-button-success-solid-idle-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-solid-idle-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-subtle-disabled-foreground: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-success-subtle-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-subtle-active-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-subtle-active-background: rgba(var(--sl-color-palette-success-150) / var(--sl-opacity-600));
  --sl-color-button-success-subtle-hover-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-subtle-hover-background: rgba(var(--sl-color-palette-success-150) / var(--sl-opacity-900));
  --sl-color-button-success-subtle-idle-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-subtle-idle-background: rgba(var(--sl-color-palette-success-150) / var(--sl-opacity-600));
  --sl-color-button-success-outline-disabled-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-success-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-success-outline-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-success-outline-active-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-outline-active-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-outline-active-background: rgba(var(--sl-color-palette-success-base) / 0);
  --sl-color-button-success-outline-hover-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-outline-hover-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-outline-hover-background: rgba(var(--sl-color-palette-success-base) / var(--sl-opacity-200));
  --sl-color-button-success-outline-idle-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-outline-idle-foreground: rgb(var(--sl-color-palette-success-900));
  --sl-color-button-success-outline-idle-background: rgba(var(--sl-color-palette-success-base) / 0);
  --sl-color-button-success-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-success-ghost-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-success-ghost-active-foreground: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-ghost-active-background: rgba(var(--sl-color-palette-success-base) / 0);
  --sl-color-button-success-ghost-hover-foreground: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-ghost-hover-background: rgba(var(--sl-color-palette-success-150) / var(--sl-opacity-600));
  --sl-color-button-success-ghost-idle-foreground: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-ghost-idle-background: rgba(var(--sl-color-palette-success-base) / 0);
  --sl-color-button-secondary-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-secondary-solid-disabled-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-secondary-solid-active-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-solid-active-background: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-solid-hover-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-solid-hover-background: rgba(var(--sl-color-palette-secondary-base) / var(--sl-opacity-800));
  --sl-color-button-secondary-solid-idle-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-solid-idle-background: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-subtle-disabled-foreground: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-secondary-subtle-disabled-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-secondary-subtle-active-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-subtle-active-background: rgba(var(--sl-color-palette-secondary-150) / var(--sl-opacity-600));
  --sl-color-button-secondary-subtle-hover-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-subtle-hover-background: rgba(var(--sl-color-palette-secondary-150) / var(--sl-opacity-900));
  --sl-color-button-secondary-subtle-idle-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-subtle-idle-background: rgba(var(--sl-color-palette-secondary-150) / var(--sl-opacity-600));
  --sl-color-button-secondary-outline-disabled-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-secondary-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-secondary-outline-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-secondary-outline-active-border: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-outline-active-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-outline-active-background: rgba(var(--sl-color-palette-secondary-base) / 0);
  --sl-color-button-secondary-outline-hover-border: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-outline-hover-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-outline-hover-background: rgba(var(--sl-color-palette-secondary-base) / var(--sl-opacity-200));
  --sl-color-button-secondary-outline-idle-border: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-outline-idle-foreground: rgb(var(--sl-color-palette-secondary-900));
  --sl-color-button-secondary-outline-idle-background: rgba(var(--sl-color-palette-secondary-base) / 0);
  --sl-color-button-secondary-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-secondary-ghost-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-secondary-ghost-active-foreground: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-ghost-active-background: rgba(var(--sl-color-palette-secondary-base) / 0);
  --sl-color-button-secondary-ghost-hover-foreground: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-ghost-hover-background: rgba(var(--sl-color-palette-secondary-150) / var(--sl-opacity-600));
  --sl-color-button-secondary-ghost-idle-foreground: rgb(var(--sl-color-palette-secondary-base));
  --sl-color-button-secondary-ghost-idle-background: rgba(var(--sl-color-palette-secondary-base) / 0);
  --sl-color-button-accent-outline-disabled-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-accent-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-button-accent-outline-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-accent-outline-active-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-active-foreground: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-active-background: rgba(var(--sl-color-palette-accent-base) / 0);
  --sl-color-button-accent-outline-hover-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-hover-foreground: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-hover-background: rgba(var(--sl-color-palette-accent-base) / var(--sl-opacity-200));
  --sl-color-button-accent-outline-idle-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-idle-foreground: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-outline-idle-background: rgba(var(--sl-color-palette-accent-base) / 0);
  --sl-color-button-accent-subtle-active-foreground: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-accent-subtle-active-background: rgba(var(--sl-color-palette-accent-150) / var(--sl-opacity-600));
  --sl-color-button-accent-subtle-hover-foreground: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-accent-subtle-hover-background: rgba(var(--sl-color-palette-accent-150) / var(--sl-opacity-900));
  --sl-color-button-accent-subtle-idle-foreground: rgb(var(--sl-color-palette-accent-900));
  --sl-color-button-accent-subtle-idle-background: rgba(var(--sl-color-palette-accent-150) / var(--sl-opacity-600));
  --sl-color-button-accent-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-accent-solid-disabled-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-accent-solid-active-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-button-accent-solid-active-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-accent-solid-hover-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-button-accent-solid-hover-background: rgba(var(--sl-color-palette-accent-base) / var(--sl-opacity-900));
  --sl-color-button-accent-solid-idle-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-button-accent-solid-idle-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-button-info-outline-disabled-foreground: rgb(var(--sl-color-palette-info-200));
  --sl-color-button-info-outline-disabled-background: rgba(var(--sl-color-palette-neutral-base) / 0);
  --sl-color-button-info-outline-active-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-active-foreground: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-active-background: rgba(var(--sl-color-palette-info-base) / 0);
  --sl-color-button-info-outline-hover-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-hover-foreground: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-hover-background: rgba(var(--sl-color-palette-info-base) / var(--sl-opacity-200));
  --sl-color-button-info-outline-idle-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-idle-foreground: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-outline-idle-background: rgba(var(--sl-color-palette-info-base) / 0);
  --sl-color-button-info-subtle-disabled-foreground: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-info-subtle-disabled-background: rgb(var(--sl-color-palette-info-100));
  --sl-color-button-info-subtle-active-foreground: rgb(var(--sl-color-palette-info-900));
  --sl-color-button-info-subtle-active-background: rgba(var(--sl-color-palette-info-150) / var(--sl-opacity-600));
  --sl-color-button-info-subtle-hover-foreground: rgb(var(--sl-color-palette-info-900));
  --sl-color-button-info-subtle-hover-background: rgba(var(--sl-color-palette-info-150) / var(--sl-opacity-900));
  --sl-color-button-info-subtle-idle-foreground: rgb(var(--sl-color-palette-info-900));
  --sl-color-button-info-subtle-idle-background: rgba(var(--sl-color-palette-info-150) / var(--sl-opacity-600));
  --sl-color-button-info-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-info-solid-disabled-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-info-solid-active-foreground: rgb(var(--sl-color-palette-info-50));
  --sl-color-button-info-solid-active-background: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-info-solid-hover-foreground: rgb(var(--sl-color-palette-info-50));
  --sl-color-button-info-solid-hover-background: rgba(var(--sl-color-palette-info-base) / var(--sl-opacity-900));
  --sl-color-button-info-solid-idle-foreground: rgb(var(--sl-color-palette-info-50));
  --sl-color-button-info-solid-idle-background: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-primary-ghost-disabled-foreground: rgb(var(--sl-color-palette-primary-200));
  --sl-color-button-primary-ghost-disabled-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-ghost-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-active-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-ghost-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-hover-background: rgba(var(--sl-color-palette-primary-150) / var(--sl-opacity-600));
  --sl-color-button-primary-ghost-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-idle-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-outline-disabled-border: rgb(var(--sl-color-palette-primary-200));
  --sl-color-button-primary-outline-disabled-foreground: rgb(var(--sl-color-palette-primary-200));
  --sl-color-button-primary-outline-disabled-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-outline-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-outline-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-hover-background: rgba(var(--sl-color-palette-primary-base) / var(--sl-opacity-200));
  --sl-color-button-primary-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-background: rgba(var(--sl-color-palette-primary-base) / 0);
  --sl-color-button-primary-subtle-disabled-foreground: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-primary-subtle-disabled-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-subtle-active-foreground: rgb(var(--sl-color-palette-primary-900));
  --sl-color-button-primary-subtle-active-background: rgba(var(--sl-color-palette-primary-150) / var(--sl-opacity-600));
  --sl-color-button-primary-subtle-hover-foreground: rgb(var(--sl-color-palette-primary-900));
  --sl-color-button-primary-subtle-hover-background: rgba(var(--sl-color-palette-primary-150) / var(--sl-opacity-900));
  --sl-color-button-primary-subtle-idle-foreground: rgb(var(--sl-color-palette-primary-900));
  --sl-color-button-primary-subtle-idle-background: rgba(var(--sl-color-palette-primary-150) / var(--sl-opacity-600));
  --sl-color-button-primary-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-solid-disabled-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-button-primary-solid-active-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-active-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-solid-hover-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-hover-background: rgba(var(--sl-color-palette-primary-base) / var(--sl-opacity-900));
  --sl-color-button-primary-solid-idle-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-idle-background: rgb(var(--sl-color-palette-primary-base));
}
