/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-text-button-lg {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-sm);
}

@mixin sl-text-button-md {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-lg);
}

@mixin sl-text-button-sm {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  line-height: var(--sl-text-typeset-line-height-md);
}

@mixin sl-text-body-lg-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-lg-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-lg-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-lg);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-md-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-md);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-md);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-md);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-bold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-demibold {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-demibold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-body-sm-normal {
  font-family: var(--sl-text-typeset-font-family-body);
  font-size: var(--sl-text-typeset-font-size-sm);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-sm);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-sm);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-4 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-lg);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-lg);
  line-height: var(--sl-text-typeset-line-height-lg);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-3 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-xl);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-2 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-2xl);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-md);
  line-height: var(--sl-text-typeset-line-height-2xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-1 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-3xl);
  font-weight: var(--sl-text-typeset-font-weight-regular);
  letter-spacing: var(--sl-text-typeset-letter-spacing-sm);
  line-height: var(--sl-text-typeset-line-height-3xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}

@mixin sl-text-heading-0 {
  font-family: var(--sl-text-typeset-font-family-heading);
  font-size: var(--sl-text-typeset-font-size-4xl);
  font-weight: var(--sl-text-typeset-font-weight-bold);
  letter-spacing: var(--sl-text-typeset-letter-spacing-xs);
  line-height: var(--sl-text-typeset-line-height-4xl);
  margin-bottom: var(--sl-text-typeset-paragraph-spacing-none);
  text-decoration: var(--sl-text-typeset-text-decoration-none);
  text-transform: var(--sl-text-typeset-text-case-none);
}
