$sizes: 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 4xl;

:host {
  --sl-icon-container-size: var(--sl-size-icon-md);
  --sl-icon-fill-accent: rgb(var(--sl-color-palette-accent-300));
  --sl-icon-fill-default: currentcolor;
  --sl-icon-size: var(--sl-size-icon-md);

  block-size: var(--sl-icon-container-size, unset);
  display: inline-grid;
  inline-size: var(--sl-icon-container-size, unset);
  outline: none;
  place-content: center;
  translate: 0;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --sl-icon-container-size: var(--sl-size-icon-#{$size});
    --sl-icon-size: var(--sl-size-icon-#{$size});
  }
}

svg {
  block-size: var(--sl-icon-size);
  inline-size: var(--sl-icon-size);
}
