:host {
  --sl-icon-fill-accent: var(--sl-color-background-primary-interactive-bold);
  --sl-icon-fill-default: currentcolor;
  --sl-icon-size: var(
    --sl-size-200,
    1.25rem
  ); // we need a fallback to prevent the icon flashing at the default size before the CSS variables from the theme are applied

  aspect-ratio: 1 / 1;
  display: inline-grid;
  flex-shrink: 0; // Prevent shrinking in flex containers
  inline-size: max(0.8em, var(--sl-icon-size));
  outline: none;
  place-content: center;
  translate: 0;
}

// There are some really old browsers that don't support `cap` yet, so we use a fallback with `em`.
@supports (inline-size: 1cap) {
  :host {
    inline-size: max(1cap, var(--sl-icon-size));
  }
}

:host([size='2xs']) {
  --sl-icon-size: var(--sl-size-125, 0.8rem);
}

:host([size='xs']) {
  --sl-icon-size: var(--sl-size-150, 0.9rem);
}

:host([size='sm']) {
  --sl-icon-size: var(--sl-size-175, 1rem);
}

:host([size='md']) {
  --sl-icon-size: var(--sl-size-200, 1.25rem);
}

:host([size='lg']) {
  --sl-icon-size: var(--sl-size-250, 1.5rem);
}

:host([size='xl']) {
  --sl-icon-size: var(--sl-size-300, 1.75rem);
}

:host([size='2xl']) {
  --sl-icon-size: var(--sl-size-400, 2.25rem);
}

:host([size='3xl']) {
  --sl-icon-size: var(--sl-size-600, 3rem);
}

:host([size='4xl']) {
  --sl-icon-size: var(--sl-size-800, 4rem);
}

svg {
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  overflow: visible;
}
