:host([step-buttons='edges']) {
  padding: 0;

  slot[name='input']::slotted(input) {
    text-align: center;
  }
}

::slotted(input) {
  text-overflow: ellipsis;
}

.step-buttons {
  display: flex;

  .plus {
    padding-inline-start: var(--sl-size-025);
  }

  .minus {
    padding-inline-end: var(--sl-size-025);
  }
}

sl-field-button {
  aspect-ratio: auto;
  inline-size: auto;

  &.plus {
    padding-inline-end: calc(var(--sl-size-075) - var(--sl-size-borderWidth-default));
  }

  &.minus {
    padding-inline-start: calc(var(--sl-size-075) - var(--sl-size-borderWidth-default));
  }
}
