:host([step-buttons='edges']) {
  padding: 0;

  slot[name='input']::slotted(input) {
    text-align: center;
  }
}

.step-buttons {
  display: flex;
  margin-inline-end: calc(var(--sl-size-025) - var(--sl-size-borderWidth-subtle));
}
