:host {
  // --_bg-color: var(--sl-color-background-secondary-bold);
  // --_bg-mix-color: var(--sl-color-background-secondary-interactive-bold);
  // --_bg-opacity: var(--sl-opacity-interactive-bold-idle);

  // background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));

  // padding: 0 var(--_padding-inline); // 0; // 0 0 0 var(--_padding-inline);
}

:host([step-buttons='edges']) {
  padding: 0;

  slot[name='input']::slotted(input) {
    text-align: center;
  }
}

.step-buttons {
  display: flex;
}

button:hover {
  --_bg-color: var(--sl-color-background-secondary-bold);
  --_bg-mix-color: var(--sl-color-background-secondary-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-bold-idle);

  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
}
