:host {
  display: block;
  position: relative;
}

[part~='wrapper'] {
  inline-size: 100%;
  position: relative;
}

[part~='item'] {
  box-sizing: border-box;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: absolute;
  will-change: transform;
}
