/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-base {
  --sl-icon-core-fa-check: fa-chevron-down;
  --sl-icon-core-fa-chevron-down: fa-chevron-down;
  --sl-icon-core-fa-fav: fa-star;
  --sl-icon-core-fa-menu: fa-bars;
  --sl-icon-core-fa-face-smile: fa-face-smile;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 22px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-family-icon: Font Awesome 6 Pro;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-size-4xl: 72px;
  --sl-size-3xl: 64px;
  --sl-size-2xl: 56px;
  --sl-size-xl: 48px;
  --sl-size-lg: 40px;
  --sl-size-md: 32px;
  --sl-size-sm: 24px;
  --sl-size-xs: 16px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-border-radius-full: 100%;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 30 53 52;
  --sl-color-palette-danger-base: 212 0 0;
  --sl-color-palette-danger-900: 110 34 22;
  --sl-color-palette-danger-800: 156 34 19;
  --sl-color-palette-danger-700: 194 20 8;
  --sl-color-palette-danger-600: 217 47 27;
  --sl-color-palette-danger-500: 226 88 64;
  --sl-color-palette-danger-400: 232 124 103;
  --sl-color-palette-danger-300: 236 157 141;
  --sl-color-palette-danger-200: 240 189 178;
  --sl-color-palette-danger-150: 243 217 212;
  --sl-color-palette-danger-100: 247 236 234;
  --sl-color-palette-danger-50: 254 254 254;
  --sl-color-palette-warning-base: 248 134 0;
  --sl-color-palette-warning-900: 82 54 30;
  --sl-color-palette-warning-800: 114 72 34;
  --sl-color-palette-warning-700: 138 84 35;
  --sl-color-palette-warning-600: 166 98 34;
  --sl-color-palette-warning-500: 197 112 29;
  --sl-color-palette-warning-400: 233 127 14;
  --sl-color-palette-warning-300: 248 155 69;
  --sl-color-palette-warning-200: 248 189 136;
  --sl-color-palette-warning-150: 248 217 189;
  --sl-color-palette-warning-100: 249 236 224;
  --sl-color-palette-warning-50: 254 254 254;
  --sl-color-palette-success-base: 8 205 87;
  --sl-color-palette-success-900: 40 66 43;
  --sl-color-palette-success-800: 49 90 54;
  --sl-color-palette-success-700: 53 108 62;
  --sl-color-palette-success-600: 56 128 69;
  --sl-color-palette-success-500: 54 151 76;
  --sl-color-palette-success-400: 45 177 82;
  --sl-color-palette-success-300: 11 204 86;
  --sl-color-palette-success-200: 140 218 150;
  --sl-color-palette-success-150: 194 232 198;
  --sl-color-palette-success-100: 229 243 231;
  --sl-color-palette-success-50: 254 254 254;
  --sl-color-palette-info-base: 6 132 128;
  --sl-color-palette-info-900: 30 53 52;
  --sl-color-palette-info-800: 36 78 76;
  --sl-color-palette-info-700: 35 97 94;
  --sl-color-palette-info-600: 27 116 113;
  --sl-color-palette-info-500: 43 137 134;
  --sl-color-palette-info-400: 96 156 153;
  --sl-color-palette-info-300: 136 177 175;
  --sl-color-palette-info-200: 174 199 198;
  --sl-color-palette-info-150: 206 220 219;
  --sl-color-palette-info-100: 232 238 238;
  --sl-color-palette-info-50: 254 254 254;
  --sl-color-palette-neutral-base: 41 41 43;
  --sl-color-palette-neutral-900: 38 38 38;
  --sl-color-palette-neutral-800: 62 61 61;
  --sl-color-palette-neutral-700: 78 78 78;
  --sl-color-palette-neutral-600: 96 95 95;
  --sl-color-palette-neutral-500: 115 115 115;
  --sl-color-palette-neutral-400: 137 137 137;
  --sl-color-palette-neutral-300: 162 161 161;
  --sl-color-palette-neutral-200: 188 188 188;
  --sl-color-palette-neutral-150: 213 213 213;
  --sl-color-palette-neutral-100: 234 234 234;
  --sl-color-palette-neutral-50: 254 254 254;
  --sl-color-palette-accent-base: 49 122 189;
  --sl-color-palette-accent-900: 35 51 67;
  --sl-color-palette-accent-800: 46 74 104;
  --sl-color-palette-accent-700: 50 90 131;
  --sl-color-palette-accent-600: 51 108 163;
  --sl-color-palette-accent-500: 66 128 189;
  --sl-color-palette-accent-400: 108 150 194;
  --sl-color-palette-accent-300: 144 173 203;
  --sl-color-palette-accent-200: 179 197 215;
  --sl-color-palette-accent-150: 210 220 229;
  --sl-color-palette-accent-100: 233 237 241;
  --sl-color-palette-accent-50: 254 254 254;
  --sl-color-palette-primary-base: 6 132 128;
  --sl-color-palette-primary-900: 30 53 52;
  --sl-color-palette-primary-800: 36 78 76;
  --sl-color-palette-primary-700: 35 97 94;
  --sl-color-palette-primary-600: 27 116 113;
  --sl-color-palette-primary-500: 43 137 134;
  --sl-color-palette-primary-400: 96 156 153;
  --sl-color-palette-primary-300: 136 177 175;
  --sl-color-palette-primary-200: 174 199 198;
  --sl-color-palette-primary-150: 206 220 219;
  --sl-color-palette-primary-100: 232 238 238;
  --sl-color-palette-primary-50: 254 254 254;
}
