@import 'breakpoints';

*:focus-visible:not(input, sl-button, sl-textarea, sl-tab) {
  border-radius: 0.6rem;
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

$sticky-breakpoint: 1px;

html {
  font-size: 62.5%;

  @media (min-height: $sticky-breakpoint) {
    // scroll-padding-top: 100px;

    /* stylelint-disable-next-line max-nesting-depth */
    @media screen and (min-width: $lg-breakpoint) {
      //  scroll-padding-top: 90px;
      scroll-padding-top: 85px;
    }
  }
}
