/**
 * left for the future use
*/

/*
:root:not(.light) {
  --background-color: #202124;
  --second-background-color: #4c4d4f;
  --third-background-color: #363739;
  --menu-second-color: #363739;
  --primary-color: #363739;
  --font-color: #fff;
  --secondary-font-color: rgba(226, 232, 240, 1);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --n-color-surface: #363739;
  --n-color-background: #363739;
  --n-color-text-weak: #fff;
  --sl-panel-background-color: transparent;
  --sl-color-neutral-0: #363739;
  --sl-color-neutral-700: #fff;
  --n-color-text: #fff;
  --n-button-background-color: transparent;
  --n-tab-color: #668cff;
}

:root.light {
  --background-color: #f8f9fa;
  --second-background-color: var(--ds-color-black);
  --third-background-color: #fff;
  --menu-second-color: rgba(138, 174, 255, 0.2);
  --primary-color: rgba(138, 174, 255, 0.2);
  --font-color: #212529;
  --secondary-font-color: #495057;
  --n-color-surface: rgb(255, 255, 255);
  --n-color-background: rgb(255, 255, 255);
}

.ds-theme-icon {
  align-items: center;
  background-color: var(--primary-color);
  border-color: rgba(226, 232, 240, 0);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  bottom: 16px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 2.5rem;
  justify-content: center;
  left: 16px;
  position: absolute;
  transition: all 500ms;
  width: 2.5rem;
}

:root:not(.light) {
  .ds-icon-light {
    display: none;
  }

  .ds-icon-dark {
    color: #fff;
    display: inline-block;
  }
}

:root.light {
  .ds-icon-light {
    display: inline-block;
  }

  .ds-icon-dark {
    display: none;
  }
}
*/

:root {
  --angle: url('../assets/icons/angle-right-black.svg');
  --angle-active: invert(33%) sepia(70%) saturate(3459%) hue-rotate(219deg) brightness(101%) contrast(105%);
  --background-color: var(--ds-color-white);
  --badge-background: var(--ds-color-white);
  --badge-border: var(--ds-color-light-grey);
  --badge-color: var(--ds-color-nickel);
  --card-background: var(--ds-color-alice-blue-darker);
  --card-color--active: var(--ds-color-mariner);
  --chevron-icon: url('../assets/icons/chevron-right.svg');
  --chevron-icon--active: url('../assets/icons/chevron-right-darker.svg');
  --contact-block-background: var(--ds-color-selago-blue);
  --contact-block-link: var(--ds-color-blue);
  --contact-block-link--hover: var(--ds-color-mariner);
  --close-icon: url('../assets/icons/close.svg');
  --component-card-background: var(--ds-color-light-concrete);
  --code-border: var(--ds-color-bright-grey);
  --copy-icon: url('../assets/icons/copy.svg');
  --copy-icon--hover: url('../assets/icons/copy-hover.svg');
  --copy-button-background: var(--ds-color-concrete);
  --copy-button-background--active: var(--ds-color-alice-blue);
  --copy-button-background--hover: var(--ds-color-light-blue);
  --copy-button-border: var(--ds-color-bright-grey);
  --cta-background: linear-gradient(79.62deg, var(--ds-color-blue) 0.95%, var(--ds-color-blueberry-light) 100%);
  --cta-link-color: var(--ds-color-white);
  --cta-link-color--active: rgb(var(--ds-color-white-rgb) 0.9);
  --danger-color: var(--ds-color-danger);
  --error-icon: url('../assets/icons/error-dark.svg');
  --filter-color: rgb(34 34 34 / 12%);
  --focus-box-shadow: 0 0 0 3px rgb(var(--ds-color-blue-rgb) 0.32);
  --navigation-focus-box-shadow: 0 0 0 3px rgb(var(--ds-color-blue-rgb) 0.32);
  --hamburger-filter: brightness(3.5);
  --hamburger-icon: url('../assets/icons/hamburger.svg');
  --heading-background: var(--ds-color-blue);
  --heading-color: var(--ds-color-faux-white);
  --help-color: var(--ds-color-black-rgb);
  --help-icon: url('../assets/icons/messages-question-light-grey.svg');
  --help-icon-hover: url('../assets/icons/messages-question-black.svg');
  --helper-text: var(--ds-color-black);
  --highlight-color: var(--ds-color-blue);
  --input-menu-background: rgb(var(--ds-color-black-rgb) 0.04);
  --input-menu-background--hover: rgb(var(--ds-color-black-rgb) 0.08);
  --input-menu--border: var(--ds-color-light-grey);
  --link-color: var(--ds-color-blueberry-light);
  --link-hover-color: var(--ds-color-mariner);
  --link-active-color: var(--ds-color-mariner);
  --link-visited-color: var(--ds-color-blueberry-light);
  --logo: url('../assets/logo-black.svg');
  --menu-button-hover: rgb(var(--ds-color-blue-rgb) 0.04);
  --menu-font-color: var(--ds-color-raisin-black);
  --menu-second-color: rgb(138 174 255 / 20%);
  --picture-background: var(--ds-color-concrete);
  --search-color: var(--ds-color-black);
  --search-icon: url('../assets/icons/search.svg');
  --second-background-color: var(--ds-color-ghost-white);
  --sidebar-border: none;
  --success-icon: url('../assets/icons/check-dark.svg');
  --success-color: var(--ds-color-success);
  --table-code-background: var(--ds-color-concrete);
  --table-separator: var(--ds-color-bright-grey);
  --table-text-color: var(--ds-color-raisin-black);
  --tab-color: rgb(var(--ds-color-black-rgb) 0.6);
  --tab-color--active: var(--ds-color-black);
  --tab-color--hover: var(--ds-color-black);
  --tab-indicator-background: var(--ds-color-blue);
  --text-color: var(--ds-color-black);
  --top-navbar-color: var(--ds-color-white);
  --vertical-slider-background: var(--ds-color-light-silver);
}

@media (prefers-color-scheme: light) {
  .light-only {
    display: initial;
  }

  .dark-only {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --angle: url('../assets/icons/angle-right.svg');
    --angle-active: brightness(0) saturate(100%) invert(45%) sepia(57%) saturate(3117%) hue-rotate(210deg)
      brightness(107%) contrast(101%);
    --background-color: var(--ds-color-black);
    --badge-background: var(--ds-color-base-surface);
    --badge-border: var(--ds-color-blck-olive);
    --badge-color: var(--ds-color-grey);
    --card-background: rgb(var(--ds-color-blue-rgb) 0.32);
    --card-color--active: var(--ds-color-baby-blue);
    --chevron-icon: url('../assets/icons/chevron-right-dark.svg');
    --chevron-icon--active: url('../assets/icons/chevron-right-dark-lighter.svg');
    --contact-block-background: rgb(var(--ds-color-blue-rgb) 0.2);
    --contact-block-link: var(--ds-color-baby-blue);
    --contact-block-link--hover: var(--ds-color-lavender-blue);
    --close-icon: url('../assets/icons/close-light.svg');
    --component-card-background: var(--ds-color-raisin-black-light);
    --code-border: var(--ds-color-blck-olive);
    --copy-icon: url('../assets/icons/copy-light.svg');
    --copy-icon--hover: url('../assets/icons/copy-hover-dark.svg');
    --copy-button-background: var(--ds-color-blck-olive);
    --copy-button-background--active: var(--ds-color-deep-koamaru);
    --copy-button-background--hover: var(--ds-color-gunmetal);
    --copy-button-border: var(--ds-color-tundora);
    --cta-background: linear-gradient(259.74deg, rgb(89 133 255 / 80%) 0%, var(--ds-color-blueberry) 100%);
    --cta-link-color: var(--ds-color-raisin-black);
    --cta-link-color--active: rgb(var(--ds-color-black-rgb) 0.9);
    --danger-color: var(--ds-color-red);
    --error-icon: url('../assets/icons/error.svg');
    --filter-color: rgb(34 34 34 / 64%);
    --focus-box-shadow: 0 0 0 3px rgb(var(--ds-color-blue-rgb) 0.32);
    --navigation-focus-box-shadow: 0 0 0 3px rgb(var(--ds-color-blue-rgb) 0.64);
    --hamburger-filter: brightness(0.6);
    --hamburger-icon: url('../assets/icons/hamburger-light.svg');
    --heading-background: var(--ds-color-blueberry);
    --heading-color: var(--ds-color-raisin-black);
    --help-color: var(--ds-color-faux-white-rgb);
    --help-icon: url('../assets/icons/messages-question-grey.svg');
    --help-icon-hover: url('../assets/icons/messages-question.svg');
    --helper-text: var(--ds-color-faux-white);
    --highlight-color: var(--ds-color-blueberry);
    --input-menu-background: rgb(var(--ds-color-faux-white-rgb) 0.16);
    --input-menu-background--hover: rgb(var(--ds-color-faux-white-rgb) 0.2);
    --logo: url('../assets/logo.svg');
    --link-color: var(--ds-color-baby-blue);
    --link-hover-color: var(--ds-color-lavender-blue);
    --link-active-color: var(--ds-color-lavender-blue);
    --link-visited-color: var(--ds-color-baby-blue);
    --menu-button-hover: rgb(var(--ds-color-blue-rgb) 0.32);
    --menu-font-color: var(--ds-color-lotion);
    --menu-second-color: #363739;
    --picture-background: var(--ds-color-blck-olive);
    --search-color: var(--ds-color-faux-white);
    --search-icon: url('../assets/icons/search-light.svg');
    --second-background-color: var(--ds-color-black);
    --sidebar-border: inset -1px 0 0 var(--ds-color-blck-olive);
    --success-icon: url('../assets/icons/check.svg');
    --success-color: var(--ds-color-green);
    --table-code-background: var(--ds-color-blck-olive);
    --table-separator: var(--ds-color-tundora);
    --table-text-color: var(--ds-color-white);
    --tab-color: rgb(var(--ds-color-faux-white-rgb) 0.64);
    --tab-color--active: var(--ds-color-faux-white);
    --tab-color--hover: var(--ds-color-faux-white);
    --tab-indicator-background: var(--ds-color-blueberry);
    --text-color: var(--ds-color-white);
    --top-navbar-color: var(--ds-color-black);
    --vertical-slider-background: var(--ds-color-tundora);
  }

  .light-only {
    display: none;
  }

  .dark-only {
    display: initial;
  }
}
