@media (prefers-color-scheme: light) {
  :root {
    /* colors */
    --component-color-input-field-background: #3366ff0a;
    --control-color-border-100-border: var(--colors-neutral-100-neutral);
    --control-color-border-200-border: var(--colors-neutral-150-neutral);
    --control-color-border-300-border: var(--colors-neutral-300-neutral);
    --control-color-border-400-border: var(--colors-neutral-400-neutral);
    --control-color-border-500-border: var(--colors-neutral-700-neutral);
    --control-color-border-danger-border: var(--colors-base-danger);
    --control-color-border-negative-border: var(--colors-neutral-base-white);
    --control-color-focus-accent-focus: var(--colors-accent-200-accent);
    --control-color-focus-base-focus: var(--colors-accent-base-accent);
    --control-color-state-accent-border-active-state: var(--control-color-border-negative-border);
    --control-color-state-accent-border-default-state: var(--control-color-border-negative-border);
    --control-color-state-accent-border-disabled-state: var(--colors-accent-200-accent);
    --control-color-state-accent-border-hover-state: var(--control-color-border-negative-border);
    --control-color-state-accent-container-active-state: var(--colors-accent-600-accent);
    --control-color-state-accent-container-default-state: var(--control-color-surface-accent-surface);
    --control-color-state-accent-container-disabled-state: var(--colors-accent-base-accent);
    --control-color-state-accent-container-hover-state: var(--colors-accent-500-accent);
    --control-color-state-accent-font-default-state: var(--control-color-text-negative-text);
    --control-color-state-accent-font-disabled-state: var(--colors-accent-200-accent);
    --control-color-state-accent-font-hover-state: var(--colors-neutral-600-neutral);
    --control-color-state-danger-container-active-state: var(--colors-success-400-success);
    --control-color-state-danger-container-default-state: var(--colors-danger-300-danger);
    --control-color-state-danger-container-focus-state: var(--colors-success-300-success);
    --control-color-state-danger-container-hover-state: var(--colors-success-200-success);
    --control-color-state-danger-container-pressed-state: var(--colors-success-400-success);
    --control-color-state-danger-font-default-state: var(--colors-neutral-base-black);
    --control-color-state-danger-font-hover-state: var(--colors-neutral-base-black);
    --control-color-state-default-container-active-state: var(--colors-neutral-400-neutral);
    --control-color-state-default-container-default-state: var(--colors-neutral-200-neutral);
    --control-color-state-default-container-disabled-state: var(--colors-neutral-150-neutral);
    --control-color-state-default-container-focus-state: var(--colors-neutral-200-neutral);
    --control-color-state-default-container-hover-state: var(--colors-neutral-300-neutral);
    --control-color-state-default-container-pressed-state: var(--colors-neutral-400-neutral);
    --control-color-state-default-font-active-state: var(--colors-neutral-700-neutral);
    --control-color-state-default-font-default-state: var(--colors-neutral-500-neutral);
    --control-color-state-default-font-disabled-state: var(--colors-neutral-500-neutral);
    --control-color-state-default-font-hover-state: var(--colors-neutral-600-neutral);
    --control-color-state-primary-container-active-state: var(--colors-accent-600-accent);
    --control-color-state-primary-container-default-state: var(--colors-accent-base-accent);
    --control-color-state-primary-container-focus-state: var(--colors-accent-base-accent);
    --control-color-state-primary-container-hover-state: var(--colors-accent-500-accent);
    --control-color-state-primary-container-pressed-state: var(--colors-accent-600-accent);
    --control-color-state-primary-font-default-state: var(--colors-neutral-base-white);
    --control-color-state-primary-font-hover-state: var(--colors-neutral-base-white);
    --control-color-state-success-container-active-state: var(--colors-success-400-success);
    --control-color-state-success-container-default-state: var(--colors-success-300-success);
    --control-color-state-success-container-focus-state: var(--colors-success-300-success);
    --control-color-state-success-container-hover-state: var(--colors-success-200-success);
    --control-color-state-success-container-pressed-state: var(--colors-success-400-success);
    --control-color-state-success-font-default-state: var(--colors-neutral-base-black);
    --control-color-state-success-font-hover-state: var(--colors-neutral-base-black);
    --control-color-state-warning-container-active-state: var(--colors-success-400-success);
    --control-color-state-warning-container-default-state: var(--colors-warning-300-warning);
    --control-color-state-warning-container-focus-state: var(--colors-success-300-success);
    --control-color-state-warning-container-hover-state: var(--colors-success-200-success);
    --control-color-state-warning-container-pressed-state: var(--colors-success-400-success);
    --control-color-state-warning-font-default-state: var(--colors-neutral-base-black);
    --control-color-state-warning-font-hover-state: var(--colors-neutral-base-black);
    --control-color-surface-100-accent-surface: var(--colors-accent-50-accent);
    --control-color-surface-100-surface: var(--colors-neutral-50-neutral);
    --control-color-surface-200-surface: var(--colors-neutral-50-neutral);
    --control-color-surface-300-surface: var(--colors-neutral-150-neutral);
    --control-color-surface-400-surface: var(--colors-neutral-200-neutral);
    --control-color-surface-accent-surface: var(--colors-accent-base-accent);
    --control-color-surface-base-surface: var(--colors-neutral-base-white);
    --control-color-surface-danger-surface: var(--colors-danger-base-danger);
    --control-color-surface-nav-surface: var(--colors-neutral-50-neutral);
    --control-color-surface-success-surface: var(--colors-success-400-success);
    --control-color-text-100-text: var(--colors-neutral-400-neutral);
    --control-color-text-200-text: var(--colors-neutral-500-neutral);
    --control-color-text-accent-text: var(--colors-accent-base-accent);
    --control-color-text-base-text: var(--colors-neutral-base-black);
    --control-color-text-danger-text: var(--colors-danger-600-danger);
    --control-color-text-negative-text: var(--colors-neutral-50-neutral);
    --control-color-visuals-background: var(--colors-accent-200-accent);
    --control-color-visuals-clickable-area: var(--colors-warning-100-warning);
    --control-color-visuals-component-part-100: var(--colors-accent-200-accent);
    --control-color-visuals-component-text: var(--colors-neutral-800-neutral);
    --control-color-visuals-guide-clickable-area: var(--colors-200-warnng);
    --control-color-visuals-guide-fill: var(--colors-accent-base-accent);
    --control-color-visuals-guide-text: var(--colors-neutral-base-white);
    --control-color-code-text-neutral: rgb(var(--sl-color-palette-neutral-500));
    --control-color-code-text-accent: rgb(var(--sl-color-palette-accent-500));
    --control-color-code-text-danger: rgb(var(--sl-color-palette-danger-500));
    --control-color-code-text-warning: rgb(var(--sl-color-palette-warning-500));
    --control-color-code-text-success: rgb(var(--sl-color-palette-success-500));
  }
}
