:root {
  /* colors */
  --900-accent: #000d33;
  --colors-200-warnng: #fde376;
  --colors-600-danger: #992224;
  --colors-600-success: #1b6137;
  --colors-600-warnng: #79590d;
  --colors-base-danger: #ff575c;
  --colors-base-success: #70e09d;
  --colors-base-warnng: #feda42;
  --colors-accent-100-accent: #e0eaff;
  --colors-accent-150-accent: #ccdbff;
  --colors-accent-200-accent: #9ebaff;
  --colors-accent-300-accent: #5985ff;
  --colors-accent-400-accent: #36f;
  --colors-accent-50-accent: #edf2fc;
  --colors-accent-500-accent: #2351db;
  --colors-accent-600-accent: #1138ad;
  --colors-accent-700-accent: #09298e;
  --colors-accent-800-accent: #00175f;
  --colors-accent-base-accent: #36f;
  --colors-danger-100-danger: #ffd6d1;
  --colors-danger-150-danger: #ffbcb8;
  --colors-danger-200-danger: #ff8e8a;
  --colors-danger-300-danger: #ff575c;
  --colors-danger-400-danger: #e5454a;
  --colors-danger-50-danger: #ffedeb;
  --colors-danger-500-danger: #c73434;
  --colors-danger-600-danger: #992224;
  --colors-danger-700-danger: #6b1313;
  --colors-danger-800-danger: #470d0d;
  --colors-danger-900-danger: #260808;
  --colors-danger-base-danger: #ff575c;
  --colors-neutral-100-neutral: #eaeaea;
  --colors-neutral-150-neutral: #d5d5d5;
  --colors-neutral-200-neutral: #bcbcbc;
  --colors-neutral-300-neutral: #a2a1a1;
  --colors-neutral-400-neutral: #898989;
  --colors-neutral-50-neutral: #f4f4f4;
  --colors-neutral-500-neutral: #737373;
  --colors-neutral-600-neutral: #605f5f;
  --colors-neutral-700-neutral: #4e4e4e;
  --colors-neutral-800-neutral: #3e3d3d;
  --colors-neutral-900-neutral: #262626;
  --colors-neutral-base-black: #222;
  --colors-neutral-base-white: #fff;
  --colors-success-100-success: #d7f5e1;
  --colors-success-150-success: #aeebc4;
  --colors-success-200-success: #70e09d;
  --colors-success-300-success: #45cc80;
  --colors-success-400-success: #39b26c;
  --colors-success-50-success: #ebf5ee;
  --colors-success-500-success: #28854e;
  --colors-success-600-success: #1b6137;
  --colors-success-700-success: #114224;
  --colors-success-800-success: #0b331a;
  --colors-success-900-success: #082613;
  --colors-success-base-success: #45cc80;
  --colors-warning-100-warning: #fcecaa;
  --colors-warning-150-warning: #fde376;
  --colors-warning-200-warning: #feda42;
  --colors-warning-300-warning: #ffcf0d;
  --colors-warning-400-warning: #e1b00f;
  --colors-warning-50-warning: #faf4dc;
  --colors-warning-500-warning: #ae830e;
  --colors-warning-600-warning: #79590d;
  --colors-warning-700-warning: #563d0c;
  --colors-warning-800-warning: #34270c;
  --colors-warning-900-warning: #261d0b;
  --colors-warning-base-warning: #ffcf0d;
  /* numbers */
  --scale-none-scale: 0rem;
  --scale-50-scale: 0.4rem;
  --scale-100-scale: 0.8rem;
  --scale-150-scale: 1.2rem;
  --scale-200-scale: 1.6rem;
  --scale-300-scale: 2rem;
  --scale-400-scale: 2.4rem;
  --scale-500-scale: 2.8rem;
  --scale-600-scale: 3.2rem;
  --scale-700-scale: 4rem;
  --scale-800-scale: 4.8rem;
  --scale-900-scale: 4.8rem;
  --scale-1000-scale: 5.6rem;
  --scale-1200-scale: 6.4rem;
  --scale-1300-scale: 8rem;
}
