@font-face {
  font-family: the-message;
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/the-message-regular.woff2') format('woff2');
}

@font-face {
  font-family: the-message;
  font-style: normal;
  font-weight: 600;
  src: url('./../../assets/fonts/the-message-demibold.woff2') format('woff2');
}

@font-face {
  font-family: the-message;
  font-style: normal;
  font-weight: 700;
  src: url('./../../assets/fonts/the-message-bold.woff2') format('woff2');
}

body,
button {
  font-family: source-sans-pro, sans-serif;

  --typography-body: 1.6rem/2.4rem 'source-sans-pro', sans-serif;
  --typography-h2: 600 2.4rem/1 'the-message', sans-serif;
  --typography-h2-margin-block: var(--scale-none-scale) var(--scale-150-scale);
}

h1,
h2,
h3,
h4,
h5,
.ds-heading-1,
.ds-heading-2,
.ds-heading-3 {
  font-family: the-message, sans-serif;
  font-weight: 600;
}

h1,
.ds-heading-1 {
  font-size: 2.4rem;
  line-height: 1;
}

h2,
.ds-heading-2 {
  font: var(--typography-h2);
  margin-block: var(--typography-h2-margin-block);
}

h3,
.ds-heading-3 {
  font-size: 1.6rem;
  margin-block-end: var(--scale-100-scale);
}

p + h3:first-of-type {
  margin-block-start: var(--scale-600-scale);
}

h4,
.ds-heading-4 {
  font-size: 1.6rem;
  margin-block-end: var(--scale-100-scale);
}

p,
li {
  font: var(--typography-body);
}

p {
  margin-block: var(--scale-100-scale);
}

small p {
  font-size: 1rem;
  line-height: 1rem;
}
