@import '../../shared/styles/reset';
@import '../../shared/styles/base';

@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/the-message-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 600;
  src: url('./../../assets/fonts/the-message-demibold.woff2') format('woff2');
}

@font-face {
  font-family: 'The Message';
  font-style: normal;
  font-weight: 700;
  src: url('./../../assets/fonts/the-message-bold.woff2') format('woff2');
}

:root {
  --font-color: #000;
  --background-color: #66ce91;
  --card-background-color: #000;
  --card-hover-color: #3e3d3d;
  --card-font-color: #fefefe;
  --github-icon: url('../assets/github.svg');
  --slack-icon: url('../assets/slack.svg');
  --logo: url('../assets/logo.svg');
  --logo-small: url('../assets/logo-small.svg');
  --logo-smaller: url('../assets/logo-smaller.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --background-color: #222;
    --card-background-color: #56cc8a;
    --card-hover-color: #54b27b;
    --card-font-color: #222;
    --github-icon: url('../assets/github-dark.svg');
    --slack-icon: url('../assets/slack-dark.svg');
    --logo: url('../assets/logo-light.svg');
    --logo-small: url('../assets/logo-small-light.svg');
    --logo-smaller: url('../assets/logo-smaller-light.svg');
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'The Message', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 24px;
}

.ds-teaser__heading-part {
  &::before {
    content: '';
    display: block;
  }
}

p {
  margin-bottom: 24px;
}

.ds-teaser-background {
  aspect-ratio: 1;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms linear;
}

.ds-teaser__wrapper {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.ds-teaser__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.ds-teaser__card {
  background-color: var(--card-background-color);
  color: var(--card-font-color);
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  padding: 12px 16px 8px;
  text-decoration: none;
  transition: 300ms ease-in-out;

  &:hover {
    background-color: var(--card-hover-color);
  }
}

.ds-teaser__card-text {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 168px;
}

.ds-teaser__card-text {
  .ds-teaser__card-text-heading {
    opacity: 1;
  }

  span {
    opacity: 0.8;
  }
}

.ds-teaser__card-text-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  opacity: 1;
}

.ds-teaser__card-icon {
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  margin-left: 8px;
  width: 32px;
}

.ds-teaser__card-icon--github {
  background-image: var(--github-icon);
}

.ds-teaser__card-icon--slack {
  background-image: var(--slack-icon);
}

.ds-teaser {
  bottom: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-template-rows: fit-content(100%);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.ds-teaser::before {
  content: '';
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

.ds-teaser > *:first-child {
  grid-row: 1 / 1;
}

.ds-teaser__empty,
.ds-teaser__dots-second,
.ds-teaser__message,
.ds-teaser__empty-half,
.ds-teaser__list,
.ds-teaser__dots,
.ds-teaser__right-arrow,
.ds-teaser__empty-second,
.ds-teaser__chat,
.ds-teaser__left-arrow,
.ds-teaser__mobile-bottom,
.ds-teaser__dots-half,
.ds-teaser__notification {
  height: 0;
  opacity: 0;
  width: 0;
}

.ds-teaser__logo {
  background-image: var(--logo-smaller);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  grid-column: 1/1;
  grid-row: 1;
  height: 32px;
  margin: auto;
  transition: 300ms ease-in-out;
  width: 32px;
  z-index: 1;
}

.ds-teaser__mobile {
  aspect-ratio: auto;
  background-image: url('../assets/squares/mobile-top-square.png');
  grid-column: col-start 2 / span 3;
  grid-row: 1 / 4;
}

.ds-teaser__arrow {
  background-image: url('../assets/squares/arrow-top-square.png');
  grid-column: col-start 3 / span 1;
  grid-row: 4;
}

.ds-teaser__wrapper {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: col-start 1 / span 4;
  grid-row: 5 / 10;
  justify-content: center;
  padding: 0 24px;
  text-align: center;
}

.ds-teaser__user {
  background-image: url('../assets/squares/user-red-square.png');
  grid-column: col-start 1 / span 1;
  grid-row: 4;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
  }

  .ds-teaser__logo {
    background-image: var(--logo-small);
    height: 40px;
    transition: all 300ms ease-in-out;
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .ds-teaser {
    grid-template-columns: repeat(6, [col-start] 1fr);
    //grid-template-rows: repeat(7, 120px);
    //grid-template-rows: repeat(8, auto);
    grid-template-rows: repeat(7, minmax(120px, max-content)) minmax(80px, max-content); // max-content
    // place-content: center;
  }

  .ds-teaser__mobile {
    display: none;
  }

  .ds-teaser__empty,
  .ds-teaser__dots-second,
  .ds-teaser__message,
  .ds-teaser__mobile,
  .ds-teaser__empty-half,
  .ds-teaser__list,
  .ds-teaser__dots,
  .ds-teaser__right-arrow,
  .ds-teaser__empty-second {
    opacity: 0;
  }

  .ds-teaser__logo {
    background-image: var(--logo);
    grid-column: col-start / span 3;
    grid-row: 1;
    height: 20px;
    transition: all 300ms ease-in-out;
    width: 100%;
  }

  .ds-teaser__chat {
    aspect-ratio: auto;
    background-image: url('../assets/squares/chat-square.png');
    grid-column: col-start 3 / span 2;
    grid-row: 2 / 4;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__wrapper {
    grid-column: col-start 1 / span 6;
    grid-row: 4 / 7;
  }

  .ds-teaser__arrow {
    background-image: url('../assets/squares/arrow-square.png');
    grid-column: col-start 6 / span 1;
    grid-row: 1;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__user {
    background-image: url('../assets/squares/user-square.png');
    grid-column: col-start 1 / span 1;
    grid-row: 3;
  }

  .ds-teaser__left-arrow {
    background-image: url('../assets/squares/arrow-left-square.png');
    grid-column: col-start 6 / span 1;
    grid-row: 1;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__notification {
    background-image: url('../assets/squares/notification-part-square.png');
    grid-column: col-start 6 / span 1;
    grid-row: 7;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__dots-half {
    background-image: url('../assets/squares/arrow-dots-square.png');
    grid-column: col-start 2 / span 1;
    grid-row: 7;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__mobile-bottom {
    aspect-ratio: auto;
    background-image: url('../assets/squares/mobile-bottom-part-square.png');
    grid-column: col-start 4 / span 2;
    grid-row: 8;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    margin: 0 80px;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 32px;
  }

  p {
    line-height: 20px;
    margin-bottom: 32px;
  }

  .ds-teaser__card {
    padding: 16px 16px 12px;
  }

  .ds-teaser__card-text {
    width: 136px;
  }

  .ds-teaser__card-text-heading {
    margin-bottom: 8px;
  }

  .ds-teaser__card-icon {
    align-self: flex-start;
  }
}

@media screen and (min-width: 960px) {
  .ds-teaser {
    grid-template-columns: repeat(8, [col-start] 1fr);
  }

  .ds-teaser__empty,
  .ds-teaser__dots-second,
  .ds-teaser__message,
  .ds-teaser__mobile,
  .ds-teaser__empty-half,
  .ds-teaser__list,
  .ds-teaser__dots {
    opacity: 0;
  }

  .ds-teaser__logo {
    grid-column: col-start / span 3;
    grid-row: 1;
  }

  .ds-teaser__chat {
    grid-column: col-start 4 / span 2;
    grid-row: 1 / 3;
  }

  .ds-teaser__wrapper {
    grid-column: col-start 2 / span 6;
    grid-row: 3 / 7;
  }

  .ds-teaser__arrow {
    grid-column: col-start 7 / span 1;
    grid-row: 1;
  }

  .ds-teaser__user {
    grid-column: col-start 2 / span 1;
    grid-row: 2;
  }

  .ds-teaser__empty-second {
    background-image: url('../assets/squares/empty-square.png');
    grid-column: col-start 8 / span 1;
    grid-row: 3;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__right-arrow {
    background-image: url('../assets/squares/right-arrow-square.png');
    grid-column: col-start 1 / span 1;
    grid-row: 4;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__left-arrow {
    grid-column: col-start 8 / span 1;
    grid-row: 6;
  }

  .ds-teaser__notification {
    aspect-ratio: 2;
    background-image: url('../assets/squares/notification-square.png');
    grid-column: col-start 1 / span 2;
    grid-row: 7;
  }

  .ds-teaser__dots-half {
    grid-column: col-start 3 / span 1;
    grid-row: 8;
  }

  .ds-teaser__mobile-bottom {
    background-image: url('../assets/squares/mobile-bottom-square.png');
    grid-column: col-start 6 / span 2;
    grid-row: 7 / 9;
  }

  h1 {
    font-size: 76px;
    line-height: 80px;
    margin-bottom: 40px;
  }

  p {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .ds-teaser__card-text {
    width: 196px;
  }
}

@media screen and (min-width: 1200px) {
  .ds-teaser {
    grid-template-columns: repeat(10, [col-start] 1fr);
  }

  .ds-teaser__empty,
  .ds-teaser__dots-second,
  .ds-teaser__message,
  .ds-teaser__mobile {
    opacity: 0;
  }

  .ds-teaser__logo {
    grid-column: col-start / span 3;
    grid-row: 1;
  }

  .ds-teaser__dots {
    background-image: url('../assets/squares/arrow-dots-square.png');
    grid-column: col-start 3 / span 1;
    grid-row: 1;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__chat {
    grid-column: col-start 5 / span 2;
    grid-row: 1 / 3;
  }

  .ds-teaser__wrapper {
    grid-column: col-start 3 / span 6;
  }

  .ds-teaser__arrow {
    grid-column: col-start 8 / span 1;
    grid-row: 1;
  }

  .ds-teaser__user {
    grid-column: col-start 2 / span 1;
    grid-row: 2;
  }

  .ds-teaser__empty-second {
    grid-column: col-start 9 / span 1;
    grid-row: 3;
  }

  .ds-teaser__right-arrow {
    grid-column: col-start 1 / span 1;
    grid-row: 4;
  }

  .ds-teaser__list {
    background-image: url('../assets/squares/list-square.png');
    grid-column: col-start 10 / span 1;
    grid-row: 4;
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__left-arrow {
    grid-column: col-start 9 / span 1;
    grid-row: 6;
  }

  .ds-teaser__notification {
    grid-column: col-start 1 / span 2;
    grid-row: 7;
  }

  .ds-teaser__dots-half {
    grid-column: col-start 4 / span 1;
    grid-row: 8;
  }

  .ds-teaser__mobile-bottom {
    grid-column: col-start 7 / span 2;
    grid-row: 7 / 9;
  }

  .ds-teaser__empty-half {
    background-image: url('../assets/squares/empty-half-square.png');
    grid-column: col-start 10 / span 1;
    grid-row: 8;
    height: auto;
    opacity: 1;
    width: auto;
  }
}

@media screen and (min-width: 1400px) {
  .ds-teaser {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .ds-teaser__empty,
  .ds-teaser__dots-second,
  .ds-teaser__message,
  .ds-teaser__mobile {
    height: auto;
    opacity: 1;
    width: auto;
  }

  .ds-teaser__logo {
    grid-column: col-start / span 3;
    grid-row: 1;
  }

  .ds-teaser__dots {
    grid-column: col-start 4 / span 1;
    grid-row: 1;
  }

  .ds-teaser__chat {
    grid-column: col-start 6 / span 2;
    grid-row: 1 / 3;
  }

  .ds-teaser__wrapper {
    grid-column: col-start 4 / span 6;
  }

  .ds-teaser__arrow {
    grid-column: col-start 9 / span 1;
    grid-row: 1;
  }

  .ds-teaser__user {
    grid-column: col-start 3 / span 1;
    grid-row: 2;
  }

  .ds-teaser__dots-second {
    background-image: url('../assets/squares/arrow-dots-square.png');
    grid-column: col-start 12 / span 1;
    grid-row: 2;
  }

  .ds-teaser__empty {
    background-image: url('../assets/squares/empty-square.png');
    grid-column: col-start 1 / span 1;
    grid-row: 3;
  }

  .ds-teaser__empty-second {
    grid-column: col-start 10 / span 1;
    grid-row: 3;
  }

  .ds-teaser__right-arrow {
    grid-column: col-start 2 / span 1;
    grid-row: 4;
  }

  .ds-teaser__list {
    grid-column: col-start 11 / span 1;
    grid-row: 4;
  }

  .ds-teaser__mobile {
    background-image: url('../assets/squares/mobile-square.png');
    display: block;
    grid-column: col-start 1 / span 1;
    grid-row: 5 / 7;
  }

  .ds-teaser__left-arrow {
    grid-column: col-start 10 / span 1;
    grid-row: 6;
  }

  .ds-teaser__notification {
    grid-column: col-start 2 / span 2;
    grid-row: 7;
  }

  .ds-teaser__message {
    background-image: url('../assets/squares/message-square.png');
    grid-column: col-start 12 / span 1;
    grid-row: 7;
  }

  .ds-teaser__dots-half {
    grid-column: col-start 5 / span 1;
    grid-row: 8;
  }

  .ds-teaser__mobile-bottom {
    grid-column: 8 / 10;
    grid-row: 7 / 9;
  }

  .ds-teaser__empty-half {
    grid-column: col-start 11 / span 1;
    grid-row: 8;
  }
}
