:host {
  --_background: #fff;
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_gap: 0.5rem;
  --_spacing: 0.5rem;
  --_max-inline-size: var(--sl-drawer-max-inline-size, 500px);
}

:host {
  display: block;
}

:host([attachment='right']) dialog {
  --fade-start-x: 100%;
  height: 100vh;
  left: unset;
  right: 0;
  top: 0;
}

:host([attachment='left']) dialog {
  --fade-start-x: -100%;
  height: 100vh;
  left: 0;
  right: unset;
  top: 0;
}

:host([attachment='top']) dialog {
  --fade-start-y: -100%;
  bottom: unset;
  left: 0;
  max-inline-size: 100vw;
  top: 0;
  width: 100vw;
}

:host([attachment='bottom']) dialog {
  --fade-start-y: 100%;
  bottom: 0;
  left: 0;
  max-inline-size: 100vw;
  top: unset;
  width: 100vw;
}

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  margin: 0;
  max-block-size: min(100vh, 100%);
  max-block-size: min(100dvb, 100%);
  max-inline-size: min(90vw, var(--_max-inline-size));
  padding: 1rem;
  position: fixed;
  transform: translate(var(--fade-start-x, 0), var(--fade-start-y, 0))
    scale(var(--fade-start-sx, 1), var(--fade-start-sx, 1));

  &::backdrop {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }
}

dialog[open] {
  transform: translate(0, 0) scale(1, 1);
}

div {
  align-items: center;
  display: grid;
  gap: var(--_gap);
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;

  sl-button-bar {
    grid-column-start: -1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    transition: all 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  }
}
