:host {
  --_border-color: var(--sl-color-border-secondary-bold);
  --_border-radius: var(--sl-size-borderRadius-default);
  --_group-border-width: var(--sl-border-width-button-outline);
  --_border-width: var(--sl-border-width-button-outline);
  --_toggle-group-border: var(--_group-border-width);

  // --_icon-size: var(--sl-size-icon-md);
  // --_paddingInline: var(--sl-space-button-outline-inline-md);
  // --_paddingInline-textOnly: var(--sl-space-button-outline-inline-text-only-md);
  --_separator-color: var(--sl-color-button-default-outline-idle-border);
  --_separator-width: var(--sl-border-width-button-outline);
  --_pill-compensation: 0px border: var(--_group-border-width) solid var(--_border-color);

  border-radius: var(--_border-radius);
  display: inline-flex;
  gap: var(--_border-width);
}

:host([disabled]) {
  --_border-color: var(--sl-color-button-default-outline-disabled-border);
  --_separator-color: var(--sl-color-button-default-outline-disabled-border);
}

:host([shape='pill']) {
  --_border-radius: var(--sl-size-borderRadius-full);
  --_pill-compensation: calc(var(--sl-space-150) - var(--sl-space-125));
}

:host([shape='pill'][size='sm']) {
  --_pill-compensation: calc(var(--sl-space-100) - var(--sl-space-075));
}

:host([shape='pill'][size='lg']) {
  --_pill-compensation: calc(var(--sl-space-200) - var(--sl-space-175));
}

::slotted(sl-toggle-button) {
  --_border-width: 0px;
  --_button-border-radius: 0;
  --_focus-outline-offset: calc(var(--sl-border-width-focusring-offset) + var(--sl-border-width-button-outline));

  position: relative;

  &::after {
    background: var(--_border-color);
    block-size: 100%;
    content: '';
    inline-size: var(--_group-border-width);
    inset: 0 calc(var(--_group-border-width) * -1) 0 auto;
    position: absolute;
  }
}

::slotted(sl-toggle-button:focus-visible) {
  // make sure the focus ring of the current button is shown above the next button.
  z-index: 1;
}

:host([fill='ghost']),
:host([fill='solid']) {
  background-color: var(--sl-elevation-surface-raised-sunken);

  --_group-border-width: var(--sl-size-borderWidth-none);
  --_border-width: var(--sl-size-borderWidth-none);
  --_toggle-group-border: 0px;

  ::slotted(sl-toggle-button) {
    margin-inline: -0.5px;
  }
}

::slotted(sl-toggle-button:first-of-type) {
  --_button-border-radius: calc(var(--_border-radius) - var(--sl-border-width-button-outline));
  --_pill-compensation-start: var(--_pill-compensation);

  border-end-end-radius: 0;
  border-start-end-radius: 0;
  margin-inline-start: 0;
}

::slotted(sl-toggle-button:last-of-type) {
  --_button-border-radius: calc(var(--_border-radius) - var(--sl-border-width-button-outline));
  --_pill-compensation-end: var(--_pill-compensation);

  border-end-start-radius: 0;
  border-start-start-radius: 0;
  margin-inline-end: 0;

  &::after {
    display: none;
  }
}
