{%- for component in collections.components -%}
  {%- for module in custom-elements.custom-elements.modules -%}
    {%- if page.url == component.url -%}
      {%- for declaration in module.declarations -%}
        {%- for tagName in component.data.componentTagName -%}
          {%- if declaration.tagName == tagName.selector -%}
            <section>
            <h2 id={{ tagName.selector }} tabindex="-1">
              <a class="header-anchor" href="#{{ tagName.selector }}">
                {%- if component.data.componentTagName.length > 1 -%}{{ tagName.name }}{% endif %} API
              </a>
            </h2>
            <p class="ds-table-component-description">
              {%- if component.data.APIdescription[tagName.selector] -%}
                {{ component.data.APIdescription[tagName.selector] }}
              {%- else -%}
                {{ component.data.APIdescription }}
              {%- endif -%}
            </p>
            {%- if declaration.fields.length > 0 or declaration.attributes.length > 0 -%}
              <h3>Properties</h3>
              <div class="ds-table-wrapper"><table class="ds-table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Attribute</th>
                    <th class="ds-table__type">Type</th>
                    <th>Default</th>
                    <th class="ds-table__description">Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  {%- for member in declaration.members -%}
                  {% if member.kind == 'field' %}
                    <tr>
                    <td><code>{{member.name}}</code></td>
                    <td>
                    {%- if member.attribute -%}
                      <code>{{ member.attribute }}</code>
                    {%- else -%}
                      -
                    {%- endif -%}
                    </td>
                    <td class="ds-table__type">
                      {% if member.expandedType %}
                        <code>{{member.expandedType.text}}</code>
                      {% endif %}

                      {% if member.type and not member.expandedType %}
                        <code>{{member.type.text}}</code>
                      {% endif %}
                    </td>
                    <td>
                      {% if member.default %}
                        <code>{{member.default}}</code>
                      {% endif %}
                    </td>
                    <td class="ds-table__description">{{member.description}}</td>
                    </tr>
                    {% endif %}
                  {% endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            </section>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
