<section>
  <h2 tabindex="-1">Installation</h2>

  With npm

  <div class="ds-code">
    <pre class="language-bash"><code class="language-bash">npm install @sl-design-system/{{packageName}}</code></pre>
  </div>
  
  With yarn

  <div class="ds-code">
    <pre class="language-bash"><code class="language-bash">yarn add @sl-design-system/{{packageName}}</code></pre>
  </div>

</section>
