{% for component in collections.components -%}

  <h1>{{component.data.file}}</h1>
  <h1>{{component.url}}</h1>
  <h1>{{page.url}}</h1>
  <h2 style="color: #1f97f9">This is a table external file</h2>
{#  {% assign componentUrl = component.url | append: "" %}#}
{#  {% assign pageUrl = page.url | append: "" %}#}
  {% if pageUrl == componentUrl %}
    <h2 style="color:red">{{pageUrl}}</h2>
    <h2 style="color:green">{{componentUrl}}</h2>
  {% endif %}
{% endfor -%}




{% for component in collections.components -%}

  <h1>{{component.data.file}}</h1>
  <h1>{{component.url}}</h1>
  <h1>{{page.url}}</h1>
  {% if page.url == component.url %}
    <h2 style="color:red">{{page.url}}</h2>
    <h2 style="color:green">{{component.url}}</h2>
  {% endif %}
{% endfor -%}




{% for component in collections.components -%}
  {% for module in custom-elements.custom-elements.modules -%}
    {% if page.url == component.url %}

{#     if module.path.includes(component.data.file) and page.url == component.url #}
{#      TODO: module path with component file name#}


      {% for declaration in module.declarations -%}

        <h1>{{component.data.file }}</h1>



        <h2>Properties</h2>
        <table class="ds-table">
          <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          {% for member in declaration.members -%}
            {% if member.privacy %}
              <h3>test</h3>
            {% else %}
              <tr>
                <td>{{member.name}}</td>
                <td><code>{{member.default}}</code></td>
                {% for type in member.type -%}
                  <td><code>{{type}}</code></td>
                {% endfor -%}
                <td>{{member.description}}</td>
              </tr>
            {% endif %}
          {% endfor -%}
          </tbody>
        </table>



        <h2>Attributes</h2>
        <table class="ds-table">
          <thead>
          <tr>
            <th>Element</th>
            <th>Attribute</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          {% for attribute in declaration.attributes -%}
            <tr>
              <td>{{attribute.name}}</td>
              <td><code>{{attribute.fieldName}}</code></td>
              <td><code>{{attribute.default}}</code></td>
              <td>{{attribute.description}}</td>
            </tr>
          {% endfor -%}
          </tbody>
        </table>

      {% endfor -%}

    {% endif %}

  {% endfor -%}
{% endfor -%}
