$fills: outline, ghost;
$sizes: sm, md, lg;
$variants: default, primary, success, info, warning, danger;

:host {
  --_animation: var(--sl-animation-button);
  --_background: var(--sl-color-button-default-idle-background);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_transition-duration: var(--sl-animation-button-duration);
  --_transition-easing: var(--sl-animation-button-easing);

  align-items: center;
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  color: var(--_color);
  cursor: pointer;
  display: inline-flex;
  font: var(--_font);
  gap: var(--_label-gap);
  justify-content: center;
  outline-color: transparent;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transform: var(--_transform);
  vertical-align: middle;
}

:host([fill='ghost']) {
  --_background: var(--sl-color-button-default-ghost-idle-background);
  --_border-color: var(--sl-color-button-default-ghost-idle-border);
  --_color: var(--sl-color-button-default-ghost-idle-foreground);
}

:host([fill='ghost']:not([disabled]):hover) {
  --_background: var(--sl-color-button-default-ghost-hover-background);
  --_border-color: var(--sl-color-button-default-ghost-hover-border);
  --_color: var(--sl-color-button-default-ghost-hover-foreground);
}

:host([fill='ghost']:not([disabled]):active) {
  --_background: var(--sl-color-button-default-ghost-active-background);
  --_border-color: var(--sl-color-button-default-ghost-active-border);
  --_color: var(--sl-color-button-default-ghost-active-foreground);
}

:host([fill='ghost'][disabled]) {
  --_background: var(--sl-color-button-default-ghost-disabled-background);
  --_border-color: var(--sl-color-button-default-ghost-disabled-border);
  --_color: var(--sl-color-button-default-ghost-disabled-foreground);
}

:host([fill='ghost'][pressed]) {
  --_background: var(--sl-color-button-default-ghost-selected-idle-background);
  --_border-color: var(--sl-color-button-default-ghost-selected-idle-border);
  --_color: var(--sl-color-button-default-ghost-selected-idle-foreground);
}

:host([fill='ghost'][pressed]:not([disabled]):hover) {
  --_background: var(--sl-color-button-default-ghost-selected-hover-background);
  --_border-color: var(--sl-color-button-default-ghost-selected-hover-border);
  --_color: var(--sl-color-button-default-ghost-selected-hover-foreground);
}

:host([fill='ghost'][pressed]:not([disabled]):active) {
  --_background: var(--sl-color-button-default-ghost-selected-active-background);
  --_border-color: var(--sl-color-button-default-ghost-selected-active-border);
  --_color: var(--sl-color-button-default-ghost-selected-active-foreground);
}

:host([fill='ghost'][pressed][disabled]) {
  --_background: var(--sl-color-button-default-ghost-selected-disabled-background);
  --_border-color: var(--sl-color-button-default-ghost-selected-disabled-border);
  --_color: var(--sl-color-button-default-ghost-selected-disabled-foreground);
}

:host([size='sm'][fill='ghost']) {
  --_padding-block: var(--sl-space-button-ghost-icon-only-sm);
  --_padding-inline: var(--sl-space-button-ghost-icon-only-sm);
}

:host([size='md'][fill='ghost']) {
  --_padding-block: var(--sl-space-button-ghost-icon-only-md);
  --_padding-inline: var(--sl-space-button-ghost-icon-only-md);
}

:host([size='lg'][fill='ghost']) {
  --_padding-block: var(--sl-space-button-ghost-icon-only-lg);
  --_padding-inline: var(--sl-space-button-ghost-icon-only-lg);
}

:host([fill='outline']) {
  --_border-width: var(--sl-border-width-button-outline);
  --_background: var(--sl-color-button-default-outline-idle-background);
  --_border-color: var(--sl-color-button-default-outline-idle-border);
  --_color: var(--sl-color-button-default-outline-idle-foreground);
}

:host([fill='outline']:not([disabled]):hover) {
  --_background: var(--sl-color-button-default-outline-hover-background);
  --_border-color: var(--sl-color-button-default-outline-hover-border);
  --_color: var(--sl-color-button-default-outline-hover-foreground);
}

:host([fill='outline']:not([disabled]):active) {
  --_background: var(--sl-color-button-default-outline-active-background);
  --_border-color: var(--sl-color-button-default-outline-active-border);
  --_color: var(--sl-color-button-default-outline-active-foreground);
}

:host([fill='outline'][disabled]) {
  --_background: var(--sl-color-button-default-outline-disabled-background);
  --_border-color: var(--sl-color-button-default-outline-disabled-border);
  --_color: var(--sl-color-button-default-outline-disabled-foreground);
}

:host([fill='outline'][pressed]) {
  --_background: var(--sl-color-button-default-outline-selected-idle-background);
  --_border-color: var(--sl-color-button-default-outline-selected-idle-border);
  --_color: var(--sl-color-button-default-outline-selected-idle-foreground);
}

:host([fill='outline'][pressed]:not([disabled]):hover) {
  --_background: var(--sl-color-button-default-outline-selected-hover-background);
  --_border-color: var(--sl-color-button-default-outline-selected-hover-border);
  --_color: var(--sl-color-button-default-outline-selected-hover-foreground);
}

:host([fill='outline'][pressed]:not([disabled]):active) {
  --_background: var(--sl-color-button-default-outline-selected-active-background);
  --_border-color: var(--sl-color-button-default-outline-selected-active-border);
  --_color: var(--sl-color-button-default-outline-selected-active-foreground);
}

:host([fill='outline'][pressed][disabled]) {
  --_background: var(--sl-color-button-default-outline-selected-disabled-background);
  --_border-color: var(--sl-color-button-default-outline-selected-disabled-border);
  --_color: var(--sl-color-button-default-outline-selected-disabled-foreground);
}

:host([size='sm'][fill='outline']) {
  --_padding-block: var(--sl-space-button-outline-icon-only-sm);
  --_padding-inline: var(--sl-space-button-outline-icon-only-sm);
}

:host([size='md'][fill='outline']) {
  --_padding-block: var(--sl-space-button-outline-icon-only-md);
  --_padding-inline: var(--sl-space-button-outline-icon-only-md);
}

:host([size='lg'][fill='outline']) {
  --_padding-block: var(--sl-space-button-outline-icon-only-lg);
  --_padding-inline: var(--sl-space-button-outline-icon-only-lg);
}

:host([size='sm']) {
  --_border-radius: var(--sl-border-radius-button-sm);
  --_icon-container-size: var(--sl-size-button-icon-sm);
}

:host([size='md']) {
  --_border-radius: var(--sl-border-radius-button-md);
  --_icon-container-size: var(--sl-size-button-icon-sm);
}

:host([size='lg']) {
  --_border-radius: var(--sl-border-radius-button-lg);
  --_icon-container-size: var(--sl-size-button-icon-#{$size});
}

:host(:focus-visible) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

:host(:where(:active, :focus-visible, :hover)) {
  transition-duration: var(--_transition-duration);
  transition-property: background, border-color, color, outline-color;
  transition-timing-function: var(--_transition-easing);
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}

:host([pressed]) ::slotted(:not([slot='pressed'])),
:host(:not([pressed])) ::slotted([slot='pressed']) {
  display: none;
}

::slotted(*) {
  // Prevent the icon from ever gaining focus inside the button
  pointer-events: none;
}

::slotted(sl-icon) {
  --sl-icon-container-size: var(--_icon-container-size);

  fill: var(--_color);
}
