@import './../breakpoints';

$transition-timing: 300ms;

.ds-container {
  animation: 100ms fade-in;
  background-color: var(--background-color);

  margin-left: 0;
  padding: 8.8rem 2.4rem 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  transform: translateX(0);
  transition:
    transform $transition-timing,
    background $transition-timing ease-in-out,
    opacity $transition-timing;
  width: 100%;

  @media screen and (min-width: $lg-breakpoint) {
    padding: 3.2rem 2.4rem 0;
    transform: translateX(28rem);
    transition: none;
    width: calc(100% - 28rem);
  }

  @media screen and (min-width: $xl-breakpoint) {
    padding: 3.2rem 2.4rem 0 7.2rem;
  }
}

.ds-container .ds-homepage-wrapper {
  align-items: start;
  align-items: start;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: max-content max-content 1fr max-content;
  min-height: 100%;
  min-width: 100%;
}

.ds-subpage-section__wrapper {
  overflow: hidden;
}

*:where(.ds-subpage-section, .ds-tabs__tab-container) {
  a {
    color: var(--link-color);
    cursor: pointer;
  }

  a:hover {
    color: var(--link-hover-color);
  }

  a:active {
    color: var(--link-active-color);
  }

  a:visited {
    color: var(--link-visited-color);
  }

  a.header-anchor {
    color: var(--font-color);
  }
}

a.header-anchor {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.ds-subpage-section {
  display: grid;
  grid-column-gap: 7.2rem;
  grid-template-columns: 1fr;
  margin: 2.4rem 0;

  @media screen and (min-width: $xl-breakpoint) {
    grid-template-columns: 6fr 1fr;
  }

  @media screen and (min-width: $xxl-breakpoint) {
    grid-template-columns: 88rem 1fr;
  }

  h2 {
    margin-top: 2.4rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  max-width: 100%;
}
