:root {
  --sl-color-black: #000000;
  --sl-color-shadow-overflow1: var(--sl-computed-color-shadow-overflow1);
  --sl-color-shadow-overlay1: var(--sl-computed-color-shadow-overlay1);
  --sl-color-shadow-overlay2: var(--sl-computed-color-shadow-overlay2);
  --sl-color-transparent: #00000000;
  --sl-color-white: #ffffff;
  --sl-elevation-shadow-overflow: var(--sl-size-200) var(--sl-color-shadow-overflow1);
  --sl-elevation-shadow-overlay:
    var(--sl-size-075) var(--sl-size-150) -3 var(--sl-color-shadow-overlay1),
    var(--sl-size-150) var(--sl-size-200) var(--sl-color-shadow-overlay2);
  --sl-elevation-shadow-sm:
    var(--sl-size-010) var(--sl-size-010) var(--sl-color-shadow-overlay1),
    3px var(--sl-size-025) var(--sl-color-shadow-overlay2);
  --sl-font-weight-100: 100;
  --sl-font-weight-200: 200;
  --sl-font-weight-300: 300;
  --sl-font-weight-400: 400;
  --sl-font-weight-500: 500;
  --sl-font-weight-600: 600;
  --sl-font-weight-700: 700;
  --sl-font-weight-800: 800;
  --sl-font-weight-900: 900;
  --sl-font-weight-950: 950;
  --sl-icon-typeset-font-family-classic: 'Font Awesome 7 Pro';
  --sl-icon-typeset-font-family-sharp: 'Font Awesome 7 Sharp';
  --sl-icon-typeset-font-weight-icon-light: light;
  --sl-icon-typeset-font-weight-icon-regular: regular;
  --sl-icon-typeset-font-weight-icon-solid: solid;
  --sl-icon-typeset-font-weight-icon-thin: thin;
  --sl-opacity-new-100: 0.04;
  --sl-opacity-new-1000: 1;
  --sl-opacity-new-150: 0.06;
  --sl-opacity-new-200: 0.08;
  --sl-opacity-new-300: 0.12;
  --sl-opacity-new-400: 0.16;
  --sl-opacity-new-50: 0.02;
  --sl-opacity-new-500: 0.2;
  --sl-opacity-new-600: 0.32;
  --sl-opacity-new-700: 0.48;
  --sl-opacity-new-800: 0.64;
  --sl-opacity-new-900: 0.8;
  --sl-opacity-new-transparent: 0;
  --sl-opacity-disabled: var(--sl-opacity-new-600);
  --sl-size-new-icon-2xl: var(--sl-size-400);
  --sl-size-new-icon-2xs: var(--sl-size-125);
  --sl-size-new-icon-3xl: var(--sl-size-600);
  --sl-size-new-icon-4xl: var(--sl-size-800);
  --sl-size-new-icon-lg: var(--sl-size-250);
  --sl-size-new-icon-md: var(--sl-size-200);
  --sl-size-new-icon-sm: var(--sl-size-175);
  --sl-size-new-icon-xl: var(--sl-size-300);
  --sl-size-new-icon-xs: var(--sl-size-150);
  --sl-size-010: 1px;
  --sl-size-025: 2px;
  --sl-size-050: 4px;
  --sl-size-075: 6px;
  --sl-size-100: 8px;
  --sl-size-1000: 80px;
  --sl-size-125: 10px;
  --sl-size-150: 12px;
  --sl-size-175: 14px;
  --sl-size-200: 16px;
  --sl-size-250: 20px;
  --sl-size-300: 24px;
  --sl-size-350: 28px;
  --sl-size-400: 32px;
  --sl-size-450: 36px;
  --sl-size-500: 40px;
  --sl-size-600: 48px;
  --sl-size-700: 56px;
  --sl-size-800: 64px;
  --sl-size-border-radius-full: var(--sl-base-size-border-radius-full);
  --sl-size-border-radius-lg: var(--sl-size-100);
  --sl-size-border-radius-md: var(--sl-size-050);
  --sl-size-border-radius-none: var(--sl-size-none);
  --sl-size-border-radius-sm: var(--sl-size-025);
  --sl-size-border-radius-xl: var(--sl-size-150);
  --sl-size-border-width-bold: var(--sl-size-025);
  --sl-size-border-width-focus-ring: var(--sl-size-025);
  --sl-size-border-width-heavy: var(--sl-size-050);
  --sl-size-border-width-none: var(--sl-size-none);
  --sl-size-border-width-subtle: var(--sl-size-010);
  --sl-size-font-1000: var(--sl-size-1000);
  --sl-size-font-150: var(--sl-size-150);
  --sl-size-font-175: var(--sl-size-175);
  --sl-size-font-200: var(--sl-size-200);
  --sl-size-font-250: var(--sl-size-250);
  --sl-size-font-300: var(--sl-size-300);
  --sl-size-font-400: var(--sl-size-400);
  --sl-size-font-500: var(--sl-size-500);
  --sl-size-font-600: var(--sl-size-600);
  --sl-size-font-800: var(--sl-size-800);
  --sl-size-full: 50rem;
  --sl-size-line-height-1000: var(--sl-size-1000);
  --sl-size-line-height-150: var(--sl-size-150);
  --sl-size-line-height-175: var(--sl-size-175);
  --sl-size-line-height-200: var(--sl-size-200);
  --sl-size-line-height-250: var(--sl-size-250);
  --sl-size-line-height-300: var(--sl-size-300);
  --sl-size-line-height-400: var(--sl-size-400);
  --sl-size-line-height-500: var(--sl-size-500);
  --sl-size-line-height-600: var(--sl-size-600);
  --sl-size-line-height-800: var(--sl-size-800);
  --sl-size-none: 0px;
  --sl-size-outline-offset-default: calc(var(--sl-size-050) - var(--sl-size-010));
  --sl-size-outline-width-default: var(--sl-base-size-outline-width-default);
  --sl-space-new-2xl: var(--sl-space-400);
  --sl-space-new-2xs: var(--sl-space-025);
  --sl-space-new-3xl: var(--sl-space-800);
  --sl-space-new-grid-horizontal: var(--sl-space-200);
  --sl-space-new-grid-vertical: var(--sl-space-175);
  --sl-space-new-input-horizontal: calc(var(--sl-space-new-md) - var(--sl-size-010));
  --sl-space-new-input-vertical: calc(var(--sl-space-new-xs) - var(--sl-size-010));
  --sl-space-new-lg: var(--sl-space-200);
  --sl-space-new-md: var(--sl-space-100);
  --sl-space-new-none: var(--sl-space-none);
  --sl-space-new-sm: var(--sl-space-075);
  --sl-space-new-toggle-button-non-active-lg: 36px;
  --sl-space-new-toggle-button-non-active-lg-2: calc(
    var(--sl-size-300) + (var(--sl-size-100) + var(--sl-size-new-icon-md)) / 2
  );
  --sl-space-new-toggle-button-non-active-md: 27px;
  --sl-space-new-toggle-button-non-active-md-2: calc(
    var(--sl-size-200) + (var(--sl-size-100) + var(--sl-size-new-icon-md)) / 2
  );
  --sl-space-new-toggle-button-non-active-sm: 23px;
  --sl-space-new-xl: var(--sl-space-300);
  --sl-space-new-xs: var(--sl-space-050);
  --sl-space-010: var(--sl-size-010);
  --sl-space-025: var(--sl-size-025);
  --sl-space-050: var(--sl-size-050);
  --sl-space-075: var(--sl-size-075);
  --sl-space-100: var(--sl-size-100);
  --sl-space-1000: var(--sl-size-1000);
  --sl-space-125: var(--sl-size-125);
  --sl-space-150: var(--sl-size-150);
  --sl-space-175: var(--sl-size-175);
  --sl-space-200: var(--sl-size-200);
  --sl-space-250: var(--sl-size-250);
  --sl-space-300: var(--sl-size-300);
  --sl-space-400: var(--sl-size-400);
  --sl-space-500: var(--sl-size-500);
  --sl-space-600: var(--sl-size-600);
  --sl-space-700: var(--sl-size-700);
  --sl-space-800: var(--sl-size-800);
  --sl-space-full: var(--sl-size-full);
  --sl-space-none: var(--sl-size-none);
}
