:host {
  --_background: #fff;
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_gap: 0.5rem;
  --_max-inline-size: 500px;
  --_spacing: 0.5rem;
}

:host {
  display: block;
}

// TODO: breakpoints from tokens?

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  inset: 0;
  margin: auto;
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  max-inline-size: min(90vw, var(--_max-inline-size));
  opacity: 0;
  padding: 1rem;
  position: fixed;
  transition: opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);

  &::backdrop {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }
}

dialog[open] {
  opacity: 1;
}

slot[name='header'] {
  display: flex;
  justify-content: space-between;
}

slot[name='titles'] {
  display: flex;
  flex-direction: column;
}

slot[name='close'] {
  display: block;
}

slot[name='close']::slotted(*) {
  align-self: baseline;

  sl-button {
    align-self: baseline;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    animation: scale-down 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
    animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  }

  dialog[open] {
    animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}
