// @import '@sl-design-system/shared';

:host {
  --backdrop-background: #a4cdff;
  --_background: #fff; //var(--sl-body-surface-overlay); // var(--sl-color-dialog-background);
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_gap: 0.5rem;
  --_max-inline-size: 500px;
  --_spacing: 0.5rem;
  //--_padding-top: var(--sl-space-dialog-mobile-container-padding-top);
  //--_padding-right: var(--sl-space-dialog-mobile-container-inline);
  //--_padding-bottom: var(--sl-space-dialog-mobile-container-padding-bottom);
  //--_padding-left: var(--sl-space-dialog-mobile-container-inline);
  --_padding-block: var(--sl-space-dialog-mobile-body-block);
  --_padding-inline: var(--sl-space-dialog-mobile-body-inline);
  // --_backdrop-background: grey;//var(--sl-body-surface-overlay);
  // background: lime;
  //&::backdrop {
  //  --backdrop-background: var(--sl-body-surface-overlay); //rgba(var(--sl-body-background) / var(--sl-opacity-400));
  //}
}

// ::backdrop {
// --backdrop-background: coral; // TODO: should come from the token --sl-body-surface-overlay
// }

dialog::backdrop {
  // --backdrop-background: cornflowerblue; // TODO: should come from the token --sl-body-surface-overlay
  --backdrop-background: var(
    --sl-color-select-item-active-foreground
  ); // TODO: should come from the token --sl-body-surface-overlay
  // background: var(--backdrop-background);
}

//:root,
//::backdrop {
//  background: var(--backdrop-background);
//  //--backdrop-background: var(
//  //    --sl-body-surface-overlay);
//  /*--_backdrop-background: var(
//    --sl-body-surface-overlay,
//    rgba(34 34 34 / 0.48)
//  );*/ //rgba(var(--sl-body-background) / var(--sl-opacity-400));
//}

:host {
  display: block;
}

// TODO: breakpoints from tokens?

dialog {
  --backdrop-background: #a4cdff;
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  inset: 0;
  margin: auto auto 0; //auto;
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  max-inline-size: min(90vw, var(--_max-inline-size)); // TODO: change...
  min-inline-size: 40%;
  opacity: 0;
  // padding: 1rem;
  //padding: var(--_padding-top) var(--_padding-right) var(--_padding-bottom) var(--_padding-left);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  position: fixed;
  //transition: opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  //--backdrop-background: var(--sl-body-surface-overlay);

  &::backdrop {
    opacity: 0;
    // background: var(--backdrop-background);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    //-webkit-backdrop-filter: blur(3px);
    //backdrop-filter: blur(3px);
    //transition: backdrop-filter 0.5s ease;
    transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
    // transition: background 0.5s ease-in-out;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    //-webkit-animation: none;
  }
}

dialog[open] {
  opacity: 1;

  &::backdrop {
    opacity: 1;
  }
}

slot[name='header'] {
  display: flex;
  justify-content: space-between;
}

slot[name='titles'] {
  display: flex;
  flex-direction: column;
}

slot[name='close'] {
  display: block;
}

slot[name='close']::slotted(*) {
  align-self: baseline;

  sl-button {
    align-self: baseline;
  }
}

slot[name='subtitle']::slotted(*) {
  font: var(--sl-text-dialog-subheading);
}

slot[name='title']::slotted(*) {
  // color: #f00;
  font: var(--sl-text-dialog-heading);
}

slot[name='body']::slotted(*) {
  overflow-y: auto;
}

slot[name='body'] {
  overflow-y: auto;
}

slot[name='body'] slot::slotted(*) {
  overflow-y: auto;
}

slot[name='footer']::slotted(sl-button-bar) {
  align-items: stretch;
  display: grid;
  flex-direction: column;
  flex-grow: 1;
  /* width: 100%; */
  flex-shrink: 0;
}

.footer-buttons {
  --_direction: column-reverse;
  align-items: stretch;
}

@media screen and (min-width: 600px /*$md-breakpoint*/) {
  :host {
    //--_padding-top: var(--sl-space-dialog-desktop-container-padding-top);
    //--_padding-right: var(--sl-space-dialog-desktop-container-inline);
    //--_padding-bottom: var(--sl-space-dialog-desktop-container-padding-bottom);
    //--_padding-left: var(--sl-space-dialog-desktop-container-inline);
    --_padding-block: var(--sl-space-dialog-desktop-body-block);
    --_padding-inline: var(--sl-space-dialog-desktop-body-inline);
  }

  dialog {
    margin: auto;
  }

  //slot[name='title']::slotted(*) {
  //  // color: #00f;
  //}

  .footer-buttons {
    --_direction: row;
    align-items: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog[closing='true'] {
    animation: slide-down 0.4s ease-out /*, slide-down-second 0.1s ease-out*/; //forwards;
    //animation: slide-down 0.4s ease-out 100ms, slide-down 0.4s ease-out; //forwards;
    //animation: scale-down 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
    //animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
    //animation-delay: 500ms;
    //-webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.98, -0.01);
    //transition: all 0.2s cubic-bezier(0.47, 0, 0.98, -0.01);
    //-webkit-transition: all 0.2s cubic-bezier(0.46, -0.1, 0.98, -0.01);
    //transition: all 0.2s cubic-bezier(0.46, -0.1, 0.98, -0.01);

    &::backdrop {
      //animation: /*backdrop-hide*/ show 0.4s ease-out backwards;
      //animation-direction: reverse;
      //animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
      //animation-delay: 200ms;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      //-webkit-animation: backdrop-hide 0.5s ease 0.2s normal;
      animation: hide-backdrop 0.5s ease 0.2s normal;
    }
  }

  //dialog::backdrop {
  //  animation: backdrop-hide 0.5s ease-out;
  //}

  dialog[open] {
    //animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
    //animation: slide-in-up 0.3s forwards;
    animation: slide-in-up 600ms ease-out /*100ms, slide-in-up-second 0.3s ease-out*/;
    transform: translateY(0);
    //animation-delay: 300ms;
    //-webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.98, -0.01);
    //transition: all 0.2s cubic-bezier(0.47, 0, 0.98, -0.01);
    //-webkit-transition: all 0.2s cubic-bezier(0.46, -0.1, 0.98, -0.01);
    transition: all 0.2s cubic-bezier(0.46, -0.1, 0.98, -0.01);

    &::backdrop {
      animation: backdrop-show 0.6s ease-out; //forwards;
      //animation-delay: 200ms;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      //-webkit-animation: backdrop-show 0.6s ease 0.2s normal;
    }
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  50% {
    opacity: 75%;
  }

  80% {
    //opacity: 75%;
    transform: translateY(-20px);
  }

  90% {
    opacity: 100%;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

//@keyframes slide-in-up-second {
//  //0% {
//  //  opacity: 0;
//  //  transform: translateY(80px);
//  //}
//
//  0% {
//    opacity: 0.75;
//    transform: translateY(0);
//  }
//
//  //50% {
//  //  opacity: 1;
//  //  transform: translateY(90px);
//  //}
//
//  100% {
//    opacity: 1;
//    transform: translateY(80px);
//  }
//}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.75;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes slide-down-second {
  //0% {
  //  opacity: 100%;
  //  transform: translateY(0);
  //}

  //0% {
  //  opacity: 75%;
  //  transform: translateY(0);
  //}

  /*100%*/
  to {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backdrop-hide {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%; //75%;
  }

  100% {
    opacity: 0;
  }

  //to {
  //  opacity: 0;
  //}
}

@keyframes hide-backdrop {
  to {
    opacity: 0;
  }
}
