$md-breakpoint: 600px;
$lg-breakpoint: 900px;

:host {
  --_background: var(--sl-color-dialog-background);
  --_body-gap: var(--sl-space-dialog-mobile-body-gap);
  --_border-radius: var(--sl-border-radius-dialog-mobile);
  --_border: var(--sl-border-width-dialog-default) solid var(--sl-color-dialog-border);
  --_color: var(--sl-color-dialog-foreground);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_focus-outline-offset: calc(var(--sl-border-width-focusring-offset) * -2);
  --_header-gap: var(--sl-space-dialog-gap-header);
  --_heading-direction: var(--sl-dialog-header-flex-direction);
  --_heading-gap: var(--sl-space-dialog-gap-header);
  --_margin-bottom-container: var(--sl-space-dialog-mobile-container-padding-bottom);
  --_margin-container-inline: var(--sl-space-dialog-mobile-container-inline);
  --_margin-top-container: var(--sl-space-dialog-mobile-container-padding-top);
  --_max-inline-size: var(
    --sl-dialog-max-inline-size,
    calc(100dvw - var(--sl-space-dialog-mobile-container-inline) * 2)
  );
  --_min-inline-size: var(--sl-size-dialog-min);
  --_padding-block: var(--sl-space-dialog-mobile-body-block);
  --_padding-inline: var(--sl-space-dialog-mobile-body-inline);
  --_subtitle-font: var(--sl-text-dialog-subheading);
  --_title-font: var(--sl-text-dialog-heading);
  --sl-button-bar-vertical: var(--sl-ON);

  display: block;
}

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  color: var(--_color);
  display: flex;
  flex-direction: column;
  margin: auto auto 0;
  max-block-size: min(
    100%,
    100vh - var(--_margin-top-container) - var(--_margin-bottom-container) - 2 * var(--_padding-block)
  );
  max-inline-size: var(--_max-inline-size);
  min-inline-size: 100dvw;
  opacity: 0;
  overflow: visible;
  padding: 0;

  &:focus-visible {
    outline: var(--_focus-outline);
    outline-offset: var(--_focus-outline-offset);
  }
}

dialog,
dialog::backdrop {
  // To ensure the dialog is shown even when prefers-reduced-motion is on,
  // we need to have a duration that is non-zero.
  --_closing-duration: 0.001ms;
  --_opening-duration: 0.001ms;
}

dialog[closing] {
  animation: slide-down var(--_closing-duration) both ease-out;

  &::backdrop {
    animation: backdrop-hide var(--_closing-duration) both ease-out;
  }
}

dialog[open]:not([closing]) {
  animation: slide-in-up var(--_opening-duration) both ease-out;

  &::backdrop {
    animation: backdrop-show var(--_opening-duration) both ease-out;
  }
}

[part='header'] {
  align-items: start;
  display: flex;
  justify-content: space-between;
  padding-block-start: var(--_padding-block);
  padding-inline: var(--_padding-inline);
}

[part='titles'] {
  align-items: start;
  display: flex;
  flex-direction: var(--_heading-direction);
  gap: var(--_heading-gap);
}

slot[name='title']::slotted(*) {
  font: var(--_title-font);
  margin: 0;
  text-wrap: balance;
}

slot[name='subtitle']::slotted(*) {
  font: var(--_subtitle-font);
  margin: 0;
}

slot[name='header-actions'] sl-button-bar {
  flex-shrink: 0;
}

[part='body'] {
  overflow: auto;
  padding-block: var(--_body-gap);
  padding-inline: var(--_padding-inline);
}

[part='footer'] {
  padding-block-end: var(--_padding-block);
  padding-inline: var(--_padding-inline);

  sl-button-bar {
    --sl-button-bar-vertical: var(--sl-ON);
    --sl-button-bar-direction-column: column-reverse;
  }
}

// This is for the non-mobile styling. The default styling is for mobile.
@media (min-width: $md-breakpoint) {
  :host {
    --_body-gap: var(--sl-space-dialog-desktop-body-gap);
    --_border-radius: var(--sl-border-radius-dialog-desktop);
    --_margin-bottom-container: var(--sl-space-dialog-desktop-container-padding-bottom);
    --_margin-container-inline: var(--sl-space-dialog-desktop-container-inline);
    --_margin-top-container: var(--sl-space-dialog-desktop-container-padding-top);
    --_max-inline-size: var(
      --sl-dialog-max-inline-size,
      calc(100dvw - var(--sl-space-dialog-desktop-container-inline) * 2)
    );
    --_padding-block: var(--sl-space-dialog-desktop-body-block);
    --_padding-inline: var(--sl-space-dialog-desktop-body-inline);
  }

  [part='footer'] sl-button-bar {
    --sl-button-bar-vertical: var(--sl-OFF);
    --sl-button-bar-align: end;
  }

  dialog {
    inline-size: fit-content;
    margin: auto;
    max-block-size: min(
      100% - var(--_margin-top-container) - var(--_margin-bottom-container) - 2 * var(--_padding-block)
    );
    max-inline-size: min(
      var(--_max-inline-size),
      100% - 2 * var(--_margin-container-inline) - 2 * var(--_padding-inline)
    );
    min-inline-size: var(--_min-inline-size);
  }
}

@media (min-width: $lg-breakpoint) {
  :host {
    --_max-inline-size: var(--sl-dialog-max-inline-size, var(--sl-size-dialog-max));
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog,
  dialog::backdrop {
    --_closing-duration: 400ms;
    --_opening-duration: 600ms;
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  50% {
    opacity: 0.75;
  }

  80% {
    transform: translateY(-20px);
  }

  90% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backdrop-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
