$md-breakpoint: 600px;

:host {
  --_background: var(--sl-color-dialog-background);
  --_border: var(--sl-border-width-dialog-default) solid var(--sl-color-dialog-border);
  --_border-radius-mobile: var(--sl-border-radius-dialog-mobile);
  --_border-radius-desktop: var(--sl-border-radius-dialog-desktop);
  --_header-gap: var(--sl-space-dialog-gap-header);
  --_heading-gap: var(--sl-space-dialog-gap-heading);
  --_body-gap-mobile: var(--sl-space-dialog-mobile-body-gap);
  --_body-gap-desktop: var(--sl-space-dialog-desktop-body-gap);
  --_footer-buttons-gap: var(--sl-space-dialog-gap-footer);
  --_max-inline-size: 500px;
  --_max-inline-size-mobile: var(--sl-size-dialog-full);
  --_min-inline-size-desktop: var(--sl-size-dialog-min);
  --_max-inline-size-desktop: var(--sl-size-dialog-max);
  --_padding-block-mobile: var(--sl-space-dialog-mobile-body-block);
  --_padding-inline-mobile: var(--sl-space-dialog-mobile-body-inline);
  --_padding-block-desktop: var(--sl-space-dialog-desktop-body-block);
  --_padding-inline-desktop: var(--sl-space-dialog-desktop-body-inline);
  --_margin-container-inline-desktop: var(--sl-space-dialog-desktop-container-inline);
  --_margin-top-container-desktop: var(--sl-space-dialog-desktop-container-padding-top);
  --_margin-bottom-container-desktop: var(--sl-space-dialog-desktop-container-padding-bottom);
  --_margin-container-inline-mobile: var(--sl-space-dialog-mobile-container-inline);
  --_margin-top-container-mobile: var(--sl-space-dialog-mobile-container-padding-top);
  --_margin-bottom-container-mobile: var(--sl-space-dialog-mobile-container-padding-bottom);
  --_color: var(--sl-color-dialog-foreground);
  --_subtitle-font: var(--sl-text-dialog-subheading);
  --_title-font: var(--sl-text-dialog-heading);
  --_body-font: var(--sl-text-body-lg-normal);
}

:host {
  display: block;
}

dialog::backdrop {
  --backdrop-background: var(
    --sl-color-select-item-active-foreground
  ); // TODO: should come from the token --sl-body-surface-overlay
}

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius-mobile);
  color: var(--_color);
  display: flex;
  flex-direction: column;
  inset: 0;
  margin: auto auto 0;
  max-block-size: min(
    100%,
    100vh - var(--_margin-top-container-mobile) - var(--_margin-bottom-container-mobile) - 2 *
    var(--_padding-block-mobile)
  );
  max-inline-size: var(--_max-inline-size-mobile);
  opacity: 0;
  overflow: hidden;
  padding-block: var(--_padding-block-mobile);
  padding-inline: var(--_padding-inline-mobile);
  position: fixed;
  width: auto;

  &::backdrop {
    opacity: 0;
    transition: all 0.5s;
  }
}

dialog[open] {
  opacity: 1;

  &::backdrop {
    opacity: 1;
  }
}

slot[name='header'] {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--_header-gap);
}

slot[name='titles'] {
  display: flex;
  flex-direction: column;
  gap: var(--_heading-gap);
}

slot[name='header-actions'] {
  display: inline-flex;
}

slot[name='header-buttons'],
slot[name='header-buttons']::slotted(*) {
  display: flex;
}

slot[name='close'] {
  display: block;
}

slot[name='close']::slotted(*),
slot[name='header-buttons']::slotted(*) {
  align-self: baseline;

  sl-button {
    align-self: baseline;
  }
}

slot[name='subtitle']::slotted(*) {
  font: var(--_subtitle-font);
}

slot[name='title']::slotted(*) {
  font: var(--_title-font);
}

slot[name='body']::slotted(*) {
  font: var(--_body-font);
}

.body-wrapper {
  margin-bottom: var(--_body-gap-mobile);
  overflow: auto;
}

.body-wrapper slot::slotted(*) {
  font: var(--sl-text-body-lg-normal);
}

slot[name='footer']::slotted(sl-button-bar) {
  align-items: stretch;
  display: grid;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer-buttons {
  --_direction: column-reverse;
  align-items: stretch;
  gap: var(--_footer-buttons-gap);
}

@media screen and (min-width: $md-breakpoint) {
  :host {
    padding-block: var(--_padding-block-desktop);
    padding-inline: var(--_padding-inline-desktop);
  }

  dialog {
    border-radius: var(--_border-radius-desktop);
    margin: auto;
    max-block-size: min(
      100% - var(--_margin-top-container-desktop) - var(--_margin-bottom-container-desktop) - 2 *
      var(--_padding-block-desktop)
    );
    max-inline-size: min(
      var(--_max-inline-size-desktop),
      100% - 2 * var(--_margin-container-inline-desktop) - 2 * var(--_padding-inline-desktop)
    );
    min-inline-size: var(--_min-inline-size-desktop);
    width: fit-content;
  }

  .body-wrapper {
    margin-bottom: var(--_body-gap-desktop);
    overflow: auto;
  }

  .footer-buttons {
    --_direction: row;
    align-items: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog[closing='true'] {
    animation: slide-down 400ms ease-out;

    &::backdrop {
      animation: backdrop-hide 400ms ease-out;
      animation-play-state: running;
      transition: opacity 400ms ease-in-out, background 400ms ease-in-out;
    }
  }

  dialog[open] {
    animation: slide-in-up 600ms ease-out;

    &::backdrop {
      animation: backdrop-show 600ms ease-out;
      transition: opacity 600ms ease-in-out, background 600ms ease-in-out;
    }
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  50% {
    opacity: 75%;
  }

  80% {
    transform: translateY(-20px);
  }

  90% {
    opacity: 100%;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backdrop-hide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
