// @import '@sl-design-system/shared';

:host {
  --_background: #fff;
  --_border: 0;
  --_border-radius: 3px;
  --_box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.7);
  --_gap: 0.5rem;
  --_max-inline-size: 500px;
  --_spacing: 0.5rem;
  //--_padding-top: var(--sl-space-dialog-mobile-container-padding-top);
  //--_padding-right: var(--sl-space-dialog-mobile-container-inline);
  //--_padding-bottom: var(--sl-space-dialog-mobile-container-padding-bottom);
  //--_padding-left: var(--sl-space-dialog-mobile-container-inline);
  --_padding-block: var(--sl-space-dialog-mobile-body-block);
  --_padding-inline: var(--sl-space-dialog-mobile-body-inline);
}

:host {
  display: block;
}

// TODO: breakpoints from tokens?

dialog {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  inset: 0;
  margin: auto;
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  max-inline-size: min(90vw, var(--_max-inline-size));
  opacity: 0;
  // padding: 1rem;
  //padding: var(--_padding-top) var(--_padding-right) var(--_padding-bottom) var(--_padding-left);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  position: fixed;
  transition: opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);

  &::backdrop {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.5s ease;
  }
}

dialog[open] {
  opacity: 1;
}

slot[name='header'] {
  display: flex;
  justify-content: space-between;
}

slot[name='titles'] {
  display: flex;
  flex-direction: column;
}

slot[name='close'] {
  display: block;
}

slot[name='close']::slotted(*) {
  align-self: baseline;

  sl-button {
    align-self: baseline;
  }
}

slot[name='subtitle']::slotted(*) {
  font: var(--sl-text-dialog-subheading);
}

slot[name='title']::slotted(*) {
  color: #f00;
  font: var(--sl-text-dialog-heading);
}

slot[name='footer']::slotted(sl-button-bar) {
  align-items: stretch;
  display: grid;
  flex-direction: column;
  flex-grow: 1;
  /* width: 100%; */
  flex-shrink: 0;
}

.footer-buttons {
  --_direction: column-reverse;
  align-items: stretch;
}

@media screen and (min-width: 600px /*$md-breakpoint*/) {
  :host {
    //--_padding-top: var(--sl-space-dialog-desktop-container-padding-top);
    //--_padding-right: var(--sl-space-dialog-desktop-container-inline);
    //--_padding-bottom: var(--sl-space-dialog-desktop-container-padding-bottom);
    //--_padding-left: var(--sl-space-dialog-desktop-container-inline);
    --_padding-block: var(--sl-space-dialog-desktop-body-block);
    --_padding-inline: var(--sl-space-dialog-desktop-body-inline);
  }

  slot[name='title']::slotted(*) {
    color: #00f;
  }

  .footer-buttons {
    --_direction: row;
    align-items: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    animation: scale-down 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
    animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  }

  dialog[open] {
    animation: slide-in-up 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}
