:host {
  --_color: transparent;

  align-items: stretch;
  display: flex;
  position: relative;
}

:host([last-node-in-level]) .guide.last:not(.first) {
  align-self: start;
  block-size: 25%;
  position: relative;

  &::before {
    block-size: 100%;
    border-block-end: var(--sl-size-borderWidth-default) solid var(--_color);
    border-end-start-radius: var(--sl-size-050);
    border-inline-start: var(--sl-size-borderWidth-default) solid var(--_color);
    content: '';
    inline-size: var(--sl-size-075);
    inset: 100% auto auto 0;
    position: absolute;
  }
}

:host([visible]) .guide {
  --_color: var(--sl-color-border-bold);
}

.guide {
  background: var(--_color);
  inline-size: var(--sl-size-borderWidth-default);
  margin-inline: calc(var(--sl-size-150) - var(--sl-size-borderWidth-default)) var(--sl-size-075);

  &.first {
    background: transparent;
  }
}

.selected {
  background: var(--sl-elevation-surface-base-default);
  inline-size: calc(var(--sl-size-075) + var(--sl-size-010));
  inset: 3px 3px 3px auto;
  position: absolute;

  &::before {
    background: var(--sl-color-background-selected-bold);
    block-size: var(--sl-size-300);
    border-radius: var(--sl-size-150);
    content: '';
    inset: 50% 1px auto;
    margin-block-start: calc(var(--sl-size-150) / -1);
    position: absolute;
    z-index: 1;
  }
}
