:host {
  --_bg-color: var(--sl-color-background-input-plain);
  --_bg-mix-color: var(--sl-color-background-input-interactive);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  border: var(--sl-size-borderWidth-default) solid var(--sl-color-border-input);
  border-radius: var(--sl-size-borderRadius-default);
  display: inline-flex;
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  vertical-align: middle;
}

:host(:state(placeholder-shown)) .inputs {
  opacity: 0;
}

:host(:not(:state(placeholder-shown))) .placeholder {
  opacity: 0;
}

:host(:focus-within) {
  outline-color: var(--sl-color-border-focused);

  .placeholder {
    opacity: 0;
  }

  .inputs {
    opacity: 1;
  }
}

:host(:hover:not(:focus-within)) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
}

:host([disabled]) {
  border-color: var(--sl-color-border-disabled);
  color: var(--sl-color-foreground-disabled);
  pointer-events: none;

  .field {
    background: var(--sl-color-background-disabled);
  }
}

:host([readonly]) input {
  cursor: default;
}

.field {
  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  display: inline-flex;
  padding-inline-start: calc(var(--sl-size-150) - var(--sl-size-borderWidth-default));
}

.wrapper {
  display: inline-grid;

  > div {
    align-items: center;
    display: inline-flex;
    grid-area: 1 / 1;
  }
}

.placeholder {
  pointer-events: none;
}

input {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  color: inherit;
  display: inline-block;
  field-sizing: content;
  font: inherit;
  inline-size: fit-content;
  padding: var(--sl-size-050) 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    display: none;
  }

  &:focus {
    outline: none;
  }
}

dialog {
  align-content: start;
  background: var(--sl-elevation-surface-raised-default);
  border: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: none;
  margin: 0;
  opacity: 0;
  padding: calc(var(--sl-size-050) - var(--sl-size-borderWidth-default));

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s cubic-bezier(0.25, 0, 0.3, 1);
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
  }

  &:popover-open {
    display: grid;
    opacity: 1;
  }
}

sl-button-bar {
  gap: var(--sl-size-300);

  &:not(:state(empty)) {
    margin: var(--sl-size-100) var(--sl-size-150);
  }
}

sl-button {
  margin-inline-start: auto;
}
