:host {
  display: flex;
  vertical-align: middle;
}

:host([disabled]) {
  pointer-events: none;
}

dialog {
  align-content: start; // WebKit fix where the dialog takes up the entire height of the viewport
  background: var(--sl-elevation-surface-raised-default);
  border: var(--sl-size-borderWidth-default) solid var(--sl-color-border-plain);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: none;
  margin: 0;
  opacity: 0;
  padding: calc(var(--sl-size-050) - var(--sl-size-borderWidth-default));

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s cubic-bezier(0.25, 0, 0.3, 1);
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
  }

  &:popover-open {
    display: grid;
    opacity: 1;
  }
}

sl-button-bar {
  gap: var(--sl-size-300);

  &:not(:state(empty)) {
    margin: var(--sl-size-100) var(--sl-size-150);
  }
}

sl-button {
  margin-inline-start: auto;
}
