:host {
  display: flex;
}

:host([disabled]) {
  pointer-events: none;
}

sl-text-field {
  flex: 1;
  padding-block: 0;
  padding-inline: var(--_padding-inline) 0;
}

[popover] {
  background: var(--sl-color-elevation-surface-raised);
  border: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  margin: 0;
  padding: 0.25rem 11px;

  &:popover-open {
    @starting-style {
      display: flex;
      opacity: 0;
    }

    display: flex;
    opacity: 1;
  }
}
