$statuses: info, success, warning, danger;

:host {
  --_background: var(--_background-color); //var(--sl-color-dialog-background);
  --_border: var(--sl-border-width-inline-message-default) solid var(--_border-color);
  --_border-left: var(--sl-border-width-inline-message-start) solid var(--_border-color);
  --_border-radius: var(--sl-border-radius-inline-message-default);
  --_header-gap: var(--sl-space-dialog-gap-header);
  --_heading-direction: var(--sl-dialog-header-flex-direction);
  --_heading-gap: var(--sl-space-dialog-gap-header);
  --_body-gap: var(--sl-space-dialog-mobile-body-gap);
  --_footer-direction: column-reverse;
  --_footer-align: var(--sl-dialog-footer-justify-content);
  --_min-inline-size: var(--sl-size-dialog-min);
  --_max-inline-size: var(--sl-size-dialog-full);
  --_padding-block: var(--sl-space-dialog-mobile-body-block);
  --_padding-inline: var(--sl-space-dialog-mobile-body-inline);
  --_margin-container-inline: var(--sl-space-dialog-mobile-container-inline);
  --_margin-top-container: var(--sl-space-dialog-mobile-container-padding-top);
  --_margin-bottom-container: var(--sl-space-dialog-mobile-container-padding-bottom);
  --_color: var(--sl-color-dialog-foreground);
  --_subtitle-font: var(--sl-text-dialog-subheading);
  --_subtitle-padding-bottom: var(--sl-space-dialog-subtitle-padding-bottom);
  --_title-font: var(--sl-text-dialog-heading);
  --_body-font: var(--sl-text-body-lg-normal);
}

@each $status in $statuses {
  :host([status='#{$status}']) {
    //--_border-width: var(--sl-border-width-button-#{$status});
    --_background-color: var(--sl-color-inline-message-#{$status}-background);
    --_border-color: var(--sl-color-inline-message-#{$status}-border);
    --_icon-fill: var(--sl-color-inline-message-#{$status}-icon);
  }

  //@each $variant in $variants {
  //  :host([fill='#{$fill}'][variant='#{$variant}']) {
  //    --_background: var(--sl-color-button-#{$variant}-#{$fill}-idle-background);
  //    --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-idle-border);
  //    --_color: var(--sl-color-button-#{$variant}-#{$fill}-idle-foreground);
  //    --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-idle);
  //  }
  //
  //  :host([fill='#{$fill}'][variant='#{$variant}']:not(:disabled, [internals-disabled]):hover) {
  //    --_background: var(--sl-color-button-#{$variant}-#{$fill}-hover-background);
  //    --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-hover-border);
  //    --_color: var(--sl-color-button-#{$variant}-#{$fill}-hover-foreground);
  //    --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-hover);
  //  }
  //
  //  :host([fill='#{$fill}'][variant='#{$variant}']:not(:disabled, [internals-disabled]):active) {
  //    --_background: var(--sl-color-button-#{$variant}-#{$fill}-active-background);
  //    --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-active-border);
  //    --_color: var(--sl-color-button-#{$variant}-#{$fill}-active-foreground);
  //    --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-active);
  //  }
  //
  //  :host([fill='#{$fill}'][variant='#{$variant}']:where(:disabled, [internals-disabled])) {
  //    --_background: var(--sl-color-button-#{$variant}-#{$fill}-disabled-background);
  //    --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-border);
  //    --_color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-foreground);
  //    --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-disabled);
  //  }
  //
  //  :host([fill='#{$fill}'][variant='#{$variant}']:not(:disabled, [internals-disabled]):focus-visible) {
  //    --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-focus-border);
  //    --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-focus);
  //  }
  //}
}

:host {
  display: block;
  text-align: inherit;
}

.inline-message-wrapper {
  background: var(--_background-color);
  border: var(--_border);
  border-left: var(--_border-left);
  border-radius: var(--_border-radius);
  color: var(--_color);
  display: inline-flex; // or block?
  flex-direction: column;
  //inset: 0;
  margin: auto auto 0;
  max-block-size: min(
    100%,
    100vh - var(--_margin-top-container) - var(--_margin-bottom-container) - 2 * var(--_padding-block)
  );
  max-inline-size: var(--_max-inline-size);
  // opacity: 0;
  overflow: hidden;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  //position: fixed;
  width: auto;
}

slot[name='header'] {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--_header-gap);
}

slot[name='icon'] {
  //display: inline-flex;
  sl-icon {
    --fill-default: var(--_icon-fill);
  }
}

//slot[name='icon']::slotted(sl-icon) {
//  align-self: center;
//  fill: var(--_fill);
//  margin-left: var(--sl-space-input-field-label-icon-md);
//}

.titles {
  align-items: flex-start;
  display: flex;
  flex-direction: var(--_heading-direction);
  gap: var(--_heading-gap);
}

slot[name='header-actions'] {
  display: inline-flex;
}

slot[name='header-buttons'],
slot[name='header-buttons']::slotted(*) {
  display: flex;
}

slot[name='close-button'] {
  display: block;
}

slot[name='close-button']::slotted(*),
slot[name='header-buttons']::slotted(*) {
  align-self: baseline;
}

slot[name='subtitle']::slotted(*) {
  font: var(--_subtitle-font);
  padding-bottom: var(--_subtitle-padding-bottom);
}

slot[name='title']::slotted(*) {
  font: var(--_title-font);
}

.body-content {
  font: var(--_body-font);
  margin: var(--_body-gap) 0;
  overflow: auto;
}

slot[name='footer'] {
  sl-button-bar {
    align-items: stretch;
    flex-direction: var(--_footer-direction);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog[closing] {
    animation: slide-down 400ms ease-out;

    &::backdrop {
      animation: backdrop-hide 400ms ease-out;
    }
  }

  dialog[open]:not([closing]) {
    animation: slide-in-up 600ms ease-out;

    &::backdrop {
      animation: backdrop-show 600ms ease-out;
    }
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  50% {
    opacity: 0.75;
  }

  80% {
    transform: translateY(-20px);
  }

  90% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backdrop-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
