$variants: info, success, warning, danger;

:host {
  --_background: var(--_background-color);
  --_border: var(--sl-border-width-inline-message-default) solid var(--_border-color);
  --_border-left: var(--sl-border-width-inline-message-start) solid var(--_border-color);
  --_border-radius: var(--sl-border-radius-inline-message-default);
  --_padding-block: var(--sl-space-inline-message-block);
  --_padding-inline: calc(var(--sl-space-inline-message-inline-start)) var(--sl-space-inline-message-inline-end);
  --_title-font: var(--sl-text-body-lg-demibold);
  --_gap: var(--sl-space-inline-message-gap);
  --_close-button-spacing: var(--sl-space-button-gap-sm);
  --_icon-block-size: var(--sl-text-typeset-line-height-lg);
  --_description-font: var(--sl-text-body-md-normal);
  --_details-font: var(--sl-text-list-sm-normal);
  --_content-gap: var(--sl-space-inline-message-content-gap);
}

@each $variant in $variants {
  :host([variant='#{$variant}']) {
    --_background-color: var(--sl-color-inline-message-#{$variant}-background);
    --_border-color: var(--sl-color-inline-message-#{$variant}-border);
    --_icon-fill: var(--sl-color-inline-message-#{$variant}-icon);
    --_fill: var(--sl-color-inline-message-#{$variant}-icon);
    --_color: var(--sl-color-inline-message-#{$variant}-foreground);
  }
}

:host {
  display: block;
  outline: none;
  text-align: inherit;
}

.wrapper {
  background: var(--_background-color);
  border: var(--_border);
  border-left: var(--_border-left);
  border-radius: var(--_border-radius);
  color: var(--_color);
  display: flex;
  flex-direction: column;
  font: var(--_description-font);
  margin: auto auto 0;
  outline: none;
  overflow: hidden;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  position: relative;
  width: auto;
}

.wrapper[close] {
  opacity: 0;
}

.wrapper[open] {
  opacity: 1;
}

.content {
  display: flex;
  gap: var(--_gap);
}

.content-details {
  display: flex;
  flex-direction: column;
  gap: var(--_content-gap);
}

slot[name='icon'] {
  sl-icon {
    --fill-default: var(--_icon-fill);
    block-size: var(--_icon-block-size);
    fill: var(--_fill);
  }
}

slot[name='title'] {
  font: var(--_title-font);
}

slot[name='details'] {
  font: var(--_details-font);
}

slot[name='close-button'] {
  display: block;
  inset-block-start: var(--_close-button-spacing);
  inset-inline-end: var(--_close-button-spacing);
  position: absolute;
}

slot[name='close-button']::slotted(*) {
  align-self: baseline;
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper[close] {
    animation: slide-down 300ms ease-out;
  }

  .wrapper[open] {
    animation: slide-in-up 400ms ease-out;
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }

  50% {
    opacity: 0.75;
  }

  80% {
    transform: translateY(-2px);
  }

  90% {
    opacity: 1;
    transform: translateY(-1px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(1px);
  }

  100% {
    opacity: 0;
    transform: translateY(2px);
  }
}
