$variants: info, success, warning, danger;

:host {
  --_action-button-size: calc(
    var(--sl-space-button-ghost-icon-only-md) * 2 + var(--sl-border-width-button-ghost) * 2 +
      var(--sl-size-button-icon-container-icon-only-md)
  );
  --_border-radius: var(--sl-border-radius-inline-message-default);
  --_border: var(--sl-border-width-inline-message-default) solid var(--_border-color);
  --_dismiss-button-size: calc(
    var(--sl-space-button-ghost-icon-only-lg) * 2 + var(--sl-border-width-button-ghost) * 2 +
      var(--sl-size-button-icon-container-icon-only-lg)
  );
  --_button-size: calc(
    var(--sl-space-button-ghost-icon-only-lg) * 2 + var(--sl-border-width-button-ghost) * 2 +
      var(--sl-size-button-icon-container-icon-only-lg)
  );
  --_header-block-size: var(--_dismiss-button-size);
  --_header-padding-block-start: calc((var(--_dismiss-button-size) - var(--_header-block-size)) / 2);
  --_content-gap: var(--sl-space-inline-message-content-gap);
  --_description-font: var(--sl-text-body-md-normal);
  --_gap: var(--sl-space-inline-message-gap);
  --_icon-block-size: var(--sl-text-typeset-line-height-lg);
  --_padding-block: calc(
    var(--sl-space-inline-message-block) - ((var(--_header-block-size) - var(--_action-button-size)) / 2)
  );
  --_padding-inline-start: var(--sl-space-inline-message-inline-start);
  --_padding-inline-end: var(--_padding-block);
  --_title-font: var(--sl-text-body-lg-demibold);

  display: block;
}

:host([indismissible]) {
  --_header-block-size: var(--_action-button-size);
  --_padding-inline-end: var(--sl-space-inline-message-inline-end);
}

:host([no-action]) [part='action'] {
  display: none;
}

:host([no-title]) {
  [part='title'] {
    display: none;
  }

  [part='content'] {
    grid-area: 1 / 2;
    padding-block-start: calc((var(--_header-block-size) - 1lh) / 2);
  }
}

:host([wrap-action]) {
  .wrapper {
    padding-block-end: var(--sl-space-inline-message-block);
  }

  [part='action'] {
    align-self: auto;
    grid-area: auto / 2;
    margin-block-start: var(--sl-space-inline-message-block);
  }
}

@each $variant in $variants {
  :host([variant='#{$variant}']) {
    --_background: var(--sl-color-inline-message-#{$variant}-background);
    --_border-color: var(--sl-color-inline-message-#{$variant}-border);
    --_color: var(--sl-color-inline-message-#{$variant}-foreground);
    --_fill: var(--sl-color-inline-message-#{$variant}-icon);
    --_icon-fill: var(--sl-color-inline-message-#{$variant}-icon);
  }
}

.wrapper {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  color: var(--_color);
  display: grid;
  font: var(--_description-font);
  gap: 0 var(--_gap);
  grid-template-columns: auto 1fr auto;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline-start) var(--_padding-inline-end);
  position: relative;

  &::before {
    background: var(--_border-color);
    content: '';
    inline-size: var(--sl-border-width-inline-message-start);
    inset: 0 auto 0 0;
    position: absolute;
  }

  &[close] {
    opacity: 0;

    @media (prefers-reduced-motion: no-preference) {
      animation: slide-down 300ms ease-out;
    }
  }

  &[open] {
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      animation: slide-in-up 400ms ease-out;
    }
  }
}

[part='icon'] {
  --sl-icon-fill-default: var(--_icon-fill);

  align-items: center;
  block-size: var(--_header-block-size);
  display: inline-flex;
  fill: var(--_fill);
}

[part='title'] {
  font: var(--_title-font);
  grid-area: 1 / 2;
  margin-block-end: var(--_content-gap);
  padding-block-start: calc((var(--_header-block-size) - 1lh) / 2);

  slot {
    display: block;
  }
}

[part='action'] {
  align-self: start;
  margin-block-start: calc((var(--_header-block-size) - var(--_action-button-size)) / 2);
}

sl-button {
  align-self: start;
  grid-area: 1 / 4;
}

[part='content'] {
  grid-area: 2 / 2 / 2 / -1;

  slot {
    display: block;
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }

  50% {
    opacity: 0.75;
  }

  80% {
    transform: translateY(-2px);
  }

  90% {
    opacity: 1;
    transform: translateY(-1px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(1px);
  }

  100% {
    opacity: 0;
    transform: translateY(2px);
  }
}
