[data-teacher-assistant-subthemes='blue'] {
  --sl-subtheme-light-color-background-primary-bold: var(
    --sl-brand-light-color-background-accent-blue-bold
  );
  --sl-subtheme-light-color-background-primary-interactive-bold: var(
    --sl-brand-light-color-background-accent-blue-interactive-bold
  );
  --sl-subtheme-light-color-background-primary-interactive-plain: var(
    --sl-brand-light-color-background-accent-blue-interactive-plain
  );
  --sl-subtheme-light-color-background-primary-subtle: var(
    --sl-brand-light-color-background-accent-blue-subtle
  );
  --sl-subtheme-light-color-background-primary-subtlest: var(
    --sl-brand-light-color-background-accent-blue-subtlest
  );
  --sl-subtheme-light-color-background-selected-subtlest: var(
    --sl-brand-light-color-background-accent-blue-subtlest
  );
  --sl-subtheme-light-color-border-primary-bold: var(
    --sl-brand-light-color-border-accent-blue-plain
  );
  --sl-subtheme-light-color-border-primary-plain: var(
    --sl-brand-light-color-border-accent-blue-plain
  );
  --sl-subtheme-light-color-foreground-brand: var(
    --sl-brand-light-color-foreground-accent-blue-plain
  );
  --sl-subtheme-light-color-foreground-primary-bold: var(
    --sl-brand-light-color-foreground-accent-blue-bold
  );
  --sl-subtheme-light-color-foreground-primary-onBold: var(
    --sl-brand-light-color-foreground-accent-blue-onBold
  );
  --sl-subtheme-light-color-foreground-subtheme: var(
    --sl-brand-light-color-foreground-accent-blue-bold
  );
  --sl-subtheme-light-elevation-surface-base-default: var(--sl-brand-light-color-palette-grey-050);
  --sl-subtheme-light-elevation-surface-raised-primary: var(
    --sl-subtheme-light-color-background-primary-bold
  );
}
