:host {
  align-items: center;
  border-radius: var(--sl-size-border-radius-default);
  color: var(--sl-color-text-default);
  cursor: pointer;
  display: flex;
  gap: var(--sl-space-new-md);
  padding: var(--sl-space-new-sm) var(--sl-space-new-md);
  user-select: none;
}

:host([aria-current]),
:host(:hover) {
  background: var(--sl-color-action-background-accent-subtle-hover);
}

:host([aria-selected='true']) sl-icon {
  visibility: visible;
}

:host(:active) {
  background: var(--sl-color-action-background-accent-subtle-active);
}

:host([disabled]) {
  color: var(--sl-color-text-disabled);
  cursor: default;
  pointer-events: none;
}

sl-icon {
  visibility: hidden;
}
