:host {
  border-radius: var(--sl-border-radius-select-item);
  color: var(--sl-color-select-item-default-foreground);
  cursor: pointer;
  display: block;
  font: var(--sl-text-select-selectbox-text-md);
  padding-block: var(--sl-space-select-item-block-md);
  padding-inline: var(--sl-space-select-item-inline-md);
  user-select: none;
}

:host([aria-current]),
:host(:hover) {
  background: var(--sl-color-select-item-hover-background);
}

:host(:active) {
  background: var(--sl-color-select-item-active-background);
}

:host([disabled]) {
  color: var(--sl-color-select-item-disabled-foreground);
  cursor: default;
  pointer-events: none;
}
