$states: active, success, warning, error;

:host {
  --_border-radius: var(--sl-border-radius-full);
  --_label-font: var(--sl-text-input-field-label-label-md);
  --_helper-font: var(--sl-text-input-field-label-hint-md);
  --_helper-color: var(--sl-color-input-helper-text-default);
  --_helper-color-error: var(--sl-color-progressbar-error-track);
  --height: var(--sl-size-progressbar);
  --_gap: var(--sl-space-progressbar-vertical-gap);
  --_label-gap: var(--sl-space-progressbar-horizontal-gap);
  --_indeterminate-duration: 20s;
   --_bar-background: var(--sl-color-progressbar-background);

  @media (prefers-reduced-motion: no-preference) {
    --_indeterminate-duration: 1.2s;
  }

  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}

@each $state in $states {
  :host([state='#{$state}']) {
    --_progress-background: var(--sl-color-progressbar-#{$state}-track);
    --_icon-fill: var(--sl-color-progressbar-#{$state}-track);
  }
}

:host([indeterminate][state='active']) {
  .progress {
    position: relative;
    animation: var(--_indeterminate-duration) ease 500ms infinite normal none running indeterminate;
  }
}

:host([state='error']) {
  ::slotted(*) {
    color: var(--_helper-color-error);
  }
}

.label {
  display: flex;
  justify-content: space-between;
  font: var(--_label-font);
  gap: var(--_label-gap);

  sl-icon {
    --sl-icon-fill-default: var(--_icon-fill);
  }
}

.helper {
  display: flex;
  justify-content: space-between;
  gap: var(--_label-gap);

  sl-icon {
    --sl-icon-fill-default: var(--_icon-fill);
  }
}

::slotted(*) {
  font: var(--_helper-font);
  color: var(--_helper-color);
}

.container {
  position: relative;
  align-items: stretch;
  background: var(--_bar-background);
  border-radius: var(--_border-radius);
  display: flex;
  block-size: var(--height);
  overflow: hidden;
  inline-size: 100%;
}

.progress {
  background: var(--_progress-background);
  border-radius: var(--_border-radius);
  transform-origin: left;
  transition: 400ms width, 400ms background-color;
}

@keyframes indeterminate {
  0% {
    left: -80%;
    width: 80%;
  }
  100% {
     left: 110%;
     width: 10%;
   }
}
