/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-box-shadow-none: 0px 0px 0px 0px ;
  --sl-box-shadow-focus: 0px 0px 0px 3px rgba(var(--sl-color-palette-info-300)/var(--sl-opacity-800));
  --sl-body-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-input-option-valid-checked-disabled-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-focus-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-active-background: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-option-valid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-hover-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-input-option-valid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-default-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-valid-unchecked-focus-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-option-valid-unchecked-focus-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-unchecked-active-icon: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-option-valid-unchecked-active-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-active-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-input-option-valid-unchecked-hover-icon: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-option-valid-unchecked-hover-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-hover-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-input-option-valid-unchecked-default-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-option-valid-unchecked-default-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-invalid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-focus-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-active-background: rgb(var(--sl-color-palette-danger-800));
  --sl-color-input-option-invalid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-hover-background: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-option-invalid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-default-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-disabled-icon: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-option-invalid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-invalid-unchecked-focus-icon: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-option-invalid-unchecked-focus-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-unchecked-active-icon: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-option-invalid-unchecked-active-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-active-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-option-invalid-unchecked-hover-icon: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-option-invalid-unchecked-hover-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-hover-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-input-option-invalid-unchecked-default-icon: rgb(var(--sl-color-palette-danger-400));
  --sl-color-input-option-invalid-unchecked-default-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-default-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-active-background: rgb(var(--sl-color-palette-primary-600));
  --sl-color-input-option-default-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-hover-background: rgb(var(--sl-color-palette-primary-800));
  --sl-color-input-option-default-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-default-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-default-unchecked-focus-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-unchecked-active-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-active-background: rgb(var(--sl-color-palette-info-200));
  --sl-color-input-option-default-unchecked-hover-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-hover-background: rgb(var(--sl-color-palette-info-150));
  --sl-color-input-option-default-unchecked-default-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-default-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-surface-solid-accent-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-accent-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-surface-solid-secondary-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-surface-solid-secondary-background: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-surface-solid-primary-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-surface-solid-primary-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-link-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-danger-link-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-active-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-link-active-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-link-hover-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-hover-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-link-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-disabled-border: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-danger-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-danger-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-danger-outline-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-focus-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-outline-active-border: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-active-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-active-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-outline-hover-border: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-hover-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-hover-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-outline-idle-border: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-idle-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-danger-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-danger-default-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-default-focus-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-default-active-border: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-default-active-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-default-active-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-default-hover-border: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-default-hover-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-default-hover-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-default-idle-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-default-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-default-idle-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-warning-link-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-warning-link-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-active-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-active-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-link-hover-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-hover-background: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-link-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-disabled-border: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-warning-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-warning-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-warning-outline-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-focus-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-active-border: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-outline-active-foreground: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-outline-active-background: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-outline-hover-border: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-outline-hover-foreground: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-outline-hover-background: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-outline-idle-border: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-idle-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-warning-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-warning-default-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-default-focus-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-active-border: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-default-active-foreground: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-default-active-background: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-default-hover-border: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-default-hover-foreground: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-default-hover-background: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-default-idle-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-default-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-default-idle-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-success-link-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-success-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-success-link-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-success-link-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-success-link-hover-foreground: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-link-hover-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-link-idle-foreground: rgb(var(--sl-color-palette-success-base));
  --sl-color-button-success-outline-disabled-border: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-success-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-success-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-success-outline-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-focus-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-outline-active-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-active-background: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-outline-hover-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-hover-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-outline-idle-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-idle-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-success-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-success-default-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-focus-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-default-active-border: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-default-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-active-background: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-default-hover-border: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-default-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-hover-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-default-idle-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-default-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-default-idle-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-primary-link-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-primary-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-primary-link-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-link-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-disabled-border: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-primary-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-primary-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-primary-outline-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-focus-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-outline-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-primary-outline-hover-border: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-primary-outline-hover-foreground: rgb(var(--sl-color-palette-black-base));
  --sl-color-button-primary-outline-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-primary-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-default-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-primary-default-focus-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-default-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-default-active-border: rgb(var(--sl-color-palette-primary-700));
  --sl-color-button-primary-default-active-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-default-active-background: rgb(var(--sl-color-palette-primary-700));
  --sl-color-button-primary-default-hover-border: rgb(var(--sl-color-palette-primary-800));
  --sl-color-button-primary-default-hover-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-default-hover-background: rgb(var(--sl-color-palette-primary-800));
  --sl-color-button-primary-default-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-default-idle-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-default-idle-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-default-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-link-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-link-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-disabled-border: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-default-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-default-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-outline-focus-border: rgb(var(--sl-color-palette-info-base));
  --sl-color-button-default-outline-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-focus-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-outline-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-outline-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-idle-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-default-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-disabled-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-button-default-default-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-default-focus-border: rgb(var(--sl-color-palette-info-300));
  --sl-color-button-default-default-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-default-focus-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-default-active-border: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-default-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-default-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-default-hover-border: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-default-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-default-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-default-idle-border: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-default-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-default-idle-background: rgb(var(--sl-color-palette-primary-50));
  --sl-body-foreground: var(--sl-color-surface-solid-primary-foreground);
  --sl-color-input-option-valid-checked-disabled-border: var(--sl-color-input-option-valid-checked-disabled-background);
  --sl-color-input-option-valid-checked-focus-border: var(--sl-color-input-option-valid-checked-focus-background);
  --sl-color-input-option-valid-checked-active-border: var(--sl-color-input-option-valid-checked-active-background);
  --sl-color-input-option-valid-checked-hover-border: var(--sl-color-input-option-valid-checked-hover-background);
  --sl-color-input-option-valid-checked-default-border: var(--sl-color-input-option-valid-checked-default-background);
  --sl-color-input-option-invalid-checked-disabled-border: var(--sl-color-input-option-invalid-checked-disabled-background);
  --sl-color-input-option-invalid-checked-focus-border: var(--sl-color-input-option-invalid-checked-focus-background);
  --sl-color-input-option-invalid-checked-active-border: var(--sl-color-input-option-invalid-checked-active-background);
  --sl-color-input-option-invalid-checked-hover-border: var(--sl-color-input-option-invalid-checked-hover-background);
  --sl-color-input-option-invalid-checked-default-border: var(--sl-color-input-option-invalid-checked-default-background);
  --sl-color-input-option-default-checked-disabled-border: var(--sl-color-input-option-default-checked-disabled-background);
  --sl-color-input-option-default-checked-focus-border: var(--sl-color-input-option-default-checked-focus-background);
  --sl-color-input-option-default-checked-active-border: var(--sl-color-input-option-default-checked-active-background);
  --sl-color-input-option-default-checked-hover-border: var(--sl-color-input-option-default-checked-hover-background);
  --sl-color-input-option-default-checked-default-border: var(--sl-color-input-option-default-checked-default-background);
  --sl-color-input-option-valid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-default-label: var(--sl-body-foreground);
}