$sizes: sm, md, lg;

:host {
  --_font-weight: 600;
  --_line-height: 24px;
}

:host {
  font-weight: var(--_font-weight);
  line-height: var(--_line-height);
}

.optional,
.required {
  margin-left: 0.25rem;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_font: var(--sl-text-input-text-#{$size}); // TODO: use exact token
  }
}
