$sizes: sm, md, lg;

:host {
  --_font-weight: 600;
  --_line-height: 24px;
  font: var(--_font);
  padding-bottom: var(--_padding-bottom);
}

:host {
  //font-weight: var(--_font-weight);
  //line-height: var(--_line-height);
}

.optional,
.required {
  margin-left: 0.25rem;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    //--_font: var(--sl-text-input-label-label-#{$size}); // TODO: use exact token
    --_padding-bottom: var(--sl-space-label-padding-bottom-#{$size});

    slot[name='label']::slotted(*) {
      --_font: var(--sl-text-input-label-label-#{$size});
    }
  }
}
