:host {
  display: block;
  padding: 0;
}

.page-sizes {
  display: flex;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
}

sl-select {
  min-inline-size: var(--sl-size-paginator-select-min-width);
}
