:host {
  --_focus-space: calc(var(--sl-border-width-focusring-default) + var(--sl-border-width-focusring-offset));
  --_gap: var(--sl-space-100);

  display: flex;
  justify-content: center;
  min-inline-size: 0;
}

:host([mobile]) {
  sl-button.prev,
  sl-button.next {
    display: none;
  }

  .container {
    // to align with changes made for focus ring visibility with overflow hidden:
    margin: var(--_focus-space);
  }

  .pages-wrapper {
    display: none;
  }

  .select-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--_gap);
    justify-content: center;

    sl-select {
      min-inline-size: var(--sl-size-paginator-select-min-width);
    }
  }
}

.pages-wrapper {
  align-items: center;
  display: flex;
  gap: var(--_gap);
  margin: 0;
  overflow-x: hidden;

  // to make focus-ring visible with overflow hidden:
  padding: var(--_focus-space);
}

.select-wrapper {
  display: none;
}

.container {
  align-items: center;
  display: flex;
  gap: var(--_gap);

  // to make focus-ring visible with overflow hidden:
  margin: calc(var(--_focus-space) * -1);
  min-inline-size: 0;
  padding: 0;
}

li {
  align-items: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style: none;
}

/** Hiding the aria-live element for the UI, but not for the screen readers. */
#live {
  block-size: 0;
  inline-size: 0;
  overflow: hidden;
}
