:host {
  color: var(--sl-color-text-default);
  display: block;
  font: var(--sl-text-new-body-md);
  font-weight: var(--sl-text-typeset-font-weight-icon-regular);
  padding: 0;
  text-wrap: nowrap;
}

/** Hiding the aria-live element for the UI, but not for the screen readers. */
#live {
  block-size: 0;
  inline-size: 0;
  overflow: hidden;
}
