:host {
  align-items: center;
  display: flex;
  gap: var(--sl-size-100);
  min-inline-size: 0;
}

:host([width='xs']) {
  sl-button,
  sl-menu-button {
    display: none;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sl-size-100);
    justify-content: center;
  }

  sl-select {
    min-inline-size: var(--sl-size-1000);
  }
}

.page {
  box-sizing: border-box;
  flex-shrink: 0;
  inline-size: var(--sl-size-500);
  padding-inline: 0;
}

.current {
  --_bg-color: var(--sl-color-background-selected-subtlest);
  --_bg-mix-color: var(--sl-color-background-primary-interactive-plain); // TODO: from where should I take this one?
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);

  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));

  // background: var(--sl-color-background-selected-subtlest); // var(--sl-color-background-selected-subtle-idle);
  color: var(--sl-color-foreground-primary-bold);

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }
} // TODO: use new approach with transparency and mixin colours

:host([emphasis='bold']) .current {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);
  --_bg-opacity: var(--sl-opacity-light-interactive-bold-idle);

  background: color-mix(
    in srgb,
    var(--_bg-color),
    var(--_bg-mix-color) calc(100% * var(--_bg-opacity))
  ); // TODO: maybe it needs to be somewhere else?

  color: var(--sl-color-foreground-selected-onBold);

  &:hover {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }

  &:active {
    // TODO: only oncce and hover should be added per .current class?
    --_bg-opacity: var(--sl-opacity-interactive-plain-active);
  }
}

.wrapper {
  display: none;
}
