:host {
  align-items: center;
  background: color-mix(
    in srgb,
    var(--_bg-color),
    var(--_bg-mix-color) calc(100% * var(--_bg-opacity))
  );
  display: flex;
  gap: var(--sl-size-100);
  min-inline-size: 0;
}

:host([width='xs']) {
  sl-button,
  sl-menu-button {
    display: none;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sl-size-100);
    justify-content: center;
  }

  sl-select {
    min-inline-size: var(--sl-size-1000);
  }
}

.page {
  --sl-button-bg-color: transparent;
  --sl-button-bg-mix-color: var(--sl-color-background-neutral-interactive-plain);
  --sl-button-bg-opacity: var(--sl-opacity-interactive-plain-idle);
  --sl-button-bg-opacity-hover: var(--sl-opacity-interactive-plain-hover);
  --sl-button-bg-opacity-active: var(--sl-opacity-interactive-plain-active);
  --sl-button-color: var(--sl-color-foreground-neutral-bold);

  box-sizing: border-box;
  flex-shrink: 0;
  inline-size: calc(1lh + (var(--sl-size-100) * 2));
  padding-inline: 0;
}

:host([size='sm']) {
  .page {
    inline-size: calc(1lh + var(--sl-size-050)); // 2 * padding of var(--sl-size-025)
  }
}

:host([size='lg']) {
  .page {
    inline-size: calc(1lh + (var(--sl-size-175) * 2));
  }
}

.current {
  --sl-button-bg-color: transparent;
  --sl-button-bg-mix-color: var(--sl-color-background-primary-interactive-plain);
  --sl-button-bg-opacity: var(--sl-opacity-interactive-plain-idle);
  --sl-button-bg-opacity-hover: var(--sl-opacity-interactive-plain-hover);
  --sl-button-bg-opacity-active: var(--sl-opacity-interactive-plain-active);
  --sl-button-border-color: var(--sl-color-border-selected);
  --sl-button-color: var(--sl-color-foreground-primary-bold);
}

:host([emphasis='bold']) .current {
  --sl-button-bg-color: var(--sl-color-background-primary-bold);
  --sl-button-bg-mix-color: var(--sl-color-background-primary-interactive-bold);
  --sl-button-border-color: transparent;
  --sl-button-color: var(--sl-color-foreground-primary-onBold);
  --sl-button-bg-opacity: var(--sl-opacity-interactive-bold-idle);
  --sl-button-bg-opacity-hover: var(--sl-opacity-interactive-bold-hover);
  --sl-button-bg-opacity-active: var(--sl-opacity-interactive-bold-active);
}

.wrapper {
  display: none;
}
