:root {
  --sl-teacher-assistant-color-background-accent-blue-bold: var(
    --sl-teacher-assistant-color-palette-blue-400
  );
  --sl-teacher-assistant-color-background-accent-blue-interactive-bold: var(
    --sl-teacher-assistant-color-palette-blue-900
  );
  --sl-teacher-assistant-color-background-accent-blue-interactive-plain: var(
    --sl-teacher-assistant-color-palette-blue-300
  );
  --sl-teacher-assistant-color-background-accent-blue-subtle: #1355ff33;
  --sl-teacher-assistant-color-background-accent-blue-subtlest: #1355ff1a;
  --sl-teacher-assistant-color-background-accent-green-bold: var(
    --sl-teacher-assistant-color-palette-green-900
  );
  --sl-teacher-assistant-color-background-accent-green-interactive-bold: var(
    --sl-teacher-assistant-color-palette-green-900
  );
  --sl-teacher-assistant-color-background-accent-green-interactive-plain: var(
    --sl-teacher-assistant-color-palette-green-400
  );
  --sl-teacher-assistant-color-background-accent-green-subtle: #57c07533;
  --sl-teacher-assistant-color-background-accent-green-subtlest: #57c0751a;
  --sl-teacher-assistant-color-background-accent-grey-bold: var(
    --sl-teacher-assistant-color-palette-grey-150
  );
  --sl-teacher-assistant-color-background-accent-grey-interactive-bold: var(
    --sl-teacher-assistant-color-palette-grey-500
  );
  --sl-teacher-assistant-color-background-accent-grey-interactive-plain: var(
    --sl-teacher-assistant-color-palette-grey-400
  );
  --sl-teacher-assistant-color-background-accent-grey-subtle: #b4b1ad33;
  --sl-teacher-assistant-color-background-accent-grey-subtlest: #b4b1ad1a;
  --sl-teacher-assistant-color-background-accent-orange-bold: var(
    --sl-teacher-assistant-color-palette-orange-900
  );
  --sl-teacher-assistant-color-background-accent-orange-interactive-bold: var(
    --sl-teacher-assistant-color-palette-orange-800
  );
  --sl-teacher-assistant-color-background-accent-orange-interactive-plain: var(
    --sl-teacher-assistant-color-palette-orange-500
  );
  --sl-teacher-assistant-color-background-accent-orange-subtle: #ff8c5d33;
  --sl-teacher-assistant-color-background-accent-orange-subtlest: #ff8c5d1a;
  --sl-teacher-assistant-color-background-accent-purple-bold: var(
    --sl-teacher-assistant-color-palette-purple-900
  );
  --sl-teacher-assistant-color-background-accent-purple-interactive-bold: var(
    --sl-teacher-assistant-color-palette-purple-300
  );
  --sl-teacher-assistant-color-background-accent-purple-interactive-plain: var(
    --sl-teacher-assistant-color-palette-purple-500
  );
  --sl-teacher-assistant-color-background-accent-purple-subtle: #7042ee33;
  --sl-teacher-assistant-color-background-accent-purple-subtlest: #7042ee1a;
  --sl-teacher-assistant-color-background-accent-red-bold: var(
    --sl-teacher-assistant-color-palette-red-800
  );
  --sl-teacher-assistant-color-background-accent-red-interactive-bold: var(
    --sl-teacher-assistant-color-palette-red-900
  );
  --sl-teacher-assistant-color-background-accent-red-interactive-plain: var(
    --sl-teacher-assistant-color-palette-red-400
  );
  --sl-teacher-assistant-color-background-accent-red-subtle: #f83b4133;
  --sl-teacher-assistant-color-background-accent-red-subtlest: #f83b411a;
  --sl-teacher-assistant-color-background-accent-teal-bold: var(
    --sl-teacher-assistant-color-palette-teal-600
  );
  --sl-teacher-assistant-color-background-accent-teal-interactive-bold: var(
    --sl-teacher-assistant-color-palette-teal-900
  );
  --sl-teacher-assistant-color-background-accent-teal-interactive-plain: var(
    --sl-teacher-assistant-color-palette-teal-400
  );
  --sl-teacher-assistant-color-background-accent-teal-subtle: #00d0c933;
  --sl-teacher-assistant-color-background-accent-teal-subtlest: #00d0c91a;
  --sl-teacher-assistant-color-background-accent-yellow-bold: var(
    --sl-teacher-assistant-color-palette-yellow-400
  );
  --sl-teacher-assistant-color-background-accent-yellow-interactive-bold: var(
    --sl-teacher-assistant-color-palette-yellow-800
  );
  --sl-teacher-assistant-color-background-accent-yellow-interactive-plain: var(
    --sl-teacher-assistant-color-palette-yellow-400
  );
  --sl-teacher-assistant-color-background-accent-yellow-subtle: #ffa82033;
  --sl-teacher-assistant-color-background-accent-yellow-subtlest: #ffa8201a;
  --sl-teacher-assistant-color-background-bold: var(--sl-teacher-assistant-color-border-bold);
  --sl-teacher-assistant-color-background-caution-bold: var(
    --sl-teacher-assistant-color-background-accent-orange-bold
  );
  --sl-teacher-assistant-color-background-caution-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-orange-interactive-bold
  );
  --sl-teacher-assistant-color-background-caution-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-orange-interactive-plain
  );
  --sl-teacher-assistant-color-background-caution-subtle: var(
    --sl-teacher-assistant-color-background-accent-orange-subtle
  );
  --sl-teacher-assistant-color-background-caution-subtlest: var(
    --sl-teacher-assistant-color-background-accent-orange-subtlest
  );
  --sl-teacher-assistant-color-background-disabled: var(
    --sl-teacher-assistant-color-palette-grey-100
  );
  --sl-teacher-assistant-color-background-highlight: var(
    --sl-teacher-assistant-color-palette-yellow-100
  );
  --sl-teacher-assistant-color-background-info-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-bold
  );
  --sl-teacher-assistant-color-background-info-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-bold
  );
  --sl-teacher-assistant-color-background-info-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-plain
  );
  --sl-teacher-assistant-color-background-info-subtle: var(
    --sl-teacher-assistant-color-background-accent-purple-subtle
  );
  --sl-teacher-assistant-color-background-info-subtlest: var(
    --sl-teacher-assistant-color-background-accent-purple-subtlest
  );
  --sl-teacher-assistant-color-background-input-interactive: var(
    --sl-teacher-assistant-color-background-accent-grey-interactive-plain
  );
  --sl-teacher-assistant-color-background-input-plain: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-color-background-interactive-bold: var(
    --sl-teacher-assistant-color-background-neutral-interactive-bold
  );
  --sl-teacher-assistant-color-background-interactive-plain: var(
    --sl-teacher-assistant-color-background-neutral-interactive-plain
  );
  --sl-teacher-assistant-color-background-inverted-bold: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-color-background-inverted-interactive-bold: var(
    --sl-teacher-assistant-color-palette-grey-800
  );
  --sl-teacher-assistant-color-background-inverted-interactive-plain: var(
    --sl-teacher-assistant-color-palette-grey-200
  );
  --sl-teacher-assistant-color-background-inverted-subtle: #ffffff33;
  --sl-teacher-assistant-color-background-inverted-subtlest: #ffffff1a;
  --sl-teacher-assistant-color-background-negative-bold: var(
    --sl-teacher-assistant-color-background-accent-red-bold
  );
  --sl-teacher-assistant-color-background-negative-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-red-interactive-bold
  );
  --sl-teacher-assistant-color-background-negative-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-red-interactive-plain
  );
  --sl-teacher-assistant-color-background-negative-subtle: var(
    --sl-teacher-assistant-color-background-accent-red-subtle
  );
  --sl-teacher-assistant-color-background-negative-subtlest: var(
    --sl-teacher-assistant-color-background-accent-red-subtlest
  );
  --sl-teacher-assistant-color-background-neutral-bold: var(
    --sl-teacher-assistant-color-background-accent-grey-bold
  );
  --sl-teacher-assistant-color-background-neutral-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-grey-interactive-bold
  );
  --sl-teacher-assistant-color-background-neutral-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-grey-interactive-bold
  );
  --sl-teacher-assistant-color-background-neutral-subtle: var(
    --sl-teacher-assistant-color-background-accent-grey-subtle
  );
  --sl-teacher-assistant-color-background-neutral-subtlest: var(
    --sl-teacher-assistant-color-palette-grey-050
  );
  --sl-teacher-assistant-color-background-positive-bold: var(
    --sl-teacher-assistant-color-background-accent-green-bold
  );
  --sl-teacher-assistant-color-background-positive-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-green-interactive-bold
  );
  --sl-teacher-assistant-color-background-positive-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-green-interactive-plain
  );
  --sl-teacher-assistant-color-background-positive-subtle: var(
    --sl-teacher-assistant-color-background-accent-green-subtle
  );
  --sl-teacher-assistant-color-background-positive-subtlest: var(
    --sl-teacher-assistant-color-background-accent-green-subtlest
  );
  --sl-teacher-assistant-color-background-primary-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-bold
  );
  --sl-teacher-assistant-color-background-primary-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-bold
  );
  --sl-teacher-assistant-color-background-primary-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-plain
  );
  --sl-teacher-assistant-color-background-primary-subtle: var(
    --sl-teacher-assistant-color-background-accent-purple-subtle
  );
  --sl-teacher-assistant-color-background-primary-subtlest: var(
    --sl-teacher-assistant-color-background-accent-purple-subtlest
  );
  --sl-teacher-assistant-color-background-secondary-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-subtle
  );
  --sl-teacher-assistant-color-background-secondary-interactive-bold: var(
    --sl-teacher-assistant-color-palette-purple-500
  );
  --sl-teacher-assistant-color-background-secondary-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-plain
  );
  --sl-teacher-assistant-color-background-secondary-subtle: var(
    --sl-teacher-assistant-color-background-accent-purple-subtle
  );
  --sl-teacher-assistant-color-background-secondary-subtlest: var(
    --sl-teacher-assistant-color-background-accent-purple-subtlest
  );
  --sl-teacher-assistant-color-background-selected-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-bold
  );
  --sl-teacher-assistant-color-background-selected-interactive-bold: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-bold
  );
  --sl-teacher-assistant-color-background-selected-interactive-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-interactive-plain
  );
  --sl-teacher-assistant-color-background-selected-subtle: var(
    --sl-teacher-assistant-color-background-accent-purple-subtle
  );
  --sl-teacher-assistant-color-background-selected-subtlest: var(
    --sl-teacher-assistant-color-background-accent-purple-subtlest
  );
  --sl-teacher-assistant-color-background-subtle: var(
    --sl-teacher-assistant-color-background-accent-grey-subtle
  );
  --sl-teacher-assistant-color-blanket-plain: #b4b1adcc;
  --sl-teacher-assistant-color-border-accent-blue-bold: var(
    --sl-teacher-assistant-color-foreground-accent-blue-bold
  );
  --sl-teacher-assistant-color-border-accent-blue-plain: var(
    --sl-teacher-assistant-color-background-accent-blue-bold
  );
  --sl-teacher-assistant-color-border-accent-green-bold: var(
    --sl-teacher-assistant-color-foreground-accent-green-bold
  );
  --sl-teacher-assistant-color-border-accent-green-plain: var(
    --sl-teacher-assistant-color-background-accent-green-bold
  );
  --sl-teacher-assistant-color-border-accent-grey-bold: var(
    --sl-teacher-assistant-color-palette-grey-500
  );
  --sl-teacher-assistant-color-border-accent-grey-faint: var(
    --sl-teacher-assistant-color-palette-grey-150
  );
  --sl-teacher-assistant-color-border-accent-grey-heavy: var(
    --sl-teacher-assistant-color-palette-grey-900
  );
  --sl-teacher-assistant-color-border-accent-grey-plain: var(
    --sl-teacher-assistant-color-palette-grey-300
  );
  --sl-teacher-assistant-color-border-accent-orange-bold: var(
    --sl-teacher-assistant-color-foreground-accent-orange-bold
  );
  --sl-teacher-assistant-color-border-accent-orange-plain: var(
    --sl-teacher-assistant-color-background-accent-orange-bold
  );
  --sl-teacher-assistant-color-border-accent-purple-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-border-accent-purple-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-bold
  );
  --sl-teacher-assistant-color-border-accent-red-bold: var(
    --sl-teacher-assistant-color-foreground-accent-red-bold
  );
  --sl-teacher-assistant-color-border-accent-red-plain: var(
    --sl-teacher-assistant-color-background-accent-red-bold
  );
  --sl-teacher-assistant-color-border-accent-teal-bold: var(
    --sl-teacher-assistant-color-foreground-accent-teal-bold
  );
  --sl-teacher-assistant-color-border-accent-teal-plain: var(
    --sl-teacher-assistant-color-background-accent-teal-bold
  );
  --sl-teacher-assistant-color-border-accent-yellow-bold: var(
    --sl-teacher-assistant-color-foreground-accent-yellow-bold
  );
  --sl-teacher-assistant-color-border-accent-yellow-plain: var(
    --sl-teacher-assistant-color-foreground-accent-yellow-plain
  );
  --sl-teacher-assistant-color-border-bold: var(
    --sl-teacher-assistant-color-border-accent-grey-bold
  );
  --sl-teacher-assistant-color-border-caution-bold: var(
    --sl-teacher-assistant-color-border-accent-orange-bold
  );
  --sl-teacher-assistant-color-border-caution-plain: var(
    --sl-teacher-assistant-color-border-accent-orange-plain
  );
  --sl-teacher-assistant-color-border-disabled: var(
    --sl-teacher-assistant-color-border-accent-grey-faint
  );
  --sl-teacher-assistant-color-border-focused: var(--sl-teacher-assistant-color-palette-blue-400);
  --sl-teacher-assistant-color-border-info-bold: var(
    --sl-teacher-assistant-color-border-accent-purple-bold
  );
  --sl-teacher-assistant-color-border-info-plain: var(
    --sl-teacher-assistant-color-border-accent-purple-plain
  );
  --sl-teacher-assistant-color-border-info-subtle: var(
    --sl-teacher-assistant-color-palette-purple-100
  );
  --sl-teacher-assistant-color-border-input: var(
    --sl-teacher-assistant-color-border-accent-purple-bold
  );
  --sl-teacher-assistant-color-border-inverted: var(--sl-teacher-assistant-color-palette-grey-000);
  --sl-teacher-assistant-color-border-negative-bold: var(
    --sl-teacher-assistant-color-border-accent-red-bold
  );
  --sl-teacher-assistant-color-border-negative-plain: var(
    --sl-teacher-assistant-color-border-accent-red-plain
  );
  --sl-teacher-assistant-color-border-neutral-bold: var(
    --sl-teacher-assistant-color-border-accent-grey-bold
  );
  --sl-teacher-assistant-color-border-neutral-plain: var(
    --sl-teacher-assistant-color-border-accent-grey-plain
  );
  --sl-teacher-assistant-color-border-neutral-subtle: var(
    --sl-teacher-assistant-color-palette-grey-200
  );
  --sl-teacher-assistant-color-border-plain: var(
    --sl-teacher-assistant-color-border-accent-grey-plain
  );
  --sl-teacher-assistant-color-border-positive-bold: var(
    --sl-teacher-assistant-color-border-accent-green-bold
  );
  --sl-teacher-assistant-color-border-positive-plain: var(
    --sl-teacher-assistant-color-border-accent-green-plain
  );
  --sl-teacher-assistant-color-border-primary-bold: var(
    --sl-teacher-assistant-color-border-accent-purple-plain
  );
  --sl-teacher-assistant-color-border-primary-plain: var(
    --sl-teacher-assistant-color-border-accent-purple-plain
  );
  --sl-teacher-assistant-color-border-secondary-bold: var(
    --sl-teacher-assistant-color-border-accent-purple-bold
  );
  --sl-teacher-assistant-color-border-secondary-plain: var(
    --sl-teacher-assistant-color-border-accent-purple-plain
  );
  --sl-teacher-assistant-color-border-selected: var(
    --sl-teacher-assistant-color-border-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-accent-blue-bold: var(
    --sl-teacher-assistant-color-palette-blue-700
  );
  --sl-teacher-assistant-color-foreground-accent-blue-on-bold: var(
    --sl-teacher-assistant-color-foreground-inverted-plain
  );
  --sl-teacher-assistant-color-foreground-accent-blue-plain: var(
    --sl-teacher-assistant-color-background-accent-blue-bold
  );
  --sl-teacher-assistant-color-foreground-accent-green-bold: var(
    --sl-teacher-assistant-color-background-accent-green-bold
  );
  --sl-teacher-assistant-color-foreground-accent-green-on-bold: var(
    --sl-teacher-assistant-color-palette-green-150
  );
  --sl-teacher-assistant-color-foreground-accent-green-plain: var(
    --sl-teacher-assistant-color-background-accent-green-bold
  );
  --sl-teacher-assistant-color-foreground-accent-grey-bold: var(
    --sl-teacher-assistant-color-palette-grey-900
  );
  --sl-teacher-assistant-color-foreground-accent-grey-faint: var(
    --sl-teacher-assistant-color-palette-grey-300
  );
  --sl-teacher-assistant-color-foreground-accent-grey-on-bold: var(
    --sl-teacher-assistant-color-foreground-bold
  );
  --sl-teacher-assistant-color-foreground-accent-grey-on-inverted: var(
    --sl-teacher-assistant-color-foreground-bold
  );
  --sl-teacher-assistant-color-foreground-accent-grey-plain: var(
    --sl-teacher-assistant-color-palette-grey-800
  );
  --sl-teacher-assistant-color-foreground-accent-grey-subtle: var(
    --sl-teacher-assistant-color-palette-grey-700
  );
  --sl-teacher-assistant-color-foreground-accent-grey-subtlest: var(
    --sl-teacher-assistant-color-palette-grey-600
  );
  --sl-teacher-assistant-color-foreground-accent-orange-bold: var(
    --sl-teacher-assistant-color-palette-orange-900
  );
  --sl-teacher-assistant-color-foreground-accent-orange-on-bold: var(
    --sl-teacher-assistant-color-palette-orange-400
  );
  --sl-teacher-assistant-color-foreground-accent-orange-plain: var(
    --sl-teacher-assistant-color-background-accent-orange-bold
  );
  --sl-teacher-assistant-color-foreground-accent-purple-bold: var(
    --sl-teacher-assistant-color-palette-purple-900
  );
  --sl-teacher-assistant-color-foreground-accent-purple-on-bold: var(
    --sl-teacher-assistant-color-palette-purple-150
  );
  --sl-teacher-assistant-color-foreground-accent-purple-plain: var(
    --sl-teacher-assistant-color-background-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-accent-red-bold: var(
    --sl-teacher-assistant-color-palette-red-800
  );
  --sl-teacher-assistant-color-foreground-accent-red-on-bold: var(
    --sl-teacher-assistant-color-palette-red-150
  );
  --sl-teacher-assistant-color-foreground-accent-red-plain: var(
    --sl-teacher-assistant-color-background-accent-red-bold
  );
  --sl-teacher-assistant-color-foreground-accent-teal-bold: var(
    --sl-teacher-assistant-color-palette-teal-800
  );
  --sl-teacher-assistant-color-foreground-accent-teal-on-bold: var(
    --sl-teacher-assistant-color-foreground-inverted-plain
  );
  --sl-teacher-assistant-color-foreground-accent-teal-plain: var(
    --sl-teacher-assistant-color-background-accent-teal-bold
  );
  --sl-teacher-assistant-color-foreground-accent-yellow-bold: var(
    --sl-teacher-assistant-color-palette-yellow-700
  );
  --sl-teacher-assistant-color-foreground-accent-yellow-on-bold: var(
    --sl-teacher-assistant-color-foreground-bold
  );
  --sl-teacher-assistant-color-foreground-accent-yellow-plain: var(
    --sl-teacher-assistant-color-palette-yellow-600
  );
  --sl-teacher-assistant-color-foreground-bold: var(
    --sl-teacher-assistant-color-foreground-accent-grey-bold
  );
  --sl-teacher-assistant-color-foreground-brand: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-caution-bold: var(
    --sl-teacher-assistant-color-foreground-accent-orange-bold
  );
  --sl-teacher-assistant-color-foreground-caution-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-orange-on-bold
  );
  --sl-teacher-assistant-color-foreground-caution-plain: var(
    --sl-teacher-assistant-color-foreground-accent-orange-plain
  );
  --sl-teacher-assistant-color-foreground-disabled: var(
    --sl-teacher-assistant-color-palette-grey-500
  );
  --sl-teacher-assistant-color-foreground-info-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-info-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-on-bold
  );
  --sl-teacher-assistant-color-foreground-info-plain: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-inverted-bold: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-color-foreground-inverted-on-bold: var(
    --sl-teacher-assistant-color-palette-grey-900
  );
  --sl-teacher-assistant-color-foreground-inverted-plain: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-color-foreground-negative-bold: var(
    --sl-teacher-assistant-color-foreground-accent-red-bold
  );
  --sl-teacher-assistant-color-foreground-negative-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-red-on-bold
  );
  --sl-teacher-assistant-color-foreground-negative-plain: var(
    --sl-teacher-assistant-color-foreground-accent-red-plain
  );
  --sl-teacher-assistant-color-foreground-neutral-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-neutral-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-grey-on-bold
  );
  --sl-teacher-assistant-color-foreground-neutral-plain: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-plain: var(
    --sl-teacher-assistant-color-foreground-accent-grey-plain
  );
  --sl-teacher-assistant-color-foreground-positive-bold: var(
    --sl-teacher-assistant-color-foreground-accent-green-bold
  );
  --sl-teacher-assistant-color-foreground-positive-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-green-on-bold
  );
  --sl-teacher-assistant-color-foreground-positive-plain: var(
    --sl-teacher-assistant-color-foreground-accent-green-plain
  );
  --sl-teacher-assistant-color-foreground-primary-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-primary-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-on-bold
  );
  --sl-teacher-assistant-color-foreground-secondary-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-secondary-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-selected-bold: var(
    --sl-teacher-assistant-color-foreground-accent-purple-bold
  );
  --sl-teacher-assistant-color-foreground-selected-on-bold: var(
    --sl-teacher-assistant-color-foreground-accent-blue-on-bold
  );
  --sl-teacher-assistant-color-foreground-selected-plain: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-foreground-subtle: var(
    --sl-teacher-assistant-color-foreground-accent-grey-subtle
  );
  --sl-teacher-assistant-color-foreground-subtlest: var(
    --sl-teacher-assistant-color-foreground-accent-grey-subtlest
  );
  --sl-teacher-assistant-color-link-active: var(--sl-teacher-assistant-color-palette-blue-700);
  --sl-teacher-assistant-color-link-focused-active: var(
    --sl-teacher-assistant-color-palette-blue-900
  );
  --sl-teacher-assistant-color-link-focused-hover: var(
    --sl-teacher-assistant-color-palette-blue-800
  );
  --sl-teacher-assistant-color-link-focused-idle: var(
    --sl-teacher-assistant-color-palette-blue-700
  );
  --sl-teacher-assistant-color-link-hover: var(--sl-teacher-assistant-color-palette-blue-600);
  --sl-teacher-assistant-color-link-idle: var(
    --sl-teacher-assistant-color-foreground-accent-purple-plain
  );
  --sl-teacher-assistant-color-link-inverted-active: var(
    --sl-teacher-assistant-color-palette-blue-150
  );
  --sl-teacher-assistant-color-link-inverted-hover: var(
    --sl-teacher-assistant-color-palette-blue-100
  );
  --sl-teacher-assistant-color-link-inverted-idle: var(
    --sl-teacher-assistant-color-foreground-inverted-plain
  );
  --sl-teacher-assistant-color-link-muted-active: var(--sl-teacher-assistant-color-link-active);
  --sl-teacher-assistant-color-link-muted-hover: var(--sl-teacher-assistant-color-link-hover);
  --sl-teacher-assistant-color-link-muted-idle: var(
    --sl-teacher-assistant-color-foreground-accent-grey-subtlest
  );
  --sl-teacher-assistant-color-palette-blue-050: #e4f4ff;
  --sl-teacher-assistant-color-palette-blue-100: #cfe9ff;
  --sl-teacher-assistant-color-palette-blue-150: #aad7ff;
  --sl-teacher-assistant-color-palette-blue-200: #74b7ff;
  --sl-teacher-assistant-color-palette-blue-300: #0082ff;
  --sl-teacher-assistant-color-palette-blue-400: #1355ff;
  --sl-teacher-assistant-color-palette-blue-500: #0041ff;
  --sl-teacher-assistant-color-palette-blue-600: #0041ff;
  --sl-teacher-assistant-color-palette-blue-700: #003ae4;
  --sl-teacher-assistant-color-palette-blue-800: #0027b0;
  --sl-teacher-assistant-color-palette-blue-900: #001982;
  --sl-teacher-assistant-color-palette-green-050: #f1f9f3;
  --sl-teacher-assistant-color-palette-green-100: #e3f3e7;
  --sl-teacher-assistant-color-palette-green-150: #ccead3;
  --sl-teacher-assistant-color-palette-green-200: #b8e3c4;
  --sl-teacher-assistant-color-palette-green-300: #8ad29e;
  --sl-teacher-assistant-color-palette-green-400: #57c075;
  --sl-teacher-assistant-color-palette-green-500: #14a03c;
  --sl-teacher-assistant-color-palette-green-600: #0f802f;
  --sl-teacher-assistant-color-palette-green-700: #0a6023;
  --sl-teacher-assistant-color-palette-green-800: #054d1a;
  --sl-teacher-assistant-color-palette-green-900: #003a13;
  --sl-teacher-assistant-color-palette-grey-000: #ffffff;
  --sl-teacher-assistant-color-palette-grey-050: #fbfaf7;
  --sl-teacher-assistant-color-palette-grey-100: #f7f6f4;
  --sl-teacher-assistant-color-palette-grey-150: #f3f3f3;
  --sl-teacher-assistant-color-palette-grey-200: #e8e7e5;
  --sl-teacher-assistant-color-palette-grey-300: #d6d4d1;
  --sl-teacher-assistant-color-palette-grey-400: #b4b1ad;
  --sl-teacher-assistant-color-palette-grey-500: #908d89;
  --sl-teacher-assistant-color-palette-grey-600: #6a6764;
  --sl-teacher-assistant-color-palette-grey-700: #474441;
  --sl-teacher-assistant-color-palette-grey-800: #2d292a;
  --sl-teacher-assistant-color-palette-grey-900: #191418;
  --sl-teacher-assistant-color-palette-orange-050: #fff5f0;
  --sl-teacher-assistant-color-palette-orange-100: #ffeae0;
  --sl-teacher-assistant-color-palette-orange-150: #ffdccb;
  --sl-teacher-assistant-color-palette-orange-200: #ffd0bb;
  --sl-teacher-assistant-color-palette-orange-300: #ffac88;
  --sl-teacher-assistant-color-palette-orange-400: #ff8c5d;
  --sl-teacher-assistant-color-palette-orange-500: #ff611e;
  --sl-teacher-assistant-color-palette-orange-600: #e84d0b;
  --sl-teacher-assistant-color-palette-orange-700: #c43800;
  --sl-teacher-assistant-color-palette-orange-800: #942508;
  --sl-teacher-assistant-color-palette-orange-900: #641414;
  --sl-teacher-assistant-color-palette-purple-050: #f5f3fe;
  --sl-teacher-assistant-color-palette-purple-100: #ebe6fd;
  --sl-teacher-assistant-color-palette-purple-150: #e2d9fc;
  --sl-teacher-assistant-color-palette-purple-200: #cdbff2;
  --sl-teacher-assistant-color-palette-purple-300: #b4a3f4;
  --sl-teacher-assistant-color-palette-purple-400: #9b87f2;
  --sl-teacher-assistant-color-palette-purple-500: #7042ee;
  --sl-teacher-assistant-color-palette-purple-600: #5c35c2;
  --sl-teacher-assistant-color-palette-purple-700: #4a2a96;
  --sl-teacher-assistant-color-palette-purple-800: #3e2280;
  --sl-teacher-assistant-color-palette-purple-900: #32005a;
  --sl-teacher-assistant-color-palette-red-050: #fff1f1;
  --sl-teacher-assistant-color-palette-red-100: #ffe1e2;
  --sl-teacher-assistant-color-palette-red-150: #ffc7c9;
  --sl-teacher-assistant-color-palette-red-200: #ffa0a3;
  --sl-teacher-assistant-color-palette-red-300: #ff575c;
  --sl-teacher-assistant-color-palette-red-400: #f83b41;
  --sl-teacher-assistant-color-palette-red-500: #e51d23;
  --sl-teacher-assistant-color-palette-red-600: #c11419;
  --sl-teacher-assistant-color-palette-red-700: #a01418;
  --sl-teacher-assistant-color-palette-red-800: #84181b;
  --sl-teacher-assistant-color-palette-red-900: #480709;
  --sl-teacher-assistant-color-palette-teal-050: #eefffc;
  --sl-teacher-assistant-color-palette-teal-100: #c5fffa;
  --sl-teacher-assistant-color-palette-teal-150: #8bfff5;
  --sl-teacher-assistant-color-palette-teal-200: #4afef0;
  --sl-teacher-assistant-color-palette-teal-300: #15ece2;
  --sl-teacher-assistant-color-palette-teal-400: #00d0c9;
  --sl-teacher-assistant-color-palette-teal-500: #00a8a5;
  --sl-teacher-assistant-color-palette-teal-600: #008080;
  --sl-teacher-assistant-color-palette-teal-700: #066769;
  --sl-teacher-assistant-color-palette-teal-800: #0a5757;
  --sl-teacher-assistant-color-palette-teal-900: #003235;
  --sl-teacher-assistant-color-palette-yellow-050: #fff9eb;
  --sl-teacher-assistant-color-palette-yellow-100: #ffe5ac;
  --sl-teacher-assistant-color-palette-yellow-150: #ffda88;
  --sl-teacher-assistant-color-palette-yellow-200: #ffc14a;
  --sl-teacher-assistant-color-palette-yellow-300: #ffb400;
  --sl-teacher-assistant-color-palette-yellow-400: #ffa820;
  --sl-teacher-assistant-color-palette-yellow-500: #e28a00;
  --sl-teacher-assistant-color-palette-yellow-600: #bb5c02;
  --sl-teacher-assistant-color-palette-yellow-700: #984708;
  --sl-teacher-assistant-color-palette-yellow-800: #7c3a0b;
  --sl-teacher-assistant-color-palette-yellow-900: #481d00;
  --sl-teacher-assistant-color-skeleton-plain: var(--sl-teacher-assistant-color-palette-grey-100);
  --sl-teacher-assistant-color-skeleton-subtle: var(--sl-teacher-assistant-color-palette-grey-050);
  --sl-teacher-assistant-elevation-surface-base-default: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-elevation-surface-raised-alternative: var(
    --sl-teacher-assistant-color-palette-grey-100
  );
  --sl-teacher-assistant-elevation-surface-raised-default: var(
    --sl-teacher-assistant-color-palette-grey-000
  );
  --sl-teacher-assistant-elevation-surface-raised-inverted: var(
    --sl-teacher-assistant-color-palette-grey-900
  );
  --sl-teacher-assistant-elevation-surface-raised-primary: var(
    --sl-teacher-assistant-color-palette-purple-400
  );
  --sl-teacher-assistant-elevation-surface-raised-sunken: var(
    --sl-teacher-assistant-color-palette-grey-050
  );
  --sl-teacher-assistant-elevation-surface-shadow: var(
    --sl-teacher-assistant-color-palette-grey-900
  );
  --sl-teacher-assistant-opacity-bold: 1;
  --sl-teacher-assistant-opacity-interactive-bold-active: 0.4;
  --sl-teacher-assistant-opacity-interactive-bold-hover: 0.2;
  --sl-teacher-assistant-opacity-interactive-bold-idle: 0;
  --sl-teacher-assistant-opacity-interactive-plain-active: 0.25;
  --sl-teacher-assistant-opacity-interactive-plain-hover: 0.15;
  --sl-teacher-assistant-opacity-interactive-plain-idle: 0;
  --sl-teacher-assistant-opacity-interactive-reversed-active: 1;
  --sl-teacher-assistant-opacity-interactive-reversed-hover: 0.9;
  --sl-teacher-assistant-opacity-interactive-reversed-idle: 0.8;
  --sl-teacher-assistant-opacity-moderate: 0.8;
  --sl-teacher-assistant-opacity-muted: 0;
  --sl-teacher-assistant-opacity-subtle: 0.2;
  --sl-teacher-assistant-opacity-subtlest: 0.1;
  --sl-teacher-assistant-theme-name: Sanoma Learning Light;
}
