:host {
  --_bg-color: var(--sl-color-background-secondary-bold);
  --_bg-mix-color: var(--sl-color-background-secondary-interactive-bold);
  --_bg-opacity: var(--sl-opacity-interactive-bold-idle);

  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border: var(--sl-size-borderWidth-action) solid var(--sl-color-border-secondary-bold);
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-secondary-bold);
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--sl-text-typeset-fontWeight-demibold);
  gap: var(--sl-size-075);
  justify-content: center;
  outline: transparent solid var(--sl-size-outlineWidth-default);
  outline-offset: var(--sl-size-outlineOffset-default);
  padding: calc(var(--sl-size-075) - var(--sl-size-borderWidth-action)) var(--sl-size-300);
  user-select: none;
  vertical-align: middle;
}

:host(:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-secondary-onBold);
}

:host(:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-secondary-interactive-plain);
}

:host(:hover) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-hover);
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-interactive-bold-active);
}

:host([variant='primary']) {
  --_bg-color: var(--sl-color-background-primary-bold);
  --_bg-mix-color: var(--sl-color-background-primary-interactive-bold);

  border-color: var(--sl-color-border-primary-bold);
  color: var(--sl-color-foreground-primary-bold);
}

:host([variant='primary']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-primary-onBold);
}

:host([variant='primary']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-primary-interactive-plain);
}

:host([variant='success']) {
  --_bg-color: var(--sl-color-background-positive-bold);
  --_bg-mix-color: var(--sl-color-background-positive-interactive-bold);

  border-color: var(--sl-color-border-positive-bold);
  color: var(--sl-color-foreground-positive-bold);
}

:host([variant='success']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-positive-onBold);
}

:host([variant='success']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-positive-interactive-plain);
}

:host([variant='warning']) {
  --_bg-color: var(--sl-color-background-caution-bold);
  --_bg-mix-color: var(--sl-color-background-caution-interactive-bold);

  border-color: var(--sl-color-border-caution-bold);
  color: var(--sl-color-foreground-caution-bold);
}

:host([variant='warning']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-caution-onBold);
}

:host([variant='warning']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-caution-interactive-plain);
}

:host([variant='danger']) {
  --_bg-color: var(--sl-color-background-negative-bold);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-bold);

  border-color: var(--sl-color-border-negative-bold);
  color: var(--sl-color-foreground-negative-bold);
}

:host([variant='danger']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-negative-onBold);
}

:host([variant='danger']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);
}

:host([variant='info']) {
  --_bg-color: var(--sl-color-background-info-bold);
  --_bg-mix-color: var(--sl-color-background-info-interactive-bold);

  border-color: var(--sl-color-border-info-bold);
  color: var(--sl-color-foreground-info-bold);
}

:host([variant='info']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-info-onBold);
}

:host([variant='info']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-info-interactive-plain);
}

:host([variant='inverted']) {
  --_bg-color: var(--sl-color-background-inverted-bold);
  --_bg-mix-color: var(--sl-color-background-inverted-interactive-bold);

  border-color: var(--sl-color-border-inverted);
  color: var(--sl-color-foreground-inverted-bold);
}

:host([variant='inverted']:where(:not([fill]), [fill='solid'])) {
  color: var(--sl-color-foreground-onBold);
}

:host([variant='inverted']:where([fill='ghost'], [fill='outline'])) {
  --_bg-mix-color: var(--sl-color-background-inverted-interactive-plain);
}

:host(:is(:not([fill]), [fill='ghost'], [fill='link'], [fill='solid'])) {
  border-color: transparent;
}

:host([fill='ghost']) {
  --_bg-color: transparent;
}

:host([fill='link']) {
  background: transparent;
  padding-inline: 0;
}

:host([fill='link']:hover) {
  text-decoration: underline;
}

:host([fill='outline']) {
  --_bg-color: transparent;
}

:host([fill='outline']:hover) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
}

:host([fill='outline']:active) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-active);
}

:host([icon-only]) {
  aspect-ratio: 1;
  block-size: calc(1lh + (var(--sl-size-075) - var(--sl-size-borderWidth-action)) * 2);
  padding: 0;
}

:host([size='sm']) {
  padding: calc(var(--sl-size-025) - var(--sl-size-borderWidth-action)) var(--sl-size-175);
}

:host([size='sm'][icon-only]) {
  block-size: calc(1lh + (var(--sl-size-025) - var(--sl-size-borderWidth-action)) * 2);
  padding: 0;
}

:host([size='lg']) {
  gap: var(--sl-size-100);
  padding: calc(var(--sl-size-125) - var(--sl-size-borderWidth-action)) var(--sl-size-300);
}

:host([size='lg'][icon-only]) {
  block-size: calc(1lh + (var(--sl-size-125) - var(--sl-size-borderWidth-action)) * 2);
  padding: 0;
}

:host([shape='pill']) {
  border-radius: var(--sl-size-borderRadius-full);
}

:host([disabled]) {
  color: var(--sl-color-foreground-disabled);
  cursor: default;
  pointer-events: none;
}

:host([disabled]:where(:not([fill]), [fill='solid'])) {
  background: var(--sl-color-background-disabled);
}

:host([disabled]:where([fill='ghost'], [fill='link'], [fill='outline'])) {
  background: transparent;
}

:host([disabled][fill='outline']) {
  border-color: var(--sl-color-border-disabled);
}

:host(:focus-visible) {
  outline-color: var(--sl-color-border-focused);
}

@media (prefers-reduced-motion: no-preference) {
  :host(:where(:active, :focus-visible, :hover)) {
    transition-duration: var(--sl-animation-button-duration);
    transition-property: background, border-color, color, outline-color;
    transition-timing-function: var(--sl-animation-button-easing);
  }
}

::slotted(*) {
  // Prevent the icon from ever gaining focus inside the button
  pointer-events: none;
}
