$fills: solid, outline, link, ghost;
$sizes: sm, md, lg;
$variants: default, primary, success, info, warning, danger;

:host {
  --_animation: var(--sl-animation-button);
  --_background: var(--sl-color-button-default-idle-background);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_transition-duration: var(--sl-animation-button-duration);
  --_transition-easing: var(--sl-animation-button-easing);

  align-items: center;
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  color: var(--_color);
  cursor: pointer;
  display: inline-flex;
  font: var(--_font);
  gap: var(--_label-gap);
  justify-content: center;
  outline-color: transparent;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transform: var(--_transform);
  user-select: none;
  vertical-align: middle;
}

@each $fill in $fills {
  :host([fill='#{$fill}']) {
    --_border-width: var(--sl-border-width-button-#{$fill});
  }

  @each $variant in $variants {
    :host([fill='#{$fill}'][variant='#{$variant}']:not([popover-opened])) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-idle-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-idle-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-idle-foreground);
      --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-idle);
    }

    :host([fill='#{$fill}'][variant='#{$variant}']:not([disabled]):hover) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-hover-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-hover-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-hover-foreground);
      --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-hover);
    }

    :host([fill='#{$fill}'][variant='#{$variant}']:not([disabled]):active),
    :host([fill='#{$fill}'][variant='#{$variant}'][popover-opened]) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-active-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-active-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-active-foreground);
      --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-active);
    }

    :host([fill='#{$fill}'][variant='#{$variant}'][disabled]) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-disabled-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-foreground);
      --_transform: var(--sl-transform-button-#{$variant}-#{$fill}-disabled);
    }
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_border-radius: var(--sl-border-radius-button-#{$size});
    --_font: var(--sl-text-button-text-#{$size});
    --_icon-container-size: var(--sl-size-button-icon-#{$size});
    --_label-gap: var(--sl-space-button-gap-#{$size});
  }

  :host([size='#{$size}'][fill='link']:not([popover-opened])) {
    --_font: var(--sl-text-button-link-idle-#{$size});
  }

  :host([size='#{$size}'][fill='link']:not([disabled]):hover) {
    --_font: var(--sl-text-button-link-hover-#{$size});
  }

  :host([size='#{$size}'][fill='link']:not([disabled]):active),
  :host([size='#{$size}'][fill='link'][popover-opened]) {
    --_font: var(--sl-text-button-link-active-#{$size});
  }

  :host([size='#{$size}'][fill='link'][disabled]) {
    --_font: var(--sl-text-button-link-disabled-#{$size});
  }

  :host([size='#{$size}'][icon-only]) {
    --_border-radius: var(--sl-border-radius-button-icon-only-#{$size});
    --_icon-container-size: var(--sl-size-button-icon-container-icon-only-#{$size});

    line-height: var(--sl-size-button-icon-container-icon-only-#{$size});
  }

  :host([size='#{$size}']) ::slotted(sl-spinner) {
    --sl-spinner-size: var(--sl-size-spinner-#{$size});
  }

  @each $fill in $fills {
    :host([size='#{$size}'][fill='#{$fill}']) {
      --_padding-block: var(--sl-space-button-#{$fill}-block-#{$size});
      --_padding-inline: var(--sl-space-button-#{$fill}-inline-#{$size});
    }

    :host([size='#{$size}'][fill='#{$fill}'][icon-only]) {
      --_padding-block: var(--sl-space-button-#{$fill}-icon-only-#{$size});
      --_padding-inline: var(--sl-space-button-#{$fill}-icon-only-#{$size});
    }
  }
}

:host(:focus-visible) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

:host(:where(:active, :focus-visible, :hover)) {
  transition-duration: var(--_transition-duration);
  transition-property: background, border-color, color, outline-color;
  transition-timing-function: var(--_transition-easing);
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}

:host([fill='link']:not([disabled]):hover),
:host([fill='link']:not([disabled]):active) {
  text-decoration: underline;
}

::slotted(*) {
  // Prevent the icon from ever gaining focus inside the button
  pointer-events: none;
}

::slotted(sl-icon) {
  --sl-icon-container-size: var(--_icon-container-size);

  fill: var(--_color);
}
