:host {
  display: block;
}

sl-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

sl-button-bar,
sl-form-field[name='address'] {
  grid-column: span 2;
}

example-child-form {
  border: 1px solid #ccc;
  padding: 1rem;
}
