$sizes: md, lg;
$variants: default, valid, invalid;
$variant-selectors: ':not([valid],[invalid])', ':where([valid])', ':where([invalid])';

:host {
  --_border-size: var(--sl-border-width-button-default);
  --_border: var(--_border-size) solid var(--_border-color);
  --_border-radius: var(--sl-border-radius-default);
  --_box-shadow: var(--sl-box-shadow-none);
  --_transition: 200ms ease-in-out;
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    slot[name='input']::slotted(input) {
      --_font: var(--sl-text-input-text-field-text-#{$size});
    }

    .wrapper {
      --_padding: var(--sl-space-input-text-field-block-#{$size})
        var(--sl-space-input-text-field-inline-#{$size})
        var(--sl-space-input-text-field-block-#{$size})
        var(--sl-space-input-text-field-inline-#{$size});
      --_gap: var(--sl-space-input-text-field-gap-#{$size});
    }
  }
}

@each $variant in $variants {
  $i: index($variants, $variant);
  $variant-selector: nth($variant-selectors, $i);

  :host(#{$variant-selector}) {
    --_border-color: var(--sl-color-input-text-field-#{$variant}-default-border);

    slot[name='input']::slotted(input) {
      --_color: var(--sl-color-input-text-field-#{$variant}-default-input-text);
      --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-default-placeholder);
    }

    slot[name='suffix'] sl-icon {
      --fill-default: var(--sl-color-input-text-field-#{$variant}-default-icon);
    }

    .wrapper {
      --_background: var(--sl-color-input-text-field-#{$variant}-default-background);
    }
  }

  :host(#{$variant-selector}:hover) {
    --_border-color: var(--sl-color-input-text-field-#{$variant}-hover-border);
    --_background: var(--sl-color-input-text-field-#{$variant}-hover-background);

    slot[name='input']::slotted(input) {
      --_color: var(--sl-color-input-text-field-#{$variant}-hover-input-text);
      --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-hover-placeholder);
    }

    slot[name='suffix'] sl-icon {
      --fill-default: var(--sl-color-input-text-field-#{$variant}-hover-icon);
    }

    .wrapper {
      --_background: var(--sl-color-input-text-field-#{$variant}-hover-background);
    }
  }

  :host(#{$variant-selector}:active:not([disabled])) {
    --_border-color: var(--sl-color-input-text-field-#{$variant}-active-border);

    slot[name='input']::slotted(input) {
      --_color: var(--sl-color-input-text-field-#{$variant}-active-input-text);
      --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-active-placeholder);
    }

    slot[name='suffix'] sl-icon {
      --fill-default: var(--sl-color-input-text-field-#{$variant}-active-icon);
    }

    .wrapper {
      --_background: var(--sl-color-input-text-field-#{$variant}-active-background);
    }
  }

  :host(#{$variant-selector}:focus-within:not([disabled])) {
    --_border-color: var(--sl-color-input-text-field-#{$variant}-focus-border);
    --_box-shadow: var(--sl-box-shadow-focus);

    slot[name='input']::slotted(input) {
      --_color: var(--sl-color-input-text-field-#{$variant}-focus-input-text);
      --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-focus-placeholder);
    }

    slot[name='suffix'] sl-icon {
      --fill-default: var(--sl-color-input-text-field-#{$variant}-focus-icon);
    }

    .wrapper {
      --_background: var(--sl-color-input-text-field-#{$variant}-focus-background);
    }
  }

  :host(#{$variant-selector}[disabled]) {
    --_border-color: var(--sl-color-input-text-field-#{$variant}-disabled-border);

    slot[name='input']::slotted(input) {
      --_color: var(--sl-color-input-text-field-#{$variant}-disabled-input-text);
      --_placeholder-color: var(--sl-color-input-text-field-#{$variant}-disabled-placeholder);
    }

    slot[name='suffix'] sl-icon {
      --fill-default: var(--sl-color-input-text-field-#{$variant}-disabled-icon);
    }

    .wrapper {
      --_background: var(--sl-color-input-text-field-#{$variant}-disabled-background);
    }
  }
}

:host {
  display: block;
  transition: var(--_transition);
  vertical-align: top;
  width: 100%;
}

:host(:focus-visible) {
  outline: none;
}

:host(:disabled) {
  cursor: default;
  pointer-events: none;
}

slot[name='input']::slotted(input) {
  appearance: none;
  background: none;
  border: 0;
  color: var(--_color);
  flex: 1;
  font: var(--_font);
  margin: 0;
  outline: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--_placeholder-color);
    opacity: 1;
  }
}

.wrapper {
  align-items: center;
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  box-sizing: border-box;
  display: flex;
  gap: var(--_gap);
  padding: var(--_padding);
  transition: var(--_transition);
  transition-property: background, border, box-shadow, color, filter;
  width: auto;
}

.invalid-icon {
  display: none;
}

:host(:where([invalid])) {
  .invalid-icon {
    display: block;
  }
}

sl-error {
  display: inline-flex;
}
