$fills: default, outline;
$sizes: sm, md, lg;
$variants: default, primary, success, warning, danger;

:host {
  --_background: var(--sl-color-button-default-idle-background);
  --_border-radius: var(--sl-border-radius-button);
  --_animation: var(--sl-animation-button);
}

:host {
  background: var(--_background);
  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  color: var(--_color);
  cursor: pointer;
  display: inline-flex;
  font: var(--_font);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: var(--_animation);
  transition-property: background, border-color, border-radius, box-shadow, color;
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}

:host(:focus) {
  box-shadow: var(--sl-box-shadow-button-default);
  outline: none;
}

@each $fill in $fills {
  :host([fill='#{$fill}']) {
    --_border-width: var(--sl-border-width-button-#{$fill}, var(--sl-border-width-button));
  }

  @each $size in $sizes {
    :host([fill='#{$fill}'][size='#{$size}']) {
      --_padding-block: var(--sl-space-button-#{$fill}-#{$size}-block, var(--sl-space-button-#{$size}-block));
      --_padding-inline: var(--sl-space-button-#{$fill}-#{$size}-inline, var(--sl-space-button-#{$size}-inline));
    }
  }

  @each $variant in $variants {
    :host([fill='#{$fill}'][variant='#{$variant}']) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-idle-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-idle-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-idle-foreground);
    }

    :host([fill='#{$fill}'][variant='#{$variant}']:focus) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-focus-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-focus-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-focus-foreground);
    }

    :host([fill='#{$fill}'][variant='#{$variant}']:hover) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-hover-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-hover-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-hover-foreground);
    }

    :host([fill='#{$fill}'][variant='#{$variant}']:active) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-active-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-active-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-active-foreground);
    }

    :host([fill='#{$fill}'][variant='#{$variant}'][disabled]) {
      --_background: var(--sl-color-button-#{$variant}-#{$fill}-disabled-background);
      --_border-color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-border);
      --_color: var(--sl-color-button-#{$variant}-#{$fill}-disabled-foreground);
    }
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_font: var(--sl-text-button-#{$size});
    --_padding: var(--sl-space-button-#{$size});
  }
}
