/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */

@mixin sl-theme-base {
  --sl-size-4xl: 64px;
  --sl-size-3xl: 48px;
  --sl-size-2xl: 32px;
  --sl-size-xl: 24px;
  --sl-size-lg: 20px;
  --sl-size-md: 16px;
  --sl-size-sm: 14px;
  --sl-size-xs: 12px;
  --sl-size-2xs: 8px;
  --sl-size-3xs: 4px;
  --sl-size-4xs: 2px;
  --sl-size-none: 0px;
  --sl-opacity-transparent: 0;
  --sl-opacity-1000: 1;
  --sl-opacity-900: 0.8;
  --sl-opacity-800: 0.64;
  --sl-opacity-700: 0.48;
  --sl-opacity-600: 0.32;
  --sl-opacity-500: 0.2;
  --sl-opacity-400: 0.16;
  --sl-opacity-300: 0.12;
  --sl-opacity-200: 0.08;
  --sl-opacity-100: 0.04;
  --sl-icon-core-check: chevron-down;
  --sl-icon-core-chevron-down: chevron-down;
  --sl-icon-core-pinata-solid: pinata;
  --sl-icon-core-pinata: pinata;
  --sl-icon-core-fav: star;
  --sl-icon-core-menu: bars;
  --sl-icon-core-face-smile: face-smile;
  --sl-icon-font-family-sharp: font-awesome-6-sharp;
  --sl-icon-font-family-classic: font-awesome-6-pro;
  --sl-animation-easing-ease-in-out: ease-in-out;
  --sl-animation-duration-slow: 500ms;
  --sl-animation-duration-normal: 200ms;
  --sl-animation-duration-fast: 90ms;
  --sl-space-2xl: 30px;
  --sl-space-xl: 24px;
  --sl-space-lg: 16px;
  --sl-space-md: 12px;
  --sl-space-sm: 8px;
  --sl-space-xs: 4px;
  --sl-space-2xs: 2px;
  --sl-space-none: 0px;
  --sl-border-radius-full: 50rem;
  --sl-border-radius-3xl: 18px;
  --sl-border-radius-2xl: 16px;
  --sl-border-radius-xl: 14px;
  --sl-border-radius-lg: 12px;
  --sl-border-radius-md: 10px;
  --sl-border-radius-sm: 8px;
  --sl-border-radius-xs: 6px;
  --sl-border-radius-2xs: 4px;
  --sl-border-radius-3xs: 2px;
  --sl-border-radius-none: 0px;
  --sl-border-width-2xl: 6px;
  --sl-border-width-xl: 5px;
  --sl-border-width-lg: 4px;
  --sl-border-width-md: 3px;
  --sl-border-width-sm: 2px;
  --sl-border-width-xs: 1px;
  --sl-border-width-2xs: 0.5px;
  --sl-border-width-none: 0px;
  --sl-text-text-field: [object Object];
  --sl-text-typeset-letter-spacing-xl: 2%;
  --sl-text-typeset-letter-spacing-lg: 1%;
  --sl-text-typeset-letter-spacing-md: 0%;
  --sl-text-typeset-letter-spacing-sm: -1%;
  --sl-text-typeset-letter-spacing-xs: -2%;
  --sl-text-typeset-letter-spacing-none: 0%;
  --sl-text-typeset-text-case-capitalize: capitalize;
  --sl-text-typeset-text-case-lowercase: lowercase;
  --sl-text-typeset-text-case-uppercase: uppercase;
  --sl-text-typeset-text-case-none: none;
  --sl-text-typeset-text-decoration-strikethrough: strikethrough;
  --sl-text-typeset-text-decoration-underline: underline;
  --sl-text-typeset-text-decoration-none: none;
  --sl-text-typeset-paragraph-spacing-5xl: 64px;
  --sl-text-typeset-paragraph-spacing-4xl: 58px;
  --sl-text-typeset-paragraph-spacing-3xl: 42px;
  --sl-text-typeset-paragraph-spacing-2xl: 34px;
  --sl-text-typeset-paragraph-spacing-xl: 28px;
  --sl-text-typeset-paragraph-spacing-lg: 24px;
  --sl-text-typeset-paragraph-spacing-md: 22px;
  --sl-text-typeset-paragraph-spacing-sm: 18px;
  --sl-text-typeset-paragraph-spacing-xs: 14px;
  --sl-text-typeset-paragraph-spacing-none: 0px;
  --sl-text-typeset-line-height-5xl: 64px;
  --sl-text-typeset-line-height-4xl: 58px;
  --sl-text-typeset-line-height-3xl: 42px;
  --sl-text-typeset-line-height-2xl: 34px;
  --sl-text-typeset-line-height-xl: 28px;
  --sl-text-typeset-line-height-lg: 24px;
  --sl-text-typeset-line-height-md: 20px;
  --sl-text-typeset-line-height-sm: 16px;
  --sl-text-typeset-line-height-xs: 14px;
  --sl-text-typeset-line-height-xxs: 12px;
  --sl-text-typeset-font-size-5xl: 54px;
  --sl-text-typeset-font-size-4xl: 48px;
  --sl-text-typeset-font-size-3xl: 32px;
  --sl-text-typeset-font-size-2xl: 24px;
  --sl-text-typeset-font-size-xl: 18px;
  --sl-text-typeset-font-size-lg: 16px;
  --sl-text-typeset-font-size-md: 14px;
  --sl-text-typeset-font-size-sm: 12px;
  --sl-text-typeset-font-size-xs: 10px;
  --sl-text-typeset-font-weight-bold: 700;
  --sl-text-typeset-font-weight-regular: 400;
  --sl-text-typeset-font-weight-icon-solid: Solid;
  --sl-text-typeset-font-weight-icon-regular: 400;
  --sl-text-typeset-font-weight-icon-light: 300;
  --sl-text-typeset-font-weight-icon-thin: 100;
  --sl-text-typeset-font-weight-demibold: 600;
  --sl-text-typeset-font-family-body: open-sans;
  --sl-text-typeset-font-family-heading: open-sans;
  --sl-color-palette-white-base: 254 254 254;
  --sl-color-palette-black-base: 37 54 70;
  --sl-color-palette-danger-base: 211 37 52;
  --sl-color-palette-danger-900: 119 21 29;
  --sl-color-palette-danger-800: 159 28 39;
  --sl-color-palette-danger-700: 189 33 46;
  --sl-color-palette-danger-600: 218 43 58;
  --sl-color-palette-danger-500: 225 86 98;
  --sl-color-palette-danger-400: 232 121 131;
  --sl-color-palette-danger-300: 237 155 162;
  --sl-color-palette-danger-200: 243 185 190;
  --sl-color-palette-danger-150: 248 213 216;
  --sl-color-palette-danger-100: 251 234 235;
  --sl-color-palette-danger-50: 255 253 253;
  --sl-color-palette-warning-base: 247 153 40;
  --sl-color-palette-warning-900: 148 83 6;
  --sl-color-palette-warning-800: 178 99 7;
  --sl-color-palette-warning-700: 200 111 8;
  --sl-color-palette-warning-600: 224 125 8;
  --sl-color-palette-warning-500: 246 142 20;
  --sl-color-palette-warning-400: 248 169 76;
  --sl-color-palette-warning-300: 250 192 125;
  --sl-color-palette-warning-200: 252 213 168;
  --sl-color-palette-warning-150: 253 230 203;
  --sl-color-palette-warning-100: 254 244 232;
  --sl-color-palette-warning-50: 255 254 252;
  --sl-color-palette-success-base: 147 199 78;
  --sl-color-palette-success-900: 79 107 42;
  --sl-color-palette-success-800: 95 128 50;
  --sl-color-palette-success-700: 107 144 57;
  --sl-color-palette-success-600: 119 162 63;
  --sl-color-palette-success-500: 134 181 71;
  --sl-color-palette-success-400: 149 200 81;
  --sl-color-palette-success-300: 177 215 127;
  --sl-color-palette-success-200: 202 227 168;
  --sl-color-palette-success-150: 225 240 206;
  --sl-color-palette-success-100: 240 247 231;
  --sl-color-palette-success-50: 253 254 252;
  --sl-color-palette-info-base: 2 172 218;
  --sl-color-palette-info-900: 1 66 84;
  --sl-color-palette-info-800: 1 89 113;
  --sl-color-palette-info-700: 1 105 134;
  --sl-color-palette-info-600: 1 124 158;
  --sl-color-palette-info-500: 2 144 183;
  --sl-color-palette-info-400: 2 167 212;
  --sl-color-palette-info-300: 61 191 227;
  --sl-color-palette-info-200: 124 212 236;
  --sl-color-palette-info-150: 178 230 244;
  --sl-color-palette-info-100: 218 243 250;
  --sl-color-palette-info-50: 252 254 255;
  --sl-color-palette-neutral-base: 136 156 163;
  --sl-color-palette-neutral-900: 54 61 64;
  --sl-color-palette-neutral-800: 73 83 87;
  --sl-color-palette-neutral-700: 87 99 104;
  --sl-color-palette-neutral-600: 102 117 122;
  --sl-color-palette-neutral-500: 119 136 143;
  --sl-color-palette-neutral-400: 138 158 165;
  --sl-color-palette-neutral-300: 164 180 185;
  --sl-color-palette-neutral-200: 192 203 206;
  --sl-color-palette-neutral-150: 217 224 226;
  --sl-color-palette-neutral-100: 237 240 241;
  --sl-color-palette-neutral-50: 254 254 254;
  --sl-color-palette-accent-base: 0 167 171;
  --sl-color-palette-accent-900: 0 55 57;
  --sl-color-palette-accent-800: 0 80 81;
  --sl-color-palette-accent-700: 0 97 100;
  --sl-color-palette-accent-600: 0 116 119;
  --sl-color-palette-accent-500: 0 137 141;
  --sl-color-palette-accent-400: 0 161 165;
  --sl-color-palette-accent-300: 55 186 189;
  --sl-color-palette-accent-200: 118 208 210;
  --sl-color-palette-accent-150: 173 227 228;
  --sl-color-palette-accent-100: 218 242 243;
  --sl-color-palette-accent-50: 252 254 254;
  --sl-color-palette-primary-base: 37 54 70;
  --sl-color-palette-primary-900: 52 68 83;
  --sl-color-palette-primary-800: 75 88 103;
  --sl-color-palette-primary-700: 92 104 117;
  --sl-color-palette-primary-600: 110 121 132;
  --sl-color-palette-primary-500: 131 139 150;
  --sl-color-palette-primary-400: 153 160 169;
  --sl-color-palette-primary-300: 177 182 189;
  --sl-color-palette-primary-200: 201 204 209;
  --sl-color-palette-primary-150: 222 224 227;
  --sl-color-palette-primary-100: 238 239 241;
  --sl-color-palette-primary-50: 254 254 254;
  --sl-button-label-lg: var(--sl-text-typeset-line-height-lg);
  --sl-button-label-md: var(--sl-text-typeset-line-height-sm);
  --sl-button-label-sm: var(--sl-text-typeset-line-height-sm);
  --sl-size-button-icon-container-inline-lg: var(--sl-size-md);
  --sl-size-button-icon-container-inline-md: var(--sl-size-sm);
  --sl-size-button-icon-container-inline-sm: var(--sl-size-xs);
  --sl-size-button-icon-container-icon-only-lg: var(--sl-size-xl);
  --sl-size-button-icon-container-icon-only-md: var(--sl-size-md);
  --sl-size-button-icon-container-icon-only-sm: var(--sl-size-md);
  --sl-size-icon-4xl: var(--sl-size-4xl);
  --sl-size-icon-3xl: var(--sl-size-3xl);
  --sl-size-icon-2xl: var(--sl-size-2xl);
  --sl-size-icon-xl: var(--sl-size-xl);
  --sl-size-icon-lg: var(--sl-size-lg);
  --sl-size-icon-md: var(--sl-size-md);
  --sl-size-icon-sm: var(--sl-size-sm);
  --sl-size-icon-xs: var(--sl-size-xs);
  --sl-size-input-lg: var(--sl-size-2xl);
  --sl-size-input-md: var(--sl-size-xl);
  --sl-icon-typeset-font-size-4xl: var(--sl-size-4xl);
  --sl-icon-typeset-font-size-3xl: var(--sl-size-3xl);
  --sl-icon-typeset-font-size-2xl: var(--sl-size-2xl);
  --sl-icon-typeset-font-size-xl: var(--sl-size-xl);
  --sl-icon-typeset-font-size-lg: var(--sl-size-lg);
  --sl-icon-typeset-font-size-md: var(--sl-size-md);
  --sl-icon-typeset-font-size-sm: var(--sl-size-sm);
  --sl-icon-typeset-font-size-xs: var(--sl-size-xs);
  --sl-icon-style-solid: var(--sl-text-typeset-font-weight-icon-solid);
  --sl-icon-style-outline: 400;
  --sl-component-button-md: [object Object];
  --sl-component-button-lg: [object Object];
  --sl-animation-button-easing: var(--sl-animation-easing-ease-in-out);
  --sl-animation-button-duration: var(--sl-animation-duration-normal);
  --sl-space-label-padding-bottom-lg: var(--sl-space-md);
  --sl-space-label-padding-bottom-md: var(--sl-space-sm);
  --sl-space-label-padding-bottom-sm: var(--sl-space-sm);
  --sl-space-label-icon-lg: var(--sl-space-xs);
  --sl-space-label-icon-md: var(--sl-space-2xs);
  --sl-space-label-gap-lg: var(--sl-space-sm);
  --sl-space-label-gap-md: var(--sl-space-xs);
  --sl-space-label-gap-sm: var(--sl-space-xs);
  --sl-space-helper-padding-top-lg: var(--sl-space-sm);
  --sl-space-helper-padding-top-md: var(--sl-space-xs);
  --sl-space-helper-padding-top-sm: var(--sl-space-xs);
  --sl-space-helper-gap-lg: var(--sl-space-sm);
  --sl-space-helper-gap-md: var(--sl-space-xs);
  --sl-space-helper-gap-sm: var(--sl-space-xs);
  --sl-space-button-gap-lg: var(--sl-space-sm);
  --sl-space-button-gap-md: var(--sl-space-xs);
  --sl-space-button-gap-sm: var(--sl-space-xs);
  --sl-space-button-link-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-link));
  --sl-space-button-link-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-link));
  --sl-space-button-outline-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-lg: calc(var(--sl-space-md) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-inline-sm: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-outline));
  --sl-space-button-outline-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-outline));
  --sl-space-button-default-icon-only-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-icon-only-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-icon-only-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-lg: calc(var(--sl-space-xl) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-md: calc(var(--sl-space-xl) - var(--sl-border-width-button-default));
  --sl-space-button-default-inline-sm: calc(var(--sl-space-lg) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-lg: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-md: calc(var(--sl-space-sm) - var(--sl-border-width-button-default));
  --sl-space-button-default-block-sm: calc(var(--sl-space-xs) - var(--sl-border-width-button-default));
  --sl-space-text-field-inline-lg: var(--sl-space-lg);
  --sl-space-text-field-inline-md: var(--sl-space-md);
  --sl-space-text-field-block-lg: var(--sl-space-sm);
  --sl-space-text-field-block-md: var(--sl-space-sm);
  --sl-space-group-xl: var(--sl-space-sm);
  --sl-space-group-lg: var(--sl-space-sm);
  --sl-space-group-md: var(--sl-space-xs);
  --sl-space-group-sm: var(--sl-space-2xs);
  --sl-border-width-input-border: var(--sl-border-width-sm);
  --sl-border-width-input-none: var(--sl-border-width-none);
  --sl-border-width-button-link: var(--sl-border-width-none);
  --sl-border-width-button-outline: var(--sl-border-width-xs);
  --sl-border-width-button-default: var(--sl-border-width-xs);
  --sl-border-radius-checkbox: var(--sl-border-radius-2xs);
  --sl-border-radius-circle: var(--sl-border-radius-full);
  --sl-border-radius-default: var(--sl-border-radius-3xs);
  --sl-border-radius-button-icon-only-lg: var(--sl-border-radius-2xs);
  --sl-border-radius-button-icon-only-md: var(--sl-border-radius-2xs);
  --sl-border-radius-button-icon-only-sm: var(--sl-border-radius-2xs);
  --sl-border-radius-button-lg: var(--sl-border-radius-2xs);
  --sl-border-radius-button-md: var(--sl-border-radius-2xs);
  --sl-border-radius-button-sm: var(--sl-border-radius-2xs);
  --sl-text-input-label-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-input-label-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-font-icon-lg: undefined var(--sl-text-typeset-font-size-lg) / var(--sl-text-typeset-line-height-sm)
    undefined;
  --sl-text-button-font-icon-md: undefined var(--sl-text-typeset-font-size-md) / var(--sl-text-typeset-line-height-xs)
    undefined;
  --sl-text-button-font-icon-sm: undefined 13 / var(--sl-text-typeset-line-height-xxs) undefined;
  --sl-text-button-text-lg: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-button-label-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-md: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-button-label-md) var(--sl-text-typeset-font-family-body);
  --sl-text-button-text-sm: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-button-label-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-lg-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-md-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-md) /
    var(--sl-text-typeset-line-height-md) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-bold: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-demibold: var(--sl-text-typeset-font-weight-demibold) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-body-sm-normal: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-sm) /
    var(--sl-text-typeset-line-height-sm) var(--sl-text-typeset-font-family-body);
  --sl-text-heading-4: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-lg) /
    var(--sl-text-typeset-line-height-lg) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-3: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-xl) /
    var(--sl-text-typeset-line-height-xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-2: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-2xl) /
    var(--sl-text-typeset-line-height-2xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-1: var(--sl-text-typeset-font-weight-regular) var(--sl-text-typeset-font-size-3xl) /
    var(--sl-text-typeset-line-height-3xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-heading-0: var(--sl-text-typeset-font-weight-bold) var(--sl-text-typeset-font-size-4xl) /
    var(--sl-text-typeset-line-height-4xl) var(--sl-text-typeset-font-family-heading);
  --sl-text-typeset-font-family-icon: font-awesome-6-pro;
  --sl-space-text-field-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-text-field-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-gap-lg: var(--sl-space-button-outline-block-md);
  --sl-space-input-gap-md: var(--sl-space-button-outline-block-md);
  --sl-space-input-inline-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-inline-md: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-lg: var(--sl-space-button-outline-block-sm);
  --sl-space-input-block-md: var(--sl-space-button-outline-block-sm);
  --sl-text-input-font-icon-lg: var(--sl-text-typeset-font-weight-icon-solid) 18 / var(--sl-text-typeset-line-height-md)
    var(--sl-text-typeset-font-family-icon);
  --sl-text-input-font-icon-md: var(--sl-text-typeset-font-weight-icon-solid) 15 / var(--sl-text-typeset-line-height-sm)
    var(--sl-text-typeset-font-family-icon);
}
