:host {
  --_gap: var(--sl-space-tag-list-md);
  --_group-font: var(--sl-text-tag-label-md);
  --_group-margin: calc(var(--_group-space) * 4);
  --_group-margin-more: calc(var(--_group-space) * 2);
  --_group-space: var(--sl-space-tag-counter-gap);
  --_group-width: var(--sl-size-tag-counter);

  display: flex;
  flex-flow: column;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--sl-space-tag-list-md);
}

:host([stacked]) {
  flex-flow: nowrap;

  .list {
    align-content: flex-end;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--_gap);
    overflow: hidden;
  }
}

:host([size='md']) {
  --_stacked-height: var(--sl-size-tag-md);
}

:host([size='lg']) {
  --_stacked-height: var(--sl-size-tag-lg);
}

.group {
  display: block;

  sl-tag {
    font: var(--_group-font);
    position: relative;

    &:not([label='1']) {
      margin-inline-start: calc(var(--_group-margin-more) * -1);
    }

    &:not([label='1'])::before {
      inset-inline-start: var(--_group-margin-more);
    }

    &:not([label='1'], [label='2']) {
      margin-inline-start: calc(var(--_group-margin) * -1);
    }

    &:not([label='1'], [label='2'])::after {
      inset-inline-start: var(--_group-margin);
    }

    &:not([label='1'])::before,
    &:not([label='1'], [label='2'])::after {
      block-size: 100%;
      border-inline-start: calc(var(--_group-width) * 0.45) solid var(--_border-color);
      border-radius: var(--sl-border-radius-default);
      content: '';
      inline-size: 100%;
      position: absolute;
    }
  }

  sl-tag[emphasis='subtle'] {
    &:not([label='1'])::before,
    &:not([label='1'], [label='2'])::after {
      --_border-color: var(--sl-color-tag-subtle-idle-border);
    }
  }

  sl-tag[emphasis='bold'] {
    &:not([label='1'])::before,
    &:not([label='1'], [label='2'])::after {
      --_border-color: var(--sl-color-tag-bold-idle-border);
    }
  }

  sl-tag[emphasis='subtle']:focus {
    &:not([label='1'])::before,
    &:not([label='1'], [label='2'])::after {
      --_border-color: var(--sl-color-tag-subtle-active-border);
    }
  }

  sl-tag[emphasis='bold']:focus {
    &:not([label='1'])::before,
    &:not([label='1'], [label='2'])::after {
      --_border-color: var(--sl-color-tag-bold-active-border);
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--_gap);
}
