:host {
  --_background: var(--sl-color-tag-subtle-idle-background);
  --_border-color: var(--sl-color-tag-subtle-idle-border);
  --_border-radius: var(--sl-border-radius-default);
  --_border-width: var(--sl-border-width-divider);
  --_button-size: var(--sl-size-tag-md);
  --_color: var(--sl-color-tag-subtle-idle-foreground);
  --_cursor: pointer;
  --_focus-color: var(--sl-color-focusring-default);
  --_focus-outline: var(--_focus-color) solid var(--sl-border-width-focusring-inside);
  --_focus-outline-offset: calc(var(--sl-border-width-focusring-inside) * -1);
  --_font: var(--sl-text-tag-label-md);
  --_padding-block: var(--sl-space-tag-block-md) var(--sl-space-tag-block-md);
  --_padding-inline: var(--sl-space-tag-inline-md) var(--sl-space-tag-inline-md);

  align-items: center;
  border-radius: var(--_border-radius);
  cursor: var(--_cursor);
  display: inline-flex;
  font: var(--_font);
  max-inline-size: 100%;
  outline: 0;
  overflow: hidden;
  vertical-align: middle;
}

:host([disabled]) {
  --_cursor: default;

  pointer-events: none;

  slot,
  button {
    --_background: var(--sl-color-tag-subtle-disabled-background);
    --_border-color: var(--sl-color-tag-subtle-disabled-border);
    --_color: var(--sl-color-tag-subtle-disabled-foreground);
  }
}

:host([emphasis='bold']) {
  --_background: var(--sl-color-tag-bold-idle-background);
  --_border-color: var(--sl-color-tag-bold-idle-border);
  --_color: var(--sl-color-tag-bold-idle-foreground);
  --_focus-color: var(--sl-color-focusring-inversed);
  --_focus-outline-offset: calc(var(--sl-border-width-focusring-offset) * -1);

  slot:hover,
  slot:hover + button,
  button:hover {
    --_background: var(--sl-color-tag-bold-hover-background);
    --_border-color: var(--sl-color-tag-bold-hover-border);
    --_color: var(--sl-color-tag-bold-hover-foreground);
  }

  button:hover {
    --_background: var(--sl-color-tag-bold-close-hover-background);
    --_border-color: var(--sl-color-tag-bold-close-hover-border);
    --_color: var(--sl-color-tag-bold-close-hover-foreground);
  }

  button:active {
    --_background: var(--sl-color-tag-bold-close-active-background);
    --_border-color: var(--sl-color-tag-bold-close-active-border);
    --_color: var(--sl-color-tag-bold-close-active-foreground);
  }
}

:host([emphasis='bold'][disabled]) {
  slot,
  button {
    --_background: var(--sl-color-tag-bold-disabled-background);
    --_border-color: var(--sl-color-tag-bold-disabled-border);
    --_color: var(--sl-color-tag-bold-disabled-foreground);
  }
}

:host([size='lg']) {
  --_button-size: var(--sl-size-tag-lg);
  --_padding-block: var(--sl-space-tag-block-lg);
  --_padding-inline: var(--sl-space-tag-inline-lg);
}

:host(:focus-visible) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

slot {
  background: var(--_background);
  color: var(--_color);
  display: block;
  flex: 1;
  overflow: hidden;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  text-overflow: ellipsis;
  transition: background 200ms linear;
  white-space: nowrap;
}

slot:hover,
slot:hover + button {
  --_background: var(--sl-color-tag-subtle-hover-background);
  --_border-color: var(--sl-color-tag-subtle-hover-border);
  --_color: var(--sl-color-tag-subtle-hover-foreground);
}

button {
  align-items: center;
  aspect-ratio: 1;
  background: var(--_background);
  border: 0;
  border-end-end-radius: var(--_border-radius);
  border-inline-start: var(--_border-width) solid var(--_border-color);
  border-start-end-radius: var(--_border-radius);
  color: var(--_color);
  cursor: var(--_cursor);
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--_button-size);
  justify-content: center;
  transition: 200ms linear;
  transition-property: background, border-color;

  &:hover {
    --_background: var(--sl-color-tag-subtle-close-hover-background);
    --_border-color: var(--sl-color-tag-subtle-close-hover-border);
    --_color: var(--sl-color-tag-subtle-close-hover-foreground);
  }

  &:active {
    --_background: var(--sl-color-tag-subtle-close-active-background);
    --_border-color: var(--sl-color-tag-subtle-close-active-border);
    --_color: var(--sl-color-tag-subtle-close-active-foreground);
  }

  &:focus {
    outline: var(--_focus-outline);
    outline-offset: var(--_focus-outline-offset);
  }
}

sl-icon {
  --sl-icon-container-size: var(--sl-size-icon-xs);
  --sl-icon-size: var(--sl-size-icon-xs);

  pointer-events: none;
}
