$emphases: subtle, bold;

:host {
  --_button-border: var(--sl-color-tag-subtle-idle-border);
  --_border-radius: var(--sl-border-radius-default);
  --_focus-outline: var(--_focus-color) solid var(--sl-border-width-focusring-inside);
  --_focus-outline-offset: calc(var(--sl-border-width-focusring-offset) * -1);
  --_font: var(--sl-text-tag-label-md);
  --_gap: var(--sl-space-tag-gap-md);
  --_padding-block: var(--sl-space-tag-block-md) var(--sl-space-tag-block-md);
  --_padding-inline: var(--sl-space-tag-inline-md) var(--sl-space-tag-inline-md);

  display: block;
  pointer-events: none;
}

:host([emphasis='subtle']) {
  --_focus-color: var(--sl-color-focusring-inversed);
}

:host([emphasis='bold']) {
  --_focus-color: var(--sl-color-focusring-default);
}

.wrapper {
  align-items: center;
  border-radius: var(--_border-radius);
  display: inline-flex;
  flex-shrink: 0;
  font: var(--_font);
  gap: var(--_gap);
  max-inline-size: 100%;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  pointer-events: auto;
  transition: background-color 200ms linear;
  vertical-align: middle;
}

@each $emphasis in $emphases {
  :host([emphasis='#{$emphasis}']) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-idle-background);
    color: var(--sl-color-tag-#{$emphasis}-idle-foreground);

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-idle-background);
      color: var(--sl-color-tag-#{$emphasis}-idle-foreground);

      --_button-border: var(--sl-color-tag-#{$emphasis}-idle-border);
    }

    .remove-button:hover {
      background: var(--sl-color-tag-#{$emphasis}-hover-background);
    }

    .remove-button:active {
      background: var(--sl-color-tag-#{$emphasis}-close-active-foreground);
    }
  }

  :host([emphasis='#{$emphasis}'][disabled]) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-disabled-background);
    color: var(--sl-color-tag-#{$emphasis}-disabled-foreground);

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-disabled-background);
      color: var(--sl-color-tag-#{$emphasis}-disabled-foreground);

      --_button-border: var(--sl-color-tag-#{$emphasis}-disabled-border);
    }
  }

  :host([emphasis='#{$emphasis}']:hover:not([disabled])) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-hover-background);
    color: var(--sl-color-tag-#{$emphasis}-hover-foreground);

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-hover-background);

      --_button-border: var(--sl-color-tag-#{$emphasis}-hover-border);
    }
  }

  :host([emphasis='#{$emphasis}'][close-hover]:hover:not([disabled])) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-idle-background);
    color: var(--sl-color-tag-#{$emphasis}-hover-foreground);

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-hover-background);

      --_button-border: transparent;
    }
  }

  :host([emphasis='#{$emphasis}']:not([disabled])) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-idle-background);

    .remove-button:hover {
      background: var(--sl-color-tag-#{$emphasis}-hover-background);
    }
  }

  :host([emphasis='#{$emphasis}']:focus:not([disabled])) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-active-background);
    color: var(--sl-color-tag-#{$emphasis}-active-foreground);
    outline: var(--_focus-outline);
    outline-offset: var(--_focus-outline-offset);

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-active-background);
      color: var(--sl-color-tag-#{$emphasis}-active-foreground);

      --_button-border: var(--sl-color-tag-#{$emphasis}-active-border);
    }
  }

  :host([emphasis='#{$emphasis}'][close-hover]:focus:not([disabled])) .wrapper {
    background: var(--sl-color-tag-#{$emphasis}-idle-background);
    color: var(--sl-color-tag-#{$emphasis}-hover-foreground);
    outline: none;

    .remove-button {
      background: var(--sl-color-tag-#{$emphasis}-close-active-background);
      color: var(--sl-color-tag-#{$emphasis}-close-active-foreground);

      --_button-border: transparent;
    }
  }
}

:host([size='lg']) {
  --_padding-block: var(--sl-space-tag-block-lg) var(--sl-space-tag-block-lg);
  --_padding-inline: var(--sl-space-tag-inline-lg) var(--sl-space-tag-inline-lg);
  --_gap: var(--sl-space-tag-gap-lg);

  .remove-button {
    block-size: var(--sl-size-tag-lg);
    inline-size: var(--sl-size-tag-lg);
    margin-block: calc(var(--sl-space-tag-block-lg) * -1);
    margin-inline-end: calc(var(--sl-space-tag-inline-lg) * -1);
  }
}

:host([disabled]) .wrapper,
:host([readonly]) .wrapper {
  cursor: default;
  pointer-events: none;
}

:host(:not([disabled], [readonly])) {
  cursor: pointer;
}

:host([hidden]) {
  display: none;
}

.label {
  display: block;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-button {
  align-items: center;
  block-size: var(--sl-size-tag-md);
  border-block: none;
  border-end-end-radius: var(--_border-radius);
  border-inline-end: none;
  border-inline-start: 1px solid var(--_button-border);
  border-start-end-radius: var(--_border-radius);
  cursor: pointer;
  display: flex;
  inline-size: var(--sl-size-tag-md);
  justify-content: center;
  margin-block: calc(var(--sl-space-tag-block-md) * -1);
  margin-inline-end: calc(var(--sl-space-tag-inline-md) * -1);
  transition: background-color 200ms linear;

  sl-icon {
    pointer-events: none;
  }
}
