:host {
  color: var(--sl-color-link-muted-idle);
  cursor: pointer;
  display: block;
  overflow: clip visible;
  padding: var(--sl-size-100);
  text-decoration: underline;
  text-decoration-thickness: var(--sl-size-borderWidth-default);
  text-overflow: ellipsis;
  text-underline-offset: var(--sl-size-025);
  white-space: nowrap;

  &:hover {
    color: var(--sl-color-link-muted-hover);
    text-decoration-thickness: var(--sl-size-borderWidth-bold);
  }

  &:active {
    color: var(--sl-color-link-muted-active);
  }

  &:focus-visible {
    border-radius: var(--sl-size-borderRadius-default);
    outline: var(--sl-size-borderWidth-focusRing) solid var(--sl-color-border-focused);
    outline-offset: var(--sl-size-offset-focused);
  }

  &[aria-current='page'] {
    color: var(--sl-color-foreground-plain);
    text-decoration: none;
  }

  @media (width <= 600px) {
    padding-block: var(--sl-size-100);
  }
}

:host([collapsed]) {
  display: none;
}
