:host {
  display: block;
}

:host([inverted]) {
  li:not(.more-menu) a,
  li:not(.more-menu) ::slotted(a) {
    color: var(
      --sl-color-link-inverted-idle
    ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles

    &:focus-visible {
      outline-color: var(
        --sl-color-border-inverted
      ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles
    }

    &:hover {
      color: var(
        --sl-color-link-inverted-hover
      ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles
    }

    &:active {
      color: var(
        --sl-color-link-inverted-active
      ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles
    }

    &[aria-current='page'] {
      color: var(
        --sl-color-link-inverted-idle
      ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles
    }
  }

  sl-icon[name='breadcrumb-separator'] {
    color: var(--sl-color-border-inverted);
  }
}

ul {
  align-items: center;
  display: flex;
  gap: var(--sl-size-100);
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style: none;
  min-inline-size: 0;

  &.home {
    flex-shrink: 0;

    ::slotted(a[href]),
    a {
      align-items: center;
      display: flex;
      gap: var(--sl-size-050);
    }
  }

  &.more-menu {
    flex-shrink: 0;
  }

  &:not(:has(a)) {
    padding: var(--sl-size-100);
  }
}

a,
::slotted(a[href]) {
  color: var(
    --sl-color-link-muted-idle
  ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles

  display: block;
  overflow: clip visible;
  padding: var(--sl-size-100);
  text-decoration: underline;
  text-decoration-thickness: var(--sl-size-borderWidth-default);
  text-overflow: ellipsis;
  text-underline-offset: var(--sl-size-025);
  white-space: nowrap;

  &:hover {
    color: var(
      --sl-color-link-muted-hover
    ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles

    text-decoration-thickness: var(--sl-size-borderWidth-bold);
  }

  &:active {
    color: var(
      --sl-color-link-muted-active
    ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles
  }

  &:focus-visible {
    border-radius: var(--sl-size-borderRadius-default);
    outline: var(--sl-size-borderWidth-focusRing) solid var(--sl-color-border-focused);
    outline-offset: var(--sl-size-offset-focused);
  }

  &[aria-current='page'] {
    color: var(
      --sl-color-foreground-plain
    ) !important; // There is now way to do this with a selector that has more weight than what is set in the global styles

    text-decoration: none;
  }

  @media (width <= 600px) {
    padding-block: var(--sl-size-100);
  }
}

sl-icon[name='breadcrumb-separator'] {
  color: var(--sl-color-border-plain);
}

sl-popover::part(container) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-size-100);
  padding: var(--sl-size-050) 0;
}
