:host {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

a {
  flex-shrink: 0;
}

a,
::slotted(*) {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

a,
::slotted(a) {
  text-decoration: underline;
}

::slotted(*) {
  display: block;
  overflow-x: clip;
  overflow-y: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted(:not(:nth-last-child(-n + 6))) {
  display: none;
}

sl-icon,
::slotted(sl-icon) {
  flex-shrink: 0;
}
