:host {
  display: block;
}

:host([variant='inverted']) {
  a {
    color: var(--sl-color-link-inverted);

    &:visited {
      color: var(--sl-color-link-inverted-visited);
    }

    &:hover {
      color: var(--sl-color-link-inverted-hover);
    }

    &:active {
      color: var(--sl-color-link-inverted-active);
    }

    &[aria-current='page'] {
      color: var(--sl-color-text-inverted);
    }
  }

  sl-icon[name='breadcrumb-separator'] {
    color: var(--sl-color-border-inverted);
  }
}

ul {
  align-items: center;
  display: flex;
  gap: var(--sl-space-100);
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style: none;
  min-inline-size: 0;

  &.home {
    flex-shrink: 0;

    a {
      align-items: center;
      display: flex;
      gap: var(--sl-space-050);
    }
  }

  &.more-menu {
    flex-shrink: 0;
  }

  &:not(:has(a)) {
    padding: var(--sl-space-100);
  }
}

a {
  color: var(--sl-color-link-plain);
  display: block;
  overflow: clip visible;
  padding: var(--sl-space-100);
  text-decoration: underline;
  text-overflow: ellipsis;
  text-underline-offset: var(--sl-space-025);
  white-space: nowrap;

  &:visited {
    color: var(--sl-color-link-visited);
  }

  &:hover {
    color: var(--sl-color-link-hover);
    text-decoration-thickness: var(--sl-size-borderWidth-bold);
  }

  &:active {
    color: var(--sl-color-link-active);
  }

  &:focus-visible {
    border-radius: var(--sl-size-borderRadius-default);
    outline: var(--sl-color-border-focused) solid
      var(--sl-size-borderWidth-focused, var(--sl-border-width-focusring-default));
    outline-offset: var(--sl-space-new-offset-focused, var(--sl-border-width-focusring-offset));
  }

  &[aria-current='page'] {
    color: var(--sl-color-text-plain);
    text-decoration: none;
  }

  @media (width <= 600px) {
    padding-block: var(--sl-space-100);
  }
}

sl-icon[name='breadcrumb-separator'] {
  color: var(--sl-color-border-plain);
}

sl-popover::part(container) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-100);
  padding: var(--sl-space-050) 0;
}

sl-tooltip {
  max-inline-size: min(18rem, 50vw) !important;
}
