<input id="searchField" class="ds-sidebar-nav__search" type="search" placeholder="Search" />

<ol id="searchResults" class="ds-sidebar-nav__results"></ol>

<div id="noResultsFound" class="ds-sidebar-nav__no-results">
  <p>No results found.</p>
</div>
