<input id="searchField" class="ds-search" type="search" placeholder="Search" />

<ol id="searchResults" class="ds-search-results"></ol>

<div id="noResultsFound" class="ds-no-results">
  <p>No results found.</p>
</div>
