<nav class="ds-sidebar-nav ds-flow--xs">
  <button class="ds-sidebar-nav__close-button"></button>

  <a href="/" class="ds-sidebar-nav__logo"></a>

  {% include "./search.njk" %}

  {% set navPages = collections.all | eleventyNavigation("Pages") %}
  <ul class="ds-sidebar-nav__list">
    {% for entry in navPages %}
      <li id="{{ entry.url }}" class="ds-sidebar-nav__list-item">{#{% if entry.url == page.url %} class="active"{% endif %}#}
        <a
          class="ds-sidebar-nav__link{% if page.url == entry.url %} ds-sidebar-nav__link--active{% endif %} {% if page.url.includes(entry.url) %} ds-sidebar-nav__link--active{% endif %} {% if entry.children | length %}ds-sidebar-nav__link--has-submenu{% endif %}"
          href="{% if not entry.children | length %}{{ entry.url | url }}{% endif %}" data-content="{{ entry.title }}">
          {{ entry.title }}
          {% if entry.children | length %}
          <span class="ds-sidebar-nav__arrow {% if page.url == entry.url %} ds-sidebar-nav__arrow--active{% endif %} {% if page.url.includes(entry.url) %} ds-sidebar-nav__arrow--active{% endif %}"></span>
        </a>
        {% endif %}
      </li>
      {% if entry.children | length %}
        <ul role="list"
            class="ds-sublist {% if page.url.includes(entry.url) %} ds-sublist--active{% endif %} {% if page.url == entry.url %} ds-menu--expanded{% endif %}">
          {% for child in entry.children %}
            <li>
              <a class="ds-sidebar-nav__sublist-link{% if page.url == child.url %} ds-sidebar-nav__sublist-link--active{% endif %}"
                 href="{{ child.url }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<section class="ds-sidebar__bottom-section">
  <a href="/" class="ds-sidebar__help">Help and feedback</a>
</section>
