[data-Base='Collection II'] {
  --sl-base-color-background-accent-blue-bold: var(--sl-ii-color-background-accent-blue-bold);
  --sl-base-color-background-accent-blue-interactive-bold: var(
    --sl-ii-color-background-accent-blue-interactive-bold
  );
  --sl-base-color-background-accent-blue-interactive-plain: var(
    --sl-ii-color-background-accent-blue-interactive-plain
  );
  --sl-base-color-background-accent-blue-subtle: var(--sl-ii-color-background-accent-blue-subtle);
  --sl-base-color-background-accent-blue-subtlest: var(
    --sl-ii-color-background-accent-blue-subtlest
  );
  --sl-base-color-background-accent-green-bold: var(--sl-ii-color-background-accent-green-bold);
  --sl-base-color-background-accent-green-interactive-bold: var(
    --sl-ii-color-background-accent-green-interactive-bold
  );
  --sl-base-color-background-accent-green-interactive-plain: var(
    --sl-ii-color-background-accent-green-interactive-plain
  );
  --sl-base-color-background-accent-green-subtle: var(--sl-ii-color-background-accent-green-subtle);
  --sl-base-color-background-accent-green-subtlest: var(
    --sl-ii-color-background-accent-green-subtlest
  );
  --sl-base-color-background-accent-grey-bold: var(--sl-ii-color-background-accent-grey-bold);
  --sl-base-color-background-accent-grey-interactive-bold: var(
    --sl-ii-color-background-accent-grey-interactive-bold
  );
  --sl-base-color-background-accent-grey-interactive-plain: var(
    --sl-ii-color-background-accent-grey-interactive-plain
  );
  --sl-base-color-background-accent-grey-subtle: var(--sl-ii-color-background-accent-grey-subtle);
  --sl-base-color-background-accent-grey-subtlest: var(
    --sl-ii-color-background-accent-grey-subtlest
  );
  --sl-base-color-background-accent-orange-bold: var(--sl-ii-color-background-accent-orange-bold);
  --sl-base-color-background-accent-orange-interactive-bold: var(
    --sl-ii-color-background-accent-orange-interactive-bold
  );
  --sl-base-color-background-accent-orange-interactive-plain: var(
    --sl-ii-color-background-accent-orange-interactive-plain
  );
  --sl-base-color-background-accent-orange-subtle: var(
    --sl-ii-color-background-accent-orange-subtle
  );
  --sl-base-color-background-accent-orange-subtlest: var(
    --sl-ii-color-background-accent-orange-subtlest
  );
  --sl-base-color-background-accent-purple-bold: var(--sl-ii-color-background-accent-purple-bold);
  --sl-base-color-background-accent-purple-interactive-bold: var(
    --sl-ii-color-background-accent-purple-interactive-bold
  );
  --sl-base-color-background-accent-purple-interactive-plain: var(
    --sl-ii-color-background-accent-purple-interactive-plain
  );
  --sl-base-color-background-accent-purple-subtle: var(
    --sl-ii-color-background-accent-purple-subtle
  );
  --sl-base-color-background-accent-purple-subtlest: var(
    --sl-ii-color-background-accent-purple-subtlest
  );
  --sl-base-color-background-accent-red-bold: var(--sl-ii-color-background-accent-red-bold);
  --sl-base-color-background-accent-red-interactive-bold: var(
    --sl-ii-color-background-accent-red-interactive-bold
  );
  --sl-base-color-background-accent-red-interactive-plain: var(
    --sl-ii-color-background-accent-red-interactive-plain
  );
  --sl-base-color-background-accent-red-subtle: var(--sl-ii-color-background-accent-red-subtle);
  --sl-base-color-background-accent-red-subtlest: var(--sl-ii-color-background-accent-red-subtlest);
  --sl-base-color-background-accent-teal-interactive-plain: var(
    --sl-ii-color-background-accent-teal-interactive-plain
  );
  --sl-base-color-background-accent-yellow-bold: var(--sl-ii-color-background-accent-yellow-bold);
  --sl-base-color-background-accent-yellow-interactive-bold: var(
    --sl-ii-color-background-accent-yellow-interactive-bold
  );
  --sl-base-color-background-accent-yellow-interactive-plain: var(
    --sl-ii-color-background-accent-yellow-interactive-plain
  );
  --sl-base-color-background-accent-yellow-subtle: var(
    --sl-ii-color-background-accent-yellow-subtle
  );
  --sl-base-color-background-accent-yellow-subtlest: var(
    --sl-ii-color-background-accent-yellow-subtlest
  );
  --sl-base-color-background-bold: var(--sl-ii-color-background-bold);
  --sl-base-color-background-caution-bold: var(--sl-ii-color-background-caution-bold);
  --sl-base-color-background-caution-interactive-bold: var(
    --sl-ii-color-background-caution-interactive-bold
  );
  --sl-base-color-background-caution-interactive-plain: var(
    --sl-ii-color-background-caution-interactive-plain
  );
  --sl-base-color-background-caution-subtle: var(--sl-ii-color-background-caution-subtle);
  --sl-base-color-background-caution-subtlest: var(--sl-ii-color-background-caution-subtlest);
  --sl-base-color-background-disabled: var(--sl-ii-color-background-disabled);
  --sl-base-color-background-highlight: var(--sl-ii-color-background-highlight);
  --sl-base-color-background-info-bold: var(--sl-ii-color-background-info-bold);
  --sl-base-color-background-info-interactive-bold: var(
    --sl-ii-color-background-info-interactive-bold
  );
  --sl-base-color-background-info-interactive-plain: var(
    --sl-ii-color-background-info-interactive-plain
  );
  --sl-base-color-background-info-subtle: var(--sl-ii-color-background-info-subtle);
  --sl-base-color-background-info-subtlest: var(--sl-ii-color-background-info-subtlest);
  --sl-base-color-background-input-interactive: var(--sl-ii-color-background-input-interactive);
  --sl-base-color-background-interactive-bold: var(--sl-ii-color-background-interactive-bold);
  --sl-base-color-background-interactive-plain: var(--sl-ii-color-background-interactive-plain);
  --sl-base-color-background-inverted-interactive-bold: var(
    --sl-ii-color-background-inverted-interactive-bold
  );
  --sl-base-color-background-inverted-interactive-plain: var(
    --sl-ii-color-background-inverted-interactive-plain
  );
  --sl-base-color-background-negative-bold: var(--sl-ii-color-background-negative-bold);
  --sl-base-color-background-negative-interactive-bold: var(
    --sl-ii-color-background-negative-interactive-bold
  );
  --sl-base-color-background-negative-interactive-plain: var(
    --sl-ii-color-background-negative-interactive-plain
  );
  --sl-base-color-background-negative-subtle: var(--sl-ii-color-background-negative-subtle);
  --sl-base-color-background-negative-subtlest: var(--sl-ii-color-background-negative-subtlest);
  --sl-base-color-background-neutral-bold: var(--sl-ii-color-background-neutral-bold);
  --sl-base-color-background-neutral-interactive-bold: var(
    --sl-ii-color-background-neutral-interactive-bold
  );
  --sl-base-color-background-neutral-interactive-plain: var(
    --sl-ii-color-background-neutral-interactive-plain
  );
  --sl-base-color-background-neutral-subtle: var(--sl-ii-color-background-neutral-subtle);
  --sl-base-color-background-neutral-subtlest: var(--sl-ii-color-background-neutral-subtlest);
  --sl-base-color-background-positive-bold: var(--sl-ii-color-background-positive-bold);
  --sl-base-color-background-positive-interactive-bold: var(
    --sl-ii-color-background-positive-interactive-bold
  );
  --sl-base-color-background-positive-interactive-plain: var(
    --sl-ii-color-background-positive-interactive-plain
  );
  --sl-base-color-background-positive-subtle: var(--sl-ii-color-background-positive-subtle);
  --sl-base-color-background-positive-subtlest: var(--sl-ii-color-background-positive-subtlest);
  --sl-base-color-background-primary-bold: var(--sl-ii-color-background-primary-bold);
  --sl-base-color-background-primary-interactive-bold: var(
    --sl-ii-color-background-primary-interactive-bold
  );
  --sl-base-color-background-primary-interactive-plain: var(
    --sl-ii-color-background-primary-interactive-plain
  );
  --sl-base-color-background-primary-subtle: var(--sl-ii-color-background-primary-subtle);
  --sl-base-color-background-primary-subtlest: var(--sl-ii-color-background-primary-subtlest);
  --sl-base-color-background-secondary-bold: var(--sl-ii-color-background-secondary-bold);
  --sl-base-color-background-secondary-interactive-bold: var(
    --sl-ii-color-background-secondary-interactive-bold
  );
  --sl-base-color-background-secondary-interactive-plain: var(
    --sl-ii-color-background-secondary-interactive-plain
  );
  --sl-base-color-background-secondary-subtle: var(--sl-ii-color-background-secondary-subtle);
  --sl-base-color-background-secondary-subtlest: var(--sl-ii-color-background-secondary-subtlest);
  --sl-base-color-background-selected-bold: var(--sl-ii-color-background-selected-bold);
  --sl-base-color-background-selected-interactive-bold: var(
    --sl-ii-color-background-selected-interactive-bold
  );
  --sl-base-color-background-selected-interactive-plain: var(
    --sl-ii-color-background-selected-interactive-plain
  );
  --sl-base-color-background-selected-subtle: var(--sl-ii-color-background-selected-subtle);
  --sl-base-color-background-selected-subtlest: var(--sl-ii-color-background-selected-subtlest);
  --sl-base-color-background-subtle: var(--sl-ii-color-background-subtle);
  --sl-base-color-blanket-plain: var(--sl-ii-color-blanket-plain);
  --sl-base-color-border-accent-blue-bold: var(--sl-ii-color-border-accent-blue-bold);
  --sl-base-color-border-accent-blue-plain: var(--sl-ii-color-border-accent-blue-plain);
  --sl-base-color-border-accent-green-bold: var(--sl-ii-color-border-accent-green-bold);
  --sl-base-color-border-accent-green-plain: var(--sl-ii-color-border-accent-green-plain);
  --sl-base-color-border-accent-grey-bold: var(--sl-ii-color-border-accent-grey-bold);
  --sl-base-color-border-accent-grey-faint: var(--sl-ii-color-border-accent-grey-faint);
  --sl-base-color-border-accent-grey-heavy: var(--sl-ii-color-border-accent-grey-heavy);
  --sl-base-color-border-accent-grey-plain: var(--sl-ii-color-border-accent-grey-plain);
  --sl-base-color-border-accent-orange-bold: var(--sl-ii-color-border-accent-orange-bold);
  --sl-base-color-border-accent-orange-plain: var(--sl-ii-color-border-accent-orange-plain);
  --sl-base-color-border-accent-purple-bold: var(--sl-ii-color-border-accent-purple-bold);
  --sl-base-color-border-accent-purple-plain: var(--sl-ii-color-border-accent-purple-plain);
  --sl-base-color-border-accent-red-bold: var(--sl-ii-color-border-accent-red-bold);
  --sl-base-color-border-accent-red-plain: var(--sl-ii-color-border-accent-red-plain);
  --sl-base-color-border-accent-yellow-bold: var(--sl-ii-color-border-accent-yellow-bold);
  --sl-base-color-border-accent-yellow-plain: var(--sl-ii-color-border-accent-yellow-plain);
  --sl-base-color-border-bold: var(--sl-ii-color-border-bold);
  --sl-base-color-border-caution-bold: var(--sl-ii-color-border-caution-bold);
  --sl-base-color-border-caution-plain: var(--sl-ii-color-border-caution-plain);
  --sl-base-color-border-disabled: var(--sl-ii-color-border-disabled);
  --sl-base-color-border-focused: var(--sl-ii-color-border-focused);
  --sl-base-color-border-info-bold: var(--sl-ii-color-border-info-bold);
  --sl-base-color-border-info-plain: var(--sl-ii-color-border-info-plain);
  --sl-base-color-border-info-subtle: var(--sl-ii-color-border-info-subtle);
  --sl-base-color-border-input: var(--sl-ii-color-border-input);
  --sl-base-color-border-negative-bold: var(--sl-ii-color-border-negative-bold);
  --sl-base-color-border-negative-plain: var(--sl-ii-color-border-negative-plain);
  --sl-base-color-border-neutral-bold: var(--sl-ii-color-border-neutral-bold);
  --sl-base-color-border-neutral-plain: var(--sl-ii-color-border-neutral-plain);
  --sl-base-color-border-neutral-subtle: var(--sl-ii-color-border-neutral-subtle);
  --sl-base-color-border-plain: var(--sl-ii-color-border-plain);
  --sl-base-color-border-positive-bold: var(--sl-ii-color-border-positive-bold);
  --sl-base-color-border-positive-plain: var(--sl-ii-color-border-positive-plain);
  --sl-base-color-border-primary-bold: var(--sl-ii-color-border-primary-bold);
  --sl-base-color-border-primary-plain: var(--sl-ii-color-border-primary-plain);
  --sl-base-color-border-secondary-bold: var(--sl-ii-color-border-secondary-bold);
  --sl-base-color-border-secondary-plain: var(--sl-ii-color-border-secondary-plain);
  --sl-base-color-border-selected: var(--sl-ii-color-border-selected);
  --sl-base-color-foreground-accent-blue-bold: var(--sl-ii-color-foreground-accent-blue-bold);
  --sl-base-color-foreground-accent-blue-plain: var(--sl-ii-color-foreground-accent-blue-plain);
  --sl-base-color-foreground-accent-green-bold: var(--sl-ii-color-foreground-accent-green-bold);
  --sl-base-color-foreground-accent-green-plain: var(--sl-ii-color-foreground-accent-green-plain);
  --sl-base-color-foreground-accent-grey-bold: var(--sl-ii-color-foreground-accent-grey-bold);
  --sl-base-color-foreground-accent-grey-faint: var(--sl-ii-color-foreground-accent-grey-faint);
  --sl-base-color-foreground-accent-grey-on-bold: var(--sl-ii-color-foreground-accent-grey-on-bold);
  --sl-base-color-foreground-accent-grey-on-inverted: var(
    --sl-ii-color-foreground-accent-grey-on-inverted
  );
  --sl-base-color-foreground-accent-grey-plain: var(--sl-ii-color-foreground-accent-grey-plain);
  --sl-base-color-foreground-accent-grey-subtle: var(--sl-ii-color-foreground-accent-grey-subtle);
  --sl-base-color-foreground-accent-grey-subtlest: var(
    --sl-ii-color-foreground-accent-grey-subtlest
  );
  --sl-base-color-foreground-accent-orange-bold: var(--sl-ii-color-foreground-accent-orange-bold);
  --sl-base-color-foreground-accent-orange-on-bold: var(
    --sl-ii-color-foreground-accent-orange-on-bold
  );
  --sl-base-color-foreground-accent-orange-plain: var(--sl-ii-color-foreground-accent-orange-plain);
  --sl-base-color-foreground-accent-purple-bold: var(--sl-ii-color-foreground-accent-purple-bold);
  --sl-base-color-foreground-accent-purple-plain: var(--sl-ii-color-foreground-accent-purple-plain);
  --sl-base-color-foreground-accent-red-bold: var(--sl-ii-color-foreground-accent-red-bold);
  --sl-base-color-foreground-accent-red-plain: var(--sl-ii-color-foreground-accent-red-plain);
  --sl-base-color-foreground-accent-yellow-bold: var(--sl-ii-color-foreground-accent-yellow-bold);
  --sl-base-color-foreground-accent-yellow-on-bold: var(
    --sl-ii-color-foreground-accent-yellow-on-bold
  );
  --sl-base-color-foreground-accent-yellow-plain: var(--sl-ii-color-foreground-accent-yellow-plain);
  --sl-base-color-foreground-bold: var(--sl-ii-color-foreground-bold);
  --sl-base-color-foreground-brand: var(--sl-ii-color-foreground-brand);
  --sl-base-color-foreground-caution-bold: var(--sl-ii-color-foreground-caution-bold);
  --sl-base-color-foreground-caution-on-bold: var(--sl-ii-color-foreground-caution-on-bold);
  --sl-base-color-foreground-caution-plain: var(--sl-ii-color-foreground-caution-plain);
  --sl-base-color-foreground-disabled: var(--sl-ii-color-foreground-disabled);
  --sl-base-color-foreground-info-bold: var(--sl-ii-color-foreground-info-bold);
  --sl-base-color-foreground-info-plain: var(--sl-ii-color-foreground-info-plain);
  --sl-base-color-foreground-inverted-on-bold: var(--sl-ii-color-foreground-inverted-on-bold);
  --sl-base-color-foreground-negative-bold: var(--sl-ii-color-foreground-negative-bold);
  --sl-base-color-foreground-negative-plain: var(--sl-ii-color-foreground-negative-plain);
  --sl-base-color-foreground-neutral-bold: var(--sl-ii-color-foreground-neutral-bold);
  --sl-base-color-foreground-neutral-on-bold: var(--sl-ii-color-foreground-neutral-on-bold);
  --sl-base-color-foreground-neutral-plain: var(--sl-ii-color-foreground-neutral-plain);
  --sl-base-color-foreground-plain: var(--sl-ii-color-foreground-plain);
  --sl-base-color-foreground-positive-bold: var(--sl-ii-color-foreground-positive-bold);
  --sl-base-color-foreground-positive-plain: var(--sl-ii-color-foreground-positive-plain);
  --sl-base-color-foreground-primary-bold: var(--sl-ii-color-foreground-primary-bold);
  --sl-base-color-foreground-secondary-bold: var(--sl-ii-color-foreground-secondary-bold);
  --sl-base-color-foreground-secondary-on-bold: var(--sl-ii-color-foreground-secondary-on-bold);
  --sl-base-color-foreground-selected-bold: var(--sl-ii-color-foreground-selected-bold);
  --sl-base-color-foreground-selected-plain: var(--sl-ii-color-foreground-selected-plain);
  --sl-base-color-foreground-subtle: var(--sl-ii-color-foreground-subtle);
  --sl-base-color-foreground-subtlest: var(--sl-ii-color-foreground-subtlest);
  --sl-base-color-link-active: var(--sl-ii-color-link-active);
  --sl-base-color-link-focused-active: var(--sl-ii-color-link-focused-active);
  --sl-base-color-link-focused-hover: var(--sl-ii-color-link-focused-hover);
  --sl-base-color-link-focused-idle: var(--sl-ii-color-link-focused-idle);
  --sl-base-color-link-hover: var(--sl-ii-color-link-hover);
  --sl-base-color-link-idle: var(--sl-ii-color-link-idle);
  --sl-base-color-link-inverted-active: var(--sl-ii-color-link-inverted-active);
  --sl-base-color-link-inverted-hover: var(--sl-ii-color-link-inverted-hover);
  --sl-base-color-link-muted-active: var(--sl-ii-color-link-muted-active);
  --sl-base-color-link-muted-hover: var(--sl-ii-color-link-muted-hover);
  --sl-base-color-link-muted-idle: var(--sl-ii-color-link-muted-idle);
  --sl-base-color-palette-blue-050: var(--sl-ii-color-palette-blue-050);
  --sl-base-color-palette-blue-100: var(--sl-ii-color-palette-blue-100);
  --sl-base-color-palette-blue-150: var(--sl-ii-color-palette-blue-150);
  --sl-base-color-palette-blue-200: var(--sl-ii-color-palette-blue-200);
  --sl-base-color-palette-blue-300: var(--sl-ii-color-palette-blue-300);
  --sl-base-color-palette-blue-400: var(--sl-ii-color-palette-blue-400);
  --sl-base-color-palette-blue-500: var(--sl-ii-color-palette-blue-500);
  --sl-base-color-palette-blue-600: var(--sl-ii-color-palette-blue-600);
  --sl-base-color-palette-blue-700: var(--sl-ii-color-palette-blue-700);
  --sl-base-color-palette-blue-800: var(--sl-ii-color-palette-blue-800);
  --sl-base-color-palette-blue-900: var(--sl-ii-color-palette-blue-900);
  --sl-base-color-palette-green-050: var(--sl-ii-color-palette-green-050);
  --sl-base-color-palette-green-100: var(--sl-ii-color-palette-green-100);
  --sl-base-color-palette-green-150: var(--sl-ii-color-palette-green-150);
  --sl-base-color-palette-green-200: var(--sl-ii-color-palette-green-200);
  --sl-base-color-palette-green-300: var(--sl-ii-color-palette-green-300);
  --sl-base-color-palette-green-400: var(--sl-ii-color-palette-green-400);
  --sl-base-color-palette-green-500: var(--sl-ii-color-palette-green-500);
  --sl-base-color-palette-green-600: var(--sl-ii-color-palette-green-600);
  --sl-base-color-palette-green-700: var(--sl-ii-color-palette-green-700);
  --sl-base-color-palette-green-800: var(--sl-ii-color-palette-green-800);
  --sl-base-color-palette-green-900: var(--sl-ii-color-palette-green-900);
  --sl-base-color-palette-grey-050: var(--sl-ii-color-palette-grey-050);
  --sl-base-color-palette-grey-100: var(--sl-ii-color-palette-grey-100);
  --sl-base-color-palette-grey-150: var(--sl-ii-color-palette-grey-150);
  --sl-base-color-palette-grey-200: var(--sl-ii-color-palette-grey-200);
  --sl-base-color-palette-grey-300: var(--sl-ii-color-palette-grey-300);
  --sl-base-color-palette-grey-400: var(--sl-ii-color-palette-grey-400);
  --sl-base-color-palette-grey-500: var(--sl-ii-color-palette-grey-500);
  --sl-base-color-palette-grey-600: var(--sl-ii-color-palette-grey-600);
  --sl-base-color-palette-grey-700: var(--sl-ii-color-palette-grey-700);
  --sl-base-color-palette-grey-800: var(--sl-ii-color-palette-grey-800);
  --sl-base-color-palette-grey-900: var(--sl-ii-color-palette-grey-900);
  --sl-base-color-palette-orange-050: var(--sl-ii-color-palette-orange-050);
  --sl-base-color-palette-orange-100: var(--sl-ii-color-palette-orange-100);
  --sl-base-color-palette-orange-150: var(--sl-ii-color-palette-orange-150);
  --sl-base-color-palette-orange-200: var(--sl-ii-color-palette-orange-200);
  --sl-base-color-palette-orange-300: var(--sl-ii-color-palette-orange-300);
  --sl-base-color-palette-orange-400: var(--sl-ii-color-palette-orange-400);
  --sl-base-color-palette-orange-500: var(--sl-ii-color-palette-orange-500);
  --sl-base-color-palette-orange-600: var(--sl-ii-color-palette-orange-600);
  --sl-base-color-palette-orange-700: var(--sl-ii-color-palette-orange-700);
  --sl-base-color-palette-orange-800: var(--sl-ii-color-palette-orange-800);
  --sl-base-color-palette-orange-900: var(--sl-ii-color-palette-orange-900);
  --sl-base-color-palette-purple-050: var(--sl-ii-color-palette-purple-050);
  --sl-base-color-palette-purple-100: var(--sl-ii-color-palette-purple-100);
  --sl-base-color-palette-purple-150: var(--sl-ii-color-palette-purple-150);
  --sl-base-color-palette-purple-200: var(--sl-ii-color-palette-purple-200);
  --sl-base-color-palette-purple-300: var(--sl-ii-color-palette-purple-300);
  --sl-base-color-palette-purple-400: var(--sl-ii-color-palette-purple-400);
  --sl-base-color-palette-purple-500: var(--sl-ii-color-palette-purple-500);
  --sl-base-color-palette-purple-600: var(--sl-ii-color-palette-purple-600);
  --sl-base-color-palette-purple-700: var(--sl-ii-color-palette-purple-700);
  --sl-base-color-palette-purple-800: var(--sl-ii-color-palette-purple-800);
  --sl-base-color-palette-purple-900: var(--sl-ii-color-palette-purple-900);
  --sl-base-color-palette-red-050: var(--sl-ii-color-palette-red-050);
  --sl-base-color-palette-red-100: var(--sl-ii-color-palette-red-100);
  --sl-base-color-palette-red-150: var(--sl-ii-color-palette-red-150);
  --sl-base-color-palette-red-200: var(--sl-ii-color-palette-red-200);
  --sl-base-color-palette-red-300: var(--sl-ii-color-palette-red-300);
  --sl-base-color-palette-red-400: var(--sl-ii-color-palette-red-400);
  --sl-base-color-palette-red-500: var(--sl-ii-color-palette-red-500);
  --sl-base-color-palette-red-600: var(--sl-ii-color-palette-red-600);
  --sl-base-color-palette-red-700: var(--sl-ii-color-palette-red-700);
  --sl-base-color-palette-red-800: var(--sl-ii-color-palette-red-800);
  --sl-base-color-palette-red-900: var(--sl-ii-color-palette-red-900);
  --sl-base-color-palette-yellow-050: var(--sl-ii-color-palette-yellow-050);
  --sl-base-color-palette-yellow-100: var(--sl-ii-color-palette-yellow-100);
  --sl-base-color-palette-yellow-150: var(--sl-ii-color-palette-yellow-150);
  --sl-base-color-palette-yellow-200: var(--sl-ii-color-palette-yellow-200);
  --sl-base-color-palette-yellow-300: var(--sl-ii-color-palette-yellow-300);
  --sl-base-color-palette-yellow-400: var(--sl-ii-color-palette-yellow-400);
  --sl-base-color-palette-yellow-500: var(--sl-ii-color-palette-yellow-500);
  --sl-base-color-palette-yellow-600: var(--sl-ii-color-palette-yellow-600);
  --sl-base-color-palette-yellow-700: var(--sl-ii-color-palette-yellow-700);
  --sl-base-color-palette-yellow-800: var(--sl-ii-color-palette-yellow-800);
  --sl-base-color-palette-yellow-900: var(--sl-ii-color-palette-yellow-900);
  --sl-base-color-skeleton-plain: var(--sl-ii-color-skeleton-plain);
  --sl-base-color-skeleton-subtle: var(--sl-ii-color-skeleton-subtle);
  --sl-base-elevation-surface-raised-alternative: var(--sl-ii-elevation-surface-raised-alternative);
  --sl-base-elevation-surface-raised-inverted: var(--sl-ii-elevation-surface-raised-inverted);
  --sl-base-elevation-surface-raised-primary: var(--sl-ii-elevation-surface-raised-primary);
  --sl-base-elevation-surface-raised-sunken: var(--sl-ii-elevation-surface-raised-sunken);
  --sl-base-elevation-surface-shadow: var(--sl-ii-elevation-surface-shadow);
  --sl-base-icon-typeset-font-weight-regular: var(--sl-icon-typeset-font-weight-icon-regular);
  --sl-base-icon-typeset-font-weight-solid: var(--sl-icon-typeset-font-weight-icon-solid);
  --sl-base-opacity-bold: var(--sl-ii-opacity-bold);
  --sl-base-opacity-interactive-bold-active: var(--sl-ii-opacity-interactive-bold-active);
  --sl-base-opacity-interactive-bold-hover: var(--sl-ii-opacity-interactive-bold-hover);
  --sl-base-opacity-interactive-bold-idle: var(--sl-ii-opacity-interactive-bold-idle);
  --sl-base-opacity-interactive-plain-idle: var(--sl-ii-opacity-interactive-plain-idle);
  --sl-base-opacity-interactive-reversed-active: var(--sl-ii-opacity-interactive-reversed-active);
  --sl-base-opacity-interactive-reversed-hover: var(--sl-ii-opacity-interactive-reversed-hover);
  --sl-base-opacity-interactive-reversed-idle: var(--sl-ii-opacity-interactive-reversed-idle);
  --sl-base-opacity-moderate: var(--sl-ii-opacity-moderate);
  --sl-base-opacity-muted: var(--sl-ii-opacity-muted);
  --sl-base-size-border-radius-child: var(--sl-ii-size-border-radius-child);
  --sl-base-size-border-radius-default: var(--sl-ii-size-border-radius-default);
  --sl-base-size-border-radius-focus-ring-inside: var(--sl-ii-size-border-radius-focus-ring-inside);
  --sl-base-size-border-radius-focus-ring-outside: var(
    --sl-ii-size-border-radius-focus-ring-outside
  );
  --sl-base-size-border-radius-full: var(--sl-ii-size-border-radius-full);
  --sl-base-size-icon-font-2xl: var(--sl-ii-size-icon-font-2xl);
  --sl-base-size-icon-font-2xs: var(--sl-ii-size-icon-font-2xs);
  --sl-base-size-icon-font-3xl: var(--sl-ii-size-icon-font-3xl);
  --sl-base-size-icon-font-4xl: var(--sl-ii-size-icon-font-4xl);
  --sl-base-size-icon-font-lg: var(--sl-ii-size-icon-font-lg);
  --sl-base-size-icon-font-md: var(--sl-ii-size-icon-font-md);
  --sl-base-size-icon-font-sm: var(--sl-ii-size-icon-font-sm);
  --sl-base-size-icon-font-xl: var(--sl-ii-size-icon-font-xl);
  --sl-base-size-icon-font-xs: var(--sl-ii-size-icon-font-xs);
  --sl-base-size-outline-width-default: var(--sl-ii-size-outline-width-default);
  --sl-base-size-text-new-body-lg: var(--sl-ii-size-text-new-body-lg);
  --sl-base-size-text-new-body-md: var(--sl-ii-size-text-new-body-md);
  --sl-base-size-text-new-body-sm: var(--sl-ii-size-text-new-body-sm);
  --sl-base-size-text-new-heading-2xl: var(--sl-ii-size-text-new-heading-2xl);
  --sl-base-size-text-new-heading-lg: var(--sl-ii-size-text-new-heading-lg);
  --sl-base-size-text-new-heading-md: var(--sl-ii-size-text-new-heading-md);
  --sl-base-size-text-new-heading-sm: var(--sl-ii-size-text-new-heading-sm);
  --sl-base-size-text-new-heading-xl: var(--sl-ii-size-text-new-heading-xl);
  --sl-base-space-offset-default: var(--sl-ii-space-offset-default);
  --sl-base-text-new-icon-outline-font-family: 'Font Awesome 7 Pro';
  --sl-base-text-new-icon-outline-font-weight: regular;
  --sl-base-text-new-icon-solid-font-family: 'Font Awesome 7 Pro';
  --sl-base-text-new-icon-solid-font-weight: solid;
  --sl-base-text-new-typeset-font-family-icon: 'Font Awesome 7 Pro';
  --sl-base-text-new-typeset-font-weight-regular: var(--sl-ii-text-new-typeset-font-weight-regular);
  --sl-base-theme-name: var(--sl-ii-theme-name);
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-dc-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-dc-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-dc-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-dc-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-int-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-int-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-int-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-bingel-int-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-bingel-int-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-bingel-int-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-sanoma-learning-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-e-sanoma-learning-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-a-themes-e-sanoma-learning-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-a-themes-e-sanoma-learning-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-bingel-dc-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-a-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-a-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-a-themes-f-bingel-dc-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-dc-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-dc-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-bingel-int-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-a-themes-f-bingel-int-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-a-themes-f-bingel-int-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-a-themes-f-bingel-int-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-bingel-int-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-bingel-int-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-a-themes-f-sanoma-learning-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-a-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-a-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-a-themes-f-sanoma-learning-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-a-themes-f-sanoma-learning-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-a-themes-f-sanoma-learning-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-dc-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-dc-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-dc-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-dc-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-int-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-int-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-int-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-bingel-int-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-bingel-int-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-bingel-int-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-sanoma-learning-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-e-sanoma-learning-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-b-themes-e-sanoma-learning-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-b-themes-e-sanoma-learning-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-bingel-dc-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-b-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-b-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-b-themes-f-bingel-dc-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-dc-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-dc-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-bingel-int-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-b-themes-f-bingel-int-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-b-themes-f-bingel-int-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-b-themes-f-bingel-int-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-bingel-int-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-bingel-int-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-b-themes-f-sanoma-learning-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-b-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-b-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-b-themes-f-sanoma-learning-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-b-themes-f-sanoma-learning-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-b-themes-f-sanoma-learning-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-dc-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-dc-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-dc-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-dc-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-dc-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-int-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-int-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-int-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-int-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-bingel-int-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-bingel-int-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-bingel-int-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-pro-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-pro-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-sanoma-learning-teacher-assistant-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-e-sanoma-learning-tig-color-shadow-overflow1: #18181829;
  --sl-computed-themes-c-themes-e-sanoma-learning-tig-color-shadow-overlay1: #1818180a;
  --sl-computed-themes-c-themes-e-sanoma-learning-tig-color-shadow-overlay2: #1818181f;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-dc-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-bingel-dc-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-c-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-c-themes-f-bingel-dc-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-c-themes-f-bingel-dc-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-dc-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-dc-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-int-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-bingel-int-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-c-themes-f-bingel-int-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-c-themes-f-bingel-int-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-c-themes-f-bingel-int-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-bingel-int-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-bingel-int-tig-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-pro-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-pro-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-sanoma-learning-sanoma-utbildning-color-shadow-overlay2: #2222221f;
  --sl-computed-themes-c-themes-f-sanoma-learning-teacher-assistant-color-shadow-overflow1: #19141829;
  --sl-computed-themes-c-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay1: #1914180a;
  --sl-computed-themes-c-themes-f-sanoma-learning-teacher-assistant-color-shadow-overlay2: #1914181f;
  --sl-computed-themes-c-themes-f-sanoma-learning-tig-color-shadow-overflow1: #22222229;
  --sl-computed-themes-c-themes-f-sanoma-learning-tig-color-shadow-overlay1: #2222220a;
  --sl-computed-themes-c-themes-f-sanoma-learning-tig-color-shadow-overlay2: #2222221f;
}
