@media screen and (max-width: 900px) {
  body {
    --sl-caption-lg-fontSize: var(--sl-caption-lg-fontSize-userGroup);
    --sl-caption-lg-lineHeight: var(--sl-caption-lg-lineHeight-userGroup);
    --sl-caption-md-fontSize: var(--sl-caption-md-fontSize-userGroup);
    --sl-caption-md-lineHeight: var(--sl-caption-md-lineHeight-userGroup);
    --sl-computed-advanced-caption-lg-fontSize-advanced: 14px;
    --sl-computed-advanced-caption-lg-fontSize-developing: 12px;
    --sl-computed-advanced-caption-lg-fontSize-early: 12px;
    --sl-computed-advanced-caption-lg-lineHeight-advanced: 20px;
    --sl-computed-advanced-caption-lg-lineHeight-developing: 16px;
    --sl-computed-advanced-caption-lg-lineHeight-early: 16px;
    --sl-computed-advanced-caption-md-fontSize-advanced: 12px;
    --sl-computed-advanced-caption-md-fontSize-developing: 10px;
    --sl-computed-advanced-caption-md-fontSize-early: 12px;
    --sl-computed-advanced-caption-md-lineHeight-advanced: 16px;
    --sl-computed-advanced-caption-md-lineHeight-developing: 14px;
    --sl-computed-advanced-caption-md-lineHeight-early: 16px;
    --sl-computed-advanced-display-lg-fontSize-advanced: 56px;
    --sl-computed-advanced-display-lg-fontSize-developing: 44px;
    --sl-computed-advanced-display-lg-fontSize-early: 40px;
    --sl-computed-advanced-display-lg-lineHeight-advanced: 68px;
    --sl-computed-advanced-display-lg-lineHeight-developing: 52px;
    --sl-computed-advanced-display-lg-lineHeight-early: 48px;
    --sl-computed-advanced-display-md-fontSize-advanced: 48px;
    --sl-computed-advanced-display-md-fontSize-developing: 36px;
    --sl-computed-advanced-display-md-fontSize-early: 40px;
    --sl-computed-advanced-display-md-lineHeight-advanced: 60px;
    --sl-computed-advanced-display-md-lineHeight-developing: 44px;
    --sl-computed-advanced-display-md-lineHeight-early: 48px;
    --sl-computed-advanced-display-sm-fontSize-advanced: 40px;
    --sl-computed-advanced-display-sm-fontSize-developing: 36px;
    --sl-computed-advanced-display-sm-fontSize-early: 40px;
    --sl-computed-advanced-display-sm-lineHeight-advanced: 48px;
    --sl-computed-advanced-display-sm-lineHeight-developing: 44px;
    --sl-computed-advanced-display-sm-lineHeight-early: 48px;
    --sl-computed-advanced-heading-lg-fontSize-advanced: 36px;
    --sl-computed-advanced-heading-lg-fontSize-developing: 28px;
    --sl-computed-advanced-heading-lg-fontSize-early: 24px;
    --sl-computed-advanced-heading-lg-lineHeight-advanced: 44px;
    --sl-computed-advanced-heading-lg-lineHeight-developing: 36px;
    --sl-computed-advanced-heading-lg-lineHeight-early: 28px;
    --sl-computed-advanced-heading-md-fontSize-advanced: 28px;
    --sl-computed-advanced-heading-md-fontSize-developing: 20px;
    --sl-computed-advanced-heading-md-fontSize-early: 20px;
    --sl-computed-advanced-heading-md-lineHeight-advanced: 36px;
    --sl-computed-advanced-heading-md-lineHeight-developing: 24px;
    --sl-computed-advanced-heading-md-lineHeight-early: 24px;
    --sl-computed-advanced-heading-sm-fontSize-advanced: 24px;
    --sl-computed-advanced-heading-sm-fontSize-developing: 20px;
    --sl-computed-advanced-heading-sm-fontSize-early: 20px;
    --sl-computed-advanced-heading-sm-lineHeight-advanced: 28px;
    --sl-computed-advanced-heading-sm-lineHeight-developing: 24px;
    --sl-computed-advanced-heading-sm-lineHeight-early: 24px;
    --sl-computed-advanced-label-lg-fontSize-advanced: 16px;
    --sl-computed-advanced-label-lg-fontSize-developing: 16px;
    --sl-computed-advanced-label-lg-fontSize-early: 16px;
    --sl-computed-advanced-label-lg-lineHeight-advanced: 20px;
    --sl-computed-advanced-label-lg-lineHeight-developing: 20px;
    --sl-computed-advanced-label-lg-lineHeight-early: 20px;
    --sl-computed-advanced-label-md-fontSize-advanced: 14px;
    --sl-computed-advanced-label-md-fontSize-developing: 14px;
    --sl-computed-advanced-label-md-fontSize-early: 14px;
    --sl-computed-advanced-label-md-lineHeight-advanced: 18px;
    --sl-computed-advanced-label-md-lineHeight-developing: 18px;
    --sl-computed-advanced-label-md-lineHeight-early: 18px;
    --sl-computed-advanced-label-sm-fontSize-advanced: 12px;
    --sl-computed-advanced-label-sm-fontSize-developing: 12px;
    --sl-computed-advanced-label-sm-fontSize-early: 12px;
    --sl-computed-advanced-label-sm-lineHeight-advanced: 16px;
    --sl-computed-advanced-label-sm-lineHeight-developing: 16px;
    --sl-computed-advanced-label-sm-lineHeight-early: 16px;
    --sl-computed-advanced-text-lg-fontSize-advanced: 18px;
    --sl-computed-advanced-text-lg-fontSize-developing: 18px;
    --sl-computed-advanced-text-lg-fontSize-early: 18px;
    --sl-computed-advanced-text-lg-lineHeight-advanced: 24px;
    --sl-computed-advanced-text-lg-lineHeight-developing: 24px;
    --sl-computed-advanced-text-lg-lineHeight-early: 24px;
    --sl-computed-advanced-text-md-fontSize-advanced: 16px;
    --sl-computed-advanced-text-md-fontSize-developing: 16px;
    --sl-computed-advanced-text-md-fontSize-early: 16px;
    --sl-computed-advanced-text-md-lineHeight-advanced: 24px;
    --sl-computed-advanced-text-md-lineHeight-developing: 24px;
    --sl-computed-advanced-text-md-lineHeight-early: 24px;
    --sl-computed-advanced-text-sm-fontSize-advanced: 14px;
    --sl-computed-advanced-text-sm-fontSize-developing: 14px;
    --sl-computed-advanced-text-sm-fontSize-early: 14px;
    --sl-computed-advanced-text-sm-lineHeight-advanced: 20px;
    --sl-computed-advanced-text-sm-lineHeight-developing: 20px;
    --sl-computed-advanced-text-sm-lineHeight-early: 20px;
    --sl-computed-advanced-title-lg-fontSize-advanced: 24px;
    --sl-computed-advanced-title-lg-fontSize-developing: 20px;
    --sl-computed-advanced-title-lg-fontSize-early: 20px;
    --sl-computed-advanced-title-lg-lineHeight-advanced: 32px;
    --sl-computed-advanced-title-lg-lineHeight-developing: 28px;
    --sl-computed-advanced-title-lg-lineHeight-early: 28px;
    --sl-computed-advanced-title-md-fontSize-advanced: 20px;
    --sl-computed-advanced-title-md-fontSize-developing: 20px;
    --sl-computed-advanced-title-md-fontSize-early: 20px;
    --sl-computed-advanced-title-md-lineHeight-advanced: 28px;
    --sl-computed-advanced-title-md-lineHeight-developing: 28px;
    --sl-computed-advanced-title-md-lineHeight-early: 28px;
    --sl-computed-advanced-title-sm-fontSize-advanced: 20px;
    --sl-computed-advanced-title-sm-fontSize-developing: 20px;
    --sl-computed-advanced-title-sm-fontSize-early: 20px;
    --sl-computed-advanced-title-sm-lineHeight-advanced: 28px;
    --sl-computed-advanced-title-sm-lineHeight-developing: 28px;
    --sl-computed-advanced-title-sm-lineHeight-early: 28px;
    --sl-computed-developing-caption-lg-fontSize-advanced: 16px;
    --sl-computed-developing-caption-lg-fontSize-developing: 14px;
    --sl-computed-developing-caption-lg-fontSize-early: 14px;
    --sl-computed-developing-caption-lg-lineHeight-advanced: 24px;
    --sl-computed-developing-caption-lg-lineHeight-developing: 22px;
    --sl-computed-developing-caption-lg-lineHeight-early: 22px;
    --sl-computed-developing-caption-md-fontSize-advanced: 14px;
    --sl-computed-developing-caption-md-fontSize-developing: 12px;
    --sl-computed-developing-caption-md-fontSize-early: 14px;
    --sl-computed-developing-caption-md-lineHeight-advanced: 22px;
    --sl-computed-developing-caption-md-lineHeight-developing: 18px;
    --sl-computed-developing-caption-md-lineHeight-early: 22px;
    --sl-computed-developing-display-lg-fontSize-advanced: 64px;
    --sl-computed-developing-display-lg-fontSize-developing: 52px;
    --sl-computed-developing-display-lg-fontSize-early: 44px;
    --sl-computed-developing-display-lg-lineHeight-advanced: 84px;
    --sl-computed-developing-display-lg-lineHeight-developing: 68px;
    --sl-computed-developing-display-lg-lineHeight-early: 56px;
    --sl-computed-developing-display-md-fontSize-advanced: 56px;
    --sl-computed-developing-display-md-fontSize-developing: 40px;
    --sl-computed-developing-display-md-fontSize-early: 44px;
    --sl-computed-developing-display-md-lineHeight-advanced: 72px;
    --sl-computed-developing-display-md-lineHeight-developing: 52px;
    --sl-computed-developing-display-md-lineHeight-early: 56px;
    --sl-computed-developing-display-sm-fontSize-advanced: 44px;
    --sl-computed-developing-display-sm-fontSize-developing: 40px;
    --sl-computed-developing-display-sm-fontSize-early: 44px;
    --sl-computed-developing-display-sm-lineHeight-advanced: 56px;
    --sl-computed-developing-display-sm-lineHeight-developing: 52px;
    --sl-computed-developing-display-sm-lineHeight-early: 56px;
    --sl-computed-developing-heading-lg-fontSize-advanced: 40px;
    --sl-computed-developing-heading-lg-fontSize-developing: 32px;
    --sl-computed-developing-heading-lg-fontSize-early: 28px;
    --sl-computed-developing-heading-lg-lineHeight-advanced: 56px;
    --sl-computed-developing-heading-lg-lineHeight-developing: 44px;
    --sl-computed-developing-heading-lg-lineHeight-early: 36px;
    --sl-computed-developing-heading-md-fontSize-advanced: 32px;
    --sl-computed-developing-heading-md-fontSize-developing: 24px;
    --sl-computed-developing-heading-md-fontSize-early: 24px;
    --sl-computed-developing-heading-md-lineHeight-advanced: 44px;
    --sl-computed-developing-heading-md-lineHeight-developing: 32px;
    --sl-computed-developing-heading-md-lineHeight-early: 32px;
    --sl-computed-developing-heading-sm-fontSize-advanced: 28px;
    --sl-computed-developing-heading-sm-fontSize-developing: 24px;
    --sl-computed-developing-heading-sm-fontSize-early: 24px;
    --sl-computed-developing-heading-sm-lineHeight-advanced: 36px;
    --sl-computed-developing-heading-sm-lineHeight-developing: 32px;
    --sl-computed-developing-heading-sm-lineHeight-early: 32px;
    --sl-computed-developing-label-lg-fontSize-advanced: 18px;
    --sl-computed-developing-label-lg-fontSize-developing: 18px;
    --sl-computed-developing-label-lg-fontSize-early: 18px;
    --sl-computed-developing-label-lg-lineHeight-advanced: 26px;
    --sl-computed-developing-label-lg-lineHeight-developing: 26px;
    --sl-computed-developing-label-lg-lineHeight-early: 26px;
    --sl-computed-developing-label-md-fontSize-advanced: 16px;
    --sl-computed-developing-label-md-fontSize-developing: 16px;
    --sl-computed-developing-label-md-fontSize-early: 16px;
    --sl-computed-developing-label-md-lineHeight-advanced: 22px;
    --sl-computed-developing-label-md-lineHeight-developing: 22px;
    --sl-computed-developing-label-md-lineHeight-early: 22px;
    --sl-computed-developing-label-sm-fontSize-advanced: 14px;
    --sl-computed-developing-label-sm-fontSize-developing: 14px;
    --sl-computed-developing-label-sm-fontSize-early: 14px;
    --sl-computed-developing-label-sm-lineHeight-advanced: 20px;
    --sl-computed-developing-label-sm-lineHeight-developing: 20px;
    --sl-computed-developing-label-sm-lineHeight-early: 20px;
    --sl-computed-developing-text-lg-fontSize-advanced: 20px;
    --sl-computed-developing-text-lg-fontSize-developing: 20px;
    --sl-computed-developing-text-lg-fontSize-early: 20px;
    --sl-computed-developing-text-lg-lineHeight-advanced: 32px;
    --sl-computed-developing-text-lg-lineHeight-developing: 32px;
    --sl-computed-developing-text-lg-lineHeight-early: 32px;
    --sl-computed-developing-text-md-fontSize-advanced: 18px;
    --sl-computed-developing-text-md-fontSize-developing: 18px;
    --sl-computed-developing-text-md-fontSize-early: 18px;
    --sl-computed-developing-text-md-lineHeight-advanced: 28px;
    --sl-computed-developing-text-md-lineHeight-developing: 28px;
    --sl-computed-developing-text-md-lineHeight-early: 28px;
    --sl-computed-developing-text-sm-fontSize-advanced: 16px;
    --sl-computed-developing-text-sm-fontSize-developing: 16px;
    --sl-computed-developing-text-sm-fontSize-early: 16px;
    --sl-computed-developing-text-sm-lineHeight-advanced: 24px;
    --sl-computed-developing-text-sm-lineHeight-developing: 24px;
    --sl-computed-developing-text-sm-lineHeight-early: 24px;
    --sl-computed-developing-title-lg-fontSize-advanced: 24px;
    --sl-computed-developing-title-lg-fontSize-developing: 24px;
    --sl-computed-developing-title-lg-fontSize-early: 22px;
    --sl-computed-developing-title-lg-lineHeight-advanced: 32px;
    --sl-computed-developing-title-lg-lineHeight-developing: 32px;
    --sl-computed-developing-title-lg-lineHeight-early: 32px;
    --sl-computed-developing-title-md-fontSize-advanced: 24px;
    --sl-computed-developing-title-md-fontSize-developing: 24px;
    --sl-computed-developing-title-md-fontSize-early: 20px;
    --sl-computed-developing-title-md-lineHeight-advanced: 32px;
    --sl-computed-developing-title-md-lineHeight-developing: 32px;
    --sl-computed-developing-title-md-lineHeight-early: 28px;
    --sl-computed-developing-title-sm-fontSize-advanced: 20px;
    --sl-computed-developing-title-sm-fontSize-developing: 24px;
    --sl-computed-developing-title-sm-fontSize-early: 20px;
    --sl-computed-developing-title-sm-lineHeight-advanced: 28px;
    --sl-computed-developing-title-sm-lineHeight-developing: 32px;
    --sl-computed-developing-title-sm-lineHeight-early: 28px;
    --sl-computed-early-caption-lg-fontSize-advanced: 18px;
    --sl-computed-early-caption-lg-fontSize-developing: 16px;
    --sl-computed-early-caption-lg-fontSize-early: 16px;
    --sl-computed-early-caption-lg-lineHeight-advanced: 28px;
    --sl-computed-early-caption-lg-lineHeight-developing: 26px;
    --sl-computed-early-caption-lg-lineHeight-early: 26px;
    --sl-computed-early-caption-md-fontSize-advanced: 16px;
    --sl-computed-early-caption-md-fontSize-developing: 12px;
    --sl-computed-early-caption-md-fontSize-early: 16px;
    --sl-computed-early-caption-md-lineHeight-advanced: 26px;
    --sl-computed-early-caption-md-lineHeight-developing: 20px;
    --sl-computed-early-caption-md-lineHeight-early: 26px;
    --sl-computed-early-display-lg-fontSize-advanced: 72px;
    --sl-computed-early-display-lg-fontSize-developing: 56px;
    --sl-computed-early-display-lg-fontSize-early: 52px;
    --sl-computed-early-display-lg-lineHeight-advanced: 100px;
    --sl-computed-early-display-lg-lineHeight-developing: 80px;
    --sl-computed-early-display-lg-lineHeight-early: 72px;
    --sl-computed-early-display-md-fontSize-advanced: 60px;
    --sl-computed-early-display-md-fontSize-developing: 44px;
    --sl-computed-early-display-md-fontSize-early: 52px;
    --sl-computed-early-display-md-lineHeight-advanced: 84px;
    --sl-computed-early-display-md-lineHeight-developing: 60px;
    --sl-computed-early-display-md-lineHeight-early: 72px;
    --sl-computed-early-display-sm-fontSize-advanced: 52px;
    --sl-computed-early-display-sm-fontSize-developing: 44px;
    --sl-computed-early-display-sm-fontSize-early: 52px;
    --sl-computed-early-display-sm-lineHeight-advanced: 72px;
    --sl-computed-early-display-sm-lineHeight-developing: 60px;
    --sl-computed-early-display-sm-lineHeight-early: 72px;
    --sl-computed-early-heading-lg-fontSize-advanced: 44px;
    --sl-computed-early-heading-lg-fontSize-developing: 36px;
    --sl-computed-early-heading-lg-fontSize-early: 32px;
    --sl-computed-early-heading-lg-lineHeight-advanced: 60px;
    --sl-computed-early-heading-lg-lineHeight-developing: 52px;
    --sl-computed-early-heading-lg-lineHeight-early: 44px;
    --sl-computed-early-heading-md-fontSize-advanced: 36px;
    --sl-computed-early-heading-md-fontSize-developing: 24px;
    --sl-computed-early-heading-md-fontSize-early: 24px;
    --sl-computed-early-heading-md-lineHeight-advanced: 52px;
    --sl-computed-early-heading-md-lineHeight-developing: 32px;
    --sl-computed-early-heading-md-lineHeight-early: 32px;
    --sl-computed-early-heading-sm-fontSize-advanced: 32px;
    --sl-computed-early-heading-sm-fontSize-developing: 24px;
    --sl-computed-early-heading-sm-fontSize-early: 24px;
    --sl-computed-early-heading-sm-lineHeight-advanced: 44px;
    --sl-computed-early-heading-sm-lineHeight-developing: 32px;
    --sl-computed-early-heading-sm-lineHeight-early: 32px;
    --sl-computed-early-label-lg-fontSize-advanced: 20px;
    --sl-computed-early-label-lg-fontSize-developing: 20px;
    --sl-computed-early-label-lg-fontSize-early: 20px;
    --sl-computed-early-label-lg-lineHeight-advanced: 30px;
    --sl-computed-early-label-lg-lineHeight-developing: 30px;
    --sl-computed-early-label-lg-lineHeight-early: 30px;
    --sl-computed-early-label-md-fontSize-advanced: 18px;
    --sl-computed-early-label-md-fontSize-developing: 18px;
    --sl-computed-early-label-md-fontSize-early: 18px;
    --sl-computed-early-label-md-lineHeight-advanced: 28px;
    --sl-computed-early-label-md-lineHeight-developing: 28px;
    --sl-computed-early-label-md-lineHeight-early: 28px;
    --sl-computed-early-label-sm-fontSize-advanced: 16px;
    --sl-computed-early-label-sm-fontSize-developing: 16px;
    --sl-computed-early-label-sm-fontSize-early: 16px;
    --sl-computed-early-label-sm-lineHeight-advanced: 24px;
    --sl-computed-early-label-sm-lineHeight-developing: 24px;
    --sl-computed-early-label-sm-lineHeight-early: 24px;
    --sl-computed-early-text-lg-fontSize-advanced: 22px;
    --sl-computed-early-text-lg-fontSize-developing: 22px;
    --sl-computed-early-text-lg-fontSize-early: 22px;
    --sl-computed-early-text-lg-lineHeight-advanced: 36px;
    --sl-computed-early-text-lg-lineHeight-developing: 36px;
    --sl-computed-early-text-lg-lineHeight-early: 36px;
    --sl-computed-early-text-md-fontSize-advanced: 20px;
    --sl-computed-early-text-md-fontSize-developing: 20px;
    --sl-computed-early-text-md-fontSize-early: 20px;
    --sl-computed-early-text-md-lineHeight-advanced: 32px;
    --sl-computed-early-text-md-lineHeight-developing: 32px;
    --sl-computed-early-text-md-lineHeight-early: 32px;
    --sl-computed-early-text-sm-fontSize-advanced: 18px;
    --sl-computed-early-text-sm-fontSize-developing: 18px;
    --sl-computed-early-text-sm-fontSize-early: 18px;
    --sl-computed-early-text-sm-lineHeight-advanced: 28px;
    --sl-computed-early-text-sm-lineHeight-developing: 28px;
    --sl-computed-early-text-sm-lineHeight-early: 28px;
    --sl-computed-early-title-lg-fontSize-advanced: 28px;
    --sl-computed-early-title-lg-fontSize-developing: 26px;
    --sl-computed-early-title-lg-fontSize-early: 24px;
    --sl-computed-early-title-lg-lineHeight-advanced: 40px;
    --sl-computed-early-title-lg-lineHeight-developing: 36px;
    --sl-computed-early-title-lg-lineHeight-early: 32px;
    --sl-computed-early-title-md-fontSize-advanced: 24px;
    --sl-computed-early-title-md-fontSize-developing: 28px;
    --sl-computed-early-title-md-fontSize-early: 24px;
    --sl-computed-early-title-md-lineHeight-advanced: 32px;
    --sl-computed-early-title-md-lineHeight-developing: 40px;
    --sl-computed-early-title-md-lineHeight-early: 32px;
    --sl-computed-early-title-sm-fontSize-advanced: 24px;
    --sl-computed-early-title-sm-fontSize-developing: 28px;
    --sl-computed-early-title-sm-fontSize-early: 24px;
    --sl-computed-early-title-sm-lineHeight-advanced: 32px;
    --sl-computed-early-title-sm-lineHeight-developing: 40px;
    --sl-computed-early-title-sm-lineHeight-early: 32px;
    --sl-display-lg-fontSize: var(--sl-display-lg-fontSize-userGroup);
    --sl-display-lg-lineHeight: var(--sl-display-lg-lineHeight-userGroup);
    --sl-display-md-fontSize: var(--sl-display-md-fontSize-userGroup);
    --sl-display-md-lineHeight: var(--sl-display-md-lineHeight-userGroup);
    --sl-display-sm-fontSize: var(--sl-display-sm-fontSize-userGroup);
    --sl-display-sm-lineHeight: var(--sl-display-sm-lineHeight-userGroup);
    --sl-heading-lg-fontSize: var(--sl-heading-lg-fontSize-userGroup);
    --sl-heading-lg-lineHeight: var(--sl-heading-lg-lineHeight-userGroup);
    --sl-heading-md-fontSize: var(--sl-heading-md-fontSize-userGroup);
    --sl-heading-md-lineHeight: var(--sl-heading-md-lineHeight-userGroup);
    --sl-heading-sm-fontSize: var(--sl-heading-sm-fontSize-userGroup);
    --sl-heading-sm-lineHeight: var(--sl-heading-sm-lineHeight-userGroup);
    --sl-label-lg-fontSize: var(--sl-label-lg-fontSize-userGroup);
    --sl-label-lg-lineHeight: var(--sl-label-lg-lineHeight-userGroup);
    --sl-label-md-fontSize: var(--sl-label-md-fontSize-userGroup);
    --sl-label-md-lineHeight: var(--sl-label-md-lineHeight-userGroup);
    --sl-label-sm-fontSize: var(--sl-label-sm-fontSize-userGroup);
    --sl-label-sm-lineHeight: var(--sl-label-sm-lineHeight-userGroup);
    --sl-text-lg-fontSize: var(--sl-text-lg-fontSize-userGroup);
    --sl-text-lg-lineHeight: var(--sl-text-lg-lineHeight-userGroup);
    --sl-text-md-fontSize: var(--sl-text-md-fontSize-userGroup);
    --sl-text-md-lineHeight: var(--sl-text-md-lineHeight-userGroup);
    --sl-text-sm-fontSize: var(--sl-text-sm-fontSize-userGroup);
    --sl-text-sm-lineHeight: var(--sl-text-sm-lineHeight-userGroup);
    --sl-title-lg-fontSize: var(--sl-title-lg-fontSize-userGroup);
    --sl-title-lg-lineHeight: var(--sl-title-lg-lineHeight-userGroup);
    --sl-title-md-fontSize: var(--sl-title-md-fontSize-userGroup);
    --sl-title-md-lineHeight: var(--sl-title-md-lineHeight-userGroup);
    --sl-title-sm-fontSize: var(--sl-title-sm-fontSize-userGroup);
    --sl-title-sm-lineHeight: var(--sl-title-sm-lineHeight-userGroup);
  }
}
