:host {
  --_background: #fff;
  --_foreground: #fff;
  --_border: 1px solid var(--_border-color, #ccc);
  --_gap: 0.25rem;
  --_line-height: 1.5rem;
  --_padding: 2px;
  --_size: 1rem;
}

:host {
  align-items: start;
  cursor: pointer;
  display: inline-flex;
  gap: var(--_gap);
  line-height: var(--_line-height);
  outline: none;
}

:host(:disabled) {
  cursor: default;
  pointer-events: none;
}

:host(:focus-visible) {
  --_border-color: hsl(207, 95%, calc(55% - 8% * 2));
  --_box-shadow: 0 0 0 3px hsla(207, 95%, calc(55% - 8%), 0.25);
}

:host(:--checked) {
  --_foreground: #000;
}

:host([state--checked]) {
  --_foreground: #000;
}

.control {
  background: var(--_background);
  border: var(--_border);
  border-radius: 100%;
  box-shadow: var(--_box-shadow);
  display: inline-flex;
  flex-shrink: 0;
  height: var(--_size);
  margin-block-start: calc((var(--_line-height) - var(--_size)) / 2);
  padding: var(--_padding);
  width: var(--_size);

  &::before {
    background: var(--_foreground);
    border-radius: 100%;
    content: '';
    height: 100%;
    transition: background 0.2s ease-in-out;
    width: 100%;
  }
}
