:host {
  --_direction: column;
  --_gap: 0.5rem;
}

:host {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  vertical-align: top;
}

:host([orientation='horizontal']) {
  --_direction: row;
  --_gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: var(--_direction);
  gap: var(--_gap);
}
