$variants: default, valid, invalid;
$variant-selectors: ':not([valid],[invalid])', ':where([valid])', ':where([invalid])';
$states: unchecked, checked;
$state-selectors: '', ':where(:--checked, :--indeterminate, [state--checked], [state--indeterminate])';
$sizes: md, lg;

:host {
  --_border-radius: var(--sl-border-radius-circle);
  --_border-size: var(--sl-border-width-input-border);
  --_border: var(--_border-size) solid var(--_border-color);
  --_gap: var(--sl-space-input-gap-md);
  --_line-height: var(--sl-text-typeset-line-height-md);
  --_transition: 200ms ease-in-out;
  --sl-size-input-icon-size-md: 20px;
  --sl-size-input-icon-size-lg: 28px;
}

:host {
  align-items: start;
  color: var(--_label-color);
  cursor: pointer;
  display: flex;
  font: var(--sl-text-input-label-md);
  gap: var(--_gap);
  line-height: var(--_line-height);
  outline: none;
  padding: var(--_padding);
}

:host(:disabled) {
  cursor: default;
  pointer-events: none;
}

.box {
  background: var(--_background);
  border: var(--_border);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  display: inline-flex;
  flex-shrink: 0;
  padding: calc((var(--_size) - var(--_icon-size)) / 2 - var(--_border-size));
  transition: var(--_transition);
  transition-property: background, border-color, box-shadow, color, filter;
}

.label {
  margin-block-start: calc((var(--_size) - var(--_line-height)) / 2);
}

sl-icon,
svg {
  align-self: center;
  box-sizing: border-box;
  fill: none;
  height: var(--_icon-size);
  transition: var(--_transition);
  transition-property: background, border-color, box-shadow, fill;
  width: var(--_icon-size);
}

circle {
  fill: var(--_fill, transparent);
}

/**
 * theming 
 */

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_line-height: var(--sl-text-typeset-line-height-#{$size});
    --_padding: var(--sl-space-input-block-#{$size})
      var(--sl-space-input-inline-#{$size})
      var(--sl-space-input-block-#{$size})
      0;
    --_gap: var(--sl-space-input-gap-#{$size});
    --_size: var(--sl-size-input-#{$size});
    --_icon-size: var(--sl-size-input-icon-size-#{$size});
  }
}

@each $variant in $variants {
  $i: index($variants, $variant);
  $variantselector: nth($variant-selectors, $i);

  @each $state in $states {
    $j: index($states, $state);
    $stateselector: nth($state-selectors, $j);

    :host(#{$variantselector + $stateselector}) {
      --_background: var(--sl-color-input-#{$variant}-#{$state}-default-background);
      --_border-color: var(--sl-color-input-#{$variant}-#{$state}-default-border);
      --_label-color: var(--sl-color-input-#{$variant}-#{$state}-default-label);
      --_fill: var(--sl-color-input-#{$variant}-#{$state}-default-icon);
    }

    :host(#{$variantselector + $stateselector}:hover) {
      --_background: var(--sl-color-input-#{$variant}-#{$state}-hover-background);
      --_border-color: var(--sl-color-input-#{$variant}-#{$state}-hover-border);
      --_label-color: var(--sl-color-input-#{$variant}-#{$state}-hover-label);
      --_fill: var(--sl-color-input-#{$variant}-#{$state}-hover-icon);
    }

    :host(#{$variantselector + $stateselector}:active) {
      --_background: var(--sl-color-input-#{$variant}-#{$state}-active-background);
      --_border-color: var(--sl-color-input-#{$variant}-#{$state}-active-border);
      --_label-color: var(--sl-color-input-#{$variant}-#{$state}-active-label);
      --_fill: var(--sl-color-input-#{$variant}-#{$state}-active-icon);
    }

    :host(#{$variantselector + $stateselector}:focus-visible) {
      --_background: var(--sl-color-input-#{$variant}-#{$state}-focus-background);
      --_border-color: var(--sl-color-input-#{$variant}-#{$state}-focus-border);
      --_label-color: var(--sl-color-input-#{$variant}-#{$state}-focus-label);
      --_fill: var(--sl-color-input-#{$variant}-#{$state}-focus-icon);
      --_box-shadow: var(--sl-box-shadow-focus);
    }

    :host(#{$variantselector + $stateselector}:disabled) {
      --_background: var(--sl-color-input-#{$variant}-#{$state}-disabled-background);
      --_border-color: var(--sl-color-input-#{$variant}-#{$state}-disabled-border);
      --_label-color: var(--sl-color-input-#{$variant}-#{$state}-disabled-label);
      --_fill: var(--sl-color-input-#{$variant}-#{$state}-disabled-icon);
    }
  }
}
