---
layout: base.njk
---

{#{% include "./tabs.njk" %}#} {# {% include "./overview.njk" %} {% include "./specs.njk" %}
<h2>Usage</h2>
<h2>Accessibility</h2>
<h2>Code</h2>
#} {#{{ content | safe }}#}

  <header class="ds-component__heading">
    <div class="ds-component__heading-wrapper">
      <h1 class="ds-heading-1">{{ title }}</h1>
      <p class="ds-component__heading-description">{{ description }}</p>
    </div>
  </header>
  {{ content | safe }}
