---
layout: base.njk
---

{#{% include "./tabs.njk" %}#} {# {% include "./overview.njk" %} {% include "./specs.njk" %}
<h2>Usage</h2>
<h2>Accessibility</h2>
<h2>Code</h2>
#} {#{{ content | safe }}#}

  <header class="ds-component__heading">
    <h1 class="ds-heading-2">{{ title }}</h1>
    <p>{{ description }}</p>
  </header>
  {{ content | safe }}
