---
layout: base.njk
---

<header class="ds-component__heading">
  <div class="ds-component__heading-wrapper">
    {% if version[packageName] %}<a href="https://github.com/sl-design-system/components/releases/tag/%40sl-design-system%2F{{packageName}}%40{{version[packageName]}}"><span class="ds-badge">v{{version[packageName]}}</span></a>{% endif %}
    <h1 class="ds-heading-1">
     {# {{ title }}#} {%- for post in collections.component -%}{% if page.url.includes(post.url) %} {{ post.data.title }} {% endif %}{%- endfor -%}
    </h1>
    <p class="ds-component__heading-description">{#{{ description }}#} {%- for post in collections.component -%}{% if page.url.includes(post.url) %} {{ post.data.description }} {% endif %}{%- endfor -%}</p>
  </div>
</header>
<section>
  {#{{ page.templateContent | safe }}#}

  {%- for post in collections.component -%}
{#    {% if page.url === post.url %}#}
    {% if page.url.includes(post.url) %}
      <sl-tab-group> {#class="ds-tabs__container--sticky"#}
{#        {% set testt = collections.usage  %}#}
{#        test url1: {{ testt.url }}#}
{#        test url2: {{ page.url }}#}
{#        post title {{ post.data.title }}#}
{#    {% if page.url.includes(post.url) %}#}
{#    {% endif %}#}

{#        {%- for code in collections.code -%}#}
{#          {% if code.url.includes(page.url) %}#}
{#          code-url:  {{ code.url }}#}
{#          {% endif %}#}
{#          {% if code.url == page.url %}#}
{#            code-url-equals:  {{ code.url }}#}
{#          {% endif %}#}
{#        {%- endfor -%}#}

{#       ifffff {%- for code in collections.code -%}{% if page.url.includes(post.data.title) %}{{ code.url | url }} {{ page.url.includes(post.data.title) }}{% endif %}{%- endfor -%}#}
{#      post_url:  {{ post.url }}#}
        <sl-tab href="{%- for usage in collections.usage -%}{% if usage.url.includes(post.url) %}{{ usage.url | url }}{% endif %}{%- endfor -%}"
          {%- for usage in collections.usage -%}
          {% if usage.url == page.url %}
            selected
          {% endif %}{%- endfor -%}>
        Usage</sl-tab>
        <sl-tab href="{%- for code in collections.code -%}{% if code.url.includes(post.url) %}{{ code.url | url }}{% endif %}{%- endfor -%}" {{ code.url }}
          {%- for code in collections.code -%}
          {% if code.url == page.url %}
        selected
          {% endif %}{%- endfor -%}>Code {#page-url: {{ page.url }} post-url: {{ post.url }}#}</sl-tab>
        {%- for accessibility in collections.accessibility -%}{% if accessibility.url.includes(post.url) %}<sl-tab href="{% if accessibility.url.includes(post.url) %}{{ accessibility.url | url }}{% endif %}"
          {% if accessibility.url == page.url %}
          selected
          {% endif %}>
            Accessibility</sl-tab>{% endif %}{%- endfor -%}
        <sl-tab-panel>
          <div id="myVerticalTabsContent" class="ds-tabs__tab-content">
            <div class="ds-tabs__tab-container">
{#              {{ page.templateContent | safe }}#}
{#              {{ page.url }}#}
{#              {{ post.url }}#}

{#              {%- for post in collections.all -%}#}
{#                <li>{{ post | safe }}<a href="{{ post.url }}">{{ post.url }} {{ post.title }}</a></li>#}
{#              {%- endfor -%}#}


            {%- for usage in collections.usage -%}
{#              usage url: {{ usage.url }}#}
{#              page url: {{ page.url }}#}
{#              {% if usage.url.includes(page.url) %}#}
              {% if usage.url == page.url %}
{#                usage url: {{ usage.url }}#}
{#                page url: {{ page.url }}#}
                {{ usage.templateContent | safe }}
                {#<ds-vertical-tabs link-in-navigation package="avatar"></ds-vertical-tabs>#}
{#                <ds-vertical-tabs link-in-navigation package="avatar" verticalTabContent="{{ usage.templateContent | safe }}"></ds-vertical-tabs>#}
              {% endif %}
            {%- endfor -%}
            </div>
{#          generateVerticalTabs(tabContent);#}
{#          {% include "partials/modules/module-two-column--stacked-cards.njk" %}#}
            {%- for usage in collections.usage -%}
            {% if usage.url == page.url %}
            <ds-vertical-tabs></ds-vertical-tabs>
            {% endif %}
            {%- endfor -%}
{#          <script type="module">
            import { generateVerticalTabs } from '/js/scripts/tabs.js';
            requestAnimationFrame(() => {
              const verticalTabContent = document.getElementById('myVerticalTabsContent');
              console.log('verticalTabContent', verticalTabContent);
              generateVerticalTabs(verticalTabContent);
            });
            // const verticalTabContent = document.getElementById('myVerticalTabsContent');
            // console.log('verticalTabContent', verticalTabContent);
            // generateVerticalTabs(verticalTabContent);
          </script>#}
          </div>
        </sl-tab-panel>
        <sl-tab-panel>
          <div id="myVerticalTabsContentCode" class="ds-tabs__tab-content">
            <div class="ds-tabs__tab-container">
{#              {{ content | safe }}#}
            {%- for code in collections.code -%}
{#              {% if code.url.includes(page.url) %}#}
              {% if code.url == page.url %}
                {{ code.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
            </div>
            {%- for code in collections.code -%}
            {% if code.url == page.url %}
            <ds-vertical-tabs></ds-vertical-tabs>
            {% endif %}
            {%- endfor -%}
{#            <script type="module">#}
{#              import { generateVerticalTabs } from '/js/scripts/tabs.js';#}
{#              requestAnimationFrame(() => {#}
{#                const verticalTabContent = document.getElementById('myVerticalTabsContentCode');#}
{#                console.log('verticalTabContent', verticalTabContent);#}
{#                generateVerticalTabs(verticalTabContent);#}
{#              });#}
{#              // const verticalTabContent = document.getElementById('myVerticalTabsContent');#}
{#              // console.log('verticalTabContent', verticalTabContent);#}
{#              // generateVerticalTabs(verticalTabContent);#}
{#            </script>#}
          </div>
        </sl-tab-panel>
        <sl-tab-panel>
          <div id="myVerticalTabsContentAccessibility" class="ds-tabs__tab-content">
            <div class="ds-tabs__tab-container">
            {%- for accessibility in collections.accessibility -%}
              {% if accessibility.url.includes(page.url) %}
                {{ accessibility.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
            </div>
            {%- for accessibility in collections.accessibility -%}
            {% if accessibility.url.includes(page.url) %}
            <ds-vertical-tabs></ds-vertical-tabs>
            {% endif %}
            {%- endfor -%}
{#            <script type="module">
              import { generateVerticalTabs } from '/js/scripts/tabs.js';
              requestAnimationFrame(() => {
                const verticalTabContent = document.getElementById('myVerticalTabsContentAccessibility');
                console.log('verticalTabContent', verticalTabContent);
                generateVerticalTabs(verticalTabContent);
              });
              // const verticalTabContent = document.getElementById('myVerticalTabsContent');
              // console.log('verticalTabContent', verticalTabContent);
              // generateVerticalTabs(verticalTabContent);
            </script>#}
          </div>
        </sl-tab-panel>
      </sl-tab-group>
{#      <div horizontal class="ds-tabs" role="tablist">#}
{#        <button class="ds-tab">Usage</button>#}
{#        <button class="ds-tab">Code</button>#}
{#        <button class="ds-tab">Accessibility</button>#}
{#        <div class="ds-tabs__tab-content-wrapper">#}
{#          <div class="ds-tabs__tab-content">#}
{#            {%- for usage in collections.usage -%}#}
{#              {% if usage.url.includes(page.url) %}#}
{#                {{ usage.templateContent | safe }}#}
{#              {% endif %}#}
{#            {%- endfor -%}#}
{#          </div>#}
{#          <div class="ds-tabs__tab-content">#}
{#            {%- for code in collections.code -%}#}
{#              {% if code.url.includes(page.url) %}#}
{#                {{ code.templateContent | safe }}#}
{#              {% endif %}#}
{#            {%- endfor -%}#}
{#          </div>#}
{#          <div class="ds-tabs__tab-content">#}
{#            {%- for accessibility in collections.accessibility -%}#}
{#              {% if accessibility.url.includes(page.url) %}#}
{#                {{ accessibility.templateContent | safe }}#}
{#              {% endif %}#}
{#            {%- endfor -%}#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    {% endif %}
  {%- endfor -%}
</section>
<sl-tooltip id="interactiveexample">Interactive example</sl-tooltip>

{#TODO: all tabs with post.url and content | safe #}

{#TODO: tabs are not working properly on keyboard nav change#}
