---
layout: base.njk
---

<header class="ds-component__heading">
  <div class="ds-component__heading-wrapper">
    {% if version[packageName] %}<a href="https://github.com/sl-design-system/components/releases/tag/%40sl-design-system%2F{{packageName}}%40{{version[packageName]}}"><span class="ds-badge">v{{version[packageName]}}</span></a>{% endif %}
    <h1 class="ds-heading-1">
      {{ title }}
    </h1>
    <p class="ds-component__heading-description">{{ description }}</p>
  </div>
</header>
<section>
  {%- for post in collections.component -%}
    {% if page.url === post.url %}
      <sl-tab-group>
        <sl-tab selected>Usage</sl-tab>
        <sl-tab>Code</sl-tab>
        <sl-tab>Accessibility</sl-tab>
        <sl-tab-panel>
          <div id="myVerticalTabsContent" class="ds-tabs__tab-content">
            <div class="ds-tabs__tab-container"></div>
            version: {{version[packageName]}}
            {{packageName}}
            {%- for usage in collections.usage -%}
              {% if usage.url.includes(page.url) %}
                {{ usage.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
            </div>
{#          generateVerticalTabs(tabContent);#}
{#          {% include "partials/modules/module-two-column--stacked-cards.njk" %}#}
          <script type="module">
            import { generateVerticalTabs } from '/js/scripts/tabs.js';
            setTimeout(() => {
              const verticalTabContent = document.getElementById('myVerticalTabsContent');
              console.log('verticalTabContent', verticalTabContent);
              generateVerticalTabs(verticalTabContent);
            });
            // const verticalTabContent = document.getElementById('myVerticalTabsContent');
            // console.log('verticalTabContent', verticalTabContent);
            // generateVerticalTabs(verticalTabContent);
          </script>
          // TODO: content is not wrapped by ds-tabs__tab-container, why??
          </div>
        </sl-tab-panel>
        <sl-tab-panel>
          <div class="ds-tabs__tab-content">
            {%- for code in collections.code -%}
              {% if code.url.includes(page.url) %}
                {{ code.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
        </sl-tab-panel>
        <sl-tab-panel>
          <div class="ds-tabs__tab-content">
            {%- for accessibility in collections.accessibility -%}
              {% if accessibility.url.includes(page.url) %}
                {{ accessibility.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
        </sl-tab-panel>
      </sl-tab-group>
      <div horizontal class="ds-tabs" role="tablist">
        <button class="ds-tab">Usage</button>
        <button class="ds-tab">Code</button>
        <button class="ds-tab">Accessibility</button>
        <div class="ds-tabs__tab-content-wrapper">
          <div class="ds-tabs__tab-content">
            {%- for usage in collections.usage -%}
              {% if usage.url.includes(page.url) %}
                {{ usage.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="ds-tabs__tab-content">
            {%- for code in collections.code -%}
              {% if code.url.includes(page.url) %}
                {{ code.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
          <div class="ds-tabs__tab-content">
            {%- for accessibility in collections.accessibility -%}
              {% if accessibility.url.includes(page.url) %}
                {{ accessibility.templateContent | safe }}
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      </div>
    {% endif %}
  {%- endfor -%}
</section>
<sl-tooltip id="interactiveexample">Interactive example</sl-tooltip>
