---
layout: base.njk
---

<header class="ds-component__heading">
  <div class="ds-component__heading-wrapper">
    <h1 class="ds-heading-1">{{ title }}</h1>
    <p class="ds-component__heading-description">{{ description }}</p>
  </div>
</header>
<div class="ds-components__content">
  {{ content | safe }}
  <ds-vertical-tabs></ds-vertical-tabs>
</div>
