<h2>Color</h2>

<table class="ds-table"><thead>
 <tr>
   <th>Example</th>
   <th>Token title</th>
   <th>Token</th>
 </tr></thead>
 <tbody>
 {% for color in tokens.base.color.palette -%}
   {% for palette in color -%}
     {% for colorPrimary2 in palette -%}
       {% for colorVariantValue2 in colorPrimary2 -%}
         {% if colorVariantValue2.value %}
   <tr>
   <td>
     <div class="ds-tokens__color" style="background-color: {{ colorVariantValue2.value }}"></div>
     {{ colorVariantValue2.value }}
   </td>
   <td class="ds-tokens__description">{{ colorVariantValue2.description | tokenDescription }}</td>
   <td><code>{{ colorVariantValue2.description | myFilter }}</code></td>
   </tr>
        {% endif %}
       {% endfor -%}
     {% endfor -%}
   {% endfor -%}
 {% endfor -%}
 </tbody>
</table>

<h2>Test</h2>


{% for text in tokens.base.text -%}
  <h1>{{ text }}</h1>
  {% for textType in text -%}
    <h3 style="color: red">{{ textType | json }}</h3>
    <h2 style="color: #1f97f9">{{ textType.value }}</h2>
    <div class="ds-tokens__color" style="background-color: {{ colorPrimary.value }}"></div>
    <h2>{{ textType.type }}</h2>
    <h2>{{ textType.description }}</h2>
    <h2>{{ textType.description | myFilter }}</h2>
    <h2 class="ds-tokens__description">{{ textType.description | tokenDescription }}</h2>
    description
    token
    token example: --sl-color-palette-primary-900
  {% endfor -%}

{#  <table class="ds-table"><thead>#}
{#    <tr>#}
{#      <th>Example</th>#}
{#      <th>Token title</th>#}
{#      <th>Token</th>#}
{#    </tr></thead>#}
{#    <tbody>#}
{#    {% for palette in text -%}<h1 style="color: #45cc80">{{ palette | json }}</h1>{% for colorPrimary2 in palette -%}#}
{#      <h2 style="color: #002f62">{{ forloop.index }}</h2>#}
{#      <tr>#}
{#      <td>#}
{#        <div class="ds-tokens__color" style="background-color: {{ colorPrimary2[forloop.index].value }}"></div>#}
{#        {{ colorPrimary2[forloop.index].value }}#}
{#      </td>#}
{#      <td class="ds-tokens__description">{{ colorPrimary2[forloop.index].description | tokenDescription }}</td>#}
{#      <td><code>{{ colorPrimary2[forloop.index].description | myFilter }}</code></td>#}
{#      </tr>{% endfor -%}{% endfor -%}#}
{#    </tbody>#}
{#  </table>#}
{% endfor -%}


<h2>Border</h2>

<table class="ds-table"><thead>
  <tr>
    <th>Example</th>
    <th>Token title</th>
    <th>Token</th>
  </tr></thead>
  <tbody>
  {% for border in tokens.base.border -%}
    {% for property in border -%}
      {% for type in property -%}
        {% for widthValue in type -%}
          {% if widthValue.value %}
          {% if widthValue.type == 'borderWidth' %}
            <tr>
              <td>
                <div class="ds-tokens__border" style="border-width: {{ widthValue.value }}px"></div>
                {{ widthValue.value }}{% if widthValue.value | hasNoUnit %}px{% endif %}
                border width
                {{ widthValue | json }}
                {{ widthValue.type }}
                {{ widthValue.description }}
              </td>
              <td class="ds-tokens__description">{{ widthValue.description | tokenDescription }}</td>
              <td><code>{{ widthValue.description | myFilter }}</code></td>
            </tr>
          {% endif %}
          {% if widthValue.type == 'borderRadius' %}
            <tr>
              <td>
                <div class="ds-tokens__border" style="border-radius: {{ widthValue.value }}{% if widthValue.value | hasNoUnit %}px{% endif %}"></div>
                TODO: % instead px when needed
                {{ widthValue.value }}{% if widthValue.value | hasNoUnit %}px{% endif %}
                border radius
                {{ widthValue | json }}
                {{ widthValue.type }}
                {{ widthValue.description }}
                {{ widthValue.value | hasNoUnit }}
              </td>
              <td class="ds-tokens__description">{{ widthValue.description | tokenDescription }}</td>
              <td><code>{{ widthValue.description | myFilter }}</code></td>
            </tr>
          {% endif %}
          {% endif %}
        {% endfor -%}
      {% endfor -%}
    {% endfor -%}
  {% endfor -%}
  </tbody>
</table>


<h2>Spacing</h2>
<table class="ds-table"><thead>
  <tr>
    <th>Example</th>
    <th>Token title</th>
    <th>Token</th>
  </tr></thead>
  <tbody>
  {% for type in tokens.base.space -%}
    {% for property in type -%}
      {% if property.value %}
      <tr>
        <td>
          <div class="ds-tokens__border" style="width: {{ property.value }}px; height: {{ property.value }}px"></div>
          {{ property.value }}px
          spacing
          {{ property | json }}
          {{ property.type }}
          {{ property.description }}
        </td>
        <td class="ds-tokens__description">{{ property.description | tokenDescription }}</td>
        <td><code>{{ property.description | myFilter }}</code></td>
      </tr>
      {% endif %}
    {% endfor -%}
  {% endfor -%}
  </tbody>
</table>

<h2>Animation</h2>
<table class="ds-table"><thead>
  <tr>
    <th>Example</th>
    <th>Token title</th>
    <th>Token</th>
  </tr></thead>
  <tbody>
  {% for type in tokens.base.animation -%}
    {% if type[0] == "duration" or type[0] == "easing" %}
    {% for animation in type -%}
      {% for property in animation -%}
        <h3>animationType: {{ property }} {{ property == "duration" }}</h3>
        <h3>animationType22: {{ animation }} {{ animation == "duration" }}</h3>
        <h3>animationType33: {{ type }} {{ type == "duration" }} {{ type.length }} duration: {{ type[0] == "duration" }} easing: {{ type[0] == "easing" }}</h3>
          This is animation type duration
        <h2 style="color: #45cc80">{{ property | json }}</h2>
        <tr>
          <td>
            <div class="ds-tokens__border" style="width: {{ property.value }}px; height: {{ property.value }}px"></div>
            {{ property.value }}px
            spacing
            {{ property | json }}
            {{ property.type }}
            {{ property.description }}
          </td>
          <td class="ds-tokens__description">{{ property.description | tokenDescription }}</td>
          <td><code>{{ property.description | myFilter }}</code></td>
        </tr>
      {% endfor -%}
    {% endfor -%}
    {% endif %}
  {% endfor -%}
  </tbody>
</table>
