:host {
  display: inline-flex;
}

// Workaround for sl-menu-item-group being the first child in this slot,
// but *NOT* being the first child in the light DOM.
sl-menu slot::slotted(:nth-child(1 of :not([slot]))) {
  border-block-start: 0;
  margin-block-start: 0;
  padding-block-start: 0;
}
