:host {
  display: flex;
  flex: 1;
}

[part='wrapper'] {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--sl-size-050);
  margin-inline: var(--sl-space-new-md);
}

slot[name='header'] .heading,
slot[name='header']::slotted(*) {
  color: var(--sl-color-foreground-subtlest);
  padding: var(--sl-space-new-md) 0;
}
