:host {
  background: var(--sl-elevation-surface-base-default);
  border: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  color: var(--sl-color-foreground-plain);
  display: none;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  margin: 0;
  opacity: 0;
  overflow: auto;
  padding: var(--sl-size-100) 0;
  scrollbar-width: thin;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s cubic-bezier(0.25, 0, 0.3, 1);
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
  }
}

:host(:popover-open) {
  display: flex;
  opacity: 1;
}

:host([actual-placement='top']) {
  transform-origin: center bottom;
}

:host([actual-placement='top-start']) {
  transform-origin: left bottom;
}

:host([actual-placement='top-end']) {
  transform-origin: right bottom;
}

:host([actual-placement^='top']:popover-open) {
  @starting-style {
    translate: var(--sl-size-100);
  }
}

:host([actual-placement='right']) {
  transform-origin: center left;
}

:host([actual-placement='right-start']) {
  transform-origin: top left;
}

:host([actual-placement='right-end']) {
  transform-origin: bottom left;
}

:host([actual-placement^='right']:popover-open) {
  @starting-style {
    translate: calc(var(--sl-size-100) * -1);
  }
}

:host([actual-placement='bottom']) {
  transform-origin: center top;
}

:host([actual-placement='bottom-start']) {
  transform-origin: left top;
}

:host([actual-placement='bottom-end']) {
  transform-origin: right top;
}

:host([actual-placement^='bottom']:popover-open) {
  @starting-style {
    translate: 0 calc(var(--sl-size-100) - 1);
  }
}

:host([actual-placement='left']) {
  transform-origin: center right;
}

:host([actual-placement='left-start']) {
  transform-origin: top right;
}

:host([actual-placement='left-end']) {
  transform-origin: bottom right;
}

:host([actual-placement^='left']:popover-open) {
  @starting-style {
    translate: var(--sl-size-100);
  }
}

::slotted(sl-menu-item) {
  margin-inline: var(--sl-size-100);
}

::slotted(sl-menu-item-group:not(:first-child)) {
  border-block-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  margin-block-start: var(--sl-size-075);
  padding-block-start: var(--sl-size-100);
}

::slotted(hr) {
  border: 0;
  border-block-start: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-subtle);
  margin: var(--sl-size-075) 0;
  padding: 0;
}
