:host {
  background: var(--sl-color-elevation-surface-raised);
  border: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  color: var(--sl-color-text-default);
  display: none;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  margin: 0;
  max-inline-size: var(--sl-menu-max-inline-size, auto);
  min-inline-size: var(--sl-menu-min-inline-size, min-content);
  opacity: 0;
  overflow: auto;
  padding: var(--sl-space-new-md) 0;
  scrollbar-width: thin;

  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s cubic-bezier(0.25, 0, 0.3, 1);
    transition-property: opacity, scale, translate;
  }
}

:host(:popover-open) {
  @starting-style {
    display: flex;
    opacity: 0;
    scale: 0.8;
  }

  display: flex;
  opacity: 1;
  scale: none;
  translate: none;
}

:host([actual-placement='top']) {
  transform-origin: center bottom;
}

:host([actual-placement='top-start']) {
  transform-origin: left bottom;
}

:host([actual-placement='top-end']) {
  transform-origin: right bottom;
}

:host([actual-placement^='top']:popover-open) {
  @starting-style {
    translate: var(--sl-space-new-md);
  }
}

:host([actual-placement='right']) {
  transform-origin: center left;
}

:host([actual-placement='right-start']) {
  transform-origin: top left;
}

:host([actual-placement='right-end']) {
  transform-origin: bottom left;
}

:host([actual-placement^='right']:popover-open) {
  @starting-style {
    translate: calc(var(--sl-space-new-md) * -1);
  }
}

:host([actual-placement='bottom']) {
  transform-origin: center top;
}

:host([actual-placement='bottom-start']) {
  transform-origin: left top;
}

:host([actual-placement='bottom-end']) {
  transform-origin: right top;
}

:host([actual-placement^='bottom']:popover-open) {
  @starting-style {
    translate: 0 calc(var(--sl-space-new-md) - 1);
  }
}

:host([actual-placement='left']) {
  transform-origin: center right;
}

:host([actual-placement='left-start']) {
  transform-origin: top right;
}

:host([actual-placement='left-end']) {
  transform-origin: bottom right;
}

:host([actual-placement^='left']:popover-open) {
  @starting-style {
    translate: var(--sl-space-new-md);
  }
}

::slotted(sl-menu-item) {
  margin-inline: var(--sl-space-new-md);
}

::slotted(sl-menu-item-group:not(:first-child)) {
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
  margin-block-start: var(--sl-space-new-sm);
  padding-block-start: var(--sl-space-new-md);
}

::slotted(hr) {
  border: 0;
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-borderWidth-default);
  margin: var(--sl-space-new-sm) 0;
  padding: 0;
}
