:host {
  border-radius: var(--sl-size-border-radius-default);
  color: var(--sl-color-text-default);
  display: block;
  flex-grow: 1;
  line-height: 1rem; // FIXME: var(--sl-size-text-lineHeight-200);
}

:host(:hover) .safe-triangle {
  display: block;
}

:host(:focus-visible) {
  outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  outline-offset: var(--sl-border-width-focusring-offset);
  position: relative;
  z-index: 1;
}

:host([selected]) {
  --sl-menu-item-indent: 0;
}

:host([variant='danger']) {
  color: var(--sl-color-text-danger-idle);

  [part='wrapper'] {
    background: var(--sl-color-action-background-danger-subtle-idle);

    &:hover {
      background: var(--sl-color-action-background-danger-subtle-hover);
      color: var(--sl-color-text-danger-hover);
    }

    &:active {
      background: var(--sl-color-action-background-danger-subtle-active);
    }
  }
}

:host([disabled]) {
  color: var(--sl-color-text-disabled);
  pointer-events: none;

  .wrapper {
    cursor: default;
  }
}

::slotted(sl-icon),
sl-icon[name='chevron-right'] {
  --sl-icon-container-size: var(--sl-size-icon-xs);
  --sl-icon-size: var(--sl-size-icon-xs);
}

.safe-triangle {
  block-size: var(--_safe-triangle-block-size);
  clip-path: polygon(var(--_safe-triangle-polygon));
  display: none;
  inline-size: var(--_safe-triangle-inline-size);
  inset: var(--_safe-triangle-inset);
  position: fixed;

  &:hover + [part='wrapper'] {
    background: var(--sl-color-action-background-accent-subtle-hover);
  }
}

[part='wrapper'] {
  align-items: center;
  background: var(--sl-color-action-background-accent-subtle-idle);
  border-radius: var(--sl-size-border-radius-default);
  cursor: pointer;
  display: flex;
  gap: var(--sl-space-new-md);
  padding: var(--sl-space-new-md);
  padding-inline-start: calc(
    var(--sl-menu-item-indent, 0) * (var(--sl-size-icon-sm) + var(--sl-space-new-md)) + var(--sl-space-new-md)
  );

  &:hover {
    background: var(--sl-color-action-background-accent-subtle-hover);
  }

  &:active {
    background: var(--sl-color-action-background-accent-subtle-active);
  }
}

sl-icon[name='check'] {
  --sl-icon-container-size: var(--sl-size-icon-sm);
  --sl-icon-size: var(--sl-size-icon-sm);
}

kbd {
  font-family: var(--sl-text-typeset-font-family-body);
  letter-spacing: 2px;
  margin-inline-start: auto;
  padding-inline-start: var(--sl-space-new-md);
}

sl-icon[name='chevron-right'] {
  margin-inline-start: auto;
  padding-inline-start: var(--sl-space-new-lg);
}

slot[name='submenu']::slotted(sl-menu) {
  // Make sure the first menu item in the nested menu aligns horizontally
  margin-block-start: calc((var(--sl-space-new-md) + var(--sl-size-border-width-default)) * -1);
}
