:host {
  --_background: #fff;
  --_cursor: pointer;
  --_indent: calc(var(--sl-menu-item-indent, 0) * 26px + 6px);
}

:host {
  display: block;
  flex-grow: 1;
}

:host(:hover) {
  --_background: #e0e0e0;
  position: relative;

  .submenu {
    display: flex;
    inset: -4px auto auto calc(100%);
    position: absolute;
    z-index: 1;
  }
}

:host([disabled]) {
  --_cursor: default;
  pointer-events: none;
}

:host([selected]) {
  --_indent: 6px;
}

.wrapper {
  align-items: center;
  background: var(--_background);
  border-radius: 6px;
  cursor: var(--_cursor);
  display: flex;
  gap: 0.25rem;
  padding: 6px;
  padding-inline-start: var(--_indent);
  white-space: nowrap;
}

sl-icon[name='far-check'] {
  padding-inline: 3px;
}

kbd {
  font-family: var(--sl-text-typeset-font-family-body);
  letter-spacing: 2px;
  margin-inline-start: auto;
  padding-inline-start: 0.5rem;
}

sl-icon[name='far-chevron-right'] {
  margin-inline-start: auto;
  padding-inline-start: 1rem;
}

.submenu {
  display: none;
}
