:host {
  display: flex;
  flex: 1;
}

slot[name='header'] span,
slot[name='header']::slotted(*) {
  color: var(--sl-color-text-subtle);
  padding: var(--sl-space-new-md);
}

[part='wrapper'] {
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-new-xs);
  margin-inline: var(--sl-space-new-md);
}
