:host {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-primary-interactive-plain);
  --_bg-opacity: var(--sl-opacity-light-interactive-plain-idle);

  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-plain);
  display: block;
  flex-grow: 1;
}

:host(:focus-visible) {
  outline: var(--sl-color-border-focused) solid var(--sl-border-width-focusring-default);
  outline-offset: var(--sl-border-width-focusring-offset);
  position: relative;
  z-index: 1;
}

:host([selected]) {
  --sl-menu-item-indent: 0;
  --_bg-color: var(--sl-color-background-selected-subtle);

  color: var(--sl-color-text-selected);
}

:host([emphasis='bold'][selected]) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-primary-interactive-bold);

  color: var(--sl-color-foreground-selected-onBold);
}

:host([variant='danger']) {
  --_bg-mix-color: var(--sl-color-background-negative-interactive-plain);

  color: var(--sl-color-foreground-negative-bold);
}

:host([emphasis='bold'][variant='danger']):not([disabled]) {
  --_bg-color: var(--sl-color-background-negative-bold);
  --_bg-mix-color: var(--sl-color-background-negative-interactive-bold);

  color: var(--sl-color-foreground-selected-onBold);
}

:host([disabled]) {
  color: var(--sl-color-foreground-disabled);
  pointer-events: none;

  .wrapper {
    cursor: default;
  }
}

::slotted(sl-icon),
sl-icon[name='chevron-right'] {
  --sl-icon-container-size: var(--sl-size-new-icon-xs);
  --sl-icon-size: var(--sl-size-new-icon-xs);
}

.container:hover .safe-triangle {
  display: block;
}

.safe-triangle {
  display: none;
  position: fixed;

  &:hover + [part='wrapper'] {
    --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
  }
}

[part='wrapper'] {
  align-items: center;
  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border-radius: var(--sl-size-borderRadius-default);
  cursor: pointer;
  display: flex;
  gap: var(--sl-size-100);
  padding: var(--sl-size-075) var(--sl-size-100);
  padding-inline-start: calc(
    var(--sl-menu-item-indent, 0) * (var(--sl-size-new-icon-sm) + var(--sl-size-100)) + var(--sl-size-100)
  );

  &:hover {
    --_bg-opacity: var(--sl-opacity-light-interactive-plain-hover);
  }

  &:active {
    --_bg-opacity: var(--sl-opacity-light-interactive-plain-active);
  }
}

sl-icon[name='check'] {
  --sl-icon-container-size: var(--sl-size-new-icon-sm);
  --sl-icon-size: var(--sl-size-new-icon-sm);
}

kbd {
  font-family: var(--sl-text-typeset-font-family-body);
  letter-spacing: 2px;
  margin-inline-start: auto;
  padding-inline-start: var(--sl-size-100);
}

sl-icon[name='chevron-right'] {
  margin-inline-start: auto;
  padding-inline-start: var(--sl-size-new-lg);
}

slot[name='submenu']::slotted(sl-menu) {
  // Make sure the first menu item in the nested menu aligns horizontally
  margin-block-start: calc((var(--sl-size-100) + var(--sl-size-borderWidth-subtle)) * -1);
}
