:host {
  display: flex;
}

:host([disabled]) {
  pointer-events: none;
}

::slotted(sl-listbox) {
  block-size: fit-content;
  overflow: visible;
}

sl-text-field {
  flex: 1;
  max-inline-size: 100%;
  padding-block: 0;
  padding-inline: var(--_padding-inline) 0;

  &:has(> sl-tag-list) {
    padding-inline: calc(var(--sl-space-new-md) - var(--sl-size-borderWidth-subtle)) 0;
  }
}

sl-text-field:has(+ :popover-open) sl-icon {
  rotate: 180deg;
}

sl-tag-list {
  max-inline-size: 66%;
}

sl-icon {
  transition: rotate 0.2s ease-in-out;
}

[popover] {
  background: var(--sl-elevation-surface-raised-default-idle);
  border: var(--sl-color-border-bold) solid var(--sl-size-borderWidth-subtle);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  margin: 0;
  max-block-size: var(--sl-combobox-listbox-maxBlockSize, 20rem);
  overflow: auto;
  padding: 0;
  scrollbar-width: thin;

  &:popover-open {
    @starting-style {
      display: block;
      opacity: 0;
    }

    display: block;
    opacity: 1;
  }
}
