:host {
  display: flex;
}

sl-text-field {
  flex: 1;
  padding: 0 0 0 var(--_padding-inline);
}

[popover] {
  background: var(--sl-color-elevation-surface-raised);
  border: var(--sl-color-elevation-border-raised) solid var(--sl-size-border-width-default);
  border-radius: var(--sl-size-border-radius-default);
  box-shadow: var(--sl-elevation-shadow-md);
  box-sizing: border-box;
  display: none;
  margin: 0;
  padding: var(--sl-space-new-md) 0;

  @supports not selector(:popover-open) {
    position: fixed;
  }

  &:popover-open {
    @starting-style {
      display: flex;
      opacity: 0;
    }

    display: flex;
    opacity: 1;
  }
}

::slotted([role='listbox']) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-space-new-2xs);
  inline-size: 100%;
  padding-inline: var(--sl-space-new-md);
}
