:host {
  display: flex;
  vertical-align: middle;
}

:host([disabled]) {
  pointer-events: none;
}

:host([size='lg']) button {
  block-size: calc(1lh + (var(--sl-size-175) - var(--sl-size-borderWidth-default)) * 2);
}

::slotted(sl-listbox) {
  block-size: fit-content;
  overflow: visible;
}

sl-text-field {
  flex: 1;
  max-inline-size: 100%;

  &:has(> sl-tag-list) {
    padding-inline: calc(var(--sl-size-100) - var(--sl-size-borderWidth-subtle)) 0;
  }
}

sl-text-field:has(+ :popover-open) sl-icon {
  rotate: 180deg;
}

sl-tag-list {
  max-inline-size: 66%;
}

sl-tag {
  outline-offset: 0;
  outline-width: 0;

  &.focused {
    outline: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-focused);
  }
}

@media (prefers-reduced-motion: no-preference) {
  sl-icon {
    transition: rotate 0.2s ease-in-out;
  }
}

[part='wrapper'] {
  background: var(--sl-elevation-surface-raised-default);
  border: var(--sl-size-borderWidth-subtle) solid var(--sl-color-border-plain);
  border-radius: var(--sl-size-borderRadius-default);
  box-shadow: var(--sl-elevation-shadow-overlay);
  box-sizing: border-box;
  display: none;
  margin: 0;
  max-block-size: var(--sl-combobox-listbox-maxBlockSize, 20rem);
  overflow: auto;
  padding: 0;
  scrollbar-width: thin;

  &:popover-open {
    @starting-style {
      display: block;
      opacity: 0;
    }

    display: block;
    opacity: 1;
  }
}

button {
  align-items: center;
  appearance: none;
  aspect-ratio: 1;
  background: transparent;
  block-size: calc(1lh + (var(--sl-size-100) - var(--sl-size-borderWidth-default)) * 2);
  border: 0;
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-secondary-bold);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: 200ms ease-in-out;
    transition-property: rotate;
  }
}
