:host {
  border-block-end: var(--sl-color-border-plain) solid var(--sl-size-borderWidth-default);
  inline-size: 100%;
  margin-block-end: var(--sl-size-075);
  margin-inline: 0;
  outline: none;
  padding-block-end: var(--sl-size-100);
}

:host::before {
  display: none;
}

[part='container'] {
  margin-inline: var(--sl-size-100);
  outline: transparent solid var(--sl-size-borderWidth-focusRing);
  outline-offset: var(--sl-size-outlineOffset-default);
  position: relative;
}

:host(:where(:focus-visible, [current])) [part='container'] {
  outline-color: var(--sl-color-border-focused);
}

:host(:where(:hover, :focus-visible, [current])) [part='container']::before {
  background: var(--sl-color-background-selected-bold);
  border-radius: var(--sl-size-borderRadius-none) var(--sl-size-borderRadius-child)
    var(--sl-size-borderRadius-child) var(--sl-size-borderRadius-none);
  content: '';
  inline-size: var(--sl-size-050);
  inset-block: var(--sl-size-025);
  inset-inline-start: calc(var(--sl-size-100) * -1);
  position: absolute;
}

sl-icon {
  visibility: visible;
}
