:host {
  flex-direction: column;
}

:host([has-groups]) {
  .other {
    display: none;
  }

  sl-option::part(wrapper) {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.group {
  color: var(--sl-color-text-plain);
}

.other {
  border-block-start: var(--sl-color-elevation-border-raised) solid var(--sl-size-border-width-default);
  margin-block-start: var(--sl-space-new-sm);
  padding-block-start: var(--sl-space-new-lg);
  padding-inline-start: calc(var(--sl-space-new-2xl) + var(--sl-space-new-md));
}
