:host {
  --_border-radius: --_var(--sl-border-radius-button-md);

  display: inline-flex;
}

:host([size='sm']) {
  --_border-radius: --_var(--sl-border-radius-button-sm);
}

:host([size='lg']) {
  --_border-radius: --_var(--sl-border-radius-button-lg);
}

::slotted(*) {
  border-radius: 0;
}

::slotted(:not(:last-child)) {
  border-inline-end: 0;
}

::slotted(:first-child) {
  border-end-start-radius: var(--_border-radius);
  border-start-start-radius: var(--_border-radius);
}

::slotted(:last-child) {
  border-end-end-radius: var(--_border-radius);
  border-start-end-radius: var(--_border-radius);
}
