name: 'Chromatic'

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened, closed]
  push:
    branches: [ "main" ]

env:
  FIGMA_TOKEN: ${{ secrets.FIGMA_AUTH_TOKEN }}
  FONT_AWESOME_AUTH_TOKEN: ${{ secrets.FONT_AWESOME_AUTH_TOKEN }}

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    if: '! github.event.pull_request.draft'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: yarn install --immutable
      - name: Publish to Chromatic - Components
        uses: chromaui/action@v1
        with:
          buildScriptName: components
          exitOnceUploaded: true
          projectToken: ${{ secrets.CHROMATIC_TOKEN }}
          workingDir: chromatic
      - name: Publish to Chromatic - Themes
        uses: chromaui/action@v1
        with:
          buildScriptName: chromatic-themes
          exitOnceUploaded: true
          projectToken: ${{ secrets.CHROMATIC_TOKEN_THEMES }}
          workingDir: chromatic


