@import './../breakpoints';

.components-wrapper {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
  row-gap: 24px;
}

.wrapper {
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.component {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

@media screen and (min-width: $xl-breakpoint) {
  .ds-component__heading {
    display: grid;
    grid-column-gap: 7.2rem;
    grid-template-columns: 7fr 1fr;
  }
}

.ds-component__heading-wrapper {
  background-color: var(--heading-background);
  border-radius: 6px;
  color: var(--heading-color);
  //margin-bottom: 16px;
  //padding: 16px 24px;
  padding: 2.4rem 4rem;
}

.ds-component__heading-description {
  //font-weight: 400;
  font-size: 1.8rem; //1.6rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.ds-component__buttons-wrapper {
  column-gap: 16px;
  display: flex;
  margin: 24px 0;
}

.ds-success {
  color: var(--helper-text);
  font-size: 1.4rem;
  //margin: 1.6rem 0;
  margin: 2.4rem 0 0;
  position: relative;

  img {
    width: 100%;
  }

  //img[title='light'] {
  //  display: inline-block;
  //}

  //img[title='dark'] {
  //  display: none;
  //}

  //@media (prefers-color-scheme: dark) {
  //  /* stylelint-disable-next-line max-nesting-depth */
  //  img[title='light'] {
  //    display: none;
  //  }
  //
  //  /* stylelint-disable-next-line max-nesting-depth */
  //  img[title='dark'] {
  //    display: inline-block;
  //  }
  //}
}

.ds-success__content {
  position: relative;

  &::before {
    background: var(--success-color);
    border-radius: 4px;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 0.8rem 0;

    /* stylelint-disable-next-line max-nesting-depth */
    * {
      color: var(--success-color);
    }
  }
}

.ds-danger {
  color: var(--helper-text);
  font-size: 1.4rem;
  //margin: 1.6rem 0;
  margin: 2.4rem 0 0;

  img {
    width: 100%;
  }

  //img[title='light'] {
  //  display: inline-block;
  //}
  //
  //img[title='dark'] {
  //  display: none;
  //}

  //@media (prefers-color-scheme: dark) {
  //  /* stylelint-disable-next-line max-nesting-depth */
  //  img[title='light'] {
  //    display: none;
  //  }
  //
  //  /* stylelint-disable-next-line max-nesting-depth */
  //  img[title='dark'] {
  //    display: inline-block;
  //  }
  //}
}

.ds-danger__content {
  position: relative;

  &::before {
    background: var(--danger-color);
    border-radius: 4px;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  :first-child {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 0.8rem 0;

    /* stylelint-disable-next-line max-nesting-depth */
    * {
      color: var(--danger-color);
    }
  }
}

.ds-do-dont__picture {
  background-color: var(--picture-background);
  border-radius: 4px;
  display: inline-block;
  height: 200px;
  margin-bottom: 0.8rem;
  object-fit: contain;

  //@media (prefers-color-scheme: dark) {
  //  /* stylelint-disable-next-line max-nesting-depth */
  //  & {
  //    display: none;
  //  }
  //}
}

//.ds-do-dont__dark-picture {
//  border-radius: 4px;
//  display: none;
//  background-color: var(--picture-background);
//  margin-bottom: 0.8rem;
//  height: 200px;
//  object-fit: contain;
//
//  @media (prefers-color-scheme: dark) {
//    /* stylelint-disable-next-line max-nesting-depth */
//    & {
//      display: inline-block;
//    }
//  }
//}

@media screen and (min-width: $xl-breakpoint) {
  .ds-do-dont {
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
