.wrapper {
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.component {
  display: flex;
  flex-direction: column;
}

.ds-component__heading {
  background-color: #36f;
  border-radius: 6px;
  color: #fefefe;
  margin-bottom: 16px;
  padding: 16px 24px;
}
