$sizes: md, lg;

:host {
  --_main-background-color: rgb(var(--sl-color-palette-neutral-400));
  --_thumb-position: 0%;
  outline: none;
  align-items: start;
  display: inline-flex;
  flex-direction: column;
  gap: var(--_gap);
  line-height: var(--_line-height);
}

:host([checked]) {
  --_main-background-color: rgb(var(--sl-color-palette-success-base));
  --_thumb-position: calc(var(--_toggle-width) - var(--_thumb-size) - (2 * var(--_toggle-padding)));
}

:host(:focus-visible) .wrapper {
  --_box-shadow: var(--sl-box-shadow-focus);
}
:host(:where(:disabled, [internals-disabled])) {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}


.wrapper {
  background-color: var(--_main-background-color);
  border-radius: calc((var(--_thumb-size) + var(--_toggle-padding) * 2) / 2);
  box-shadow: var(--_box-shadow);
  cursor: pointer;
  display: inline-flex;
  padding: var(--_toggle-padding);
  transition: background-color var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  width: var(--_toggle-width);

  div {
    background-color: white;
    border-radius: calc(var(--_thumb-size) / 2);
    height: var(--_thumb-size);
    transition: translate var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
    translate: var(--_thumb-position);
    width: var(--_thumb-size);
    will-change: transform;
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_toggle-padding: var(--sl-space-input-block-#{$size});
    --_thumb-size: var(--sl-size-input-#{$size});
    --_toggle-width: calc(var(--_thumb-size) * 2) ;
  }
}


