$sizes: md, lg;

:host {
  --_main-background-color: rgb(var(--sl-color-palette-neutral-400));
  --_thumb-position: 0%;
  --isLTR: 1;
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: var(--_gap);
  line-height: var(--_line-height);
  outline: none;
}
:host-context([dir="rtl"]){
  --isLTR: -1;
}

:host([checked]) {
  --_main-background-color: rgb(var(--sl-color-palette-success-base));
  --_thumb-position: calc((var(--_toggle-width) - (2 * var(--_toggle-padding)) - 100%) * var(--isLTR));//calc(var(--_toggle-width) - var(--_thumb-size) - (2 * var(--_toggle-padding)));
}

:host(:focus-visible) .track {
  --_box-shadow: var(--sl-box-shadow-focus);
}
:host(:where(:disabled, [internals-disabled])) {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--_gap);
  justify-content: space-between;
}

.track {
  background-color: var(--_main-background-color);
  border-radius: calc((var(--_thumb-size) + var(--_toggle-padding) * 2) / 2);
  box-shadow: var(--_box-shadow);
  display: inline-grid;
  transition: background-color var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  padding: var(--_toggle-padding);
  width: var(--_toggle-width);
  
  
  div {
    background-color: white;
    border-radius: calc(var(--_thumb-size) / 2);
    height: var(--_thumb-size);
    translate: var(--_thumb-position);
    width: var(--_thumb-size);
    will-change: transform;
    
    @media (prefers-reduced-motion: no-preference) {
      transition: translate var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
    }
  }
}

@each $size in $sizes {
  :host([size='#{$size}']) {
    --_toggle-padding: var(--sl-space-input-block-#{$size});
    --_thumb-size: var(--sl-size-input-#{$size});
    --_toggle-width: calc(var(--_thumb-size) * 2) ;
    --_gap: var(--sl-space-input-gap-#{$size});
  }
}


