:host {
  --toggle-width: 40px;
  --toggle-padding: 2px;
  --thumb-position: 0%;
  --thumb-size: 20px;

 background-color: rgb(var(--sl-color-palette-neutral-400));
 border-radius: calc((var(--thumb-size) + var(--toggle-padding) * 2) / 2);
 cursor: pointer;
 display: inline-flex;
 padding: var(--toggle-padding);
 width: var(--toggle-width);
}

div {
  will-change: transform;
  transition: translate var(--sl-animation-duration-normal) var(--sl-animation-easing-ease-in-out);
  translate: var(--thumb-position);
  background-color: white;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: calc(var(--thumb-size) / 2);
}

:host([checked]) {
  background-color: rgb(var(--sl-color-palette-success-base));
  --thumb-position: calc(var(--toggle-width) - var(--thumb-size) - (2 * var(--toggle-padding)));
}
