:host {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-secondary-interactive-plain);
  --_bg-opacity: var(--sl-opacity-interactive-plain-idle);
  --_transition-duration: var(--sl-animation-button-duration);
  --_transition-easing: var(--sl-animation-button-easing);
  --_border-width: var(--sl-size-borderWidth-action);

  background: color-mix(in srgb, var(--_bg-color), var(--_bg-mix-color) calc(100% * var(--_bg-opacity)));
  border: var(--_border-width) solid var(--sl-color-border-secondary-bold);
  border-radius: var(--sl-size-borderRadius-default);
  color: var(--sl-color-foreground-secondary-bold);
  cursor: pointer;
  display: inline-flex;
  outline-color: transparent;
  transform: var(--_transform);
  vertical-align: middle;
}

:host(:hover) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-hover);
}

:host(:active) {
  --_bg-opacity: var(--sl-opacity-interactive-plain-active);
}

:host(:focus-visible) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

// selectors based on attributes

:host([shape='pill']) {
  border-radius: var(--sl-size-borderRadius-full);
}

:host([pressed]) {
  --_bg-color: transparent;
  --_bg-mix-color: var(--sl-color-background-selected-interactive-plain);

  border-color: var(--sl-color-border-selected);
  color: var(--sl-color-foreground-selected-bold);
}

:host([fill='ghost']) {
  --_border-width: var(--sl-size-borderWidth-none);
}

:host([emphasis='subtle'][pressed]) {
  --_bg-color: var(--sl-color-background-selected-subtlest);
}

:host([emphasis='bold'][pressed]) {
  --_bg-color: var(--sl-color-background-selected-bold);
  --_bg-mix-color: var(--sl-color-background-selected-interactive-bold);

  color: var(--sl-color-foreground-selected-onBold);
}

:host([disabled]),
:host([disabled][pressed]) {
  --_bg-color: transparent;
  --_bg-mix-color: transparent;

  border-color: var(--sl-color-border-disabled);
  color: var(--sl-color-foreground-disabled);
  cursor: default;
  pointer-events: none;
}

:host([size='lg']) [part='wrapper'] {
  --_button-border-radius: var(--sl-border-radius-button-icon-only-lg);
  --_font: var(--sl-text-button-text-lg);
  --sl-icon-container-size: var(--sl-size-button-icon-container-icon-only-lg);

  padding: calc(var(--sl-space-125) - var(--_border-width))
    calc(var(--sl-space-new-toggleButton-nonActive-md) - var(--_border-width));
}

:host([pressed]) [part='wrapper'] {
  padding-inline: calc(var(--sl-space-300) - var(--_border-width));
}

:host([icon-only]) [part='wrapper'] {
  aspect-ratio: 1;
  line-height: var(--sl-size-new-icon-md);
  padding: calc(var(--sl-space-100) - var(--_border-width));
}

:host([icon-only][size='lg']) [part='wrapper'] {
  padding: calc(var(--sl-space-150) - var(--_border-width));
}

:host(:where(:active, :focus-visible, :hover)) {
  transition-duration: var(--_transition-duration);
  transition-property: border-color, color, outline-color;
  transition-timing-function: var(--_transition-easing);
}

:host([pressed]) slot[name='default'],
:host(:not([pressed])) slot[name='pressed'] {
  display: none;
}

:host([error]),
:host([error][pressed]) {
  --_bg-color: var(--sl-color-background-accent-red-bold);
  --_bg-mix-color: var(--sl-color-background-accent-red-interactive-bold);

  color: var(--sl-color-foreground-selected-onBold);
}

[part='wrapper'] {
  align-items: center;
  display: flex;
  gap: var(--sl-space-new-sm);
  justify-content: center;
  min-block-size: 1lh;
  padding: calc(var(--sl-space-075) - var(--_border-width))
    calc(var(--sl-space-new-toggleButton-nonActive-md) - var(--_border-width));
  transition: background var(--_transition-duration) var(--_transition-easing);
}

sl-icon,
::slotted(sl-icon) {
  fill: currentcolor;
  pointer-events: none; // Prevent the icon from ever gaining focus inside the button
}
