:host {
  --_background: var(--sl-color-button-default-ghost-idle-background);
  --_border-color: var(--sl-color-button-default-ghost-idle-border);
  --_border-radius: var(--sl-border-radius-button-md);
  --_border-width: var(--sl-border-width-button-ghost);
  --_color: var(--sl-color-button-default-ghost-idle-foreground);
  --_focus-outline-offset: var(--sl-border-width-focusring-offset);
  --_focus-outline: var(--sl-color-focusring-default) solid var(--sl-border-width-focusring-default);
  --_font: var(--sl-text-button-text-md);
  --_icon-container-size: var(--sl-size-button-icon-md);
  --_label-gap: var(--sl-space-button-gap-md);
  --_padding-block: var(--sl-space-button-ghost-icon-only-md);
  --_padding-inline: var(--sl-space-button-ghost-icon-only-md);
  --_transition-duration: var(--sl-animation-button-duration);
  --_transition-easing: var(--sl-animation-button-easing);

  border: var(--_border-width) solid var(--_border-color);
  border-radius: var(--_border-radius);
  color: var(--_color);
  cursor: pointer;
  display: inline-flex;
  font: var(--_font);
  outline-color: transparent;
  transform: var(--_transform);
  vertical-align: middle;
}

:host(:hover) {
  --_background: var(--sl-color-button-default-ghost-hover-background);
}

:host(:active) {
  --_background: var(--sl-color-button-default-ghost-active-background);
}

:host([pressed]) {
  --_background: var(--sl-color-button-default-ghost-selected-idle-background);
}

:host([pressed]:hover) {
  --_background: var(--sl-color-button-default-ghost-selected-hover-background);
}

:host([pressed]:active) {
  --_background: var(--sl-color-button-default-ghost-selected-active-background);
}

:host([disabled]) {
  --_background: var(--sl-color-button-default-ghost-disabled-background);

  cursor: default;
  pointer-events: none;
}

:host(:focus-visible) {
  outline: var(--_focus-outline);
  outline-offset: var(--_focus-outline-offset);
}

:host([fill='outline']) {
  --_border-width: var(--sl-border-width-button-outline);
  --_background: var(--sl-color-button-default-outline-idle-background);
  --_border-color: var(--sl-color-button-default-outline-idle-border);
  --_color: var(--sl-color-button-default-outline-idle-foreground);
}

:host([fill='outline']:hover) {
  --_background: var(--sl-color-button-default-outline-hover-background);
}

:host([fill='outline']:active) {
  --_background: var(--sl-color-button-default-outline-active-background);
}

:host([fill='outline'][pressed]) {
  --_background: var(--sl-color-button-default-outline-selected-idle-background);
}

:host([fill='outline'][pressed]:hover) {
  --_background: var(--sl-color-button-default-outline-selected-hover-background);
}

:host([fill='outline'][pressed]:active) {
  --_background: var(--sl-color-button-default-outline-selected-active-background);
}

:host([fill='outline'][disabled]) {
  --_background: var(--sl-color-button-default-outline-disabled-background);
  --_border-color: var(--sl-color-button-default-outline-disabled-border);
  --_color: var(--sl-color-button-default-outline-disabled-foreground);
}

:host([icon-only]) [part='wrapper'] {
  aspect-ratio: 1;
}

:host([size='lg']) {
  --_border-radius: var(--sl-border-radius-button-lg);
  --_font: var(--sl-text-button-text-lg);
  --_icon-container-size: var(--sl-size-button-icon-lg);
  --_padding-block: var(--sl-space-button-ghost-icon-only-lg);
  --_padding-inline: var(--sl-space-button-ghost-icon-only-lg);
}

:host(:where(:active, :focus-visible, :hover)) {
  transition-duration: var(--_transition-duration);
  transition-property: border-color, color, outline-color;
  transition-timing-function: var(--_transition-easing);
}

:host([pressed]) slot[name='default'],
:host(:not([pressed])) slot[name='pressed'] {
  display: none;
}

:host([error]),
:host([error][pressed]) {
  --_background: var(--sl-color-button-danger-solid-idle-background);
  --_border-color: var(--sl-color-button-danger-solid-idle-background);
  --_color: var(--sl-color-button-danger-solid-idle-foreground);
}

[part='wrapper'] {
  align-items: center;
  background: var(--_background);
  display: flex;
  gap: var(--_label-gap);
  justify-content: center;
  min-block-size: 1lh;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: background var(--_transition-duration) var(--_transition-easing);
}

sl-icon,
::slotted(sl-icon) {
  --sl-icon-container-size: var(--_icon-container-size);

  fill: var(--_color);
  pointer-events: none; // Prevent the icon from ever gaining focus inside the button
}
