/**
 * Copyright 2022 Sanoma Learning
 * SPDX-License-Identifier: Apache-2.0
 */
:root {
  --sl-color-button-primary-ghost-hover-border: #;
  --sl-body-background: rgb(var(--sl-color-palette-white-base));
  --sl-box-shadow-none: 0 0 0 0 rgb(var(--sl-color-palette-transparent-base));
  --sl-box-shadow-focus: 0 0 0 3px rgba(var(--sl-color-palette-info-300) / var(--sl-opacity-800));
  --sl-color-breadcrumb-divider: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-focusring-default: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-field-label-select-panel-bacground-copy: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-field-label-select-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-disabled-foreground: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-field-label-select-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-focus-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-input-field-label-select-selected-border: rgb(var(--sl-color-palette-accent-base));
  --sl-color-input-field-label-select-selected-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-input-field-label-select-selected-background: rgb(var(--sl-color-palette-accent-50));
  --sl-color-input-field-label-select-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-active-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-field-label-select-active-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-input-field-label-select-default-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-default-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-input-field-label-select-default-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-divider-line: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-field-label-select-group-title-foreground: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-field-label-select-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-input-field-label-select-hover-foreground: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-input-field-label-select-hover-background: rgb(var(--sl-color-palette-accent-100));
  --sl-color-input-field-label-icon-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-field-label-text-disabled: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-helper-icon-disabled: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-helper-text-disabled: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-text-field-valid-active-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-input-text-field-valid-hover-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-input-text-field-valid-default-icon: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-text-field-valid-default-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-text-field-valid-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-text-field-invalid-active-background: rgb(var(--sl-color-palette-danger-50));
  --sl-color-input-text-field-invalid-hover-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-text-field-invalid-default-icon: rgb(var(--sl-color-palette-danger-600));
  --sl-color-input-text-field-invalid-default-border: rgb(var(--sl-color-palette-danger-600));
  --sl-color-input-text-field-invalid-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-text-field-default-disabled-placeholder: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-text-field-default-disabled-input-text: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-text-field-default-disabled-icon: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-text-field-default-disabled-label: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-text-field-default-disabled-border: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-text-field-default-disabled-background: rgb(var(--sl-color-palette-neutral-50));
  --sl-color-input-text-field-default-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-text-field-default-active-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-input-text-field-default-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-input-text-field-default-default-placeholder: rgb(var(--sl-color-palette-neutral-600));
  --sl-color-input-text-field-default-default-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-text-field-default-default-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-text-field-default-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-checked-disabled-handle: rgb(var(--sl-color-palette-neutral-50));
  --sl-color-input-switch-default-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-switch-default-checked-disabled-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-input-switch-default-checked-focus-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-checked-focus-background: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-switch-default-checked-active-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-checked-active-background: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-switch-default-checked-hover-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-checked-hover-background: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-switch-default-checked-default-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-checked-default-background: rgb(var(--sl-color-palette-success-400));
  --sl-color-input-switch-default-unchecked-disabled-handle: rgb(var(--sl-color-palette-neutral-50));
  --sl-color-input-switch-default-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-input-switch-default-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-150));
  --sl-color-input-switch-default-unchecked-focus-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-unchecked-active-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-unchecked-active-background: rgb(var(--sl-color-palette-neutral-500));
  --sl-color-input-switch-default-unchecked-hover-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-unchecked-hover-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-switch-default-unchecked-default-handle: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-switch-default-unchecked-default-background: rgb(var(--sl-color-palette-neutral-300));
  --sl-color-input-option-valid-checked-disabled-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-focus-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-active-background: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-option-valid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-hover-background: rgb(var(--sl-color-palette-success-700));
  --sl-color-input-option-valid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-checked-default-background: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-valid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-valid-unchecked-focus-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-option-valid-unchecked-focus-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-valid-unchecked-active-icon: rgb(var(--sl-color-palette-success-800));
  --sl-color-input-option-valid-unchecked-active-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-active-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-input-option-valid-unchecked-hover-icon: rgb(var(--sl-color-palette-success-600));
  --sl-color-input-option-valid-unchecked-hover-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-hover-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-input-option-valid-unchecked-default-icon: rgb(var(--sl-color-palette-success-500));
  --sl-color-input-option-valid-unchecked-default-border: rgb(var(--sl-color-palette-success-base));
  --sl-color-input-option-valid-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-invalid-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-focus-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-active-background: rgb(var(--sl-color-palette-danger-800));
  --sl-color-input-option-invalid-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-hover-background: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-option-invalid-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-checked-default-background: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-disabled-icon: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-option-invalid-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-invalid-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-invalid-unchecked-focus-icon: rgb(var(--sl-color-palette-danger-300));
  --sl-color-input-option-invalid-unchecked-focus-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-invalid-unchecked-active-icon: rgb(var(--sl-color-palette-danger-700));
  --sl-color-input-option-invalid-unchecked-active-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-active-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-input-option-invalid-unchecked-hover-icon: rgb(var(--sl-color-palette-danger-500));
  --sl-color-input-option-invalid-unchecked-hover-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-hover-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-input-option-invalid-unchecked-default-icon: rgb(var(--sl-color-palette-danger-400));
  --sl-color-input-option-invalid-unchecked-default-border: rgb(var(--sl-color-palette-danger-base));
  --sl-color-input-option-invalid-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-disabled-icon: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-default-checked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-checked-disabled-background: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-checked-focus-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-checked-active-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-active-background: rgb(var(--sl-color-palette-primary-600));
  --sl-color-input-option-default-checked-hover-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-hover-background: rgb(var(--sl-color-palette-primary-800));
  --sl-color-input-option-default-checked-default-icon: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-checked-default-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-disabled-icon: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-label: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-input-option-default-unchecked-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-input-option-default-unchecked-focus-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-focus-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-input-option-default-unchecked-active-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-active-background: rgb(var(--sl-color-palette-info-200));
  --sl-color-input-option-default-unchecked-hover-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-hover-background: rgb(var(--sl-color-palette-info-150));
  --sl-color-input-option-default-unchecked-default-icon: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-default-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-input-option-default-unchecked-default-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-surface-solid-accent-foreground: rgb(var(--sl-color-palette-accent-50));
  --sl-color-surface-solid-accent-background: rgb(var(--sl-color-palette-accent-base));
  --sl-color-surface-solid-secondary-foreground: rgb(var(--sl-color-palette-white-base));
  --sl-color-surface-solid-secondary-background: rgb(var(--sl-color-palette-neutral-200));
  --sl-color-surface-solid-primary-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-surface-solid-primary-background: rgb(var(--sl-color-palette-white-base));
  --sl-color-button-danger-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-danger-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-focus-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-active-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-link-active-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-active-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-hover-border: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-link-hover-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-hover-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-link-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-ghost-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-danger-ghost-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-ghost-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-ghost-active-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-ghost-active-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-ghost-active-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-ghost-hover-border: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-ghost-hover-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-ghost-hover-background: rgb(var(--sl-color-palette-danger-100));
  --sl-color-button-danger-ghost-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-ghost-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-ghost-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-danger-outline-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-danger-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-danger-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-outline-focus-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-outline-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-focus-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-outline-active-border: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-active-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-active-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-outline-hover-border: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-hover-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-outline-hover-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-outline-idle-border: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-outline-idle-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-solid-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-danger-solid-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-danger-solid-focus-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-solid-focus-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-solid-focus-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-solid-active-border: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-solid-active-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-solid-active-background: rgb(var(--sl-color-palette-danger-300));
  --sl-color-button-danger-solid-hover-border: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-solid-hover-foreground: rgb(var(--sl-color-palette-danger-900));
  --sl-color-button-danger-solid-hover-background: rgb(var(--sl-color-palette-danger-200));
  --sl-color-button-danger-solid-idle-border: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-danger-solid-idle-foreground: rgb(var(--sl-color-palette-danger-800));
  --sl-color-button-danger-solid-idle-background: rgb(var(--sl-color-palette-danger-150));
  --sl-color-button-warning-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-warning-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-focus-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-active-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-active-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-hover-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-hover-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-link-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-ghost-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-warning-ghost-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-ghost-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-ghost-active-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-ghost-active-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-ghost-active-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-ghost-hover-border: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-ghost-hover-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-ghost-hover-background: rgb(var(--sl-color-palette-warning-100));
  --sl-color-button-warning-ghost-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-ghost-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-ghost-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-warning-outline-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-warning-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-warning-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-outline-focus-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-focus-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-outline-active-border: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-outline-active-foreground: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-outline-active-background: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-outline-hover-border: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-outline-hover-foreground: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-outline-hover-background: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-outline-idle-border: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-outline-idle-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-solid-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-warning-solid-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-warning-solid-focus-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-solid-focus-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-solid-focus-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-solid-active-border: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-solid-active-foreground: rgb(var(--sl-color-palette-warning-900));
  --sl-color-button-warning-solid-active-background: rgb(var(--sl-color-palette-warning-300));
  --sl-color-button-warning-solid-hover-border: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-solid-hover-foreground: rgb(var(--sl-color-palette-warning-800));
  --sl-color-button-warning-solid-hover-background: rgb(var(--sl-color-palette-warning-200));
  --sl-color-button-warning-solid-idle-border: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-warning-solid-idle-foreground: rgb(var(--sl-color-palette-warning-700));
  --sl-color-button-warning-solid-idle-background: rgb(var(--sl-color-palette-warning-150));
  --sl-color-button-success-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-success-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-link-focus-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-link-active-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-link-hover-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-link-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-ghost-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-success-ghost-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-ghost-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-ghost-active-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-ghost-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-ghost-active-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-ghost-hover-border: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-ghost-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-ghost-hover-background: rgb(var(--sl-color-palette-success-100));
  --sl-color-button-success-ghost-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-ghost-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-ghost-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-success-outline-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-success-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-success-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-outline-focus-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-focus-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-outline-active-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-active-background: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-outline-hover-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-hover-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-outline-idle-border: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-outline-idle-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-solid-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-success-solid-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-success-solid-focus-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-solid-focus-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-solid-focus-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-solid-active-border: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-solid-active-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-solid-active-background: rgb(var(--sl-color-palette-success-300));
  --sl-color-button-success-solid-hover-border: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-solid-hover-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-solid-hover-background: rgb(var(--sl-color-palette-success-200));
  --sl-color-button-success-solid-idle-border: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-success-solid-idle-foreground: rgb(var(--sl-color-palette-success-800));
  --sl-color-button-success-solid-idle-background: rgb(var(--sl-color-palette-success-150));
  --sl-color-button-primary-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-primary-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-focus-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-active-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-hover-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-link-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-ghost-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-primary-ghost-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-ghost-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-ghost-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-primary-ghost-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-ghost-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-ghost-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-ghost-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-primary-outline-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-primary-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-primary-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-outline-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-focus-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-outline-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-primary-outline-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-primary-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-outline-idle-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-primary-solid-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-primary-solid-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-solid-focus-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-focus-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-solid-active-border: rgb(var(--sl-color-palette-primary-700));
  --sl-color-button-primary-solid-active-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-active-background: rgb(var(--sl-color-palette-primary-700));
  --sl-color-button-primary-solid-hover-border: rgb(var(--sl-color-palette-primary-800));
  --sl-color-button-primary-solid-hover-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-hover-background: rgb(var(--sl-color-palette-primary-800));
  --sl-color-button-primary-solid-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-primary-solid-idle-foreground: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-primary-solid-idle-background: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-default-link-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-focus-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-focus-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-active-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-hover-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-link-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-link-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-disabled-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-default-ghost-disabled-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-ghost-active-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-ghost-active-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-ghost-hover-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-ghost-hover-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-ghost-idle-border: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-ghost-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-ghost-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-outline-disabled-border: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-default-outline-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-default-outline-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-outline-focus-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-active-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-active-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-outline-hover-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-hover-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-outline-idle-border: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-outline-idle-background: rgb(var(--sl-color-palette-transparent-base));
  --sl-color-button-default-solid-disabled-border: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-solid-disabled-foreground: rgb(var(--sl-color-palette-neutral-400));
  --sl-color-button-default-solid-disabled-background: rgb(var(--sl-color-palette-neutral-100));
  --sl-color-button-default-solid-focus-border: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-solid-focus-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-solid-focus-background: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-solid-active-border: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-solid-active-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-solid-active-background: rgb(var(--sl-color-palette-primary-150));
  --sl-color-button-default-solid-hover-border: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-solid-hover-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-solid-hover-background: rgb(var(--sl-color-palette-primary-100));
  --sl-color-button-default-solid-idle-border: rgb(var(--sl-color-palette-primary-50));
  --sl-color-button-default-solid-idle-foreground: rgb(var(--sl-color-palette-primary-base));
  --sl-color-button-default-solid-idle-background: rgb(var(--sl-color-palette-primary-50));
  --sl-body-foreground: var(--sl-color-surface-solid-primary-foreground);
  --sl-color-input-field-label-select-panel-bacground: var(--sl-body-background);
  --sl-color-input-field-label-select-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-field-label-icon-invalid: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-field-label-text-invalid: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-helper-icon-invalid: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-helper-text-invalid: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-text-field-valid-disabled-input-text: var(--sl-color-input-text-field-default-disabled-input-text);
  --sl-color-input-text-field-valid-disabled-icon: var(--sl-color-input-text-field-default-disabled-icon);
  --sl-color-input-text-field-valid-disabled-label: var(--sl-color-input-text-field-default-disabled-label);
  --sl-color-input-text-field-valid-disabled-border: var(--sl-color-input-text-field-default-disabled-border);
  --sl-color-input-text-field-valid-disabled-background: var(--sl-color-input-text-field-default-disabled-background);
  --sl-color-input-text-field-valid-focus-icon: var(--sl-color-input-text-field-valid-default-icon);
  --sl-color-input-text-field-valid-focus-border: var(--sl-color-input-text-field-valid-default-border);
  --sl-color-input-text-field-valid-focus-background: var(--sl-color-input-text-field-valid-active-background);
  --sl-color-input-text-field-valid-active-icon: var(--sl-color-input-text-field-valid-default-icon);
  --sl-color-input-text-field-valid-active-border: var(--sl-color-input-text-field-valid-default-border);
  --sl-color-input-text-field-valid-hover-icon: var(--sl-color-input-text-field-valid-default-icon);
  --sl-color-input-text-field-valid-hover-border: var(--sl-color-input-text-field-valid-default-border);
  --sl-color-input-text-field-invalid-disabled-placeholder: var(
    --sl-color-input-text-field-default-disabled-placeholder
  );
  --sl-color-input-text-field-invalid-disabled-input-text: var(--sl-color-input-text-field-default-disabled-input-text);
  --sl-color-input-text-field-invalid-disabled-icon: var(--sl-color-input-text-field-default-disabled-icon);
  --sl-color-input-text-field-invalid-disabled-label: var(--sl-color-input-text-field-default-disabled-label);
  --sl-color-input-text-field-invalid-disabled-border: var(--sl-color-input-text-field-default-disabled-border);
  --sl-color-input-text-field-invalid-disabled-background: var(--sl-color-input-text-field-default-disabled-background);
  --sl-color-input-text-field-invalid-focus-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-invalid-focus-icon: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-text-field-invalid-focus-border: var(--sl-color-input-text-field-invalid-default-border);
  --sl-color-input-text-field-invalid-focus-background: var(--sl-color-input-text-field-invalid-active-background);
  --sl-color-input-text-field-invalid-active-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-invalid-active-icon: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-text-field-invalid-active-border: var(--sl-color-input-text-field-invalid-default-border);
  --sl-color-input-text-field-invalid-hover-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-invalid-hover-icon: var(--sl-color-input-text-field-invalid-default-icon);
  --sl-color-input-text-field-invalid-hover-border: var(--sl-color-input-text-field-invalid-default-border);
  --sl-color-input-text-field-invalid-default-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-default-focus-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-default-focus-icon: var(--sl-color-input-text-field-default-default-icon);
  --sl-color-input-text-field-default-focus-background: var(--sl-color-input-text-field-default-active-background);
  --sl-color-input-text-field-default-active-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-default-active-icon: var(--sl-color-input-text-field-default-default-icon);
  --sl-color-input-text-field-default-active-border: var(--sl-color-input-text-field-default-default-border);
  --sl-color-input-text-field-default-hover-placeholder: var(--sl-color-input-text-field-default-default-placeholder);
  --sl-color-input-text-field-default-hover-icon: var(--sl-color-input-text-field-default-default-icon);
  --sl-color-input-text-field-default-hover-border: var(--sl-color-input-text-field-default-default-border);
  --sl-color-input-switch-default-checked-disabled-text: var(--sl-body-background);
  --sl-color-input-switch-default-checked-focus-icon: var(--sl-color-input-switch-default-checked-focus-background);
  --sl-color-input-switch-default-checked-focus-text: var(--sl-body-background);
  --sl-color-input-switch-default-checked-active-icon: var(--sl-color-input-switch-default-checked-active-background);
  --sl-color-input-switch-default-checked-active-text: var(--sl-body-background);
  --sl-color-input-switch-default-checked-hover-icon: var(--sl-color-input-switch-default-checked-hover-background);
  --sl-color-input-switch-default-checked-hover-text: var(--sl-body-background);
  --sl-color-input-switch-default-checked-default-icon: var(--sl-color-input-switch-default-checked-default-background);
  --sl-color-input-switch-default-checked-default-text: var(--sl-body-background);
  --sl-color-input-switch-default-unchecked-disabled-text: var(--sl-body-background);
  --sl-color-input-switch-default-unchecked-focus-text: var(--sl-body-background);
  --sl-color-input-switch-default-unchecked-focus-background: var(
    --sl-color-input-switch-default-unchecked-default-background
  );
  --sl-color-input-switch-default-unchecked-active-text: var(--sl-body-background);
  --sl-color-input-switch-default-unchecked-hover-text: var(--sl-body-background);
  --sl-color-input-switch-default-unchecked-default-text: var(--sl-body-background);
  --sl-color-input-option-valid-checked-disabled-border: var(--sl-color-input-option-valid-checked-disabled-background);
  --sl-color-input-option-valid-checked-focus-border: var(--sl-color-input-option-valid-checked-focus-background);
  --sl-color-input-option-valid-checked-active-border: var(--sl-color-input-option-valid-checked-active-background);
  --sl-color-input-option-valid-checked-hover-border: var(--sl-color-input-option-valid-checked-hover-background);
  --sl-color-input-option-valid-checked-default-border: var(--sl-color-input-option-valid-checked-default-background);
  --sl-color-input-option-invalid-checked-disabled-border: var(
    --sl-color-input-option-invalid-checked-disabled-background
  );
  --sl-color-input-option-invalid-checked-focus-border: var(--sl-color-input-option-invalid-checked-focus-background);
  --sl-color-input-option-invalid-checked-active-border: var(--sl-color-input-option-invalid-checked-active-background);
  --sl-color-input-option-invalid-checked-hover-border: var(--sl-color-input-option-invalid-checked-hover-background);
  --sl-color-input-option-invalid-checked-default-border: var(
    --sl-color-input-option-invalid-checked-default-background
  );
  --sl-color-input-option-default-checked-disabled-border: var(
    --sl-color-input-option-default-checked-disabled-background
  );
  --sl-color-input-option-default-checked-focus-border: var(--sl-color-input-option-default-checked-focus-background);
  --sl-color-input-option-default-checked-active-border: var(--sl-color-input-option-default-checked-active-background);
  --sl-color-input-option-default-checked-hover-border: var(--sl-color-input-option-default-checked-hover-background);
  --sl-color-input-option-default-checked-default-border: var(
    --sl-color-input-option-default-checked-default-background
  );
  --sl-color-button-danger-link-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-danger-ghost-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-danger-ghost-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-warning-ghost-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-warning-ghost-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-success-ghost-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-success-ghost-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-primary-ghost-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-primary-ghost-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-default-ghost-focus-border: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-default-ghost-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-button-default-outline-focus-background: rgba(var(--sl-body-background) / var(--sl-opacity-100));
  --sl-color-input-field-label-icon-default: var(--sl-body-foreground);
  --sl-color-input-field-label-text-default: var(--sl-body-foreground);
  --sl-color-input-helper-icon-default: var(--sl-body-foreground);
  --sl-color-input-helper-text-default: var(--sl-body-foreground);
  --sl-color-input-text-field-valid-focus-label: var(--sl-body-foreground);
  --sl-color-input-text-field-valid-active-label: var(--sl-body-foreground);
  --sl-color-input-text-field-valid-hover-label: var(--sl-body-foreground);
  --sl-color-input-text-field-valid-default-label: var(--sl-body-foreground);
  --sl-color-input-text-field-invalid-focus-label: var(--sl-body-foreground);
  --sl-color-input-text-field-invalid-active-label: var(--sl-body-foreground);
  --sl-color-input-text-field-invalid-hover-label: var(--sl-body-foreground);
  --sl-color-input-text-field-invalid-default-label: var(--sl-body-foreground);
  --sl-color-input-text-field-default-default-input-text: var(--sl-body-foreground);
  --sl-color-input-text-field-default-default-label: var(--sl-body-foreground);
  --sl-color-input-switch-default-unchecked-focus-icon: var(--sl-body-foreground);
  --sl-color-input-switch-default-unchecked-active-icon: var(--sl-body-foreground);
  --sl-color-input-switch-default-unchecked-hover-icon: var(--sl-body-foreground);
  --sl-color-input-switch-default-unchecked-default-icon: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-valid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-invalid-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-default-checked-default-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-focus-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-active-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-hover-label: var(--sl-body-foreground);
  --sl-color-input-option-default-unchecked-default-label: var(--sl-body-foreground);
  --sl-color-input-text-field-valid-focus-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-valid-active-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-valid-hover-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-valid-default-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-invalid-focus-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-invalid-active-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-invalid-hover-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-invalid-default-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-default-focus-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-default-focus-label: var(--sl-color-input-text-field-default-default-label);
  --sl-color-input-text-field-default-active-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-default-active-label: var(--sl-color-input-text-field-default-default-label);
  --sl-color-input-text-field-default-hover-input-text: var(--sl-color-input-text-field-default-default-input-text);
  --sl-color-input-text-field-default-hover-label: var(--sl-color-input-text-field-default-default-label);
}
